@font-face {
    font-family: 'antinoouRegular';
    src: url('antinoou-webfont.eot');
    src: url('antinoou-webfont.eot?#iefix') format('embedded-opentype'),
         url('antinoou-webfont.woff') format('woff'),
         url('antinoou-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antinoouItalic';
    src: url('antinoouitalic-webfont.eot');
    src: url('antinoouitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('antinoouitalic-webfont.woff') format('woff'),
         url('antinoouitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


div.htmlvis {font-family: Antinoou, sans-serif;
width: 500px; white-space: normal !important;
}
.translation:hover{color: red}
.word{ white-space: inherit; }
.word:after{content: " ";}
div.verse{display: block; padding-top: 6px; padding-bottom: 6px; text-indent: -15px; padding-left: 15px; }
div.verse:before{content: attr(verse)": "; font-weight:bold}
.norm a{text-decoration: none !important; color:inherit}
.norm a:hover{text-decoration: underline !important; color: blue}