.htmlvis {
font-family: Antinoou, sans-serif;
counter-reset: line 0;
}
div.copt_line[line="1"]{text-indent:25px;}
div.copt_line[line="2"]{text-indent:25px;}
div.copt_line[line="3"]{text-indent:25px;}
div.copt_line[line="4"]{text-indent:25px;}
div.copt_line[line="5"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="5"]{text-indent:10px;}
div.copt_line[line="6"]{text-indent:25px;}
div.copt_line[line="7"]{text-indent:25px;}
div.copt_line[line="8"]{text-indent:25px;}
div.copt_line[line="9"]{text-indent:25px;}
div.copt_line[line="10"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="11"]{text-indent:25px;}
div.copt_line[line="12"]{text-indent:25px;}
div.copt_line[line="13"]{text-indent:25px;}
div.copt_line[line="14"]{text-indent:25px;}
div.copt_line[line="15"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="16"]{text-indent:25px;}
div.copt_line[line="17"]{text-indent:25px;}
div.copt_line[line="18"]{text-indent:25px;}
div.copt_line[line="19"]{text-indent:25px;}
div.copt_line[line="20"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="21"]{text-indent:25px;}
div.copt_line[line="22"]{text-indent:25px;}
div.copt_line[line="23"]{text-indent:25px;}
div.copt_line[line="24"]{text-indent:25px;}
div.copt_line[line="25"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="26"]{text-indent:25px;}
div.copt_line[line="27"]{text-indent:25px;}
div.copt_line[line="28"]{text-indent:25px;}
div.copt_line[line="29"]{text-indent:25px;}
div.copt_line[line="30"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="31"]{text-indent:25px;}
div.copt_line[line="32"]{text-indent:25px;}
div.copt_line[line="33"]{text-indent:25px;}
div.copt_line[line="34"]{text-indent:25px;}
div.copt_line[line="35"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="36"]{text-indent:25px;}
div.copt_line[line="37"]{text-indent:25px;}
div.copt_line[line="38"]{text-indent:25px;}
div.copt_line[line="39"]{text-indent:25px;}
div.copt_line[line="40"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="41"]{text-indent:25px;}
div.copt_line[line="42"]{text-indent:25px;}
div.copt_line[line="43"]{text-indent:25px;}
div.copt_line[line="44"]{text-indent:25px;}
div.copt_line[line="45"]:before{content:attr(line)"\00a0\00a0"}
div.copt_line[line="46"]{text-indent:25px;}
div.copt_line[line="47"]{text-indent:25px;}
div.copt_line[line="48"]{text-indent:25px;}
div.copt_line[line="49"]{text-indent:25px;}
div.copt_line[line="50"]:before{content:attr(line)"\00a0\00a0"}

/*div.copt_line[line="5"]:first-child{padding-top:110px;}*/
div.copt_line[line="2"]:first-child{padding-top:22px;}
div.copt_line[line="3"]:first-child{padding-top:44px;}
div.copt_line[line="4"]:first-child{padding-bottom:5px;}
div.copt_line[line="6"]:first-child{padding-top:106px;}
div.copt_line[line="7"]:first-child{padding-top:130px;}
div.copt_line[line="8"]:first-child{padding-top:154px;}
div.copt_line[line="9"]:first-child{padding-top:176px;}
div.copt_line[line="10"]:first-child{padding-top:198px;}
div.copt_line[line="13"]:first-child{padding-top:264px;}
div.copt_line[line="14"]:first-child{padding-top:220px;}
div.copt_line[line="18"]:first-child{padding-top:374px;}
div.copt_line[line="21"]:first-child{padding-top:446px;}
div.copt_line[line="22"]:first-child{padding-top:468px;}
div.copt_line[line="27"]:first-child{padding-top:550px;}
div.copt_line[line="31"]:first-child{padding-top:660px;}
div.copt_line[line="33"]:first-child{padding-top:420px;}
div.copt_line[line="34"]:first-child{padding-top:486px;}
div.copt_line[line="36"]:first-child{padding-top:768px;}
div.copt_line[line="37"]:first-child{padding-top:792px;}
div.copt_line[line="38"]:first-child{padding-top:816px;}
div.copt_line[line="39"]:first-child{padding-top:550px;}
div.copt_line[line="40"]:first-child{padding-top:258px;}



/*div.copt_line:nth-of-type(5n):before{content:attr(line)"\00a0\00a0"}
div.copt_line:nth-of-type(1){counter-reset: line attr(line);}
div.copt_line:nth-of-type(5n):before{content:counter(line)" "}
div.copt_line:nth-of-type(5){text-indent:15px;}*/
div.copt_line{display: block; white-space:nowrap; counter-increment: line ; height: 22px}

hi_rend[rend~=superscript] {vertical-align: super; font-size: 80%}
hi_rend[rend~=subscript] {vertical-align: sub; font-size: 80%}
hi_rend[rend~=small] {font-size: 70%}
hi_rend[rend~=damaged]{ background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg=="); background-repeat: repeat;}
hi_rend[rend*=red] {color: red}
hi_rend[rend*=blue] {color: blue}
hi_rend[rend*=brown] {color: brown}
hi_rend[rend*=tall] {font-size: 120%}
hi_rend[rend*=large] {font-size: 120%}
hi_rend[rend*=extralarge] {font-size: 160%}
hi_rend[rend*='1_space_left'] {text-indent: -5px}
hi_rend[rend*='1_space_right'] {padding-right: 5px}
hi_rend[rend*='2_space_left'] {text-indent: -10px}
hi_rend[rend*='2_space_right'] {padding-right: 10px}
hi_rend[rend*=ekthetic] {text-indent: -7px !important; display: inline-block}

#div.copt_line{text-indent:25px;}
/*div.copt_line:not(:nth-of-type(5n)){text-indent:25px;}*/
#.pos{color:red; font-weight: normal}
#.translation:hover{color: blue;}
#.rend{font-size: x-large;}
#.person{color:red;}
.pb{border-style:solid;}
.cb{vertical-align: top; counter-reset: line 0; min-width:160px}

