chapter_n	div:chapter; style="chapter"	value
orig_group	span; style="word"
norm	span; style="norm"
lemma	NULL	"<a href='https://coptic-dictionary.org/results.cgi?quick_search=%%value%%' target='_new'>"
norm	NULL	"%%value%%"
pos	NULL	"</a>"
translation t:title; style="translation"	value
verse_n	div:verse; style="verse"	value
pb_xml_id	q:page; style="page"	value
