<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="06" corpus="bohairic.nt" document_cts_urn="urn:cts:copticLit:nt.acts.bohairic:06" entities="none" identities="none" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" parsing="automatic" project="Coptic SCRIPTORIUM" segmentation="automatic" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" tagging="automatic" title="05_Acts_06" translation="World English Bible (WEB)" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="Now in those days, when the number of the disciples was multiplying, a complaint arose from the Hellenists against the Hebrews, because their widows were neglected in the daily service.">
<orig_group orig_group="ⲛϧⲣⲏⲓ">
<norm_group norm_group="ⲛϧⲣⲏⲓ">
<orig orig="ⲛϧⲣⲏⲓ">
<norm xml:id="u1" func="advmod" head="#u15" new_sent="true" pos="ADV" lemma="ⲛϧⲣⲏⲓ" norm="ⲛϧⲣⲏⲓ">
ⲛϧⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u2" func="advmod" head="#u15" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲁⲓⲉϩⲟⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲛⲁⲓⲉϩⲟⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u4" func="det" head="#u5" pos="PDEM" lemma="ⲡⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
<orig orig="ⲉϩⲟⲟⲩ">
<norm xml:id="u5" func="obl" head="#u15" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩⲁϣⲁⲓ">
<norm_group norm_group="ⲉⲧⲁⲩⲁϣⲁⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u6" func="aux" head="#u9" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u7" func="aux" head="#u9" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u8" func="nsubj" head="#u9" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲁϣⲁⲓ">
<norm xml:id="u9" func="acl:relcl" head="#u5" pos="V" lemma="ⲁϣⲁⲓ" norm="ⲁϣⲁⲓ">
ⲁϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲛⲓⲙⲁⲑⲏⲧⲏⲥ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲙⲁⲑⲏⲧⲏⲥ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u10" func="case" head="#u12" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u11" func="det" head="#u12" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲑⲏⲧⲏⲥ">
<norm xml:id="u12" func="dislocated" head="#u9" pos="N" lemma="ⲙⲁⲑⲏⲧⲏⲥ" norm="ⲙⲁⲑⲏⲧⲏⲥ">
<lang lang="Greek">
ⲙⲁⲑⲏⲧⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲱⲡⲓ">
<norm_group norm_group="ⲁϥϣⲱⲡⲓ">
<orig orig="ⲁ">
<norm xml:id="u13" func="aux" head="#u15" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u14" func="nsubj" head="#u15" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u15" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲟⲩⲭⲣⲉⲙⲣⲉⲙ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲭⲣⲉⲙⲣⲉⲙ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u16" func="case" head="#u18" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u17" func="det" head="#u18" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲣⲉⲙⲣⲉⲙ">
<norm xml:id="u18" func="dislocated" head="#u15" pos="N" lemma="ⲭⲣⲉⲙⲣⲉⲙ" norm="ⲭⲣⲉⲙⲣⲉⲙ">
ⲭⲣⲉⲙⲣⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲓⲟⲩⲉⲓⲛⲓⲛ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲟⲩⲉⲓⲛⲓⲛ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u19" func="case" head="#u21" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u20" func="det" head="#u21" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲉⲓⲛⲓⲛ">
<norm xml:id="u21" func="nmod" head="#u18" pos="NPROP" lemma="ⲟⲩⲉⲓⲛⲓⲛ" norm="ⲟⲩⲉⲓⲛⲓⲛ">
<lang lang="Greek">
ⲟⲩⲉⲓⲛⲓⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲃⲉ">
<norm_group norm_group="ⲟⲩⲃⲉ">
<orig orig="ⲟⲩⲃⲉ">
<norm xml:id="u22" func="case" head="#u24" pos="PREP" lemma="ⲟⲩⲃⲉ" norm="ⲟⲩⲃⲉ">
ⲟⲩⲃⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓϩⲉⲃⲣⲉⲟⲥ">
<norm_group norm_group="ⲛⲓϩⲉⲃⲣⲉⲟⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u23" func="det" head="#u24" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϩⲉⲃⲣⲉⲟⲥ">
<norm xml:id="u24" func="obl" head="#u15" pos="N" lemma="ϩⲉⲃⲣⲉⲟⲥ" norm="ϩⲉⲃⲣⲉⲟⲥ">
ϩⲉⲃⲣⲉⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲛⲁⲩϯ">
<norm_group norm_group="ϫⲉⲛⲁⲩϯ">
<orig orig="ϫⲉ">
<norm xml:id="u25" func="mark" head="#u28" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u26" func="aux" head="#u28" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u27" func="nsubj" head="#u28" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u28" func="advcl" head="#u15" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲑⲏⲟⲩ">
<norm_group norm_group="ⲛϩⲑⲏⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u29" func="case" head="#u30" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲑⲏ">
<norm xml:id="u30" func="obj" head="#u28" pos="N" lemma="ϩⲏⲧ" norm="ϩⲑⲏ">
ϩⲑⲏ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u31" func="nmod:poss" head="#u30" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u32" func="advmod" head="#u28" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u33" func="cop" head="#u28" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲓϣⲉⲙϣⲓ">
<norm_group norm_group="ⲉⲡⲓϣⲉⲙϣⲓ">
<orig orig="ⲉ">
<norm xml:id="u34" func="case" head="#u36" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u35" func="det" head="#u36" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϣⲉⲙϣⲓ">
<norm xml:id="u36" func="obl" head="#u28" pos="N" lemma="ϣⲉⲙϣⲓ" norm="ϣⲉⲙϣⲓ">
ϣⲉⲙϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲏⲓⲛⲓ">
<norm_group norm_group="ⲙⲙⲏⲓⲛⲓ">
<orig orig="ⲙ">
<norm xml:id="u37" func="case" head="#u38" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲙⲏⲓⲛⲓ">
<norm xml:id="u38" func="nmod" head="#u36" pos="N" lemma="ⲙⲏⲓⲛⲓ" norm="ⲙⲏⲓⲛⲓ">
ⲙⲏⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲟⲩⲭⲏⲣⲁ">
<norm_group norm_group="ⲛⲧⲉⲛⲟⲩⲭⲏⲣⲁ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u39" func="case" head="#u41" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u40" func="nmod:poss" head="#u41" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲏⲣⲁ">
<norm xml:id="u41" func="nmod" head="#u38" pos="N" lemma="ⲭⲏⲣⲁ" norm="ⲭⲏⲣⲁ">
<lang lang="Greek">
ⲭⲏⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u42" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="The twelve summoned the multitude of the disciples and said, 'It is not appropriate for us to forsake the word of God and serve tables.">
<orig_group orig_group="ⲁⲡⲓⲓⲃ">
<norm_group norm_group="ⲁⲡⲓⲓⲃ">
<orig orig="ⲁ">
<norm xml:id="u43" func="aux" head="#u49" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u44" func="det" head="#u45" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲓⲃ">
<norm xml:id="u45" func="nsubj" head="#u49" pos="NUM" lemma="ⲓⲃ" norm="ⲓⲃ">
ⲓⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u46" func="advmod" head="#u49" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<norm_group norm_group="ⲛⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<orig orig="ⲛ">
<norm xml:id="u47" func="case" head="#u48" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<norm xml:id="u48" func="nmod" head="#u45" pos="N" lemma="ⲁⲡⲟⲥⲧⲟⲗⲟⲥ" norm="ⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<lang lang="Greek">
ⲁⲡⲟⲥⲧⲟⲗⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲟⲩϯ">
<norm_group norm_group="ⲙⲟⲩϯ">
<orig orig="ⲙⲟⲩϯ">
<norm xml:id="u49" func="root" pos="V" lemma="ⲙⲟⲩϯ" norm="ⲙⲟⲩϯ">
ⲙⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲓⲙⲏϣ">
<norm_group norm_group="ⲉⲡⲓⲙⲏϣ">
<orig orig="ⲉ">
<norm xml:id="u50" func="case" head="#u52" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u51" func="det" head="#u52" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u52" func="obl" head="#u49" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲓⲙⲁⲑⲏⲧⲏⲥ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲙⲁⲑⲏⲧⲏⲥ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u53" func="case" head="#u55" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u54" func="det" head="#u55" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲑⲏⲧⲏⲥ">
<norm xml:id="u55" func="nmod" head="#u52" pos="N" lemma="ⲙⲁⲑⲏⲧⲏⲥ" norm="ⲙⲁⲑⲏⲧⲏⲥ">
<lang lang="Greek">
ⲙⲁⲑⲏⲧⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲱⲟⲩ">
<norm_group norm_group="ⲡⲉϫⲱⲟⲩ">
<orig orig="ⲡⲉϫⲱ">
<norm xml:id="u56" func="parataxis" head="#u49" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲱ">
ⲡⲉϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u57" func="nsubj" head="#u56" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲱⲟⲩ">
<norm_group norm_group="ⲛⲱⲟⲩ">
<orig orig="ⲛⲱ">
<norm xml:id="u58" func="case" head="#u59" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲱ">
ⲛⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u59" func="obl" head="#u56" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓϩⲱⲃ">
<norm_group norm_group="ⲡⲓϩⲱⲃ">
<orig orig="ⲡⲓ">
<norm xml:id="u60" func="det" head="#u61" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϩⲱⲃ">
<norm xml:id="u61" func="nsubj" head="#u62" pos="N" lemma="ϩⲱⲃ" norm="ϩⲱⲃ">
ϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲁⲛⲁⲛ">
<norm_group norm_group="ⲣⲁⲛⲁⲛ">
<orig orig="ⲣⲁ">
<norm xml:id="u62" func="parataxis" head="#u56" pos="V" lemma="ⲓⲣⲓ" norm="ⲣⲁ">
ⲣⲁ
</norm>
</orig>
<multiword multiword="ⲛ ⲁⲛ">
<orig orig="ⲛ">
<norm xml:id="u63" func="obj" head="#u62" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲛ">
<norm xml:id="u64" func="advmod" head="#u62" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</multiword>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u65" func="advmod" head="#u62" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲉⲛⲭⲱ">
<norm_group norm_group="ⲉⲑⲣⲉⲛⲭⲱ">
<orig orig="ⲉ">
<norm xml:id="u66" func="mark" head="#u67" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣⲉ">
<norm xml:id="u67" func="xcomp" head="#u62" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣⲉ">
ⲑⲣⲉ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u68" func="obj" head="#u67" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲭⲱ">
<norm xml:id="u69" func="xcomp" head="#u67" pos="V" lemma="ⲭⲱ" norm="ⲭⲱ">
ⲭⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲥⲱⲛ">
<norm_group norm_group="ⲛⲥⲱⲛ">
<orig orig="ⲛⲥⲱ">
<norm xml:id="u70" func="case" head="#u71" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲱ">
ⲛⲥⲱ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u71" func="obl" head="#u69" pos="PPERO" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲙⲡⲓⲥⲁϫⲓ">
<orig orig="ⲙ">
<norm xml:id="u72" func="case" head="#u74" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u73" func="det" head="#u74" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u74" func="obj" head="#u69" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲧⲉⲫⲛⲟⲩϯ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u75" func="case" head="#u77" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u76" func="det" head="#u77" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u77" func="nmod" head="#u74" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛϣⲉⲙϣⲓ">
<norm_group norm_group="ⲛⲧⲉⲛϣⲉⲙϣⲓ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u78" func="aux" head="#u80" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u79" func="nsubj" head="#u80" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϣⲉⲙϣⲓ">
<norm xml:id="u80" func="nmod" head="#u74" pos="V" lemma="ϣⲉⲙϣⲓ" norm="ϣⲉⲙϣⲓ">
ϣⲉⲙϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲧⲣⲁⲡⲉⲍⲁ">
<norm_group norm_group="ⲛϩⲁⲛⲧⲣⲁⲡⲉⲍⲁ">
<orig orig="ⲛ">
<norm xml:id="u81" func="case" head="#u83" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u82" func="det" head="#u83" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲧⲣⲁⲡⲉⲍⲁ">
<norm xml:id="u83" func="obj" head="#u80" pos="N" lemma="ⲧⲣⲁⲡⲉⲍⲁ" norm="ⲧⲣⲁⲡⲉⲍⲁ">
<lang lang="Greek">
ⲧⲣⲁⲡⲉⲍⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u84" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Therefore select from among you, brothers, seven men of good report, full of the Holy Spirit and of wisdom, whom we may appoint over this business.">
<orig_group orig_group="ϫⲉⲙⲡϣⲓⲛⲓ">
<norm_group norm_group="ϫⲉⲙⲡϣⲓⲛⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u85" func="mark" head="#u87" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲙⲡ">
<norm xml:id="u86" func="aux" head="#u87" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙⲡ
</norm>
</orig>
<orig orig="ϣⲓⲛⲓ">
<norm xml:id="u87" func="root" pos="V" lemma="ϣⲓⲛⲓ" norm="ϣⲓⲛⲓ">
ϣⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲛ">
<norm_group norm_group="ⲟⲩⲛ">
<orig orig="ⲟⲩⲛ">
<norm xml:id="u88" func="advmod" head="#u87" pos="PTC" lemma="ⲟⲩⲛ" norm="ⲟⲩⲛ">
ⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲛⲥⲛⲏⲟⲩ">
<norm_group norm_group="ⲛⲉⲛⲥⲛⲏⲟⲩ">
<orig orig="ⲛⲉⲛ">
<norm xml:id="u89" func="nmod:poss" head="#u90" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ⲥⲛⲏⲟⲩ">
<norm xml:id="u90" func="vocative" head="#u87" pos="N" lemma="ⲥⲟⲛ" norm="ⲥⲛⲏⲟⲩ">
ⲥⲛⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲍ">
<norm_group norm_group="ⲛⲍ">
<orig orig="ⲛ">
<norm xml:id="u91" func="case" head="#u92" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲍ">
<norm xml:id="u92" func="nummod" head="#u94" pos="NUM" lemma="ⲍ" norm="ⲍ">
ⲍ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲣⲱⲙⲓ">
<orig orig="ⲛ">
<norm xml:id="u93" func="case" head="#u94" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u94" func="nmod" head="#u90" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u95" func="case" head="#u97" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲑⲏⲛⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲑⲏⲛⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u96" func="fixed" head="#u95" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲑⲏⲛⲟⲩ">
<norm xml:id="u97" func="obl" head="#u87" pos="PPERO" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲑⲏⲛⲟⲩ">
ⲑⲏⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉⲣⲙⲉⲑⲣⲉ">
<norm_group norm_group="ⲉⲩⲉⲣⲙⲉⲑⲣⲉ">
<orig orig="ⲉ">
<norm xml:id="u98" func="mark" head="#u100" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u99" func="nsubj" head="#u100" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲣⲙⲉⲑⲣⲉ">
<norm xml:id="u100" func="advcl" head="#u87" pos="V" lemma="ⲉⲣⲙⲉⲑⲣⲉ" norm="ⲉⲣⲙⲉⲑⲣⲉ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲙⲉⲑⲣⲉ">
ⲙⲉⲑⲣⲉ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲣⲱⲟⲩ">
<norm_group norm_group="ϧⲁⲣⲱⲟⲩ">
<orig orig="ϧⲁⲣⲱ">
<norm xml:id="u101" func="case" head="#u102" pos="PREP" lemma="ϧⲁ" norm="ϧⲁⲣⲱ">
ϧⲁⲣⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u102" func="obl" head="#u100" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲙⲉϩ">
<norm_group norm_group="ⲉⲩⲙⲉϩ">
<orig orig="ⲉ">
<norm xml:id="u103" func="mark" head="#u105" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u104" func="nsubj" head="#u105" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲙⲉϩ">
<norm xml:id="u105" func="advcl" head="#u100" pos="VSTAT" lemma="ⲙⲟϩ" norm="ⲙⲉϩ">
ⲙⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲡⲛⲉⲩⲙⲁⲛⲉⲙ">
<norm_group norm_group="ⲙⲡⲡⲛⲉⲩⲙⲁⲛⲉⲙ">
<orig orig="ⲙ">
<norm xml:id="u106" func="case" head="#u108" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲡⲛⲉⲩⲙⲁⲛⲉⲙ">
<norm xml:id="u107" func="det" head="#u108" pos="PPOS" lemma="ⲡⲡⲛⲉⲩⲙⲁⲛⲉⲙ" norm="ⲡⲡⲛⲉⲩⲙⲁⲛⲉⲙ">
ⲡⲡⲛⲉⲩⲙⲁⲛⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲟⲫⲓⲁ">
<norm_group norm_group="ⲥⲟⲫⲓⲁ">
<orig orig="ⲥⲟⲫⲓⲁ">
<norm xml:id="u108" func="obl" head="#u105" pos="N" lemma="ⲥⲟⲫⲓⲁ" norm="ⲥⲟⲫⲓⲁ">
<lang lang="Greek">
ⲥⲟⲫⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲭⲁⲩ">
<norm_group norm_group="ⲛⲧⲉⲛⲭⲁⲩ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u109" func="aux" head="#u111" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u110" func="nsubj" head="#u111" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲭⲁ">
<norm xml:id="u111" func="advcl" head="#u105" pos="V" lemma="ⲭⲱ" norm="ⲭⲁ">
ⲭⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u112" func="obj" head="#u111" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉϩⲣⲏⲓ">
<norm xml:id="u113" func="advmod" head="#u111" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉϩⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϫⲉⲛϯⲭⲣⲓⲁ">
<norm_group norm_group="ⲉϫⲉⲛϯⲭⲣⲓⲁ">
<orig orig="ⲉϫⲉⲛ">
<norm xml:id="u114" func="case" head="#u116" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉϫⲉⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u115" func="det" head="#u116" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲭⲣⲓⲁ">
<norm xml:id="u116" func="obl" head="#u111" pos="N" lemma="ⲭⲣⲓⲁ" norm="ⲭⲣⲓⲁ">
<lang lang="Greek">
ⲭⲣⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u117" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="But we will continue steadfastly in prayer and in the ministry of the word.'">
<orig_group orig_group="ⲁⲛⲟⲛ">
<norm_group norm_group="ⲁⲛⲟⲛ">
<orig orig="ⲁⲛⲟⲛ">
<norm xml:id="u118" func="dislocated" head="#u122" new_sent="true" pos="PPERI" lemma="ⲁⲛⲟⲛ" norm="ⲁⲛⲟⲛ">
ⲁⲛⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u119" func="advmod" head="#u122" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲥⲣⲱϥⲧ">
<norm_group norm_group="ⲛⲧⲉⲛⲥⲣⲱϥⲧ">
<orig orig="ⲛ">
<norm xml:id="u120" func="aux" head="#u122" pos="NEG" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲛ">
<norm xml:id="u121" func="nsubj" head="#u122" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲥⲣⲱϥⲧ">
<norm xml:id="u122" func="root" pos="VSTAT" lemma="ⲥⲣⲃⲉ" norm="ⲥⲣⲱϥⲧ">
ⲥⲣⲱϥⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϯⲡⲣⲟⲥⲉⲩⲭⲏ">
<norm_group norm_group="ⲉϯⲡⲣⲟⲥⲉⲩⲭⲏ">
<orig orig="ⲉ">
<norm xml:id="u123" func="case" head="#u125" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u124" func="det" head="#u125" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲡⲣⲟⲥⲉⲩⲭⲏ">
<norm xml:id="u125" func="obl" head="#u122" pos="N" lemma="ⲡⲣⲟⲥⲉⲩⲭⲏ" norm="ⲡⲣⲟⲥⲉⲩⲭⲏ">
<lang lang="Greek">
ⲡⲣⲟⲥⲉⲩⲭⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓϣⲉⲙϣⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲓϣⲉⲙϣⲓ">
<orig orig="ⲛⲉ">
<norm xml:id="u126" func="cop" head="#u122" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ⲙ">
<norm xml:id="u127" func="case" head="#u130" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u128" func="det" head="#u129" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u129" func="nsubj" head="#u130" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ϣⲉⲙϣⲓ">
<norm xml:id="u130" func="parataxis" head="#u122" pos="V" lemma="ϣⲉⲙϣⲓ" norm="ϣⲉⲙϣⲓ">
ϣⲉⲙϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲡⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲛⲧⲉⲡⲓⲥⲁϫⲓ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u131" func="case" head="#u133" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u132" func="det" head="#u133" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u133" func="obl" head="#u130" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u134" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="These words pleased the whole multitude. They chose Stephen, a man full of faith and of the Holy Spirit, Philip, Prochorus, Nicanor, Timon, Parmenas, and Nicolaus, a proselyte of Antioch;">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u135" func="cc" head="#u139" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲡⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲁⲡⲓⲥⲁϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u136" func="aux" head="#u139" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u137" func="det" head="#u138" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u138" func="nsubj" head="#u139" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲁⲛⲱⲟⲩ">
<norm_group norm_group="ⲣⲁⲛⲱⲟⲩ">
<orig orig="ⲣⲁ">
<norm xml:id="u139" func="root" pos="V" lemma="ⲓⲣⲓ" norm="ⲣⲁ">
ⲣⲁ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u140" func="case" head="#u141" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲱⲟⲩ">
<norm xml:id="u141" func="obl" head="#u139" pos="N" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲙⲑⲟ">
<norm_group norm_group="ⲙⲡⲉⲙⲑⲟ">
<orig orig="ⲙ">
<norm xml:id="u142" func="case" head="#u144" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉ">
<norm xml:id="u143" func="det" head="#u144" pos="ART" lemma="ⲡ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
<orig orig="ⲙⲑⲟ">
<norm xml:id="u144" func="obl" head="#u139" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲙⲏϣ">
<norm_group norm_group="ⲙⲡⲓⲙⲏϣ">
<orig orig="ⲙ">
<norm xml:id="u145" func="case" head="#u147" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u146" func="det" head="#u147" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u147" func="nmod" head="#u144" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ">
<norm_group norm_group="ⲧⲏⲣϥ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u148" func="nmod:unmarked" head="#u147" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u149" func="nmod:poss" head="#u148" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u150" func="cc" head="#u153" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲥⲱⲧⲡ">
<norm_group norm_group="ⲁⲩⲥⲱⲧⲡ">
<orig orig="ⲁ">
<norm xml:id="u151" func="aux" head="#u153" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u152" func="nsubj" head="#u153" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲡ">
<norm xml:id="u153" func="conj" head="#u139" pos="V" lemma="ⲥⲱⲧⲡ" norm="ⲥⲱⲧⲡ">
ⲥⲱⲧⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲥⲧⲉⲫⲁⲛⲟⲥ">
<norm_group norm_group="ⲛⲥⲧⲉⲫⲁⲛⲟⲥ">
<orig orig="ⲛ">
<norm xml:id="u154" func="case" head="#u155" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<norm xml:id="u155" func="obl" head="#u153" pos="N" lemma="ⲥⲧⲉⲫⲁⲛⲟⲥ" norm="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<lang lang="Greek">
ⲥⲧⲉⲫⲁⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u156" func="case" head="#u158" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϧⲏⲧⲟⲩ">
<norm_group norm_group="ⲛϧⲏⲧⲟⲩ">
<orig orig="ⲛϧⲏⲧ">
<norm xml:id="u157" func="fixed" head="#u156" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛϧⲏⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u158" func="obl" head="#u153" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲣⲱⲙⲓ">
<norm_group norm_group="ⲟⲩⲣⲱⲙⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u159" func="det" head="#u160" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u160" func="parataxis" head="#u139" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u161" func="cop" head="#u160" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲙⲉϩ">
<norm_group norm_group="ⲉϥⲙⲉϩ">
<orig orig="ⲉ">
<norm xml:id="u162" func="mark" head="#u164" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u163" func="nsubj" head="#u164" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲉϩ">
<norm xml:id="u164" func="acl:relcl" head="#u160" pos="VSTAT" lemma="ⲙⲟϩ" norm="ⲙⲉϩ">
ⲙⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u165" func="advmod" head="#u164" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲫⲛⲁϩϯ">
<norm_group norm_group="ϧⲉⲛⲫⲛⲁϩϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u166" func="fixed" head="#u165" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u167" func="det" head="#u168" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲁϩϯ">
<norm xml:id="u168" func="obl" head="#u164" pos="N" lemma="ⲛⲁϩϯ" norm="ⲛⲁϩϯ">
ⲛⲁϩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓⲡⲛⲉⲩⲙⲁⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲛⲉⲙⲡⲓⲡⲛⲉⲩⲙⲁⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u169" func="cc" head="#u171" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u170" func="det" head="#u171" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲛⲉⲩⲙⲁⲉⲑⲟⲩⲁⲃ">
<norm xml:id="u171" func="conj" head="#u168" pos="N" lemma="ⲡⲛⲉⲩⲙⲁⲉⲑⲟⲩⲁⲃ" norm="ⲡⲛⲉⲩⲙⲁⲉⲑⲟⲩⲁⲃ">
ⲡⲛⲉⲩⲙⲁⲉⲑⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲫⲓⲗⲓⲡⲡⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲫⲓⲗⲓⲡⲡⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u172" func="cc" head="#u173" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲫⲓⲗⲓⲡⲡⲟⲥ">
<norm xml:id="u173" func="conj" head="#u168" pos="NPROP" lemma="ⲫⲓⲗⲓⲡⲡⲟⲥ" norm="ⲫⲓⲗⲓⲡⲡⲟⲥ">
<lang lang="Greek">
ⲫⲓⲗⲓⲡⲡⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲣⲟⲭⲱⲣⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲡⲣⲟⲭⲱⲣⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u174" func="cc" head="#u175" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲣⲟⲭⲱⲣⲟⲥ">
<norm xml:id="u175" func="conj" head="#u168" pos="NPROP" lemma="ⲡⲣⲟⲭⲱⲣⲟⲥ" norm="ⲡⲣⲟⲭⲱⲣⲟⲥ">
ⲡⲣⲟⲭⲱⲣⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲕⲁⲛⲱⲣ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲕⲁⲛⲱⲣ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u176" func="cc" head="#u178" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u177" func="det" head="#u178" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲕⲁⲛⲱⲣ">
<norm xml:id="u178" func="conj" head="#u168" pos="N" lemma="ⲕⲁⲛⲱⲣ" norm="ⲕⲁⲛⲱⲣ">
ⲕⲁⲛⲱⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲧⲓⲙⲱⲛ">
<norm_group norm_group="ⲛⲉⲙⲧⲓⲙⲱⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u179" func="cc" head="#u180" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲧⲓⲙⲱⲛ">
<norm xml:id="u180" func="conj" head="#u168" pos="NPROP" lemma="ⲧⲓⲙⲱⲛ" norm="ⲧⲓⲙⲱⲛ">
ⲧⲓⲙⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲁⲣⲙⲉⲛⲁ">
<norm_group norm_group="ⲛⲉⲙⲡⲁⲣⲙⲉⲛⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u181" func="cc" head="#u182" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲁⲣⲙⲉⲛⲁ">
<norm xml:id="u182" func="conj" head="#u168" pos="NPROP" lemma="ⲡⲁⲣⲙⲉⲛⲁ" norm="ⲡⲁⲣⲙⲉⲛⲁ">
ⲡⲁⲣⲙⲉⲛⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲕⲟⲗⲁⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲕⲟⲗⲁⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u183" func="cc" head="#u185" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u184" func="det" head="#u185" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲕⲟⲗⲁⲟⲥ">
<norm xml:id="u185" func="conj" head="#u168" pos="N" lemma="ⲕⲟⲗⲁⲟⲥ" norm="ⲕⲟⲗⲁⲟⲥ">
ⲕⲟⲗⲁⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓϣⲉⲙⲙⲟ">
<norm_group norm_group="ⲡⲓϣⲉⲙⲙⲟ">
<orig orig="ⲡⲓ">
<norm xml:id="u186" func="det" head="#u187" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϣⲉⲙⲙⲟ">
<norm xml:id="u187" func="appos" head="#u185" pos="N" lemma="ϣⲉⲙⲙⲟ" norm="ϣⲉⲙⲙⲟ">
ϣⲉⲙⲙⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲣⲉⲙⲧⲁⲛⲧⲓⲟⲭⲓⲁ">
<norm_group norm_group="ⲛⲣⲉⲙⲧⲁⲛⲧⲓⲟⲭⲓⲁ">
<orig orig="ⲛⲣⲉⲙⲧⲁⲛⲧⲓⲟⲭⲓⲁ">
<norm xml:id="u188" func="appos" head="#u185" pos="NPROP" lemma="ⲛⲣⲉⲙⲧⲁⲛⲧⲓⲟⲭⲓⲁ" norm="ⲛⲣⲉⲙⲧⲁⲛⲧⲓⲟⲭⲓⲁ">
ⲛⲣⲉⲙⲧⲁⲛⲧⲓⲟⲭⲓⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u189" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="whom they set before the apostles. When they had prayed, they laid their hands on them.">
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u190" func="dislocated" head="#u209" new_sent="true" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩⲧⲁϩⲱⲟⲩ">
<norm_group norm_group="ⲉⲧⲁⲩⲧⲁϩⲱⲟⲩ">
<orig orig="ⲉⲧ">
<norm xml:id="u191" func="mark" head="#u194" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u192" func="aux" head="#u194" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u193" func="nsubj" head="#u194" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲁϩⲱ">
<norm xml:id="u194" func="acl:relcl" head="#u190" pos="V" lemma="ⲧⲁϩⲱ" norm="ⲧⲁϩⲱ">
ⲧⲁϩⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u195" func="obj" head="#u194" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲁⲧⲟⲩⲙⲡⲉⲙⲑⲟ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩⲙⲡⲉⲙⲑⲟ">
<orig orig="ⲉⲣⲁⲧ">
<norm xml:id="u196" func="case" head="#u197" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u197" func="det" head="#u198" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲡⲉⲙⲑⲟ">
<norm xml:id="u198" func="obl" head="#u194" pos="N" lemma="ⲙⲡⲉⲙⲑⲟ" norm="ⲙⲡⲉⲙⲑⲟ">
ⲙⲡⲉⲙⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<norm_group norm_group="ⲛⲛⲓⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<orig orig="ⲛ">
<norm xml:id="u199" func="case" head="#u201" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u200" func="det" head="#u201" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<norm xml:id="u201" func="nmod" head="#u198" pos="N" lemma="ⲁⲡⲟⲥⲧⲟⲗⲟⲥ" norm="ⲁⲡⲟⲥⲧⲟⲗⲟⲥ">
<lang lang="Greek">
ⲁⲡⲟⲥⲧⲟⲗⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u202" func="cc" head="#u209" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩⲧⲱⲃϩ">
<norm_group norm_group="ⲉⲧⲁⲩⲧⲱⲃϩ">
<orig orig="ⲉⲧ">
<norm xml:id="u203" func="aux" head="#u206" pos="APREC" lemma="ⲉⲧ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u204" func="aux" head="#u206" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u205" func="nsubj" head="#u206" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲱⲃϩ">
<norm xml:id="u206" func="advcl" head="#u209" pos="V" lemma="ⲧⲱⲃϩ" norm="ⲧⲱⲃϩ">
ⲧⲱⲃϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲭⲁ">
<norm_group norm_group="ⲁⲩⲭⲁ">
<orig orig="ⲁ">
<norm xml:id="u207" func="aux" head="#u209" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u208" func="nsubj" head="#u209" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲭⲁ">
<norm xml:id="u209" func="root" pos="V" lemma="ⲭⲱ" norm="ⲭⲁ">
ⲭⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲓϫ">
<norm_group norm_group="ϫⲓϫ">
<orig orig="ϫⲓϫ">
<norm xml:id="u210" func="obj" head="#u209" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϫⲱⲟⲩ">
<norm_group norm_group="ⲉϫⲱⲟⲩ">
<orig orig="ⲉϫⲱ">
<norm xml:id="u211" func="case" head="#u212" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u212" func="obl" head="#u209" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u213" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="The word of God increased and the number of the disciples multiplied in Jerusalem exceedingly. A great company of the priests were obedient to the faith.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u214" func="cc" head="#u221" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲡⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲁⲡⲓⲥⲁϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u215" func="aux" head="#u221" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u216" func="det" head="#u217" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u217" func="nsubj" head="#u221" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲧⲉⲫⲛⲟⲩϯ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u218" func="case" head="#u220" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u219" func="det" head="#u220" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u220" func="nmod" head="#u217" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲁⲓ">
<norm_group norm_group="ⲁⲓⲁⲓ">
<orig orig="ⲁⲓⲁⲓ">
<norm xml:id="u221" func="root" pos="V" lemma="ⲁⲓⲁⲓ" norm="ⲁⲓⲁⲓ">
ⲁⲓⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥⲁϣⲁⲓ">
<norm_group norm_group="ⲁⲥⲁϣⲁⲓ">
<orig orig="ⲁ">
<norm xml:id="u222" func="aux" head="#u224" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u223" func="nsubj" head="#u224" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲁϣⲁⲓ">
<norm xml:id="u224" func="parataxis" head="#u221" pos="V" lemma="ⲁϣⲁⲓ" norm="ⲁϣⲁⲓ">
ⲁϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲧⲏⲡⲓ">
<norm_group norm_group="ⲛϫⲉⲧⲏⲡⲓ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u225" func="case" head="#u226" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ⲧⲏⲡⲓ">
<norm xml:id="u226" func="dislocated" head="#u224" pos="V" lemma="ⲧⲏⲡⲓ" norm="ⲧⲏⲡⲓ">
ⲧⲏⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲙⲁⲑⲏⲧⲏⲥ">
<norm_group norm_group="ⲛⲛⲓⲙⲁⲑⲏⲧⲏⲥ">
<orig orig="ⲛ">
<norm xml:id="u227" func="case" head="#u229" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u228" func="det" head="#u229" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲑⲏⲧⲏⲥ">
<norm xml:id="u229" func="nmod" head="#u226" pos="N" lemma="ⲙⲁⲑⲏⲧⲏⲥ" norm="ⲙⲁⲑⲏⲧⲏⲥ">
<lang lang="Greek">
ⲙⲁⲑⲏⲧⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲓⲉⲣⲟⲥⲁⲗⲏⲙ">
<norm_group norm_group="ϧⲉⲛⲓⲉⲣⲟⲥⲁⲗⲏⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u230" func="case" head="#u231" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲓⲉⲣⲟⲥⲁⲗⲏⲙ">
<norm xml:id="u231" func="obl" head="#u224" pos="NPROP" lemma="ⲓⲉⲣⲟⲥⲁⲗⲏⲙ" norm="ⲓⲉⲣⲟⲥⲁⲗⲏⲙ">
<lang lang="Hebrew">
ⲓⲉⲣⲟⲥⲁⲗⲏⲙ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲙⲁϣⲱ">
<norm_group norm_group="ⲉⲙⲁϣⲱ">
<orig orig="ⲉⲙⲁϣⲱ">
<norm xml:id="u232" func="advmod" head="#u231" pos="ADV" lemma="ⲉⲙⲁϣⲱ" norm="ⲉⲙⲁϣⲱ">
ⲉⲙⲁϣⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲛⲓϣϯ">
<norm_group norm_group="ⲟⲩⲛⲓϣϯ">
<orig orig="ⲟⲩ">
<norm xml:id="u233" func="det" head="#u234" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u234" func="dislocated" head="#u243" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u235" func="advmod" head="#u243" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲏϣ">
<norm_group norm_group="ⲙⲙⲏϣ">
<orig orig="ⲙ">
<norm xml:id="u236" func="case" head="#u237" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u237" func="nmod" head="#u234" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲓⲟⲩⲏⲃ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲟⲩⲏⲃ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u238" func="case" head="#u240" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u239" func="det" head="#u240" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲃ">
<norm xml:id="u240" func="nmod" head="#u237" pos="N" lemma="ⲟⲩⲏⲃ" norm="ⲟⲩⲏⲃ">
ⲟⲩⲏⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲁⲩⲥⲱⲧⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u241" func="aux" head="#u243" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u242" func="nsubj" head="#u243" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u243" func="parataxis" head="#u224" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲥⲁⲫⲛⲁϩϯ">
<norm_group norm_group="ⲛⲥⲁⲫⲛⲁϩϯ">
<orig orig="ⲛⲥⲁ">
<norm xml:id="u244" func="case" head="#u246" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛⲥⲁ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u245" func="det" head="#u246" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲁϩϯ">
<norm xml:id="u246" func="obl" head="#u243" pos="N" lemma="ⲛⲁϩϯ" norm="ⲛⲁϩϯ">
ⲛⲁϩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u247" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Stephen, full of faith and power, performed great wonders and signs among the people.">
<orig_group orig_group="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<norm_group norm_group="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<orig orig="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<norm xml:id="u248" func="dislocated" head="#u252" new_sent="true" pos="N" lemma="ⲥⲧⲉⲫⲁⲛⲟⲥ" norm="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<lang lang="Greek">
ⲥⲧⲉⲫⲁⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u249" func="advmod" head="#u259" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲙⲉϩ">
<norm_group norm_group="ⲉϥⲙⲉϩ">
<orig orig="ⲉ">
<norm xml:id="u250" func="mark" head="#u252" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u251" func="nsubj" head="#u252" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲉϩ">
<norm xml:id="u252" func="advcl" head="#u259" pos="VSTAT" lemma="ⲙⲟϩ" norm="ⲙⲉϩ">
ⲙⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲙⲟⲧ">
<norm_group norm_group="ⲛϩⲙⲟⲧ">
<orig orig="ⲛ">
<norm xml:id="u253" func="case" head="#u254" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲙⲟⲧ">
<norm xml:id="u254" func="obl" head="#u252" pos="N" lemma="ϩⲙⲟⲧ" norm="ϩⲙⲟⲧ">
ϩⲙⲟⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϫⲟⲙ">
<norm_group norm_group="ⲛⲉⲙϫⲟⲙ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u255" func="cc" head="#u256" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u256" func="conj" head="#u254" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥⲓⲣⲓ">
<norm_group norm_group="ⲛⲁϥⲓⲣⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u257" func="aux" head="#u259" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u258" func="nsubj" head="#u259" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲓⲣⲓ">
<norm xml:id="u259" func="root" pos="V" lemma="ⲓⲣⲓ" norm="ⲓⲣⲓ">
ⲓⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲛⲓϣϯ">
<norm_group norm_group="ⲛϩⲁⲛⲛⲓϣϯ">
<orig orig="ⲛ">
<norm xml:id="u260" func="case" head="#u262" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u261" func="det" head="#u262" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u262" func="obj" head="#u259" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲏⲓⲛⲓ">
<norm_group norm_group="ⲙⲙⲏⲓⲛⲓ">
<orig orig="ⲙ">
<norm xml:id="u263" func="case" head="#u264" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲙⲏⲓⲛⲓ">
<norm xml:id="u264" func="nmod" head="#u262" pos="N" lemma="ⲙⲏⲓⲛⲓ" norm="ⲙⲏⲓⲛⲓ">
ⲙⲏⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛϣⲫⲏ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛϣⲫⲏ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u265" func="cc" head="#u267" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u266" func="det" head="#u267" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲫⲏ">
<norm xml:id="u267" func="conj" head="#u262" pos="N" lemma="ϣⲫⲏ" norm="ϣⲫⲏ">
ϣⲫⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲓ">
<norm_group norm_group="ⲣⲓ">
<orig orig="ⲣⲓ">
<norm xml:id="u268" func="appos" head="#u267" pos="N" lemma="ⲣⲓ" norm="ⲣⲓ">
ⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛϫⲟⲙ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛϫⲟⲙ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u269" func="cc" head="#u271" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u270" func="det" head="#u271" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u271" func="conj" head="#u262" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲣⲏⲓ">
<norm_group norm_group="ⲛϩⲣⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u272" func="case" head="#u273" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲣⲏⲓ">
<norm xml:id="u273" func="nmod" head="#u271" pos="N" lemma="ϩⲣⲏⲓ" norm="ϩⲣⲏⲓ">
ϩⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲗⲁⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲗⲁⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u274" func="case" head="#u276" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u275" func="det" head="#u276" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u276" func="nmod" head="#u271" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u277" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="But some of those who were of the synagogue called 'The Libertines,' and of the Cyrenians, of the Alexandrians, and of those of Cilicia and Asia arose, disputing with Stephen.">
<orig_group orig_group="ⲁⲩⲧⲱⲟⲩⲛⲟⲩ">
<norm_group norm_group="ⲁⲩⲧⲱⲟⲩⲛⲟⲩ">
<orig orig="ⲁ">
<norm xml:id="u278" func="aux" head="#u280" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u279" func="nsubj" head="#u280" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩⲛ">
<norm xml:id="u280" func="root" pos="V" lemma="ⲧⲱⲟⲩⲛ" norm="ⲧⲱⲟⲩⲛ">
ⲧⲱⲟⲩⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u281" func="obj" head="#u280" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u282" func="advmod" head="#u280" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉϩⲁⲛⲟⲩⲟⲛ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲟⲩⲟⲛ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u283" func="case" head="#u285" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u284" func="det" head="#u285" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u285" func="dislocated" head="#u280" pos="N" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u286" func="case" head="#u289" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϯⲥⲩⲛⲁⲅⲱⲅⲏ">
<norm_group norm_group="ϧⲉⲛϯⲥⲩⲛⲁⲅⲱⲅⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u287" func="fixed" head="#u286" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u288" func="det" head="#u289" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲥⲩⲛⲁⲅⲱⲅⲏ">
<norm xml:id="u289" func="nmod" head="#u285" pos="N" lemma="ⲥⲩⲛⲁⲅⲱⲅⲏ" norm="ⲥⲩⲛⲁⲅⲱⲅⲏ">
<lang lang="Greek">
ⲥⲩⲛⲁⲅⲱⲅⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉϣⲁⲩⲙⲟⲩϯ">
<norm_group norm_group="ⲉⲧⲉϣⲁⲩⲙⲟⲩϯ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u290" func="mark" head="#u293" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ϣⲁ">
<norm xml:id="u291" func="aux" head="#u293" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u292" func="nsubj" head="#u293" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲙⲟⲩϯ">
<norm xml:id="u293" func="acl:relcl" head="#u289" pos="V" lemma="ⲙⲟⲩϯ" norm="ⲙⲟⲩϯ">
ⲙⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲱⲟⲩ">
<norm_group norm_group="ⲉⲣⲱⲟⲩ">
<orig orig="ⲉⲣⲱ">
<norm xml:id="u294" func="case" head="#u295" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲱ">
ⲉⲣⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u295" func="obl" head="#u293" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲛⲓⲗⲓⲃⲉⲣⲧⲓⲛⲟⲥ">
<norm_group norm_group="ϫⲉⲛⲓⲗⲓⲃⲉⲣⲧⲓⲛⲟⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u296" func="mark" head="#u298" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u297" func="det" head="#u298" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲗⲓⲃⲉⲣⲧⲓⲛⲟⲥ">
<norm xml:id="u298" func="ccomp" head="#u293" pos="N" lemma="ⲗⲓⲃⲉⲣⲧⲓⲛⲟⲥ" norm="ⲗⲓⲃⲉⲣⲧⲓⲛⲟⲥ">
<lang lang="Greek">
ⲗⲓⲃⲉⲣⲧⲓⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲕⲩⲣⲓⲛⲛⲉⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲕⲩⲣⲓⲛⲛⲉⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u299" func="cc" head="#u301" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u300" func="det" head="#u301" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲕⲩⲣⲓⲛⲛⲉⲟⲥ">
<norm xml:id="u301" func="conj" head="#u298" pos="N" lemma="ⲕⲩⲣⲓⲛⲛⲉⲟⲥ" norm="ⲕⲩⲣⲓⲛⲛⲉⲟⲥ">
ⲕⲩⲣⲓⲛⲛⲉⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲣⲉⲙⲣⲁⲕⲟϯ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲣⲉⲙⲣⲁⲕⲟϯ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u302" func="cc" head="#u304" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u303" func="det" head="#u304" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲉⲙⲣⲁⲕⲟϯ">
<norm xml:id="u304" func="conj" head="#u298" pos="N" lemma="ⲣⲉⲙⲣⲁⲕⲟϯ" norm="ⲣⲉⲙⲣⲁⲕⲟϯ">
ⲣⲉⲙⲣⲁⲕⲟϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲣⲉⲙⲧⲕⲩⲗⲓⲕⲓⲁ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲣⲉⲙⲧⲕⲩⲗⲓⲕⲓⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u305" func="cc" head="#u307" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u306" func="det" head="#u307" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲉⲙⲧⲕⲩⲗⲓⲕⲓⲁ">
<norm xml:id="u307" func="conj" head="#u298" pos="N" lemma="ⲣⲉⲙⲧⲕⲩⲗⲓⲕⲓⲁ" norm="ⲣⲉⲙⲧⲕⲩⲗⲓⲕⲓⲁ">
ⲣⲉⲙⲧⲕⲩⲗⲓⲕⲓⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϯⲁⲥⲓⲁ">
<norm_group norm_group="ⲛⲉⲙϯⲁⲥⲓⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u308" func="cc" head="#u310" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u309" func="det" head="#u310" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲁⲥⲓⲁ">
<norm xml:id="u310" func="conj" head="#u298" pos="NPROP" lemma="ⲁⲥⲓⲁ" norm="ⲁⲥⲓⲁ">
<lang lang="Greek">
ⲁⲥⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲕⲱϯ">
<norm_group norm_group="ⲉⲩⲕⲱϯ">
<orig orig="ⲉ">
<norm xml:id="u311" func="mark" head="#u313" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u312" func="nsubj" head="#u313" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u313" func="acl:relcl" head="#u310" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲥⲧⲉⲫⲁⲛⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲥⲧⲉⲫⲁⲛⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u314" func="cc" head="#u315" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<norm xml:id="u315" func="conj" head="#u313" pos="NPROP" lemma="ⲥⲧⲉⲫⲁⲛⲟⲥ" norm="ⲥⲧⲉⲫⲁⲛⲟⲥ">
<lang lang="Greek">
ⲥⲧⲉⲫⲁⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="They weren't able to withstand the wisdom and the Spirit by which he spoke.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u316" func="cc" head="#u320" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲟⲩϣϫⲉⲙϫⲟⲙ">
<norm_group norm_group="ⲙⲡⲟⲩϣϫⲉⲙϫⲟⲙ">
<orig orig="ⲙⲡ">
<norm xml:id="u317" func="aux" head="#u320" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙⲡ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u318" func="nsubj" head="#u320" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣ">
<norm xml:id="u319" func="aux" head="#u320" pos="V" lemma="ϣ" norm="ϣ">
ϣ
</norm>
</orig>
<orig orig="ϫⲉⲙϫⲟⲙ">
<norm xml:id="u320" func="root" pos="V" lemma="ϫⲉⲙϫⲟⲙ" norm="ϫⲉⲙϫⲟⲙ">
<morph morph="ϫⲉⲙ">
ϫⲉⲙ
</morph>
<morph morph="ϫⲟⲙ">
ϫⲟⲙ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϯ">
<norm_group norm_group="ⲛϯ">
<orig orig="ⲛ">
<norm xml:id="u321" func="mark" head="#u322" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u322" func="xcomp" head="#u320" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉϧⲟⲩⲛ">
<norm xml:id="u323" func="advmod" head="#u320" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲣⲉⲛϯⲥⲟⲫⲓⲁ">
<norm_group norm_group="ⲉϩⲣⲉⲛϯⲥⲟⲫⲓⲁ">
<orig orig="ⲉϩⲣⲉⲛ">
<norm xml:id="u324" func="case" head="#u326" pos="PREP" lemma="ⲉϩⲣⲉⲛ" norm="ⲉϩⲣⲉⲛ">
ⲉϩⲣⲉⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u325" func="det" head="#u326" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲥⲟⲫⲓⲁ">
<norm xml:id="u326" func="obl" head="#u322" pos="N" lemma="ⲥⲟⲫⲓⲁ" norm="ⲥⲟⲫⲓⲁ">
<lang lang="Greek">
ⲥⲟⲫⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓⲡⲛⲉⲩⲙⲁⲉⲧⲉⲛⲁϥⲥⲁϫⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲓⲡⲛⲉⲩⲙⲁⲉⲧⲉⲛⲁϥⲥⲁϫⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u327" func="cc" head="#u329" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u328" func="det" head="#u329" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲛⲉⲩⲙⲁⲉⲧⲉⲛⲁϥ">
<norm xml:id="u329" func="conj" head="#u326" pos="N" lemma="ⲡⲛⲉⲩⲙⲁⲉⲧⲉⲛⲁϥ" norm="ⲡⲛⲉⲩⲙⲁⲉⲧⲉⲛⲁϥ">
ⲡⲛⲉⲩⲙⲁⲉⲧⲉⲛⲁϥ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u330" func="conj" head="#u320" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϧⲏⲧϥ">
<norm_group norm_group="ⲛϧⲏⲧϥ">
<orig orig="ⲛϧⲏⲧ">
<norm xml:id="u331" func="case" head="#u332" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛϧⲏⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u332" func="obl" head="#u330" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u333" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="Then they secretly induced men to say, 'We have heard him speak blasphemous words against Moses and God.'">
<orig_group orig_group="ⲧⲟⲧⲉ">
<norm_group norm_group="ⲧⲟⲧⲉ">
<orig orig="ⲧⲟⲧⲉ">
<norm xml:id="u334" func="advmod" head="#u337" new_sent="true" pos="ADV" lemma="ⲧⲟⲧⲉ" norm="ⲧⲟⲧⲉ">
<lang lang="Greek">
ⲧⲟⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲓ">
<norm_group norm_group="ⲁⲩⲓ">
<orig orig="ⲁ">
<norm xml:id="u335" func="aux" head="#u337" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u336" func="nsubj" head="#u337" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u337" func="root" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉϩⲁⲛⲣⲱⲙⲓ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲣⲱⲙⲓ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u338" func="case" head="#u340" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u339" func="det" head="#u340" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u340" func="dislocated" head="#u337" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩϫⲱ">
<norm_group norm_group="ⲉⲩϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u341" func="mark" head="#u343" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u342" func="nsubj" head="#u343" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u343" func="advcl" head="#u337" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙⲙⲟ">
<norm xml:id="u344" func="case" head="#u345" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u345" func="expl" head="#u343" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁⲛⲟⲛ">
<norm_group norm_group="ϫⲉⲁⲛⲟⲛ">
<orig orig="ϫⲉ">
<norm xml:id="u346" func="mark" head="#u350" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁⲛⲟⲛ">
<norm xml:id="u347" func="dislocated" head="#u350" pos="PPERI" lemma="ⲁⲛⲟⲛ" norm="ⲁⲛⲟⲛ">
ⲁⲛⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲁⲛⲥⲱⲧⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u348" func="aux" head="#u350" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u349" func="nsubj" head="#u350" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u350" func="ccomp" head="#u343" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉⲣⲟ">
<norm xml:id="u351" func="case" head="#u352" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u352" func="obl" head="#u350" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϫⲱ">
<norm_group norm_group="ⲉϥϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u353" func="mark" head="#u355" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u354" func="nsubj" head="#u355" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u355" func="advcl" head="#u350" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲥⲁϫⲓ">
<norm_group norm_group="ⲛϩⲁⲛⲥⲁϫⲓ">
<orig orig="ⲛ">
<norm xml:id="u356" func="case" head="#u358" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u357" func="det" head="#u358" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u358" func="obj" head="#u355" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲟⲩⲁ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲁ">
<orig orig="ⲛ">
<norm xml:id="u359" func="case" head="#u360" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϫⲉⲟⲩⲁ">
<norm xml:id="u360" func="nmod" head="#u358" pos="N" lemma="ϫⲉⲟⲩⲁ" norm="ϫⲉⲟⲩⲁ">
<morph morph="ϫⲉ">
ϫⲉ
</morph>
<morph morph="ⲟⲩⲁ">
ⲟⲩⲁ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲙⲱⲩⲥⲏⲥ">
<norm_group norm_group="ⲉⲙⲱⲩⲥⲏⲥ">
<orig orig="ⲉ">
<norm xml:id="u361" func="case" head="#u362" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲙⲱⲩⲥⲏⲥ">
<norm xml:id="u362" func="obl" head="#u355" pos="NPROP" lemma="ⲙⲱⲩⲥⲏⲥ" norm="ⲙⲱⲩⲥⲏⲥ">
<lang lang="Hebrew">
ⲙⲱⲩⲥⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲉⲙⲫⲛⲟⲩϯ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u363" func="cc" head="#u365" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u364" func="det" head="#u365" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u365" func="conj" head="#u362" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u366" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="They stirred up the people, the elders, and the scribes, and came against him and seized him, and brought him in to the council,">
<orig_group orig_group="ⲁⲩⲕⲓⲙ">
<norm_group norm_group="ⲁⲩⲕⲓⲙ">
<orig orig="ⲁ">
<norm xml:id="u367" func="aux" head="#u369" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u368" func="nsubj" head="#u369" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲕⲓⲙ">
<norm xml:id="u369" func="root" pos="V" lemma="ⲕⲓⲙ" norm="ⲕⲓⲙ">
ⲕⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u370" func="advmod" head="#u369" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲓⲗⲁⲟⲥ">
<norm_group norm_group="ⲉⲡⲓⲗⲁⲟⲥ">
<orig orig="ⲉ">
<norm xml:id="u371" func="case" head="#u373" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u372" func="det" head="#u373" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u373" func="obl" head="#u369" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲡⲣⲉⲥⲃⲩⲧⲉⲣⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲡⲣⲉⲥⲃⲩⲧⲉⲣⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u374" func="cc" head="#u376" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u375" func="det" head="#u376" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲡⲣⲉⲥⲃⲩⲧⲉⲣⲟⲥ">
<norm xml:id="u376" func="conj" head="#u373" pos="N" lemma="ⲡⲣⲉⲥⲃⲩⲧⲉⲣⲟⲥ" norm="ⲡⲣⲉⲥⲃⲩⲧⲉⲣⲟⲥ">
<lang lang="Greek">
ⲡⲣⲉⲥⲃⲩⲧⲉⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲥⲁϧ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲥⲁϧ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u377" func="cc" head="#u379" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u378" func="det" head="#u379" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲁϧ">
<norm xml:id="u379" func="conj" head="#u373" pos="N" lemma="ⲥⲁϧ" norm="ⲥⲁϧ">
ⲥⲁϧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲧⲱⲟⲩⲛⲟⲩ">
<norm_group norm_group="ⲁⲩⲧⲱⲟⲩⲛⲟⲩ">
<orig orig="ⲁ">
<norm xml:id="u380" func="aux" head="#u382" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u381" func="nsubj" head="#u382" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩⲛ">
<norm xml:id="u382" func="parataxis" head="#u369" pos="V" lemma="ⲧⲱⲟⲩⲛ" norm="ⲧⲱⲟⲩⲛ">
ⲧⲱⲟⲩⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u383" func="obj" head="#u382" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϩⲟⲗⲙⲉϥ">
<norm_group norm_group="ⲁⲩϩⲟⲗⲙⲉϥ">
<orig orig="ⲁ">
<norm xml:id="u384" func="aux" head="#u386" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u385" func="nsubj" head="#u386" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲟⲗⲙⲉϥ">
<norm xml:id="u386" func="parataxis" head="#u382" pos="V" lemma="ϩⲟⲗⲙⲉϥ" norm="ϩⲟⲗⲙⲉϥ">
ϩⲟⲗⲙⲉϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲉⲛϥ">
<norm_group norm_group="ⲁⲩⲉⲛϥ">
<orig orig="ⲁ">
<norm xml:id="u387" func="aux" head="#u389" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u388" func="nsubj" head="#u389" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲛ">
<norm xml:id="u389" func="parataxis" head="#u386" pos="V" lemma="ⲓⲛⲓ" norm="ⲉⲛ">
ⲉⲛ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u390" func="obj" head="#u389" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉϧⲟⲩⲛ">
<norm xml:id="u391" func="advmod" head="#u389" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲓⲙⲁ">
<norm_group norm_group="ⲉⲡⲓⲙⲁ">
<orig orig="ⲉ">
<norm xml:id="u392" func="case" head="#u394" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u393" func="det" head="#u394" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u394" func="obl" head="#u389" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϯϩⲁⲡ">
<norm_group norm_group="ⲛϯϩⲁⲡ">
<orig orig="ⲛ">
<norm xml:id="u395" func="case" head="#u396" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϯϩⲁⲡ">
<norm xml:id="u396" func="nmod" head="#u394" pos="N" lemma="ϯϩⲁⲡ" norm="ϯϩⲁⲡ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ϩⲁⲡ">
ϩⲁⲡ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u397" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="and set up false witnesses who said, 'This man never stops speaking blasphemous words against this holy place and the law.">
<orig_group orig_group="ⲁⲩⲧⲁϩⲟ">
<norm_group norm_group="ⲁⲩⲧⲁϩⲟ">
<orig orig="ⲁ">
<norm xml:id="u398" func="aux" head="#u400" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u399" func="nsubj" head="#u400" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲁϩⲟ">
<norm xml:id="u400" func="root" pos="V" lemma="ⲧⲁϩⲟ" norm="ⲧⲁϩⲟ">
ⲧⲁϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<norm_group norm_group="ⲛϩⲁⲛⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<orig orig="ⲛ">
<norm xml:id="u401" func="case" head="#u403" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u402" func="det" head="#u403" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<norm xml:id="u403" func="obj" head="#u400" pos="N" lemma="ⲙⲉⲧⲙⲉⲑⲣⲉⲩ" norm="ⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲙⲉⲑⲣⲉⲩ">
ⲙⲉⲑⲣⲉⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲟⲩϫ">
<norm_group norm_group="ⲛⲛⲟⲩϫ">
<orig orig="ⲛ">
<norm xml:id="u404" func="case" head="#u405" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩϫ">
<norm xml:id="u405" func="nmod" head="#u403" pos="N" lemma="ⲛⲟⲩϫ" norm="ⲛⲟⲩϫ">
ⲛⲟⲩϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲁⲧⲟⲩⲉⲩϫⲱ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩⲉⲩϫⲱ">
<orig orig="ⲉⲣⲁⲧ">
<norm xml:id="u406" func="case" head="#u407" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u407" func="obl" head="#u408" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉⲩϫⲱ">
<norm xml:id="u408" func="parataxis" head="#u400" pos="N" lemma="ⲉⲩϫⲱ" norm="ⲉⲩϫⲱ">
ⲉⲩϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙⲙⲟ">
<norm xml:id="u409" func="case" head="#u410" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u410" func="expl" head="#u408" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲡⲁⲓⲣⲱⲙⲓ">
<norm_group norm_group="ϫⲉⲡⲁⲓⲣⲱⲙⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u411" func="mark" head="#u416" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u412" func="det" head="#u413" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u413" func="dislocated" head="#u416" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϥⲭⲱ">
<norm_group norm_group="ⲛϥⲭⲱ">
<orig orig="ⲛ">
<norm xml:id="u414" func="aux" head="#u416" pos="NEG" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u415" func="nsubj" head="#u416" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲭⲱ">
<norm xml:id="u416" func="ccomp" head="#u408" pos="V" lemma="ⲭⲱ" norm="ⲭⲱ">
ⲭⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲟⲧϥ">
<norm_group norm_group="ⲛⲧⲟⲧϥ">
<orig orig="ⲛⲧⲟⲧ">
<norm xml:id="u417" func="case" head="#u418" pos="PREP" lemma="ⲛⲧⲉⲛ" norm="ⲛⲧⲟⲧ">
ⲛⲧⲟⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u418" func="obl" head="#u416" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u419" func="advmod" head="#u416" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u420" func="advmod" head="#u416" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϫⲱ">
<norm_group norm_group="ⲉϥϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u421" func="mark" head="#u423" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u422" func="nsubj" head="#u423" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u423" func="advcl" head="#u416" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲥⲁϫⲓ">
<norm_group norm_group="ⲛϩⲁⲛⲥⲁϫⲓ">
<orig orig="ⲛ">
<norm xml:id="u424" func="case" head="#u426" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u425" func="det" head="#u426" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u426" func="obj" head="#u423" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲥⲁⲡⲁⲓⲙⲁ">
<norm_group norm_group="ⲛⲥⲁⲡⲁⲓⲙⲁ">
<orig orig="ⲛⲥⲁ">
<norm xml:id="u427" func="case" head="#u429" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛⲥⲁ
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u428" func="det" head="#u429" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u429" func="obl" head="#u423" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u430" func="mark" head="#u431" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u431" func="acl:relcl" head="#u429" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓⲛⲟⲙⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲡⲓⲛⲟⲙⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u432" func="case" head="#u434" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u433" func="det" head="#u434" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲛⲟⲙⲟⲥ">
<norm xml:id="u434" func="conj" head="#u429" pos="N" lemma="ⲛⲟⲙⲟⲥ" norm="ⲛⲟⲙⲟⲥ">
<lang lang="Greek">
ⲛⲟⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u435" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="For we have heard him say that this Jesus of Nazareth will destroy this place, and will change the customs which Moses delivered to us.'">
<orig_group orig_group="ⲁⲛⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲁⲛⲥⲱⲧⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u436" func="aux" head="#u438" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u437" func="nsubj" head="#u438" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u438" func="root" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u439" func="advmod" head="#u438" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉⲣⲟ">
<norm xml:id="u440" func="case" head="#u441" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u441" func="obl" head="#u438" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϫⲱ">
<norm_group norm_group="ⲉϥϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u442" func="mark" head="#u444" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u443" func="nsubj" head="#u444" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u444" func="advcl" head="#u438" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙⲙⲟ">
<norm xml:id="u445" func="case" head="#u446" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u446" func="expl" head="#u444" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲓⲏⲥⲟⲩⲥ">
<norm_group norm_group="ϫⲉⲓⲏⲥⲟⲩⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u447" func="mark" head="#u462" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲓⲏⲥⲟⲩⲥ">
<norm xml:id="u448" func="dislocated" head="#u462" pos="NPROP" lemma="ⲓⲏⲥⲟⲩⲥ" norm="ⲓⲏⲥⲟⲩⲥ">
<lang lang="Hebrew">
ⲓⲏⲥⲟⲩⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲛⲁⲍⲱⲣⲉⲟⲥ">
<norm_group norm_group="ⲡⲓⲛⲁⲍⲱⲣⲉⲟⲥ">
<orig orig="ⲡⲓ">
<norm xml:id="u449" func="det" head="#u450" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲛⲁⲍⲱⲣⲉⲟⲥ">
<norm xml:id="u450" func="appos" head="#u448" pos="N" lemma="ⲛⲁⲍⲱⲣⲉⲟⲥ" norm="ⲛⲁⲍⲱⲣⲉⲟⲥ">
ⲛⲁⲍⲱⲣⲉⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛⲑⲟϥ">
<norm xml:id="u451" func="dislocated" head="#u462" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲛⲁⲃⲉⲗ">
<norm_group norm_group="ⲉⲑⲛⲁⲃⲉⲗ">
<orig orig="ⲉⲑ">
<norm xml:id="u452" func="mark" head="#u454" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u453" func="aux" head="#u454" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲃⲉⲗ">
<norm xml:id="u454" func="acl:relcl" head="#u451" pos="V" lemma="ⲃⲱⲗ" norm="ⲃⲉⲗ">
ⲃⲉⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲓⲙⲁ">
<norm_group norm_group="ⲡⲁⲓⲙⲁ">
<orig orig="ⲡⲁⲓ">
<norm xml:id="u455" func="det" head="#u456" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u456" func="obj" head="#u454" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u457" func="mark" head="#u458" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u458" func="acl:relcl" head="#u456" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u459" func="advmod" head="#u454" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁϣⲓⲃϯ">
<norm_group norm_group="ϥⲛⲁϣⲓⲃϯ">
<orig orig="ϥ">
<norm xml:id="u460" func="nsubj" head="#u462" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u461" func="aux" head="#u462" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲓⲃϯ">
<norm xml:id="u462" func="ccomp" head="#u444" pos="V" lemma="ϣⲓⲃϯ" norm="ϣⲓⲃϯ">
ϣⲓⲃϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲥⲩⲛⲏⲑⲓⲁ">
<norm_group norm_group="ⲛⲛⲓⲥⲩⲛⲏⲑⲓⲁ">
<orig orig="ⲛ">
<norm xml:id="u463" func="case" head="#u465" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u464" func="det" head="#u465" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲩⲛⲏⲑⲓⲁ">
<norm xml:id="u465" func="obj" head="#u462" pos="N" lemma="ⲥⲩⲛⲏⲑⲓⲁ" norm="ⲥⲩⲛⲏⲑⲓⲁ">
<lang lang="Greek">
ⲥⲩⲛⲏⲑⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲧⲏ">
<norm_group norm_group="ⲉⲧⲁϥⲧⲏ">
<orig orig="ⲉ">
<norm xml:id="u466" func="case" head="#u468" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u467" func="det" head="#u468" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲁϥ">
<norm xml:id="u468" func="obl" head="#u462" pos="N" lemma="ⲁϥ" norm="ⲁϥ">
ⲁϥ
</norm>
</orig>
<orig orig="ⲧⲏ">
<norm xml:id="u469" func="parataxis" head="#u462" pos="ADV" lemma="ⲧⲏ" norm="ⲧⲏ">
ⲧⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲧⲟⲩ">
<norm_group norm_group="ⲓⲧⲟⲩ">
<orig orig="ⲓ">
<norm xml:id="u470" func="obj" head="#u469" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u471" func="det" head="#u473" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u472" func="det" head="#u473" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟⲧⲉⲛ">
<norm_group norm_group="ⲉⲧⲟⲧⲉⲛ">
<orig orig="ⲉⲧⲟⲧⲉⲛ">
<norm xml:id="u473" func="parataxis" head="#u469" pos="N" lemma="ⲉⲧⲟⲧⲉⲛ" norm="ⲉⲧⲟⲧⲉⲛ">
ⲉⲧⲟⲧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲙⲱⲩⲥⲏⲥ">
<norm_group norm_group="ⲛϫⲉⲙⲱⲩⲥⲏⲥ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u474" func="case" head="#u475" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ⲙⲱⲩⲥⲏⲥ">
<norm xml:id="u475" func="dislocated" head="#u473" pos="NPROP" lemma="ⲙⲱⲩⲥⲏⲥ" norm="ⲙⲱⲩⲥⲏⲥ">
<lang lang="Hebrew">
ⲙⲱⲩⲥⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u476" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="15">
<translation translation="All who sat in the council, fastening their eyes on him, saw his face like it was the face of an angel.">
<orig_group orig_group="ⲉⲧⲁⲩⲥⲟⲙⲥ">
<norm_group norm_group="ⲉⲧⲁⲩⲥⲟⲙⲥ">
<orig orig="ⲉⲧ">
<norm xml:id="u477" func="aux" head="#u480" new_sent="true" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u478" func="aux" head="#u480" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u479" func="nsubj" head="#u480" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲟⲙⲥ">
<norm xml:id="u480" func="advcl" head="#u495" pos="V" lemma="ⲥⲟⲙⲥ" norm="ⲥⲟⲙⲥ">
ⲥⲟⲙⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u481" func="obl:unmarked" head="#u480" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u482" func="nmod:poss" head="#u481" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉϧⲟⲩⲛ">
<norm xml:id="u483" func="advmod" head="#u480" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲣⲁϥ">
<norm_group norm_group="ⲉϩⲣⲁϥ">
<orig orig="ⲉϩⲣⲁ">
<norm xml:id="u484" func="case" head="#u485" pos="PREP" lemma="ⲉϩⲣⲉⲛ" norm="ⲉϩⲣⲁ">
ⲉϩⲣⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u485" func="obl" head="#u480" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲛⲏ">
<norm_group norm_group="ⲛϫⲉⲛⲏ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u486" func="case" head="#u487" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u487" func="dislocated" head="#u480" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϩⲉⲙⲥⲓ">
<norm_group norm_group="ⲉⲧϩⲉⲙⲥⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u488" func="mark" head="#u489" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϩⲉⲙⲥⲓ">
<norm xml:id="u489" func="acl:relcl" head="#u487" pos="V" lemma="ϩⲉⲙⲥⲓ" norm="ϩⲉⲙⲥⲓ">
ϩⲉⲙⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲙⲁⲛϯϩⲁⲡ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲙⲁⲛϯϩⲁⲡ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u490" func="case" head="#u492" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u491" func="det" head="#u492" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛϯϩⲁⲡ">
<norm xml:id="u492" func="obl" head="#u489" pos="N" lemma="ⲙⲁⲛϯϩⲁⲡ" norm="ⲙⲁⲛϯϩⲁⲡ">
ⲙⲁⲛϯϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲛⲁⲩ">
<norm_group norm_group="ⲁⲩⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u493" func="aux" head="#u495" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u494" func="nsubj" head="#u495" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u495" func="root" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲉϥϩⲟ">
<norm_group norm_group="ⲉⲡⲉϥϩⲟ">
<orig orig="ⲉ">
<norm xml:id="u496" func="case" head="#u498" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u497" func="nmod:poss" head="#u498" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u498" func="obl" head="#u495" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ">
<norm xml:id="u499" func="case" head="#u501" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u500" func="det" head="#u501" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u501" func="obl" head="#u495" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡϩⲟ">
<norm_group norm_group="ⲙⲡϩⲟ">
<orig orig="ⲙ">
<norm xml:id="u502" func="case" head="#u504" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u503" func="det" head="#u504" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u504" func="nmod" head="#u501" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲁⲅⲅⲉⲗⲟⲥ">
<norm_group norm_group="ⲛⲟⲩⲁⲅⲅⲉⲗⲟⲥ">
<orig orig="ⲛ">
<norm xml:id="u505" func="case" head="#u507" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u506" func="det" head="#u507" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲅⲅⲉⲗⲟⲥ">
<norm xml:id="u507" func="nmod" head="#u504" pos="N" lemma="ⲁⲅⲅⲉⲗⲟⲥ" norm="ⲁⲅⲅⲉⲗⲟⲥ">
<lang lang="Greek">
ⲁⲅⲅⲉⲗⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u508" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
