<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="13" corpus="bohairic.nt" document_cts_urn="urn:cts:copticLit:nt.1cor.bohairic:13" entities="none" identities="none" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" parsing="automatic" project="Coptic SCRIPTORIUM" segmentation="automatic" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" tagging="automatic" title="07_I Corinthians_13" translation="World English Bible (WEB)" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="If I speak with the languages of men and of angels, but don't have love, I have become sounding brass, or a clanging cymbal.">
<orig_group orig_group="ⲉϣⲱⲡ">
<norm_group norm_group="ⲉϣⲱⲡ">
<orig orig="ⲉ">
<norm xml:id="u1" func="mark" head="#u4" new_sent="true" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϣⲱⲡ">
<norm xml:id="u2" func="root" pos="V" lemma="ϣⲱⲡ" norm="ϣⲱⲡ">
ϣⲱⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓϣⲁⲛⲥⲁϫⲓ">
<norm_group norm_group="ⲁⲓϣⲁⲛⲥⲁϫⲓ">
<orig orig="ⲁⲓϣⲁⲛ">
<norm xml:id="u3" func="nsubj" head="#u4" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲁⲛⲟⲕ" norm="ⲁⲓϣⲁⲛ">
ⲁⲓϣⲁⲛ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u4" func="advcl" head="#u2" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲫⲗⲁⲥ">
<norm_group norm_group="ϧⲉⲛⲫⲗⲁⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u5" func="case" head="#u7" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u6" func="det" head="#u7" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲗⲁⲥ">
<norm xml:id="u7" func="obl" head="#u4" pos="N" lemma="ⲗⲁⲥ" norm="ⲗⲁⲥ">
ⲗⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲣⲱⲙⲓ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u8" func="case" head="#u10" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u9" func="det" head="#u10" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u10" func="nmod" head="#u7" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲫⲁ">
<norm_group norm_group="ⲛⲉⲙⲫⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u11" func="cc" head="#u12" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲫⲁ">
<norm xml:id="u12" func="conj" head="#u10" pos="PPOS" lemma="ⲫⲁ" norm="ⲫⲁ">
ⲫⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲁⲅⲅⲉⲗⲟⲥ">
<norm_group norm_group="ⲛⲓⲁⲅⲅⲉⲗⲟⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u13" func="det" head="#u14" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲅⲅⲉⲗⲟⲥ">
<norm xml:id="u14" func="appos" head="#u12" pos="N" lemma="ⲁⲅⲅⲉⲗⲟⲥ" norm="ⲁⲅⲅⲉⲗⲟⲥ">
<lang lang="Greek">
ⲁⲅⲅⲉⲗⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟⲛϯ">
<norm_group norm_group="ⲙⲙⲟⲛϯ">
<orig orig="ⲙⲙⲟⲛ">
<norm xml:id="u15" func="parataxis" head="#u2" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙⲙⲟⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u16" func="det" head="#u17" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲅⲁⲡⲏ">
<norm_group norm_group="ⲁⲅⲁⲡⲏ">
<orig orig="ⲁⲅⲁⲡⲏ">
<norm xml:id="u17" func="nsubj" head="#u15" pos="N" lemma="ⲁⲅⲁⲡⲏ" norm="ⲁⲅⲁⲡⲏ">
<lang lang="Greek">
ⲁⲅⲁⲡⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u18" func="advmod" head="#u22" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙⲙⲁⲩ">
<norm xml:id="u19" func="advmod" head="#u15" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣ">
<norm_group norm_group="ⲁⲓⲉⲣ">
<orig orig="ⲁ">
<norm xml:id="u20" func="aux" head="#u22" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u21" func="nsubj" head="#u22" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣ">
<norm xml:id="u22" func="parataxis" head="#u15" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ">
<norm xml:id="u23" func="case" head="#u25" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u24" func="det" head="#u25" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u25" func="obj" head="#u22" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϩⲟⲙⲧ">
<norm_group norm_group="ⲛⲟⲩϩⲟⲙⲧ">
<orig orig="ⲛ">
<norm xml:id="u26" func="case" head="#u28" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u27" func="det" head="#u28" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲟⲙⲧ">
<norm xml:id="u28" func="nmod" head="#u25" pos="N" lemma="ϩⲟⲙⲧ" norm="ϩⲟⲙⲧ">
ϩⲟⲙⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲥⲉⲛⲥⲉⲛ">
<norm_group norm_group="ⲉϥⲥⲉⲛⲥⲉⲛ">
<orig orig="ⲉ">
<norm xml:id="u29" func="mark" head="#u31" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u30" func="nsubj" head="#u31" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲉⲛⲥⲉⲛ">
<norm xml:id="u31" func="acl:relcl" head="#u28" pos="V" lemma="ⲥⲉⲛⲥⲉⲛ" norm="ⲥⲉⲛⲥⲉⲛ">
ⲥⲉⲛⲥⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲉ">
<norm_group norm_group="ⲓⲉ">
<orig orig="ⲓⲉ">
<norm xml:id="u32" func="cc" head="#u34" pos="CONJ" lemma="ⲓⲉ" norm="ⲓⲉ">
ⲓⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲕⲩⲙⲃⲁⲗⲟⲛ">
<norm_group norm_group="ⲟⲩⲕⲩⲙⲃⲁⲗⲟⲛ">
<orig orig="ⲟⲩ">
<norm xml:id="u33" func="det" head="#u34" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲩⲙⲃⲁⲗⲟⲛ">
<norm xml:id="u34" func="conj" head="#u28" pos="N" lemma="ⲕⲩⲙⲃⲁⲗⲟⲛ" norm="ⲕⲩⲙⲃⲁⲗⲟⲛ">
<lang lang="Greek">
ⲕⲩⲙⲃⲁⲗⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉϣⲗⲏⲗⲟⲩⲓ">
<norm_group norm_group="ⲉϥⲉϣⲗⲏⲗⲟⲩⲓ">
<orig orig="ⲉ">
<norm xml:id="u35" func="mark" head="#u37" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u36" func="nsubj" head="#u37" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉϣⲗⲏⲗⲟⲩⲓ">
<norm xml:id="u37" func="acl:relcl" head="#u34" pos="V" lemma="ⲉϣⲗⲏⲗⲟⲩⲓ" norm="ⲉϣⲗⲏⲗⲟⲩⲓ">
ⲉϣⲗⲏⲗⲟⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u38" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="If I have the gift of prophecy, and know all mysteries and all knowledge; and if I have all faith, so as to remove mountains, but don't have love, I am nothing.">
<orig_group orig_group="ⲕⲁⲛ">
<norm_group norm_group="ⲕⲁⲛ">
<orig orig="ⲕⲁⲛ">
<norm xml:id="u39" func="cc" head="#u41" new_sent="true" pos="CONJ" lemma="ⲕⲁⲛ" norm="ⲕⲁⲛ">
<lang lang="Greek">
ⲕⲁⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲟⲩⲟⲛ">
<norm_group norm_group="ⲉⲟⲩⲟⲛ">
<orig orig="ⲉ">
<norm xml:id="u40" func="mark" head="#u41" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u41" func="root" pos="EXIST" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲏⲓ">
<norm_group norm_group="ⲛⲧⲏⲓ">
<orig orig="ⲛⲧⲏ">
<norm xml:id="u42" func="iobj" head="#u41" pos="PREP" lemma="ⲛⲧⲏ" norm="ⲛⲧⲏ">
ⲛⲧⲏ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u43" func="nsubj" head="#u41" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲡⲣⲟⲫⲏⲧⲓⲁ">
<norm_group norm_group="ⲛⲟⲩⲡⲣⲟⲫⲏⲧⲓⲁ">
<orig orig="ⲛ">
<norm xml:id="u44" func="case" head="#u46" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u45" func="det" head="#u46" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲡⲣⲟⲫⲏⲧⲓⲁ">
<norm xml:id="u46" func="obl" head="#u43" pos="N" lemma="ⲡⲣⲟⲫⲏⲧⲓⲁ" norm="ⲡⲣⲟⲫⲏⲧⲓⲁ">
<lang lang="Greek">
ⲡⲣⲟⲫⲏⲧⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲥⲱⲟⲩⲛ">
<norm_group norm_group="ⲉⲓⲥⲱⲟⲩⲛ">
<orig orig="ⲉ">
<norm xml:id="u47" func="mark" head="#u49" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u48" func="nsubj" head="#u49" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲛ">
<norm xml:id="u49" func="advcl" head="#u41" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲱⲟⲩⲛ">
ⲥⲱⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲙⲩⲥⲧⲏⲣⲓⲟⲛ">
<norm_group norm_group="ⲛⲛⲓⲙⲩⲥⲧⲏⲣⲓⲟⲛ">
<orig orig="ⲛ">
<norm xml:id="u50" func="case" head="#u52" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u51" func="det" head="#u52" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲩⲥⲧⲏⲣⲓⲟⲛ">
<norm xml:id="u52" func="obj" head="#u49" pos="N" lemma="ⲙⲩⲥⲧⲏⲣⲓⲟⲛ" norm="ⲙⲩⲥⲧⲏⲣⲓⲟⲛ">
<lang lang="Greek">
ⲙⲩⲥⲧⲏⲣⲓⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u53" func="nmod:unmarked" head="#u52" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u54" func="nmod:poss" head="#u53" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲉⲙⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲉⲙⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u55" func="cc" head="#u57" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u56" func="det" head="#u57" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲙⲓ">
<norm xml:id="u57" func="conj" head="#u52" pos="N" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ">
<norm_group norm_group="ⲧⲏⲣϥ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u58" func="nmod:unmarked" head="#u57" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u59" func="nmod:poss" head="#u58" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲁⲛ">
<norm_group norm_group="ⲕⲁⲛ">
<orig orig="ⲕⲁⲛ">
<norm xml:id="u60" func="mark" head="#u67" pos="CONJ" lemma="ⲕⲁⲛ" norm="ⲕⲁⲛ">
<lang lang="Greek">
ⲕⲁⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲫⲛⲁϩϯ">
<norm_group norm_group="ⲉⲣⲉⲫⲛⲁϩϯ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u61" func="mark" head="#u67" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u62" func="det" head="#u63" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲁϩϯ">
<norm xml:id="u63" func="nsubj" head="#u67" pos="N" lemma="ⲛⲁϩϯ" norm="ⲛⲁϩϯ">
ⲛⲁϩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ">
<norm_group norm_group="ⲧⲏⲣϥ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u64" func="nmod:unmarked" head="#u63" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u65" func="nmod:poss" head="#u64" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲟⲧϩⲱⲥⲧⲉ">
<norm_group norm_group="ⲛⲧⲟⲧϩⲱⲥⲧⲉ">
<orig orig="ⲛⲧⲟⲧ">
<norm xml:id="u66" func="case" head="#u67" pos="PREP" lemma="ⲛⲧⲉⲛ" norm="ⲛⲧⲟⲧ">
ⲛⲧⲟⲧ
</norm>
</orig>
<orig orig="ϩⲱⲥⲧⲉ">
<norm xml:id="u67" func="advcl" head="#u41" pos="CONJ" lemma="ϩⲱⲥⲧⲉ" norm="ϩⲱⲥⲧⲉ">
<lang lang="Greek">
ϩⲱⲥⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲟⲩⲱⲧⲉⲃ">
<norm_group norm_group="ⲉⲟⲩⲱⲧⲉⲃ">
<orig orig="ⲉ">
<norm xml:id="u68" func="mark" head="#u69" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲱⲧⲉⲃ">
<norm xml:id="u69" func="xcomp" head="#u67" pos="V" lemma="ⲟⲩⲱⲧⲉⲃ" norm="ⲟⲩⲱⲧⲉⲃ">
ⲟⲩⲱⲧⲉⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲧⲱⲟⲩ">
<norm_group norm_group="ⲛϩⲁⲛⲧⲱⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u70" func="case" head="#u72" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u71" func="det" head="#u72" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩ">
<norm xml:id="u72" func="obj" head="#u69" pos="N" lemma="ⲧⲱⲟⲩ" norm="ⲧⲱⲟⲩ">
ⲧⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u73" func="advmod" head="#u69" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟⲛϯ">
<norm_group norm_group="ⲙⲙⲟⲛϯ">
<orig orig="ⲙⲙⲟⲛ">
<norm xml:id="u74" func="parataxis" head="#u69" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙⲙⲟⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u75" func="det" head="#u76" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲅⲁⲡⲏ">
<norm_group norm_group="ⲁⲅⲁⲡⲏ">
<orig orig="ⲁⲅⲁⲡⲏ">
<norm xml:id="u76" func="nsubj" head="#u74" pos="N" lemma="ⲁⲅⲁⲡⲏ" norm="ⲁⲅⲁⲡⲏ">
<lang lang="Greek">
ⲁⲅⲁⲡⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u77" func="advmod" head="#u74" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙⲙⲁⲩ">
<norm xml:id="u78" func="advmod" head="#u74" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁⲛⲟⲕ">
<norm xml:id="u79" func="nsubj" head="#u80" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲗⲓ">
<norm_group norm_group="ϩⲗⲓ">
<orig orig="ϩⲗⲓ">
<norm xml:id="u80" func="nsubj" head="#u74" pos="N" lemma="ϩⲗⲓ" norm="ϩⲗⲓ">
ϩⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u81" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="If I dole out all my goods to feed the poor, and if I give my body to be burned, but don't have love, it profits me nothing.">
<orig_group orig_group="ⲕⲁⲛ">
<norm_group norm_group="ⲕⲁⲛ">
<orig orig="ⲕⲁⲛ">
<norm xml:id="u82" func="advmod" head="#u84" new_sent="true" pos="CONJ" lemma="ⲕⲁⲛ" norm="ⲕⲁⲛ">
<lang lang="Greek">
ⲕⲁⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓϣⲁⲛϯ">
<norm_group norm_group="ⲁⲓϣⲁⲛϯ">
<orig orig="ⲁⲓϣⲁⲛ">
<norm xml:id="u83" func="nsubj" head="#u84" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲁⲛⲟⲕ" norm="ⲁⲓϣⲁⲛ">
ⲁⲓϣⲁⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u84" func="root" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲏ">
<norm_group norm_group="ⲛⲛⲏ">
<orig orig="ⲛ">
<norm xml:id="u85" func="case" head="#u86" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u86" func="obj" head="#u84" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲛⲟⲩⲓ">
<norm_group norm_group="ⲉⲧⲉⲛⲟⲩⲓ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u87" func="mark" head="#u88" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲓ">
<norm xml:id="u88" func="acl:relcl" head="#u86" pos="V" lemma="ⲛⲟⲩⲓ" norm="ⲛⲟⲩⲓ">
ⲛⲟⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u89" func="obl:unmarked" head="#u86" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u90" func="nmod:poss" head="#u89" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲟⲩⲟⲩⲟⲙⲟⲩ">
<norm_group norm_group="ⲉⲑⲣⲟⲩⲟⲩⲟⲙⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u91" func="mark" head="#u92" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣⲟ">
<norm xml:id="u92" func="xcomp" head="#u84" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣⲟ">
ⲑⲣⲟ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u93" func="obj" head="#u92" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲙ">
<norm xml:id="u94" func="xcomp" head="#u92" pos="V" lemma="ⲟⲩⲱⲙ" norm="ⲟⲩⲟⲙ">
ⲟⲩⲟⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u95" func="obj" head="#u94" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u96" func="cc" head="#u98" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲁϯ">
<norm_group norm_group="ⲛⲧⲁϯ">
<orig orig="ⲛⲧⲁ">
<norm xml:id="u97" func="mark" head="#u98" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲁ">
ⲛⲧⲁ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u98" func="conj" head="#u92" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲕⲉⲥⲱⲙⲁ">
<norm_group norm_group="ⲙⲡⲁⲕⲉⲥⲱⲙⲁ">
<orig orig="ⲙ">
<norm xml:id="u99" func="case" head="#u102" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u100" func="nmod:poss" head="#u102" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲕⲉ">
<norm xml:id="u101" func="det" head="#u102" pos="ART" lemma="ⲕⲉ" norm="ⲕⲉ">
ⲕⲉ
</norm>
</orig>
<orig orig="ⲥⲱⲙⲁ">
<norm xml:id="u102" func="obj" head="#u98" pos="N" lemma="ⲥⲱⲙⲁ" norm="ⲥⲱⲙⲁ">
<lang lang="Greek">
ⲥⲱⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲛⲁ">
<norm_group norm_group="ϩⲓⲛⲁ">
<orig orig="ϩⲓⲛⲁ">
<norm xml:id="u103" func="mark" head="#u106" pos="CONJ" lemma="ϩⲓⲛⲁ" norm="ϩⲓⲛⲁ">
<lang lang="Greek">
ϩⲓⲛⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲁϣⲟⲩϣⲟⲩ">
<norm_group norm_group="ⲛⲧⲁϣⲟⲩϣⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u104" func="aux" head="#u106" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u105" func="nsubj" head="#u106" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ϣⲟⲩϣⲟⲩ">
<norm xml:id="u106" func="advcl" head="#u98" pos="V" lemma="ϣⲟⲩϣⲟⲩ" norm="ϣⲟⲩϣⲟⲩ">
ϣⲟⲩϣⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟⲛϯ">
<norm_group norm_group="ⲙⲙⲟⲛϯ">
<orig orig="ⲙⲙⲟⲛ">
<norm xml:id="u107" func="advcl" head="#u98" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙⲙⲟⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u108" func="det" head="#u109" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲅⲁⲡⲏ">
<norm_group norm_group="ⲁⲅⲁⲡⲏ">
<orig orig="ⲁⲅⲁⲡⲏ">
<norm xml:id="u109" func="nsubj" head="#u107" pos="N" lemma="ⲁⲅⲁⲡⲏ" norm="ⲁⲅⲁⲡⲏ">
<lang lang="Greek">
ⲁⲅⲁⲡⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u110" func="advmod" head="#u107" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙⲙⲁⲩ">
<norm xml:id="u111" func="advmod" head="#u107" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϯϫⲉⲙϩⲏⲟⲩ">
<norm_group norm_group="ⲛϯϫⲉⲙϩⲏⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u112" func="advmod" head="#u114" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u113" func="nsubj" head="#u114" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϫⲉⲙϩⲏⲟⲩ">
<norm xml:id="u114" func="parataxis" head="#u107" pos="N" lemma="ϫⲉⲙϩⲏⲟⲩ" norm="ϫⲉⲙϩⲏⲟⲩ">
<morph morph="ϫⲉⲙ">
ϫⲉⲙ
</morph>
<morph morph="ϩⲏⲟⲩ">
ϩⲏⲟⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲗⲓ">
<norm_group norm_group="ⲛϩⲗⲓ">
<orig orig="ⲛ">
<norm xml:id="u115" func="case" head="#u116" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲗⲓ">
<norm xml:id="u116" func="obl" head="#u114" pos="N" lemma="ϩⲗⲓ" norm="ϩⲗⲓ">
ϩⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u117" func="advmod" head="#u114" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u118" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="Love is patient and is kind; love doesn't envy. Love doesn't brag, is not proud,">
<orig_group orig_group="ϯⲁⲅⲁⲡⲏ">
<norm_group norm_group="ϯⲁⲅⲁⲡⲏ">
<orig orig="ϯⲁⲅⲁⲡⲏ">
<norm xml:id="u119" func="cc" head="#u122" new_sent="true" pos="V" lemma="ϯⲁⲅⲁⲡⲏ" norm="ϯⲁⲅⲁⲡⲏ">
ϯⲁⲅⲁⲡⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲥⲱⲟⲩ">
<norm_group norm_group="ϣⲁⲥⲱⲟⲩ">
<orig orig="ϣⲁ">
<norm xml:id="u120" func="aux" head="#u122" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u121" func="nsubj" head="#u122" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<multiword multiword="ⲱⲟⲩ ⲛϩⲏⲧ">
<orig orig="ⲱⲟⲩ">
<norm xml:id="u122" func="root" pos="N" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲏⲧ">
<norm_group norm_group="ⲛϩⲏⲧ">
<orig orig="ⲛϩⲏⲧ">
<norm xml:id="u123" func="obl" head="#u122" pos="ADV" lemma="ⲛϩⲏⲧ" norm="ⲛϩⲏⲧ">
ⲛϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ϣⲁⲥⲉⲣϩⲉⲗϫⲉ">
<norm_group norm_group="ϣⲁⲥⲉⲣϩⲉⲗϫⲉ">
<orig orig="ϣⲁ">
<norm xml:id="u124" func="aux" head="#u126" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u125" func="nsubj" head="#u126" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲉⲣϩⲉⲗϫⲉ">
<norm xml:id="u126" func="parataxis" head="#u122" pos="V" lemma="ⲉⲣϩⲉⲗϫⲉ" norm="ⲉⲣϩⲉⲗϫⲉ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϩⲉⲗϫⲉ">
ϩⲉⲗϫⲉ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲁⲅⲁⲡⲏ">
<norm_group norm_group="ϯⲁⲅⲁⲡⲏ">
<orig orig="ϯⲁⲅⲁⲡⲏ">
<norm xml:id="u127" func="obj" head="#u126" pos="N" lemma="ϯⲁⲅⲁⲡⲏ" norm="ϯⲁⲅⲁⲡⲏ">
ϯⲁⲅⲁⲡⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥⲭⲟϩ">
<norm_group norm_group="ⲙⲡⲁⲥⲭⲟϩ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u128" func="aux" head="#u130" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u129" func="nsubj" head="#u130" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲭⲟϩ">
<norm xml:id="u130" func="parataxis" head="#u126" pos="V" lemma="ⲭⲟϩ" norm="ⲭⲟϩ">
ⲭⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲁⲅⲁⲡⲏ">
<norm_group norm_group="ϯⲁⲅⲁⲡⲏ">
<orig orig="ϯⲁⲅⲁⲡⲏ">
<norm xml:id="u131" func="advmod" head="#u134" pos="N" lemma="ϯⲁⲅⲁⲡⲏ" norm="ϯⲁⲅⲁⲡⲏ">
ϯⲁⲅⲁⲡⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥⲉⲣⲡⲉⲣⲡⲉⲣⲟⲥ">
<norm_group norm_group="ⲙⲡⲁⲥⲉⲣⲡⲉⲣⲡⲉⲣⲟⲥ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u132" func="aux" head="#u134" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u133" func="nsubj" head="#u134" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲉⲣⲡⲉⲣⲡⲉⲣⲟⲥ">
<norm xml:id="u134" func="parataxis" head="#u130" pos="V" lemma="ⲉⲣⲡⲉⲣⲡⲉⲣⲟⲥ" norm="ⲉⲣⲡⲉⲣⲡⲉⲣⲟⲥ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲡⲉⲣⲡⲉⲣⲟⲥ">
ⲡⲉⲣⲡⲉⲣⲟⲥ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥϭⲓⲥⲓ">
<norm_group norm_group="ⲙⲡⲁⲥϭⲓⲥⲓ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u135" func="aux" head="#u137" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u136" func="nsubj" head="#u137" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϭⲓⲥⲓ">
<norm xml:id="u137" func="parataxis" head="#u134" pos="V" lemma="ϭⲓⲥⲓ" norm="ϭⲓⲥⲓ">
ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲏⲧ">
<norm_group norm_group="ⲛϩⲏⲧ">
<orig orig="ⲛϩⲏⲧ">
<norm xml:id="u138" func="obl" head="#u137" pos="N" lemma="ⲛϩⲏⲧ" norm="ⲛϩⲏⲧ">
ⲛϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u139" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="doesn't behave itself inappropriately, doesn't seek its own way, is not provoked, takes no account of evil;">
<orig_group orig_group="ⲙⲡⲁⲥϭⲓϣⲓⲡⲓ">
<norm_group norm_group="ⲙⲡⲁⲥϭⲓϣⲓⲡⲓ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u140" func="aux" head="#u142" new_sent="true" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u141" func="nsubj" head="#u142" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϭⲓϣⲓⲡⲓ">
<norm xml:id="u142" func="root" pos="V" lemma="ϭⲓϣⲓⲡⲓ" norm="ϭⲓϣⲓⲡⲓ">
<morph morph="ϭⲓ">
ϭⲓ
</morph>
<morph morph="ϣⲓⲡⲓ">
ϣⲓⲡⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥⲕⲱϯ">
<norm_group norm_group="ⲙⲡⲁⲥⲕⲱϯ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u143" func="aux" head="#u145" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u144" func="nsubj" head="#u145" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u145" func="parataxis" head="#u142" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲥⲁⲛⲏ">
<norm_group norm_group="ⲛⲥⲁⲛⲏ">
<orig orig="ⲛⲥⲁ">
<norm xml:id="u146" func="case" head="#u147" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛⲥⲁ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u147" func="obl" head="#u145" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲛⲟⲩⲥ">
<norm_group norm_group="ⲉⲧⲉⲛⲟⲩⲥ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u148" func="mark" head="#u149" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲥ">
<norm xml:id="u149" func="acl:relcl" head="#u147" pos="N" lemma="ⲛⲟⲩⲥ" norm="ⲛⲟⲩⲥ">
<lang lang="Greek">
ⲛⲟⲩⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥϫⲱⲛⲧ">
<norm_group norm_group="ⲙⲡⲁⲥϫⲱⲛⲧ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u150" func="aux" head="#u152" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u151" func="nsubj" head="#u152" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϫⲱⲛⲧ">
<norm xml:id="u152" func="parataxis" head="#u145" pos="V" lemma="ϫⲱⲛⲧ" norm="ϫⲱⲛⲧ">
ϫⲱⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥⲙⲉⲩⲓ">
<norm_group norm_group="ⲙⲡⲁⲥⲙⲉⲩⲓ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u153" func="aux" head="#u155" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u154" func="nsubj" head="#u155" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u155" func="parataxis" head="#u152" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲓⲡⲉⲧϩⲱⲟⲩ">
<norm_group norm_group="ⲉⲡⲓⲡⲉⲧϩⲱⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u156" func="case" head="#u158" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u157" func="det" head="#u158" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲉⲧϩⲱⲟⲩ">
<norm xml:id="u158" func="obl" head="#u155" pos="N" lemma="ⲡⲉⲧϩⲱⲟⲩ" norm="ⲡⲉⲧϩⲱⲟⲩ">
<morph morph="ⲡ">
ⲡ
</morph>
<morph morph="ⲉⲧ">
ⲉⲧ
</morph>
<morph morph="ϩⲱⲟⲩ">
ϩⲱⲟⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u159" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="doesn't rejoice in unrighteousness, but rejoices with the truth;">
<orig_group orig_group="ⲙⲡⲁⲥⲣⲁϣⲓ">
<norm_group norm_group="ⲙⲡⲁⲥⲣⲁϣⲓ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u160" func="aux" head="#u162" new_sent="true" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u161" func="nsubj" head="#u162" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲣⲁϣⲓ">
<norm xml:id="u162" func="root" pos="V" lemma="ⲣⲁϣⲓ" norm="ⲣⲁϣⲓ">
ⲣⲁϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϫⲉⲛⲑⲙⲉⲧϭⲓⲛϫⲟⲛⲥ">
<norm_group norm_group="ⲉϫⲉⲛⲑⲙⲉⲧϭⲓⲛϫⲟⲛⲥ">
<orig orig="ⲉϫⲉⲛ">
<norm xml:id="u163" func="case" head="#u164" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉϫⲉⲛ
</norm>
</orig>
<orig orig="ⲑⲙⲉⲧϭⲓⲛϫⲟⲛⲥ">
<norm xml:id="u164" func="obl" head="#u162" pos="N" lemma="ⲑⲙⲉⲧϭⲓⲛϫⲟⲛⲥ" norm="ⲑⲙⲉⲧϭⲓⲛϫⲟⲛⲥ">
ⲑⲙⲉⲧϭⲓⲛϫⲟⲛⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲥⲣⲁϣⲓ">
<norm_group norm_group="ϣⲁⲥⲣⲁϣⲓ">
<orig orig="ϣⲁ">
<norm xml:id="u165" func="aux" head="#u167" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u166" func="nsubj" head="#u167" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲣⲁϣⲓ">
<norm xml:id="u167" func="parataxis" head="#u162" pos="V" lemma="ⲣⲁϣⲓ" norm="ⲣⲁϣⲓ">
ⲣⲁϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u168" func="advmod" head="#u167" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϫⲉⲛⲑⲙⲏⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲑⲙⲏⲓ">
<orig orig="ⲉϫⲉⲛ">
<norm xml:id="u169" func="case" head="#u170" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉϫⲉⲛ
</norm>
</orig>
<orig orig="ⲑⲙⲏⲓ">
<norm xml:id="u170" func="obl" head="#u167" pos="N" lemma="ⲑⲙⲏⲓ" norm="ⲑⲙⲏⲓ">
<morph morph="ⲑ">
ⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u171" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="bears all things, believes all things, hopes all things, endures all things.">
<orig_group orig_group="ϣⲁⲥⲱⲟⲩ">
<norm_group norm_group="ϣⲁⲥⲱⲟⲩ">
<orig orig="ϣⲁ">
<norm xml:id="u172" func="aux" head="#u174" new_sent="true" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u173" func="nsubj" head="#u174" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<multiword multiword="ⲱⲟⲩ ⲛϩⲏⲧ">
<orig orig="ⲱⲟⲩ">
<norm xml:id="u174" func="root" pos="V" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲏⲧ">
<norm_group norm_group="ⲛϩⲏⲧ">
<orig orig="ⲛϩⲏⲧ">
<norm xml:id="u175" func="obl" head="#u174" pos="N" lemma="ⲛϩⲏⲧ" norm="ⲛϩⲏⲧ">
ⲛϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ϧⲉⲛϩⲱⲃ">
<norm_group norm_group="ϧⲉⲛϩⲱⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u176" func="case" head="#u177" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲱⲃ">
<norm xml:id="u177" func="obl" head="#u174" pos="N" lemma="ϩⲱⲃ" norm="ϩⲱⲃ">
ϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u178" func="det" head="#u177" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲥⲛⲁϩϯ">
<norm_group norm_group="ϣⲁⲥⲛⲁϩϯ">
<orig orig="ϣⲁ">
<norm xml:id="u179" func="aux" head="#u181" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u180" func="nsubj" head="#u181" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲛⲁϩϯ">
<norm xml:id="u181" func="parataxis" head="#u174" pos="V" lemma="ⲛⲁϩϯ" norm="ⲛⲁϩϯ">
ⲛⲁϩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲱⲃ">
<norm_group norm_group="ϧⲉⲛϩⲱⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u182" func="case" head="#u183" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲱⲃ">
<norm xml:id="u183" func="obl" head="#u181" pos="N" lemma="ϩⲱⲃ" norm="ϩⲱⲃ">
ϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u184" func="det" head="#u183" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲥⲉⲣϩⲉⲗⲡⲓⲥ">
<norm_group norm_group="ϣⲁⲥⲉⲣϩⲉⲗⲡⲓⲥ">
<orig orig="ϣⲁ">
<norm xml:id="u185" func="aux" head="#u187" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u186" func="nsubj" head="#u187" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲉⲣϩⲉⲗⲡⲓⲥ">
<norm xml:id="u187" func="parataxis" head="#u181" pos="V" lemma="ⲉⲣϩⲉⲗⲡⲓⲥ" norm="ⲉⲣϩⲉⲗⲡⲓⲥ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ϩⲉⲗⲡⲓⲥ">
ϩⲉⲗⲡⲓⲥ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲱⲃ">
<norm_group norm_group="ϧⲉⲛϩⲱⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u188" func="case" head="#u189" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲱⲃ">
<norm xml:id="u189" func="obl" head="#u187" pos="N" lemma="ϩⲱⲃ" norm="ϩⲱⲃ">
ϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u190" func="det" head="#u189" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲥⲁⲙⲟⲛⲓ">
<norm_group norm_group="ϣⲁⲥⲁⲙⲟⲛⲓ">
<orig orig="ϣⲁ">
<norm xml:id="u191" func="aux" head="#u193" pos="AAOR" lemma="ϣⲁⲣⲉ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u192" func="nsubj" head="#u193" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲁⲙⲟⲛⲓ">
<norm xml:id="u193" func="parataxis" head="#u187" pos="V" lemma="ⲁⲙⲟⲛⲓ" norm="ⲁⲙⲟⲛⲓ">
ⲁⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲟⲧⲥ">
<norm_group norm_group="ⲛⲧⲟⲧⲥ">
<orig orig="ⲛⲧⲟⲧ">
<norm xml:id="u194" func="case" head="#u195" pos="PREP" lemma="ⲛⲧⲉⲛ" norm="ⲛⲧⲟⲧ">
ⲛⲧⲟⲧ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u195" func="obl" head="#u193" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲱⲃ">
<norm_group norm_group="ϧⲉⲛϩⲱⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u196" func="case" head="#u197" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲱⲃ">
<norm xml:id="u197" func="obl" head="#u193" pos="N" lemma="ϩⲱⲃ" norm="ϩⲱⲃ">
ϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u198" func="det" head="#u197" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u199" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Love never fails. But where there are prophecies, they will be done away with. Where there are various languages, they will cease. Where there is knowledge, it will be done away with.">
<orig_group orig_group="ϯⲁⲅⲁⲡⲏ">
<norm_group norm_group="ϯⲁⲅⲁⲡⲏ">
<orig orig="ϯⲁⲅⲁⲡⲏ">
<norm xml:id="u200" func="cc" head="#u203" new_sent="true" pos="N" lemma="ϯⲁⲅⲁⲡⲏ" norm="ϯⲁⲅⲁⲡⲏ">
ϯⲁⲅⲁⲡⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲥϩⲉⲓ">
<norm_group norm_group="ⲙⲡⲁⲥϩⲉⲓ">
<orig orig="ⲙⲡⲁ">
<norm xml:id="u201" func="aux" head="#u203" pos="ANEGAOR" lemma="ⲙⲡⲁⲣⲉ" norm="ⲙⲡⲁ">
ⲙⲡⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u202" func="nsubj" head="#u203" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϩⲉⲓ">
<norm xml:id="u203" func="root" pos="V" lemma="ϩⲉⲓ" norm="ϩⲉⲓ">
ϩⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲛⲉϩ">
<norm_group norm_group="ⲉⲛⲉϩ">
<orig orig="ⲉⲛⲉϩ">
<norm xml:id="u204" func="advmod" head="#u203" pos="N" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲧⲉ">
<norm_group norm_group="ⲓⲧⲉ">
<orig orig="ⲓⲧⲉ">
<norm xml:id="u205" func="cc" head="#u206" pos="V" lemma="ⲓⲧⲉ" norm="ⲓⲧⲉ">
<lang lang="Greek">
ⲓⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲡⲣⲟⲫⲏ">
<norm_group norm_group="ⲛⲓⲡⲣⲟⲫⲏ">
<orig orig="ⲛⲓⲡⲣⲟⲫⲏ">
<norm xml:id="u206" func="obl" head="#u203" pos="PREP" lemma="ⲛⲓⲡⲣⲟⲫⲏ" norm="ⲛⲓⲡⲣⲟⲫⲏ">
ⲛⲓⲡⲣⲟⲫⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲓⲁ">
<norm_group norm_group="ⲧⲓⲁ">
<orig orig="ⲧ">
<norm xml:id="u207" func="det" head="#u208" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲓⲁ">
<norm xml:id="u208" func="appos" head="#u206" pos="N" lemma="ⲓⲁ" norm="ⲓⲁ">
ⲓⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲉⲛⲁⲕⲱⲣϥ">
<norm_group norm_group="ⲥⲉⲛⲁⲕⲱⲣϥ">
<orig orig="ⲥⲉ">
<norm xml:id="u209" func="nsubj" head="#u211" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u210" func="aux" head="#u211" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲕⲱⲣϥ">
<norm xml:id="u211" func="parataxis" head="#u203" pos="V" lemma="ⲕⲱⲣϥ" norm="ⲕⲱⲣϥ">
ⲕⲱⲣϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲧⲉ">
<norm_group norm_group="ⲓⲧⲉ">
<orig orig="ⲓⲧⲉ">
<norm xml:id="u212" func="case" head="#u214" pos="PREP" lemma="ⲓⲧⲉ" norm="ⲓⲧⲉ">
<lang lang="Greek">
ⲓⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲗⲁⲥ">
<norm_group norm_group="ⲛⲓⲗⲁⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u213" func="det" head="#u214" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲥ">
<norm xml:id="u214" func="dislocated" head="#u217" pos="N" lemma="ⲗⲁⲥ" norm="ⲗⲁⲥ">
ⲗⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲉⲛⲁⲗⲟϫⲟⲩ">
<norm_group norm_group="ⲥⲉⲛⲁⲗⲟϫⲟⲩ">
<orig orig="ⲥⲉ">
<norm xml:id="u215" func="nsubj" head="#u217" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u216" func="aux" head="#u217" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲗⲟϫ">
<norm xml:id="u217" func="parataxis" head="#u211" pos="V" lemma="ⲗⲟϫ" norm="ⲗⲟϫ">
ⲗⲟϫ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u218" func="obj" head="#u217" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲧⲉ">
<norm_group norm_group="ⲓⲧⲉ">
<orig orig="ⲓⲧⲉ">
<norm xml:id="u219" func="advmod" head="#u221" pos="PREP" lemma="ⲓⲧⲉ" norm="ⲓⲧⲉ">
<lang lang="Greek">
ⲓⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲉⲙⲓ">
<norm_group norm_group="ⲟⲩⲉⲙⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u220" func="det" head="#u221" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉⲙⲓ">
<norm xml:id="u221" func="parataxis" head="#u217" pos="N" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u222" func="cop" head="#u221" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲕⲱⲣϥ">
<norm_group norm_group="ϥⲛⲁⲕⲱⲣϥ">
<orig orig="ϥ">
<norm xml:id="u223" func="nsubj" head="#u225" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u224" func="aux" head="#u225" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲕⲱⲣϥ">
<norm xml:id="u225" func="parataxis" head="#u217" pos="V" lemma="ⲕⲱⲣϥ" norm="ⲕⲱⲣϥ">
ⲕⲱⲣϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u226" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="For we know in part, and we prophesy in part;">
<orig_group orig_group="ϧⲉⲛⲟⲩⲙⲉⲣⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲙⲉⲣⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u227" func="case" head="#u229" new_sent="true" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u228" func="det" head="#u229" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲣⲟⲥ">
<norm xml:id="u229" func="obl" head="#u232" pos="N" lemma="ⲙⲉⲣⲟⲥ" norm="ⲙⲉⲣⲟⲥ">
<lang lang="Greek">
ⲙⲉⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u230" func="advmod" head="#u232" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲛⲉⲙⲓ">
<norm_group norm_group="ⲧⲉⲛⲉⲙⲓ">
<orig orig="ⲧⲉⲛ">
<norm xml:id="u231" func="nsubj" head="#u232" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲉⲙⲓ">
<norm xml:id="u232" func="root" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u233" func="cc" head="#u238" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲙⲉⲣⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲙⲉⲣⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u234" func="case" head="#u236" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u235" func="det" head="#u236" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲣⲟⲥ">
<norm xml:id="u236" func="obl" head="#u238" pos="N" lemma="ⲙⲉⲣⲟⲥ" norm="ⲙⲉⲣⲟⲥ">
<lang lang="Greek">
ⲙⲉⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲛⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<norm_group norm_group="ⲧⲉⲛⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<orig orig="ⲧⲉⲛ">
<norm xml:id="u237" func="nsubj" head="#u238" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<norm xml:id="u238" func="conj" head="#u232" pos="V" lemma="ⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ" norm="ⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
ⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u239" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="but when that which is complete has come, then that which is partial will be done away with.">
<orig_group orig_group="ⲉϣⲱⲡ">
<norm_group norm_group="ⲉϣⲱⲡ">
<orig orig="ⲉ">
<norm xml:id="u240" func="mark" head="#u241" new_sent="true" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϣⲱⲡ">
<norm xml:id="u241" func="advcl" head="#u244" pos="V" lemma="ϣⲱⲡ" norm="ϣⲱⲡ">
ϣⲱⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u242" func="advmod" head="#u252" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲛⲓ">
<norm_group norm_group="ⲁϥϣⲁⲛⲓ">
<orig orig="ⲁϥϣⲁⲛ">
<norm xml:id="u243" func="nsubj" head="#u244" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲛⲑⲟϥ" norm="ⲁϥϣⲁⲛ">
ⲁϥϣⲁⲛ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u244" func="advcl" head="#u252" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲉⲡⲓⲧⲉⲗⲓⲟⲛ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲧⲉⲗⲓⲟⲛ">
<orig orig="ⲛϫⲉ">
<norm xml:id="u245" func="case" head="#u247" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u246" func="det" head="#u247" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲧⲉⲗⲓⲟⲛ">
<norm xml:id="u247" func="dislocated" head="#u244" pos="N" lemma="ⲧⲉⲗⲓⲟⲛ" norm="ⲧⲉⲗⲓⲟⲛ">
<lang lang="Greek">
ⲧⲉⲗⲓⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲁⲡⲟⲙⲉⲣⲟⲥ">
<norm_group norm_group="ⲡⲓⲁⲡⲟⲙⲉⲣⲟⲥ">
<orig orig="ⲡⲓ">
<norm xml:id="u248" func="det" head="#u249" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲁⲡⲟⲙⲉⲣⲟⲥ">
<norm xml:id="u249" func="appos" head="#u247" pos="N" lemma="ⲁⲡⲟⲙⲉⲣⲟⲥ" norm="ⲁⲡⲟⲙⲉⲣⲟⲥ">
ⲁⲡⲟⲙⲉⲣⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲕⲱⲣϥ">
<norm_group norm_group="ϥⲛⲁⲕⲱⲣϥ">
<orig orig="ϥ">
<norm xml:id="u250" func="nsubj" head="#u252" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u251" func="aux" head="#u252" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲕⲱⲣϥ">
<norm xml:id="u252" func="root" pos="V" lemma="ⲕⲱⲣϥ" norm="ⲕⲱⲣϥ">
ⲕⲱⲣϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u253" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="When I was a child, I spoke as a child, I felt as a child, I thought as a child. Now that I have become a man, I have put away childish things.">
<orig_group orig_group="ⲉⲓⲟⲓ">
<norm_group norm_group="ⲉⲓⲟⲓ">
<orig orig="ⲉ">
<norm xml:id="u254" func="mark" head="#u256" new_sent="true" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u255" func="nsubj" head="#u256" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲟⲓ">
<norm xml:id="u256" func="advcl" head="#u261" pos="VSTAT" lemma="ⲓⲣⲓ" norm="ⲟⲓ">
ⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲗⲟⲩ">
<norm_group norm_group="ⲛⲁⲗⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u257" func="case" head="#u258" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲗⲟⲩ">
<norm xml:id="u258" func="obl" head="#u256" pos="N" lemma="ⲁⲗⲟⲩ" norm="ⲁⲗⲟⲩ">
ⲁⲗⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲛⲁⲓⲥⲁϫⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u259" func="aux" head="#u261" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u260" func="nsubj" head="#u261" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u261" func="root" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u262" func="cop" head="#u261" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ">
<norm xml:id="u263" func="case" head="#u265" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u264" func="det" head="#u265" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u265" func="obl" head="#u261" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲁⲗⲟⲩ">
<norm_group norm_group="ⲛⲟⲩⲁⲗⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u266" func="case" head="#u268" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u267" func="det" head="#u268" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲗⲟⲩ">
<norm xml:id="u268" func="nmod" head="#u265" pos="N" lemma="ⲁⲗⲟⲩ" norm="ⲁⲗⲟⲩ">
ⲁⲗⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓⲥⲟϭⲛⲓ">
<norm_group norm_group="ⲛⲁⲓⲥⲟϭⲛⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u269" func="aux" head="#u271" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u270" func="nsubj" head="#u271" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲟϭⲛⲓ">
<norm xml:id="u271" func="parataxis" head="#u261" pos="V" lemma="ⲥⲟϭⲛⲓ" norm="ⲥⲟϭⲛⲓ">
ⲥⲟϭⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u272" func="cop" head="#u271" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ">
<norm xml:id="u273" func="case" head="#u275" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u274" func="det" head="#u275" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u275" func="obl" head="#u271" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲁⲗⲟⲩ">
<norm_group norm_group="ⲛⲟⲩⲁⲗⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u276" func="case" head="#u278" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u277" func="det" head="#u278" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲗⲟⲩ">
<norm xml:id="u278" func="nmod" head="#u275" pos="N" lemma="ⲁⲗⲟⲩ" norm="ⲁⲗⲟⲩ">
ⲁⲗⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓⲙⲉⲩⲓ">
<norm_group norm_group="ⲛⲁⲓⲙⲉⲩⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u279" func="aux" head="#u281" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u280" func="nsubj" head="#u281" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u281" func="conj" head="#u261" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u282" func="cop" head="#u281" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ">
<norm xml:id="u283" func="case" head="#u285" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u284" func="det" head="#u285" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u285" func="obl" head="#u281" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲁⲗⲟⲩ">
<norm_group norm_group="ⲛⲟⲩⲁⲗⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u286" func="case" head="#u288" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u287" func="det" head="#u288" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲗⲟⲩ">
<norm xml:id="u288" func="nmod" head="#u285" pos="N" lemma="ⲁⲗⲟⲩ" norm="ⲁⲗⲟⲩ">
ⲁⲗⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲟⲧⲉ">
<norm_group norm_group="ϩⲟⲧⲉ">
<orig orig="ϩⲟⲧⲉ">
<norm xml:id="u289" func="cc" head="#u296" pos="CONJ" lemma="ϩⲟⲧⲉ" norm="ϩⲟⲧⲉ">
<lang lang="Greek">
ϩⲟⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲓⲉⲣⲣⲱⲙⲓ">
<norm_group norm_group="ⲉⲧⲁⲓⲉⲣⲣⲱⲙⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u290" func="aux" head="#u293" pos="APREC" lemma="ⲉⲧ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u291" func="aux" head="#u293" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u292" func="nsubj" head="#u293" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲣⲱⲙⲓ">
<norm xml:id="u293" func="advcl" head="#u296" pos="V" lemma="ⲉⲣⲣⲱⲙⲓ" norm="ⲉⲣⲣⲱⲙⲓ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲕⲱⲣϥ">
<norm_group norm_group="ⲁⲓⲕⲱⲣϥ">
<orig orig="ⲁ">
<norm xml:id="u294" func="aux" head="#u296" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u295" func="nsubj" head="#u296" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲕⲱⲣϥ">
<norm xml:id="u296" func="conj" head="#u261" pos="V" lemma="ⲕⲱⲣϥ" norm="ⲕⲱⲣϥ">
ⲕⲱⲣϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲁ">
<norm_group norm_group="ⲛⲛⲁ">
<orig orig="ⲛ">
<norm xml:id="u297" func="case" head="#u298" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u298" func="obj" head="#u296" pos="PPOS" lemma="ⲫⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲙⲉⲧⲁⲗⲟⲩ">
<norm_group norm_group="ϯⲙⲉⲧⲁⲗⲟⲩ">
<orig orig="ϯ">
<norm xml:id="u299" func="det" head="#u300" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲁⲗⲟⲩ">
<norm xml:id="u300" func="nmod" head="#u298" pos="N" lemma="ⲙⲉⲧⲁⲗⲟⲩ" norm="ⲙⲉⲧⲁⲗⲟⲩ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲁⲗⲟⲩ">
ⲁⲗⲟⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u301" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="For now we see in a mirror, dimly, but then face to face. Now I know in part, but then I will know fully, even as I was also fully known.">
<orig_group orig_group="ⲧⲉⲛⲛⲁⲩ">
<norm_group norm_group="ⲧⲉⲛⲛⲁⲩ">
<orig orig="ⲧⲉⲛ">
<norm xml:id="u302" func="nsubj" head="#u303" new_sent="true" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u303" func="root" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u304" func="advmod" head="#u303" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲟⲩ">
<norm_group norm_group="ϯⲛⲟⲩ">
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u305" func="advmod" head="#u303" pos="ADV" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉⲃⲟⲗ">
<norm xml:id="u306" func="case" head="#u309" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲧⲉⲛⲟⲩⲓⲁⲗ">
<norm_group norm_group="ϩⲓⲧⲉⲛⲟⲩⲓⲁⲗ">
<orig orig="ϩⲓⲧⲉⲛ">
<norm xml:id="u307" func="fixed" head="#u306" pos="PREP" lemma="ϩⲓⲧⲉⲛ" norm="ϩⲓⲧⲉⲛ">
ϩⲓⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u308" func="det" head="#u309" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲓⲁⲗ">
<norm xml:id="u309" func="obl" head="#u303" pos="N" lemma="ⲓⲁⲗ" norm="ⲓⲁⲗ">
ⲓⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲑⲟⲛⲧⲉⲛ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲑⲟⲛⲧⲉⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u310" func="case" head="#u312" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u311" func="det" head="#u312" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲑⲟⲛⲧⲉⲛ">
<norm xml:id="u312" func="obl" head="#u303" pos="N" lemma="ⲑⲟⲛⲧⲉⲛ" norm="ⲑⲟⲛⲧⲉⲛ">
ⲑⲟⲛⲧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲟⲧⲉ">
<norm_group norm_group="ⲧⲟⲧⲉ">
<orig orig="ⲧⲟⲧⲉ">
<norm xml:id="u313" func="advmod" head="#u316" pos="ADV" lemma="ⲧⲟⲧⲉ" norm="ⲧⲟⲧⲉ">
<lang lang="Greek">
ⲧⲟⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲛⲛⲁⲛⲁⲩ">
<norm_group norm_group="ⲧⲉⲛⲛⲁⲛⲁⲩ">
<orig orig="ⲧⲉⲛ">
<norm xml:id="u314" func="nsubj" head="#u316" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u315" func="aux" head="#u316" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u316" func="parataxis" head="#u303" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲟ">
<norm_group norm_group="ⲛϩⲟ">
<orig orig="ⲛ">
<norm xml:id="u317" func="case" head="#u318" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u318" func="obl" head="#u316" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲃⲉ">
<norm_group norm_group="ⲟⲩⲃⲉ">
<orig orig="ⲟⲩⲃⲉ">
<norm xml:id="u319" func="case" head="#u320" pos="PREP" lemma="ⲟⲩⲃⲉ" norm="ⲟⲩⲃⲉ">
ⲟⲩⲃⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲟ">
<norm_group norm_group="ϩⲟ">
<orig orig="ϩⲟ">
<norm xml:id="u320" func="obl" head="#u316" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲙⲓ">
<norm_group norm_group="ⲁⲓⲉⲙⲓ">
<orig orig="ⲁ">
<norm xml:id="u321" func="aux" head="#u323" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u322" func="nsubj" head="#u323" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲙⲓ">
<norm xml:id="u323" func="parataxis" head="#u316" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲟⲩ">
<norm_group norm_group="ϯⲛⲟⲩ">
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u324" func="advmod" head="#u323" pos="ADV" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲙⲉⲣⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲙⲉⲣⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u325" func="case" head="#u327" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u326" func="det" head="#u327" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲣⲟⲥ">
<norm xml:id="u327" func="obl" head="#u323" pos="N" lemma="ⲙⲉⲣⲟⲥ" norm="ⲙⲉⲣⲟⲥ">
<lang lang="Greek">
ⲙⲉⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲥⲏⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲥⲏⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u328" func="case" head="#u330" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u329" func="det" head="#u330" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲏⲟⲩ">
<norm xml:id="u330" func="obl" head="#u334" pos="N" lemma="ⲥⲏⲟⲩ" norm="ⲥⲏⲟⲩ">
ⲥⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u331" func="advmod" head="#u334" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲉⲙⲓ">
<norm_group norm_group="ϯⲛⲁⲉⲙⲓ">
<orig orig="ϯ">
<norm xml:id="u332" func="nsubj" head="#u334" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u333" func="aux" head="#u334" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲙⲓ">
<norm xml:id="u334" func="parataxis" head="#u323" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲁⲧⲁⲫⲣⲏϯ">
<norm_group norm_group="ⲕⲁⲧⲁⲫⲣⲏϯ">
<orig orig="ⲕⲁⲧⲁ">
<norm xml:id="u335" func="case" head="#u337" pos="PREP" lemma="ⲕⲁⲧⲁ" norm="ⲕⲁⲧⲁ">
<lang lang="Greek">
ⲕⲁⲧⲁ
</lang>
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u336" func="det" head="#u337" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u337" func="obl" head="#u334" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩⲥⲟⲩⲱⲛⲧ">
<norm_group norm_group="ⲉⲧⲁⲩⲥⲟⲩⲱⲛⲧ">
<orig orig="ⲉⲧ">
<norm xml:id="u338" func="mark" head="#u341" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u339" func="aux" head="#u341" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u340" func="nsubj" head="#u341" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲱⲛ">
<norm xml:id="u341" func="acl:relcl" head="#u337" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲟⲩⲱⲛ">
ⲥⲟⲩⲱⲛ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u342" func="obj" head="#u341" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲧ">
ⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u343" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="But now faith, hope, and love remain--these three. The greatest of these is love.">
<orig_group orig_group="ϯⲛⲟⲩ">
<norm_group norm_group="ϯⲛⲟⲩ">
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u344" func="advmod" head="#u349" new_sent="true" pos="ADV" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u345" func="advmod" head="#u349" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲓⲅ">
<norm_group norm_group="ⲡⲁⲓⲅ">
<orig orig="ⲡⲁⲓ">
<norm xml:id="u346" func="det" head="#u347" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲅ">
<norm xml:id="u347" func="dislocated" head="#u349" pos="NUM" lemma="ⲅ" norm="ⲅ">
ⲅ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲉⲥⲙⲟⲛⲧ">
<norm_group norm_group="ⲥⲉⲥⲙⲟⲛⲧ">
<orig orig="ⲥⲉ">
<norm xml:id="u348" func="nsubj" head="#u349" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲥⲙⲟⲛⲧ">
<norm xml:id="u349" func="root" pos="VSTAT" lemma="ⲥⲉⲙⲛⲉ" norm="ⲥⲙⲟⲛⲧ">
ⲥⲙⲟⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲁϩϯ">
<norm_group norm_group="ⲫⲛⲁϩϯ">
<orig orig="ⲫ">
<norm xml:id="u350" func="det" head="#u351" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲁϩϯ">
<norm xml:id="u351" func="obj" head="#u349" pos="N" lemma="ⲛⲁϩϯ" norm="ⲛⲁϩϯ">
ⲛⲁϩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯϩⲉⲗⲡⲓⲥ">
<norm_group norm_group="ϯϩⲉⲗⲡⲓⲥ">
<orig orig="ϯ">
<norm xml:id="u352" func="det" head="#u353" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲉⲗⲡⲓⲥ">
<norm xml:id="u353" func="dislocated" head="#u349" pos="N" lemma="ϩⲉⲗⲡⲓⲥ" norm="ϩⲉⲗⲡⲓⲥ">
<lang lang="Greek">
ϩⲉⲗⲡⲓⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲁⲅⲁⲡⲏ">
<norm_group norm_group="ⲧⲁⲅⲁⲡⲏ">
<orig orig="ⲧ">
<norm xml:id="u354" func="det" head="#u355" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲁⲅⲁⲡⲏ">
<norm xml:id="u355" func="nmod:unmarked" head="#u353" pos="N" lemma="ⲁⲅⲁⲡⲏ" norm="ⲁⲅⲁⲡⲏ">
<lang lang="Greek">
ⲁⲅⲁⲡⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲑⲛⲁⲁϥ">
<norm_group norm_group="ⲡⲉⲑⲛⲁⲁϥ">
<orig orig="ⲡⲉⲑ">
<norm xml:id="u356" func="mark" head="#u357" pos="NPROP" lemma="ⲡⲉⲑ" norm="ⲡⲉⲑ">
ⲡⲉⲑ
</norm>
</orig>
<orig orig="ⲛⲁⲁ">
<norm xml:id="u357" func="parataxis" head="#u349" pos="VBD" lemma="ⲛⲁⲁ" norm="ⲛⲁⲁ">
ⲛⲁⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u358" func="nsubj" head="#u357" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u359" func="advmod" head="#u357" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲁⲓ">
<norm_group norm_group="ϧⲉⲛⲛⲁⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u360" func="case" head="#u361" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u361" func="obl" head="#u357" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u362" func="cop" head="#u361" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲁⲅⲁⲡⲏ">
<norm_group norm_group="ϯⲁⲅⲁⲡⲏ">
<orig orig="ϯⲁⲅⲁⲡⲏ">
<norm xml:id="u363" func="nsubj" head="#u361" pos="NPROP" lemma="ϯⲁⲅⲁⲡⲏ" norm="ϯⲁⲅⲁⲡⲏ">
ϯⲁⲅⲁⲡⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u364" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
