<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="35" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.job.bohairic_ed:35" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="18_Iob_35" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="And Elius resumed and said,">
<orig_group orig_group="ⲁϥⲉⲣⲟⲩⲱ̀">
<norm_group norm_group="ⲁϥⲉⲣⲟⲩⲱ">
<orig orig="ⲁ">
<norm xml:id="u1" func="aux" head="#u3" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u2" func="nsubj" head="#u3" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲣⲟⲩⲱ̀">
<norm xml:id="u3" func="root" pos="V" lemma="ⲉⲣⲟⲩⲱ" norm="ⲉⲣⲟⲩⲱ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲱ">
ⲟⲩⲱ̀
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲉⲗⲓⲟⲩⲥ">
<norm_group norm_group="ⲛϫⲉⲉⲗⲓⲟⲩⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u4" func="case" head="#u5" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲉⲗⲓⲟⲩⲥ">
<norm xml:id="u5" func="dislocated" head="#u3" pos="NPROP" lemma="ⲉⲗⲓⲟⲩⲥ" norm="ⲉⲗⲓⲟⲩⲥ">
ⲉⲗⲓⲟⲩⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲁϥ">
<norm_group norm_group="ⲡⲉϫⲁϥ">
<orig orig="ⲡⲉϫⲁ">
<norm xml:id="u6" func="advcl" head="#u3" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲁ">
ⲡⲉϫⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u7" func="nsubj" head="#u6" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉ">
<norm_group norm_group="ϫⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u8" func="mark" head="#u6" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u9" func="advmod" head="#u3" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="What is this that thou thinkest to be according to right? who art thou that thou hast said, I am righteous before the Lord?">
<orig_group orig_group="ⲡⲁⲓⲣⲏϯ">
<norm_group norm_group="ⲡⲁⲓⲣⲏϯ">
<orig orig="ⲡⲁⲓ">
<norm xml:id="u10" func="det" head="#u11" new_sent="true" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u11" func="nsubj" head="#u12" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩ">
<norm_group norm_group="ⲟⲩ">
<orig orig="ⲟⲩ">
<norm xml:id="u12" func="root" pos="PINT" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u13" func="cop" head="#u12" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲕⲙⲉⲩⲓ̀">
<norm_group norm_group="ⲉⲧⲁⲕⲙⲉⲩⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u14" func="mark" head="#u17" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u15" func="aux" head="#u17" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u16" func="nsubj" head="#u17" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ̀">
<norm xml:id="u17" func="csubj" head="#u12" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u18" func="case" head="#u19" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u19" func="obl" head="#u17" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϩⲁⲡ">
<norm_group norm_group="ϧⲉⲛⲟⲩϩⲁⲡ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u20" func="case" head="#u22" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u21" func="det" head="#u22" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u22" func="obl" head="#u17" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u23" func="advmod" head="#u24" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟⲕ">
<norm_group norm_group="ⲛⲑⲟⲕ">
<orig orig="ⲛ̀ⲑⲟⲕ">
<norm xml:id="u24" func="nsubj" head="#u25" pos="PPERI" lemma="ⲛⲑⲟⲕ" norm="ⲛⲑⲟⲕ">
ⲛ̀ⲑⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u25" func="parataxis" head="#u12" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁⲕϫⲟⲥ">
<norm_group norm_group="ϫⲉⲁⲕϫⲟⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u26" func="mark" head="#u29" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u27" func="aux" head="#u29" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u28" func="nsubj" head="#u29" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ϫⲟ">
<norm xml:id="u29" func="advcl" head="#u25" pos="V" lemma="ϫⲟ" norm="ϫⲟ">
ϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u30" func="expl" head="#u29" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲙ̀ⲑⲟ">
<norm_group norm_group="ⲙⲡⲉⲙⲑⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u31" func="case" head="#u33" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u32" func="det" head="#u33" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲙ̀ⲑⲟ">
<norm xml:id="u33" func="obl" head="#u29" pos="N" lemma="ⲙⲑⲟ" norm="ⲉⲙⲑⲟ">
ⲉⲙ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲙⲡϭⲟⲉⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u34" func="case" head="#u36" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u35" func="det" head="#u36" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u36" func="nmod" head="#u33" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ϫⲉⲁⲛⲟⲕ">
<orig orig="ϫⲉ">
<norm xml:id="u37" func="mark" head="#u40" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u38" func="nsubj" head="#u40" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲑ̀ⲙⲏⲓ">
<norm_group norm_group="ⲟⲩⲑⲙⲏⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u39" func="det" head="#u40" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲑ̀ⲙⲏⲓ">
<norm xml:id="u40" func="ccomp" head="#u29" pos="N" lemma="ⲑⲙⲏⲓ" norm="ⲑⲙⲏⲓ">
<morph morph="ⲑ">
ⲑ̀
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u41" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="I will answer thee, and thy three friends.">
<orig_group orig_group="ⲓⲉ">
<norm_group norm_group="ⲓⲉ">
<orig orig="ⲓⲉ">
<norm xml:id="u42" func="cc" head="#u45" new_sent="true" pos="CONJ" lemma="ⲓⲉ" norm="ⲓⲉ">
ⲓⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲭ̀ⲛⲁϫⲟⲥ">
<norm_group norm_group="ⲭⲛⲁϫⲟⲥ">
<orig orig="ⲭ̀">
<norm xml:id="u43" func="nsubj" head="#u45" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲭ">
ⲭ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u44" func="aux" head="#u45" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲟ">
<norm xml:id="u45" func="root" pos="V" lemma="ϫⲟ" norm="ϫⲟ">
ϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u46" func="expl" head="#u45" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲟⲩ">
<norm_group norm_group="ϫⲉⲟⲩ">
<orig orig="ϫⲉ">
<norm xml:id="u47" func="mark" head="#u48" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u48" func="ccomp" head="#u45" pos="PINT" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϯⲛⲁⲁⲓϥ">
<norm_group norm_group="ⲡⲉϯⲛⲁⲁⲓϥ">
<orig orig="ⲡ">
<norm xml:id="u49" func="cop" head="#u48" pos="COP" lemma="ⲡⲉ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉ">
<norm xml:id="u50" func="mark" head="#u53" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u51" func="nsubj" head="#u53" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u52" func="aux" head="#u53" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲁⲓ">
<norm xml:id="u53" func="csubj" head="#u48" pos="V" lemma="ⲓⲣⲓ" norm="ⲁⲓ">
ⲁⲓ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u54" func="obj" head="#u53" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u55" func="mark" head="#u58" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣⲛⲟⲃⲓ">
<norm_group norm_group="ⲁⲓⲉⲣⲛⲟⲃⲓ">
<orig orig="ⲁ">
<norm xml:id="u56" func="aux" head="#u58" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u57" func="nsubj" head="#u58" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲛⲟⲃⲓ">
<norm xml:id="u58" func="advcl" head="#u53" pos="V" lemma="ⲉⲣⲛⲟⲃⲓ" norm="ⲉⲣⲛⲟⲃⲓ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u59" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="Look up to the sky and see; and consider the clouds, how high they are above thee.">
<orig_group orig_group="ⲁⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁⲛⲟⲕ">
<norm xml:id="u60" func="dislocated" head="#u64" new_sent="true" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u61" func="advmod" head="#u64" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲟⲩⲱϩⲉⲙ">
<norm_group norm_group="ϯⲛⲁⲟⲩⲱϩⲉⲙ">
<orig orig="ϯ">
<norm xml:id="u62" func="nsubj" head="#u64" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u63" func="aux" head="#u64" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲟⲩⲱϩⲉⲙ">
<norm xml:id="u64" func="root" pos="V" lemma="ⲟⲩⲱϩⲉⲙ" norm="ⲟⲩⲱϩⲉⲙ">
ⲟⲩⲱϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲕ">
<norm_group norm_group="ⲛⲁⲕ">
<orig orig="ⲛⲁ">
<norm xml:id="u65" func="case" head="#u66" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u66" func="obl" head="#u64" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲉⲕⲕⲉϣⲟⲙⲧ">
<norm_group norm_group="ⲛⲉⲙⲡⲉⲕⲕⲉϣⲟⲙⲧ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u67" func="case" head="#u69" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u68" func="nmod:poss" head="#u69" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲕⲉϣⲟⲙⲧ">
<norm xml:id="u69" func="obl" head="#u64" pos="N" lemma="ⲕⲉϣⲟⲙⲧ" norm="ⲕⲉϣⲟⲙⲧ">
ⲕⲉϣⲟⲙⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϣ̀ⲫⲏⲣ">
<norm_group norm_group="ⲛϣⲫⲏⲣ">
<orig orig="ⲛ̀">
<norm xml:id="u70" func="case" head="#u71" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϣ̀ⲫⲏⲣ">
<norm xml:id="u71" func="nmod" head="#u69" pos="N" lemma="ϣⲫⲏⲣ" norm="ϣⲫⲏⲣ">
ϣ̀ⲫⲏⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u72" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="If thou hast sinned, what wilt thou do?">
<orig_group orig_group="ϫⲟⲩϣⲧ">
<norm_group norm_group="ϫⲟⲩϣⲧ">
<orig orig="ϫⲟⲩϣⲧ">
<norm xml:id="u73" func="root" new_sent="true" pos="V" lemma="ϫⲟⲩϣⲧ" norm="ϫⲟⲩϣⲧ">
ϫⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϣⲱⲓ">
<norm_group norm_group="ⲉⲡϣⲱⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u74" func="case" head="#u76" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u75" func="det" head="#u76" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲓ">
<norm xml:id="u76" func="obl" head="#u73" pos="N" lemma="ϣⲱⲓ" norm="ϣⲱⲓ">
ϣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧ̀ⲫⲉ">
<norm_group norm_group="ⲉⲧⲫⲉ">
<orig orig="ⲉ̀">
<norm xml:id="u77" func="case" head="#u79" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u78" func="det" head="#u79" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ⲫⲉ">
<norm xml:id="u79" func="obl" head="#u73" pos="N" lemma="ⲫⲉ" norm="ⲫⲉ">
ⲫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u80" func="cc" head="#u81" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲁⲩ">
<norm_group norm_group="ⲁⲛⲁⲩ">
<orig orig="ⲁ̀ⲛⲁⲩ">
<norm xml:id="u81" func="conj" head="#u73" pos="VIMP" lemma="ⲛⲁⲩ" norm="ⲁⲛⲁⲩ">
ⲁ̀ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u82" func="advmod" head="#u83" pos="PPERS" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲓⲁⲧⲕ">
<norm_group norm_group="ⲙⲁⲓⲁⲧⲕ">
<orig orig="ⲙⲁ">
<norm xml:id="u83" func="parataxis" head="#u73" pos="V" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
<orig orig="ⲓⲁⲧ">
<norm xml:id="u84" func="xcomp" head="#u83" pos="N" lemma="ⲓⲉⲣ" norm="ⲓⲁⲧ">
ⲓⲁⲧ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u85" func="obj" head="#u84" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u86" func="advmod" head="#u83" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓϭⲏⲡⲓ">
<norm_group norm_group="ⲛⲛⲓϭⲏⲡⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u87" func="case" head="#u89" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u88" func="det" head="#u89" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϭⲏⲡⲓ">
<norm xml:id="u89" func="obl" head="#u84" pos="N" lemma="ϭⲏⲡⲓ" norm="ϭⲏⲡⲓ">
ϭⲏⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁⲩϭⲟⲥⲓ">
<norm_group norm_group="ϫⲉⲁⲩϭⲟⲥⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u90" func="mark" head="#u93" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u91" func="aux" head="#u93" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u92" func="nsubj" head="#u93" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u93" func="advcl" head="#u83" pos="V" lemma="ϭⲟⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲕ">
<norm_group norm_group="ⲉⲣⲟⲕ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u94" func="case" head="#u95" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u95" func="obl" head="#u93" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲁϣ">
<norm_group norm_group="ⲛⲁϣ">
<orig orig="ⲛ̀">
<norm xml:id="u96" func="case" head="#u97" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲁϣ">
<norm xml:id="u97" func="obl" head="#u93" pos="PINT" lemma="ⲁϣ" norm="ⲁϣ">
ⲁϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲣⲏϯ">
<norm_group norm_group="ⲛⲣⲏϯ">
<orig orig="ⲛ̀">
<norm xml:id="u98" func="case" head="#u99" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u99" func="nmod" head="#u97" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u100" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="and if too thou hast transgressed much, what canst thou perform?">
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u101" func="mark" head="#u103" new_sent="true" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲉⲣⲛⲟⲃⲓ">
<norm_group norm_group="ⲁⲕⲉⲣⲛⲟⲃⲓ">
<orig orig="ⲁ">
<norm xml:id="u102" func="aux" head="#u107" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕⲉⲣⲛⲟⲃⲓ">
<norm xml:id="u103" func="nsubj" head="#u107" pos="N" lemma="ⲕⲉⲣⲛⲟⲃⲓ" norm="ⲕⲉⲣⲛⲟⲃⲓ">
ⲕⲉⲣⲛⲟⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩ">
<norm_group norm_group="ⲟⲩ">
<orig orig="ⲟⲩ">
<norm xml:id="u104" func="obj" head="#u103" pos="PINT" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲧⲉⲕⲛⲁϣ̀ⲁⲓϥ">
<norm_group norm_group="ⲡⲉⲧⲉⲕⲛⲁϣⲁⲓϥ">
<orig orig="ⲡ">
<norm xml:id="u105" func="det" head="#u106" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲧⲉⲕ">
<norm xml:id="u106" func="obj" head="#u103" pos="N" lemma="ⲉⲧⲉⲕ" norm="ⲉⲧⲉⲕ">
ⲉⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲛⲁϣ̀ⲁⲓ">
<norm xml:id="u107" func="root" pos="VBD" lemma="ⲛⲁϣⲁⲓ" norm="ⲛⲁϣⲁⲓ">
ⲛⲁϣ̀ⲁⲓ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u108" func="obj" head="#u107" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u109" func="advmod" head="#u103" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u110" func="cc" head="#u122" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u111" func="mark" head="#u114" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲉⲣ">
<norm_group norm_group="ⲁⲕⲉⲣ">
<orig orig="ⲁ">
<norm xml:id="u112" func="aux" head="#u114" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u113" func="nsubj" head="#u114" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲉⲣ">
<norm xml:id="u114" func="advcl" head="#u122" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲙⲏϣ">
<norm_group norm_group="ⲟⲩⲙⲏϣ">
<orig orig="ⲟⲩ">
<norm xml:id="u115" func="det" head="#u116" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u116" func="obj" head="#u114" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲁ̀ⲛⲟⲙⲓⲁ">
<norm_group norm_group="ⲛⲁⲛⲟⲙⲓⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u117" func="case" head="#u118" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ">
<norm xml:id="u118" func="nmod" head="#u116" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩ">
<norm_group norm_group="ⲟⲩ">
<orig orig="ⲟⲩ">
<norm xml:id="u119" func="advmod" head="#u122" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u120" func="cop" head="#u119" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲉⲕⲛⲁϣ̀ϫⲉⲙϫⲟⲙ">
<norm_group norm_group="ⲉⲧⲉⲕⲛⲁϣϫⲉⲙϫⲟⲙ">
<orig orig="ⲉ̀ⲧⲉⲕⲛⲁϣ̀">
<norm xml:id="u121" func="nsubj" head="#u122" pos="PPERS" lemma="ⲉⲧⲉⲕⲛⲁϣ" norm="ⲉⲧⲉⲕⲛⲁϣ">
ⲉ̀ⲧⲉⲕⲛⲁϣ̀
</norm>
</orig>
<orig orig="ϫⲉⲙϫⲟⲙ">
<norm xml:id="u122" func="conj" head="#u107" pos="V" lemma="ϫⲉⲙϫⲟⲙ" norm="ϫⲉⲙϫⲟⲙ">
<morph morph="ϫⲉⲙ">
ϫⲉⲙ
</morph>
<morph morph="ϫⲟⲙ">
ϫⲟⲙ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲁⲙⲓⲟϥ">
<norm_group norm_group="ⲛⲑⲁⲙⲓⲟϥ">
<orig orig="ⲛ̀">
<norm xml:id="u123" func="mark" head="#u124" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲑⲁⲙⲓⲟ">
<norm xml:id="u124" func="xcomp" head="#u122" pos="V" lemma="ⲑⲁⲙⲓⲟ" norm="ⲑⲁⲙⲓⲟ">
ⲑⲁⲙⲓⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u125" func="obj" head="#u124" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u126" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="And suppose thou art righteous, what wilt thou give him? or what shall he receive of thy hand?">
<orig_group orig_group="ⲉⲡⲓⲇⲏ">
<norm_group norm_group="ⲉⲡⲓⲇⲏ">
<orig orig="ⲉⲡⲓⲇⲏ">
<norm xml:id="u127" func="mark" head="#u131" new_sent="true" pos="CONJ" lemma="ⲉⲡⲓⲇⲏ" norm="ⲉⲡⲓⲇⲏ">
<lang lang="Greek">
ⲉⲡⲓⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲛ">
<norm_group norm_group="ⲟⲩⲛ">
<orig orig="ⲟⲩⲛ">
<norm xml:id="u128" func="advmod" head="#u133" pos="PTC" lemma="ⲟⲩⲛ" norm="ⲟⲩⲛ">
ⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟⲕ">
<norm_group norm_group="ⲛⲑⲟⲕ">
<orig orig="ⲛ̀ⲑⲟⲕ">
<norm xml:id="u129" func="nsubj" head="#u131" pos="PPERI" lemma="ⲛⲑⲟⲕ" norm="ⲛⲑⲟⲕ">
ⲛ̀ⲑⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲑ̀ⲙⲏⲓ">
<norm_group norm_group="ⲟⲩⲑⲙⲏⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u130" func="det" head="#u131" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲑ̀ⲙⲏⲓ">
<norm xml:id="u131" func="root" pos="N" lemma="ⲑⲙⲏⲓ" norm="ⲑⲙⲏⲓ">
<morph morph="ⲑ">
ⲑ̀
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u132" func="advmod" head="#u133" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩ">
<norm_group norm_group="ⲟⲩ">
<orig orig="ⲟⲩ">
<norm xml:id="u133" func="parataxis" head="#u131" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u134" func="cop" head="#u133" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲉⲕⲛⲁϣ̀ⲧⲏⲓϥ">
<norm_group norm_group="ⲉⲧⲉⲕⲛⲁϣⲧⲏⲓϥ">
<orig orig="ⲉ̀ⲧⲉ">
<norm xml:id="u135" func="mark" head="#u138" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u136" func="nsubj" head="#u138" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u137" func="aux" head="#u138" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲏⲓ">
<norm xml:id="u138" func="csubj" head="#u133" pos="V" lemma="ϣⲧⲏⲓ" norm="ϣⲧⲏⲓ">
ϣ̀ⲧⲏⲓ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u139" func="obj" head="#u138" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥ">
<norm_group norm_group="ⲛⲁϥ">
<orig orig="ⲛⲁ">
<norm xml:id="u140" func="case" head="#u141" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u141" func="obl" head="#u138" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u142" func="advmod" head="#u143" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩ">
<norm_group norm_group="ⲟⲩ">
<orig orig="ⲟⲩ">
<norm xml:id="u143" func="parataxis" head="#u133" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u144" func="cop" head="#u143" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲉϥⲛⲁϭⲓⲧϥ">
<norm_group norm_group="ⲉⲧⲉϥⲛⲁϭⲓⲧϥ">
<orig orig="ⲉ̀ⲧⲉ">
<norm xml:id="u145" func="mark" head="#u148" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u146" func="nsubj" head="#u148" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u147" func="aux" head="#u148" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϭⲓⲧ">
<norm xml:id="u148" func="csubj" head="#u143" pos="V" lemma="ϭⲓ" norm="ϭⲓⲧ">
ϭⲓⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u149" func="obj" head="#u148" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u150" func="case" head="#u153" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u151" func="fixed" head="#u150" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕϫⲓϫ">
<norm_group norm_group="ⲛⲉⲕϫⲓϫ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u152" func="nmod:poss" head="#u153" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u153" func="obl" head="#u148" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u154" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Thy ungodliness may affect a man who is like to thee; or thy righteousness a son of man.">
<orig_group orig_group="ⲁⲣⲉ">
<norm_group norm_group="ⲁⲣⲉ">
<orig orig="ⲁⲣⲉ">
<norm xml:id="u155" func="mark" head="#u159" new_sent="true" pos="CFOC" lemma="ⲁⲣⲉ" norm="ⲁⲣⲉ">
ⲁⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲕⲙⲉⲧⲁ̀ⲥⲉⲃⲏⲥ">
<norm_group norm_group="ⲧⲉⲕⲙⲉⲧⲁⲥⲉⲃⲏⲥ">
<orig orig="ⲧⲉⲕ">
<norm xml:id="u156" func="nmod:poss" head="#u157" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲁ̀ⲥⲉⲃⲏⲥ">
<norm xml:id="u157" func="nsubj" head="#u159" pos="N" lemma="ⲙⲉⲧⲁⲥⲉⲃⲏⲥ" norm="ⲙⲉⲧⲁⲥⲉⲃⲏⲥ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<lang lang="Greek">
<morph morph="ⲁⲥⲉⲃⲏⲥ">
ⲁ̀ⲥⲉⲃⲏⲥ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϣⲱⲡⲓ">
<norm_group norm_group="ⲛⲁϣⲱⲡⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u158" func="aux" head="#u159" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u159" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲟⲩⲣⲱⲙⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u160" func="case" head="#u162" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u161" func="det" head="#u162" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u162" func="obl" head="#u159" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲟ̀ⲛⲓ">
<norm_group norm_group="ⲉϥⲟⲛⲓ">
<orig orig="ⲉ">
<norm xml:id="u163" func="mark" head="#u165" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u164" func="nsubj" head="#u165" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟ̀ⲛⲓ">
<norm xml:id="u165" func="acl:relcl" head="#u162" pos="VSTAT" lemma="ⲓⲛⲓ" norm="ⲟⲛⲓ">
ⲟ̀ⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲕ">
<norm_group norm_group="ⲙⲙⲟⲕ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u166" func="case" head="#u167" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u167" func="obl" head="#u165" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u168" func="advmod" head="#u175" pos="CONJ" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u169" func="cc" head="#u175" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲕⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
<norm_group norm_group="ⲧⲉⲕⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
<orig orig="ⲧⲉⲕ">
<norm xml:id="u170" func="nmod:poss" head="#u171" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
<norm xml:id="u171" func="dislocated" head="#u175" pos="N" lemma="ⲇⲓⲕⲉⲟⲥⲩⲛⲏ" norm="ⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
ⲇⲓⲕⲉⲟⲥⲩⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥⲛⲁϣⲱⲡⲓ">
<norm_group norm_group="ⲁⲥⲛⲁϣⲱⲡⲓ">
<orig orig="ⲁ">
<norm xml:id="u172" func="aux" head="#u175" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u173" func="nsubj" head="#u175" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u174" func="aux" head="#u175" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u175" func="conj" head="#u159" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϣⲏⲣⲓ">
<norm_group norm_group="ⲛⲟⲩϣⲏⲣⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u176" func="case" head="#u178" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u177" func="det" head="#u178" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u178" func="obl" head="#u175" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲣⲱⲙⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u179" func="case" head="#u180" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u180" func="nmod" head="#u178" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u181" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="They that are oppressed of a multitude will be ready to cry out; they will call for help because of the arm of many.">
<orig_group orig_group="ⲉⲩⲱϣ">
<norm_group norm_group="ⲉⲩⲱϣ">
<orig orig="ⲉ">
<norm xml:id="u182" func="mark" head="#u184" new_sent="true" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u183" func="nsubj" head="#u184" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<multiword multiword="ⲱϣ ⲉⲃⲟⲗ">
<orig orig="ⲱϣ">
<norm xml:id="u184" func="root" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u185" func="advmod" head="#u184" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲟⲩⲙⲏϣ">
<norm_group norm_group="ⲛⲧⲉⲛⲟⲩⲙⲏϣ">
<orig orig="ⲛ̀ⲧⲉⲛ">
<norm xml:id="u186" func="case" head="#u188" pos="PREP" lemma="ⲛⲧⲉⲛ" norm="ⲛⲧⲉⲛ">
ⲛ̀ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u187" func="det" head="#u188" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u188" func="obl" head="#u184" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲏⲉⲧⲟⲩϭⲓ">
<norm_group norm_group="ⲛϫⲉⲛⲏⲉⲧⲟⲩϭⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u189" func="case" head="#u190" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲏⲉⲧⲟⲩϭⲓ">
<norm xml:id="u190" func="dislocated" head="#u184" pos="V" lemma="ⲛⲏⲉⲧⲟⲩϭⲓ" norm="ⲛⲏⲉⲧⲟⲩϭⲓ">
ⲛⲏⲉⲧⲟⲩϭⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u191" func="case" head="#u192" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u192" func="nmod" head="#u190" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲟⲛⲥ">
<norm_group norm_group="ⲛϫⲟⲛⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u193" func="case" head="#u194" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲟⲛⲥ">
<norm xml:id="u194" func="obl" head="#u184" pos="N" lemma="ϫⲟⲛⲥ" norm="ϫⲟⲛⲥ">
ϫⲟⲛⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u195" func="advmod" head="#u184" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲱϣ">
<norm_group norm_group="ⲉⲩⲉⲱϣ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u196" func="nsubj" head="#u197" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<multiword multiword="ⲱϣ ⲉⲃⲟⲗ">
<orig orig="ⲱϣ">
<norm xml:id="u197" func="parataxis" head="#u184" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u198" func="advmod" head="#u197" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲡ̀ϫ̀ⲫⲟ">
<norm_group norm_group="ⲛⲧⲉⲛⲡϫⲫⲟ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u199" func="case" head="#u202" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u200" func="case" head="#u202" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u201" func="det" head="#u202" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϫ̀ⲫⲟ">
<norm xml:id="u202" func="obl" head="#u197" pos="N" lemma="ϫⲫⲟ" norm="ϫⲫⲟ">
ϫ̀ⲫⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲙⲏϣ">
<norm_group norm_group="ⲛⲟⲩⲙⲏϣ">
<orig orig="ⲛ̀">
<norm xml:id="u203" func="case" head="#u205" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u204" func="det" head="#u205" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u205" func="nmod" head="#u202" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u206" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="But none said, Where is God that made me, who appoints the night-watches;">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u207" func="cc" head="#u210" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉϥϫⲟⲥ">
<norm_group norm_group="ⲙⲡⲉϥϫⲟⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u208" func="case" head="#u210" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u209" func="nmod:poss" head="#u210" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ϫⲟⲥ">
<norm xml:id="u210" func="root" pos="N" lemma="ϫⲟⲥ" norm="ϫⲟⲥ">
ϫⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁϥⲑⲱⲛ">
<norm_group norm_group="ϫⲉⲁϥⲑⲱⲛ">
<orig orig="ϫⲉ">
<norm xml:id="u211" func="mark" head="#u214" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u212" func="aux" head="#u214" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u213" func="nsubj" head="#u214" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑⲱⲛ">
<norm xml:id="u214" func="ccomp" head="#u210" pos="PINT" lemma="ⲑⲱⲛ" norm="ⲑⲱⲛ">
ⲑⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u215" func="det" head="#u216" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u216" func="obj" head="#u214" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲧⲁϥⲑⲁⲙⲓⲟⲓ">
<norm_group norm_group="ⲫⲏⲉⲧⲁϥⲑⲁⲙⲓⲟⲓ">
<orig orig="ⲫⲏⲉⲧⲁ">
<norm xml:id="u217" func="aux" head="#u219" pos="V" lemma="ⲫⲏⲉⲧⲁ" norm="ⲫⲏⲉⲧⲁ">
ⲫⲏⲉⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u218" func="nsubj" head="#u219" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑⲁⲙⲓⲟⲓ">
<norm xml:id="u219" func="conj" head="#u214" pos="PREP" lemma="ⲑⲁⲙⲓⲟⲓ" norm="ⲑⲁⲙⲓⲟⲓ">
ⲑⲁⲙⲓⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u220" func="advmod" head="#u219" pos="PPOS" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲧⲑⲱϣ">
<norm_group norm_group="ⲫⲏⲉⲧⲑⲱϣ">
<orig orig="ⲫⲏⲉⲧ">
<norm xml:id="u221" func="cc" head="#u222" pos="N" lemma="ⲫⲏⲉⲧ" norm="ⲫⲏⲉⲧ">
ⲫⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲑⲱϣ">
<norm xml:id="u222" func="conj" head="#u214" pos="V" lemma="ⲑⲱϣ" norm="ⲑⲱϣ">
ⲑⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲟⲩⲉⲣϣⲓ">
<norm_group norm_group="ⲛⲛⲓⲟⲩⲉⲣϣⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u223" func="case" head="#u225" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u224" func="det" head="#u225" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲉⲣϣⲓ">
<norm xml:id="u225" func="obj" head="#u222" pos="N" lemma="ⲟⲩⲉⲣϣⲓ" norm="ⲟⲩⲉⲣϣⲓ">
ⲟⲩⲉⲣϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲓⲉ̀ϫⲱⲣϩ">
<norm_group norm_group="ⲛⲧⲉⲡⲓⲉϫⲱⲣϩ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u226" func="case" head="#u228" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u227" func="det" head="#u228" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϫⲱⲣϩ">
<norm xml:id="u228" func="nmod" head="#u225" pos="N" lemma="ϫⲱⲣϩ" norm="ⲉϫⲱⲣϩ">
ⲉ̀ϫⲱⲣϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u229" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="who makes me to differ from the four-footed beasts of the earth, and from the birds of the sky?">
<orig_group orig_group="ⲫⲏⲉⲧⲁϥⲫⲟⲣϫⲧⲉⲛ">
<norm_group norm_group="ⲫⲏⲉⲧⲁϥⲫⲟⲣϫⲧⲉⲛ">
<orig orig="ⲫⲏⲉⲧⲁ">
<norm xml:id="u230" func="aux" head="#u232" new_sent="true" pos="NPROP" lemma="ⲫⲏⲉⲧⲁ" norm="ⲫⲏⲉⲧⲁ">
ⲫⲏⲉⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u231" func="nsubj" head="#u232" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲫⲟⲣϫⲧⲉⲛ">
<norm xml:id="u232" func="root" pos="V" lemma="ⲫⲟⲣϫⲧⲉⲛ" norm="ⲫⲟⲣϫⲧⲉⲛ">
ⲫⲟⲣϫⲧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u233" func="advmod" head="#u232" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲧⲉⲃⲛⲱⲟⲩⲓ̀">
<norm_group norm_group="ϧⲉⲛⲛⲓⲧⲉⲃⲛⲱⲟⲩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u234" func="case" head="#u236" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u235" func="det" head="#u236" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲧⲉⲃⲛⲱⲟⲩⲓ̀">
<norm xml:id="u236" func="obl" head="#u232" pos="N" lemma="ⲧⲉⲃⲛⲱⲟⲩⲓ" norm="ⲧⲉⲃⲛⲱⲟⲩⲓ">
ⲧⲉⲃⲛⲱⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛⲧⲉⲡⲕⲁϩⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u237" func="case" head="#u239" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u238" func="det" head="#u239" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u239" func="nmod" head="#u236" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲉ̀ⲃⲟⲗϩⲁ">
<norm_group norm_group="ⲛⲉⲙⲉⲃⲟⲗϩⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u240" func="cc" head="#u241" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲉ̀ⲃⲟⲗϩⲁ">
<norm xml:id="u241" func="conj" head="#u236" pos="NPROP" lemma="ⲉⲃⲟⲗϩⲁ" norm="ⲉⲃⲟⲗϩⲁ">
ⲉ̀ⲃⲟⲗϩⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓϩⲁⲗⲁϯ">
<norm_group norm_group="ⲛⲓϩⲁⲗⲁϯ">
<orig orig="ⲛⲓ">
<norm xml:id="u242" func="det" head="#u243" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϩⲁⲗⲁϯ">
<norm xml:id="u243" func="conj" head="#u236" pos="N" lemma="ϩⲁⲗⲏⲧ" norm="ϩⲁⲗⲁϯ">
ϩⲁⲗⲁϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧ̀ⲫⲉ">
<norm_group norm_group="ⲛⲧⲉⲧⲫⲉ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u244" func="case" head="#u246" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u245" func="det" head="#u246" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ⲫⲉ">
<norm xml:id="u246" func="nmod" head="#u243" pos="N" lemma="ⲫⲉ" norm="ⲫⲉ">
ⲫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u247" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="There they shall cry, and none shall hearken, even because of the insolence of wicked men.">
<orig_group orig_group="ⲉⲩⲱϣ">
<norm_group norm_group="ⲉⲩⲱϣ">
<orig orig="ⲉ">
<norm xml:id="u248" func="mark" head="#u250" new_sent="true" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u249" func="nsubj" head="#u250" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<multiword multiword="ⲱϣ ⲉⲃⲟⲗ">
<orig orig="ⲱϣ">
<norm xml:id="u250" func="root" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u251" func="advmod" head="#u250" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲙ̀ⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙ̀ⲙⲁⲩ">
<norm xml:id="u252" func="advmod" head="#u250" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙ̀ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u253" func="cc" head="#u256" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲛⲛⲉϥⲥⲱⲧⲉⲙ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u254" func="aux" head="#u256" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u255" func="nsubj" head="#u256" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u256" func="conj" head="#u250" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲱⲟⲩ:">
<norm_group norm_group="ⲉⲣⲱⲟⲩ:">
<orig orig="ⲉ̀ⲣⲱⲟⲩ:">
<norm xml:id="u257" func="advmod" head="#u256" pos="N" lemma="ⲉⲣⲱⲟⲩ:" norm="ⲉⲣⲱⲟⲩ:">
ⲉ̀ⲣⲱⲟⲩ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲉ̀ⲃⲟⲗϩⲁ">
<norm_group norm_group="ⲛⲉⲙⲉⲃⲟⲗϩⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u258" func="cc" head="#u259" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲉ̀ⲃⲟⲗϩⲁ">
<norm xml:id="u259" func="conj" head="#u257" pos="NPROP" lemma="ⲉⲃⲟⲗϩⲁ" norm="ⲉⲃⲟⲗϩⲁ">
ⲉ̀ⲃⲟⲗϩⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ϣⲱϣ">
<norm_group norm_group="ⲡϣⲱϣ">
<orig orig="ⲡ̀">
<norm xml:id="u260" func="det" head="#u261" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱϣ">
<norm xml:id="u261" func="appos" head="#u259" pos="N" lemma="ϣⲟϣ" norm="ϣⲱϣ">
ϣⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲡⲟⲛⲏⲣⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲡⲟⲛⲏⲣⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u262" func="case" head="#u264" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u263" func="det" head="#u264" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲡⲟⲛⲏⲣⲟⲥ">
<norm xml:id="u264" func="nmod" head="#u261" pos="N" lemma="ⲡⲟⲛⲏⲣⲟⲥ" norm="ⲡⲟⲛⲏⲣⲟⲥ">
<lang lang="Greek">
ⲡⲟⲛⲏⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u265" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="For the Lord desires not to look on error, for he is the Almighty One.">
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲥ">
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u266" func="cc" head="#u269" new_sent="true" pos="N" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u267" func="advmod" head="#u269" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲟⲩⲱϣ">
<norm_group norm_group="ϥⲟⲩⲱϣ">
<orig orig="ϥ̀">
<norm xml:id="u268" func="nsubj" head="#u269" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲟⲩⲱϣ">
<norm xml:id="u269" func="root" pos="V" lemma="ⲟⲩⲱϣ" norm="ⲟⲩⲱϣ">
ⲟⲩⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u270" func="advmod" head="#u269" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲁⲩ">
<norm_group norm_group="ⲉⲛⲁⲩ">
<orig orig="ⲉ̀">
<norm xml:id="u271" func="mark" head="#u272" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u272" func="xcomp" head="#u269" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩⲁⲛⲙⲉⲧⲟ̀ϫⲓ">
<norm_group norm_group="ⲉϩⲁⲛⲙⲉⲧⲟϫⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u273" func="case" head="#u275" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u274" func="det" head="#u275" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲟ̀ϫⲓ">
<norm xml:id="u275" func="obl" head="#u272" pos="N" lemma="ⲙⲉⲧⲟϫⲓ" norm="ⲙⲉⲧⲟϫⲓ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲟϫⲓ">
ⲟ̀ϫⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u276" func="advmod" head="#u277" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u277" func="parataxis" head="#u269" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u278" func="advmod" head="#u277" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u279" func="cop" head="#u277" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm_group norm_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<orig orig="ⲡⲓ">
<norm xml:id="u280" func="det" head="#u281" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm xml:id="u281" func="nsubj" head="#u277" pos="N" lemma="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ" norm="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<lang lang="Greek">
ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u282" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="He beholds them that perform lawless deeds, and he will save me: and do thou plead before him, if thou canst praise him, as it is possible even now.">
<orig_group orig_group="ϥ̀ⲛⲁⲩ">
<norm_group norm_group="ϥⲛⲁⲩ">
<orig orig="ϥ̀">
<norm xml:id="u283" func="nsubj" head="#u284" new_sent="true" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u284" func="root" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲏⲉⲧϫⲱⲕ">
<norm_group norm_group="ⲉⲛⲏⲉⲧϫⲱⲕ">
<orig orig="ⲉ̀ⲛⲏⲉⲧ">
<norm xml:id="u285" func="advmod" head="#u286" pos="N" lemma="ⲉⲛⲏⲉⲧ" norm="ⲉⲛⲏⲉⲧ">
ⲉ̀ⲛⲏⲉⲧ
</norm>
</orig>
<orig orig="ϫⲱⲕ">
<norm xml:id="u286" func="xcomp" head="#u284" pos="V" lemma="ϫⲱⲕ" norm="ϫⲱⲕ">
ϫⲱⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲁ̀ⲛⲟⲙⲓⲁ">
<norm_group norm_group="ⲛⲛⲓⲁⲛⲟⲙⲓⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u287" func="case" head="#u289" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u288" func="det" head="#u289" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ">
<norm xml:id="u289" func="obj" head="#u286" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u290" func="advmod" head="#u286" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u291" func="cc" head="#u294" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲛⲁⲛⲁϩⲙⲉⲧ">
<norm_group norm_group="ϥⲛⲁⲛⲁϩⲙⲉⲧ">
<orig orig="ϥ̀">
<norm xml:id="u292" func="nsubj" head="#u294" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u293" func="aux" head="#u294" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲛⲁϩⲙⲉ">
<norm xml:id="u294" func="conj" head="#u286" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲁϩⲙⲉ">
ⲛⲁϩⲙⲉ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u295" func="obj" head="#u294" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u296" func="advmod" head="#u297" pos="N" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϭⲓϩⲁⲡ">
<norm_group norm_group="ϭⲓϩⲁⲡ">
<orig orig="ϭⲓϩⲁⲡ">
<norm xml:id="u297" func="parataxis" head="#u294" pos="V" lemma="ϭⲓϩⲁⲡ" norm="ϭⲓϩⲁⲡ">
<morph morph="ϭⲓ">
ϭⲓ
</morph>
<morph morph="ϩⲁⲡ">
ϩⲁⲡ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u298" func="advmod" head="#u297" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉϥⲙ̀ⲑⲟ">
<norm_group norm_group="ⲙⲡⲉϥⲙⲑⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u299" func="case" head="#u301" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u300" func="nmod:poss" head="#u301" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲙ̀ⲑⲟ">
<norm xml:id="u301" func="obj" head="#u297" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u302" func="advmod" head="#u297" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u303" func="advmod" head="#u297" pos="ADV" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u304" func="mark" head="#u306" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲭ̀ⲛⲁϣ̀ϫⲉⲙϫⲟⲙ">
<norm_group norm_group="ⲭⲛⲁϣϫⲉⲙϫⲟⲙ">
<orig orig="ⲭ̀ⲛⲁϣ̀">
<norm xml:id="u305" func="nsubj" head="#u306" pos="N" lemma="ⲭⲛⲁϣ" norm="ⲭⲛⲁϣ">
ⲭ̀ⲛⲁϣ̀
</norm>
</orig>
<orig orig="ϫⲉⲙϫⲟⲙ">
<norm xml:id="u306" func="advcl" head="#u297" pos="V" lemma="ϫⲉⲙϫⲟⲙ" norm="ϫⲉⲙϫⲟⲙ">
<morph morph="ϫⲉⲙ">
ϫⲉⲙ
</morph>
<morph morph="ϫⲟⲙ">
ϫⲟⲙ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲱⲥ">
<norm_group norm_group="ⲛϩⲱⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u307" func="case" head="#u308" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲱⲥ">
<norm xml:id="u308" func="xcomp" head="#u306" pos="V" lemma="ϩⲱⲥ" norm="ϩⲱⲥ">
<lang lang="Greek">
ϩⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u309" func="case" head="#u310" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u310" func="obl" head="#u308" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u311" func="case" head="#u313" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u312" func="det" head="#u313" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u313" func="obl" head="#u306" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲥ̀ϣⲉ">
<norm_group norm_group="ⲉⲧⲥϣⲉ">
<orig orig="ⲉⲧ">
<norm xml:id="u314" func="mark" head="#u315" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲥ̀ϣⲉ">
<norm xml:id="u315" func="acl:relcl" head="#u313" pos="V" lemma="ⲥϣⲉ" norm="ⲥϣⲉ">
ⲥ̀ϣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u316" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="15">
<translation translation="For he is not now regarding his wrath, nor has he noticed severely any trespass.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u317" func="cc" head="#u321" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲟⲩ">
<norm_group norm_group="ϯⲛⲟⲩ">
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u318" func="advmod" head="#u321" pos="ADV" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϥ̀ϣⲟⲡ">
<norm_group norm_group="ϫⲉϥϣⲟⲡ">
<orig orig="ϫⲉ">
<norm xml:id="u319" func="mark" head="#u321" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϥ̀">
<norm xml:id="u320" func="nsubj" head="#u321" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u321" func="root" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u322" func="advmod" head="#u321" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲫⲏⲉⲧϫⲉⲙⲡ̀ϣⲓⲛⲓ">
<norm_group norm_group="ⲛϫⲉⲫⲏⲉⲧϫⲉⲙⲡϣⲓⲛⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u323" func="case" head="#u324" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲫⲏⲉⲧϫⲉⲙⲡ̀ϣⲓⲛⲓ">
<norm xml:id="u324" func="dislocated" head="#u321" pos="V" lemma="ⲫⲏⲉⲧϫⲉⲙⲡϣⲓⲛⲓ" norm="ⲫⲏⲉⲧϫⲉⲙⲡϣⲓⲛⲓ">
ⲫⲏⲉⲧϫⲉⲙⲡ̀ϣⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉϥϫⲱⲛⲧ">
<norm_group norm_group="ⲙⲡⲉϥϫⲱⲛⲧ">
<orig orig="ⲙ̀ⲡⲉ">
<norm xml:id="u325" func="aux" head="#u327" pos="ANEGPST" lemma="ⲙⲡⲉ" norm="ⲙⲡⲉ">
ⲙ̀ⲡⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u326" func="nsubj" head="#u327" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱⲛⲧ">
<norm xml:id="u327" func="parataxis" head="#u321" pos="V" lemma="ϫⲱⲛⲧ" norm="ϫⲱⲛⲧ">
ϫⲱⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u328" func="advmod" head="#u333" pos="PPERO" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u329" func="cc" head="#u333" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉ">
<norm_group norm_group="ⲙⲡⲉ">
<orig orig="ⲙ̀">
<norm xml:id="u330" func="advmod" head="#u333" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉ">
<norm xml:id="u331" func="det" head="#u332" pos="ART" lemma="ⲡ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩ̀ⲗⲓ">
<norm_group norm_group="ϩⲗⲓ">
<orig orig="ϩ̀ⲗⲓ">
<norm xml:id="u332" func="nsubj" head="#u333" pos="N" lemma="ϩⲗⲓ" norm="ϩⲗⲓ">
ϩ̀ⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲙⲓ">
<norm_group norm_group="ⲉⲙⲓ">
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u333" func="conj" head="#u327" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩⲡⲁⲣⲁⲡⲧⲱⲙⲁ">
<norm_group norm_group="ⲉⲟⲩⲡⲁⲣⲁⲡⲧⲱⲙⲁ">
<orig orig="ⲉ̀">
<norm xml:id="u334" func="case" head="#u336" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u335" func="det" head="#u336" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲡⲁⲣⲁⲡⲧⲱⲙⲁ">
<norm xml:id="u336" func="obl" head="#u333" pos="N" lemma="ⲡⲁⲣⲁⲡⲧⲱⲙⲁ" norm="ⲡⲁⲣⲁⲡⲧⲱⲙⲁ">
<lang lang="Greek">
ⲡⲁⲣⲁⲡⲧⲱⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲙⲁϣⲱ">
<norm_group norm_group="ⲉⲙⲁϣⲱ">
<orig orig="ⲉⲙⲁϣⲱ">
<norm xml:id="u337" func="advmod" head="#u333" pos="ADV" lemma="ⲉⲙⲁϣⲱ" norm="ⲉⲙⲁϣⲱ">
ⲉⲙⲁϣⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u338" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="16">
<translation translation="Yet Job vainly opens his mouth, in ignorance he multiplies words.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u339" func="cc" head="#u343" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲱⲃ">
<norm_group norm_group="ⲓⲱⲃ">
<orig orig="ⲓⲱⲃ">
<norm xml:id="u340" func="dislocated" head="#u343" pos="NPROP" lemma="ⲓⲱⲃ" norm="ⲓⲱⲃ">
<lang lang="Hebrew">
ⲓⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲟⲩⲱⲛ">
<norm_group norm_group="ⲁϥⲟⲩⲱⲛ">
<orig orig="ⲁ">
<norm xml:id="u341" func="aux" head="#u343" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u342" func="nsubj" head="#u343" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲩⲱⲛ">
<norm xml:id="u343" func="root" pos="V" lemma="ⲟⲩⲱⲛ" norm="ⲟⲩⲱⲛ">
ⲟⲩⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲣⲱϥ">
<norm_group norm_group="ⲛⲣⲱϥ">
<orig orig="ⲛ̀">
<norm xml:id="u344" func="case" head="#u345" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲣⲱ">
<norm xml:id="u345" func="obj" head="#u343" pos="N" lemma="ⲣⲟ" norm="ⲣⲱ">
ⲣⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u346" func="nmod:poss" head="#u345" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲙⲉⲧⲉⲫⲗⲏⲟⲩ:">
<norm_group norm_group="ϧⲉⲛⲟⲩⲙⲉⲧⲉⲫⲗⲏⲟⲩ:">
<orig orig="ϧⲉⲛ">
<norm xml:id="u347" func="case" head="#u349" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u348" func="det" head="#u349" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲉⲫⲗⲏⲟⲩ:">
<norm xml:id="u349" func="obl" head="#u343" pos="N" lemma="ⲙⲉⲧⲉⲫⲗⲏⲟⲩ:" norm="ⲙⲉⲧⲉⲫⲗⲏⲟⲩ:">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲉⲫⲗⲏⲟⲩ:">
ⲉⲫⲗⲏⲟⲩ:
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲑ̀ⲣⲉ">
<norm_group norm_group="ⲁϥⲑⲣⲉ">
<orig orig="ⲁ">
<norm xml:id="u350" func="aux" head="#u352" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u351" func="nsubj" head="#u352" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑ̀ⲣⲉ">
<norm xml:id="u352" func="parataxis" head="#u343" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣⲉ">
ⲑ̀ⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉϥⲥⲁϫⲓ">
<norm_group norm_group="ⲛⲉϥⲥⲁϫⲓ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u353" func="nmod:poss" head="#u354" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u354" func="obj" head="#u352" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩ̀ⲣⲟϣ">
<norm_group norm_group="ϩⲣⲟϣ">
<orig orig="ϩ̀ⲣⲟϣ">
<norm xml:id="u355" func="xcomp" head="#u352" pos="V" lemma="ϩⲣⲟϣ" norm="ϩⲣⲟϣ">
ϩ̀ⲣⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲙⲉⲧⲁⲧⲉ̀ⲙⲓ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲙⲉⲧⲁⲧⲉⲙⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u356" func="case" head="#u358" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u357" func="det" head="#u358" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲁⲧⲉ̀ⲙⲓ">
<norm xml:id="u358" func="obl" head="#u355" pos="N" lemma="ⲙⲉⲧⲁⲧⲉⲙⲓ" norm="ⲙⲉⲧⲁⲧⲉⲙⲓ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲁⲧ">
ⲁⲧ
</morph>
<morph morph="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u359" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
