<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="23" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.job.bohairic_ed:23" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="18_Iob_23" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="Then Job answered and said,">
<orig_group orig_group="ⲁϥⲉⲣⲟⲩⲱ̀">
<norm_group norm_group="ⲁϥⲉⲣⲟⲩⲱ">
<orig orig="ⲁ">
<norm xml:id="u1" func="aux" head="#u3" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u2" func="nsubj" head="#u3" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲣⲟⲩⲱ̀">
<norm xml:id="u3" func="root" pos="V" lemma="ⲉⲣⲟⲩⲱ" norm="ⲉⲣⲟⲩⲱ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲱ">
ⲟⲩⲱ̀
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲓⲱⲃ">
<norm_group norm_group="ⲛϫⲉⲓⲱⲃ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u4" func="case" head="#u5" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲓⲱⲃ">
<norm xml:id="u5" func="dislocated" head="#u3" pos="NPROP" lemma="ⲓⲱⲃ" norm="ⲓⲱⲃ">
<lang lang="Hebrew">
ⲓⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲁϥ">
<norm_group norm_group="ⲡⲉϫⲁϥ">
<orig orig="ⲡⲉϫⲁ">
<norm xml:id="u6" func="advcl" head="#u3" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲁ">
ⲡⲉϫⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u7" func="nsubj" head="#u6" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉ">
<norm_group norm_group="ϫⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u8" func="mark" head="#u6" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u9" func="advmod" head="#u3" pos="EXIST" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Yea, I know that pleading is out of my reach; and his hand has been made heavy upon my groaning.">
<orig_group orig_group="ⲕⲉ">
<norm_group norm_group="ⲕⲉ">
<orig orig="ⲕⲉ">
<norm xml:id="u10" func="advmod" head="#u13" new_sent="true" pos="ART" lemma="ⲕⲉ" norm="ⲕⲉ">
ⲕⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u11" func="advmod" head="#u13" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲉ̀ⲙⲓ">
<norm_group norm_group="ϯⲉⲙⲓ">
<orig orig="ϯ">
<norm xml:id="u12" func="nsubj" head="#u13" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u13" func="root" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲡⲁⲥⲟϩⲓ">
<norm_group norm_group="ϫⲉⲡⲁⲥⲟϩⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u14" func="mark" head="#u17" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u15" func="nmod:poss" head="#u16" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲥⲟϩⲓ">
<norm xml:id="u16" func="nsubj" head="#u17" pos="N" lemma="ⲥⲟϩⲓ" norm="ⲥⲟϩⲓ">
ⲥⲟϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ">
<norm_group norm_group="ⲟⲩⲉⲃⲟⲗϩⲓⲧⲟⲧϥ">
<orig orig="ⲟⲩⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ">
<norm xml:id="u17" func="ccomp" head="#u13" pos="ADV" lemma="ⲟⲩⲉⲃⲟⲗϩⲓⲧⲟⲧϥ" norm="ⲟⲩⲉⲃⲟⲗϩⲓⲧⲟⲧϥ">
ⲟⲩⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u18" func="cop" head="#u17" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u19" func="cc" head="#u24" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉϥϫⲓϫ">
<norm_group norm_group="ⲧⲉϥϫⲓϫ">
<orig orig="ⲧⲉϥ">
<norm xml:id="u20" func="nmod:poss" head="#u21" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u21" func="dislocated" head="#u24" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥϩ̀ⲣⲟϣ">
<norm_group norm_group="ⲁⲥϩⲣⲟϣ">
<orig orig="ⲁ">
<norm xml:id="u22" func="aux" head="#u24" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u23" func="nsubj" head="#u24" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϩ̀ⲣⲟϣ">
<norm xml:id="u24" func="conj" head="#u17" pos="V" lemma="ϩⲣⲟϣ" norm="ϩⲣⲟϣ">
ϩ̀ⲣⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲁϥⲓⲁ̀ϩⲟⲙ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲁϥⲓⲁϩⲟⲙ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u25" func="case" head="#u26" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲁϥⲓⲁ̀ϩⲟⲙ">
<norm xml:id="u26" func="obl" head="#u24" pos="N" lemma="ⲡⲁϥⲓⲁϩⲟⲙ" norm="ⲡⲁϥⲓⲁϩⲟⲙ">
ⲡⲁϥⲓⲁ̀ϩⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u27" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Who would then know that I might find him, and come to an end of the matter?">
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u28" func="root" new_sent="true" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u29" func="advmod" head="#u28" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲛⲁⲉ̀ⲙⲓ">
<norm_group norm_group="ⲉⲑⲛⲁⲉⲙⲓ">
<orig orig="ⲉⲑ">
<norm xml:id="u30" func="mark" head="#u32" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u31" func="aux" head="#u32" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u32" func="csubj" head="#u28" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϯⲛⲁϫⲉⲙϥ">
<norm_group norm_group="ϫⲉϯⲛⲁϫⲉⲙϥ">
<orig orig="ϫⲉ">
<norm xml:id="u33" func="mark" head="#u36" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u34" func="nsubj" head="#u36" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u35" func="aux" head="#u36" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲉⲙ">
<norm xml:id="u36" func="ccomp" head="#u32" pos="V" lemma="ϫⲓⲙⲓ" norm="ϫⲉⲙ">
ϫⲉⲙ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u37" func="obj" head="#u36" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u38" func="advmod" head="#u36" pos="ADV" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u39" func="cc" head="#u43" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁⲩϯ">
<norm_group norm_group="ϫⲉⲁⲩϯ">
<orig orig="ϫⲉ">
<norm xml:id="u40" func="mark" head="#u43" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u41" func="aux" head="#u43" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u42" func="nsubj" head="#u43" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u43" func="conj" head="#u36" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲏⲓ">
<norm_group norm_group="ⲛⲉⲙⲏⲓ">
<orig orig="ⲛⲉⲙⲏ">
<norm xml:id="u44" func="case" head="#u45" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙⲏ">
ⲛⲉⲙⲏ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u45" func="obl" head="#u43" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲡ̀ϫⲱⲕ">
<norm_group norm_group="ϣⲁⲡϫⲱⲕ">
<orig orig="ϣⲁ">
<norm xml:id="u46" func="case" head="#u48" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u47" func="det" head="#u48" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϫⲱⲕ">
<norm xml:id="u48" func="obl" head="#u43" pos="N" lemma="ϫⲱⲕ" norm="ϫⲱⲕ">
ϫⲱⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u49" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="And I would plead my own cause, and he would fill my mouth with arguments.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u50" func="cc" head="#u55" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u51" func="advmod" head="#u55" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϯⲛⲁϫⲉ">
<norm_group norm_group="ϫⲉϯⲛⲁϫⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u52" func="mark" head="#u55" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u53" func="nsubj" head="#u55" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u54" func="aux" head="#u55" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲉ">
<norm xml:id="u55" func="root" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩϩⲁⲡ">
<norm_group norm_group="ⲟⲩϩⲁⲡ">
<orig orig="ⲟⲩ">
<norm xml:id="u56" func="det" head="#u57" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u57" func="obj" head="#u55" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϩⲣⲁϥ">
<norm_group norm_group="ⲛⲁϩⲣⲁϥ">
<orig orig="ⲛⲁϩⲣⲁ">
<norm xml:id="u58" func="case" head="#u59" pos="PREP" lemma="ⲛⲁϩⲣⲛ" norm="ⲛⲁϩⲣⲁ">
ⲛⲁϩⲣⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u59" func="obl" head="#u55" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u60" func="advmod" head="#u61" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲱⲓ">
<norm_group norm_group="ⲣⲱⲓ">
<orig orig="ⲣⲱ">
<norm xml:id="u61" func="obl:unmarked" head="#u55" pos="N" lemma="ⲣⲟ" norm="ⲣⲱ">
ⲣⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u62" func="nmod:poss" head="#u61" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲙⲟϩ">
<norm_group norm_group="ⲉϥⲉⲙⲟϩ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u63" func="nsubj" head="#u64" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲙⲟϩ">
<norm xml:id="u64" func="parataxis" head="#u55" pos="V" lemma="ⲙⲟϩ" norm="ⲙⲟϩ">
ⲙⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲟϩⲓ">
<norm_group norm_group="ⲛⲥⲟϩⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u65" func="aux" head="#u67" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u66" func="nsubj" head="#u67" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲟϩⲓ">
<norm xml:id="u67" func="advcl" head="#u64" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u68" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="And I would know the remedies which he would speak to me, and I would perceive what he would tell me.">
<orig_group orig_group="ⲉⲓⲉ̀ⲙⲓ">
<norm_group norm_group="ⲉⲓⲉⲙⲓ">
<orig orig="ⲉ">
<norm xml:id="u69" func="mark" head="#u71" new_sent="true" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u70" func="nsubj" head="#u71" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u71" func="root" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u72" func="advmod" head="#u71" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲓⲧⲁϫⲣⲟ">
<norm_group norm_group="ⲉⲛⲓⲧⲁϫⲣⲟ">
<orig orig="ⲉ̀">
<norm xml:id="u73" func="case" head="#u75" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u74" func="det" head="#u75" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲧⲁϫⲣⲟ">
<norm xml:id="u75" func="obl" head="#u71" pos="N" lemma="ⲧⲁϫⲣⲟ" norm="ⲧⲁϫⲣⲟ">
ⲧⲁϫⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲏⲉⲧⲉϥⲛⲁϫⲟⲧⲟⲩ">
<norm_group norm_group="ⲛⲛⲏⲉⲧⲉϥⲛⲁϫⲟⲧⲟⲩ">
<orig orig="ⲛ̀ⲛⲏ">
<norm xml:id="u76" func="mark" head="#u79" pos="PREP" lemma="ⲛⲛⲏ" norm="ⲛⲛⲏ">
ⲛ̀ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧⲉϥ">
<norm xml:id="u77" func="nsubj" head="#u79" pos="N" lemma="ⲉⲧⲉϥ" norm="ⲉⲧⲉϥ">
ⲉⲧⲉϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u78" func="aux" head="#u79" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲟⲧ">
<norm xml:id="u79" func="parataxis" head="#u71" pos="V" lemma="ϫⲱ" norm="ϫⲟⲧ">
ϫⲟⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u80" func="obj" head="#u79" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u81" func="case" head="#u82" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u82" func="obl" head="#u79" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u83" func="advmod" head="#u79" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲉⲣⲉⲥⲑⲁⲛⲉⲥⲑⲉ">
<norm_group norm_group="ⲉⲓⲉⲉⲣⲉⲥⲑⲁⲛⲉⲥⲑⲉ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u84" func="advmod" head="#u85" pos="N" lemma="ⲉⲓⲉ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲉⲣⲉⲥⲑⲁⲛⲉⲥⲑⲉ">
<norm xml:id="u85" func="parataxis" head="#u79" pos="V" lemma="ⲉⲣⲉⲥⲑⲁⲛⲉⲥⲑⲉ" norm="ⲉⲣⲉⲥⲑⲁⲛⲉⲥⲑⲉ">
ⲉⲣⲉⲥⲑⲁⲛⲉⲥⲑⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲏⲉⲧⲉϥⲛⲁⲧⲁⲙⲟⲓ">
<norm_group norm_group="ⲉⲛⲏⲉⲧⲉϥⲛⲁⲧⲁⲙⲟⲓ">
<orig orig="ⲉ̀ⲛⲏ">
<norm xml:id="u86" func="advmod" head="#u89" pos="N" lemma="ⲉⲛⲏ" norm="ⲉⲛⲏ">
ⲉ̀ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧⲉϥ">
<norm xml:id="u87" func="nsubj" head="#u89" pos="PPERS" lemma="ⲉⲧⲉϥ" norm="ⲉⲧⲉϥ">
ⲉⲧⲉϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u88" func="aux" head="#u89" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲁⲙⲟⲓ">
<norm xml:id="u89" func="parataxis" head="#u85" pos="V" lemma="ⲧⲁⲙⲟⲓ" norm="ⲧⲁⲙⲟⲓ">
ⲧⲁⲙⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲱⲟⲩ">
<norm_group norm_group="ⲉⲣⲱⲟⲩ">
<orig orig="ⲉ̀ⲣⲱ">
<norm xml:id="u90" func="case" head="#u91" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲱ">
ⲉ̀ⲣⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u91" func="obl" head="#u89" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u92" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="Though he should come on me in his great strength, then he would not threaten me;">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u93" func="cc" head="#u98" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁⲛ">
<norm_group norm_group="ϫⲉⲁⲛ">
<orig orig="ϫⲉ">
<norm xml:id="u94" func="mark" head="#u98" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁⲛ">
<norm xml:id="u95" func="advmod" head="#u98" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲛⲁⲓ̀">
<norm_group norm_group="ϥⲛⲁⲓ">
<orig orig="ϥ̀">
<norm xml:id="u96" func="nsubj" head="#u98" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u97" func="aux" head="#u98" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ̀">
<norm xml:id="u98" func="root" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u99" func="advmod" head="#u98" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱⲓ">
<norm_group norm_group="ⲉϫⲱⲓ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u100" func="case" head="#u101" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u101" func="obl" head="#u98" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲛⲓϣϯ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲛⲓϣϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u102" func="case" head="#u104" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u103" func="det" head="#u104" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u104" func="obl" head="#u98" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲟⲙ">
<norm_group norm_group="ⲛϫⲟⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u105" func="case" head="#u106" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u106" func="nmod" head="#u104" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u107" func="advmod" head="#u98" pos="ADV" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲧⲁ">
<norm_group norm_group="ⲓⲧⲁ">
<orig orig="ⲓⲧⲁ">
<norm xml:id="u108" func="advmod" head="#u111" pos="ADV" lemma="ⲓⲧⲁ" norm="ⲓⲧⲁ">
<lang lang="Greek">
ⲓⲧⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲛⲁⲉⲣⲭ̀ⲣⲁⲥⲑⲉ">
<norm_group norm_group="ϥⲛⲁⲉⲣⲭⲣⲁⲥⲑⲉ">
<orig orig="ϥ̀">
<norm xml:id="u109" func="nsubj" head="#u111" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u110" func="aux" head="#u111" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲭ̀ⲣⲁⲥⲑⲉ">
<norm xml:id="u111" func="parataxis" head="#u98" pos="V" lemma="ⲉⲣⲭⲣⲁⲥⲑⲉ" norm="ⲉⲣⲭⲣⲁⲥⲑⲉ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲭⲣⲁⲥⲑⲉ">
ⲭ̀ⲣⲁⲥⲑⲉ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u112" func="case" head="#u113" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u113" func="obl" head="#u111" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u114" func="advmod" head="#u111" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲙ̀ⲃⲟⲛ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲙⲃⲟⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u115" func="case" head="#u117" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u116" func="det" head="#u117" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙ̀ⲃⲟⲛ">
<norm xml:id="u117" func="obl" head="#u111" pos="N" lemma="ⲙⲃⲟⲛ" norm="ⲙⲃⲟⲛ">
ⲙ̀ⲃⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u118" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="for truth and reproof are from him; and he would bring forth my judgment to an end.">
<orig_group orig_group="ϯⲙⲉⲑⲙⲏⲓ">
<norm_group norm_group="ϯⲙⲉⲑⲙⲏⲓ">
<orig orig="ϯ">
<norm xml:id="u119" func="det" head="#u120" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲙⲉⲑⲙⲏⲓ">
<norm xml:id="u120" func="root" pos="N" lemma="ⲙⲉⲑⲙⲏⲓ" norm="ⲙⲉⲑⲙⲏⲓ">
<morph morph="ⲙⲉⲑ">
ⲙⲉⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u121" func="advmod" head="#u120" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓⲥⲟϩⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲓⲥⲟϩⲓ">
<orig orig="ⲛⲉ">
<norm xml:id="u122" func="cop" head="#u120" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ⲙ">
<norm xml:id="u123" func="case" head="#u125" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u124" func="det" head="#u125" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u125" func="nsubj" head="#u126" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲟϩⲓ">
<norm xml:id="u126" func="parataxis" head="#u120" pos="V" lemma="ⲥⲟϩⲓ" norm="ⲥⲟϩⲓ">
ⲥⲟϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ">
<norm_group norm_group="ϩⲁⲛⲉⲃⲟⲗϩⲓⲧⲟⲧϥ">
<orig orig="ϩⲁ">
<norm xml:id="u127" func="case" head="#u128" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
<orig orig="ⲛⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ">
<norm xml:id="u128" func="obl" head="#u126" pos="NUM" lemma="ⲛⲉⲃⲟⲗϩⲓⲧⲟⲧϥ" norm="ⲛⲉⲃⲟⲗϩⲓⲧⲟⲧϥ">
ⲛⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛ">
<norm xml:id="u129" func="case" head="#u130" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲉ">
<norm xml:id="u130" func="nmod" head="#u128" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u131" func="advmod" head="#u126" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲓ̀ⲛⲓ">
<norm_group norm_group="ⲉϥⲉⲓⲛⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u132" func="nsubj" head="#u133" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲓ̀ⲛⲓ">
<norm xml:id="u133" func="parataxis" head="#u126" pos="V" lemma="ⲓⲛⲓ" norm="ⲓⲛⲓ">
ⲓ̀ⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u134" func="advmod" head="#u133" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u135" func="advmod" head="#u133" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁϩⲁⲡ">
<norm_group norm_group="ⲙⲡⲁϩⲁⲡ">
<orig orig="ⲙ̀">
<norm xml:id="u136" func="case" head="#u138" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u137" func="nmod:poss" head="#u138" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u138" func="obj" head="#u133" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ϣⲁⲉⲃⲟⲗ">
<orig orig="ϣⲁ">
<norm xml:id="u139" func="case" head="#u140" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u140" func="advmod" head="#u133" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u141" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="For if I shall go first, and exist no longer, still what do I know concerning the latter end?">
<orig_group orig_group="ⲉⲓⲉ̀ϣⲉⲛⲏⲓ">
<norm_group norm_group="ⲉⲓⲉϣⲉⲛⲏⲓ">
<orig orig="ⲉⲓⲉ̀ϣⲉⲛⲏⲓ">
<norm xml:id="u142" func="dislocated" head="#u149" new_sent="true" pos="N" lemma="ⲉⲓⲉϣⲉⲛⲏⲓ" norm="ⲉⲓⲉϣⲉⲛⲏⲓ">
ⲉⲓⲉ̀ϣⲉⲛⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u143" func="advmod" head="#u149" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲛⲓϩⲟⲩⲁϯ:ⲟⲩⲟϩ">
<norm_group norm_group="ϣⲁⲛⲓϩⲟⲩⲁϯ:ⲟⲩⲟϩ">
<orig orig="ϣⲁ">
<norm xml:id="u144" func="case" head="#u146" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u145" func="det" head="#u146" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϩⲟⲩⲁϯ:ⲟⲩⲟϩ">
<norm xml:id="u146" func="obl" head="#u149" pos="N" lemma="ϩⲟⲩⲁϯ:ⲟⲩⲟϩ" norm="ϩⲟⲩⲁϯ:ⲟⲩⲟϩ">
ϩⲟⲩⲁϯ:ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁϣⲟⲡ">
<norm_group norm_group="ⲛⲛⲁϣⲟⲡ">
<orig orig="ⲛ̀">
<norm xml:id="u147" func="nsubj" head="#u149" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u148" func="aux" head="#u149" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u149" func="root" pos="V" lemma="ϣⲱⲡ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u150" func="advmod" head="#u149" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉ">
<norm_group norm_group="ϫⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u151" func="mark" head="#u153" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u152" func="advmod" head="#u153" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩ">
<norm_group norm_group="ⲟⲩ">
<orig orig="ⲟⲩ">
<norm xml:id="u153" func="ccomp" head="#u149" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u154" func="advmod" head="#u153" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϯⲉ̀ⲙⲓ">
<norm_group norm_group="ⲡⲉϯⲉⲙⲓ">
<orig orig="ⲡⲉ">
<norm xml:id="u155" func="cop" head="#u153" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u156" func="nsubj" head="#u157" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u157" func="parataxis" head="#u153" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u158" func="case" head="#u159" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u159" func="obl" head="#u157" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓϧⲁⲉⲩ">
<norm_group norm_group="ϧⲉⲛⲛⲓϧⲁⲉⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u160" func="case" head="#u162" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u161" func="det" head="#u162" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϧⲁⲉⲩ">
<norm xml:id="u162" func="obl" head="#u157" pos="N" lemma="ϧⲁⲉ" norm="ϧⲁⲉⲩ">
ϧⲁⲉⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u163" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="When he wrought on the left hand, then I observed it not: his right hand shall encompass me but I shall not see it.">
<orig_group orig_group="ⲁϥⲑⲁⲙⲓⲟ">
<norm_group norm_group="ⲁϥⲑⲁⲙⲓⲟ">
<orig orig="ⲁ">
<norm xml:id="u164" func="aux" head="#u166" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u165" func="nsubj" head="#u166" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑⲁⲙⲓⲟ">
<norm xml:id="u166" func="root" pos="V" lemma="ⲑⲁⲙⲓⲟ" norm="ⲑⲁⲙⲓⲟ">
ⲑⲁⲙⲓⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛϫⲁϭⲏ">
<norm_group norm_group="ⲛϩⲁⲛϫⲁϭⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u167" func="case" head="#u169" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u168" func="det" head="#u169" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϫⲁϭⲏ">
<norm xml:id="u169" func="obj" head="#u166" pos="N" lemma="ϫⲁϭⲏ" norm="ϫⲁϭⲏ">
ϫⲁϭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u170" func="cc" head="#u173" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲙⲡⲓⲁⲙⲟⲛⲓ">
<orig orig="ⲙ̀ⲡ">
<norm xml:id="u171" func="aux" head="#u173" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙ̀ⲡ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u172" func="nsubj" head="#u173" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲁ̀ⲙⲟⲛⲓ">
<norm xml:id="u173" func="conj" head="#u166" pos="V" lemma="ⲁⲙⲟⲛⲓ" norm="ⲁⲙⲟⲛⲓ">
ⲁ̀ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u174" func="advmod" head="#u176" pos="N" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϩⲱⲃⲥ">
<norm_group norm_group="ⲉϥⲉϩⲱⲃⲥ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u175" func="nsubj" head="#u176" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϩⲱⲃⲥ">
<norm xml:id="u176" func="parataxis" head="#u166" pos="V" lemma="ϩⲱⲃⲥ" norm="ϩⲱⲃⲥ">
ϩⲱⲃⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲟⲩⲓ̀ⲛⲁⲙ">
<norm_group norm_group="ⲛϩⲁⲛⲟⲩⲓⲛⲁⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u177" func="case" head="#u179" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u178" func="det" head="#u179" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲟⲩⲓ̀ⲛⲁⲙ">
<norm xml:id="u179" func="obj" head="#u176" pos="N" lemma="ⲟⲩⲓⲛⲁⲙ" norm="ⲟⲩⲓⲛⲁⲙ">
ⲟⲩⲓ̀ⲛⲁⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u180" func="cc" head="#u183" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲛⲁⲩ">
<norm_group norm_group="ⲛⲛⲁⲛⲁⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u181" func="advmod" head="#u183" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u182" func="aux" head="#u183" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u183" func="conj" head="#u176" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u184" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="For he knows already my way; and he has tried me as gold.">
<orig_group orig_group="ϥ̀ⲥⲱⲟⲩⲛ">
<norm_group norm_group="ϥⲥⲱⲟⲩⲛ">
<orig orig="ϥ̀">
<norm xml:id="u185" func="expl" head="#u186" new_sent="true" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲛ">
<norm xml:id="u186" func="root" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲱⲟⲩⲛ">
ⲥⲱⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u187" func="advmod" head="#u186" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲏⲇⲏ">
<norm_group norm_group="ϩⲏⲇⲏ">
<orig orig="ϩⲏⲇⲏ">
<norm xml:id="u188" func="mark" head="#u189" pos="ADV" lemma="ϩⲏⲇⲏ" norm="ϩⲏⲇⲏ">
<lang lang="Greek">
ϩⲏⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u189" func="dislocated" head="#u196" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁⲙⲱⲓⲧ">
<norm_group norm_group="ⲙⲡⲁⲙⲱⲓⲧ">
<orig orig="ⲙ̀">
<norm xml:id="u190" func="case" head="#u192" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u191" func="nmod:poss" head="#u192" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u192" func="nmod" head="#u189" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u193" func="advmod" head="#u196" pos="ADV" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲉⲣⲇⲓⲁⲕⲣⲓⲛⲓⲛ">
<norm_group norm_group="ⲁϥⲉⲣⲇⲓⲁⲕⲣⲓⲛⲓⲛ">
<orig orig="ⲁ">
<norm xml:id="u194" func="aux" head="#u196" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u195" func="nsubj" head="#u196" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲣⲇⲓⲁⲕⲣⲓⲛⲓⲛ">
<norm xml:id="u196" func="parataxis" head="#u186" pos="V" lemma="ⲉⲣⲇⲓⲁⲕⲣⲓⲛⲓⲛ" norm="ⲉⲣⲇⲓⲁⲕⲣⲓⲛⲓⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲇⲓⲁⲕⲣⲓⲛⲓⲛ">
ⲇⲓⲁⲕⲣⲓⲛⲓⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u197" func="advmod" head="#u196" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u198" func="case" head="#u199" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u199" func="obj" head="#u196" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u200" func="case" head="#u202" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u201" func="det" head="#u202" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u202" func="obl" head="#u196" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲛⲟⲩⲃ">
<norm_group norm_group="ⲙⲡⲓⲛⲟⲩⲃ">
<orig orig="ⲙ̀">
<norm xml:id="u203" func="case" head="#u205" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u204" func="det" head="#u205" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲃ">
<norm xml:id="u205" func="nmod" head="#u202" pos="N" lemma="ⲛⲟⲩⲃ" norm="ⲛⲟⲩⲃ">
ⲛⲟⲩⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u206" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="And I will go forth according to his commandments, for I have kept his ways; and I shall not turn aside from his commandments,">
<orig_group orig_group="ⲉⲓⲉ̀ⲙⲟϣⲓ">
<norm_group norm_group="ⲉⲓⲉⲙⲟϣⲓ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u207" func="nsubj" head="#u208" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲙⲟϣⲓ">
<norm xml:id="u208" func="root" pos="V" lemma="ⲙⲟϣⲓ" norm="ⲙⲟϣⲓ">
ⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u209" func="advmod" head="#u208" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϧⲣⲏⲓ">
<orig orig="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm xml:id="u210" func="case" head="#u213" pos="ADV" lemma="ⲛϧⲣⲏⲓ" norm="ⲛϧⲣⲏⲓ">
ⲛ̀ϧ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲉϥϩⲟⲛϩⲉⲛ">
<norm_group norm_group="ϧⲉⲛⲛⲉϥϩⲟⲛϩⲉⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u211" func="fixed" head="#u210" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u212" func="nmod:poss" head="#u213" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ϩⲟⲛϩⲉⲛ">
<norm xml:id="u213" func="obl" head="#u208" pos="N" lemma="ϩⲟⲛϩⲉⲛ" norm="ϩⲟⲛϩⲉⲛ">
ϩⲟⲛϩⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲁⲓⲁⲣⲉϩ">
<orig orig="ⲁ">
<norm xml:id="u214" func="aux" head="#u216" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u215" func="nsubj" head="#u216" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲁ̀ⲣⲉϩ">
<norm xml:id="u216" func="parataxis" head="#u208" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u217" func="advmod" head="#u216" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲉϥⲙⲱⲓⲧ">
<norm_group norm_group="ⲉⲛⲉϥⲙⲱⲓⲧ">
<orig orig="ⲉ̀">
<norm xml:id="u218" func="case" head="#u220" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u219" func="nmod:poss" head="#u220" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u220" func="obl" head="#u216" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u221" func="cc" head="#u224" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲣⲓⲕⲓ">
<norm_group norm_group="ⲛⲛⲁⲣⲓⲕⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u222" func="case" head="#u224" pos="NUM" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u223" func="det" head="#u224" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲣⲓⲕⲓ">
<norm xml:id="u224" func="conj" head="#u220" pos="N" lemma="ⲁⲣⲓⲕⲓ" norm="ⲁⲣⲓⲕⲓ">
ⲁⲣⲓⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u225" func="case" head="#u228" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u226" func="fixed" head="#u225" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉϥϩⲟⲛϩⲉⲛ">
<norm_group norm_group="ⲛⲉϥϩⲟⲛϩⲉⲛ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u227" func="nmod:poss" head="#u228" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ϩⲟⲛϩⲉⲛ">
<norm xml:id="u228" func="nmod" head="#u224" pos="N" lemma="ϩⲟⲛϩⲉⲛ" norm="ϩⲟⲛϩⲉⲛ">
ϩⲟⲛϩⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u229" func="cc" head="#u232" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲭⲁⲩ">
<norm_group norm_group="ⲛⲛⲁⲭⲁⲩ">
<orig orig="ⲛ̀ⲛ">
<norm xml:id="u230" func="aux" head="#u232" pos="ADV" lemma="ⲛⲛ" norm="ⲛⲛ">
ⲛ̀ⲛ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u231" func="nsubj" head="#u232" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲭⲁ">
<norm xml:id="u232" func="conj" head="#u216" pos="V" lemma="ⲭⲱ" norm="ⲭⲁ">
ⲭⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u233" func="obj" head="#u232" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲱⲓ">
<norm_group norm_group="ⲛⲥⲱⲓ">
<orig orig="ⲛ̀ⲥⲱ">
<norm xml:id="u234" func="case" head="#u235" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲱ">
ⲛ̀ⲥⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u235" func="obl" head="#u232" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u236" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="neither shall I transgress; but I have hid his words in my bosom.">
<orig_group orig_group="ⲛⲉϥⲥⲁϫⲓ">
<norm_group norm_group="ⲛⲉϥⲥⲁϫⲓ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u237" func="nmod:poss" head="#u238" new_sent="true" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u238" func="dislocated" head="#u240" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲭⲟⲡⲟⲩ">
<norm_group norm_group="ⲉⲓⲉⲭⲟⲡⲟⲩ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u239" func="advmod" head="#u240" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲭⲟⲡ">
<norm xml:id="u240" func="root" pos="V" lemma="ⲭⲱⲡ" norm="ⲭⲟⲡ">
ⲭⲟⲡ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u241" func="obj" head="#u240" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲕⲉⲛⲧ">
<norm_group norm_group="ϧⲉⲛⲕⲉⲛⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u242" func="case" head="#u243" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲕⲉⲛⲧ">
<norm xml:id="u243" func="obl" head="#u240" pos="N" lemma="ⲕⲉⲛⲧ" norm="ⲕⲉⲛⲧ">
ⲕⲉⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u244" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="And if too he has thus judged, who is he that has contradicted, for he has both willed a thing and done it.">
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u245" func="mark" head="#u249" new_sent="true" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u246" func="dislocated" head="#u249" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϯϩⲁⲡ">
<norm_group norm_group="ⲁϥϯϩⲁⲡ">
<orig orig="ⲁ">
<norm xml:id="u247" func="aux" head="#u249" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u248" func="nsubj" head="#u249" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϯϩⲁⲡ">
<norm xml:id="u249" func="advcl" head="#u256" pos="V" lemma="ϯϩⲁⲡ" norm="ϯϩⲁⲡ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ϩⲁⲡ">
ϩⲁⲡ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁⲓⲣⲏϯ">
<norm_group norm_group="ⲙⲡⲁⲓⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u250" func="case" head="#u252" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u251" func="det" head="#u252" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u252" func="obl" head="#u249" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u253" func="det" head="#u252" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u254" func="cop" head="#u253" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲑⲛⲁⲉⲣⲁⲛϯⲗⲉⲅⲓⲛ">
<norm_group norm_group="ⲫⲏⲉⲑⲛⲁⲉⲣⲁⲛϯⲗⲉⲅⲓⲛ">
<orig orig="ⲫⲏⲉⲑⲛⲁ">
<norm xml:id="u255" func="nsubj" head="#u256" pos="NPROP" lemma="ⲫⲏⲉⲑⲛⲁ" norm="ⲫⲏⲉⲑⲛⲁ">
ⲫⲏⲉⲑⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲁⲛϯⲗⲉⲅⲓⲛ">
<norm xml:id="u256" func="root" pos="V" lemma="ⲉⲣⲁⲛϯⲗⲉⲅⲓⲛ" norm="ⲉⲣⲁⲛϯⲗⲉⲅⲓⲛ">
ⲉⲣⲁⲛϯⲗⲉⲅⲓⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥ">
<norm_group norm_group="ⲛⲁϥ">
<orig orig="ⲛⲁ">
<norm xml:id="u257" func="case" head="#u258" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u258" func="obl" head="#u256" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u259" func="advmod" head="#u267" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏ">
<norm_group norm_group="ⲫⲏ">
<orig orig="ⲫⲏ">
<norm xml:id="u260" func="dislocated" head="#u267" pos="PDEM" lemma="ⲫⲏ" norm="ⲫⲏ">
ⲫⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u261" func="advmod" head="#u267" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲟⲩⲁϣϥ">
<norm_group norm_group="ⲉⲧⲁϥⲟⲩⲁϣϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u262" func="mark" head="#u265" pos="APREC" lemma="ⲉⲧ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u263" func="aux" head="#u265" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u264" func="nsubj" head="#u265" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲩⲁϣ">
<norm xml:id="u265" func="acl:relcl" head="#u260" pos="V" lemma="ⲟⲩⲱϣ" norm="ⲟⲩⲁϣ">
ⲟⲩⲁϣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u266" func="obj" head="#u265" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲁⲓ">
<norm_group norm_group="ⲫⲁⲓ">
<orig orig="ⲫⲁⲓ">
<norm xml:id="u267" func="parataxis" head="#u256" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u268" func="cop" head="#u267" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲁⲓϥ">
<norm_group norm_group="ⲉⲧⲁϥⲁⲓϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u269" func="mark" head="#u272" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u270" func="aux" head="#u272" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u271" func="nsubj" head="#u272" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲁⲓ">
<norm xml:id="u272" func="csubj" head="#u267" pos="V" lemma="ⲓⲣⲓ" norm="ⲁⲓ">
ⲁⲓ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u273" func="obj" head="#u272" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u274" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="...">
<orig_group orig_group="ⲉⲑⲃⲉⲫⲁⲓ">
<norm_group norm_group="ⲉⲑⲃⲉⲫⲁⲓ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u275" func="case" head="#u276" new_sent="true" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u276" func="obl" head="#u279" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲓⲏⲥ">
<norm_group norm_group="ⲁⲓⲓⲏⲥⲟⲩⲥ">
<orig orig="ⲁ">
<norm xml:id="u277" func="aux" head="#u279" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u278" func="nsubj" head="#u279" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲓⲏⲥ">
<norm xml:id="u279" func="root" pos="NPROP" lemma="ⲓⲏⲥⲟⲩⲥ" norm="ⲓⲏⲥⲟⲩⲥ">
<lang lang="Hebrew">
ⲓⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u280" func="case" head="#u281" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u281" func="obj" head="#u279" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u282" func="advmod" head="#u279" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱϥ">
<norm_group norm_group="ⲉϫⲱϥ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u283" func="case" head="#u284" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u284" func="obl" head="#u279" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u285" func="advmod" head="#u279" pos="CONJ" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϯⲥ̀ⲃⲱ">
<norm_group norm_group="ⲉϥⲉϯⲥⲃⲱ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u286" func="nsubj" head="#u287" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϯⲥ̀ⲃⲱ">
<norm xml:id="u287" func="parataxis" head="#u279" pos="V" lemma="ϯⲥⲃⲱ" norm="ϯⲥⲃⲱ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ⲥⲃⲱ">
ⲥ̀ⲃⲱ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u288" func="advmod" head="#u287" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u289" func="case" head="#u290" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u290" func="obl" head="#u287" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣϩⲟϯ">
<norm_group norm_group="ⲁⲓⲉⲣϩⲟϯ">
<orig orig="ⲁ">
<norm xml:id="u291" func="aux" head="#u293" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u292" func="nsubj" head="#u293" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣϩⲟϯ">
<norm xml:id="u293" func="parataxis" head="#u287" pos="V" lemma="ⲉⲣϩⲟϯ" norm="ⲉⲣϩⲟϯ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϩⲟϯ">
ϩⲟϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲧⲉϥϩⲏ">
<norm_group norm_group="ϧⲁⲧⲉϥϩⲏ">
<orig orig="ϧⲁ">
<norm xml:id="u294" func="case" head="#u296" pos="PREP" lemma="ϧⲁ" norm="ϧⲁ">
ϧⲁ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u295" func="nmod:poss" head="#u296" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ϩⲏ">
<norm xml:id="u296" func="obl" head="#u293" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ϩⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u297" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="15">
<translation translation="Therefore am I troubled at him; and when I was reproved, I thought of him. Therefore let me take good heed before him: I will consider, and be afraid of him.">
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u298" func="case" head="#u300" new_sent="true" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲫⲁⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲫⲁⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u299" func="case" head="#u300" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u300" func="nmod" head="#u306" pos="PDEM" lemma="ⲡⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u301" func="advmod" head="#u300" pos="N" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲓⲏⲥ">
<norm_group norm_group="ⲉⲓⲉⲓⲏⲥⲟⲩⲥ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u302" func="mark" head="#u312" pos="PREP" lemma="ⲉⲓⲉ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲓⲏⲥ">
<norm xml:id="u303" func="dislocated" head="#u312" pos="NPROP" lemma="ⲓⲏⲥⲟⲩⲥ" norm="ⲓⲏⲥⲟⲩⲥ">
<lang lang="Hebrew">
ⲓⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲧ̀ϩⲏ">
<norm_group norm_group="ϧⲁⲧϩⲏ">
<orig orig="ϧⲁ">
<norm xml:id="u304" func="case" head="#u306" pos="PREP" lemma="ϧⲁ" norm="ϧⲁ">
ϧⲁ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u305" func="det" head="#u306" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ϩⲏ">
<norm xml:id="u306" func="obl" head="#u303" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ϩⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉϥϩⲟ">
<norm_group norm_group="ⲙⲡⲉϥϩⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u307" func="case" head="#u309" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u308" func="nmod:poss" head="#u309" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u309" func="nmod" head="#u306" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u310" func="advmod" head="#u303" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲥⲟⲙⲥ">
<norm_group norm_group="ⲉⲓⲉⲥⲟⲙⲥ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u311" func="advmod" head="#u312" pos="N" lemma="ⲉⲓⲉ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲥⲟⲙⲥ">
<norm xml:id="u312" func="root" pos="V" lemma="ⲥⲟⲙⲥ" norm="ⲥⲟⲙⲥ">
ⲥⲟⲙⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u313" func="cc" head="#u315" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲛⲟⲩϣⲡ">
<norm_group norm_group="ⲉⲓⲉⲛⲟⲩϣⲡ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u314" func="nsubj" head="#u315" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩϣⲡ">
<norm xml:id="u315" func="conj" head="#u312" pos="V" lemma="ⲛⲟⲩϣⲡ" norm="ⲛⲟⲩϣⲡ">
ⲛⲟⲩϣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u316" func="case" head="#u318" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟϥ">
<norm_group norm_group="ⲙⲙⲟϥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u317" func="fixed" head="#u316" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u318" func="obl" head="#u315" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u319" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="16">
<translation translation="But the Lord has softened my heart, and the Almighty has troubled me.">
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲥ">
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u320" func="dislocated" head="#u324" new_sent="true" pos="N" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u321" func="advmod" head="#u324" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲉⲛ">
<norm_group norm_group="ⲁϥⲉⲛ">
<orig orig="ⲁ">
<norm xml:id="u322" func="aux" head="#u324" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u323" func="nsubj" head="#u324" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲛ">
<norm xml:id="u324" func="root" pos="V" lemma="ⲓⲛⲓ" norm="ⲉⲛ">
ⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩϣⲱⲛⲓ">
<norm_group norm_group="ⲟⲩϣⲱⲛⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u325" func="det" head="#u326" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲱⲛⲓ">
<norm xml:id="u326" func="obj" head="#u324" pos="N" lemma="ϣⲱⲛⲓ" norm="ϣⲱⲛⲓ">
ϣⲱⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲁϩⲏⲧ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲁϩⲏⲧ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u327" func="case" head="#u329" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u328" func="nmod:poss" head="#u329" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u329" func="obl" head="#u324" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u330" func="advmod" head="#u336" pos="V" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u331" func="cc" head="#u336" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm_group norm_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<orig orig="ⲡⲓ">
<norm xml:id="u332" func="det" head="#u333" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm xml:id="u333" func="dislocated" head="#u336" pos="N" lemma="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ" norm="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<lang lang="Greek">
ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲓⲏⲥ">
<norm_group norm_group="ⲁϥⲓⲏⲥⲟⲩⲥ">
<orig orig="ⲁ">
<norm xml:id="u334" func="aux" head="#u336" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u335" func="nsubj" head="#u336" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲓⲏⲥ">
<norm xml:id="u336" func="conj" head="#u324" pos="NPROP" lemma="ⲓⲏⲥⲟⲩⲥ" norm="ⲓⲏⲥⲟⲩⲥ">
<lang lang="Hebrew">
ⲓⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲱⲓ">
<norm_group norm_group="ⲛⲥⲱⲓ">
<orig orig="ⲛ̀ⲥⲱ">
<norm xml:id="u337" func="case" head="#u338" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲱ">
ⲛ̀ⲥⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u338" func="obl" head="#u336" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u339" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="17">
<translation translation="For I knew not that darkness would come upon me, and thick darkness has covered me before my face.">
<orig_group orig_group="ⲛⲁⲓⲉ̀ⲙⲓ">
<norm_group norm_group="ⲛⲁⲓⲉⲙⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u340" func="aux" head="#u342" new_sent="true" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u341" func="nsubj" head="#u342" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u342" func="root" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u343" func="advmod" head="#u342" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u344" func="cop" head="#u342" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϥ̀ⲛⲁⲓ̀">
<norm_group norm_group="ϫⲉϥⲛⲁⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u345" func="mark" head="#u347" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϥ̀">
<norm xml:id="u346" func="nsubj" head="#u347" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲁⲓ̀">
<norm xml:id="u347" func="ccomp" head="#u342" pos="V" lemma="ⲛⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u348" func="advmod" head="#u347" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱⲓ">
<norm_group norm_group="ⲉϫⲱⲓ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u349" func="case" head="#u350" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u350" func="obl" head="#u347" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲭⲁⲕⲓ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲭⲁⲕⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u351" func="case" head="#u353" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u352" func="det" head="#u353" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲁⲕⲓ">
<norm xml:id="u353" func="dislocated" head="#u347" pos="N" lemma="ⲭⲁⲕⲓ" norm="ⲭⲁⲕⲓ">
ⲭⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u354" func="advmod" head="#u356" pos="PREP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲅ̀ⲛⲟⲫⲟⲥ">
<norm_group norm_group="ⲟⲩⲅⲛⲟⲫⲟⲥ">
<orig orig="ⲟⲩ">
<norm xml:id="u355" func="det" head="#u356" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲅ̀ⲛⲟⲫⲟⲥ">
<norm xml:id="u356" func="parataxis" head="#u342" pos="N" lemma="ⲅⲛⲟⲫⲟⲥ" norm="ⲅⲛⲟⲫⲟⲥ">
<lang lang="Greek">
ⲅ̀ⲛⲟⲫⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u357" func="advmod" head="#u356" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u358" func="cop" head="#u356" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲁϥϩⲱⲃⲥ">
<norm_group norm_group="ⲉⲧⲁϥϩⲱⲃⲥ">
<orig orig="ⲉ̀ⲧ">
<norm xml:id="u359" func="mark" head="#u362" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉ̀ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u360" func="aux" head="#u362" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u361" func="nsubj" head="#u362" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲱⲃⲥ">
<norm xml:id="u362" func="csubj" head="#u356" pos="V" lemma="ϩⲱⲃⲥ" norm="ϩⲱⲃⲥ">
ϩⲱⲃⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u363" func="advmod" head="#u362" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲧ̀ϩⲏ">
<norm_group norm_group="ϧⲁⲧϩⲏ">
<orig orig="ϧⲁ">
<norm xml:id="u364" func="case" head="#u366" pos="PREP" lemma="ϧⲁ" norm="ϧⲁ">
ϧⲁ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u365" func="det" head="#u366" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ϩⲏ">
<norm xml:id="u366" func="obl" head="#u362" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ϩⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁϩⲟ">
<norm_group norm_group="ⲙⲡⲁϩⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u367" func="case" head="#u369" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u368" func="det" head="#u369" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲁϩⲟ">
<norm xml:id="u369" func="nmod" head="#u366" pos="N" lemma="ⲁϩⲟ" norm="ⲁϩⲟ">
ⲁϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u370" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
