<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="150" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:150" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_150" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲁⲗⲗⲏⲗⲟⲩⲓⲁ">
<norm_group norm_group="ⲁⲗⲗⲏⲗⲟⲩⲓⲁ">
<orig orig="ⲁⲗⲗⲏⲗⲟⲩⲓⲁ">
<norm xml:id="u1" func="root" new_sent="true" pos="PPERS" lemma="ⲁⲗⲗⲏⲗⲟⲩⲓⲁ" norm="ⲁⲗⲗⲏⲗⲟⲩⲓⲁ">
<lang lang="Hebrew">
ⲁⲗⲗⲏⲗⲟⲩⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="Praise God in his holy places: praise him in the firmament of his power.">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u2" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲉⲫⲛⲟⲩϯ">
<orig orig="ⲉ">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u5" func="obl" head="#u2" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲏ">
<norm_group norm_group="ϧⲉⲛⲛⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u6" func="case" head="#u7" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u7" func="obl" head="#u2" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u8" func="mark" head="#u9" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u9" func="acl:relcl" head="#u7" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u10" func="obl:unmarked" head="#u7" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u11" func="nmod:poss" head="#u10" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲁϥ">
<norm_group norm_group="ⲛⲧⲁϥ">
<orig orig="ⲛ̀ⲧⲁ">
<norm xml:id="u12" func="case" head="#u13" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲁ">
ⲛ̀ⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u13" func="obl" head="#u9" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Praise him on account of his mighty acts: praise him according to his abundant greatness.">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u14" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u15" func="case" head="#u16" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u16" func="obl" head="#u14" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲧⲁϫⲣⲟ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲧⲁϫⲣⲟ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u17" func="case" head="#u19" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u18" func="det" head="#u19" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲧⲁϫⲣⲟ">
<norm xml:id="u19" func="obl" head="#u14" pos="N" lemma="ⲧⲁϫⲣⲟ" norm="ⲧⲁϫⲣⲟ">
ⲧⲁϫⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲉϥϫⲟⲙ">
<norm_group norm_group="ⲛⲧⲉⲧⲉϥϫⲟⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u20" func="case" head="#u22" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u21" func="nmod:poss" head="#u22" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u22" func="nmod" head="#u19" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Praise him with the sound of a trumpet: praise him with psaltery and harp.">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u23" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u24" func="case" head="#u25" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u25" func="obl" head="#u23" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u26" func="advmod" head="#u23" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲧⲉϥⲙⲉⲧϫⲱⲣⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛⲧⲉϥⲙⲉⲧϫⲱⲣⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u27" func="case" head="#u29" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u28" func="nmod:poss" head="#u29" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲙⲉⲧϫⲱⲣⲓ">
<norm xml:id="u29" func="obl" head="#u23" pos="N" lemma="ⲙⲉⲧϫⲱⲣⲓ" norm="ⲙⲉⲧϫⲱⲣⲓ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ϫⲱⲣⲓ">
ϫⲱⲣⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="Praise him with timbrel and dance: praise him with stringed instruments and the organ.">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u30" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u31" func="case" head="#u32" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u32" func="obl" head="#u30" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲁⲧⲁⲡ̀ⲁ̀ϣⲁⲓ">
<norm_group norm_group="ⲕⲁⲧⲁⲡⲁϣⲁⲓ">
<orig orig="ⲕⲁⲧⲁ">
<norm xml:id="u33" func="case" head="#u35" pos="PREP" lemma="ⲕⲁⲧⲁ" norm="ⲕⲁⲧⲁ">
<lang lang="Greek">
ⲕⲁⲧⲁ
</lang>
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u34" func="det" head="#u35" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲁ̀ϣⲁⲓ">
<norm xml:id="u35" func="obl" head="#u30" pos="N" lemma="ⲁϣⲁⲓ" norm="ⲁϣⲁⲓ">
ⲁ̀ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲉϥⲙⲉⲧⲛⲓϣϯ">
<norm_group norm_group="ⲛⲧⲉⲧⲉϥⲙⲉⲧⲛⲓϣϯ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u36" func="case" head="#u38" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u37" func="nmod:poss" head="#u38" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲛⲓϣϯ">
<norm xml:id="u38" func="nmod" head="#u35" pos="N" lemma="ⲙⲉⲧⲛⲓϣϯ" norm="ⲙⲉⲧⲛⲓϣϯ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲛⲓϣϯ">
ⲛⲓϣϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="Praise him with melodious cymbals: praise him with loud cymbals.">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u39" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u40" func="case" head="#u41" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u41" func="obl" head="#u39" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲥⲙⲏ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲥⲙⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u42" func="case" head="#u44" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u43" func="det" head="#u44" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u44" func="obl" head="#u39" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<norm_group norm_group="ⲛⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<orig orig="ⲛ">
<norm xml:id="u45" func="case" head="#u46" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<norm xml:id="u46" func="nmod" head="#u44" pos="N" lemma="ⲥⲁⲗⲡⲓⲅⲅⲟⲥ" norm="ⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<lang lang="Greek">
ⲥⲁⲗⲡⲓⲅⲅⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="Let every thing that has breath praise the Lord.">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u47" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u48" func="case" head="#u49" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u49" func="obl" head="#u47" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲁⲗⲧⲏⲣⲓⲟⲛ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲁⲗⲧⲏⲣⲓⲟⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u50" func="case" head="#u52" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u51" func="det" head="#u52" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲗⲧⲏⲣⲓⲟⲛ">
<norm xml:id="u52" func="obl" head="#u47" pos="N" lemma="ⲁⲗⲧⲏⲣⲓⲟⲛ" norm="ⲁⲗⲧⲏⲣⲓⲟⲛ">
ⲁⲗⲧⲏⲣⲓⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲕⲩⲑⲁⲣⲁ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲕⲩⲑⲁⲣⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u53" func="cc" head="#u55" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u54" func="det" head="#u55" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲩⲑⲁⲣⲁ">
<norm xml:id="u55" func="conj" head="#u52" pos="N" lemma="ⲕⲩⲑⲁⲣⲁ" norm="ⲕⲩⲑⲁⲣⲁ">
ⲕⲩⲑⲁⲣⲁ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="...">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u56" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u57" func="case" head="#u58" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u58" func="obl" head="#u56" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲕⲉⲙⲕⲉⲙ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲕⲉⲙⲕⲉⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u59" func="case" head="#u61" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u60" func="det" head="#u61" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲕⲉⲙⲕⲉⲙ">
<norm xml:id="u61" func="obl" head="#u56" pos="N" lemma="ⲕⲉⲙⲕⲉⲙ" norm="ⲕⲉⲙⲕⲉⲙ">
ⲕⲉⲙⲕⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲙ">
<norm_group norm_group="ⲛⲁⲙ">
<orig orig="ⲛ">
<norm xml:id="u62" func="case" head="#u63" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲙ">
<norm xml:id="u63" func="nmod" head="#u61" pos="N" lemma="ϩⲁⲙ" norm="ⲁⲙ">
ⲁⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲭⲱⲣⲟⲥ">
<norm_group norm_group="ϩⲁⲛⲭⲱⲣⲟⲥ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u64" func="det" head="#u65" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲭⲱⲣⲟⲥ">
<norm xml:id="u65" func="appos" head="#u61" pos="N" lemma="ⲭⲱⲣⲟⲥ" norm="ⲭⲱⲣⲟⲥ">
<lang lang="Greek">
ⲭⲱⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="...">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u66" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u67" func="case" head="#u68" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u68" func="obl" head="#u66" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲕⲁⲡ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲕⲁⲡ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u69" func="case" head="#u71" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u70" func="det" head="#u71" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲕⲁⲡ">
<norm xml:id="u71" func="obl" head="#u66" pos="N" lemma="ⲕⲁⲡ" norm="ⲕⲁⲡ">
ⲕⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲟⲣⲅⲁⲛⲟⲛ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲟⲣⲅⲁⲛⲟⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u72" func="cc" head="#u74" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u73" func="det" head="#u74" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲣⲅⲁⲛⲟⲛ">
<norm xml:id="u74" func="conj" head="#u71" pos="N" lemma="ⲟⲣⲅⲁⲛⲟⲛ" norm="ⲟⲣⲅⲁⲛⲟⲛ">
<lang lang="Greek">
ⲟⲣⲅⲁⲛⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="...">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u75" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u76" func="case" head="#u77" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u77" func="obl" head="#u75" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲕⲩⲙⲃⲁⲗⲟⲛ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲕⲩⲙⲃⲁⲗⲟⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u78" func="case" head="#u80" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u79" func="det" head="#u80" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲕⲩⲙⲃⲁⲗⲟⲛ">
<norm xml:id="u80" func="obl" head="#u75" pos="N" lemma="ⲕⲩⲙⲃⲁⲗⲟⲛ" norm="ⲕⲩⲙⲃⲁⲗⲟⲛ">
<lang lang="Greek">
ⲕⲩⲙⲃⲁⲗⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲛⲉⲥⲉ">
<norm_group norm_group="ⲉⲛⲉⲥⲉ">
<orig orig="ⲉⲛⲉ">
<norm xml:id="u81" func="mark" head="#u84" pos="CONJ" lemma="ⲉⲛⲉ" norm="ⲉⲛⲉ">
ⲉⲛⲉ
</norm>
</orig>
<orig orig="ⲥⲉ">
<norm xml:id="u82" func="nsubj" head="#u84" pos="PTC" lemma="ⲥⲉ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲟⲩⲥⲙⲏ">
<norm_group norm_group="ⲧⲟⲩⲥⲙⲏ">
<orig orig="ⲧⲟⲩ">
<norm xml:id="u83" func="nmod:poss" head="#u84" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u84" func="advcl" head="#u75" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="...">
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u85" func="root" new_sent="true" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u86" func="case" head="#u87" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u87" func="obl" head="#u85" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲕⲩⲙⲃⲁⲗⲟⲛ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲕⲩⲙⲃⲁⲗⲟⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u88" func="case" head="#u90" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u89" func="det" head="#u90" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲕⲩⲙⲃⲁⲗⲟⲛ">
<norm xml:id="u90" func="obl" head="#u85" pos="N" lemma="ⲕⲩⲙⲃⲁⲗⲟⲛ" norm="ⲕⲩⲙⲃⲁⲗⲟⲛ">
<lang lang="Greek">
ⲕⲩⲙⲃⲁⲗⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲟⲩⲉϣⲗⲏⲗⲟⲩⲓ">
<norm_group norm_group="ⲛⲧⲉⲟⲩⲉϣⲗⲏⲗⲟⲩⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u91" func="case" head="#u93" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲉϣ">
<norm xml:id="u92" func="nmod" head="#u90" pos="PPOS" lemma="ⲟⲩⲉϣ" norm="ⲟⲩⲉϣ">
ⲟⲩⲉϣ
</norm>
</orig>
<orig orig="ⲗⲏⲗⲟⲩⲓ">
<norm xml:id="u93" func="nmod" head="#u90" pos="N" lemma="ⲗⲏⲗⲟⲩⲓ" norm="ⲗⲏⲗⲟⲩⲓ">
ⲗⲏⲗⲟⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="...">
<orig_group orig_group="ⲛⲓϥⲓ">
<norm_group norm_group="ⲛⲓϥⲓ">
<orig orig="ⲛⲓϥⲓ">
<norm xml:id="u94" func="dislocated" head="#u98" new_sent="true" pos="V" lemma="ⲛⲓϥⲓ" norm="ⲛⲓϥⲓ">
ⲛⲓϥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u95" func="det" head="#u94" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲣⲟⲩⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲙⲁⲣⲟⲩⲥⲙⲟⲩ">
<orig orig="ⲙⲁⲣ">
<norm xml:id="u96" func="aux" head="#u98" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣ">
ⲙⲁⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u97" func="nsubj" head="#u98" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u98" func="root" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲉⲡϭⲟⲓⲥ">
<orig orig="ⲉ">
<norm xml:id="u99" func="case" head="#u101" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u100" func="det" head="#u101" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u101" func="obl" head="#u98" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
