<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="76" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:76" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_76" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲛ̀ⲧⲉⲁⲥⲁⲫ">
<norm_group norm_group="ⲛⲧⲉⲁⲥⲁⲫ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u1" func="aux" head="#u2" new_sent="true" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲁⲥⲁⲫ">
<norm xml:id="u2" func="root" pos="NPROP" lemma="ⲁⲥⲁⲫ" norm="ⲁⲥⲁⲫ">
ⲁⲥⲁⲫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϫⲱⲕ">
<norm_group norm_group="ⲉⲡϫⲱⲕ">
<orig orig="ⲉ̀">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϫⲱⲕ">
<norm xml:id="u5" func="obl" head="#u2" pos="N" lemma="ϫⲱⲕ" norm="ϫⲱⲕ">
ϫⲱⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u6" func="advmod" head="#u5" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲓⲇⲓⲑⲟⲩⲛ">
<norm_group norm_group="ⲉϫⲉⲛⲓⲇⲓⲑⲟⲩⲛ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u7" func="case" head="#u9" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u8" func="det" head="#u9" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲇⲓⲑⲟⲩⲛ">
<norm xml:id="u9" func="nmod" head="#u5" pos="ADV" lemma="ⲇⲓⲑⲟⲩⲛ" norm="ⲇⲓⲑⲟⲩⲛ">
ⲇⲓⲑⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="I cried to the Lord with my voice, yea, my voice was addressed to God; and he gave heed to me.">
<orig_group orig_group="ⲁⲓⲱϣ">
<norm_group norm_group="ⲁⲓⲱϣ">
<orig orig="ⲁ">
<norm xml:id="u10" func="aux" head="#u12" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u11" func="nsubj" head="#u12" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲱϣ">
<norm xml:id="u12" func="root" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲁⲥⲙⲏ">
<norm_group norm_group="ⲛⲧⲁⲥⲙⲏ">
<orig orig="ⲛ">
<norm xml:id="u13" func="case" head="#u15" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u14" func="nmod:poss" head="#u15" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u15" func="obj" head="#u12" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲱϣⲓ">
<norm_group norm_group="ⲉⲡⲱϣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u16" func="case" head="#u18" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u17" func="det" head="#u18" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲱϣⲓ">
<norm xml:id="u18" func="obl" head="#u12" pos="N" lemma="ⲱϣⲓ" norm="ⲱϣⲓ">
ⲱϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲡϭⲟⲓⲥ">
<norm_group norm_group="ϩⲁⲡϭⲟⲓⲥ">
<orig orig="ϩⲁ">
<norm xml:id="u19" func="case" head="#u21" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u20" func="det" head="#u21" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u21" func="obl" head="#u12" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲧⲁⲥⲙⲏ">
<norm_group norm_group="ⲛⲉⲙⲧⲁⲥⲙⲏ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u22" func="cc" head="#u24" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u23" func="nmod:poss" head="#u24" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u24" func="conj" head="#u21" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲱϣⲓ">
<norm_group norm_group="ⲉⲡⲱϣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u25" func="case" head="#u27" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u26" func="det" head="#u27" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲱϣⲓ">
<norm xml:id="u27" func="nmod" head="#u24" pos="N" lemma="ⲱϣⲓ" norm="ⲱϣⲓ">
ⲱϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲫⲛⲟⲩϯ">
<norm_group norm_group="ϩⲁⲫⲛⲟⲩϯ">
<orig orig="ϩⲁ">
<norm xml:id="u28" func="case" head="#u30" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u29" func="det" head="#u30" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u30" func="nmod" head="#u27" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u31" func="cc" head="#u34" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϯϩⲑⲏϥ">
<norm_group norm_group="ⲁϥϯϩⲑⲏϥ">
<orig orig="ⲁ">
<norm xml:id="u32" func="aux" head="#u34" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u33" func="nsubj" head="#u34" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u34" func="conj" head="#u12" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲑⲏ">
<norm xml:id="u35" func="obj" head="#u34" pos="N" lemma="ϩⲏⲧ" norm="ϩⲑⲏ">
ϩⲑⲏ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u36" func="nmod:poss" head="#u35" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲓ">
<norm_group norm_group="ⲉⲣⲟⲓ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u37" func="case" head="#u38" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u38" func="obl" head="#u34" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉϩⲟⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲡⲉϩⲟⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u39" func="case" head="#u41" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u40" func="det" head="#u41" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉϩⲟⲟⲩ">
<norm xml:id="u41" func="obl" head="#u34" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁϩⲟϫϩⲉϫ">
<norm_group norm_group="ⲙⲡⲁϩⲟϫϩⲉϫ">
<orig orig="ⲙ">
<norm xml:id="u42" func="case" head="#u44" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u43" func="nmod:poss" head="#u44" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ϩⲟϫϩⲉϫ">
<norm xml:id="u44" func="nmod" head="#u41" pos="N" lemma="ϩⲟϫϩⲉϫ" norm="ϩⲟϫϩⲉϫ">
ϩⲟϫϩⲉϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲕⲱϯ">
<norm_group norm_group="ⲁⲓⲕⲱϯ">
<orig orig="ⲁ">
<norm xml:id="u45" func="aux" head="#u47" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u46" func="nsubj" head="#u47" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u47" func="parataxis" head="#u34" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲁⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲥⲁⲫⲛⲟⲩϯ">
<orig orig="ⲛ̀ⲥⲁ">
<norm xml:id="u48" func="case" head="#u50" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛ̀ⲥⲁ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u49" func="det" head="#u50" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u50" func="obl" head="#u47" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϧⲣⲏⲓ">
<orig orig="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm xml:id="u51" func="case" head="#u54" pos="ADV" lemma="ⲛϧⲣⲏⲓ" norm="ⲛϧⲣⲏⲓ">
ⲛ̀ϧ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲁϫⲓϫ">
<norm_group norm_group="ϧⲉⲛⲛⲁϫⲓϫ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u52" func="fixed" head="#u51" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u53" func="nmod:poss" head="#u54" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u54" func="obl" head="#u47" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲉϫⲱⲣϩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲉϫⲱⲣϩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u55" func="case" head="#u57" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u56" func="det" head="#u57" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉϫⲱⲣϩ">
<norm xml:id="u57" func="obl" head="#u47" pos="N" lemma="ϫⲱⲣϩ" norm="ⲉϫⲱⲣϩ">
ⲉϫⲱⲣϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉϥⲙⲑⲟ">
<norm_group norm_group="ⲙⲡⲉϥⲙⲑⲟ">
<orig orig="ⲙ">
<norm xml:id="u58" func="case" head="#u60" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u59" func="nmod:poss" head="#u60" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲙⲑⲟ">
<norm xml:id="u60" func="nmod" head="#u57" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲟⲩϣⲉⲣϩⲁⲗ">
<norm_group norm_group="ⲙⲡⲟⲩϣⲉⲣϩⲁⲗ">
<orig orig="ⲙⲡ">
<norm xml:id="u61" func="aux" head="#u63" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙⲡ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u62" func="nsubj" head="#u63" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲉⲣϩⲁⲗ">
<norm xml:id="u63" func="parataxis" head="#u47" pos="V" lemma="ϣⲉⲣϩⲁⲗ" norm="ϣⲉⲣϩⲁⲗ">
ϣⲉⲣϩⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u64" func="case" head="#u65" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u65" func="obl" head="#u63" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="In the day of mine affliction I earnestly sought the Lord; even with my hands by night before him, and I was not deceived; my soul refused to be comforted.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u66" func="cc" head="#u74" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲥⲟⲩⲱϣ">
<norm_group norm_group="ⲙⲡⲉⲥⲟⲩⲱϣ">
<orig orig="ⲙ">
<norm xml:id="u67" func="advmod" head="#u69" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲥ">
<norm xml:id="u68" func="nmod:poss" head="#u69" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲡⲉⲥ">
ⲡⲉⲥ
</norm>
</orig>
<orig orig="ⲟⲩⲱϣ">
<norm xml:id="u69" func="advcl" head="#u74" pos="N" lemma="ⲟⲩⲱϣ" norm="ⲟⲩⲱϣ">
ⲟⲩⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲧⲁⲩⲭⲏ">
<norm_group norm_group="ⲛϫⲉⲧⲁⲩⲭⲏ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u70" func="case" head="#u71" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u71" func="dislocated" head="#u69" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u72" func="aux" head="#u74" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u73" func="nsubj" head="#u74" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲭⲏ">
<norm xml:id="u74" func="root" pos="VSTAT" lemma="ⲭⲱ" norm="ⲭⲏ">
ⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲟⲩϯⲛⲟⲙϯ">
<norm_group norm_group="ⲉⲑⲣⲟⲩϯⲛⲟⲙϯ">
<orig orig="ⲉ">
<norm xml:id="u75" func="mark" head="#u76" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣ">
<norm xml:id="u76" func="xcomp" head="#u74" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣ">
ⲑⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u77" func="obj" head="#u76" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϯⲛⲟⲙϯ">
<norm xml:id="u78" func="xcomp" head="#u76" pos="V" lemma="ϯⲛⲟⲙϯ" norm="ϯⲛⲟⲙϯ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ⲛⲟⲙϯ">
ⲛⲟⲙϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲥ">
<norm_group norm_group="ⲛⲁⲥ">
<orig orig="ⲛⲁ">
<norm xml:id="u79" func="case" head="#u80" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u80" func="obl" head="#u78" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣⲫⲙⲉⲩⲓ">
<norm_group norm_group="ⲁⲓⲉⲣⲫⲙⲉⲩⲓ">
<orig orig="ⲁ">
<norm xml:id="u81" func="aux" head="#u84" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u82" func="nsubj" head="#u83" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲫ">
<norm xml:id="u83" func="parataxis" head="#u74" pos="V" lemma="ⲉⲣⲫ" norm="ⲉⲣⲫ">
ⲉⲣⲫ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u84" func="parataxis" head="#u83" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲙⲫⲛⲟⲩϯ">
<orig orig="ⲙ̀">
<norm xml:id="u85" func="case" head="#u87" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u86" func="det" head="#u87" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u87" func="obj" head="#u84" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u88" func="cc" head="#u91" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲁⲓⲟⲩⲛⲟϥ">
<orig orig="ⲁ">
<norm xml:id="u89" func="aux" head="#u91" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u90" func="nsubj" head="#u91" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u91" func="conj" head="#u74" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<norm_group norm_group="ⲁⲓⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<orig orig="ⲁ">
<norm xml:id="u92" func="aux" head="#u94" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u93" func="nsubj" head="#u94" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<norm xml:id="u94" func="parataxis" head="#u91" pos="V" lemma="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ" norm="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲙⲉⲗⲉⲧⲁⲛ">
ⲙⲉⲗⲉⲧⲁⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u95" func="cc" head="#u98" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲉⲣⲕⲟⲩϫⲓ">
<norm_group norm_group="ⲁϥⲉⲣⲕⲟⲩϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u96" func="aux" head="#u98" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u97" func="nsubj" head="#u98" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲣⲕⲟⲩϫⲓ">
<norm xml:id="u98" func="conj" head="#u94" pos="V" lemma="ⲉⲣⲕⲟⲩϫⲓ" norm="ⲉⲣⲕⲟⲩϫⲓ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲕⲟⲩϫⲓ">
ⲕⲟⲩϫⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲏⲧ">
<norm_group norm_group="ⲛϩⲏⲧ">
<orig orig="ⲛ">
<norm xml:id="u99" func="case" head="#u100" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u100" func="obl" head="#u98" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲁⲡⲛⲉⲩⲙⲁ">
<norm_group norm_group="ⲛϫⲉⲡⲁⲡⲛⲉⲩⲙⲁ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u101" func="case" head="#u103" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u102" func="nmod:poss" head="#u103" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲡⲛⲉⲩⲙⲁ">
<norm xml:id="u103" func="dislocated" head="#u98" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="I remembered God, and rejoiced; I poured out my complaint, and my soul fainted. Pause.">
<orig_group orig_group="ⲁⲩⲉⲣϣⲟⲣⲡ">
<norm_group norm_group="ⲁⲩⲉⲣϣⲟⲣⲡ">
<orig orig="ⲁ">
<norm xml:id="u104" func="aux" head="#u106" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u105" func="nsubj" head="#u106" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲣϣⲟⲣⲡ">
<norm xml:id="u106" func="root" pos="V" lemma="ⲉⲣϣⲟⲣⲡ" norm="ⲉⲣϣⲟⲣⲡ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϣⲟⲣⲡ">
ϣⲟⲣⲡ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲁϩⲟ">
<norm_group norm_group="ⲛⲧⲁϩⲟ">
<orig orig="ⲛ">
<norm xml:id="u107" func="case" head="#u109" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u108" func="det" head="#u109" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲁϩⲟ">
<norm xml:id="u109" func="obj" head="#u106" pos="N" lemma="ⲁϩⲟ" norm="ⲁϩⲟ">
ⲁϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲁⲙⲁⲛⲁⲣⲉϩ">
<norm_group norm_group="ⲛⲛⲁⲙⲁⲛⲁⲣⲉϩ">
<orig orig="ⲛ">
<norm xml:id="u110" func="case" head="#u112" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u111" func="nmod:poss" head="#u112" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲙⲁⲛⲁⲣⲉϩ">
<norm xml:id="u112" func="nmod" head="#u109" pos="N" lemma="ⲙⲁⲛⲁⲣⲉϩ" norm="ⲙⲁⲛⲁⲣⲉϩ">
ⲙⲁⲛⲁⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲁϫⲁϫⲓ">
<norm_group norm_group="ⲛϫⲉⲛⲁϫⲁϫⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u113" func="case" head="#u115" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u114" func="nmod:poss" head="#u115" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲁϫⲓ">
<norm xml:id="u115" func="dislocated" head="#u106" pos="N" lemma="ϫⲁϫⲓ" norm="ϫⲁϫⲓ">
ϫⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u116" func="nmod:unmarked" head="#u115" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u117" func="nmod:poss" head="#u116" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓϣⲑⲟⲣⲧⲉⲣ">
<norm_group norm_group="ⲁⲓϣⲑⲟⲣⲧⲉⲣ">
<orig orig="ⲁ">
<norm xml:id="u118" func="aux" head="#u120" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u119" func="nsubj" head="#u120" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ϣⲑⲟⲣⲧⲉⲣ">
<norm xml:id="u120" func="parataxis" head="#u106" pos="V" lemma="ϣⲑⲟⲣⲧⲉⲣ" norm="ϣⲑⲟⲣⲧⲉⲣ">
ϣⲑⲟⲣⲧⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u121" func="cc" head="#u127" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲙⲡⲓⲥⲁϫⲓ">
<orig orig="ⲙ">
<norm xml:id="u122" func="case" head="#u124" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u123" func="det" head="#u124" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u124" func="obl" head="#u127" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲙⲟⲕⲙⲉⲕ">
<norm_group norm_group="ⲁⲓⲙⲟⲕⲙⲉⲕ">
<orig orig="ⲁ">
<norm xml:id="u125" func="aux" head="#u127" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u126" func="nsubj" head="#u127" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲕⲙⲉⲕ">
<norm xml:id="u127" func="conj" head="#u106" pos="V" lemma="ⲙⲟⲕⲙⲉⲕ" norm="ⲙⲟⲕⲙⲉⲕ">
ⲙⲟⲕⲙⲉⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲁⲛⲉϩⲟⲟⲩ">
<norm_group norm_group="ⲉϩⲁⲛⲉϩⲟⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u128" func="case" head="#u130" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u129" func="det" head="#u130" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲉϩⲟⲟⲩ">
<norm xml:id="u130" func="obl" head="#u127" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲣⲭⲉⲟⲥ">
<norm_group norm_group="ⲛⲁⲣⲭⲉⲟⲥ">
<orig orig="ⲛ">
<norm xml:id="u131" func="case" head="#u132" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲣⲭⲉⲟⲥ">
<norm xml:id="u132" func="nmod" head="#u130" pos="N" lemma="ⲁⲣⲭⲉⲟⲥ" norm="ⲁⲣⲭⲉⲟⲥ">
<lang lang="Greek">
ⲁⲣⲭⲉⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u133" func="cc" head="#u141" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲣⲟⲙⲡⲓ">
<norm_group norm_group="ϩⲁⲛⲣⲟⲙⲡⲓ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u134" func="det" head="#u135" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲣⲟⲙⲡⲓ">
<norm xml:id="u135" func="dislocated" head="#u141" pos="N" lemma="ⲣⲟⲙⲡⲓ" norm="ⲣⲟⲙⲡⲓ">
ⲣⲟⲙⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲛⲉϩ">
<norm_group norm_group="ⲛⲉⲛⲉϩ">
<orig orig="ⲛ">
<norm xml:id="u136" func="case" head="#u137" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲉⲛⲉϩ">
<norm xml:id="u137" func="nmod" head="#u135" pos="N" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣⲡⲟⲩⲙⲉⲩⲓ">
<norm_group norm_group="ⲁⲓⲉⲣⲡⲟⲩⲙⲉⲩⲓ">
<orig orig="ⲁ">
<norm xml:id="u138" func="aux" head="#u141" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u139" func="nsubj" head="#u141" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲡⲟⲩ">
<norm xml:id="u140" func="conj" head="#u141" pos="V" lemma="ⲉⲣⲡⲟⲩ" norm="ⲉⲣⲡⲟⲩ">
ⲉⲣⲡⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u141" func="conj" head="#u127" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u142" func="cc" head="#u145" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<norm_group norm_group="ⲁⲓⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<orig orig="ⲁ">
<norm xml:id="u143" func="aux" head="#u145" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u144" func="nsubj" head="#u145" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<norm xml:id="u145" func="conj" head="#u141" pos="V" lemma="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ" norm="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲙⲉⲗⲉⲧⲁⲛ">
ⲙⲉⲗⲉⲧⲁⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲉϫⲱⲣϩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲉϫⲱⲣϩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u146" func="case" head="#u148" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u147" func="det" head="#u148" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉϫⲱⲣϩ">
<norm xml:id="u148" func="obl" head="#u145" pos="N" lemma="ϫⲱⲣϩ" norm="ⲉϫⲱⲣϩ">
ⲉϫⲱⲣϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϩⲣⲏⲓ">
<orig orig="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u149" func="case" head="#u152" pos="ADV" lemma="ⲛϩⲣⲏⲓ" norm="ⲛϩⲣⲏⲓ">
ⲛ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲁϩⲏⲧ">
<norm_group norm_group="ϧⲉⲛⲡⲁϩⲏⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u150" func="case" head="#u152" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u151" func="nmod:poss" head="#u152" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u152" func="obl" head="#u145" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="All mine enemies set a watch against me: I was troubled, and spoke not.">
<orig_group orig_group="ⲛⲁⲓⲥⲣⲱϥⲧ">
<norm_group norm_group="ⲛⲁⲓⲥⲣⲱϥⲧ">
<orig orig="ⲛⲁ">
<norm xml:id="u153" func="aux" head="#u155" new_sent="true" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u154" func="nsubj" head="#u155" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲣⲱϥⲧ">
<norm xml:id="u155" func="root" pos="N" lemma="ⲥⲣⲱϥⲧ" norm="ⲥⲣⲱϥⲧ">
ⲥⲣⲱϥⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u156" func="cc" head="#u159" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓϧⲟⲧϧⲉⲧ">
<norm_group norm_group="ⲛⲁⲓϧⲟⲧϧⲉⲧ">
<orig orig="ⲛⲁ">
<norm xml:id="u157" func="aux" head="#u159" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u158" func="nsubj" head="#u159" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ϧⲟⲧϧⲉⲧ">
<norm xml:id="u159" func="conj" head="#u155" pos="V" lemma="ϧⲟⲧϧⲉⲧ" norm="ϧⲟⲧϧⲉⲧ">
ϧⲟⲧϧⲉⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲁⲡⲛⲉⲩⲙⲁ">
<norm_group norm_group="ⲙⲡⲁⲡⲛⲉⲩⲙⲁ">
<orig orig="ⲙ">
<norm xml:id="u160" func="case" head="#u162" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u161" func="nmod:poss" head="#u162" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲡⲛⲉⲩⲙⲁ">
<norm xml:id="u162" func="obj" head="#u159" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲏ">
<norm_group norm_group="ⲙⲏ">
<orig orig="ⲙⲏ">
<norm xml:id="u163" func="advmod" head="#u166" pos="CONJ" lemma="ⲙⲏ" norm="ⲙⲏ">
<lang lang="Greek">
ⲙⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲭⲁⲧ">
<norm_group norm_group="ϥⲛⲁⲭⲁⲧ">
<orig orig="ϥ">
<norm xml:id="u164" func="nsubj" head="#u166" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u165" func="aux" head="#u166" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲭⲁⲧ">
<norm xml:id="u166" func="parataxis" head="#u155" pos="V" lemma="ⲭⲁⲧ" norm="ⲭⲁⲧ">
ⲭⲁⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲱϥ">
<norm_group norm_group="ⲛⲥⲱϥ">
<orig orig="ⲛ̀ⲥⲱ">
<norm xml:id="u167" func="case" head="#u168" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲱ">
ⲛ̀ⲥⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u168" func="obl" head="#u166" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲛϫⲉⲡϭⲟⲓⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u169" func="case" head="#u171" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u170" func="det" head="#u171" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u171" func="dislocated" head="#u166" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲉ̀ⲛⲉϩ">
<norm_group norm_group="ϣⲁⲉⲛⲉϩ">
<orig orig="ϣⲁ">
<norm xml:id="u172" func="case" head="#u173" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲉ̀ⲛⲉϩ">
<norm xml:id="u173" func="obl" head="#u166" pos="N" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉ̀ⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u174" func="cc" head="#u177" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲟⲩⲁϩⲧⲟⲧϥ">
<norm_group norm_group="ϥⲛⲁⲟⲩⲁϩⲧⲟⲧϥ">
<orig orig="ϥ">
<norm xml:id="u175" func="nsubj" head="#u177" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u176" func="aux" head="#u177" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲟⲩⲁϩⲧⲟⲧ">
<norm xml:id="u177" func="conj" head="#u166" pos="V" lemma="ⲟⲩⲁϩⲧⲟⲧ" norm="ⲟⲩⲁϩⲧⲟⲧ">
ⲟⲩⲁϩⲧⲟⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u178" func="obj" head="#u177" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u179" func="advmod" head="#u177" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲉⲑⲣⲉϥϯⲙⲁϯ">
<norm_group norm_group="ϫⲉⲉⲧⲣⲉϥϯⲙⲁϯ">
<orig orig="ϫⲉ">
<norm xml:id="u180" func="mark" head="#u183" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲉ">
<norm xml:id="u181" func="case" head="#u183" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑ">
<norm xml:id="u182" func="det" head="#u183" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ
</norm>
</orig>
<orig orig="ⲣⲉϥϯⲙⲁϯ">
<norm xml:id="u183" func="advcl" head="#u177" pos="N" lemma="ⲣⲉϥϯⲙⲁϯ" norm="ⲣⲉϥϯⲙⲁϯ">
<morph morph="ⲣⲉϥ">
ⲣⲉϥ
</morph>
<morph morph="ϯⲙⲁϯ">
ϯⲙⲁϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="I considered the days of old, and remembered ancient years.">
<orig_group orig_group="ⲓⲉ">
<norm_group norm_group="ⲓⲉ">
<orig orig="ⲓⲉ">
<norm xml:id="u184" func="cc" head="#u187" new_sent="true" pos="CONJ" lemma="ⲓⲉ" norm="ⲓⲉ">
ⲓⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁϣⲱⲧ">
<norm_group norm_group="ϥⲛⲁϣⲱⲧ">
<orig orig="ϥ">
<norm xml:id="u185" func="nsubj" head="#u187" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u186" func="aux" head="#u187" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲱⲧ">
<norm xml:id="u187" func="root" pos="V" lemma="ϣⲓϯ" norm="ϣⲱⲧ">
ϣⲱⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉϥⲛⲁⲓ">
<norm_group norm_group="ⲙⲡⲉϥⲛⲁⲓ">
<orig orig="ⲙⲡⲉ">
<norm xml:id="u188" func="aux" head="#u190" pos="ANEGPST" lemma="ⲙⲡⲉ" norm="ⲙⲡⲉ">
ⲙⲡⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u189" func="nsubj" head="#u190" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u190" func="parataxis" head="#u187" pos="V" lemma="ⲛⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u191" func="advmod" head="#u190" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁϧⲁⲉ">
<norm_group norm_group="ϣⲁϧⲁⲉ">
<orig orig="ϣⲁ">
<norm xml:id="u192" func="case" head="#u193" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ϧⲁⲉ">
<norm xml:id="u193" func="obl" head="#u190" pos="N" lemma="ϧⲁⲉ" norm="ϧⲁⲉ">
ϧⲁⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛ">
<norm_group norm_group="ⲓⲥϫⲉⲛ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u194" func="case" head="#u195" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲱⲟⲩ">
<norm_group norm_group="ϫⲱⲟⲩ">
<orig orig="ϫⲱ">
<norm xml:id="u195" func="obl" head="#u190" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u196" func="nmod:poss" head="#u195" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁϫⲱⲟⲩ">
<norm_group norm_group="ϣⲁϫⲱⲟⲩ">
<orig orig="ϣⲁ">
<norm xml:id="u197" func="case" head="#u198" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u198" func="obl" head="#u190" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u199" func="nmod:poss" head="#u198" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲏ">
<norm_group norm_group="ⲙⲏ">
<orig orig="ⲙⲏ">
<norm xml:id="u200" func="advmod" head="#u203" pos="N" lemma="ⲙⲏ" norm="ⲙⲏ">
<lang lang="Greek">
ⲙⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲉⲣⲡⲱⲃϣ">
<norm_group norm_group="ϥⲛⲁⲉⲣⲡⲱⲃϣ">
<orig orig="ϥ">
<norm xml:id="u201" func="nsubj" head="#u203" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u202" func="aux" head="#u203" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲡⲱⲃϣ">
<norm xml:id="u203" func="parataxis" head="#u190" pos="V" lemma="ⲉⲣⲡⲱⲃϣ" norm="ⲉⲣⲡⲱⲃϣ">
ⲉⲣⲡⲱⲃϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϣⲉⲛϩⲏⲧ">
<norm_group norm_group="ⲛϣⲉⲛϩⲏⲧ">
<orig orig="ⲛ">
<norm xml:id="u204" func="case" head="#u205" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϣⲉⲛ">
<norm xml:id="u205" func="nmod:poss" head="#u206" pos="V" lemma="ϣⲓⲛⲓ" norm="ϣⲉⲛ">
ϣⲉⲛ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u206" func="obj" head="#u203" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛϫⲉⲫⲛⲟⲩϯ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u207" func="case" head="#u209" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u208" func="det" head="#u209" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u209" func="dislocated" head="#u203" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲏ">
<norm_group norm_group="ⲙⲏ">
<orig orig="ⲙⲏ">
<norm xml:id="u210" func="advmod" head="#u213" pos="CONJ" lemma="ⲙⲏ" norm="ⲙⲏ">
<lang lang="Greek">
ⲙⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲧⲁϩⲛⲟ">
<norm_group norm_group="ϥⲛⲁⲧⲁϩⲛⲟ">
<orig orig="ϥ">
<norm xml:id="u211" func="nsubj" head="#u213" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u212" func="aux" head="#u213" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲁϩⲛⲟ">
<norm xml:id="u213" func="parataxis" head="#u203" pos="V" lemma="ⲧⲁϩⲛⲟ" norm="ⲧⲁϩⲛⲟ">
ⲧⲁϩⲛⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲉϥⲙⲉⲧϣⲉⲛϩⲏⲧ">
<norm_group norm_group="ⲛⲛⲉϥⲙⲉⲧϣⲉⲛϩⲏⲧ">
<orig orig="ⲛ">
<norm xml:id="u214" func="case" head="#u216" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u215" func="nmod:poss" head="#u216" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲙⲉⲧϣⲉⲛϩⲏⲧ">
<norm xml:id="u216" func="obj" head="#u213" pos="N" lemma="ⲙⲉⲧϣⲉⲛϩⲏⲧ" norm="ⲙⲉⲧϣⲉⲛϩⲏⲧ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ϣⲉⲛϩⲏⲧ">
ϣⲉⲛϩⲏⲧ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉϥϫⲱⲛⲧ">
<norm_group norm_group="ϧⲉⲛⲡⲉϥϫⲱⲛⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u217" func="case" head="#u219" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u218" func="nmod:poss" head="#u219" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ϫⲱⲛⲧ">
<norm xml:id="u219" func="obl" head="#u213" pos="N" lemma="ϫⲱⲛⲧ" norm="ϫⲱⲛⲧ">
ϫⲱⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="And I meditated; I communed with my heart by night, and diligently searched my spirit, saying,">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u220" func="cc" head="#u227" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲏⲓ">
<norm_group norm_group="ⲡⲉϫⲏⲓ">
<orig orig="ⲡⲉϫⲏⲓ">
<norm xml:id="u221" func="advmod" head="#u227" pos="N" lemma="ⲡⲉϫⲏⲓ" norm="ⲡⲉϫⲏⲓ">
ⲡⲉϫⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϯⲛⲟⲩ">
<norm_group norm_group="ϫⲉϯⲛⲟⲩ">
<orig orig="ϫⲉ">
<norm xml:id="u222" func="mark" head="#u227" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u223" func="advmod" head="#u227" pos="ADV" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲛⲁⲉⲣϩⲏⲧⲥ">
<norm_group norm_group="ⲁⲓⲛⲁⲉⲣϩⲏⲧⲥ">
<orig orig="ⲁ">
<norm xml:id="u224" func="aux" head="#u227" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u225" func="nsubj" head="#u227" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u226" func="aux" head="#u227" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣϩⲏⲧ">
<norm xml:id="u227" func="root" pos="V" lemma="ⲉⲣϩⲏⲧ" norm="ⲉⲣϩⲏⲧ">
ⲉⲣϩⲏⲧ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u228" func="obj" head="#u227" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲁⲓ">
<norm_group norm_group="ⲫⲁⲓ">
<orig orig="ⲫⲁⲓ">
<norm xml:id="u229" func="parataxis" head="#u221" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u230" func="cop" head="#u229" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϣⲓⲃϯ">
<norm_group norm_group="ⲡϣⲓⲃϯ">
<orig orig="ⲡ">
<norm xml:id="u231" func="det" head="#u232" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϣⲓⲃϯ">
<norm xml:id="u232" func="nsubj" head="#u229" pos="N" lemma="ϣⲓⲃϯ" norm="ϣⲓⲃϯ">
ϣⲓⲃϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲑⲟⲩⲓⲛⲁⲙ">
<norm_group norm_group="ⲛⲑⲟⲩⲓⲛⲁⲙ">
<orig orig="ⲛⲑⲟⲩⲓⲛⲁⲙ">
<norm xml:id="u233" func="appos" head="#u232" pos="V" lemma="ⲛⲑⲟⲩⲓⲛⲁⲙ" norm="ⲛⲑⲟⲩⲓⲛⲁⲙ">
ⲛⲑⲟⲩⲓⲛⲁⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲏ">
<norm_group norm_group="ⲙⲫⲏ">
<orig orig="ⲙ">
<norm xml:id="u234" func="case" head="#u235" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫⲏ">
<norm xml:id="u235" func="nmod" head="#u233" pos="PDEM" lemma="ⲫⲏ" norm="ⲫⲏ">
ⲫⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϭⲟⲥⲓ">
<norm_group norm_group="ⲉⲧϭⲟⲥⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u236" func="mark" head="#u237" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u237" func="acl:relcl" head="#u235" pos="VSTAT" lemma="ϭⲓⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="Will the Lord cast off for ever? and will he be well pleased no more?">
<orig_group orig_group="ⲁⲓⲉⲣⲫⲙⲉⲩⲓ">
<norm_group norm_group="ⲁⲓⲉⲣⲫⲙⲉⲩⲓ">
<orig orig="ⲁ">
<norm xml:id="u238" func="aux" head="#u241" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u239" func="nsubj" head="#u240" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲫ">
<norm xml:id="u240" func="nsubj" head="#u241" pos="V" lemma="ⲉⲣⲫ" norm="ⲉⲣⲫ">
ⲉⲣⲫ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u241" func="root" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲛⲓϩⲃⲏⲟⲩⲓ">
<orig orig="ⲛ">
<norm xml:id="u242" func="case" head="#u244" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u243" func="det" head="#u244" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u244" func="obj" head="#u241" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲛⲧⲉⲡϭⲟⲓⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u245" func="case" head="#u247" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u246" func="det" head="#u247" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u247" func="nmod" head="#u244" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϯⲛⲁⲉⲣⲫⲙⲉⲩⲓ">
<norm_group norm_group="ϫⲉϯⲛⲁⲉⲣⲫⲙⲉⲩⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u248" func="mark" head="#u252" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u249" func="nsubj" head="#u252" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u250" func="aux" head="#u252" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲫ">
<norm xml:id="u251" func="aux" head="#u252" pos="V" lemma="ⲉⲣⲫ" norm="ⲉⲣⲫ">
ⲉⲣⲫ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u252" func="ccomp" head="#u241" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛ">
<norm_group norm_group="ⲓⲥϫⲉⲛ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u253" func="case" head="#u255" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲁⲣⲭⲏ">
<norm_group norm_group="ⲧⲁⲣⲭⲏ">
<orig orig="ⲧ">
<norm xml:id="u254" func="det" head="#u255" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲁⲣⲭⲏ">
<norm xml:id="u255" func="obl" head="#u252" pos="N" lemma="ⲁⲣⲭⲏ" norm="ⲁⲣⲭⲏ">
<lang lang="Greek">
ⲁⲣⲭⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲉⲕϣⲫⲏⲣⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲉⲕϣⲫⲏⲣⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u256" func="case" head="#u258" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u257" func="nmod:poss" head="#u258" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϣⲫⲏⲣⲓ">
<norm xml:id="u258" func="nmod" head="#u255" pos="N" lemma="ϣⲫⲏⲣⲓ" norm="ϣⲫⲏⲣⲓ">
ϣⲫⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Will he cut off his mercy for ever, even for ever and ever?">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u259" func="cc" head="#u262" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<norm_group norm_group="ϯⲛⲁⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<orig orig="ϯ">
<norm xml:id="u260" func="nsubj" head="#u262" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u261" func="aux" head="#u262" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<norm xml:id="u262" func="root" pos="V" lemma="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ" norm="ⲉⲣⲙⲉⲗⲉⲧⲁⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲙⲉⲗⲉⲧⲁⲛ">
ⲙⲉⲗⲉⲧⲁⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲉⲕϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ϧⲉⲛⲛⲉⲕϩⲃⲏⲟⲩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u263" func="case" head="#u265" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u264" func="nmod:poss" head="#u265" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u265" func="obl" head="#u262" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u266" func="nmod:unmarked" head="#u265" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u267" func="nmod:poss" head="#u266" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u268" func="cc" head="#u270" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲓⲉϣⲱⲡⲓ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u269" func="nsubj" head="#u270" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u270" func="conj" head="#u262" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲙⲏⲛ">
<norm_group norm_group="ⲉⲓⲙⲏⲛ">
<orig orig="ⲉ">
<norm xml:id="u271" func="mark" head="#u273" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u272" func="nsubj" head="#u273" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲙⲏⲛ">
<norm xml:id="u273" func="advcl" head="#u270" pos="VSTAT" lemma="ⲙⲟⲩⲛ" norm="ⲙⲏⲛ">
ⲙⲏⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲉⲕϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ϧⲉⲛⲛⲉⲕϩⲃⲏⲟⲩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u274" func="case" head="#u276" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u275" func="nmod:poss" head="#u276" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u276" func="obl" head="#u273" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="Will God forget to pity? or will he shut up his compassions in his wrath? Pause.">
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u277" func="det" head="#u278" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u278" func="dislocated" head="#u309" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲣⲉ">
<norm_group norm_group="ⲁⲣⲉ">
<orig orig="ⲁⲣⲉ">
<norm xml:id="u279" func="mark" head="#u284" pos="CFOC" lemma="ⲁⲣⲉ" norm="ⲁⲣⲉ">
ⲁⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲕⲙⲱⲓⲧ">
<norm_group norm_group="ⲡⲉⲕⲙⲱⲓⲧ">
<orig orig="ⲡⲉⲕ">
<norm xml:id="u280" func="nmod:poss" head="#u281" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u281" func="nsubj" head="#u284" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ϧⲉⲛⲡⲉⲑⲟⲩⲁⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u282" func="case" head="#u283" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲑ">
<norm xml:id="u283" func="nmod" head="#u281" pos="NPROP" lemma="ⲡⲉⲑ" norm="ⲡⲉⲑ">
ⲡⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u284" func="acl:relcl" head="#u278" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u285" func="det" head="#u278" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲛⲟⲩϯ">
<orig orig="ⲛ">
<norm xml:id="u286" func="case" head="#u287" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u287" func="nmod" head="#u285" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟⲓ">
<norm_group norm_group="ⲉⲧⲟⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u288" func="mark" head="#u289" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲟⲓ">
<norm xml:id="u289" func="acl:relcl" head="#u287" pos="VSTAT" lemma="ⲓⲣⲓ" norm="ⲟⲓ">
ⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓϣϯ">
<norm_group norm_group="ⲛⲛⲓϣϯ">
<orig orig="ⲛ">
<norm xml:id="u290" func="case" head="#u291" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u291" func="obl" head="#u289" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u292" func="case" head="#u294" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u293" func="det" head="#u294" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u294" func="obl" head="#u289" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲛⲛⲟⲩϯ">
<norm_group norm_group="ⲙⲡⲉⲛⲛⲟⲩϯ">
<orig orig="ⲙ">
<norm xml:id="u295" func="case" head="#u297" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲛ">
<norm xml:id="u296" func="nmod:poss" head="#u297" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲡⲉⲛ">
ⲡⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u297" func="nmod" head="#u294" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟⲕ">
<norm_group norm_group="ⲛⲑⲟⲕ">
<orig orig="ⲛ̀ⲑⲟⲕ">
<norm xml:id="u298" func="appos" head="#u297" pos="PPERI" lemma="ⲛⲑⲟⲕ" norm="ⲛⲑⲟⲕ">
ⲛ̀ⲑⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u299" func="cop" head="#u298" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u300" func="det" head="#u301" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u301" func="nsubj" head="#u298" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲓⲣⲓ">
<norm_group norm_group="ⲉⲧⲓⲣⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u302" func="mark" head="#u303" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲓⲣⲓ">
<norm xml:id="u303" func="acl:relcl" head="#u301" pos="V" lemma="ⲓⲣⲓ" norm="ⲓⲣⲓ">
ⲓⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛϣⲫⲏⲣⲓ">
<norm_group norm_group="ⲛϩⲁⲛϣⲫⲏⲣⲓ">
<orig orig="ⲛ">
<norm xml:id="u304" func="case" head="#u306" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u305" func="det" head="#u306" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲫⲏⲣⲓ">
<norm xml:id="u306" func="obj" head="#u303" pos="N" lemma="ϣⲫⲏⲣⲓ" norm="ϣⲫⲏⲣⲓ">
ϣⲫⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲟⲩⲱⲛϩ">
<norm_group norm_group="ⲁⲕⲟⲩⲱⲛϩ">
<orig orig="ⲁ">
<norm xml:id="u307" func="aux" head="#u309" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u308" func="nsubj" head="#u309" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲟⲩⲱⲛϩ">
<norm xml:id="u309" func="root" pos="V" lemma="ⲟⲩⲱⲛϩ" norm="ⲟⲩⲱⲛϩ">
ⲟⲩⲱⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲕϫⲟⲙ">
<norm_group norm_group="ⲛⲧⲉⲕϫⲟⲙ">
<orig orig="ⲛ">
<norm xml:id="u310" func="case" head="#u312" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲕ">
<norm xml:id="u311" func="nmod:poss" head="#u312" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u312" func="obj" head="#u309" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u313" func="case" head="#u316" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲗⲁⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲗⲁⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u314" func="fixed" head="#u313" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u315" func="det" head="#u316" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u316" func="obl" head="#u309" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲥⲱϯ">
<norm_group norm_group="ⲁⲕⲥⲱϯ">
<orig orig="ⲁ">
<norm xml:id="u317" func="aux" head="#u319" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u318" func="nsubj" head="#u319" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲥⲱϯ">
<norm xml:id="u319" func="parataxis" head="#u309" pos="V" lemma="ⲥⲱϯ" norm="ⲥⲱϯ">
ⲥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲕⲗⲁⲟⲥ">
<norm_group norm_group="ⲙⲡⲉⲕⲗⲁⲟⲥ">
<orig orig="ⲙ">
<norm xml:id="u320" func="case" head="#u322" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u321" func="nmod:poss" head="#u322" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u322" func="obj" head="#u319" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϩⲣⲏⲓ">
<orig orig="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u323" func="case" head="#u326" pos="ADV" lemma="ⲛϩⲣⲏⲓ" norm="ⲛϩⲣⲏⲓ">
ⲛ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉⲕϣⲱⲃϣ">
<norm_group norm_group="ϧⲉⲛⲡⲉⲕϣⲱⲃϣ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u324" func="case" head="#u326" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u325" func="nmod:poss" head="#u326" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ϣⲱⲃϣ">
<norm xml:id="u326" func="obl" head="#u319" pos="N" lemma="ϣⲱⲡϣ" norm="ϣⲱⲃϣ">
ϣⲱⲃϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲛϣⲏⲣⲓ">
<norm_group norm_group="ⲛⲉⲛϣⲏⲣⲓ">
<orig orig="ⲛⲉⲛ">
<norm xml:id="u327" func="nmod:poss" head="#u328" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u328" func="appos" head="#u326" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲁⲕⲱⲃ">
<norm_group norm_group="ⲛⲓⲁⲕⲱⲃ">
<orig orig="ⲛ">
<norm xml:id="u329" func="case" head="#u330" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲓⲁⲕⲱⲃ">
<norm xml:id="u330" func="nmod" head="#u328" pos="NPROP" lemma="ⲓⲁⲕⲱⲃ" norm="ⲓⲁⲕⲱⲃ">
<lang lang="Hebrew">
ⲓⲁⲕⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲓⲱⲥⲏⲫ">
<norm_group norm_group="ⲛⲉⲙⲓⲱⲥⲏⲫ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u331" func="cc" head="#u332" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲓⲱⲥⲏⲫ">
<norm xml:id="u332" func="conj" head="#u330" pos="NPROP" lemma="ⲓⲱⲥⲏⲫ" norm="ⲓⲱⲥⲏⲫ">
<lang lang="Hebrew">
ⲓⲱⲥⲏⲫ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="And I said, Now I have begun; this is the change of the right hand of the Most High.">
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u333" func="det" head="#u334" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u334" func="dislocated" head="#u337" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲛⲁⲩ">
<norm_group norm_group="ⲁⲩⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u335" func="aux" head="#u337" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u336" func="nsubj" head="#u337" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u337" func="root" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲕ">
<norm_group norm_group="ⲉⲣⲟⲕ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u338" func="case" head="#u339" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u339" func="obl" head="#u337" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲙⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲙⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u340" func="case" head="#u342" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u341" func="det" head="#u342" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u342" func="dislocated" head="#u337" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲛⲁⲩ">
<norm_group norm_group="ⲁⲩⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u343" func="aux" head="#u345" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u344" func="nsubj" head="#u345" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u345" func="parataxis" head="#u337" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲕ">
<norm_group norm_group="ⲉⲣⲟⲕ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u346" func="case" head="#u347" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u347" func="obl" head="#u345" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲙⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲙⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u348" func="case" head="#u350" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u349" func="det" head="#u350" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u350" func="dislocated" head="#u345" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u351" func="cc" head="#u354" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲉⲣϩⲟϯ">
<norm_group norm_group="ⲁⲩⲉⲣϩⲟϯ">
<orig orig="ⲁ">
<norm xml:id="u352" func="aux" head="#u354" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u353" func="nsubj" head="#u354" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲣϩⲟϯ">
<norm xml:id="u354" func="conj" head="#u337" pos="V" lemma="ⲉⲣϩⲟϯ" norm="ⲉⲣϩⲟϯ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϩⲟϯ">
ϩⲟϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϣⲑⲟⲣⲧⲉⲣ">
<norm_group norm_group="ⲁⲩϣⲑⲟⲣⲧⲉⲣ">
<orig orig="ⲁ">
<norm xml:id="u355" func="aux" head="#u357" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u356" func="nsubj" head="#u357" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲑⲟⲣⲧⲉⲣ">
<norm xml:id="u357" func="parataxis" head="#u354" pos="V" lemma="ϣⲑⲟⲣⲧⲉⲣ" norm="ϣⲑⲟⲣⲧⲉⲣ">
ϣⲑⲟⲣⲧⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲛⲟⲩⲛ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲛⲟⲩⲛ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u358" func="case" head="#u360" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u359" func="det" head="#u360" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲛ">
<norm xml:id="u360" func="dislocated" head="#u357" pos="N" lemma="ⲛⲟⲩⲛ" norm="ⲛⲟⲩⲛ">
ⲛⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉⲛⲡ̀ⲁ̀ϣⲁⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲡⲁϣⲁⲓ">
<orig orig="ⲛⲧⲉⲛ">
<norm xml:id="u361" func="case" head="#u363" pos="PREP" lemma="ⲛⲧⲉⲛ" norm="ⲛⲧⲉⲛ">
ⲛⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀ⲁ̀">
<norm xml:id="u362" func="nmod:poss" head="#u363" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡ̀ⲁ̀
</norm>
</orig>
<orig orig="ϣⲁⲓ">
<norm xml:id="u363" func="obl" head="#u357" pos="N" lemma="ϣⲁⲓ" norm="ϣⲁⲓ">
ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲥⲙⲏ">
<norm_group norm_group="ⲛⲧⲥⲙⲏ">
<orig orig="ⲛ">
<norm xml:id="u364" func="case" head="#u366" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u365" func="det" head="#u366" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u366" func="nmod" head="#u363" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϩⲁⲛⲙⲱⲟⲩ">
<norm_group norm_group="ⲛⲧⲉϩⲁⲛⲙⲱⲟⲩ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u367" func="case" head="#u369" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u368" func="det" head="#u369" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u369" func="nmod" head="#u366" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="I remembered the works of the Lord; for I will remember thy wonders from the beginning.">
<orig_group orig_group="ⲛⲓϭⲏⲡⲓ">
<norm_group norm_group="ⲛⲓϭⲏⲡⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u370" func="det" head="#u371" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϭⲏⲡⲓ">
<norm xml:id="u371" func="dislocated" head="#u374" pos="N" lemma="ϭⲏⲡⲓ" norm="ϭⲏⲡⲓ">
ϭⲏⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϯ">
<norm_group norm_group="ⲁⲩϯ">
<orig orig="ⲁ">
<norm xml:id="u372" func="aux" head="#u374" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u373" func="nsubj" head="#u374" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u374" func="root" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲟⲩⲥⲙⲏ">
<norm_group norm_group="ⲛⲧⲟⲩⲥⲙⲏ">
<orig orig="ⲛ">
<norm xml:id="u375" func="case" head="#u377" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲟⲩ">
<norm xml:id="u376" func="nmod:poss" head="#u377" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u377" func="obj" head="#u374" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲉ">
<norm_group norm_group="ⲕⲉ">
<orig orig="ⲕⲉ">
<norm xml:id="u378" func="advmod" head="#u383" pos="CONJ" lemma="ⲕⲉ" norm="ⲕⲉ">
ⲕⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u379" func="advmod" head="#u374" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕⲥⲟⲑⲛⲉϥ">
<norm_group norm_group="ⲛⲉⲕⲥⲟⲑⲛⲉϥ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u380" func="nmod:poss" head="#u381" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲥⲟⲑⲛⲉϥ">
<norm xml:id="u381" func="dislocated" head="#u374" pos="N" lemma="ⲥⲟⲑⲛⲉϥ" norm="ⲥⲟⲑⲛⲉϥ">
ⲥⲟⲑⲛⲉϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲉⲙⲟϣⲓ">
<norm_group norm_group="ⲥⲉⲙⲟϣⲓ">
<orig orig="ⲥⲉ">
<norm xml:id="u382" func="nsubj" head="#u383" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲙⲟϣⲓ">
<norm xml:id="u383" func="parataxis" head="#u374" pos="V" lemma="ⲙⲟϣⲓ" norm="ⲙⲟϣⲓ">
ⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲥⲙⲏ">
<norm_group norm_group="ⲧⲥⲙⲏ">
<orig orig="ⲧ">
<norm xml:id="u384" func="det" head="#u385" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u385" func="obj" head="#u383" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲉⲕϧⲁⲣⲁⲃⲁⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲉⲕϧⲁⲣⲁⲃⲁⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u386" func="case" head="#u388" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u387" func="nmod:poss" head="#u388" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϧⲁⲣⲁⲃⲁⲓ">
<norm xml:id="u388" func="nmod" head="#u385" pos="N" lemma="ϧⲁⲣⲁⲃⲁⲓ" norm="ϧⲁⲣⲁⲃⲁⲓ">
ϧⲁⲣⲁⲃⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲧⲣⲟⲭⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲧⲣⲟⲭⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u389" func="case" head="#u391" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u390" func="det" head="#u391" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲧⲣⲟⲭⲟⲥ">
<norm xml:id="u391" func="obl" head="#u383" pos="N" lemma="ⲧⲣⲟⲭⲟⲥ" norm="ⲧⲣⲟⲭⲟⲥ">
<lang lang="Greek">
ⲧⲣⲟⲭⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="And I will meditate on all thy works, and will consider thy doings.">
<orig_group orig_group="ⲛⲉⲕⲥⲉⲧⲉⲃⲣⲏϫ">
<norm_group norm_group="ⲛⲉⲕⲥⲉⲧⲉⲃⲣⲏϫ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u392" func="nmod:poss" head="#u393" new_sent="true" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲥⲉⲧⲉⲃⲣⲏϫ">
<norm xml:id="u393" func="dislocated" head="#u396" pos="N" lemma="ⲥⲉⲧⲉⲃⲣⲏϫ" norm="ⲥⲉⲧⲉⲃⲣⲏϫ">
ⲥⲉⲧⲉⲃⲣⲏϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲉⲣⲟⲩⲱⲓⲛⲓ">
<norm_group norm_group="ⲁⲩⲉⲣⲟⲩⲱⲓⲛⲓ">
<orig orig="ⲁ">
<norm xml:id="u394" func="aux" head="#u396" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u395" func="nsubj" head="#u396" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲣⲟⲩⲱⲓⲛⲓ">
<norm xml:id="u396" func="root" pos="V" lemma="ⲉⲣⲟⲩⲱⲓⲛⲓ" norm="ⲉⲣⲟⲩⲱⲓⲛⲓ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲱⲓⲛⲓ">
ⲟⲩⲱⲓⲛⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm_group norm_group="ⲉϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<orig orig="ⲉ">
<norm xml:id="u397" func="case" head="#u399" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u398" func="det" head="#u399" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm xml:id="u399" func="obl" head="#u396" pos="N" lemma="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ" norm="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<lang lang="Greek">
ⲟⲓⲕⲟⲩⲙⲉⲛⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲕⲓⲙ">
<norm_group norm_group="ⲁϥⲕⲓⲙ">
<orig orig="ⲁ">
<norm xml:id="u400" func="aux" head="#u402" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u401" func="nsubj" head="#u402" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲕⲓⲙ">
<norm xml:id="u402" func="parataxis" head="#u396" pos="V" lemma="ⲕⲓⲙ" norm="ⲕⲓⲙ">
ⲕⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u403" func="cc" head="#u406" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲥⲑⲉⲣⲧⲉⲣ">
<norm_group norm_group="ⲁϥⲥⲑⲉⲣⲧⲉⲣ">
<orig orig="ⲁ">
<norm xml:id="u404" func="aux" head="#u406" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u405" func="nsubj" head="#u406" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲑⲉⲣⲧⲉⲣ">
<norm xml:id="u406" func="conj" head="#u402" pos="V" lemma="ⲥⲑⲉⲣⲧⲉⲣ" norm="ⲥⲑⲉⲣⲧⲉⲣ">
ⲥⲑⲉⲣⲧⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲕⲁϩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u407" func="case" head="#u409" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u408" func="det" head="#u409" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u409" func="dislocated" head="#u406" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="O God, thy way is in the sanctuary; who is a great God as our God?">
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u410" func="det" head="#u411" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u411" func="dislocated" head="#u418" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲉⲡⲉⲕⲙⲱⲓⲧ">
<norm_group norm_group="ⲉⲣⲉⲡⲉⲕⲙⲱⲓⲧ">
<orig orig="ⲉ̀ⲣⲉ">
<norm xml:id="u412" func="mark" head="#u418" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉ̀ⲣⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u413" func="nmod:poss" head="#u414" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u414" func="nsubj" head="#u418" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϧⲣⲏⲓ">
<orig orig="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm xml:id="u415" func="advmod" head="#u418" pos="ADV" lemma="ⲛϧⲣⲏⲓ" norm="ⲛϧⲣⲏⲓ">
ⲛ̀ϧ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲫ̀ⲓⲟⲙ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲟⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u416" func="case" head="#u418" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u417" func="det" head="#u418" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲓⲟⲙ">
<norm xml:id="u418" func="root" pos="N" lemma="ⲓⲟⲙ" norm="ⲓⲟⲙ">
ⲓⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u419" func="cc" head="#u424" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕⲙⲁⲙⲙⲟϣⲓ">
<norm_group norm_group="ⲛⲉⲕⲙⲁⲙⲙⲟϣⲓ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u420" func="nmod:poss" head="#u421" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲁⲙⲙⲟϣⲓ">
<norm xml:id="u421" func="dislocated" head="#u424" pos="N" lemma="ⲙⲁⲙⲙⲟϣⲓ" norm="ⲙⲁⲙⲙⲟϣⲓ">
ⲙⲁⲙⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲙⲱⲟⲩ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲙⲱⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u422" func="case" head="#u424" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u423" func="det" head="#u424" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u424" func="conj" head="#u418" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟϣ">
<norm_group norm_group="ⲉⲩⲟϣ">
<orig orig="ⲉ">
<norm xml:id="u425" func="mark" head="#u427" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u426" func="nsubj" head="#u427" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϣ">
<norm xml:id="u427" func="acl:relcl" head="#u424" pos="VSTAT" lemma="ⲁϣⲁⲓ" norm="ⲟϣ">
ⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u428" func="cc" head="#u434" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕⲧⲁⲧⲥⲓ">
<norm_group norm_group="ⲛⲉⲕⲧⲁⲧⲥⲓ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u429" func="nmod:poss" head="#u430" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲧⲁⲧⲥⲓ">
<norm xml:id="u430" func="conj" head="#u424" pos="N" lemma="ⲧⲁⲧⲥⲓ" norm="ⲧⲁⲧⲥⲓ">
ⲧⲁⲧⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲟⲩⲥⲟⲩⲱⲛⲟⲩ">
<norm_group norm_group="ⲛⲛⲟⲩⲥⲟⲩⲱⲛⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u431" func="advmod" head="#u434" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u432" func="aux" head="#u434" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u433" func="nsubj" head="#u434" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲱⲛ">
<norm xml:id="u434" func="conj" head="#u418" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲟⲩⲱⲛ">
ⲥⲟⲩⲱⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u435" func="obj" head="#u434" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="Thou art the God that doest wonders; thou hast made known thy power among the nations.">
<orig_group orig_group="ⲁⲕϭⲓⲙⲱⲓⲧ">
<norm_group norm_group="ⲁⲕϭⲓⲙⲱⲓⲧ">
<orig orig="ⲁ">
<norm xml:id="u436" func="aux" head="#u438" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u437" func="nsubj" head="#u438" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ϭⲓⲙⲱⲓⲧ">
<norm xml:id="u438" func="root" pos="V" lemma="ϭⲓⲙⲱⲓⲧ" norm="ϭⲓⲙⲱⲓⲧ">
ϭⲓⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲕⲗⲁⲟⲥ">
<norm_group norm_group="ⲙⲡⲉⲕⲗⲁⲟⲥ">
<orig orig="ⲙ">
<norm xml:id="u439" func="case" head="#u441" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u440" func="nmod:poss" head="#u441" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u441" func="obj" head="#u438" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u442" func="case" head="#u444" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u443" func="det" head="#u444" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u444" func="obl" head="#u438" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛⲉⲥⲱⲟⲩ">
<norm_group norm_group="ⲛϩⲁⲛⲉⲥⲱⲟⲩ">
<orig orig="ⲛ">
<norm xml:id="u445" func="case" head="#u447" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u446" func="det" head="#u447" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲉⲥⲱⲟⲩ">
<norm xml:id="u447" func="nmod" head="#u444" pos="N" lemma="ⲉⲥⲱⲟⲩ" norm="ⲉⲥⲱⲟⲩ">
ⲉⲥⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧϫⲓϫ">
<norm_group norm_group="ϧⲉⲛⲧϫⲓϫ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u448" func="case" head="#u450" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u449" func="det" head="#u450" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u450" func="obl" head="#u438" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲱⲩⲥⲏⲥ">
<norm_group norm_group="ⲙⲙⲱⲩⲥⲏⲥ">
<orig orig="ⲙ">
<norm xml:id="u451" func="case" head="#u452" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲙⲱⲩⲥⲏⲥ">
<norm xml:id="u452" func="nmod" head="#u450" pos="NPROP" lemma="ⲙⲱⲩⲥⲏⲥ" norm="ⲙⲱⲩⲥⲏⲥ">
<lang lang="Hebrew">
ⲙⲱⲩⲥⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲁⲁⲣⲱⲛ">
<norm_group norm_group="ⲛⲉⲙⲁⲁⲣⲱⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u453" func="cc" head="#u454" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲁⲁⲣⲱⲛ">
<norm xml:id="u454" func="conj" head="#u452" pos="NPROP" lemma="ⲁⲁⲣⲱⲛ" norm="ⲁⲁⲣⲱⲛ">
<lang lang="Hebrew">
ⲁⲁⲣⲱⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
