<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="96" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:96" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_96" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲫⲁ">
<norm_group norm_group="ⲫⲁ">
<orig orig="ⲫⲁ">
<norm xml:id="u1" func="root" new_sent="true" pos="PPOS" lemma="ⲡⲁ" norm="ⲫⲁ">
ⲫⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲁⲩⲓⲇ">
<norm_group norm_group="ⲇⲁⲩⲓⲇ">
<orig orig="ⲇⲁⲩⲓⲇ">
<norm xml:id="u2" func="advmod" head="#u1" pos="NPROP" lemma="ⲇⲁⲩⲓⲇ" norm="ⲇⲁⲩⲓⲇ">
<lang lang="Hebrew">
ⲇⲁⲩⲓⲇ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲥⲉⲙⲛⲓ">
<norm_group norm_group="ⲉⲧⲁϥⲥⲉⲙⲛⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u3" func="aux" head="#u6" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u4" func="aux" head="#u6" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u5" func="nsubj" head="#u6" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲉⲙⲛⲓ">
<norm xml:id="u6" func="advcl" head="#u1" pos="V" lemma="ⲥⲉⲙⲛⲓ" norm="ⲥⲉⲙⲛⲓ">
ⲥⲉⲙⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲉϥⲕⲁϩⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲉϥⲕⲁϩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u7" func="case" head="#u9" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u8" func="nmod:poss" head="#u9" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u9" func="dislocated" head="#u6" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="The Lord reigns, let the earth exult, let many islands rejoice.">
<orig_group orig_group="ⲁ">
<norm_group norm_group="ⲁ">
<orig orig="ⲁ">
<norm xml:id="u10" func="aux" head="#u13" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u11" func="det" head="#u12" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u12" func="nsubj" head="#u13" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲟⲩⲣⲟ">
<norm_group norm_group="ⲉⲣⲟⲩⲣⲟ">
<orig orig="ⲉⲣⲟⲩⲣⲟ">
<norm xml:id="u13" func="root" pos="V" lemma="ⲉⲣⲟⲩⲣⲟ" norm="ⲉⲣⲟⲩⲣⲟ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲣⲟ">
ⲟⲩⲣⲟ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲣⲉ">
<norm_group norm_group="ⲙⲁⲣⲉ">
<orig orig="ⲙⲁⲣⲉ">
<norm xml:id="u14" func="aux" head="#u17" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣⲉ">
ⲙⲁⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u15" func="det" head="#u16" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u16" func="nsubj" head="#u17" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲑⲉⲗⲏⲗ">
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u17" func="parataxis" head="#u13" pos="V" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲣⲟⲩⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲙⲁⲣⲟⲩⲟⲩⲛⲟϥ">
<orig orig="ⲙⲁⲣ">
<norm xml:id="u18" func="aux" head="#u20" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣ">
ⲙⲁⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u19" func="nsubj" head="#u20" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u20" func="parataxis" head="#u17" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u21" func="case" head="#u22" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u22" func="obj" head="#u20" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲛⲏⲥⲟⲥ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲛⲏⲥⲟⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u23" func="case" head="#u25" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u24" func="det" head="#u25" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲛⲏⲥⲟⲥ">
<norm xml:id="u25" func="dislocated" head="#u20" pos="N" lemma="ⲛⲏⲥⲟⲥ" norm="ⲛⲏⲥⲟⲥ">
<lang lang="Greek">
ⲛⲏⲥⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟϣ">
<norm_group norm_group="ⲉⲧⲟϣ">
<orig orig="ⲉⲧ">
<norm xml:id="u26" func="mark" head="#u27" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲟϣ">
<norm xml:id="u27" func="acl:relcl" head="#u25" pos="VSTAT" lemma="ⲁϣⲁⲓ" norm="ⲟϣ">
ⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Cloud, and darkness are round about him; righteousness and judgment are the establishment of his throne.">
<orig_group orig_group="ⲟⲩϭⲏⲡⲓ">
<norm_group norm_group="ⲟⲩϭⲏⲡⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u28" func="det" head="#u29" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϭⲏⲡⲓ">
<norm xml:id="u29" func="nsubj" head="#u38" pos="N" lemma="ϭⲏⲡⲓ" norm="ϭⲏⲡⲓ">
ϭⲏⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲅⲛⲟⲫⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲅⲛⲟⲫⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u30" func="cc" head="#u32" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u31" func="det" head="#u32" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲅⲛⲟⲫⲟⲥ">
<norm xml:id="u32" func="conj" head="#u29" pos="N" lemma="ⲅⲛⲟⲫⲟⲥ" norm="ⲅⲛⲟⲫⲟⲥ">
<lang lang="Greek">
ⲅⲛⲟⲫⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲕⲱϯ">
<norm_group norm_group="ⲉⲧⲕⲱϯ">
<orig orig="ⲉⲧ">
<norm xml:id="u33" func="mark" head="#u34" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u34" func="acl:relcl" head="#u32" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u35" func="case" head="#u36" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u36" func="obl" head="#u34" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲙⲉⲑⲙⲏⲓ">
<norm_group norm_group="ⲟⲩⲙⲉⲑⲙⲏⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u37" func="det" head="#u38" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲑⲙⲏⲓ">
<norm xml:id="u38" func="root" pos="N" lemma="ⲙⲉⲑⲙⲏⲓ" norm="ⲙⲉⲑⲙⲏⲓ">
<morph morph="ⲙⲉⲑ">
ⲙⲉⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡϩⲁⲡ">
<norm_group norm_group="ⲛⲉⲙⲡϩⲁⲡ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u39" func="cc" head="#u41" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u40" func="det" head="#u41" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u41" func="conj" head="#u29" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u42" func="cop" head="#u38" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲥⲱⲟⲩⲧⲉⲛ">
<norm_group norm_group="ⲡⲥⲱⲟⲩⲧⲉⲛ">
<orig orig="ⲡ">
<norm xml:id="u43" func="det" head="#u44" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲧⲉⲛ">
<norm xml:id="u44" func="nsubj" head="#u38" pos="N" lemma="ⲥⲱⲟⲩⲧⲉⲛ" norm="ⲥⲱⲟⲩⲧⲉⲛ">
ⲥⲱⲟⲩⲧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉϥⲑⲣⲟⲛⲟⲥ">
<norm_group norm_group="ⲙⲡⲉϥⲑⲣⲟⲛⲟⲥ">
<orig orig="ⲙ">
<norm xml:id="u45" func="case" head="#u47" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u46" func="nmod:poss" head="#u47" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲑⲣⲟⲛⲟⲥ">
<norm xml:id="u47" func="nmod" head="#u44" pos="N" lemma="ⲑⲣⲟⲛⲟⲥ" norm="ⲑⲣⲟⲛⲟⲥ">
<lang lang="Greek">
ⲑⲣⲟⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Fire shall go before him, and burn up his enemies round about.">
<orig_group orig_group="ⲟⲩⲭⲣⲱⲙ">
<norm_group norm_group="ⲟⲩⲭⲣⲱⲙ">
<orig orig="ⲟⲩ">
<norm xml:id="u48" func="det" head="#u49" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲣⲱⲙ">
<norm xml:id="u49" func="dislocated" head="#u51" pos="N" lemma="ⲭⲣⲱⲙ" norm="ⲭⲣⲱⲙ">
ⲭⲣⲱⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉⲉⲣϣⲟⲣⲡ">
<norm_group norm_group="ⲉϥⲉⲉⲣϣⲟⲣⲡ">
<orig orig="ⲉϥⲉ">
<norm xml:id="u50" func="nsubj" head="#u51" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ
</norm>
</orig>
<orig orig="ⲉⲣϣⲟⲣⲡ">
<norm xml:id="u51" func="root" pos="V" lemma="ⲉⲣϣⲟⲣⲡ" norm="ⲉⲣϣⲟⲣⲡ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϣⲟⲣⲡ">
ϣⲟⲣⲡ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟϣⲓ">
<norm_group norm_group="ⲙⲙⲟϣⲓ">
<orig orig="ⲙ">
<norm xml:id="u52" func="case" head="#u53" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲙⲟϣⲓ">
<norm xml:id="u53" func="obl" head="#u51" pos="V" lemma="ⲙⲟϣⲓ" norm="ⲙⲟϣⲓ">
ⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉϥⲙⲑⲟ">
<norm_group norm_group="ⲙⲡⲉϥⲙⲑⲟ">
<orig orig="ⲙ">
<norm xml:id="u54" func="case" head="#u56" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u55" func="nmod:poss" head="#u56" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲙⲑⲟ">
<norm xml:id="u56" func="obl" head="#u51" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u57" func="cc" head="#u62" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϣⲁϩ">
<norm_group norm_group="ϧⲉⲛⲟⲩϣⲁϩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u58" func="case" head="#u60" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u59" func="det" head="#u60" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲁϩ">
<norm xml:id="u60" func="obl" head="#u62" pos="N" lemma="ϣⲁϩ" norm="ϣⲁϩ">
ϣⲁϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉⲣⲱⲕϩ">
<norm_group norm_group="ⲉϥⲉⲣⲱⲕϩ">
<orig orig="ⲉϥⲉ">
<norm xml:id="u61" func="nsubj" head="#u62" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ
</norm>
</orig>
<orig orig="ⲣⲱⲕϩ">
<norm xml:id="u62" func="conj" head="#u51" pos="V" lemma="ⲣⲱⲕϩ" norm="ⲣⲱⲕϩ">
ⲣⲱⲕϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲉϥϫⲁϫⲓ">
<norm_group norm_group="ⲛⲛⲉϥϫⲁϫⲓ">
<orig orig="ⲛ">
<norm xml:id="u63" func="case" head="#u65" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u64" func="nmod:poss" head="#u65" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ϫⲁϫⲓ">
<norm xml:id="u65" func="obj" head="#u62" pos="N" lemma="ϫⲁϫⲓ" norm="ϫⲁϫⲓ">
ϫⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲕⲱϯ">
<norm_group norm_group="ⲉⲧⲕⲱϯ">
<orig orig="ⲉⲧ">
<norm xml:id="u66" func="mark" head="#u67" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u67" func="acl:relcl" head="#u65" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u68" func="case" head="#u69" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u69" func="obl" head="#u67" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="His lightnings appeared to the world; the earth saw, and trembled.">
<orig_group orig_group="ⲛⲉϥⲥⲉⲧⲉⲃⲣⲏϫ">
<norm_group norm_group="ⲛⲉϥⲥⲉⲧⲉⲃⲣⲏϫ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u70" func="nmod:poss" head="#u71" new_sent="true" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲥⲉⲧⲉⲃⲣⲏϫ">
<norm xml:id="u71" func="dislocated" head="#u74" pos="N" lemma="ⲥⲉⲧⲉⲃⲣⲏϫ" norm="ⲥⲉⲧⲉⲃⲣⲏϫ">
ⲥⲉⲧⲉⲃⲣⲏϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲉⲣⲟⲩⲱⲓⲛⲓ">
<norm_group norm_group="ⲁⲩⲉⲣⲟⲩⲱⲓⲛⲓ">
<orig orig="ⲁ">
<norm xml:id="u72" func="aux" head="#u74" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u73" func="nsubj" head="#u74" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲣⲟⲩⲱⲓⲛⲓ">
<norm xml:id="u74" func="root" pos="V" lemma="ⲉⲣⲟⲩⲱⲓⲛⲓ" norm="ⲉⲣⲟⲩⲱⲓⲛⲓ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲱⲓⲛⲓ">
ⲟⲩⲱⲓⲛⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm_group norm_group="ⲉϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<orig orig="ⲉ">
<norm xml:id="u75" func="case" head="#u77" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u76" func="det" head="#u77" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm xml:id="u77" func="obl" head="#u74" pos="N" lemma="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ" norm="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<lang lang="Greek">
ⲟⲓⲕⲟⲩⲙⲉⲛⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲛⲁⲩ">
<norm_group norm_group="ⲁϥⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u78" func="aux" head="#u80" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u79" func="nsubj" head="#u80" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u80" func="parataxis" head="#u74" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲕⲁϩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u81" func="case" head="#u83" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u82" func="det" head="#u83" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u83" func="dislocated" head="#u80" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u84" func="cc" head="#u87" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲕⲓⲙ">
<norm_group norm_group="ⲁϥⲕⲓⲙ">
<orig orig="ⲁ">
<norm xml:id="u85" func="aux" head="#u87" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u86" func="nsubj" head="#u87" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲕⲓⲙ">
<norm xml:id="u87" func="conj" head="#u80" pos="V" lemma="ⲕⲓⲙ" norm="ⲕⲓⲙ">
ⲕⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="The mountains melted like wax at the presence of the Lord, at the presence of the Lord of the whole earth.">
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u88" func="case" head="#u90" new_sent="true" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u89" func="det" head="#u90" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u90" func="obl" head="#u96" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲙⲟⲩⲗϩ">
<norm_group norm_group="ⲛⲟⲩⲙⲟⲩⲗϩ">
<orig orig="ⲛ">
<norm xml:id="u91" func="case" head="#u93" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u92" func="det" head="#u93" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲗϩ">
<norm xml:id="u93" func="nmod" head="#u90" pos="N" lemma="ⲙⲟⲩⲗϩ" norm="ⲙⲟⲩⲗϩ">
ⲙⲟⲩⲗϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲃⲱⲗ">
<norm_group norm_group="ⲁⲩⲃⲱⲗ">
<orig orig="ⲁ">
<norm xml:id="u94" func="aux" head="#u96" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u95" func="nsubj" head="#u96" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<multiword multiword="ⲃⲱⲗ ⲉⲃⲟⲗ">
<orig orig="ⲃⲱⲗ">
<norm xml:id="u96" func="root" pos="V" lemma="ⲃⲱⲗ" norm="ⲃⲱⲗ">
ⲃⲱⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u97" func="advmod" head="#u96" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲧⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲧⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u98" func="case" head="#u100" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u99" func="det" head="#u100" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩ">
<norm xml:id="u100" func="dislocated" head="#u96" pos="N" lemma="ⲧⲱⲟⲩ" norm="ⲧⲱⲟⲩ">
ⲧⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u101" func="case" head="#u104" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲡ̀ϩⲟ">
<norm_group norm_group="ϩⲁⲡϩⲟ">
<orig orig="ϩⲁ">
<norm xml:id="u102" func="fixed" head="#u101" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲡ̀">
<norm xml:id="u103" func="det" head="#u104" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u104" func="obl" head="#u96" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u105" func="case" head="#u107" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u106" func="det" head="#u107" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u107" func="nmod" head="#u104" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲛⲉⲙⲉⲃⲟⲗ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u108" func="cc" head="#u112" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u109" func="case" head="#u112" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲡ̀ϩⲟ">
<norm_group norm_group="ϩⲁⲡϩⲟ">
<orig orig="ϩⲁ">
<norm xml:id="u110" func="fixed" head="#u109" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲡ̀">
<norm xml:id="u111" func="det" head="#u112" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u112" func="conj" head="#u104" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u113" func="case" head="#u115" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u114" func="det" head="#u115" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u115" func="nmod" head="#u112" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲙⲡⲕⲁϩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u116" func="case" head="#u118" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u117" func="det" head="#u118" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u118" func="nmod" head="#u115" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ">
<norm_group norm_group="ⲧⲏⲣϥ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u119" func="nmod:unmarked" head="#u118" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u120" func="nmod:poss" head="#u119" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="The heavens have declared his righteousness, and all the people have seen his glory.">
<orig_group orig_group="ⲛⲓⲫⲏⲟⲩⲓ">
<norm_group norm_group="ⲛⲓⲫⲏⲟⲩⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u121" func="det" head="#u122" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲏⲟⲩⲓ">
<norm xml:id="u122" func="dislocated" head="#u125" pos="N" lemma="ⲫⲉ" norm="ⲫⲏⲟⲩⲓ">
ⲫⲏⲟⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲥⲁϫⲓ">
<norm_group norm_group="ⲁⲩⲥⲁϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u123" func="aux" head="#u125" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u124" func="nsubj" head="#u125" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u125" func="root" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲉϥⲙⲉⲑⲙⲏⲓ">
<norm_group norm_group="ⲛⲧⲉϥⲙⲉⲑⲙⲏⲓ">
<orig orig="ⲛⲧⲉ">
<norm xml:id="u126" func="aux" head="#u128" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u127" func="nsubj" head="#u128" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲉⲑⲙⲏⲓ">
<norm xml:id="u128" func="advcl" head="#u125" pos="V" lemma="ⲙⲉⲑⲙⲏⲓ" norm="ⲙⲉⲑⲙⲏⲓ">
<morph morph="ⲙⲉⲑ">
ⲙⲉⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u129" func="cc" head="#u132" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲛⲁⲩ">
<norm_group norm_group="ⲁⲩⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u130" func="aux" head="#u132" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u131" func="nsubj" head="#u132" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u132" func="conj" head="#u125" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲉϥⲱⲟⲩ">
<norm_group norm_group="ⲉⲡⲉϥⲱⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u133" func="case" head="#u135" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u134" func="nmod:poss" head="#u135" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲱⲟⲩ">
<norm xml:id="u135" func="obl" head="#u132" pos="N" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲗⲁⲟⲥ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲗⲁⲟⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u136" func="case" head="#u138" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u137" func="det" head="#u138" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u138" func="dislocated" head="#u132" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u139" func="nmod:unmarked" head="#u138" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u140" func="nmod:poss" head="#u139" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="Let all that worship graven images be ashamed, who boast of their idols; worship him, all ye his angels.">
<orig_group orig_group="ⲉⲩⲉϭⲓϣⲓⲡⲓ">
<norm_group norm_group="ⲉⲩⲉϭⲓϣⲓⲡⲓ">
<orig orig="ⲉⲩⲉ">
<norm xml:id="u141" func="nsubj" head="#u142" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ
</norm>
</orig>
<orig orig="ϭⲓϣⲓⲡⲓ">
<norm xml:id="u142" func="root" pos="V" lemma="ϭⲓϣⲓⲡⲓ" norm="ϭⲓϣⲓⲡⲓ">
<morph morph="ϭⲓ">
ϭⲓ
</morph>
<morph morph="ϣⲓⲡⲓ">
ϣⲓⲡⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u143" func="obl:unmarked" head="#u142" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u144" func="nmod:poss" head="#u143" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲏ">
<norm_group norm_group="ⲛϫⲉⲛⲏ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u145" func="case" head="#u146" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u146" func="dislocated" head="#u142" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲱϣⲧ">
<norm_group norm_group="ⲉⲑⲟⲩⲱϣⲧ">
<orig orig="ⲉⲑ">
<norm xml:id="u147" func="mark" head="#u148" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲱϣⲧ">
<norm xml:id="u148" func="acl:relcl" head="#u146" pos="V" lemma="ⲟⲩⲱϣⲧ" norm="ⲟⲩⲱϣⲧ">
ⲟⲩⲱϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲙⲟⲛⲕ">
<norm_group norm_group="ⲛⲛⲓⲙⲟⲛⲕ">
<orig orig="ⲛ">
<norm xml:id="u149" func="case" head="#u151" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u150" func="det" head="#u151" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲛⲕ">
<norm xml:id="u151" func="obj" head="#u148" pos="N" lemma="ⲙⲟⲛⲕ" norm="ⲙⲟⲛⲕ">
ⲙⲟⲛⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϫⲓϫ">
<norm_group norm_group="ⲛϫⲓϫ">
<orig orig="ⲛ">
<norm xml:id="u152" func="case" head="#u153" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u153" func="nmod" head="#u151" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏ">
<norm_group norm_group="ⲛⲏ">
<orig orig="ⲛⲏ">
<norm xml:id="u154" func="appos" head="#u146" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϣⲟⲩϣⲟⲩ">
<norm_group norm_group="ⲉⲧϣⲟⲩϣⲟⲩ">
<orig orig="ⲉⲧ">
<norm xml:id="u155" func="mark" head="#u156" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϣⲟⲩϣⲟⲩ">
<norm xml:id="u156" func="acl:relcl" head="#u154" pos="V" lemma="ϣⲟⲩϣⲟⲩ" norm="ϣⲟⲩϣⲟⲩ">
ϣⲟⲩϣⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u157" func="case" head="#u158" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u158" func="obj" head="#u156" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϧⲣⲏⲓ">
<orig orig="ⲛ̀ϧ̀ⲣⲏⲓ">
<norm xml:id="u159" func="case" head="#u161" pos="ADV" lemma="ⲛϧⲣⲏⲓ" norm="ⲛϧⲣⲏⲓ">
ⲛ̀ϧ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲟⲩⲓⲇⲱⲗⲟⲛ">
<norm_group norm_group="ϧⲉⲛⲛⲟⲩⲓⲇⲱⲗⲟⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u160" func="case" head="#u161" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲓⲇⲱⲗⲟⲛ">
<norm xml:id="u161" func="obl" head="#u156" pos="N" lemma="ⲛⲟⲩⲓⲇⲱⲗⲟⲛ" norm="ⲛⲟⲩⲓⲇⲱⲗⲟⲛ">
ⲛⲟⲩⲓⲇⲱⲗⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Sion heard and rejoiced; and the daughters of Judea exulted, because of thy judgments, O Lord.">
<orig_group orig_group="ⲟⲩⲱϣⲧ">
<norm_group norm_group="ⲟⲩⲱϣⲧ">
<orig orig="ⲟⲩⲱϣⲧ">
<norm xml:id="u162" func="root" new_sent="true" pos="V" lemma="ⲟⲩⲱϣⲧ" norm="ⲟⲩⲱϣⲧ">
ⲟⲩⲱϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥ">
<norm_group norm_group="ⲛⲁϥ">
<orig orig="ⲛⲁ">
<norm xml:id="u163" func="case" head="#u164" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u164" func="obl" head="#u162" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉϥⲁⲅⲅⲉⲗⲟⲥ">
<norm_group norm_group="ⲛⲉϥⲁⲅⲅⲉⲗⲟⲥ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u165" func="nmod:poss" head="#u166" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲁⲅⲅⲉⲗⲟⲥ">
<norm xml:id="u166" func="vocative" head="#u162" pos="N" lemma="ⲁⲅⲅⲉⲗⲟⲥ" norm="ⲁⲅⲅⲉⲗⲟⲥ">
<lang lang="Greek">
ⲁⲅⲅⲉⲗⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u167" func="nmod:unmarked" head="#u166" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u168" func="nmod:poss" head="#u167" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲁⲥⲥⲱⲧⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u169" func="aux" head="#u171" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u170" func="nsubj" head="#u171" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u171" func="parataxis" head="#u162" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲥⲓⲱⲛ">
<norm_group norm_group="ⲛϫⲉⲥⲓⲱⲛ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u172" func="case" head="#u173" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲥⲓⲱⲛ">
<norm xml:id="u173" func="dislocated" head="#u171" pos="NPROP" lemma="ⲥⲓⲱⲛ" norm="ⲥⲓⲱⲛ">
ⲥⲓⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u174" func="cc" head="#u177" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲁⲥⲟⲩⲛⲟϥ">
<orig orig="ⲁ">
<norm xml:id="u175" func="aux" head="#u177" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u176" func="nsubj" head="#u177" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u177" func="conj" head="#u171" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲁⲩⲑⲉⲗⲏⲗ">
<orig orig="ⲁ">
<norm xml:id="u178" func="aux" head="#u180" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u179" func="nsubj" head="#u180" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u180" func="parataxis" head="#u177" pos="V" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓϣⲉⲣⲓ">
<norm_group norm_group="ⲛϫⲉⲛⲓϣⲉⲣⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u181" func="case" head="#u183" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u182" func="det" head="#u183" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϣⲉⲣⲓ">
<norm xml:id="u183" func="dislocated" head="#u180" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲉⲣⲓ">
ϣⲉⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϯⲓⲟⲩⲇⲉⲁ">
<norm_group norm_group="ⲛⲧⲉϯⲓⲟⲩⲇⲉⲁ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u184" func="case" head="#u186" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u185" func="det" head="#u186" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲓⲟⲩⲇⲉⲁ">
<norm xml:id="u186" func="nmod" head="#u183" pos="NPROP" lemma="ⲓⲟⲩⲇⲉⲁ" norm="ⲓⲟⲩⲇⲉⲁ">
<lang lang="Hebrew">
ⲓⲟⲩⲇⲉⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲉⲛⲉⲕϩⲁⲡ">
<norm_group norm_group="ⲉⲑⲃⲉⲛⲉⲕϩⲁⲡ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u187" func="case" head="#u189" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u188" func="nmod:poss" head="#u189" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u189" func="obl" head="#u180" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u190" func="det" head="#u191" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u191" func="appos" head="#u189" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="For thou art Lord most high over all the earth; thou art greatly exalted above all gods.">
<orig_group orig_group="ϫⲉⲛ̀ⲑⲟⲕ">
<norm_group norm_group="ϫⲉⲛⲑⲟⲕ">
<orig orig="ϫⲉ">
<norm xml:id="u192" func="mark" head="#u193" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛ̀ⲑⲟⲕ">
<norm xml:id="u193" func="root" pos="PPERI" lemma="ⲛⲑⲟⲕ" norm="ⲛⲑⲟⲕ">
ⲛ̀ⲑⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u194" func="cop" head="#u193" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u195" func="det" head="#u196" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u196" func="nsubj" head="#u193" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϭⲟⲥⲓ">
<norm_group norm_group="ⲉⲧϭⲟⲥⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u197" func="mark" head="#u198" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u198" func="acl:relcl" head="#u196" pos="VSTAT" lemma="ϭⲓⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛⲡⲕⲁϩⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u199" func="case" head="#u201" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u200" func="det" head="#u201" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u201" func="obl" head="#u206" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ">
<norm_group norm_group="ⲧⲏⲣϥ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u202" func="nmod:unmarked" head="#u201" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u203" func="nmod:poss" head="#u202" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕϭⲓⲥⲓ">
<norm_group norm_group="ⲁⲕϭⲓⲥⲓ">
<orig orig="ⲁ">
<norm xml:id="u204" func="aux" head="#u206" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u205" func="nsubj" head="#u206" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ϭⲓⲥⲓ">
<norm xml:id="u206" func="parataxis" head="#u193" pos="V" lemma="ϭⲓⲥⲓ" norm="ϭⲓⲥⲓ">
ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲙⲁϣⲱ">
<norm_group norm_group="ⲉⲙⲁϣⲱ">
<orig orig="ⲉ̀ⲙⲁϣⲱ">
<norm xml:id="u207" func="advmod" head="#u206" pos="ADV" lemma="ⲉⲙⲁϣⲱ" norm="ⲉⲙⲁϣⲱ">
ⲉ̀ⲙⲁϣⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲟⲧⲉ">
<norm_group norm_group="ⲉϩⲟⲧⲉ">
<orig orig="ⲉϩⲟⲧⲉ">
<norm xml:id="u208" func="case" head="#u210" pos="PREP" lemma="ⲉϩⲟⲧⲉ" norm="ⲉϩⲟⲧⲉ">
ⲉϩⲟⲧⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲓⲛⲟⲩϯ">
<orig orig="ⲛⲓ">
<norm xml:id="u209" func="det" head="#u210" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u210" func="obl" head="#u206" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u211" func="nmod:unmarked" head="#u210" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u212" func="nmod:poss" head="#u211" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏ">
<norm_group norm_group="ⲛⲏ">
<orig orig="ⲛⲏ">
<norm xml:id="u213" func="appos" head="#u210" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲙⲉⲓ">
<norm_group norm_group="ⲉⲑⲙⲉⲓ">
<orig orig="ⲉⲑ">
<norm xml:id="u214" func="mark" head="#u215" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲙⲉⲓ">
<norm xml:id="u215" func="acl:relcl" head="#u213" pos="V" lemma="ⲙⲉⲓ" norm="ⲙⲉⲓ">
ⲙⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u216" func="case" head="#u218" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u217" func="det" head="#u218" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u218" func="obl" head="#u215" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲉⲥⲧⲉ">
<norm_group norm_group="ⲙⲉⲥⲧⲉ">
<orig orig="ⲙⲉⲥⲧⲉ">
<norm xml:id="u219" func="mark" head="#u222" pos="V" lemma="ⲙⲟⲥϯ" norm="ⲙⲉⲥⲧⲉ">
ⲙⲉⲥⲧⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡⲉⲧϩⲱⲟⲩ">
<norm_group norm_group="ⲡⲓⲡⲉⲧϩⲱⲟⲩ">
<orig orig="ⲡⲓ">
<norm xml:id="u220" func="det" head="#u221" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲉⲧ">
<norm xml:id="u221" func="nsubj" head="#u222" pos="N" lemma="ⲡⲉⲧ" norm="ⲡⲉⲧ">
ⲡⲉⲧ
</norm>
</orig>
<orig orig="ϩⲱⲟⲩ">
<norm xml:id="u222" func="appos" head="#u218" pos="VSTAT" lemma="ϩⲱⲟⲩ" norm="ϩⲱⲟⲩ">
ϩⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="Ye that love the Lord, hate evil; the Lord preserves the souls of his saints; he shall deliver them from the hand of sinners.">
<orig_group orig_group="ϫⲉϥⲛⲁⲁⲣⲉϩ">
<norm_group norm_group="ϫⲉϥⲛⲁⲁⲣⲉϩ">
<orig orig="ϫⲉ">
<norm xml:id="u223" func="mark" head="#u226" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u224" func="nsubj" head="#u226" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u225" func="aux" head="#u226" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲁⲣⲉϩ">
<norm xml:id="u226" func="root" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲛϫⲉⲡϭⲟⲓⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u227" func="case" head="#u229" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u228" func="det" head="#u229" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u229" func="dislocated" head="#u226" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲛⲓⲩⲭⲏ">
<norm_group norm_group="ⲉⲛⲓⲩⲭⲏ">
<orig orig="ⲉ">
<norm xml:id="u230" func="case" head="#u231" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲛⲓⲩⲭⲏ">
<norm xml:id="u231" func="obl" head="#u226" pos="N" lemma="ⲛⲓⲩⲭⲏ" norm="ⲛⲓⲩⲭⲏ">
ⲛⲓⲩⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲏ">
<norm_group norm_group="ⲛⲧⲉⲛⲏ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u232" func="case" head="#u233" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u233" func="nmod" head="#u231" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u234" func="mark" head="#u235" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u235" func="acl:relcl" head="#u233" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲁϥ">
<norm_group norm_group="ⲛⲧⲁϥ">
<orig orig="ⲛ̀ⲧⲁ">
<norm xml:id="u236" func="case" head="#u237" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲁ">
ⲛ̀ⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u237" func="nmod" head="#u231" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u238" func="cc" head="#u241" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲛⲁⲛⲁϩⲙⲟⲩ">
<norm_group norm_group="ϥⲛⲁⲛⲁϩⲙⲟⲩ">
<orig orig="ϥ">
<norm xml:id="u239" func="nsubj" head="#u241" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u240" func="aux" head="#u241" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲛⲁϩⲙ">
<norm xml:id="u241" func="conj" head="#u226" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲁϩⲙ">
ⲛⲁϩⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u242" func="obj" head="#u241" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u243" func="case" head="#u246" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲉⲛϫⲓϫ">
<norm_group norm_group="ϧⲉⲛⲛⲉⲛϫⲓϫ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u244" func="fixed" head="#u243" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉⲛ">
<norm xml:id="u245" func="nmod:poss" head="#u246" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u246" func="obl" head="#u241" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲣⲉϥⲉⲣⲛⲟⲃⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲣⲉϥⲉⲣⲛⲟⲃⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u247" func="case" head="#u249" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u248" func="det" head="#u249" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲉϥⲉⲣⲛⲟⲃⲓ">
<norm xml:id="u249" func="nmod" head="#u246" pos="N" lemma="ⲣⲉϥⲉⲣⲛⲟⲃⲓ" norm="ⲣⲉϥⲉⲣⲛⲟⲃⲓ">
<morph morph="ⲣⲉϥ">
ⲣⲉϥ
</morph>
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="Light is sprung up for the righteous, and gladness for the upright in heart.">
<orig_group orig_group="ⲟⲩⲟⲩⲱⲓⲛⲓ">
<norm_group norm_group="ⲟⲩⲟⲩⲱⲓⲛⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u250" func="det" head="#u251" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲱⲓⲛⲓ">
<norm xml:id="u251" func="dislocated" head="#u254" pos="N" lemma="ⲟⲩⲱⲓⲛⲓ" norm="ⲟⲩⲱⲓⲛⲓ">
ⲟⲩⲱⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲓ">
<norm_group norm_group="ⲁϥϣⲁⲓ">
<orig orig="ⲁ">
<norm xml:id="u252" func="aux" head="#u254" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u253" func="nsubj" head="#u254" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲁⲓ">
<norm xml:id="u254" func="root" pos="V" lemma="ϣⲁⲓ" norm="ϣⲁⲓ">
ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲑⲙⲏⲓ">
<norm_group norm_group="ⲛⲛⲓⲑⲙⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u255" func="case" head="#u257" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u256" func="det" head="#u257" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲑⲙⲏⲓ">
<norm xml:id="u257" func="obj" head="#u254" pos="N" lemma="ⲑⲙⲏⲓ" norm="ⲑⲙⲏⲓ">
<morph morph="ⲑ">
ⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲟⲩⲛⲟϥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u258" func="cc" head="#u260" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u259" func="det" head="#u260" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u260" func="conj" head="#u257" pos="N" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲏ">
<norm_group norm_group="ⲛⲛⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u261" func="case" head="#u262" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u262" func="nmod" head="#u260" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲥⲟⲩⲧⲱⲛ">
<norm_group norm_group="ⲉⲧⲥⲟⲩⲧⲱⲛ">
<orig orig="ⲉⲧ">
<norm xml:id="u263" func="mark" head="#u264" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲧⲱⲛ">
<norm xml:id="u264" func="acl:relcl" head="#u262" pos="V" lemma="ⲥⲱⲟⲩⲧⲉⲛ" norm="ⲥⲟⲩⲧⲱⲛ">
ⲥⲟⲩⲧⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲟⲩϩⲏⲧ">
<norm_group norm_group="ϧⲉⲛⲡⲟⲩϩⲏⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u265" func="case" head="#u267" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲟⲩ">
<norm xml:id="u266" func="nmod:poss" head="#u267" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲡⲟⲩ">
ⲡⲟⲩ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u267" func="obl" head="#u264" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲟⲩⲛⲟϥ">
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u268" func="parataxis" head="#u254" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲑⲙⲏⲓ">
<norm_group norm_group="ⲛⲓⲑⲙⲏⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u269" func="det" head="#u270" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲑⲙⲏⲓ">
<norm xml:id="u270" func="nsubj" head="#u268" pos="N" lemma="ⲑⲙⲏⲓ" norm="ⲑⲙⲏⲓ">
<morph morph="ⲑ">
ⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡϭⲟⲓⲥ">
<norm_group norm_group="ϧⲉⲛⲡϭⲟⲓⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u271" func="case" head="#u273" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u272" func="det" head="#u273" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u273" func="obl" head="#u268" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u274" func="cc" head="#u275" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<multiword multiword="ⲟⲩⲱⲛϩ ⲉⲃⲟⲗ">
<orig_group orig_group="ⲟⲩⲱⲛϩ">
<norm_group norm_group="ⲟⲩⲱⲛϩ">
<orig orig="ⲟⲩⲱⲛϩ">
<norm xml:id="u275" func="conj" head="#u254" pos="N" lemma="ⲟⲩⲱⲛϩ" norm="ⲟⲩⲱⲛϩ">
ⲟⲩⲱⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u276" func="advmod" head="#u275" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲙⲫⲙⲉⲩⲓ">
<norm_group norm_group="ⲙⲫⲙⲉⲩⲓ">
<orig orig="ⲙ">
<norm xml:id="u277" func="case" head="#u279" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u278" func="det" head="#u279" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u279" func="obj" head="#u275" pos="N" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲉϥⲙⲉⲧⲁⲅⲓⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲧⲉϥⲙⲉⲧⲁⲅⲓⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u280" func="case" head="#u282" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u281" func="nmod:poss" head="#u282" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲁⲅⲓⲟⲥ">
<norm xml:id="u282" func="nmod" head="#u279" pos="N" lemma="ⲙⲉⲧⲁⲅⲓⲟⲥ" norm="ⲙⲉⲧⲁⲅⲓⲟⲥ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<lang lang="Greek">
<morph morph="ⲁⲅⲓⲟⲥ">
ⲁⲅⲓⲟⲥ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
