<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="50" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:50" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_50" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲛ̀ⲧⲉⲇⲁⲩⲓⲇ">
<norm_group norm_group="ⲛⲧⲉⲇⲁⲩⲓⲇ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u1" func="case" head="#u2" new_sent="true" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲇⲁⲩⲓⲇ">
<norm xml:id="u2" func="obl" head="#u10" pos="NPROP" lemma="ⲇⲁⲩⲓⲇ" norm="ⲇⲁⲩⲓⲇ">
<lang lang="Hebrew">
ⲇⲁⲩⲓⲇ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϫⲱⲕ">
<norm_group norm_group="ⲉⲡϫⲱⲕ">
<orig orig="ⲉ̀">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϫⲱⲕ">
<norm xml:id="u5" func="nmod" head="#u2" pos="N" lemma="ϫⲱⲕ" norm="ϫⲱⲕ">
ϫⲱⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u6" func="advmod" head="#u5" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲁϥⲓ̀">
<norm_group norm_group="ⲉⲧⲁϥⲓ">
<orig orig="ⲉ̀ⲧ">
<norm xml:id="u7" func="aux" head="#u10" pos="APREC" lemma="ⲉⲧ" norm="ⲉⲧ">
ⲉ̀ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u8" func="aux" head="#u10" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u9" func="nsubj" head="#u10" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲓ̀">
<norm xml:id="u10" func="root" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲣⲟⲕ">
<norm_group norm_group="ϩⲁⲣⲟⲕ">
<orig orig="ϩⲁⲣⲟ">
<norm xml:id="u11" func="case" head="#u12" pos="PREP" lemma="ϩⲁ" norm="ϩⲁⲣⲟ">
ϩⲁⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u12" func="obl" head="#u10" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲁⲑⲁⲛ">
<norm_group norm_group="ⲛϫⲉⲛⲁⲑⲁⲛ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u13" func="case" head="#u14" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲁⲑⲁⲛ">
<norm xml:id="u14" func="dislocated" head="#u10" pos="PREP" lemma="ⲛⲁⲑⲁⲛ" norm="ⲛⲁⲑⲁⲛ">
ⲛⲁⲑⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡ̀ⲣⲟⲫⲏⲧⲏⲥ">
<norm_group norm_group="ⲡⲓⲡⲣⲟⲫⲏⲧⲏⲥ">
<orig orig="ⲡⲓ">
<norm xml:id="u15" func="det" head="#u16" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡ̀ⲣⲟⲫⲏⲧⲏⲥ">
<norm xml:id="u16" func="appos" head="#u14" pos="N" lemma="ⲡⲣⲟⲫⲏⲧⲏⲥ" norm="ⲡⲣⲟⲫⲏⲧⲏⲥ">
<lang lang="Greek">
ⲡ̀ⲣⲟⲫⲏⲧⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲁϥϣⲉⲛⲁϥ">
<norm_group norm_group="ⲉⲧⲁϥϣⲉⲛⲁϥ">
<orig orig="ⲉ̀ⲧ">
<norm xml:id="u17" func="mark" head="#u20" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉ̀ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u18" func="aux" head="#u20" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u19" func="nsubj" head="#u20" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲉⲛⲁ">
<norm xml:id="u20" func="acl:relcl" head="#u16" pos="V" lemma="ϣⲉⲛⲁ" norm="ϣⲉⲛⲁ">
ϣⲉⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u21" func="obj" head="#u20" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉ̀ϧⲟⲩⲛ">
<norm xml:id="u22" func="advmod" head="#u20" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉ̀ϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲃⲏⲣⲥⲁⲃⲉⲉ">
<norm_group norm_group="ϣⲁⲃⲏⲣⲥⲁⲃⲉⲉ">
<orig orig="ϣⲁ">
<norm xml:id="u23" func="case" head="#u24" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲃⲏⲣⲥⲁⲃⲉⲉ">
<norm xml:id="u24" func="obl" head="#u20" pos="N" lemma="ⲃⲏⲣⲥⲁⲃⲉⲉ" norm="ⲃⲏⲣⲥⲁⲃⲉⲉ">
ⲃⲏⲣⲥⲁⲃⲉⲉ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="Have mercy upon me, O God, according to thy great mercy; and according to the multitude of thy compassions blot out my transgression.">
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u25" func="root" new_sent="true" pos="V" lemma="ⲛⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u26" func="case" head="#u27" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u27" func="nmod" head="#u25" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u28" func="det" head="#u29" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u29" func="appos" head="#u25" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲁⲧⲁⲡⲉⲕⲛⲓϣϯ">
<norm_group norm_group="ⲕⲁⲧⲁⲡⲉⲕⲛⲓϣϯ">
<orig orig="ⲕⲁⲧⲁ">
<norm xml:id="u30" func="case" head="#u32" pos="PREP" lemma="ⲕⲁⲧⲁ" norm="ⲕⲁⲧⲁ">
<lang lang="Greek">
ⲕⲁⲧⲁ
</lang>
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u31" func="nmod:poss" head="#u32" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u32" func="nmod" head="#u25" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲓ:">
<norm_group norm_group="ⲛⲛⲁⲓ:">
<orig orig="ⲛ̀">
<norm xml:id="u33" func="case" head="#u34" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲁⲓ:">
<norm xml:id="u34" func="nmod" head="#u32" pos="N" lemma="ⲛⲁⲓ:" norm="ⲛⲁⲓ:">
ⲛⲁⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲕⲁⲧⲁⲡ̀ⲁ̀ϣⲁⲓ">
<norm_group norm_group="ⲛⲉⲙⲕⲁⲧⲁⲡⲁϣⲁⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u35" func="cc" head="#u37" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲕⲁⲧⲁ">
<norm xml:id="u36" func="case" head="#u37" pos="PREP" lemma="ⲕⲁⲧⲁ" norm="ⲕⲁⲧⲁ">
<lang lang="Greek">
ⲕⲁⲧⲁ
</lang>
</norm>
</orig>
<orig orig="ⲡ̀ⲁ̀ϣⲁⲓ">
<norm xml:id="u37" func="conj" head="#u32" pos="N" lemma="ⲡⲁϣⲁⲓ" norm="ⲡⲁϣⲁⲓ">
ⲡ̀ⲁ̀ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲉⲕⲙⲉⲧϣⲉⲛϩⲏⲧ">
<norm_group norm_group="ⲛⲧⲉⲛⲉⲕⲙⲉⲧϣⲉⲛϩⲏⲧ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u38" func="case" head="#u40" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u39" func="nmod:poss" head="#u40" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲉⲧϣⲉⲛϩⲏⲧ">
<norm xml:id="u40" func="nmod" head="#u37" pos="N" lemma="ⲙⲉⲧϣⲉⲛϩⲏⲧ" norm="ⲙⲉⲧϣⲉⲛϩⲏⲧ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ϣⲉⲛϩⲏⲧ">
ϣⲉⲛϩⲏⲧ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲥⲱⲗϫ">
<norm_group norm_group="ⲉⲕⲉⲥⲱⲗϫ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u41" func="nsubj" head="#u42" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲥⲱⲗϫ">
<norm xml:id="u42" func="parataxis" head="#u25" pos="V" lemma="ⲥⲱⲗϫ" norm="ⲥⲱⲗϫ">
ⲥⲱⲗϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲁⲁ̀ⲙⲟⲛⲓⲁ̀:">
<norm_group norm_group="ⲛⲧⲁⲁⲙⲟⲛⲓⲁ:">
<orig orig="ⲛ̀">
<norm xml:id="u43" func="case" head="#u45" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u44" func="nmod:poss" head="#u45" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲁ̀ⲙⲟⲛⲓⲁ̀:">
<norm xml:id="u45" func="obj" head="#u42" pos="N" lemma="ⲁⲙⲟⲛⲓⲁ:" norm="ⲁⲙⲟⲛⲓⲁ:">
ⲁ̀ⲙⲟⲛⲓⲁ̀:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲣⲁϧⲧ">
<norm_group norm_group="ⲉⲕⲉⲣⲁϧⲧ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u46" func="nsubj" head="#u47" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲣⲁϧⲧ">
<norm xml:id="u47" func="parataxis" head="#u42" pos="V" lemma="ⲣⲱϧⲧ" norm="ⲣⲁϧⲧ">
ⲣⲁϧⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲟⲩⲟ̀">
<norm_group norm_group="ⲛϩⲟⲩⲟ">
<orig orig="ⲛ̀">
<norm xml:id="u48" func="case" head="#u49" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲟⲩⲟ̀">
<norm xml:id="u49" func="obl" head="#u47" pos="N" lemma="ϩⲟⲩⲟ" norm="ϩⲟⲩⲟ">
ϩⲟⲩⲟ̀
</norm>
</orig>
</norm_group>
</orig_group>
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u50" func="case" head="#u53" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲧⲁⲁ̀ⲛⲟⲙⲓⲁ">
<norm_group norm_group="ϩⲁⲧⲁⲁⲛⲟⲙⲓⲁ">
<orig orig="ϩⲁ">
<norm xml:id="u51" func="fixed" head="#u50" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲧⲁ">
<norm xml:id="u52" func="nmod:poss" head="#u53" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ">
<norm xml:id="u53" func="obl" head="#u47" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u54" func="cc" head="#u56" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲧⲟⲩⲃⲟⲓ">
<norm_group norm_group="ⲉⲕⲉⲧⲟⲩⲃⲟⲓ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u55" func="nsubj" head="#u56" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲧⲟⲩⲃⲟ">
<norm xml:id="u56" func="conj" head="#u47" pos="V" lemma="ⲧⲟⲩⲃⲟ" norm="ⲧⲟⲩⲃⲟ">
ⲧⲟⲩⲃⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u57" func="obj" head="#u56" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u58" func="case" head="#u61" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲡⲁⲛⲟⲃⲓ">
<norm_group norm_group="ϩⲁⲡⲁⲛⲟⲃⲓ">
<orig orig="ϩⲁ">
<norm xml:id="u59" func="fixed" head="#u58" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲡⲁ">
<norm xml:id="u60" func="nmod:poss" head="#u61" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲛⲟⲃⲓ">
<norm xml:id="u61" func="obl" head="#u56" pos="N" lemma="ⲛⲟⲃⲓ" norm="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u62" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Wash me thoroughly from mine iniquity, and cleanse me from my sin.">
<orig_group orig_group="ϫⲉⲧⲁⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm_group norm_group="ϫⲉⲧⲁⲁⲛⲟⲙⲓⲁ">
<orig orig="ϫⲉ">
<norm xml:id="u63" func="mark" head="#u68" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u64" func="nmod:poss" head="#u65" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm xml:id="u65" func="dislocated" head="#u68" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u66" func="dislocated" head="#u68" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲥⲱⲟⲩⲛ">
<norm_group norm_group="ϯⲥⲱⲟⲩⲛ">
<orig orig="ϯ">
<norm xml:id="u67" func="nsubj" head="#u68" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲛ">
<norm xml:id="u68" func="root" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲱⲟⲩⲛ">
ⲥⲱⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ:">
<norm_group norm_group="ⲙⲙⲟⲥ:">
<orig orig="ⲙ̀ⲙⲟⲥ:">
<norm xml:id="u69" func="advmod" head="#u68" pos="N" lemma="ⲙⲙⲟⲥ:" norm="ⲙⲙⲟⲥ:">
ⲙ̀ⲙⲟⲥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u70" func="cc" head="#u72" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲛⲟⲃⲓ">
<norm_group norm_group="ⲡⲁⲛⲟⲃⲓ">
<orig orig="ⲡⲁ">
<norm xml:id="u71" func="nmod:poss" head="#u72" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲛⲟⲃⲓ">
<norm xml:id="u72" func="conj" head="#u68" pos="N" lemma="ⲛⲟⲃⲓ" norm="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁⲙ̀ⲑⲟ">
<norm_group norm_group="ⲙⲡⲁⲙⲑⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u73" func="case" head="#u75" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u74" func="nmod:poss" head="#u75" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲙ̀ⲑⲟ">
<norm xml:id="u75" func="nmod" head="#u72" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u76" func="advmod" head="#u75" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲏⲟⲩ">
<norm_group norm_group="ⲛⲥⲏⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u77" func="case" head="#u78" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥⲏⲟⲩ">
<norm xml:id="u78" func="nmod" head="#u75" pos="N" lemma="ⲥⲏⲟⲩ" norm="ⲥⲏⲟⲩ">
ⲥⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u79" func="det" head="#u78" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u80" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="For I am conscious of mine iniquity; and my sin is continually before me.">
<orig_group orig_group="ⲛⲑⲟⲕ">
<norm_group norm_group="ⲛⲑⲟⲕ">
<orig orig="ⲛⲑⲟⲕ">
<norm xml:id="u81" func="dislocated" head="#u86" new_sent="true" pos="PPERI" lemma="ⲛⲑⲟⲕ" norm="ⲛⲑⲟⲕ">
ⲛⲑⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲁⲩⲁⲧⲕ">
<norm_group norm_group="ⲙⲙⲁⲩⲁⲧⲕ">
<orig orig="ⲙ̀ⲙⲁⲩⲁⲧ">
<norm xml:id="u82" func="obl:unmarked" head="#u86" pos="IMOD" lemma="ⲙⲙⲁⲩⲁⲧ" norm="ⲙⲙⲁⲩⲁⲧ">
ⲙ̀ⲙⲁⲩⲁⲧ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u83" func="nmod:poss" head="#u82" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲉⲣⲛⲟⲃⲓ">
<norm_group norm_group="ⲁⲓⲉⲣⲛⲟⲃⲓ">
<orig orig="ⲁ">
<norm xml:id="u84" func="aux" head="#u86" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u85" func="nsubj" head="#u86" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉⲣⲛⲟⲃⲓ">
<norm xml:id="u86" func="root" pos="V" lemma="ⲉⲣⲛⲟⲃⲓ" norm="ⲉⲣⲛⲟⲃⲓ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲕ:">
<norm_group norm_group="ⲉⲣⲟⲕ:">
<orig orig="ⲉ̀ⲣⲟⲕ:">
<norm xml:id="u87" func="obj" head="#u86" pos="N" lemma="ⲉⲣⲟⲕ:" norm="ⲉⲣⲟⲕ:">
ⲉ̀ⲣⲟⲕ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u88" func="cc" head="#u94" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡⲉⲧϩⲱⲟⲩ">
<norm_group norm_group="ⲡⲓⲡⲉⲧϩⲱⲟⲩ">
<orig orig="ⲡⲓ">
<norm xml:id="u89" func="det" head="#u90" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲉⲧ">
<norm xml:id="u90" func="nsubj" head="#u91" pos="N" lemma="ⲡⲉⲧ" norm="ⲡⲉⲧ">
ⲡⲉⲧ
</norm>
</orig>
<orig orig="ϩⲱⲟⲩ">
<norm xml:id="u91" func="dislocated" head="#u94" pos="VSTAT" lemma="ϩⲱⲟⲩ" norm="ϩⲱⲟⲩ">
ϩⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲁⲓϥ">
<norm_group norm_group="ⲁⲓⲁⲓϥ">
<orig orig="ⲁ">
<norm xml:id="u92" func="aux" head="#u94" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u93" func="nsubj" head="#u94" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲁⲓ">
<norm xml:id="u94" func="conj" head="#u86" pos="V" lemma="ⲓⲣⲓ" norm="ⲁⲓ">
ⲁⲓ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u95" func="obj" head="#u94" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲕⲙ̀ⲑⲟ">
<norm_group norm_group="ⲙⲡⲉⲕⲙⲑⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u96" func="case" head="#u98" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u97" func="nmod:poss" head="#u98" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲙ̀ⲑⲟ">
<norm xml:id="u98" func="obl" head="#u94" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u99" func="advmod" head="#u98" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u100" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="Against thee only have I sinned, and done evil before thee: that thou mightest be justified in thy sayings, and mightest overcome when thou art judged.">
<orig_group orig_group="ϩⲟⲡⲱⲥ">
<norm_group norm_group="ϩⲟⲡⲱⲥ">
<orig orig="ϩⲟⲡⲱⲥ">
<norm xml:id="u101" func="mark" head="#u104" new_sent="true" pos="ADV" lemma="ϩⲟⲡⲱⲥ" norm="ϩⲟⲡⲱⲥ">
<lang lang="Greek">
ϩⲟⲡⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲕⲙⲁⲓ">
<norm_group norm_group="ⲛⲧⲉⲕⲙⲁⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u102" func="aux" head="#u104" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉⲕ">
<norm xml:id="u103" func="nmod:poss" head="#u104" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲁⲓ">
<norm xml:id="u104" func="root" pos="N" lemma="ⲙⲁ" norm="ⲙⲁⲓ">
ⲙⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲉⲕⲥⲁϫⲓ">
<norm_group norm_group="ϧⲉⲛⲛⲉⲕⲥⲁϫⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u105" func="case" head="#u107" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u106" func="nmod:poss" head="#u107" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u107" func="obl" head="#u104" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u108" func="cc" head="#u111" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲕϭ̀ⲣⲟ">
<norm_group norm_group="ⲛⲧⲉⲕϭⲣⲟ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u109" func="aux" head="#u111" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u110" func="nsubj" head="#u111" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ϭ̀ⲣⲟ">
<norm xml:id="u111" func="conj" head="#u104" pos="V" lemma="ϭⲣⲟ" norm="ϭⲣⲟ">
ϭ̀ⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲛⲁϭⲓϩⲁⲡ">
<norm_group norm_group="ⲉⲕⲛⲁϭⲓϩⲁⲡ">
<orig orig="ⲉ">
<norm xml:id="u112" func="mark" head="#u115" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u113" func="nsubj" head="#u115" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u114" func="aux" head="#u115" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϭⲓϩⲁⲡ">
<norm xml:id="u115" func="advcl" head="#u111" pos="V" lemma="ϭⲓϩⲁⲡ" norm="ϭⲓϩⲁⲡ">
<morph morph="ϭⲓ">
ϭⲓ
</morph>
<morph morph="ϩⲁⲡ">
ϩⲁⲡ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u116" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="For, behold, I was conceived in iniquities, and in sins did my mother conceive me.">
<orig_group orig_group="ϩⲏⲡⲡⲉ">
<norm_group norm_group="ϩⲏⲡⲡⲉ">
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u117" func="cc" head="#u124" new_sent="true" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u118" func="advmod" head="#u124" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲁⲛⲟⲙⲓⲁ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u119" func="case" head="#u121" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u120" func="det" head="#u121" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm xml:id="u121" func="obl" head="#u124" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲉⲣⲃⲟⲕⲓ">
<norm_group norm_group="ⲁⲩⲉⲣⲃⲟⲕⲓ">
<orig orig="ⲁ">
<norm xml:id="u122" func="aux" head="#u124" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩⲉⲣⲃⲟⲕⲓ">
<norm xml:id="u123" func="nsubj" head="#u124" pos="PPERS" lemma="ⲩⲉⲣⲃⲟⲕⲓ" norm="ⲩⲉⲣⲃⲟⲕⲓ">
ⲩⲉⲣⲃⲟⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ:">
<norm_group norm_group="ⲙⲙⲟⲓ:">
<orig orig="ⲙ̀ⲙⲟⲓ:">
<norm xml:id="u124" func="root" pos="V" lemma="ⲙⲙⲟⲓ:" norm="ⲙⲙⲟⲓ:">
ⲙ̀ⲙⲟⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u125" func="cc" head="#u132" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲛⲟⲃⲓ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲛⲟⲃⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u126" func="case" head="#u128" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u127" func="det" head="#u128" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲃⲓ">
<norm xml:id="u128" func="obl" head="#u132" pos="N" lemma="ⲛⲟⲃⲓ" norm="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀">
<norm_group norm_group="ⲁ">
<orig orig="ⲁ̀">
<norm xml:id="u129" func="aux" head="#u132" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲁⲙⲁⲩ">
<norm_group norm_group="ⲧⲁⲙⲁⲩ">
<orig orig="ⲧⲁ">
<norm xml:id="u130" func="nmod:poss" head="#u131" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲙⲁⲩ">
<norm xml:id="u131" func="nsubj" head="#u132" pos="N" lemma="ⲙⲁⲩ" norm="ⲙⲁⲩ">
ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϭⲓϣϣⲱⲟⲩ">
<norm_group norm_group="ϭⲓϣϣⲱⲟⲩ">
<orig orig="ϭⲓϣϣⲱⲟⲩ">
<norm xml:id="u132" func="conj" head="#u124" pos="V" lemma="ϭⲓϣϣⲱⲟⲩ" norm="ϭⲓϣϣⲱⲟⲩ">
<morph morph="ϭⲓ">
ϭⲓ
</morph>
<morph morph="ϣϣⲱⲟⲩ">
ϣϣⲱⲟⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u133" func="case" head="#u134" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u134" func="obj" head="#u132" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u135" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="For, behold, thou lovest truth: thou hast manifested to me the secret and hidden things of thy wisdom.">
<orig_group orig_group="ϩⲏⲡⲡⲉ">
<norm_group norm_group="ϩⲏⲡⲡⲉ">
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u136" func="cc" head="#u140" new_sent="true" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u137" func="advmod" head="#u140" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲙⲉⲛⲣⲉ">
<norm_group norm_group="ⲁⲕⲙⲉⲛⲣⲉ">
<orig orig="ⲁ">
<norm xml:id="u138" func="aux" head="#u140" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u139" func="nsubj" head="#u140" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲙⲉⲛⲣⲉ">
<norm xml:id="u140" func="root" pos="V" lemma="ⲙⲉⲓ" norm="ⲙⲉⲛⲣⲉ">
ⲙⲉⲛⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑ̀ⲙⲏⲓ:">
<norm_group norm_group="ⲑⲙⲏⲓ:">
<orig orig="ⲑ̀ⲙⲏⲓ:">
<norm xml:id="u141" func="obj" head="#u140" pos="PREP" lemma="ⲑⲙⲏⲓ:" norm="ⲑⲙⲏⲓ:">
ⲑ̀ⲙⲏⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧϩⲏⲡ">
<norm_group norm_group="ⲛⲏⲉⲧϩⲏⲡ">
<orig orig="ⲛⲏⲉⲧ">
<norm xml:id="u142" func="mark" head="#u143" pos="N" lemma="ⲛⲏⲉⲧ" norm="ⲛⲏⲉⲧ">
ⲛⲏⲉⲧ
</norm>
</orig>
<orig orig="ϩⲏⲡ">
<norm xml:id="u143" func="xcomp" head="#u140" pos="VSTAT" lemma="ϩⲱⲡ" norm="ϩⲏⲡ">
ϩⲏⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲏⲉⲧⲉ">
<norm_group norm_group="ⲛⲉⲙⲛⲏⲉⲧⲉ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u144" func="case" head="#u145" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲏⲉⲧⲉ">
<norm xml:id="u145" func="obl" head="#u143" pos="N" lemma="ⲛⲏⲉⲧⲉ" norm="ⲛⲏⲉⲧⲉ">
ⲛⲏⲉⲧⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲉⲟⲩⲱⲛϩ">
<norm_group norm_group="ⲛⲥⲉⲟⲩⲱⲛϩ">
<orig orig="ⲛ̀">
<norm xml:id="u146" func="advmod" head="#u148" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥⲉ">
<norm xml:id="u147" func="nsubj" head="#u148" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<multiword multiword="ⲟⲩⲱⲛϩ ⲉⲃⲟⲗ">
<orig orig="ⲟⲩⲱⲛϩ">
<norm xml:id="u148" func="parataxis" head="#u140" pos="V" lemma="ⲟⲩⲱⲛϩ" norm="ⲟⲩⲱⲛϩ">
ⲟⲩⲱⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u149" func="advmod" head="#u148" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u150" func="advmod" head="#u148" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲉⲕⲥⲟⲫⲓⲁ">
<norm_group norm_group="ⲛⲧⲉⲧⲉⲕⲥⲟⲫⲓⲁ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u151" func="case" head="#u153" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲉⲕ">
<norm xml:id="u152" func="nmod:poss" head="#u153" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲥⲟⲫⲓⲁ">
<norm xml:id="u153" func="obl" head="#u148" pos="N" lemma="ⲥⲟⲫⲓⲁ" norm="ⲥⲟⲫⲓⲁ">
<lang lang="Greek">
ⲥⲟⲫⲓⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲧⲁⲙⲟⲓ">
<norm_group norm_group="ⲁⲕⲧⲁⲙⲟⲓ">
<orig orig="ⲁ">
<norm xml:id="u154" func="aux" head="#u156" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u155" func="nsubj" head="#u156" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲧⲁⲙⲟ">
<norm xml:id="u156" func="parataxis" head="#u148" pos="V" lemma="ⲧⲁⲙⲟ" norm="ⲧⲁⲙⲟ">
ⲧⲁⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u157" func="obj" head="#u156" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲱⲟⲩ">
<norm_group norm_group="ⲉⲣⲱⲟⲩ">
<orig orig="ⲉ̀ⲣⲱ">
<norm xml:id="u158" func="case" head="#u159" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲱ">
ⲉ̀ⲣⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u159" func="obl" head="#u156" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u160" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="Thou shalt sprinkle me with hyssop, and I shall be purified: thou shalt wash me, and I shall be made whiter than snow.">
<orig_group orig_group="ⲉⲕⲉ̀ⲛⲟⲩϫϧ">
<norm_group norm_group="ⲉⲕⲉⲛⲟⲩϫϧ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u161" func="nsubj" head="#u162" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩϫϧ">
<norm xml:id="u162" func="root" pos="V" lemma="ⲛⲟⲩϫϧ" norm="ⲛⲟⲩϫϧ">
ⲛⲟⲩϫϧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱⲓ">
<norm_group norm_group="ⲉϫⲱⲓ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u163" func="case" head="#u164" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u164" func="obl" head="#u162" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲕϣⲉⲛϩⲩⲥⲱⲡⲟⲛ:">
<norm_group norm_group="ⲙⲡⲉⲕϣⲉⲛϩⲩⲥⲱⲡⲟⲛ:">
<orig orig="ⲙ̀ⲡⲉⲕ">
<norm xml:id="u165" func="discourse" head="#u166" pos="PPOS" lemma="ⲙⲡⲉⲕ" norm="ⲙⲡⲉⲕ">
ⲙ̀ⲡⲉⲕ
</norm>
</orig>
<orig orig="ϣⲉⲛϩⲩⲥⲱⲡⲟⲛ:">
<norm xml:id="u166" func="obl" head="#u162" pos="N" lemma="ϣⲉⲛϩⲩⲥⲱⲡⲟⲛ:" norm="ϣⲉⲛϩⲩⲥⲱⲡⲟⲛ:">
ϣⲉⲛϩⲩⲥⲱⲡⲟⲛ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲧⲟⲩⲃⲟ">
<norm_group norm_group="ⲉⲓⲉⲧⲟⲩⲃⲟ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u167" func="advmod" head="#u170" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲧⲟⲩⲃⲟ">
<norm xml:id="u168" func="parataxis" head="#u162" pos="V" lemma="ⲧⲟⲩⲃⲟ" norm="ⲧⲟⲩⲃⲟ">
ⲧⲟⲩⲃⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲣⲁϧⲧ">
<norm_group norm_group="ⲉⲕⲉⲣⲁϧⲧ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u169" func="nsubj" head="#u170" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲣⲁϧⲧ">
<norm xml:id="u170" func="parataxis" head="#u168" pos="V" lemma="ⲣⲱϧⲧ" norm="ⲣⲁϧⲧ">
ⲣⲁϧⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲟⲩⲃⲁϣ">
<norm_group norm_group="ⲉⲓⲉⲟⲩⲃⲁϣ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u171" func="advmod" head="#u172" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲃⲁϣ">
<norm xml:id="u172" func="parataxis" head="#u170" pos="V" lemma="ⲟⲩⲃⲁϣ" norm="ⲟⲩⲃⲁϣ">
ⲟⲩⲃⲁϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩⲟⲧⲉ">
<norm_group norm_group="ⲉϩⲟⲧⲉ">
<orig orig="ⲉ̀ϩⲟⲧⲉ">
<norm xml:id="u173" func="case" head="#u175" pos="PREP" lemma="ⲉϩⲟⲧⲉ" norm="ⲉϩⲟⲧⲉ">
ⲉ̀ϩⲟⲧⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲭⲓⲱⲛ">
<norm_group norm_group="ⲟⲩⲭⲓⲱⲛ">
<orig orig="ⲟⲩ">
<norm xml:id="u174" func="det" head="#u175" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲓⲱⲛ">
<norm xml:id="u175" func="obl" head="#u172" pos="N" lemma="ⲭⲓⲱⲛ" norm="ⲭⲓⲱⲛ">
<lang lang="Greek">
ⲭⲓⲱⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u176" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Thou shalt cause me to hear gladness and joy: the afflicted bones shall rejoice.">
<orig_group orig_group="ⲉⲕⲉⲑ̀ⲣⲓⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲉⲕⲉⲑⲣⲓⲥⲱⲧⲉⲙ">
<orig orig="ⲉⲕⲉ">
<norm xml:id="u177" func="nsubj" head="#u178" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ
</norm>
</orig>
<orig orig="ⲑ̀ⲣⲓ">
<norm xml:id="u178" func="aux" head="#u179" pos="N" lemma="ⲑⲣⲓ" norm="ⲑⲣⲓ">
ⲑ̀ⲣⲓ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u179" func="root" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲉⲟⲩⲑⲉⲗⲏⲗ">
<orig orig="ⲉ̀">
<norm xml:id="u180" func="case" head="#u182" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u181" func="det" head="#u182" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u182" func="obl" head="#u179" pos="N" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲟⲩⲛⲟϥ:">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲟⲩⲛⲟϥ:">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u183" func="cc" head="#u185" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u184" func="det" head="#u185" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ:">
<norm xml:id="u185" func="conj" head="#u182" pos="N" lemma="ⲟⲩⲛⲟϥ:" norm="ⲟⲩⲛⲟϥ:">
ⲟⲩⲛⲟϥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲉⲩⲉⲑⲉⲗⲏⲗ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u186" func="nsubj" head="#u187" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u187" func="parataxis" head="#u179" pos="V" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲕⲁⲥ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲕⲁⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u188" func="case" head="#u190" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u189" func="det" head="#u190" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲕⲁⲥ">
<norm xml:id="u190" func="dislocated" head="#u187" pos="N" lemma="ⲕⲁⲥ" norm="ⲕⲁⲥ">
ⲕⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲑⲉⲃⲓⲏⲟⲩⲧ">
<norm_group norm_group="ⲉⲧⲑⲉⲃⲓⲏⲟⲩⲧ">
<orig orig="ⲉⲧ">
<norm xml:id="u191" func="mark" head="#u192" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲑⲉⲃⲓⲏⲟⲩⲧ">
<norm xml:id="u192" func="acl:relcl" head="#u190" pos="VSTAT" lemma="ⲑⲉⲃⲓⲟ" norm="ⲑⲉⲃⲓⲏⲟⲩⲧ">
ⲑⲉⲃⲓⲏⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u193" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="Turn away thy face from my sins, and blot out all mine iniquities.">
<orig_group orig_group="ⲙⲁⲧⲁⲥⲑⲟ">
<norm_group norm_group="ⲙⲁⲧⲁⲥⲑⲟ">
<orig orig="ⲙⲁ">
<norm xml:id="u194" func="root" new_sent="true" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
<orig orig="ⲧⲁⲥⲑⲟ">
<norm xml:id="u195" func="xcomp" head="#u194" pos="V" lemma="ⲧⲁⲥⲑⲟ" norm="ⲧⲁⲥⲑⲟ">
ⲧⲁⲥⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲕϩⲟ">
<norm_group norm_group="ⲙⲡⲉⲕϩⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u196" func="case" head="#u198" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u197" func="nmod:poss" head="#u198" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u198" func="obj" head="#u195" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲁⲃⲟⲗ">
<norm_group norm_group="ⲥⲁⲃⲟⲗ">
<orig orig="ⲥⲁⲃⲟⲗ">
<norm xml:id="u199" func="case" head="#u202" pos="ADV" lemma="ⲥⲁⲃⲟⲗ" norm="ⲥⲁⲃⲟⲗ">
ⲥⲁⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲛⲟⲃⲓ:">
<norm_group norm_group="ⲛⲛⲁⲛⲟⲃⲓ:">
<orig orig="ⲛ̀">
<norm xml:id="u200" func="fixed" head="#u199" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u201" func="nmod:poss" head="#u202" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲛⲟⲃⲓ:">
<norm xml:id="u202" func="obl" head="#u195" pos="N" lemma="ⲛⲟⲃⲓ:" norm="ⲛⲟⲃⲓ:">
ⲛⲟⲃⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u203" func="cc" head="#u209" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm_group norm_group="ⲛⲁⲁⲛⲟⲙⲓⲁ">
<orig orig="ⲛⲁ">
<norm xml:id="u204" func="nmod:poss" head="#u205" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm xml:id="u205" func="dislocated" head="#u209" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u206" func="nmod:unmarked" head="#u205" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u207" func="nmod:poss" head="#u206" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲥⲟⲗϫⲟⲩ">
<norm_group norm_group="ⲉⲕⲉⲥⲟⲗϫⲟⲩ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u208" func="nsubj" head="#u209" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲥⲟⲗϫ">
<norm xml:id="u209" func="conj" head="#u194" pos="V" lemma="ⲥⲱⲗϫ" norm="ⲥⲟⲗϫ">
ⲥⲟⲗϫ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u210" func="obj" head="#u209" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u211" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="Create in me a clean heart, O God; and renew a right spirit in my inward parts.">
<orig_group orig_group="ⲟⲩϩⲏⲧ">
<norm_group norm_group="ⲟⲩϩⲏⲧ">
<orig orig="ⲟⲩ">
<norm xml:id="u212" func="det" head="#u213" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u213" func="dislocated" head="#u218" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲟⲩⲁⲃ">
<norm_group norm_group="ⲉϥⲟⲩⲁⲃ">
<orig orig="ⲉ">
<norm xml:id="u214" func="mark" head="#u216" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u215" func="nsubj" head="#u216" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u216" func="acl:relcl" head="#u213" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲥⲟⲛⲧϥ">
<norm_group norm_group="ⲉⲕⲉⲥⲟⲛⲧϥ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u217" func="nsubj" head="#u218" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲥⲟⲛⲧ">
<norm xml:id="u218" func="root" pos="V" lemma="ⲥⲱⲛⲧ" norm="ⲥⲟⲛⲧ">
ⲥⲟⲛⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u219" func="obj" head="#u218" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏⲧ">
<norm_group norm_group="ⲛϧⲏⲧ">
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u220" func="case" head="#u221" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲟⲩϯ:">
<norm_group norm_group="ⲫⲛⲟⲩϯ:">
<orig orig="ⲫⲛⲟⲩϯ:">
<norm xml:id="u221" func="obl" head="#u218" pos="NPROP" lemma="ⲫⲛⲟⲩϯ:" norm="ⲫⲛⲟⲩϯ:">
ⲫⲛⲟⲩϯ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲡ̀ⲛⲉⲩⲙⲁ">
<norm_group norm_group="ⲟⲩⲡⲛⲉⲩⲙⲁ">
<orig orig="ⲟⲩ">
<norm xml:id="u222" func="det" head="#u223" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲡ̀ⲛⲉⲩⲙⲁ">
<norm xml:id="u223" func="dislocated" head="#u218" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡ̀ⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲥⲟⲩⲧⲱⲛ">
<norm_group norm_group="ⲉϥⲥⲟⲩⲧⲱⲛ">
<orig orig="ⲉ">
<norm xml:id="u224" func="mark" head="#u226" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u225" func="nsubj" head="#u226" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲧⲱⲛ">
<norm xml:id="u226" func="acl:relcl" head="#u223" pos="V" lemma="ⲥⲱⲟⲩⲧⲉⲛ" norm="ⲥⲟⲩⲧⲱⲛ">
ⲥⲟⲩⲧⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲣⲓⲧϥ">
<norm_group norm_group="ⲁⲣⲓⲧϥ">
<orig orig="ⲁ̀ⲣⲓⲧ">
<norm xml:id="u227" func="parataxis" head="#u218" pos="N" lemma="ⲁⲣⲓⲧ" norm="ⲁⲣⲓⲧ">
ⲁ̀ⲣⲓⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u228" func="nmod:poss" head="#u227" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲃⲉⲣⲓ">
<norm_group norm_group="ⲙⲃⲉⲣⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u229" func="case" head="#u230" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲃⲉⲣⲓ">
<norm xml:id="u230" func="obl" head="#u227" pos="N" lemma="ⲃⲉⲣⲓ" norm="ⲃⲉⲣⲓ">
ⲃⲉⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲏⲉⲧⲥⲁϧⲟⲩⲛ">
<norm_group norm_group="ϧⲉⲛⲛⲏⲉⲧⲥⲁϧⲟⲩⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u231" func="case" head="#u232" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u232" func="obl" head="#u227" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧ">
<norm xml:id="u233" func="mark" head="#u234" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲥⲁϧⲟⲩⲛ">
<norm xml:id="u234" func="acl:relcl" head="#u232" pos="ADV" lemma="ⲥⲁϧⲟⲩⲛ" norm="ⲥⲁϧⲟⲩⲛ">
ⲥⲁϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u235" func="case" head="#u236" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u236" func="obl" head="#u234" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u237" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="Cast me not away from thy presence; and remove not thy holy Spirit from me.">
<orig_group orig_group="ⲙⲡⲉⲣⲃⲉⲣⲃⲱⲣⲧ">
<norm_group norm_group="ⲙⲡⲉⲣⲃⲉⲣⲃⲱⲣⲧ">
<orig orig="ⲙⲡⲉⲣⲃⲉⲣⲃⲱⲣⲧ">
<norm xml:id="u238" func="root" new_sent="true" pos="N" lemma="ⲙⲡⲉⲣⲃⲉⲣⲃⲱⲣⲧ" norm="ⲙⲡⲉⲣⲃⲉⲣⲃⲱⲣⲧ">
ⲙⲡⲉⲣⲃⲉⲣⲃⲱⲣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u239" func="case" head="#u242" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲡⲉⲕϩⲟ:">
<norm_group norm_group="ϩⲁⲡⲉⲕϩⲟ:">
<orig orig="ϩⲁ">
<norm xml:id="u240" func="fixed" head="#u239" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u241" func="nmod:poss" head="#u242" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ϩⲟ:">
<norm xml:id="u242" func="obl" head="#u238" pos="N" lemma="ϩⲟ:" norm="ϩⲟ:">
ϩⲟ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u243" func="cc" head="#u249" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲕⲡ̀ⲛⲉⲩⲙⲁ">
<norm_group norm_group="ⲡⲉⲕⲡⲛⲉⲩⲙⲁ">
<orig orig="ⲡⲉⲕ">
<norm xml:id="u244" func="nmod:poss" head="#u245" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲡ̀ⲛⲉⲩⲙⲁ">
<norm xml:id="u245" func="dislocated" head="#u249" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡ̀ⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u246" func="mark" head="#u247" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u247" func="acl:relcl" head="#u245" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲣⲟⲗϥ">
<norm_group norm_group="ⲙⲡⲉⲣⲟⲗϥ">
<orig orig="ⲙ̀ⲡⲉⲣ">
<norm xml:id="u248" func="advmod" head="#u249" pos="NEG" lemma="ⲙⲡⲉⲣ" norm="ⲙⲡⲉⲣ">
ⲙ̀ⲡⲉⲣ
</norm>
</orig>
<orig orig="ⲟⲗ">
<norm xml:id="u249" func="conj" head="#u238" pos="V" lemma="ⲱⲗⲓ" norm="ⲟⲗ">
ⲟⲗ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u250" func="obj" head="#u249" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u251" func="advmod" head="#u249" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲣⲟⲓ">
<norm_group norm_group="ϩⲁⲣⲟⲓ">
<orig orig="ϩⲁⲣⲟ">
<norm xml:id="u252" func="case" head="#u253" pos="PREP" lemma="ϩⲁ" norm="ϩⲁⲣⲟ">
ϩⲁⲣⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u253" func="obl" head="#u249" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u254" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="Restore to me the joy of thy salvation: establish me with thy directing Spirit.">
<orig_group orig_group="ⲙⲟⲓ">
<norm_group norm_group="ⲙⲟⲓ">
<orig orig="ⲙⲟⲓ">
<norm xml:id="u255" func="root" new_sent="true" pos="VIMP" lemma="ϯ" norm="ⲙⲟⲓ">
ⲙⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u256" func="det" head="#u257" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u257" func="obj" head="#u255" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡ̀ⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲙⲡⲑⲉⲗⲏⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u258" func="case" head="#u260" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u259" func="det" head="#u260" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u260" func="nmod" head="#u257" pos="N" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲉⲕⲟⲩϫⲁⲓ:">
<norm_group norm_group="ⲛⲧⲉⲡⲉⲕⲟⲩϫⲁⲓ:">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u261" func="case" head="#u263" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u262" func="nmod:poss" head="#u263" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲟⲩϫⲁⲓ:">
<norm xml:id="u263" func="nmod" head="#u260" pos="N" lemma="ⲟⲩϫⲁⲓ:" norm="ⲟⲩϫⲁⲓ:">
ⲟⲩϫⲁⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u264" func="cc" head="#u266" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϩⲣⲏⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u265" func="case" head="#u266" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩ̀ⲣⲏⲓ">
<norm xml:id="u266" func="conj" head="#u263" pos="N" lemma="ϩⲣⲏⲓ" norm="ϩⲣⲏⲓ">
ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲡ̀ⲛⲉⲩⲙⲁ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲡⲛⲉⲩⲙⲁ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u267" func="case" head="#u269" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u268" func="det" head="#u269" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲡ̀ⲛⲉⲩⲙⲁ">
<norm xml:id="u269" func="nmod" head="#u266" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡ̀ⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲏⲅⲉⲙⲱⲛⲓⲕⲟⲛ">
<norm_group norm_group="ⲛϩⲏⲅⲉⲙⲱⲛⲓⲕⲟⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u270" func="case" head="#u271" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲏⲅⲉⲙⲱⲛⲓⲕⲟⲛ">
<norm xml:id="u271" func="nmod" head="#u269" pos="N" lemma="ϩⲏⲅⲉⲙⲱⲛⲓⲕⲟⲛ" norm="ϩⲏⲅⲉⲙⲱⲛⲓⲕⲟⲛ">
<lang lang="Greek">
ϩⲏⲅⲉⲙⲱⲛⲓⲕⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲧⲁϫⲣⲟⲓ">
<norm_group norm_group="ⲙⲁⲧⲁϫⲣⲟⲓ">
<orig orig="ⲙⲁⲧⲁϫⲣⲟⲓ">
<norm xml:id="u272" func="advmod" head="#u269" pos="NPROP" lemma="ⲙⲁⲧⲁϫⲣⲟⲓ" norm="ⲙⲁⲧⲁϫⲣⲟⲓ">
ⲙⲁⲧⲁϫⲣⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u273" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="Then will I teach transgressors thy ways; and ungodly men shall turn to thee.">
<orig_group orig_group="ⲉⲓⲉ̀ⲧ̀ⲥⲁⲃⲉ">
<norm_group norm_group="ⲉⲓⲉⲧⲥⲁⲃⲉ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u274" func="advmod" head="#u275" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲧ̀ⲥⲁⲃⲉ">
<norm xml:id="u275" func="root" pos="V" lemma="ⲧⲥⲁⲃⲟ" norm="ⲧⲥⲁⲃⲉ">
ⲧ̀ⲥⲁⲃⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲁⲛⲟⲙⲟⲥ">
<norm_group norm_group="ⲛⲓⲁⲛⲟⲙⲟⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u276" func="det" head="#u277" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲛⲟⲙⲟⲥ">
<norm xml:id="u277" func="obj" head="#u275" pos="N" lemma="ⲁⲛⲟⲙⲟⲥ" norm="ⲁⲛⲟⲙⲟⲥ">
<lang lang="Greek">
ⲁⲛⲟⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲛⲉⲕⲙⲱⲓⲧ:">
<norm_group norm_group="ϩⲓⲛⲉⲕⲙⲱⲓⲧ:">
<orig orig="ϩⲓ">
<norm xml:id="u278" func="case" head="#u280" pos="PREP" lemma="ϩⲓ" norm="ϩⲓ">
ϩⲓ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u279" func="nmod:poss" head="#u280" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ:">
<norm xml:id="u280" func="obl" head="#u275" pos="N" lemma="ⲙⲱⲓⲧ:" norm="ⲙⲱⲓⲧ:">
ⲙⲱⲓⲧ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u281" func="cc" head="#u285" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲁⲥⲉⲃⲏⲥ">
<norm_group norm_group="ⲛⲓⲁⲥⲉⲃⲏⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u282" func="det" head="#u283" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲥⲉⲃⲏⲥ">
<norm xml:id="u283" func="dislocated" head="#u285" pos="N" lemma="ⲁⲥⲉⲃⲏⲥ" norm="ⲁⲥⲉⲃⲏⲥ">
<lang lang="Greek">
ⲁⲥⲉⲃⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲕⲟⲧⲟⲩ">
<norm_group norm_group="ⲉⲩⲉⲕⲟⲧⲟⲩ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u284" func="nsubj" head="#u285" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲕⲟⲧ">
<norm xml:id="u285" func="conj" head="#u275" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲟⲧ">
ⲕⲟⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u286" func="obj" head="#u285" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲣⲟⲕ">
<norm_group norm_group="ϩⲁⲣⲟⲕ">
<orig orig="ϩⲁⲣⲟ">
<norm xml:id="u287" func="case" head="#u288" pos="PREP" lemma="ϩⲁ" norm="ϩⲁⲣⲟ">
ϩⲁⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u288" func="obl" head="#u285" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u289" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="Deliver me from blood-guiltiness, O God, the God of my salvation: and my tongue shall joyfully declare thy righteousness.">
<orig_group orig_group="ⲛⲁϩⲙⲉⲧ">
<norm_group norm_group="ⲛⲁϩⲙⲉⲧ">
<orig orig="ⲛⲁϩⲙⲉ">
<norm xml:id="u290" func="root" new_sent="true" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲁϩⲙⲉ">
ⲛⲁϩⲙⲉ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u291" func="obj" head="#u290" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲧ">
ⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u292" func="advmod" head="#u290" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲥ̀ⲛⲟϥ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲥⲛⲟϥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u293" func="fixed" head="#u292" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u294" func="det" head="#u295" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲥ̀ⲛⲟϥ">
<norm xml:id="u295" func="obl" head="#u290" pos="N" lemma="ⲥⲛⲟϥ" norm="ⲥⲛⲟϥ">
ⲥ̀ⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲟⲩϯ:">
<norm_group norm_group="ⲫⲛⲟⲩϯ:">
<orig orig="ⲫⲛⲟⲩϯ:">
<norm xml:id="u296" func="appos" head="#u295" pos="PREP" lemma="ⲫⲛⲟⲩϯ:" norm="ⲫⲛⲟⲩϯ:">
ⲫⲛⲟⲩϯ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u297" func="det" head="#u298" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u298" func="dislocated" head="#u302" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲁⲥⲱⲧⲏⲣⲓⲁ:">
<norm_group norm_group="ⲛⲧⲉⲧⲁⲥⲱⲧⲏⲣⲓⲁ:">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u299" func="case" head="#u300" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲁⲥⲱⲧⲏⲣⲓⲁ:">
<norm xml:id="u300" func="nmod" head="#u298" pos="N" lemma="ⲧⲁⲥⲱⲧⲏⲣⲓⲁ:" norm="ⲧⲁⲥⲱⲧⲏⲣⲓⲁ:">
ⲧⲁⲥⲱⲧⲏⲣⲓⲁ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲉϥⲉⲑⲉⲗⲏⲗ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u301" func="nsubj" head="#u302" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u302" func="parataxis" head="#u290" pos="V" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲁⲗⲁⲥ">
<norm_group norm_group="ⲛϫⲉⲡⲁⲗⲁⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u303" func="case" head="#u305" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u304" func="nmod:poss" head="#u305" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲗⲁⲥ">
<norm xml:id="u305" func="dislocated" head="#u302" pos="N" lemma="ⲗⲁⲥ" norm="ⲗⲁⲥ">
ⲗⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧⲉⲕⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
<norm_group norm_group="ϧⲉⲛⲧⲉⲕⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u306" func="case" head="#u308" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲕ">
<norm xml:id="u307" func="nmod:poss" head="#u308" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
<norm xml:id="u308" func="obl" head="#u302" pos="N" lemma="ⲇⲓⲕⲉⲟⲥⲩⲛⲏ" norm="ⲇⲓⲕⲉⲟⲥⲩⲛⲏ">
ⲇⲓⲕⲉⲟⲥⲩⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u309" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="15">
<translation translation="O Lord, thou shalt open my lips; and my mouth shall declare thy praise.">
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u310" func="det" head="#u311" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u311" func="dislocated" head="#u313" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ⲟⲩⲱⲛ">
<norm_group norm_group="ⲉⲕⲉⲟⲩⲱⲛ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u312" func="nsubj" head="#u313" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲱⲛ">
<norm xml:id="u313" func="root" pos="V" lemma="ⲟⲩⲱⲛ" norm="ⲟⲩⲱⲛ">
ⲟⲩⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲥ̀ⲫⲟⲧⲟⲩ">
<norm_group norm_group="ⲛⲛⲁⲥⲫⲟⲧⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u314" func="case" head="#u316" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u315" func="nmod:poss" head="#u316" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲥ̀ⲫⲟⲧⲟⲩ">
<norm xml:id="u316" func="obj" head="#u313" pos="N" lemma="ⲥⲫⲟⲧⲟⲩ" norm="ⲥⲫⲟⲧⲟⲩ">
ⲥ̀ⲫⲟⲧⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u317" func="cc" head="#u320" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲉⲣⲱⲓ">
<norm_group norm_group="ⲉⲣⲉⲣⲱⲓ">
<orig orig="ⲉ̀ⲣⲉ">
<norm xml:id="u318" func="mark" head="#u320" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉ̀ⲣⲉ
</norm>
</orig>
<orig orig="ⲣⲱⲓ">
<norm xml:id="u319" func="nsubj" head="#u320" pos="PPERS" lemma="ⲣⲱⲓ" norm="ⲣⲱⲓ">
ⲣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲱ">
<norm_group norm_group="ϫⲱ">
<orig orig="ϫⲱ">
<norm xml:id="u320" func="conj" head="#u313" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲕⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲙⲡⲉⲕⲥⲙⲟⲩ">
<orig orig="ⲙ̀">
<norm xml:id="u321" func="case" head="#u323" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u322" func="nmod:poss" head="#u323" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u323" func="obj" head="#u320" pos="N" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u324" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="16">
<translation translation="For if thou desiredst sacrifice, I would have given it: thou wilt not take pleasure in whole-burnt-offerings.">
<orig_group orig_group="ϫⲉⲉ̀ⲛⲉ">
<norm_group norm_group="ϫⲉⲉⲛⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u325" func="mark" head="#u329" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲉ̀ⲛⲉ">
<norm xml:id="u326" func="mark" head="#u329" pos="CONJ" lemma="ⲉⲛⲉ" norm="ⲉⲛⲉ">
ⲉ̀ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲕⲟⲩⲱϣ">
<norm_group norm_group="ⲁⲕⲟⲩⲱϣ">
<orig orig="ⲁ">
<norm xml:id="u327" func="aux" head="#u329" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u328" func="nsubj" head="#u329" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲟⲩⲱϣ">
<norm xml:id="u329" func="advcl" head="#u334" pos="V" lemma="ⲟⲩⲱϣ" norm="ⲟⲩⲱϣ">
ⲟⲩⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲟⲩϣⲱⲟⲩϣⲓ:">
<norm_group norm_group="ϣⲟⲩϣⲱⲟⲩϣⲓ:">
<orig orig="ϣⲟⲩϣⲱⲟⲩϣⲓ:">
<norm xml:id="u330" func="obj" head="#u329" pos="N" lemma="ϣⲟⲩϣⲱⲟⲩϣⲓ:" norm="ϣⲟⲩϣⲱⲟⲩϣⲓ:">
ϣⲟⲩϣⲱⲟⲩϣⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓⲛⲁϯ">
<norm_group norm_group="ⲛⲁⲓⲛⲁϯ">
<orig orig="ⲛⲁ">
<norm xml:id="u331" func="case" head="#u332" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u332" func="obl" head="#u329" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u333" func="aux" head="#u334" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u334" func="root" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲛ">
<norm_group norm_group="ⲟⲛ">
<orig orig="ⲟⲛ">
<norm xml:id="u335" func="advmod" head="#u334" pos="ADV" lemma="ⲟⲛ" norm="ⲟⲛ">
ⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ:">
<norm_group norm_group="ⲡⲉ:">
<orig orig="ⲡⲉ:">
<norm xml:id="u336" func="case" head="#u338" pos="PREP" lemma="ⲡⲉ:" norm="ⲡⲉ:">
ⲡⲉ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛϭⲗⲓⲗ">
<norm_group norm_group="ϩⲁⲛϭⲗⲓⲗ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u337" func="det" head="#u338" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϭⲗⲓⲗ">
<norm xml:id="u338" func="obl" head="#u334" pos="N" lemma="ϭⲗⲓⲗ" norm="ϭⲗⲓⲗ">
ϭⲗⲓⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲟϥϫⲉϥ">
<norm_group norm_group="ⲛϫⲟϥϫⲉϥ">
<orig orig="ⲛ̀">
<norm xml:id="u339" func="case" head="#u340" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲟϥ">
<norm xml:id="u340" func="nmod" head="#u338" pos="N" lemma="ϫⲟϥ" norm="ϫⲟϥ">
ϫⲟϥ
</norm>
</orig>
<orig orig="ϫⲉ">
<norm xml:id="u341" func="mark" head="#u342" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u342" func="obl" head="#u345" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲕϯⲙⲁϯ">
<norm_group norm_group="ⲙⲡⲉⲕϯⲙⲁϯ">
<orig orig="ⲙ̀ⲡⲉ">
<norm xml:id="u343" func="aux" head="#u345" pos="ANEGPST" lemma="ⲙⲡⲉ" norm="ⲙⲡⲉ">
ⲙ̀ⲡⲉ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u344" func="nsubj" head="#u345" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ϯⲙⲁϯ">
<norm xml:id="u345" func="advcl" head="#u334" pos="V" lemma="ϯⲙⲁϯ" norm="ϯⲙⲁϯ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ⲙⲁϯ">
ⲙⲁϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u346" func="advmod" head="#u345" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱⲟⲩ">
<norm_group norm_group="ⲉϫⲱⲟⲩ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u347" func="case" head="#u348" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u348" func="obl" head="#u345" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u349" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="17">
<translation translation="Sacrifice to God is a broken spirit: a broken and humbled heart God will not despise.">
<orig_group orig_group="ⲡⲓϣⲟⲩϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲡⲓϣⲟⲩϣⲱⲟⲩϣⲓ">
<orig orig="ⲡⲓ">
<norm xml:id="u350" func="det" head="#u351" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϣⲟⲩϣⲱⲟⲩϣⲓ">
<norm xml:id="u351" func="nsubj" head="#u356" pos="N" lemma="ϣⲟⲩϣⲱⲟⲩϣⲓ" norm="ϣⲟⲩϣⲱⲟⲩϣⲓ">
ϣⲟⲩϣⲱⲟⲩϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲧⲉⲫⲛⲟⲩϯ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u352" func="case" head="#u354" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u353" func="det" head="#u354" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u354" func="nmod" head="#u351" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲡ̀ⲛⲉⲩⲙⲁ">
<norm_group norm_group="ⲟⲩⲡⲛⲉⲩⲙⲁ">
<orig orig="ⲟⲩ">
<norm xml:id="u355" func="det" head="#u356" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲡ̀ⲛⲉⲩⲙⲁ">
<norm xml:id="u356" func="root" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡ̀ⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲧⲉⲛⲛⲏⲟⲩⲧ">
<norm_group norm_group="ⲉϥⲧⲉⲛⲛⲏⲟⲩⲧ">
<orig orig="ⲉ">
<norm xml:id="u357" func="mark" head="#u359" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u358" func="nsubj" head="#u359" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲧⲉⲛⲛⲏⲟⲩⲧ">
<norm xml:id="u359" func="acl:relcl" head="#u356" pos="VSTAT" lemma="ⲧⲉⲛⲛⲟ" norm="ⲧⲉⲛⲛⲏⲟⲩⲧ">
ⲧⲉⲛⲛⲏⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ:">
<norm_group norm_group="ⲡⲉ:">
<orig orig="ⲡⲉ:">
<norm xml:id="u360" func="case" head="#u362" pos="PREP" lemma="ⲡⲉ:" norm="ⲡⲉ:">
ⲡⲉ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩϩⲏⲧ">
<norm_group norm_group="ⲟⲩϩⲏⲧ">
<orig orig="ⲟⲩ">
<norm xml:id="u361" func="det" head="#u362" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u362" func="obl" head="#u359" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲧⲉⲛⲛⲏⲟⲩⲧ">
<norm_group norm_group="ⲉϥⲧⲉⲛⲛⲏⲟⲩⲧ">
<orig orig="ⲉ">
<norm xml:id="u363" func="mark" head="#u365" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u364" func="nsubj" head="#u365" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲧⲉⲛⲛⲏⲟⲩⲧ">
<norm xml:id="u365" func="acl:relcl" head="#u362" pos="VSTAT" lemma="ⲧⲉⲛⲛⲟ" norm="ⲧⲉⲛⲛⲏⲟⲩⲧ">
ⲧⲉⲛⲛⲏⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u366" func="cc" head="#u368" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲑⲉⲃⲓⲏⲟⲩⲧ">
<norm_group norm_group="ⲉϥⲉⲑⲉⲃⲓⲏⲟⲩⲧ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u367" func="nsubj" head="#u368" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲑⲉⲃⲓⲏⲟⲩⲧ">
<norm xml:id="u368" func="conj" head="#u359" pos="VSTAT" lemma="ⲑⲉⲃⲓⲟ" norm="ⲑⲉⲃⲓⲏⲟⲩⲧ">
ⲑⲉⲃⲓⲏⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲁⲓ">
<norm_group norm_group="ⲫⲁⲓ">
<orig orig="ⲫⲁⲓ">
<norm xml:id="u369" func="dislocated" head="#u373" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉ">
<norm_group norm_group="ⲛⲛⲉ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u370" func="aux" head="#u373" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u371" func="det" head="#u372" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u372" func="nsubj" head="#u373" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲟϣϥ">
<norm_group norm_group="ϣⲟϣϥ">
<orig orig="ϣⲟϣ">
<norm xml:id="u373" func="parataxis" head="#u360" pos="V" lemma="ϣⲱϣ" norm="ϣⲟϣ">
ϣⲟϣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u374" func="obj" head="#u373" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u375" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="18">
<translation translation="Do good, O Lord, to Sion in thy good pleasure; and let the walls of Jerusalem be built.">
<orig_group orig_group="ⲁⲣⲓⲡⲉⲑⲛⲁⲛⲉϥ">
<norm_group norm_group="ⲁⲣⲓⲡⲉⲑⲛⲁⲛⲉϥ">
<orig orig="ⲁⲣⲓⲡⲉⲑⲛⲁ">
<norm xml:id="u376" func="root" new_sent="true" pos="N" lemma="ⲁⲣⲓⲡⲉⲑⲛⲁ" norm="ⲁⲣⲓⲡⲉⲑⲛⲁ">
ⲁⲣⲓⲡⲉⲑⲛⲁ
</norm>
</orig>
<orig orig="ⲛⲉ">
<norm xml:id="u377" func="case" head="#u378" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u378" func="nsubj" head="#u376" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u379" func="det" head="#u380" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u380" func="nsubj" head="#u383" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉⲕϯⲙⲁϯ">
<norm_group norm_group="ϧⲉⲛⲡⲉⲕϯⲙⲁϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u381" func="case" head="#u383" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u382" func="nmod:poss" head="#u383" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ϯⲙⲁϯ">
<norm xml:id="u383" func="obl" head="#u376" pos="N" lemma="ϯⲙⲁϯ" norm="ϯⲙⲁϯ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ⲙⲁϯ">
ⲙⲁϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲥⲓⲱⲛ:">
<norm_group norm_group="ⲉⲥⲓⲱⲛ:">
<orig orig="ⲉ̀">
<norm xml:id="u384" func="mark" head="#u385" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲥⲓⲱⲛ:">
<norm xml:id="u385" func="xcomp" head="#u383" pos="NPROP" lemma="ⲥⲓⲱⲛ:" norm="ⲥⲓⲱⲛ:">
ⲥⲓⲱⲛ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u386" func="cc" head="#u393" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲥⲟⲃⲧ">
<norm_group norm_group="ⲛⲓⲥⲟⲃⲧ">
<orig orig="ⲛⲓ">
<norm xml:id="u387" func="det" head="#u388" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲟⲃⲧ">
<norm xml:id="u388" func="dislocated" head="#u393" pos="N" lemma="ⲥⲟⲃⲧ" norm="ⲥⲟⲃⲧ">
ⲥⲟⲃⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<norm_group norm_group="ⲛⲧⲉⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u389" func="case" head="#u390" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<norm xml:id="u390" func="nmod" head="#u388" pos="NPROP" lemma="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ" norm="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲣⲟⲩⲕⲟⲧⲟⲩ">
<norm_group norm_group="ⲙⲁⲣⲟⲩⲕⲟⲧⲟⲩ">
<orig orig="ⲙⲁⲣ">
<norm xml:id="u391" func="aux" head="#u393" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣ">
ⲙⲁⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u392" func="nsubj" head="#u393" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲟⲧ">
<norm xml:id="u393" func="conj" head="#u376" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲟⲧ">
ⲕⲟⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u394" func="obj" head="#u393" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u395" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="19">
<translation translation="Then shalt thou be pleased with a sacrifice of righteousness, offering, and whole-burnt-sacrifices: then shall they offer calves upon thine altar.">
<orig_group orig_group="ⲧⲟⲧⲉ">
<norm_group norm_group="ⲧⲟⲧⲉ">
<orig orig="ⲧⲟⲧⲉ">
<norm xml:id="u396" func="advmod" head="#u398" new_sent="true" pos="ADV" lemma="ⲧⲟⲧⲉ" norm="ⲧⲟⲧⲉ">
<lang lang="Greek">
ⲧⲟⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲕⲉ̀ϯⲙⲁϯ">
<norm_group norm_group="ⲉⲕⲉϯⲙⲁϯ">
<orig orig="ⲉⲕⲉ̀">
<norm xml:id="u397" func="nsubj" head="#u398" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲕ" norm="ⲉⲕⲉ">
ⲉⲕⲉ̀
</norm>
</orig>
<orig orig="ϯⲙⲁϯ">
<norm xml:id="u398" func="root" pos="V" lemma="ϯⲙⲁϯ" norm="ϯⲙⲁϯ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ⲙⲁϯ">
ⲙⲁϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛϩⲁⲛϣⲟⲩϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲉϫⲉⲛϩⲁⲛϣⲟⲩϣⲱⲟⲩϣⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u399" func="case" head="#u401" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u400" func="det" head="#u401" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲟⲩϣⲱⲟⲩϣⲓ">
<norm xml:id="u401" func="obl" head="#u398" pos="N" lemma="ϣⲟⲩϣⲱⲟⲩϣⲓ" norm="ϣⲟⲩϣⲱⲟⲩϣⲓ">
ϣⲟⲩϣⲱⲟⲩϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲉⲑⲙⲏⲓ:">
<norm_group norm_group="ⲙⲙⲉⲑⲙⲏⲓ:">
<orig orig="ⲙ̀ⲙⲉⲑⲙⲏⲓ:">
<norm xml:id="u402" func="cc" head="#u404" pos="PREP" lemma="ⲙⲙⲉⲑⲙⲏⲓ:" norm="ⲙⲙⲉⲑⲙⲏⲓ:">
ⲙ̀ⲙⲉⲑⲙⲏⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲁⲛⲁⲫⲟⲣⲁ">
<norm_group norm_group="ⲟⲩⲁⲛⲁⲫⲟⲣⲁ">
<orig orig="ⲟⲩ">
<norm xml:id="u403" func="det" head="#u404" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲛⲁⲫⲟⲣⲁ">
<norm xml:id="u404" func="conj" head="#u401" pos="N" lemma="ⲁⲛⲁⲫⲟⲣⲁ" norm="ⲁⲛⲁⲫⲟⲣⲁ">
<lang lang="Greek">
ⲁⲛⲁⲫⲟⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛϭⲗⲓⲗ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛϭⲗⲓⲗ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u405" func="cc" head="#u407" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u406" func="det" head="#u407" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϭⲗⲓⲗ">
<norm xml:id="u407" func="conj" head="#u404" pos="N" lemma="ϭⲗⲓⲗ" norm="ϭⲗⲓⲗ">
ϭⲗⲓⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u408" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="20">
<translation translation="...">
<orig_group orig_group="ⲧⲟⲧⲉ">
<norm_group norm_group="ⲧⲟⲧⲉ">
<orig orig="ⲧⲟⲧⲉ">
<norm xml:id="u409" func="advmod" head="#u411" new_sent="true" pos="ADV" lemma="ⲧⲟⲧⲉ" norm="ⲧⲟⲧⲉ">
<lang lang="Greek">
ⲧⲟⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲓ̀ⲛⲓ">
<norm_group norm_group="ⲉⲩⲉⲓⲛⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u410" func="nsubj" head="#u411" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲓ̀ⲛⲓ">
<norm xml:id="u411" func="root" pos="V" lemma="ⲓⲛⲓ" norm="ⲓⲛⲓ">
ⲓ̀ⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲙⲁⲥⲓ">
<norm_group norm_group="ⲛϩⲁⲛⲙⲁⲥⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u412" func="case" head="#u414" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u413" func="det" head="#u414" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u414" func="obj" head="#u411" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
<orig orig="ⲥⲓ">
<norm xml:id="u415" func="parataxis" head="#u411" pos="V" lemma="ⲥⲓ" norm="ⲥⲓ">
ⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲱϣⲓ">
<norm_group norm_group="ⲉⲡⲱϣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u416" func="case" head="#u418" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u417" func="det" head="#u418" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲱϣⲓ">
<norm xml:id="u418" func="obl" head="#u415" pos="N" lemma="ⲱϣⲓ" norm="ⲱϣⲓ">
ⲱϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲉⲕⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲉⲕⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u419" func="case" head="#u421" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u420" func="nmod:poss" head="#u421" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ">
<norm xml:id="u421" func="obl" head="#u415" pos="N" lemma="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ" norm="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<morph morph="ⲙⲁⲛ">
ⲙⲁⲛ̀
</morph>
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϣⲱⲟⲩϣⲓ">
ϣⲱⲟⲩϣⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u422" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
