<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="121" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:121" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_121" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲛ̀ⲧⲉⲇⲁⲩⲓⲇ">
<norm_group norm_group="ⲛⲧⲉⲇⲁⲩⲓⲇ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u1" func="case" head="#u2" new_sent="true" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲇⲁⲩⲓⲇ">
<norm xml:id="u2" func="root" pos="NPROP" lemma="ⲇⲁⲩⲓⲇ" norm="ⲇⲁⲩⲓⲇ">
<lang lang="Hebrew">
ⲇⲁⲩⲓⲇ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯϩⲱⲇⲏ">
<norm_group norm_group="ϯϩⲱⲇⲏ">
<orig orig="ϯ">
<norm xml:id="u3" func="det" head="#u4" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲱⲇⲏ">
<norm xml:id="u4" func="appos" head="#u2" pos="N" lemma="ϩⲱⲇⲏ" norm="ϩⲱⲇⲏ">
<lang lang="Greek">
ϩⲱⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u5" func="case" head="#u7" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u6" func="det" head="#u7" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<norm xml:id="u7" func="nmod" head="#u4" pos="N" lemma="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ" norm="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<lang lang="Greek">
ⲁⲛⲁⲃⲁⲑⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="I was glad when they said to me, Let us go into the house of the Lord.">
<orig_group orig_group="ⲁⲓⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲁⲓⲟⲩⲛⲟϥ">
<orig orig="ⲁ">
<norm xml:id="u8" func="aux" head="#u10" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u9" func="nsubj" head="#u10" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u10" func="root" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲏ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲏ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u11" func="case" head="#u12" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u12" func="obl" head="#u10" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩϫⲟⲥ">
<norm_group norm_group="ⲉⲧⲁⲩϫⲟⲥ">
<orig orig="ⲉⲧ">
<norm xml:id="u13" func="mark" head="#u16" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u14" func="aux" head="#u16" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u15" func="nsubj" head="#u16" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϫⲟ">
<norm xml:id="u16" func="acl:relcl" head="#u12" pos="V" lemma="ϫⲟ" norm="ϫⲟ">
ϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u17" func="expl" head="#u16" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u18" func="case" head="#u19" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u19" func="obl" head="#u16" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲧⲉⲛⲛⲁϣⲉⲛⲁⲛ">
<norm_group norm_group="ϫⲉⲧⲉⲛⲛⲁϣⲉⲛⲁⲛ">
<orig orig="ϫⲉ">
<norm xml:id="u20" func="mark" head="#u23" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲧⲉⲛ">
<norm xml:id="u21" func="nsubj" head="#u23" pos="PPERS" lemma="ⲁⲛⲟⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u22" func="aux" head="#u23" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲉⲛⲁⲛ">
<norm xml:id="u23" func="ccomp" head="#u16" pos="V" lemma="ϣⲉⲛⲁⲛ" norm="ϣⲉⲛⲁⲛ">
ϣⲉⲛⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡⲏⲓ">
<norm_group norm_group="ⲉⲡⲏⲓ">
<orig orig="ⲉ">
<norm xml:id="u24" func="case" head="#u26" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u25" func="det" head="#u26" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u26" func="obl" head="#u23" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u27" func="case" head="#u29" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u28" func="det" head="#u29" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u29" func="nmod" head="#u26" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Our feet stood in thy courts, O Jerusalem.">
<orig_group orig_group="ⲛⲉⲛϭⲁⲗⲁⲩϫ">
<norm_group norm_group="ⲛⲉⲛϭⲁⲗⲁⲩϫ">
<orig orig="ⲛⲉⲛ">
<norm xml:id="u30" func="nmod:poss" head="#u31" new_sent="true" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ϭⲁⲗⲁⲩϫ">
<norm xml:id="u31" func="dislocated" head="#u34" pos="N" lemma="ϭⲁⲗⲟϫ" norm="ϭⲁⲗⲁⲩϫ">
ϭⲁⲗⲁⲩϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲟϩⲓ">
<norm_group norm_group="ⲁⲩⲟϩⲓ">
<orig orig="ⲁ">
<norm xml:id="u32" func="aux" head="#u34" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u33" func="nsubj" head="#u34" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϩⲓ">
<norm xml:id="u34" func="root" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲟϩⲓ">
<norm_group norm_group="ⲁⲩⲟϩⲓ">
<orig orig="ⲁ">
<norm xml:id="u35" func="aux" head="#u37" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u36" func="nsubj" head="#u37" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϩⲓ">
<norm xml:id="u37" func="parataxis" head="#u34" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲁⲧⲟⲩϧⲉⲛⲛⲓⲁⲩⲗⲏⲟⲩ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩϧⲉⲛⲛⲓⲁⲩⲗⲏⲟⲩ">
<orig orig="ⲉ̀ⲣⲁⲧ">
<norm xml:id="u38" func="case" head="#u39" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉ̀ⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u39" func="obl" head="#u37" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u40" func="case" head="#u42" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u41" func="det" head="#u42" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲩⲗⲏⲟⲩ">
<norm xml:id="u42" func="obl" head="#u37" pos="N" lemma="ⲁⲩⲗⲏⲟⲩ" norm="ⲁⲩⲗⲏⲟⲩ">
ⲁⲩⲗⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<norm_group norm_group="ⲛⲧⲉⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u43" func="case" head="#u44" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<norm xml:id="u44" func="nmod" head="#u42" pos="NPROP" lemma="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ" norm="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Jerusalem is built as a city whose fellowship is complete.">
<orig_group orig_group="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<norm_group norm_group="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<orig orig="ⲓⲉⲣⲟⲩ">
<norm xml:id="u45" func="root" new_sent="true" pos="PREP" lemma="ⲓⲉⲣⲟⲩ" norm="ⲓⲉⲣⲟⲩ">
ⲓⲉⲣⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲁⲗⲏⲙ">
<norm xml:id="u46" func="dep" head="#u45" pos="NPROP" lemma="ⲥⲁⲗⲏⲙ" norm="ⲥⲁⲗⲏⲙ">
ⲥⲁⲗⲏⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲏ">
<norm_group norm_group="ⲑⲏ">
<orig orig="ⲑⲏ">
<norm xml:id="u47" func="appos" head="#u46" pos="PDEM" lemma="ⲫⲏ" norm="ⲑⲏ">
ⲑⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟⲩⲕⲱⲧ">
<norm_group norm_group="ⲉⲧⲟⲩⲕⲱⲧ">
<orig orig="ⲉⲧ">
<norm xml:id="u48" func="mark" head="#u50" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u49" func="nsubj" head="#u50" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲱⲧ">
<norm xml:id="u50" func="acl:relcl" head="#u47" pos="V" lemma="ⲕⲱⲧ" norm="ⲕⲱⲧ">
ⲕⲱⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u51" func="case" head="#u52" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u52" func="obj" head="#u50" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u53" func="case" head="#u55" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u54" func="det" head="#u55" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u55" func="obl" head="#u50" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲃⲁⲕⲓ">
<norm_group norm_group="ⲛⲟⲩⲃⲁⲕⲓ">
<orig orig="ⲛ">
<norm xml:id="u56" func="case" head="#u58" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u57" func="det" head="#u58" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u58" func="nmod" head="#u55" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲉⲡⲉⲥϯⲙⲁϯ">
<norm_group norm_group="ⲉⲣⲉⲡⲉⲥϯⲙⲁϯ">
<orig orig="ⲉ̀ⲣⲉ">
<norm xml:id="u59" func="mark" head="#u62" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉ̀ⲣⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲥ">
<norm xml:id="u60" func="nmod:poss" head="#u61" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲡⲉⲥ">
ⲡⲉⲥ
</norm>
</orig>
<orig orig="ϯⲙⲁϯ">
<norm xml:id="u61" func="nsubj" head="#u62" pos="V" lemma="ϯⲙⲁϯ" norm="ϯⲙⲁϯ">
<morph morph="ϯ">
ϯ
</morph>
<morph morph="ⲙⲁϯ">
ⲙⲁϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲫⲁⲓ">
<norm_group norm_group="ϩⲓⲫⲁⲓ">
<orig orig="ϩⲓ">
<norm xml:id="u62" func="cc" head="#u63" pos="PREP" lemma="ϩⲓ" norm="ϩⲓ">
ϩⲓ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u63" func="conj" head="#u55" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲫⲁⲓ">
<norm_group norm_group="ⲉⲫⲁⲓ">
<orig orig="ⲉ">
<norm xml:id="u64" func="case" head="#u65" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u65" func="obl" head="#u62" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="For thither the tribes went up, the tribes of the Lord, as a testimony for Israel, to give thanks unto the name of the Lord.">
<orig_group orig_group="ⲉⲧⲁⲩϣⲉⲛⲱⲟⲩ">
<norm_group norm_group="ⲉⲧⲁⲩϣⲉⲛⲱⲟⲩ">
<orig orig="ⲉⲧ">
<norm xml:id="u66" func="aux" head="#u69" new_sent="true" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u67" func="aux" head="#u69" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u68" func="nsubj" head="#u69" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲉⲛⲱⲟⲩ">
<norm xml:id="u69" func="advcl" head="#u91" pos="V" lemma="ϣⲉⲛⲱⲟⲩ" norm="ϣⲉⲛⲱⲟⲩ">
ϣⲉⲛⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u70" func="advmod" head="#u91" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲱϣⲓ">
<norm_group norm_group="ⲉⲡⲱϣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u71" func="case" head="#u73" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u72" func="det" head="#u73" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲱϣⲓ">
<norm xml:id="u73" func="obl" head="#u69" pos="N" lemma="ⲱϣⲓ" norm="ⲱϣⲓ">
ⲱϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲉⲙⲁⲩ">
<norm xml:id="u74" func="advmod" head="#u69" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲉⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲫⲩⲗⲏ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲫⲩⲗⲏ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u75" func="case" head="#u77" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u76" func="det" head="#u77" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲩⲗⲏ">
<norm xml:id="u77" func="dislocated" head="#u69" pos="N" lemma="ⲫⲩⲗⲏ" norm="ⲫⲩⲗⲏ">
<lang lang="Greek">
ⲫⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲫⲩⲗⲏ">
<norm_group norm_group="ⲛⲓⲫⲩⲗⲏ">
<orig orig="ⲛⲓ">
<norm xml:id="u78" func="det" head="#u79" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲩⲗⲏ">
<norm xml:id="u79" func="appos" head="#u77" pos="N" lemma="ⲫⲩⲗⲏ" norm="ⲫⲩⲗⲏ">
<lang lang="Greek">
ⲫⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲛⲧⲉⲡϭⲟⲓⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u80" func="case" head="#u82" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u81" func="det" head="#u82" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u82" func="nmod" head="#u79" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲙⲉⲧⲙⲉⲑⲣⲉ">
<norm_group norm_group="ⲉⲩⲙⲉⲧⲙⲉⲑⲣⲉ">
<orig orig="ⲉ">
<norm xml:id="u83" func="case" head="#u85" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u84" func="det" head="#u85" pos="ART" lemma="ⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲙⲉⲑⲣⲉ">
<norm xml:id="u85" func="obl" head="#u69" pos="N" lemma="ⲙⲉⲧⲙⲉⲑⲣⲉ" norm="ⲙⲉⲧⲙⲉⲑⲣⲉ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲙⲉⲑⲣⲉ">
ⲙⲉⲑⲣⲉ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲓⲥⲣⲁⲏⲗ">
<norm_group norm_group="ⲙⲡⲓⲓⲥⲣⲁⲏⲗ">
<orig orig="ⲙ">
<norm xml:id="u86" func="case" head="#u88" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u87" func="det" head="#u88" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲓⲥⲣⲁⲏⲗ">
<norm xml:id="u88" func="nmod" head="#u85" pos="NPROP" lemma="ⲓⲥⲣⲁⲏⲗ" norm="ⲓⲥⲣⲁⲏⲗ">
<lang lang="Hebrew">
ⲓⲥⲣⲁⲏⲗ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟⲩⲱⲛϩ">
<norm_group norm_group="ⲉⲩⲟⲩⲱⲛϩ">
<orig orig="ⲉ">
<norm xml:id="u89" func="mark" head="#u91" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u90" func="nsubj" head="#u91" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<multiword multiword="ⲟⲩⲱⲛϩ ⲉⲃⲟⲗ">
<orig orig="ⲟⲩⲱⲛϩ">
<norm xml:id="u91" func="root" pos="V" lemma="ⲟⲩⲱⲛϩ" norm="ⲟⲩⲱⲛϩ">
ⲟⲩⲱⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u92" func="advmod" head="#u91" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲙⲫⲣⲁⲛ">
<norm_group norm_group="ⲙⲫⲣⲁⲛ">
<orig orig="ⲙ">
<norm xml:id="u93" func="case" head="#u95" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u94" func="det" head="#u95" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲣⲁⲛ">
<norm xml:id="u95" func="obj" head="#u91" pos="N" lemma="ⲣⲁⲛ" norm="ⲣⲁⲛ">
ⲣⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u96" func="case" head="#u98" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u97" func="det" head="#u98" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u98" func="nmod" head="#u95" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="For there are set thrones for judgment, even thrones for the house of David.">
<orig_group orig_group="ϫⲉⲁⲩϩⲉⲙⲥⲓ">
<norm_group norm_group="ϫⲉⲁⲩϩⲉⲙⲥⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u99" func="mark" head="#u102" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u100" func="aux" head="#u102" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u101" func="nsubj" head="#u102" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲉⲙⲥⲓ">
<norm xml:id="u102" func="root" pos="V" lemma="ϩⲉⲙⲥⲓ" norm="ϩⲉⲙⲥⲓ">
ϩⲉⲙⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙⲙⲁⲩ">
<norm xml:id="u103" func="advmod" head="#u102" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲑⲣⲟⲛⲟⲥ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲑⲣⲟⲛⲟⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u104" func="case" head="#u106" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u105" func="det" head="#u106" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲑⲣⲟⲛⲟⲥ">
<norm xml:id="u106" func="dislocated" head="#u102" pos="N" lemma="ⲑⲣⲟⲛⲟⲥ" norm="ⲑⲣⲟⲛⲟⲥ">
<lang lang="Greek">
ⲑⲣⲟⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩϩⲁⲡ">
<norm_group norm_group="ⲉⲩϩⲁⲡ">
<orig orig="ⲉ">
<norm xml:id="u107" func="case" head="#u109" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u108" func="det" head="#u109" pos="ART" lemma="ⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u109" func="obl" head="#u102" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲑⲣⲟⲛⲟⲥ">
<norm_group norm_group="ϩⲁⲛⲑⲣⲟⲛⲟⲥ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u110" func="det" head="#u111" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲑⲣⲟⲛⲟⲥ">
<norm xml:id="u111" func="appos" head="#u106" pos="N" lemma="ⲑⲣⲟⲛⲟⲥ" norm="ⲑⲣⲟⲛⲟⲥ">
<lang lang="Greek">
ⲑⲣⲟⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲏⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲏⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u112" func="case" head="#u114" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u113" func="det" head="#u114" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u114" func="obl" head="#u102" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲇⲁⲩⲓⲇ">
<norm_group norm_group="ⲛⲇⲁⲩⲓⲇ">
<orig orig="ⲛ̀">
<norm xml:id="u115" func="case" head="#u116" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲇⲁⲩⲓⲇ">
<norm xml:id="u116" func="nmod" head="#u114" pos="NPROP" lemma="ⲇⲁⲩⲓⲇ" norm="ⲇⲁⲩⲓⲇ">
<lang lang="Hebrew">
ⲇⲁⲩⲓⲇ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲓⲛⲓ">
<norm_group norm_group="ϣⲓⲛⲓ">
<orig orig="ϣⲓⲛⲓ">
<norm xml:id="u117" func="parataxis" head="#u102" pos="V" lemma="ϣⲓⲛⲓ" norm="ϣⲓⲛⲓ">
ϣⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲁⲛⲁⲧⲉϩⲓⲣⲏⲛⲏ">
<norm_group norm_group="ⲛⲥⲁⲛⲁⲧⲉϩⲓⲣⲏⲛⲏ">
<orig orig="ⲛ̀ⲥⲁ">
<norm xml:id="u118" func="case" head="#u120" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛ̀ⲥⲁ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u119" func="nmod:poss" head="#u120" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲉϩⲓⲣⲏⲛⲏ">
<norm xml:id="u120" func="obl" head="#u117" pos="N" lemma="ⲧⲉϩⲓⲣⲏⲛⲏ" norm="ⲧⲉϩⲓⲣⲏⲛⲏ">
ⲧⲉϩⲓⲣⲏⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<norm_group norm_group="ⲓⲉⲣⲟⲩⲥⲁⲗⲏⲙ">
<orig orig="ⲓⲉⲣⲟⲩ">
<norm xml:id="u121" func="appos" head="#u120" pos="PREP" lemma="ⲓⲉⲣⲟⲩ" norm="ⲓⲉⲣⲟⲩ">
ⲓⲉⲣⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲁⲗⲏⲙ">
<norm xml:id="u122" func="appos" head="#u120" pos="NPROP" lemma="ⲥⲁⲗⲏⲙ" norm="ⲥⲁⲗⲏⲙ">
ⲥⲁⲗⲏⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲉⲩⲑⲏⲛⲓⲁ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲉⲩⲑⲏⲛⲓⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u123" func="cc" head="#u125" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u124" func="det" head="#u125" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉⲩⲑⲏⲛⲓⲁ">
<norm xml:id="u125" func="conj" head="#u120" pos="N" lemma="ⲉⲩⲑⲏⲛⲓⲁ" norm="ⲉⲩⲑⲏⲛⲓⲁ">
ⲉⲩⲑⲏⲛⲓⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲏ">
<norm_group norm_group="ⲛⲛⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u126" func="case" head="#u127" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u127" func="nmod" head="#u125" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲙⲉⲓ">
<norm_group norm_group="ⲉⲑⲙⲉⲓ">
<orig orig="ⲉⲑ">
<norm xml:id="u128" func="mark" head="#u129" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲙⲉⲓ">
<norm xml:id="u129" func="acl:relcl" head="#u127" pos="V" lemma="ⲙⲉⲓ" norm="ⲙⲉⲓ">
ⲙⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲟ">
<norm_group norm_group="ⲙⲙⲟ">
<orig orig="ⲙⲙⲟ">
<norm xml:id="u130" func="obl" head="#u129" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙⲙⲟ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="Pray now for the peace of Jerusalem: and let there be prosperity to them that love thee.">
<orig_group orig_group="ⲟⲩϩⲓⲣⲏⲛⲏ">
<norm_group norm_group="ⲟⲩϩⲓⲣⲏⲛⲏ">
<orig orig="ⲟⲩ">
<norm xml:id="u131" func="det" head="#u132" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲓⲣⲏⲛⲏ">
<norm xml:id="u132" func="dislocated" head="#u135" pos="N" lemma="ϩⲓⲣⲏⲛⲏ" norm="ϩⲓⲣⲏⲛⲏ">
<lang lang="Greek">
ϩⲓⲣⲏⲛⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲣⲉⲥϣⲱⲡⲓ">
<norm_group norm_group="ⲙⲁⲣⲉⲥϣⲱⲡⲓ">
<orig orig="ⲙⲁⲣⲉ">
<norm xml:id="u133" func="aux" head="#u135" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣⲉ">
ⲙⲁⲣⲉ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u134" func="nsubj" head="#u135" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u135" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧⲉⲕϫⲟⲙ">
<norm_group norm_group="ϧⲉⲛⲧⲉⲕϫⲟⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u136" func="case" head="#u138" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲕ">
<norm xml:id="u137" func="nmod:poss" head="#u138" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u138" func="obl" head="#u135" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲉⲩⲑⲏⲛⲓⲁ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲉⲩⲑⲏⲛⲓⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u139" func="cc" head="#u141" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u140" func="det" head="#u141" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉⲩⲑⲏⲛⲓⲁ">
<norm xml:id="u141" func="conj" head="#u138" pos="N" lemma="ⲉⲩⲑⲏⲛⲓⲁ" norm="ⲉⲩⲑⲏⲛⲓⲁ">
ⲉⲩⲑⲏⲛⲓⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲉⲡⲩⲣⲅⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲛⲉⲡⲩⲣⲅⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u142" func="case" head="#u144" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉ">
<norm xml:id="u143" func="det" head="#u144" pos="ART" lemma="ⲡ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ⲡⲩⲣⲅⲟⲥ">
<norm xml:id="u144" func="obl" head="#u135" pos="N" lemma="ⲡⲩⲣⲅⲟⲥ" norm="ⲡⲩⲣⲅⲟⲥ">
<lang lang="Greek">
ⲡⲩⲣⲅⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϩⲟⲣϣ">
<norm_group norm_group="ⲉⲧϩⲟⲣϣ">
<orig orig="ⲉⲧ">
<norm xml:id="u145" func="mark" head="#u146" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϩⲟⲣϣ">
<norm xml:id="u146" func="acl:relcl" head="#u144" pos="VSTAT" lemma="ϩⲣⲟϣ" norm="ϩⲟⲣϣ">
ϩⲟⲣϣ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="Let peace, I pray, be within thine host, and prosperity in thy palaces.">
<orig_group orig_group="ⲉⲑⲃⲉⲛⲁⲥⲛⲏⲟⲩ">
<norm_group norm_group="ⲉⲑⲃⲉⲛⲁⲥⲛⲏⲟⲩ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u147" func="case" head="#u149" new_sent="true" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u148" func="nmod:poss" head="#u149" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲥⲛⲏⲟⲩ">
<norm xml:id="u149" func="obl" head="#u158" pos="N" lemma="ⲥⲟⲛ" norm="ⲥⲛⲏⲟⲩ">
ⲥⲛⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲏ">
<norm_group norm_group="ⲛⲉⲙⲛⲏ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u150" func="cc" head="#u151" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u151" func="conj" head="#u149" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϧⲉⲛⲧ">
<norm_group norm_group="ⲉⲧϧⲉⲛⲧ">
<orig orig="ⲉⲧ">
<norm xml:id="u152" func="mark" head="#u153" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϧⲉⲛⲧ">
<norm xml:id="u153" func="acl:relcl" head="#u151" pos="VSTAT" lemma="ϧⲱⲛⲧ" norm="ϧⲉⲛⲧ">
ϧⲉⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲓ">
<norm_group norm_group="ⲉⲣⲟⲓ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u154" func="case" head="#u155" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u155" func="obl" head="#u153" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲁⲓⲥⲁϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u156" func="aux" head="#u158" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u157" func="nsubj" head="#u158" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u158" func="root" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϩⲓⲣⲏⲛⲏ">
<norm_group norm_group="ⲛⲟⲩϩⲓⲣⲏⲛⲏ">
<orig orig="ⲛ">
<norm xml:id="u159" func="case" head="#u161" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u160" func="det" head="#u161" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲓⲣⲏⲛⲏ">
<norm xml:id="u161" func="obj" head="#u158" pos="N" lemma="ϩⲓⲣⲏⲛⲏ" norm="ϩⲓⲣⲏⲛⲏ">
<lang lang="Greek">
ϩⲓⲣⲏⲛⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲏϯ">
<norm_group norm_group="ⲉⲧⲃⲏϯ">
<orig orig="ⲉ">
<norm xml:id="u162" func="case" head="#u164" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑ">
<norm xml:id="u163" func="det" head="#u164" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ
</norm>
</orig>
<orig orig="ⲃⲏ">
<norm xml:id="u164" func="obl" head="#u158" pos="N" lemma="ⲃⲏ" norm="ⲃⲏ">
ⲃⲏ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u165" func="parataxis" head="#u168" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲉⲡⲏⲓ">
<norm_group norm_group="ⲉⲑⲃⲉⲡⲏⲓ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u166" func="case" head="#u168" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u167" func="det" head="#u168" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u168" func="obl" head="#u158" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u169" func="case" head="#u171" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u170" func="det" head="#u171" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u171" func="nmod" head="#u168" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲛⲛⲟⲩϯ">
<norm_group norm_group="ⲡⲉⲛⲛⲟⲩϯ">
<orig orig="ⲡⲉⲛ">
<norm xml:id="u172" func="nmod:poss" head="#u173" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲡⲉⲛ">
ⲡⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u173" func="appos" head="#u171" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲕⲱϯ">
<norm_group norm_group="ⲁⲓⲕⲱϯ">
<orig orig="ⲁ">
<norm xml:id="u174" func="aux" head="#u176" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u175" func="nsubj" head="#u176" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u176" func="parataxis" head="#u158" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲁϩⲁⲛⲁⲅⲁⲑⲟⲛ">
<norm_group norm_group="ⲛⲥⲁϩⲁⲛⲁⲅⲁⲑⲟⲛ">
<orig orig="ⲛ̀ⲥⲁ">
<norm xml:id="u177" func="case" head="#u179" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛ̀ⲥⲁ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u178" func="det" head="#u179" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲁⲅⲁⲑⲟⲛ">
<norm xml:id="u179" func="obl" head="#u176" pos="N" lemma="ⲁⲅⲁⲑⲟⲛ" norm="ⲁⲅⲁⲑⲟⲛ">
<lang lang="Greek">
ⲁⲅⲁⲑⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u180" func="cop" head="#u176" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
