<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="92" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:92" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_92" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲡⲓⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲡⲓⲥⲙⲟⲩ">
<orig orig="ⲡⲓ">
<norm xml:id="u1" func="det" head="#u2" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u2" func="root" pos="N" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϯϩⲱⲇⲏ">
<norm_group norm_group="ⲛⲧⲉϯϩⲱⲇⲏ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲱⲇⲏ">
<norm xml:id="u5" func="nmod" head="#u2" pos="N" lemma="ϩⲱⲇⲏ" norm="ϩⲱⲇⲏ">
<lang lang="Greek">
ϩⲱⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲇⲁⲩⲓⲇ">
<norm_group norm_group="ⲛⲧⲉⲇⲁⲩⲓⲇ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u6" func="case" head="#u7" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲇⲁⲩⲓⲇ">
<norm xml:id="u7" func="nmod" head="#u5" pos="NPROP" lemma="ⲇⲁⲩⲓⲇ" norm="ⲇⲁⲩⲓⲇ">
<lang lang="Hebrew">
ⲇⲁⲩⲓⲇ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲉ̀ϩⲟⲟⲩ">
<norm_group norm_group="ⲙⲡⲓⲉϩⲟⲟⲩ">
<orig orig="ⲙ̀">
<norm xml:id="u8" func="case" head="#u10" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u9" func="det" head="#u10" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϩⲟⲟⲩ">
<norm xml:id="u10" func="nmod" head="#u7" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉ̀ϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϧⲁϫⲱϥ">
<norm_group norm_group="ⲉⲧϧⲁϫⲱϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u11" func="mark" head="#u13" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϧⲁϫⲱ">
<norm xml:id="u12" func="case" head="#u13" pos="PREP" lemma="ϧⲁϫⲉⲛ" norm="ϧⲁϫⲱ">
ϧⲁϫⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u13" func="acl:relcl" head="#u10" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲥⲁⲃⲃⲁⲧⲟⲛ">
<norm_group norm_group="ⲙⲡⲓⲥⲁⲃⲃⲁⲧⲟⲛ">
<orig orig="ⲙ">
<norm xml:id="u14" func="case" head="#u16" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u15" func="det" head="#u16" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲁⲃⲃⲁⲧⲟⲛ">
<norm xml:id="u16" func="nmod" head="#u10" pos="N" lemma="ⲥⲁⲃⲃⲁⲧⲟⲛ" norm="ⲥⲁⲃⲃⲁⲧⲟⲛ">
<lang lang="Hebrew">
ⲥⲁⲃⲃⲁⲧⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲟⲧⲉ">
<norm_group norm_group="ϩⲟⲧⲉ">
<orig orig="ϩⲟⲧⲉ">
<norm xml:id="u17" func="mark" head="#u21" pos="CONJ" lemma="ϩⲟⲧⲉ" norm="ϩⲟⲧⲉ">
<lang lang="Greek">
ϩⲟⲧⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥϫⲱⲣϫ">
<norm_group norm_group="ⲉⲧⲁϥϫⲱⲣϫ">
<orig orig="ⲉⲧ">
<norm xml:id="u18" func="aux" head="#u21" pos="APREC" lemma="ⲉⲧ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u19" func="aux" head="#u21" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u20" func="nsubj" head="#u21" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱⲣϫ">
<norm xml:id="u21" func="acl:relcl" head="#u10" pos="V" lemma="ϫⲱⲣϫ" norm="ϫⲱⲣϫ">
ϫⲱⲣϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲕⲁϩⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲕⲁϩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u22" func="case" head="#u24" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u23" func="det" head="#u24" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u24" func="dislocated" head="#u21" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="The Lord reigns; he has clothed himself with honour: the Lord has clothed and girded himself with strength; for he has established the world, which shall not be moved.">
<orig_group orig_group="ⲁ">
<norm_group norm_group="ⲁ">
<orig orig="ⲁ">
<norm xml:id="u25" func="aux" head="#u28" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u26" func="det" head="#u27" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u27" func="nsubj" head="#u28" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲟⲩⲣⲟ">
<norm_group norm_group="ⲉⲣⲟⲩⲣⲟ">
<orig orig="ⲉⲣⲟⲩⲣⲟ">
<norm xml:id="u28" func="root" pos="V" lemma="ⲉⲣⲟⲩⲣⲟ" norm="ⲉⲣⲟⲩⲣⲟ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲣⲟ">
ⲟⲩⲣⲟ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϯ">
<norm_group norm_group="ⲁϥϯ">
<orig orig="ⲁ">
<norm xml:id="u29" func="aux" head="#u31" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u30" func="nsubj" head="#u31" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u31" func="parataxis" head="#u28" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲥⲁⲓ">
<norm_group norm_group="ⲛⲟⲩⲥⲁⲓ">
<orig orig="ⲛ">
<norm xml:id="u32" func="case" head="#u34" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u33" func="det" head="#u34" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲁⲓ">
<norm xml:id="u34" func="obj" head="#u31" pos="N" lemma="ⲥⲁⲓ" norm="ⲥⲁⲓ">
ⲥⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲱⲧϥ">
<norm_group norm_group="ϩⲓⲱⲧϥ">
<orig orig="ϩⲓⲱⲧ">
<norm xml:id="u35" func="case" head="#u36" pos="PREP" lemma="ϩⲓ" norm="ϩⲓⲱⲧ">
ϩⲓⲱⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u36" func="obl" head="#u31" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u37" func="det" head="#u38" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u38" func="vocative" head="#u41" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϯ">
<norm_group norm_group="ⲁϥϯ">
<orig orig="ⲁ">
<norm xml:id="u39" func="aux" head="#u41" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u40" func="nsubj" head="#u41" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u41" func="parataxis" head="#u31" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϫⲟⲙ">
<norm_group norm_group="ⲛⲟⲩϫⲟⲙ">
<orig orig="ⲛ">
<norm xml:id="u42" func="case" head="#u44" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u43" func="det" head="#u44" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u44" func="obj" head="#u41" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲱⲧϥ">
<norm_group norm_group="ϩⲓⲱⲧϥ">
<orig orig="ϩⲓⲱⲧ">
<norm xml:id="u45" func="case" head="#u46" pos="PREP" lemma="ϩⲓ" norm="ϩⲓⲱⲧ">
ϩⲓⲱⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u46" func="obl" head="#u41" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u47" func="cc" head="#u50" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲙⲟⲣϥ">
<norm_group norm_group="ⲁϥⲙⲟⲣϥ">
<orig orig="ⲁ">
<norm xml:id="u48" func="aux" head="#u50" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u49" func="nsubj" head="#u50" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲟⲣ">
<norm xml:id="u50" func="conj" head="#u31" pos="V" lemma="ⲙⲟⲩⲣ" norm="ⲙⲟⲣ">
ⲙⲟⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u51" func="obj" head="#u50" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u52" func="case" head="#u53" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u53" func="obl" head="#u50" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲉ">
<norm_group norm_group="ⲕⲉ">
<orig orig="ⲕⲉ">
<norm xml:id="u54" func="advmod" head="#u58" pos="CONJ" lemma="ⲕⲉ" norm="ⲕⲉ">
ⲕⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u55" func="advmod" head="#u58" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲧⲁϫⲣⲟ">
<norm_group norm_group="ⲁϥⲧⲁϫⲣⲟ">
<orig orig="ⲁ">
<norm xml:id="u56" func="aux" head="#u58" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u57" func="nsubj" head="#u58" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲧⲁϫⲣⲟ">
<norm xml:id="u58" func="parataxis" head="#u50" pos="V" lemma="ⲧⲁϫⲣⲟ" norm="ⲧⲁϫⲣⲟ">
ⲧⲁϫⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm_group norm_group="ⲛϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<orig orig="ⲛ">
<norm xml:id="u59" func="case" head="#u61" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u60" func="det" head="#u61" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm xml:id="u61" func="obj" head="#u58" pos="N" lemma="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ" norm="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<lang lang="Greek">
ⲟⲓⲕⲟⲩⲙⲉⲛⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲁⲓ">
<norm_group norm_group="ⲑⲁⲓ">
<orig orig="ⲑⲁⲓ">
<norm xml:id="u62" func="dislocated" head="#u58" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲑⲁⲓ">
ⲑⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲛⲥⲛⲁⲕⲓⲙ">
<norm_group norm_group="ⲉⲧⲉⲛⲥⲛⲁⲕⲓⲙ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u63" func="mark" head="#u66" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u64" func="advmod" head="#u66" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲥⲛⲁ">
<norm xml:id="u65" func="nsubj" head="#u66" pos="N" lemma="ⲥⲛⲁ" norm="ⲥⲛⲁ">
ⲥⲛⲁ
</norm>
</orig>
<orig orig="ⲕⲓⲙ">
<norm xml:id="u66" func="acl:relcl" head="#u62" pos="V" lemma="ⲕⲓⲙ" norm="ⲕⲓⲙ">
ⲕⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u67" func="advmod" head="#u66" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Thy throne is prepared of old: thou art from everlasting.">
<orig_group orig_group="ϥⲥⲉⲃⲧⲱⲧ">
<norm_group norm_group="ϥⲥⲉⲃⲧⲱⲧ">
<orig orig="ϥ">
<norm xml:id="u68" func="nsubj" head="#u69" new_sent="true" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲉⲃⲧⲱⲧ">
<norm xml:id="u69" func="root" pos="VSTAT" lemma="ⲥⲟⲃϯ" norm="ⲥⲉⲃⲧⲱⲧ">
ⲥⲉⲃⲧⲱⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲉⲕⲑⲣⲟⲛⲟⲥ">
<norm_group norm_group="ⲛϫⲉⲡⲉⲕⲑⲣⲟⲛⲟⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u70" func="case" head="#u72" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u71" func="nmod:poss" head="#u72" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲑⲣⲟⲛⲟⲥ">
<norm xml:id="u72" func="dislocated" head="#u69" pos="N" lemma="ⲑⲣⲟⲛⲟⲥ" norm="ⲑⲣⲟⲛⲟⲥ">
<lang lang="Greek">
ⲑⲣⲟⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛϩⲏ">
<norm_group norm_group="ⲓⲥϫⲉⲛϩⲏ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u73" func="case" head="#u74" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
<orig orig="ϩⲏ">
<norm xml:id="u74" func="obl" head="#u69" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ϩⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u75" func="cc" head="#u79" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛ">
<norm_group norm_group="ⲓⲥϫⲉⲛ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u76" func="case" head="#u78" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲛⲉϩ">
<norm_group norm_group="ⲡⲉⲛⲉϩ">
<orig orig="ⲡ">
<norm xml:id="u77" func="det" head="#u78" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲛⲉϩ">
<norm xml:id="u78" func="obl" head="#u79" pos="N" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟⲕ">
<norm_group norm_group="ⲛⲑⲟⲕ">
<orig orig="ⲛ̀ⲑⲟⲕ">
<norm xml:id="u79" func="conj" head="#u69" pos="PPERI" lemma="ⲛⲑⲟⲕ" norm="ⲛⲑⲟⲕ">
ⲛ̀ⲑⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u80" func="cop" head="#u79" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲧⲱⲟⲩⲛⲟⲩ">
<norm_group norm_group="ⲁⲩⲧⲱⲟⲩⲛⲟⲩ">
<orig orig="ⲁ">
<norm xml:id="u81" func="aux" head="#u83" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u82" func="nsubj" head="#u83" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩⲛ">
<norm xml:id="u83" func="conj" head="#u69" pos="V" lemma="ⲧⲱⲟⲩⲛ" norm="ⲧⲱⲟⲩⲛ">
ⲧⲱⲟⲩⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u84" func="obj" head="#u83" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲓⲁⲣⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲓⲁⲣⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u85" func="case" head="#u87" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u86" func="det" head="#u87" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲓⲁⲣⲱⲟⲩ">
<norm xml:id="u87" func="dislocated" head="#u83" pos="N" lemma="ⲓⲁⲣⲱⲟⲩ" norm="ⲓⲁⲣⲱⲟⲩ">
ⲓⲁⲣⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u88" func="det" head="#u89" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u89" func="appos" head="#u87" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϭⲓⲥⲓ">
<norm_group norm_group="ⲁⲩϭⲓⲥⲓ">
<orig orig="ⲁ">
<norm xml:id="u90" func="aux" head="#u92" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u91" func="nsubj" head="#u92" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϭⲓⲥⲓ">
<norm xml:id="u92" func="parataxis" head="#u69" pos="V" lemma="ϭⲓⲥⲓ" norm="ϭⲓⲥⲓ">
ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲟⲩⲥⲙⲏ">
<norm_group norm_group="ⲛⲧⲟⲩⲥⲙⲏ">
<orig orig="ⲛ">
<norm xml:id="u93" func="case" head="#u95" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲟⲩ">
<norm xml:id="u94" func="nmod:poss" head="#u95" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u95" func="obj" head="#u92" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲓⲁⲣⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲓⲁⲣⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u96" func="case" head="#u98" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u97" func="det" head="#u98" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲓⲁⲣⲱⲟⲩ">
<norm xml:id="u98" func="dislocated" head="#u92" pos="N" lemma="ⲓⲁⲣⲱⲟⲩ" norm="ⲓⲁⲣⲱⲟⲩ">
ⲓⲁⲣⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲓⲁⲣⲱⲟⲩ">
<norm_group norm_group="ϩⲁⲛⲓⲁⲣⲱⲟⲩ">
<orig orig="ϩⲁ">
<norm xml:id="u99" func="case" head="#u101" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u100" func="det" head="#u101" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u101" func="obl" head="#u92" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲁⲣⲱⲟⲩ">
<norm xml:id="u102" func="mark" head="#u92" pos="V" lemma="ⲁⲣⲱⲟⲩ" norm="ⲁⲣⲱⲟⲩ">
ⲁⲣⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉϭⲓⲥⲓ">
<norm_group norm_group="ⲉⲩⲉϭⲓⲥⲓ">
<orig orig="ⲉⲩⲉ">
<norm xml:id="u103" func="nsubj" head="#u104" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ
</norm>
</orig>
<orig orig="ϭⲓⲥⲓ">
<norm xml:id="u104" func="parataxis" head="#u92" pos="V" lemma="ϭⲓⲥⲓ" norm="ϭⲓⲥⲓ">
ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲟⲩⲥⲙⲏ">
<norm_group norm_group="ⲛⲧⲟⲩⲥⲙⲏ">
<orig orig="ⲛ">
<norm xml:id="u105" func="case" head="#u107" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧⲟⲩ">
<norm xml:id="u106" func="nmod:poss" head="#u107" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u107" func="obj" head="#u104" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u108" func="advmod" head="#u104" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲧⲥⲙⲏ">
<norm_group norm_group="ϩⲁⲧⲥⲙⲏ">
<orig orig="ϩⲁ">
<norm xml:id="u109" func="case" head="#u111" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲧ">
<norm xml:id="u110" func="det" head="#u111" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u111" func="obl" head="#u104" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϩⲁⲛⲙⲱⲟⲩ">
<norm_group norm_group="ⲛⲧⲉϩⲁⲛⲙⲱⲟⲩ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u112" func="case" head="#u114" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u113" func="det" head="#u114" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u114" func="nmod" head="#u111" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟϣ">
<norm_group norm_group="ⲉⲩⲟϣ">
<orig orig="ⲉ">
<norm xml:id="u115" func="mark" head="#u117" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u116" func="nsubj" head="#u117" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϣ">
<norm xml:id="u117" func="acl:relcl" head="#u111" pos="VSTAT" lemma="ⲁϣⲁⲓ" norm="ⲟϣ">
ⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="The rivers have lifted up, O Lord, the rivers have lifted up their voices,">
<orig_group orig_group="ϩⲁⲛϣⲫⲏⲣⲓ">
<norm_group norm_group="ϩⲁⲛϣⲫⲏⲣⲓ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u118" func="det" head="#u119" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲫⲏⲣⲓ">
<norm xml:id="u119" func="root" pos="N" lemma="ϣⲫⲏⲣⲓ" norm="ϣⲫⲏⲣⲓ">
ϣⲫⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u120" func="cop" head="#u119" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲣⲱⲟⲩϣ">
<norm_group norm_group="ⲛⲓⲣⲱⲟⲩϣ">
<orig orig="ⲛⲓ">
<norm xml:id="u121" func="det" head="#u122" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲟⲩϣ">
<norm xml:id="u122" func="nsubj" head="#u119" pos="N" lemma="ⲣⲱⲟⲩϣ" norm="ⲣⲱⲟⲩϣ">
ⲣⲱⲟⲩϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲫ̀ⲓⲟⲙ">
<norm_group norm_group="ⲛⲧⲉⲫⲓⲟⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u123" func="case" head="#u125" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u124" func="det" head="#u125" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲓⲟⲙ">
<norm xml:id="u125" func="nmod" head="#u122" pos="N" lemma="ⲓⲟⲙ" norm="ⲓⲟⲙ">
ⲓⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲟⲓ">
<norm_group norm_group="ϥⲟⲓ">
<orig orig="ϥ">
<norm xml:id="u126" func="nsubj" head="#u127" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲓ">
<norm xml:id="u127" func="parataxis" head="#u119" pos="VSTAT" lemma="ⲓⲣⲓ" norm="ⲟⲓ">
ⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϣⲫⲏⲣⲓ">
<norm_group norm_group="ⲛϣⲫⲏⲣⲓ">
<orig orig="ⲛ">
<norm xml:id="u128" func="case" head="#u129" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϣⲫⲏⲣⲓ">
<norm xml:id="u129" func="obl" head="#u127" pos="N" lemma="ϣⲫⲏⲣⲓ" norm="ϣⲫⲏⲣⲓ">
ϣⲫⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲛϫⲉⲡϭⲟⲓⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u130" func="case" head="#u132" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u131" func="det" head="#u132" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u132" func="dislocated" head="#u127" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲏ">
<norm_group norm_group="ϧⲉⲛⲛⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u133" func="case" head="#u134" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u134" func="obl" head="#u127" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϭⲟⲥⲓ">
<norm_group norm_group="ⲉⲧϭⲟⲥⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u135" func="mark" head="#u136" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u136" func="acl:relcl" head="#u134" pos="VSTAT" lemma="ϭⲓⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="at the voices of many waters: the billows of the sea are wonderful: the Lord is wonderful in high places.">
<orig_group orig_group="ⲛⲉϥⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<norm_group norm_group="ⲛⲉϥⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u137" func="nmod:poss" head="#u138" new_sent="true" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<norm xml:id="u138" func="dislocated" head="#u141" pos="N" lemma="ⲙⲉⲧⲙⲉⲑⲣⲉⲩ" norm="ⲙⲉⲧⲙⲉⲑⲣⲉⲩ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲙⲉⲑⲣⲉⲩ">
ⲙⲉⲑⲣⲉⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϣⲱⲡⲓ">
<norm_group norm_group="ⲁⲩϣⲱⲡⲓ">
<orig orig="ⲁ">
<norm xml:id="u139" func="aux" head="#u141" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u140" func="nsubj" head="#u141" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u141" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉⲛϩⲟⲧ">
<norm_group norm_group="ⲉⲩⲉⲛϩⲟⲧ">
<orig orig="ⲉ">
<norm xml:id="u142" func="mark" head="#u144" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u143" func="nsubj" head="#u144" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲉⲛϩⲟⲧ">
<norm xml:id="u144" func="advcl" head="#u141" pos="VSTAT" lemma="ⲛⲁϩϯ" norm="ⲉⲛϩⲟⲧ">
ⲉⲛϩⲟⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲙⲁϣⲱ">
<norm_group norm_group="ⲉⲙⲁϣⲱ">
<orig orig="ⲉ̀ⲙⲁϣⲱ">
<norm xml:id="u145" func="advmod" head="#u144" pos="ADV" lemma="ⲉⲙⲁϣⲱ" norm="ⲉⲙⲁϣⲱ">
ⲉ̀ⲙⲁϣⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲉⲣϣⲁⲩ">
<norm_group norm_group="ϥⲉⲣϣⲁⲩ">
<orig orig="ϥ">
<norm xml:id="u146" func="nsubj" head="#u147" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲣϣⲁⲩ">
<norm xml:id="u147" func="parataxis" head="#u141" pos="V" lemma="ⲉⲣϣⲁⲩ" norm="ⲉⲣϣⲁⲩ">
ⲉⲣϣⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲕⲏⲓ">
<norm_group norm_group="ⲙⲡⲉⲕⲏⲓ">
<orig orig="ⲙ">
<norm xml:id="u148" func="case" head="#u150" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u149" func="nmod:poss" head="#u150" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u150" func="obj" head="#u147" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲧⲟⲩⲃⲟ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲧⲟⲩⲃⲟ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u151" func="case" head="#u153" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u152" func="det" head="#u153" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲧⲟⲩⲃⲟ">
<norm xml:id="u153" func="dislocated" head="#u147" pos="N" lemma="ⲧⲟⲩⲃⲟ" norm="ⲧⲟⲩⲃⲟ">
ⲧⲟⲩⲃⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u154" func="det" head="#u155" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u155" func="appos" head="#u153" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁϩⲁⲛⲉϩⲟⲟⲩ">
<norm_group norm_group="ϣⲁϩⲁⲛⲉϩⲟⲟⲩ">
<orig orig="ϣⲁ">
<norm xml:id="u156" func="case" head="#u158" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u157" func="det" head="#u158" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲉϩⲟⲟⲩ">
<norm xml:id="u158" func="obl" head="#u147" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟⲩⲏⲟⲩ">
<norm_group norm_group="ⲉⲩⲟⲩⲏⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u159" func="mark" head="#u161" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u160" func="nsubj" head="#u161" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲟⲩ">
<norm xml:id="u161" func="acl:relcl" head="#u158" pos="VSTAT" lemma="ⲟⲩⲉⲓ" norm="ⲟⲩⲏⲟⲩ">
ⲟⲩⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
