<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="86" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:86" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_86" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ϯϩⲱⲇⲏ">
<norm_group norm_group="ϯϩⲱⲇⲏ">
<orig orig="ϯ">
<norm xml:id="u1" func="det" head="#u2" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲱⲇⲏ">
<norm xml:id="u2" func="root" pos="N" lemma="ϩⲱⲇⲏ" norm="ϩⲱⲇⲏ">
<lang lang="Greek">
ϩⲱⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ϣⲏⲣⲓ">
<norm_group norm_group="ⲛⲧⲉⲡϣⲏⲣⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u5" func="nmod" head="#u2" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲕⲟⲣⲉ">
<norm_group norm_group="ⲛⲕⲟⲣⲉ">
<orig orig="ⲛ">
<norm xml:id="u6" func="case" head="#u7" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲕⲟⲣⲉ">
<norm xml:id="u7" func="nmod" head="#u5" pos="NPROP" lemma="ⲕⲟⲣⲉ" norm="ⲕⲟⲣⲉ">
<lang lang="Hebrew">
ⲕⲟⲣⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="His foundations are in the holy mountains.">
<orig_group orig_group="ⲛⲉϥⲥⲉⲛϯ">
<norm_group norm_group="ⲛⲉϥⲥⲉⲛϯ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u8" func="nmod:poss" head="#u9" new_sent="true" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲥⲉⲛϯ">
<norm xml:id="u9" func="nsubj" head="#u17" pos="N" lemma="ⲥⲉⲛϯ" norm="ⲥⲉⲛϯ">
ⲥⲉⲛϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲧⲱⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲧⲱⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u10" func="case" head="#u12" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u11" func="det" head="#u12" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩ">
<norm xml:id="u12" func="nmod" head="#u9" pos="N" lemma="ⲧⲱⲟⲩ" norm="ⲧⲱⲟⲩ">
ⲧⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u13" func="mark" head="#u14" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u14" func="acl:relcl" head="#u12" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u15" func="det" head="#u16" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u16" func="appos" head="#u12" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲉⲓ">
<norm_group norm_group="ⲙⲉⲓ">
<orig orig="ⲙⲉⲓ">
<norm xml:id="u17" func="root" pos="V" lemma="ⲙⲉⲓ" norm="ⲙⲉⲓ">
ⲙⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲓⲡⲩⲗⲏ">
<norm_group norm_group="ⲛⲛⲓⲡⲩⲗⲏ">
<orig orig="ⲛ">
<norm xml:id="u18" func="case" head="#u20" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u19" func="det" head="#u20" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲡⲩⲗⲏ">
<norm xml:id="u20" func="obj" head="#u17" pos="N" lemma="ⲡⲩⲗⲏ" norm="ⲡⲩⲗⲏ">
<lang lang="Greek">
ⲡⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲥⲓⲱⲛ">
<norm_group norm_group="ⲛⲧⲉⲥⲓⲱⲛ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u21" func="aux" head="#u23" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u22" func="nsubj" head="#u23" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲓⲱ">
<norm xml:id="u23" func="advcl" head="#u17" pos="V" lemma="ⲓⲱⲓ" norm="ⲓⲱ">
ⲓⲱ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u24" func="case" head="#u26" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲟⲧⲉ">
<norm_group norm_group="ⲉϩⲟⲧⲉ">
<orig orig="ⲉϩⲟⲧⲉ">
<norm xml:id="u25" func="det" head="#u26" pos="PPOS" lemma="ⲉϩⲟⲧⲉ" norm="ⲉϩⲟⲧⲉ">
ⲉϩⲟⲧⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙⲁⲛϣⲱⲡⲓ">
<norm_group norm_group="ⲛⲓⲙⲁⲛϣⲱⲡⲓ">
<orig orig="ⲛⲓⲙⲁⲛϣⲱⲡⲓ">
<norm xml:id="u26" func="obj" head="#u23" pos="N" lemma="ⲛⲓⲙⲁⲛϣⲱⲡⲓ" norm="ⲛⲓⲙⲁⲛϣⲱⲡⲓ">
ⲛⲓⲙⲁⲛϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u27" func="nmod:unmarked" head="#u26" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u28" func="nmod:poss" head="#u27" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲓⲁⲕⲱⲃ">
<norm_group norm_group="ⲛⲧⲉⲓⲁⲕⲱⲃ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u29" func="case" head="#u30" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲓⲁⲕⲱⲃ">
<norm xml:id="u30" func="nmod" head="#u26" pos="NPROP" lemma="ⲓⲁⲕⲱⲃ" norm="ⲓⲁⲕⲱⲃ">
<lang lang="Hebrew">
ⲓⲁⲕⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="The Lord loves the gates of Sion, more than all the tabernacles of Jacob.">
<orig_group orig_group="ⲁⲩⲥⲁϫⲓ">
<norm_group norm_group="ⲁⲩⲥⲁϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u31" func="aux" head="#u33" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u32" func="nsubj" head="#u33" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u33" func="root" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲏϯ">
<norm_group norm_group="ⲉⲧⲃⲏϯ">
<orig orig="ⲉ">
<norm xml:id="u34" func="case" head="#u36" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑ">
<norm xml:id="u35" func="det" head="#u36" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ
</norm>
</orig>
<orig orig="ⲃⲏ">
<norm xml:id="u36" func="obl" head="#u33" pos="N" lemma="ⲃⲏ" norm="ⲃⲏ">
ⲃⲏ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u37" func="xcomp" head="#u33" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϩⲁⲛϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ⲛϩⲁⲛϩⲃⲏⲟⲩⲓ">
<orig orig="ⲛ">
<norm xml:id="u38" func="case" head="#u40" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u39" func="det" head="#u40" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u40" func="obj" head="#u37" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲧⲁⲓⲏⲟⲩⲧ">
<norm_group norm_group="ⲉⲩⲧⲁⲓⲏⲟⲩⲧ">
<orig orig="ⲉ">
<norm xml:id="u41" func="mark" head="#u43" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u42" func="nsubj" head="#u43" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲁⲓⲏⲟⲩⲧ">
<norm xml:id="u43" func="acl:relcl" head="#u40" pos="VSTAT" lemma="ⲧⲁⲉⲓⲟ" norm="ⲧⲁⲓⲏⲟⲩⲧ">
ⲧⲁⲓⲏⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲃⲁⲕⲓ">
<norm_group norm_group="ϯⲃⲁⲕⲓ">
<orig orig="ϯ">
<norm xml:id="u44" func="det" head="#u45" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u45" func="appos" head="#u40" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲫⲛⲟⲩϯ">
<norm_group norm_group="ⲛⲧⲉⲫⲛⲟⲩϯ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u46" func="case" head="#u48" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u47" func="det" head="#u48" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u48" func="nmod" head="#u45" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Glorious things have been spoken of thee, O city of God. Pause.">
<orig_group orig_group="ⲉⲓⲉⲉⲣⲫⲙⲉⲩⲓ">
<norm_group norm_group="ⲉⲓⲉⲉⲣⲫⲙⲉⲩⲓ">
<orig orig="ⲉⲓⲉ">
<norm xml:id="u49" func="advmod" head="#u50" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ
</norm>
</orig>
<orig orig="ⲉⲣ">
<norm xml:id="u50" func="root" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u51" func="det" head="#u52" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ">
<norm xml:id="u52" func="obj" head="#u50" pos="N" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲣⲁⲁⲃ">
<norm_group norm_group="ⲛⲣⲁⲁⲃ">
<orig orig="ⲛ">
<norm xml:id="u53" func="case" head="#u54" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲣⲁⲁⲃ">
<norm xml:id="u54" func="nmod" head="#u52" pos="N" lemma="ⲣⲁⲁⲃ" norm="ⲣⲁⲁⲃ">
ⲣⲁⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲃⲁⲃⲩⲗⲱⲛ">
<norm_group norm_group="ⲛⲉⲙⲃⲁⲃⲩⲗⲱⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u55" func="cc" head="#u56" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲃⲁⲃⲩⲗⲱⲛ">
<norm xml:id="u56" func="conj" head="#u54" pos="NPROP" lemma="ⲃⲁⲃⲩⲗⲱⲛ" norm="ⲃⲁⲃⲩⲗⲱⲛ">
<lang lang="Greek">
ⲃⲁⲃⲩⲗⲱⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏ">
<norm_group norm_group="ⲛⲏ">
<orig orig="ⲛⲏ">
<norm xml:id="u57" func="appos" head="#u52" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲥⲱⲟⲩⲛ">
<norm_group norm_group="ⲉⲧⲥⲱⲟⲩⲛ">
<orig orig="ⲉⲧ">
<norm xml:id="u58" func="mark" head="#u59" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲛ">
<norm xml:id="u59" func="acl:relcl" head="#u57" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲱⲟⲩⲛ">
ⲥⲱⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u60" func="case" head="#u61" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u61" func="obj" head="#u59" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="I will make mention of Raab and Babylon to them that know me: behold also the Philistines, and Tyre, and the people of the Ethiopians: these were born there.">
<multiword multiword="ϩⲏⲡⲡⲉ ⲓⲥ">
<orig_group orig_group="ϩⲏⲡⲡⲉ">
<norm_group norm_group="ϩⲏⲡⲡⲉ">
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u62" func="discourse" head="#u65" new_sent="true" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥ">
<norm_group norm_group="ⲓⲥ">
<orig orig="ⲓⲥ">
<norm xml:id="u63" func="advmod" head="#u77" pos="PTC" lemma="ⲓⲥ" norm="ⲓⲥ">
ⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲛⲓⲁⲗⲗⲟⲫⲩⲗⲟⲥ">
<norm_group norm_group="ⲛⲓⲁⲗⲗⲟⲫⲩⲗⲟⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u64" func="det" head="#u65" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲗⲗⲟⲫⲩⲗⲟⲥ">
<norm xml:id="u65" func="root" pos="N" lemma="ⲁⲗⲗⲟⲫⲩⲗⲟⲥ" norm="ⲁⲗⲗⲟⲫⲩⲗⲟⲥ">
<lang lang="Greek">
ⲁⲗⲗⲟⲫⲩⲗⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲧⲩⲣⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲧⲩⲣⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u66" func="cc" head="#u67" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲧⲩⲣⲟⲥ">
<norm xml:id="u67" func="conj" head="#u65" pos="NPROP" lemma="ⲧⲩⲣⲟⲥ" norm="ⲧⲩⲣⲟⲥ">
<lang lang="Greek">
ⲧⲩⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓⲗⲁⲟⲥ">
<norm_group norm_group="ⲛⲉⲙⲡⲓⲗⲁⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u68" func="cc" head="#u70" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u69" func="det" head="#u70" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u70" func="conj" head="#u65" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲉⲑⲁⲩϣ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲉⲑⲁⲩϣ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u71" func="case" head="#u73" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u72" func="det" head="#u73" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲑⲁⲩϣ">
<norm xml:id="u73" func="nmod" head="#u70" pos="N" lemma="ⲉⲑⲱϣ" norm="ⲉⲑⲁⲩϣ">
ⲉⲑⲁⲩϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u74" func="dislocated" head="#u77" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϣⲱⲡⲓ">
<norm_group norm_group="ⲁⲩϣⲱⲡⲓ">
<orig orig="ⲁ">
<norm xml:id="u75" func="aux" head="#u77" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u76" func="nsubj" head="#u77" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u77" func="acl:relcl" head="#u70" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙⲙⲁⲩ">
<norm xml:id="u78" func="advmod" head="#u77" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="A man shall say, Sion is my mother; and such a man was born in her; and the Highest himself has founded her.">
<orig_group orig_group="ⲥⲓⲱⲛ">
<norm_group norm_group="ⲥⲓⲱⲛ">
<orig orig="ⲥⲓⲱⲛ">
<norm xml:id="u79" func="root" new_sent="true" pos="NPROP" lemma="ⲥⲓⲱⲛ" norm="ⲥⲓⲱⲛ">
ⲥⲓⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲙⲁⲩ">
<norm_group norm_group="ϯⲙⲁⲩ">
<orig orig="ϯ">
<norm xml:id="u80" func="det" head="#u81" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲙⲁⲩ">
<norm xml:id="u81" func="nsubj" head="#u79" pos="N" lemma="ⲙⲁⲩ" norm="ⲙⲁⲩ">
ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϫⲟⲥ">
<norm_group norm_group="ⲛⲁϫⲟⲥ">
<orig orig="ⲛⲁ">
<norm xml:id="u82" func="aux" head="#u83" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲟⲥ">
<norm xml:id="u83" func="vocative" head="#u79" pos="N" lemma="ϫⲟⲥ" norm="ϫⲟⲥ">
ϫⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲟⲩⲣⲱⲙⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲣⲱⲙⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u84" func="mark" head="#u91" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u85" func="det" head="#u86" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u86" func="dislocated" head="#u91" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲣⲱⲙⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u87" func="cc" head="#u89" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u88" func="det" head="#u89" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u89" func="conj" head="#u86" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϣⲱⲡⲓ">
<norm_group norm_group="ⲁϣⲱⲡⲓ">
<orig orig="ⲁ">
<norm xml:id="u90" func="aux" head="#u91" pos="FUT" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u91" func="ccomp" head="#u79" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏⲧⲥ">
<norm_group norm_group="ⲛϧⲏⲧⲥ">
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u92" func="case" head="#u93" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u93" func="obl" head="#u91" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u94" func="cc" head="#u95" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u95" func="conj" head="#u91" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲧϭⲟⲥⲓ">
<norm_group norm_group="ⲡⲉⲧϭⲟⲥⲓ">
<orig orig="ⲡ">
<norm xml:id="u96" func="cop" head="#u95" pos="COP" lemma="ⲡⲉ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲧ">
<norm xml:id="u97" func="mark" head="#u98" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u98" func="csubj" head="#u95" pos="VSTAT" lemma="ϭⲓⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϩⲓⲥⲉⲛϯ">
<norm_group norm_group="ⲁϥϩⲓⲥⲉⲛϯ">
<orig orig="ⲁ">
<norm xml:id="u99" func="aux" head="#u101" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u100" func="nsubj" head="#u101" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲓⲥⲉⲛϯ">
<norm xml:id="u101" func="parataxis" head="#u91" pos="V" lemma="ϩⲓⲥⲉⲛϯ" norm="ϩⲓⲥⲉⲛϯ">
ϩⲓⲥⲉⲛϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u102" func="case" head="#u103" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u103" func="obj" head="#u101" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲉ̀ⲛⲉϩ">
<norm_group norm_group="ϣⲁⲉⲛⲉϩ">
<orig orig="ϣⲁ">
<norm xml:id="u104" func="case" head="#u105" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲉ̀ⲛⲉϩ">
<norm xml:id="u105" func="obl" head="#u101" pos="ADV" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉ̀ⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="The Lord shall recount it in the writing of the people, and of these princes that were born in her.">
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u106" func="det" head="#u107" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u107" func="dislocated" head="#u110" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲥⲁϫⲓ">
<norm_group norm_group="ⲉϥⲥⲁϫⲓ">
<orig orig="ⲉ">
<norm xml:id="u108" func="mark" head="#u110" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u109" func="nsubj" head="#u110" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u110" func="root" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲅⲣⲁⲫⲏ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲅⲣⲁⲫⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u111" func="case" head="#u113" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u112" func="det" head="#u113" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲅⲣⲁⲫⲏ">
<norm xml:id="u113" func="obl" head="#u110" pos="N" lemma="ⲅⲣⲁⲫⲏ" norm="ⲅⲣⲁⲫⲏ">
<lang lang="Greek">
ⲅⲣⲁⲫⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϩⲁⲛⲗⲁⲟⲥ">
<norm_group norm_group="ⲛⲧⲉϩⲁⲛⲗⲁⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u114" func="case" head="#u116" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u115" func="det" head="#u116" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u116" func="nmod" head="#u113" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛⲁⲣⲭⲱⲛ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛⲁⲣⲭⲱⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u117" func="cc" head="#u119" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u118" func="det" head="#u119" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲁⲣⲭⲱⲛ">
<norm xml:id="u119" func="conj" head="#u116" pos="N" lemma="ⲁⲣⲭⲱⲛ" norm="ⲁⲣⲭⲱⲛ">
<lang lang="Greek">
ⲁⲣⲭⲱⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u120" func="appos" head="#u119" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲧⲁⲩϣⲱⲡⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u121" func="mark" head="#u124" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u122" func="aux" head="#u124" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u123" func="nsubj" head="#u124" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u124" func="acl:relcl" head="#u120" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏⲧⲥ">
<norm_group norm_group="ⲛϧⲏⲧⲥ">
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u125" func="case" head="#u126" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u126" func="obl" head="#u124" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="The dwelling of all within thee is as the dwelling of those that rejoice.">
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u127" func="mark" head="#u131" new_sent="true" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲉⲫⲙⲁⲛϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲣⲉⲫⲙⲁⲛϣⲱⲡⲓ">
<orig orig="ⲉ̀ⲣⲉ">
<norm xml:id="u128" func="mark" head="#u131" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉ̀ⲣⲉ
</norm>
</orig>
<orig orig="ⲫ">
<norm xml:id="u129" func="det" head="#u130" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ⲙⲁⲛ">
<norm xml:id="u130" func="nsubj" head="#u131" pos="N" lemma="ⲙⲁⲛ" norm="ⲙⲁⲛ">
ⲙⲁⲛ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u131" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲏ">
<norm_group norm_group="ⲛⲧⲉⲛⲏ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u132" func="case" head="#u133" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u133" func="obl" head="#u131" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲉⲧⲟⲩⲛⲟϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u134" func="mark" head="#u135" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u135" func="acl:relcl" head="#u133" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u136" func="obl:unmarked" head="#u133" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u137" func="nmod:poss" head="#u136" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛϧⲏϯ">
<norm_group norm_group="ⲛϧⲏϯ">
<orig orig="ⲛϧⲏϯ">
<norm xml:id="u138" func="advmod" head="#u131" pos="N" lemma="ⲛϧⲏϯ" norm="ⲛϧⲏϯ">
ⲛϧⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
