<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="32" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:32" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_32" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ⲫⲁ">
<norm_group norm_group="ⲫⲁ">
<orig orig="ⲫⲁ">
<norm xml:id="u1" func="root" new_sent="true" pos="PPOS" lemma="ⲡⲁ" norm="ⲫⲁ">
ⲫⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲁⲩⲓⲇ">
<norm_group norm_group="ⲇⲁⲩⲓⲇ">
<orig orig="ⲇⲁⲩⲓⲇ">
<norm xml:id="u2" func="dep" head="#u1" pos="NPROP" lemma="ⲇⲁⲩⲓⲇ" norm="ⲇⲁⲩⲓⲇ">
<lang lang="Hebrew">
ⲇⲁⲩⲓⲇ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="Rejoice in the Lord, ye righteous; praise becomes the upright.">
<orig_group orig_group="ⲑⲉⲗⲏⲗ">
<norm_group norm_group="ⲑⲉⲗⲏⲗ">
<orig orig="ⲑⲉⲗⲏⲗ">
<norm xml:id="u3" func="root" new_sent="true" pos="V" lemma="ⲑⲉⲗⲏⲗ" norm="ⲑⲉⲗⲏⲗ">
ⲑⲉⲗⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲧⲉⲛ">
<norm_group norm_group="ⲙⲙⲱⲧⲉⲛ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u4" func="case" head="#u5" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲧⲉⲛ">
<norm xml:id="u5" func="obj" head="#u3" pos="PPERO" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲑ̀ⲙⲏⲓ">
<norm_group norm_group="ⲛⲓⲑⲙⲏⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u6" func="det" head="#u7" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲑ̀ⲙⲏⲓ">
<norm xml:id="u7" func="vocative" head="#u3" pos="N" lemma="ⲑⲙⲏⲓ" norm="ⲑⲙⲏⲓ">
<morph morph="ⲑ">
ⲑ̀
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡϭⲟⲓⲥ:">
<norm_group norm_group="ϧⲉⲛⲡϭⲟⲓⲥ:">
<orig orig="ϧⲉⲛ">
<norm xml:id="u8" func="case" head="#u10" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u9" func="det" head="#u10" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ:">
<norm xml:id="u10" func="obl" head="#u3" pos="N" lemma="ϭⲟⲓⲥ:" norm="ϭⲟⲓⲥ:">
ϭⲟⲓⲥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧⲥⲟⲩⲧⲱⲛ">
<norm_group norm_group="ⲛⲏⲉⲧⲥⲟⲩⲧⲱⲛ">
<orig orig="ⲛⲏ">
<norm xml:id="u11" func="dislocated" head="#u15" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧ">
<norm xml:id="u12" func="mark" head="#u13" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲧⲱⲛ">
<norm xml:id="u13" func="acl:relcl" head="#u11" pos="V" lemma="ⲥⲱⲟⲩⲧⲉⲛ" norm="ⲥⲟⲩⲧⲱⲛ">
ⲥⲟⲩⲧⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲉⲣϣⲁⲩ">
<norm_group norm_group="ϥⲉⲣϣⲁⲩ">
<orig orig="ϥ̀">
<norm xml:id="u14" func="nsubj" head="#u15" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲉⲣ">
<norm xml:id="u15" func="acl:relcl" head="#u10" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
<orig orig="ϣⲁⲩ">
<norm xml:id="u16" func="obj" head="#u15" pos="N" lemma="ϣⲁⲩ" norm="ϣⲁⲩ">
ϣⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲱⲟⲩ">
<norm_group norm_group="ⲛⲱⲟⲩ">
<orig orig="ⲛⲱ">
<norm xml:id="u17" func="case" head="#u18" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲱ">
ⲛⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u18" func="obl" head="#u15" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲥⲙⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u19" func="case" head="#u20" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓⲥ̀ⲙⲟⲩ">
<norm xml:id="u20" func="dislocated" head="#u15" pos="N" lemma="ⲡⲓⲥⲙⲟⲩ" norm="ⲡⲓⲥⲙⲟⲩ">
ⲡⲓⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u21" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Praise the Lord on the harp; platy to him on a psaltery of ten strings.">
<multiword multiword="ⲟⲩⲱⲛϩ ⲉⲃⲟⲗ">
<orig_group orig_group="ⲟⲩⲱⲛϩ">
<norm_group norm_group="ⲟⲩⲱⲛϩ">
<orig orig="ⲟⲩⲱⲛϩ">
<norm xml:id="u22" func="root" new_sent="true" pos="N" lemma="ⲟⲩⲱⲛϩ" norm="ⲟⲩⲱⲛϩ">
ⲟⲩⲱⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u23" func="advmod" head="#u22" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u24" func="case" head="#u26" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u25" func="det" head="#u26" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u26" func="obj" head="#u22" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲕⲩⲑⲁⲣⲁ:">
<norm_group norm_group="ϧⲉⲛⲟⲩⲕⲩⲑⲁⲣⲁ:">
<orig orig="ϧⲉⲛ">
<norm xml:id="u27" func="case" head="#u29" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u28" func="det" head="#u29" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲩⲑⲁⲣⲁ:">
<norm xml:id="u29" func="obl" head="#u22" pos="N" lemma="ⲕⲩⲑⲁⲣⲁ:" norm="ⲕⲩⲑⲁⲣⲁ:">
ⲕⲩⲑⲁⲣⲁ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩ\'ⲁⲗⲧⲏⲣⲓⲟⲛ">
<norm_group norm_group="ϧⲉⲛⲟⲩ\'ⲁⲗⲧⲏⲣⲓⲟⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u30" func="case" head="#u31" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ\'ⲁⲗⲧⲏⲣⲓⲟⲛ">
<norm xml:id="u31" func="obl" head="#u22" pos="N" lemma="ⲟⲩ\'ⲁⲗⲧⲏⲣⲓⲟⲛ" norm="ⲟⲩ\'ⲁⲗⲧⲏⲣⲓⲟⲛ">
ⲟⲩ\'ⲁⲗⲧⲏⲣⲓⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲏⲧ">
<norm_group norm_group="ⲙⲙⲏⲧ">
<orig orig="ⲙ̀">
<norm xml:id="u32" func="case" head="#u33" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲏⲧ">
<norm xml:id="u33" func="nummod" head="#u35" pos="N" lemma="ⲙⲏⲧ" norm="ⲙⲏⲧ">
ⲙⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲕⲁⲡ">
<norm_group norm_group="ⲛⲕⲁⲡ">
<orig orig="ⲛ̀">
<norm xml:id="u34" func="case" head="#u35" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲕⲁⲡ">
<norm xml:id="u35" func="nmod" head="#u31" pos="N" lemma="ⲕⲁⲡ" norm="ⲕⲁⲡ">
ⲕⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
<norm_group norm_group="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
<orig orig="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
<norm xml:id="u36" func="parataxis" head="#u22" pos="V" lemma="ⲁⲣⲓ\'ⲁⲗⲓⲛ" norm="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
ⲁⲣⲓ\'ⲁⲗⲓⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u37" func="case" head="#u38" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u38" func="obl" head="#u36" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u39" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Sing to him a new song; play skillfully with a loud noise.">
<orig_group orig_group="ϩⲱⲥ">
<norm_group norm_group="ϩⲱⲥ">
<orig orig="ϩⲱⲥ">
<norm xml:id="u40" func="mark" head="#u46" new_sent="true" pos="V" lemma="ϩⲱⲥ" norm="ϩⲱⲥ">
<lang lang="Greek">
ϩⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u41" func="case" head="#u42" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u42" func="obl" head="#u45" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϩⲱⲥ">
<norm_group norm_group="ϧⲉⲛⲟⲩϩⲱⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u43" func="case" head="#u45" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u44" func="det" head="#u45" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲱⲥ">
<norm xml:id="u45" func="obl" head="#u46" pos="CONJ" lemma="ϩⲱⲥ" norm="ϩⲱⲥ">
<lang lang="Greek">
ϩⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲃⲉⲣⲓ:">
<norm_group norm_group="ⲙⲃⲉⲣⲓ:">
<orig orig="ⲙ̀ⲃⲉⲣⲓ:">
<norm xml:id="u46" func="root" pos="N" lemma="ⲙⲃⲉⲣⲓ:" norm="ⲙⲃⲉⲣⲓ:">
ⲙ̀ⲃⲉⲣⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u47" func="cc" head="#u48" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
<norm_group norm_group="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
<orig orig="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
<norm xml:id="u48" func="conj" head="#u46" pos="VIMP" lemma="ⲉⲣ\'ⲁⲗⲓⲛ" norm="ⲁⲣⲓ\'ⲁⲗⲓⲛ">
ⲁⲣⲓ\'ⲁⲗⲓⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲕⲁⲗⲱⲥ">
<norm_group norm_group="ⲛⲕⲁⲗⲱⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u49" func="case" head="#u50" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲕⲁⲗⲱⲥ">
<norm xml:id="u50" func="advmod" head="#u48" pos="ADV" lemma="ⲕⲁⲗⲱⲥ" norm="ⲕⲁⲗⲱⲥ">
<lang lang="Greek">
ⲕⲁⲗⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲉ̀ϣⲗⲏⲗⲟⲩⲓ̀">
<norm_group norm_group="ϧⲉⲛⲟⲩⲉϣⲗⲏⲗⲟⲩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u51" func="case" head="#u54" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u52" func="det" head="#u53" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉ̀ϣ">
<norm xml:id="u53" func="obl" head="#u48" pos="N" lemma="ⲉϣ" norm="ⲉϣ">
ⲉ̀ϣ
</norm>
</orig>
<orig orig="ⲗⲏⲗⲟⲩⲓ̀">
<norm xml:id="u54" func="obl" head="#u48" pos="N" lemma="ⲗⲏⲗⲟⲩⲓ" norm="ⲗⲏⲗⲟⲩⲓ">
ⲗⲏⲗⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u55" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="For the word of the Lord is right; and all his works are faithful.">
<orig_group orig_group="ϫⲉϥ̀ⲥⲟⲩⲧⲱⲛ">
<norm_group norm_group="ϫⲉϥⲥⲟⲩⲧⲱⲛ">
<orig orig="ϫⲉ">
<norm xml:id="u56" func="mark" head="#u58" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϥ̀">
<norm xml:id="u57" func="nsubj" head="#u58" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲥⲟⲩⲧⲱⲛ">
<norm xml:id="u58" func="root" pos="V" lemma="ⲥⲱⲟⲩⲧⲉⲛ" norm="ⲥⲟⲩⲧⲱⲛ">
ⲥⲟⲩⲧⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ⲥⲁϫⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲥⲁϫⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u59" func="case" head="#u61" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u60" func="det" head="#u61" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u61" func="dislocated" head="#u58" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ:">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ:">
<orig orig="ⲙ̀">
<norm xml:id="u62" func="case" head="#u63" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡϭⲟⲓⲥ:">
<norm xml:id="u63" func="nmod" head="#u61" pos="NPROP" lemma="ⲡϭⲟⲓⲥ:" norm="ⲡϭⲟⲓⲥ:">
ⲡϭⲟⲓⲥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u64" func="cc" head="#u66" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉϥϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲉϥϩⲃⲏⲟⲩⲓ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u65" func="nmod:poss" head="#u66" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u66" func="conj" head="#u58" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u67" func="nmod:unmarked" head="#u66" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u68" func="nmod:poss" head="#u67" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲛⲁϩϯ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲛⲁϩϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u69" func="case" head="#u71" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u70" func="det" head="#u71" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲁϩϯ">
<norm xml:id="u71" func="obl" head="#u58" pos="N" lemma="ⲛⲁϩϯ" norm="ⲛⲁϩϯ">
ⲛⲁϩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u72" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="He loves mercy and judgment; the earth is full the mercy of the Lord.">
<orig_group orig_group="ϥⲙⲉⲓ">
<norm_group norm_group="ϥⲙⲉⲓ">
<orig orig="ϥ">
<norm xml:id="u73" func="nsubj" head="#u74" new_sent="true" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲉⲓ">
<norm xml:id="u74" func="root" pos="V" lemma="ⲙⲉⲓ" norm="ⲙⲉⲓ">
ⲙⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲙⲉⲧⲛⲁⲏⲧ">
<norm_group norm_group="ⲛⲟⲩⲙⲉⲧⲛⲁⲏⲧ">
<orig orig="ⲛ̀">
<norm xml:id="u75" func="case" head="#u77" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u76" func="det" head="#u77" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲛⲁⲏⲧ">
<norm xml:id="u77" func="obj" head="#u74" pos="N" lemma="ⲙⲉⲧⲛⲁⲏⲧ" norm="ⲙⲉⲧⲛⲁⲏⲧ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲛⲁⲏⲧ">
ⲛⲁⲏⲧ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩϩⲁⲡ:">
<norm_group norm_group="ⲛⲉⲙⲟⲩϩⲁⲡ:">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u78" func="cc" head="#u80" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u79" func="det" head="#u80" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲁⲡ:">
<norm xml:id="u80" func="conj" head="#u77" pos="N" lemma="ϩⲁⲡ:" norm="ϩⲁⲡ:">
ϩⲁⲡ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u81" func="det" head="#u82" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u82" func="nsubj" head="#u83" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲉϩ">
<norm_group norm_group="ⲙⲉϩ">
<orig orig="ⲙⲉϩ">
<norm xml:id="u83" func="parataxis" head="#u74" pos="VSTAT" lemma="ⲙⲟϩ" norm="ⲙⲉϩ">
ⲙⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u84" func="advmod" head="#u83" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲫ̀ⲛⲁⲓ">
<norm_group norm_group="ϧⲉⲛⲫⲛⲁⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u85" func="fixed" head="#u84" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u86" func="det" head="#u87" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u87" func="obl" head="#u83" pos="N" lemma="ⲛⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u88" func="case" head="#u90" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u89" func="det" head="#u90" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u90" func="nmod" head="#u87" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u91" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="By the word of the Lord the heavens were established; and all the host of them by the breath of his mouth.">
<orig_group orig_group="ϧⲉⲛⲡ̀ⲥⲁϫⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲥⲁϫⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u92" func="case" head="#u94" new_sent="true" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u93" func="det" head="#u94" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u94" func="obl" head="#u100" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u95" func="case" head="#u97" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u96" func="det" head="#u97" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u97" func="nmod" head="#u94" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲧⲁϫⲣⲟ">
<norm_group norm_group="ⲁⲩⲧⲁϫⲣⲟ">
<orig orig="ⲁ">
<norm xml:id="u98" func="aux" head="#u100" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u99" func="nsubj" head="#u100" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲁϫⲣⲟ">
<norm xml:id="u100" func="root" pos="V" lemma="ⲧⲁϫⲣⲟ" norm="ⲧⲁϫⲣⲟ">
ⲧⲁϫⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲫⲏⲟⲩⲓ̀:">
<norm_group norm_group="ⲛϫⲉⲛⲓⲫⲏⲟⲩⲓ:">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u101" func="case" head="#u103" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u102" func="det" head="#u103" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲏⲟⲩⲓ̀:">
<norm xml:id="u103" func="dislocated" head="#u100" pos="N" lemma="ⲫⲏⲟⲩⲓ:" norm="ⲫⲏⲟⲩⲓ:">
ⲫⲏⲟⲩⲓ̀:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u104" func="cc" head="#u107" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲇⲩⲛⲁⲙⲓⲥ">
<norm_group norm_group="ⲛⲟⲩⲇⲩⲛⲁⲙⲓⲥ">
<orig orig="ⲛ">
<norm xml:id="u105" func="case" head="#u107" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u106" func="det" head="#u107" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲇⲩⲛⲁⲙⲓⲥ">
<norm xml:id="u107" func="conj" head="#u100" pos="N" lemma="ⲇⲩⲛⲁⲙⲓⲥ" norm="ⲇⲩⲛⲁⲙⲓⲥ">
<lang lang="Greek">
ⲇⲩⲛⲁⲙⲓⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u108" func="nmod:unmarked" head="#u107" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u109" func="nmod:poss" head="#u108" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u110" func="case" head="#u113" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲧⲉⲛⲡⲓⲡ̀ⲛⲉⲩⲙⲁ">
<norm_group norm_group="ϩⲓⲧⲉⲛⲡⲓⲡⲛⲉⲩⲙⲁ">
<orig orig="ϩⲓⲧⲉⲛ">
<norm xml:id="u111" func="fixed" head="#u110" pos="PREP" lemma="ϩⲓⲧⲉⲛ" norm="ϩⲓⲧⲉⲛ">
ϩⲓⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u112" func="det" head="#u113" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡ̀ⲛⲉⲩⲙⲁ">
<norm xml:id="u113" func="obl" head="#u107" pos="N" lemma="ⲡⲛⲉⲩⲙⲁ" norm="ⲡⲛⲉⲩⲙⲁ">
<lang lang="Greek">
ⲡ̀ⲛⲉⲩⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲣⲱϥ">
<norm_group norm_group="ⲛⲧⲉⲣⲱϥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u114" func="case" head="#u115" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲣⲱ">
<norm xml:id="u115" func="nmod" head="#u113" pos="N" lemma="ⲣⲟ" norm="ⲣⲱ">
ⲣⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u116" func="nmod:poss" head="#u115" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="Who gathers the waters of the sea as in a bottle; who lays up the deeps in treasuries.">
<orig_group orig_group="ⲫⲏⲉⲧⲑⲱⲟⲩϯ">
<norm_group norm_group="ⲫⲏⲉⲧⲑⲱⲟⲩϯ">
<orig orig="ⲫⲏⲉⲧ">
<norm xml:id="u117" func="nsubj" head="#u118" new_sent="true" pos="PREP" lemma="ⲫⲏⲉⲧ" norm="ⲫⲏⲉⲧ">
ⲫⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲑⲱⲟⲩϯ">
<norm xml:id="u118" func="root" pos="V" lemma="ⲑⲱⲟⲩϯ" norm="ⲑⲱⲟⲩϯ">
ⲑⲱⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲙⲱⲟⲩ">
<norm_group norm_group="ⲛⲛⲓⲙⲱⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u119" func="case" head="#u121" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u120" func="det" head="#u121" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u121" func="obj" head="#u118" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲫ̀ⲓⲟⲙ">
<norm_group norm_group="ⲛⲧⲉⲫⲓⲟⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u122" func="case" head="#u124" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u123" func="det" head="#u124" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲓⲟⲙ">
<norm xml:id="u124" func="nmod" head="#u121" pos="N" lemma="ⲓⲟⲙ" norm="ⲓⲟⲙ">
ⲓⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u125" func="case" head="#u127" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u126" func="det" head="#u127" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u127" func="obl" head="#u118" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲁⲥⲕⲟⲥ:">
<norm_group norm_group="ⲛⲟⲩⲁⲥⲕⲟⲥ:">
<orig orig="ⲛ̀">
<norm xml:id="u128" func="case" head="#u129" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩⲁⲥⲕⲟⲥ:">
<norm xml:id="u129" func="nmod" head="#u127" pos="N" lemma="ⲟⲩⲁⲥⲕⲟⲥ:" norm="ⲟⲩⲁⲥⲕⲟⲥ:">
ⲟⲩⲁⲥⲕⲟⲥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u130" func="cc" head="#u133" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲭⲱ">
<norm_group norm_group="ⲁϥⲭⲱ">
<orig orig="ⲁ">
<norm xml:id="u131" func="aux" head="#u133" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u132" func="nsubj" head="#u133" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲭⲱ">
<norm xml:id="u133" func="conj" head="#u118" pos="V" lemma="ⲭⲱ" norm="ⲭⲱ">
ⲭⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲛⲟⲩⲛ">
<norm_group norm_group="ⲛⲛⲓⲛⲟⲩⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u134" func="case" head="#u136" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u135" func="det" head="#u136" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲛ">
<norm xml:id="u136" func="obj" head="#u133" pos="N" lemma="ⲛⲟⲩⲛ" norm="ⲛⲟⲩⲛ">
ⲛⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲁ̀ϩⲱⲣ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲁϩⲱⲣ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u137" func="case" head="#u139" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u138" func="det" head="#u139" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲁ̀ϩⲱⲣ">
<norm xml:id="u139" func="obl" head="#u133" pos="N" lemma="ⲁϩⲟ" norm="ⲁϩⲱⲣ">
ⲁ̀ϩⲱⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u140" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="Let all the earth fear the Lord; and let all that dwell in the world be moved because of him.">
<orig_group orig_group="ⲙⲁⲣⲉϥⲉⲣϩⲟϯ">
<norm_group norm_group="ⲙⲁⲣⲉϥⲉⲣϩⲟϯ">
<orig orig="ⲙⲁⲣⲉ">
<norm xml:id="u141" func="aux" head="#u143" new_sent="true" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣⲉ">
ⲙⲁⲣⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u142" func="nsubj" head="#u143" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉⲣϩⲟϯ">
<norm xml:id="u143" func="root" pos="V" lemma="ⲉⲣϩⲟϯ" norm="ⲉⲣϩⲟϯ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϩⲟϯ">
ϩⲟϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲧ̀ϩⲏ">
<norm_group norm_group="ϧⲁⲧϩⲏ">
<orig orig="ϧⲁ">
<norm xml:id="u144" func="case" head="#u146" pos="PREP" lemma="ϧⲁ" norm="ϧⲁ">
ϧⲁ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u145" func="det" head="#u146" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ϩⲏ">
<norm xml:id="u146" func="obl" head="#u143" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ϩⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u147" func="case" head="#u149" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u148" func="det" head="#u149" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u149" func="nmod" head="#u146" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲕⲁϩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u150" func="case" head="#u152" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u151" func="det" head="#u152" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u152" func="dislocated" head="#u143" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ:">
<norm_group norm_group="ⲧⲏⲣϥ:">
<orig orig="ⲧⲏⲣϥ:">
<norm xml:id="u153" func="mark" head="#u156" pos="PREP" lemma="ⲧⲏⲣϥ:" norm="ⲧⲏⲣϥ:">
ⲧⲏⲣϥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲁⲣⲟⲩⲕⲓⲙ">
<norm_group norm_group="ⲙⲁⲣⲟⲩⲕⲓⲙ">
<orig orig="ⲙⲁⲣ">
<norm xml:id="u154" func="aux" head="#u156" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣ">
ⲙⲁⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u155" func="nsubj" head="#u156" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲓⲙ">
<norm xml:id="u156" func="parataxis" head="#u143" pos="V" lemma="ⲕⲓⲙ" norm="ⲕⲓⲙ">
ⲕⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u157" func="case" head="#u159" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟϥ">
<norm_group norm_group="ⲙⲙⲟϥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u158" func="fixed" head="#u157" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u159" func="obl" head="#u156" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲟⲛ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲟⲛ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u160" func="case" head="#u161" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u161" func="dislocated" head="#u156" pos="EXIST" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u162" func="det" head="#u161" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϣⲟⲡ">
<norm_group norm_group="ⲉⲧϣⲟⲡ">
<orig orig="ⲉⲧ">
<norm xml:id="u163" func="mark" head="#u164" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u164" func="acl:relcl" head="#u161" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm_group norm_group="ϧⲉⲛϯⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u165" func="case" head="#u167" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u166" func="det" head="#u167" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<norm xml:id="u167" func="obl" head="#u164" pos="N" lemma="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ" norm="ⲟⲓⲕⲟⲩⲙⲉⲛⲏ">
<lang lang="Greek">
ⲟⲓⲕⲟⲩⲙⲉⲛⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u168" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="For he spoke, and they were made; he commanded, and they were created.">
<orig_group orig_group="ϫⲉⲛ̀ⲑⲟϥ">
<norm_group norm_group="ϫⲉⲛⲑⲟϥ">
<orig orig="ϫⲉ">
<norm xml:id="u169" func="mark" head="#u173" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u170" func="dislocated" head="#u173" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϫⲟⲥ">
<norm_group norm_group="ⲁϥϫⲟⲥ">
<orig orig="ⲁ">
<norm xml:id="u171" func="aux" head="#u173" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u172" func="nsubj" head="#u173" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲟ">
<norm xml:id="u173" func="root" pos="V" lemma="ϫⲟ" norm="ϫⲟ">
ϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u174" func="obj" head="#u173" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u175" func="cc" head="#u178" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϣⲱⲡⲓ:">
<norm_group norm_group="ⲁⲩϣⲱⲡⲓ:">
<orig orig="ⲁ">
<norm xml:id="u176" func="aux" head="#u178" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u177" func="nsubj" head="#u178" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ:">
<norm xml:id="u178" func="conj" head="#u173" pos="V" lemma="ϣⲱⲡⲓ:" norm="ϣⲱⲡⲓ:">
ϣⲱⲡⲓ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u179" func="dislocated" head="#u182" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϩⲟⲛϩⲉⲛ">
<norm_group norm_group="ⲁϥϩⲟⲛϩⲉⲛ">
<orig orig="ⲁ">
<norm xml:id="u180" func="aux" head="#u182" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u181" func="nsubj" head="#u182" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲟⲛϩⲉⲛ">
<norm xml:id="u182" func="parataxis" head="#u178" pos="V" lemma="ϩⲟⲛϩⲉⲛ" norm="ϩⲟⲛϩⲉⲛ">
ϩⲟⲛϩⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u183" func="cc" head="#u186" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲥⲱⲛⲧ">
<norm_group norm_group="ⲁⲩⲥⲱⲛⲧ">
<orig orig="ⲁ">
<norm xml:id="u184" func="aux" head="#u186" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u185" func="nsubj" head="#u186" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲛⲧ">
<norm xml:id="u186" func="conj" head="#u182" pos="V" lemma="ⲥⲱⲛⲧ" norm="ⲥⲱⲛⲧ">
ⲥⲱⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u187" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="The Lord frustrates the counsels of the nations; he brings to nought also the reasonings of the peoples, and brings to nought the counsels of princes.">
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u188" func="det" head="#u189" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u189" func="nsubj" head="#u191" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϫⲉⲣ">
<norm_group norm_group="ⲛⲁϫⲉⲣ">
<orig orig="ⲛⲁ">
<norm xml:id="u190" func="aux" head="#u191" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϫⲉⲣ">
<norm xml:id="u191" func="root" pos="V" lemma="ϫⲉⲣ" norm="ϫⲉⲣ">
ϫⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲥⲟϭⲛⲓ">
<norm_group norm_group="ⲛⲓⲥⲟϭⲛⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u192" func="det" head="#u193" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲟϭⲛⲓ">
<norm xml:id="u193" func="obj" head="#u191" pos="N" lemma="ⲥⲟϭⲛⲓ" norm="ⲥⲟϭⲛⲓ">
ⲥⲟϭⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲉⲑⲛⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲉⲑⲛⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u194" func="case" head="#u196" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u195" func="det" head="#u196" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲑⲛⲟⲥ">
<norm xml:id="u196" func="nmod" head="#u193" pos="N" lemma="ϩⲉⲑⲛⲟⲥ" norm="ⲉⲑⲛⲟⲥ">
<lang lang="Greek">
ⲉⲑⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ:">
<norm_group norm_group="ⲉⲃⲟⲗ:">
<orig orig="ⲉ̀ⲃⲟⲗ:">
<norm xml:id="u197" func="advmod" head="#u191" pos="PREP" lemma="ⲉⲃⲟⲗ:" norm="ⲉⲃⲟⲗ:">
ⲉ̀ⲃⲟⲗ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩϥ̀ⲛⲁϣⲱϣϥ">
<norm_group norm_group="ⲟⲩⲟϩϥⲛⲁϣⲱϣϥ">
<orig orig="ⲟⲩⲟϩϥ̀ⲛⲁ">
<norm xml:id="u198" func="nsubj" head="#u199" pos="NPROP" lemma="ⲟⲩⲟϩϥⲛⲁ" norm="ⲟⲩⲟϩϥⲛⲁ">
ⲟⲩⲟϩϥ̀ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲱϣ">
<norm xml:id="u199" func="parataxis" head="#u191" pos="V" lemma="ϣⲱϣ" norm="ϣⲱϣ">
ϣⲱϣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u200" func="obj" head="#u199" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲙⲟⲕⲙⲉⲕ">
<norm_group norm_group="ⲛⲛⲓⲙⲟⲕⲙⲉⲕ">
<orig orig="ⲛ̀">
<norm xml:id="u201" func="case" head="#u203" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u202" func="det" head="#u203" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲕⲙⲉⲕ">
<norm xml:id="u203" func="obl" head="#u199" pos="N" lemma="ⲙⲟⲕⲙⲉⲕ" norm="ⲙⲟⲕⲙⲉⲕ">
ⲙⲟⲕⲙⲉⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϩⲁⲛⲗⲁⲟⲥ:">
<norm_group norm_group="ⲛⲧⲉϩⲁⲛⲗⲁⲟⲥ:">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u204" func="case" head="#u206" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u205" func="det" head="#u206" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ:">
<norm xml:id="u206" func="nmod" head="#u203" pos="N" lemma="ⲗⲁⲟⲥ:" norm="ⲗⲁⲟⲥ:">
ⲗⲁⲟⲥ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u207" func="cc" head="#u210" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲛⲁϣⲱϣϥ">
<norm_group norm_group="ϥⲛⲁϣⲱϣϥ">
<orig orig="ϥ̀">
<norm xml:id="u208" func="nsubj" head="#u210" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u209" func="aux" head="#u210" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲱϣ">
<norm xml:id="u210" func="conj" head="#u199" pos="V" lemma="ϣⲱϣ" norm="ϣⲱϣ">
ϣⲱϣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u211" func="obj" head="#u210" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲥⲟϭⲛⲓ">
<norm_group norm_group="ⲙⲡⲓⲥⲟϭⲛⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u212" func="case" head="#u214" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u213" func="det" head="#u214" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲟϭⲛⲓ">
<norm xml:id="u214" func="obl" head="#u210" pos="N" lemma="ⲥⲟϭⲛⲓ" norm="ⲥⲟϭⲛⲓ">
ⲥⲟϭⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲁⲣⲭⲱⲛ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲁⲣⲭⲱⲛ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u215" func="case" head="#u217" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u216" func="det" head="#u217" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲣⲭⲱⲛ">
<norm xml:id="u217" func="nmod" head="#u214" pos="N" lemma="ⲁⲣⲭⲱⲛ" norm="ⲁⲣⲭⲱⲛ">
<lang lang="Greek">
ⲁⲣⲭⲱⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u218" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="But the counsel of the Lord endures for ever, the thoughts of his heart from generation to generation.">
<orig_group orig_group="ⲡ̀ⲥⲟϭⲛⲓ">
<norm_group norm_group="ⲡⲥⲟϭⲛⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u219" func="det" head="#u220" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲥⲟϭⲛⲓ">
<norm xml:id="u220" func="dislocated" head="#u226" pos="N" lemma="ⲥⲟϭⲛⲓ" norm="ⲥⲟϭⲛⲓ">
ⲥⲟϭⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u221" func="advmod" head="#u226" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟϥ">
<norm_group norm_group="ⲛⲑⲟϥ">
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u222" func="dislocated" head="#u226" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u223" func="case" head="#u225" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u224" func="det" head="#u225" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u225" func="nmod" head="#u220" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲟⲡ">
<norm_group norm_group="ϣⲟⲡ">
<orig orig="ϣⲟⲡ">
<norm xml:id="u226" func="root" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲉ̀ⲛⲉϩ:">
<norm_group norm_group="ϣⲁⲉⲛⲉϩ:">
<orig orig="ϣⲁ">
<norm xml:id="u227" func="case" head="#u228" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲉ̀ⲛⲉϩ:">
<norm xml:id="u228" func="obl" head="#u226" pos="N" lemma="ⲉⲛⲉϩ:" norm="ⲉⲛⲉϩ:">
ⲉ̀ⲛⲉϩ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u229" func="cc" head="#u231" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙⲟⲕⲙⲉⲕ">
<norm_group norm_group="ⲛⲓⲙⲟⲕⲙⲉⲕ">
<orig orig="ⲛⲓ">
<norm xml:id="u230" func="det" head="#u231" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲕⲙⲉⲕ">
<norm xml:id="u231" func="conj" head="#u226" pos="N" lemma="ⲙⲟⲕⲙⲉⲕ" norm="ⲙⲟⲕⲙⲉⲕ">
ⲙⲟⲕⲙⲉⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲉϥϩⲏⲧ">
<norm_group norm_group="ⲛⲧⲉⲡⲉϥϩⲏⲧ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u232" func="case" head="#u234" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u233" func="nmod:poss" head="#u234" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u234" func="nmod" head="#u231" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛ">
<norm_group norm_group="ⲓⲥϫⲉⲛ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u235" func="case" head="#u236" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲱⲟⲩ">
<norm_group norm_group="ϫⲱⲟⲩ">
<orig orig="ϫⲱ">
<norm xml:id="u236" func="obl" head="#u226" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u237" func="nmod:poss" head="#u236" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁϫⲱⲟⲩ">
<norm_group norm_group="ϣⲁϫⲱⲟⲩ">
<orig orig="ϣⲁ">
<norm xml:id="u238" func="case" head="#u239" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u239" func="obl" head="#u236" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u240" func="nmod:poss" head="#u239" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u241" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="Blessed is the nation whose God is the Lord; the people whom he has chosen for his own inheritance.">
<orig_group orig_group="ⲱⲟⲩⲛⲓⲁⲧϥ">
<norm_group norm_group="ⲟⲱⲩⲛⲓⲁⲧϥ">
<orig orig="ⲱⲟⲩⲛⲓⲁⲧ">
<norm xml:id="u242" func="root" new_sent="true" pos="V" lemma="ⲟⲱⲩⲛⲓⲁⲧ" norm="ⲟⲱⲩⲛⲓⲁⲧ">
<morph morph="ⲟⲱⲩ">
ⲱⲟⲩ
</morph>
<morph morph="ⲛⲓⲁⲧ">
ⲛⲓⲁⲧ
</morph>
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u243" func="nsubj" head="#u242" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓϣ̀ⲗⲟⲗ">
<norm_group norm_group="ⲙⲡⲓϣⲗⲟⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u244" func="case" head="#u246" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u245" func="det" head="#u246" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϣ̀ⲗⲟⲗ">
<norm xml:id="u246" func="obl" head="#u242" pos="N" lemma="ϣⲗⲟⲗ" norm="ϣⲗⲟⲗ">
ϣ̀ⲗⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲉⲧⲉⲡϭⲟⲓⲥ">
<orig orig="ⲉ̀ⲧⲉ">
<norm xml:id="u247" func="mark" head="#u249" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u248" func="det" head="#u249" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u249" func="acl:relcl" head="#u246" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u250" func="cop" head="#u249" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϥⲛⲟⲩϯ:">
<norm_group norm_group="ⲡⲉϥⲛⲟⲩϯ:">
<orig orig="ⲡⲉϥ">
<norm xml:id="u251" func="nmod:poss" head="#u252" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ:">
<norm xml:id="u252" func="nsubj" head="#u249" pos="N" lemma="ⲛⲟⲩϯ:" norm="ⲛⲟⲩϯ:">
ⲛⲟⲩϯ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲗⲁⲟⲥ">
<norm_group norm_group="ⲡⲓⲗⲁⲟⲥ">
<orig orig="ⲡⲓ">
<norm xml:id="u253" func="det" head="#u254" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u254" func="appos" head="#u252" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲁϥⲥⲟⲧⲡϥ">
<norm_group norm_group="ⲉⲧⲁϥⲥⲟⲧⲡϥ">
<orig orig="ⲉ̀ⲧ">
<norm xml:id="u255" func="mark" head="#u258" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉ̀ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u256" func="aux" head="#u258" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u257" func="nsubj" head="#u258" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲟⲧⲡ">
<norm xml:id="u258" func="acl:relcl" head="#u254" pos="V" lemma="ⲥⲱⲧⲡ" norm="ⲥⲟⲧⲡ">
ⲥⲟⲧⲡ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u259" func="obj" head="#u258" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥ">
<norm_group norm_group="ⲛⲁϥ">
<orig orig="ⲛⲁ">
<norm xml:id="u260" func="case" head="#u261" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u261" func="obl" head="#u258" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲕ̀ⲗⲏⲣⲟⲛⲟⲙⲓⲁ̀">
<norm_group norm_group="ⲉⲩⲕⲗⲏⲣⲟⲛⲟⲙⲓⲁ">
<orig orig="ⲉ">
<norm xml:id="u262" func="case" head="#u264" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u263" func="det" head="#u264" pos="ART" lemma="ⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲕ̀ⲗⲏⲣⲟⲛⲟⲙⲓⲁ̀">
<norm xml:id="u264" func="obl" head="#u258" pos="N" lemma="ⲕⲗⲏⲣⲟⲛⲟⲙⲓⲁ" norm="ⲕⲗⲏⲣⲟⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲕ̀ⲗⲏⲣⲟⲛⲟⲙⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u265" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="The Lord looks out of heaven; he beholds all the sons of men.">
<orig_group orig_group="ⲁ̀">
<norm_group norm_group="ⲁ">
<orig orig="ⲁ̀">
<norm xml:id="u266" func="aux" head="#u269" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u267" func="det" head="#u268" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u268" func="nsubj" head="#u269" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲟⲩϣⲧ">
<norm_group norm_group="ϫⲟⲩϣⲧ">
<orig orig="ϫⲟⲩϣⲧ">
<norm xml:id="u269" func="root" pos="V" lemma="ϫⲟⲩϣⲧ" norm="ϫⲟⲩϣⲧ">
ϫⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u270" func="advmod" head="#u269" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧ̀ⲫⲉ:">
<norm_group norm_group="ϧⲉⲛⲧⲫⲉ:">
<orig orig="ϧⲉⲛ">
<norm xml:id="u271" func="case" head="#u272" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧ̀ⲫⲉ:">
<norm xml:id="u272" func="obl" head="#u269" pos="NPROP" lemma="ⲧⲫⲉ:" norm="ⲧⲫⲉ:">
ⲧ̀ⲫⲉ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲛⲁⲩ">
<norm_group norm_group="ⲁϥⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u273" func="aux" head="#u275" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u274" func="nsubj" head="#u275" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u275" func="parataxis" head="#u269" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲓϣⲏⲣⲓ">
<norm_group norm_group="ⲉⲛⲓϣⲏⲣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u276" func="case" head="#u278" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u277" func="det" head="#u278" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u278" func="obl" head="#u275" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u279" func="nmod:unmarked" head="#u278" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u280" func="nmod:poss" head="#u279" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲣⲱⲙⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u281" func="case" head="#u283" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u282" func="det" head="#u283" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u283" func="nmod" head="#u278" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u284" func="case" head="#u287" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉϥⲙⲁⲛϣⲱⲡⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲉϥⲙⲁⲛϣⲱⲡⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u285" func="fixed" head="#u284" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u286" func="nmod:poss" head="#u287" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲙⲁⲛϣⲱⲡⲓ">
<norm xml:id="u287" func="obl" head="#u275" pos="N" lemma="ⲙⲁⲛϣⲱⲡⲓ" norm="ⲙⲁⲛϣⲱⲡⲓ">
ⲙⲁⲛϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲥⲉⲃⲧⲱⲧ:">
<norm_group norm_group="ⲉⲧⲥⲉⲃⲧⲱⲧ:">
<orig orig="ⲉⲧⲥⲉⲃⲧⲱⲧ:">
<norm xml:id="u288" func="advmod" head="#u291" pos="ADV" lemma="ⲉⲧⲥⲉⲃⲧⲱⲧ:" norm="ⲉⲧⲥⲉⲃⲧⲱⲧ:">
ⲉⲧⲥⲉⲃⲧⲱⲧ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϫⲟⲩϣⲧ">
<norm_group norm_group="ⲁϥϫⲟⲩϣⲧ">
<orig orig="ⲁ">
<norm xml:id="u289" func="aux" head="#u291" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u290" func="nsubj" head="#u291" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲟⲩϣⲧ">
<norm xml:id="u291" func="advcl" head="#u275" pos="V" lemma="ϫⲟⲩϣⲧ" norm="ϫⲟⲩϣⲧ">
ϫⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲟⲩⲟⲛ">
<norm_group norm_group="ⲉϫⲉⲛⲟⲩⲟⲛ">
<orig orig="ⲉ̀">
<norm xml:id="u292" func="expl" head="#u291" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϫⲉ">
<norm xml:id="u293" func="mark" head="#u291" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u294" func="case" head="#u295" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u295" func="dislocated" head="#u291" pos="N" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u296" func="det" head="#u295" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϣⲟⲡ">
<norm_group norm_group="ⲉⲧϣⲟⲡ">
<orig orig="ⲉⲧ">
<norm xml:id="u297" func="mark" head="#u298" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u298" func="acl:relcl" head="#u295" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛⲡⲕⲁϩⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u299" func="case" head="#u301" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u300" func="det" head="#u301" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u301" func="obl" head="#u298" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u302" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="He looks from his prepared habitation on all the dwellers on the earth;">
<orig_group orig_group="ⲫⲏⲉ̀ⲧⲁϥⲙⲟⲩⲛⲕ">
<norm_group norm_group="ⲫⲏⲉⲧⲁϥⲙⲟⲩⲛⲕ">
<orig orig="ⲫⲏⲉ̀ⲧⲁ">
<norm xml:id="u303" func="aux" head="#u305" new_sent="true" pos="NPROP" lemma="ⲫⲏⲉⲧⲁ" norm="ⲫⲏⲉⲧⲁ">
ⲫⲏⲉ̀ⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u304" func="nsubj" head="#u305" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲛⲕ">
<norm xml:id="u305" func="root" pos="V" lemma="ⲙⲟⲩⲛⲕ" norm="ⲙⲟⲩⲛⲕ">
ⲙⲟⲩⲛⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩϩⲏⲧ">
<norm_group norm_group="ⲛⲛⲟⲩϩⲏⲧ">
<orig orig="ⲛ̀">
<norm xml:id="u306" func="case" head="#u308" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u307" func="nmod:poss" head="#u308" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u308" func="obj" head="#u305" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲁⲩⲁⲧϥ">
<norm_group norm_group="ⲙⲙⲁⲩⲁⲧϥ">
<orig orig="ⲙ̀ⲙⲁⲩⲁⲧ">
<norm xml:id="u309" func="nmod:unmarked" head="#u308" pos="IMOD" lemma="ⲙⲙⲁⲩⲁⲧ" norm="ⲙⲙⲁⲩⲁⲧ">
ⲙ̀ⲙⲁⲩⲁⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u310" func="nmod:poss" head="#u309" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲧⲕⲁϯ">
<norm_group norm_group="ⲫⲏⲉⲧⲕⲁϯ">
<orig orig="ⲫⲏⲉⲧ">
<norm xml:id="u311" func="nsubj" head="#u312" pos="PPERS" lemma="ⲫⲏⲉⲧ" norm="ⲫⲏⲉⲧ">
ⲫⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲕⲁϯ">
<norm xml:id="u312" func="parataxis" head="#u305" pos="V" lemma="ⲕⲁϯ" norm="ⲕⲁϯ">
ⲕⲁϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲟⲩϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ⲉⲛⲟⲩϩⲃⲏⲟⲩⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u313" func="case" head="#u315" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u314" func="nmod:poss" head="#u315" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u315" func="obl" head="#u312" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ:">
<norm_group norm_group="ⲧⲏⲣⲟⲩ:">
<orig orig="ⲧⲏⲣⲟⲩ:">
<norm xml:id="u316" func="mark" head="#u319" pos="V" lemma="ⲧⲏⲣⲟⲩ:" norm="ⲧⲏⲣⲟⲩ:">
ⲧⲏⲣⲟⲩ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲛⲟϩⲉⲙ">
<norm_group norm_group="ⲛⲛⲉϥⲛⲟϩⲉⲙ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u317" func="aux" head="#u319" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u318" func="nsubj" head="#u319" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲟϩⲉⲙ">
<norm xml:id="u319" func="parataxis" head="#u312" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲟϩⲉⲙ">
ⲛⲟϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲟⲩⲣⲟ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲟⲩⲣⲟ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u320" func="case" head="#u322" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u321" func="det" head="#u322" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲣⲟ">
<norm xml:id="u322" func="dislocated" head="#u319" pos="N" lemma="ⲟⲩⲣⲟ" norm="ⲟⲩⲣⲟ">
ⲟⲩⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲉⲟⲩⲛⲓϣϯ">
<norm_group norm_group="ⲉⲑⲃⲉⲟⲩⲛⲓϣϯ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u323" func="case" head="#u325" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u324" func="det" head="#u325" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u325" func="obl" head="#u319" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲟⲙ">
<norm_group norm_group="ⲛϫⲟⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u326" func="case" head="#u327" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u327" func="nmod" head="#u325" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="15">
<translation translation="who fashioned their hearts alone; who understands all their works.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u328" func="cc" head="#u331" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲟⲩϫⲁⲓ">
<norm_group norm_group="ⲛⲛⲉϥⲟⲩϫⲁⲓ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u329" func="aux" head="#u331" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u330" func="nsubj" head="#u331" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲩϫⲁⲓ">
<norm xml:id="u331" func="root" pos="V" lemma="ⲟⲩϫⲁⲓ" norm="ⲟⲩϫⲁⲓ">
ⲟⲩϫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲁⲫⲱⲫ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲁⲫⲱⲫ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u332" func="case" head="#u334" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u333" func="det" head="#u334" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲁⲫⲱⲫ">
<norm xml:id="u334" func="dislocated" head="#u331" pos="N" lemma="ⲁⲫⲱⲫ" norm="ⲁⲫⲱⲫ">
ⲁⲫⲱⲫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡ̀ⲁ̀ϣⲁⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲁϣⲁⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u335" func="case" head="#u337" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀ⲁ̀">
<norm xml:id="u336" func="nmod:poss" head="#u337" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡ̀ⲁ̀
</norm>
</orig>
<orig orig="ϣⲁⲓ">
<norm xml:id="u337" func="obl" head="#u331" pos="N" lemma="ϣⲁⲓ" norm="ϣⲁⲓ">
ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲉϥⲙⲉⲧϫⲱⲣⲓ:">
<norm_group norm_group="ⲛⲧⲉⲧⲉϥⲙⲉⲧϫⲱⲣⲓ:">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u338" func="case" head="#u340" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u339" func="nmod:poss" head="#u340" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲙⲉⲧϫⲱⲣⲓ:">
<norm xml:id="u340" func="nmod" head="#u337" pos="N" lemma="ⲙⲉⲧϫⲱⲣⲓ:" norm="ⲙⲉⲧϫⲱⲣⲓ:">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ϫⲱⲣⲓ:">
ϫⲱⲣⲓ:
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲙⲉⲑⲛⲟⲩϫ">
<norm_group norm_group="ⲟⲩⲙⲉⲑⲛⲟⲩϫ">
<orig orig="ⲟⲩ">
<norm xml:id="u341" func="det" head="#u342" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲑⲛⲟⲩϫ">
<norm xml:id="u342" func="parataxis" head="#u331" pos="N" lemma="ⲙⲉⲑⲛⲟⲩϫ" norm="ⲙⲉⲑⲛⲟⲩϫ">
ⲙⲉⲑⲛⲟⲩϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u343" func="cop" head="#u342" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩϩ̀ⲑⲟ">
<norm_group norm_group="ⲉⲟⲩϩⲑⲟ">
<orig orig="ⲉ̀">
<norm xml:id="u344" func="case" head="#u346" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u345" func="det" head="#u346" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩ̀ⲑⲟ">
<norm xml:id="u346" func="acl:relcl" head="#u342" pos="N" lemma="ϩⲑⲟ" norm="ϩⲑⲟ">
ϩ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩϫⲁⲓ">
<norm_group norm_group="ⲉⲟⲩϫⲁⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u347" func="mark" head="#u348" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩϫⲁⲓ">
<norm xml:id="u348" func="xcomp" head="#u346" pos="V" lemma="ⲟⲩϫⲁⲓ" norm="ⲟⲩϫⲁⲓ">
ⲟⲩϫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲛⲟϩⲉⲙ">
<norm_group norm_group="ⲛⲛⲉϥⲛⲟϩⲉⲙ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u349" func="aux" head="#u351" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u350" func="nsubj" head="#u351" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲟϩⲉⲙ">
<norm xml:id="u351" func="parataxis" head="#u342" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲟϩⲉⲙ">
ⲛⲟϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u352" func="case" head="#u355" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡ̀ⲁ̀ϣⲁⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲁϣⲁⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u353" func="fixed" head="#u352" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀ⲁ̀">
<norm xml:id="u354" func="nmod:poss" head="#u355" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡ̀ⲁ̀
</norm>
</orig>
<orig orig="ϣⲁⲓ">
<norm xml:id="u355" func="obl" head="#u351" pos="N" lemma="ϣⲁⲓ" norm="ϣⲁⲓ">
ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲉϥϫⲟⲙ">
<norm_group norm_group="ⲛⲧⲉⲧⲉϥϫⲟⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u356" func="case" head="#u358" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u357" func="nmod:poss" head="#u358" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u358" func="nmod" head="#u355" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u359" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="16">
<translation translation="A king is not saved by reason of a great host; and a giant shall not be delivered by the greatness of his strength.">
<multiword multiword="ϩⲏⲡⲡⲉ ⲓⲥ">
<orig_group orig_group="ϩⲏⲡⲡⲉ">
<norm_group norm_group="ϩⲏⲡⲡⲉ">
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u360" func="advmod" head="#u369" new_sent="true" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥ">
<norm_group norm_group="ⲓⲥ">
<orig orig="ⲓⲥ">
<norm xml:id="u361" func="advmod" head="#u369" pos="PTC" lemma="ⲓⲥ" norm="ⲓⲥ">
ⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲛⲉⲛⲃⲁⲗ">
<norm_group norm_group="ⲛⲉⲛⲃⲁⲗ">
<orig orig="ⲛⲉⲛ">
<norm xml:id="u362" func="nmod:poss" head="#u363" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ⲃⲁⲗ">
<norm xml:id="u363" func="nsubj" head="#u369" pos="N" lemma="ⲃⲁⲗ" norm="ⲃⲁⲗ">
ⲃⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u364" func="case" head="#u366" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u365" func="det" head="#u366" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u366" func="nmod" head="#u363" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲏⲉⲧⲉⲣϩⲟϯ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲏⲉⲧⲉⲣϩⲟϯ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u367" func="case" head="#u368" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u368" func="det" head="#u369" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧⲉⲣϩⲟϯ">
<norm xml:id="u369" func="root" pos="N" lemma="ⲉⲧⲉⲣϩⲟϯ" norm="ⲉⲧⲉⲣϩⲟϯ">
ⲉⲧⲉⲣϩⲟϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲧⲉϥϩⲏ:">
<norm_group norm_group="ϧⲁⲧⲉϥϩⲏ:">
<orig orig="ϧⲁⲧⲉϥ">
<norm xml:id="u370" func="case" head="#u369" pos="PREP" lemma="ϧⲁⲧⲉϥ" norm="ϧⲁⲧⲉϥ">
ϧⲁⲧⲉϥ
</norm>
</orig>
<orig orig="ϩⲏ:">
<norm xml:id="u371" func="advmod" head="#u369" pos="N" lemma="ϩⲏ:" norm="ϩⲏ:">
ϩⲏ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u372" func="cc" head="#u380" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏ">
<norm_group norm_group="ⲛⲏ">
<orig orig="ⲛⲏ">
<norm xml:id="u373" func="conj" head="#u369" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u374" func="advmod" head="#u380" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲣϩⲉⲗⲡⲓⲥ">
<norm_group norm_group="ⲉⲧⲉⲣϩⲉⲗⲡⲓⲥ">
<orig orig="ⲉⲧ">
<norm xml:id="u375" func="mark" head="#u376" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲉⲣϩⲉⲗⲡⲓⲥ">
<norm xml:id="u376" func="acl:relcl" head="#u373" pos="V" lemma="ⲉⲣϩⲉⲗⲡⲓⲥ" norm="ⲉⲣϩⲉⲗⲡⲓⲥ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ϩⲉⲗⲡⲓⲥ">
ϩⲉⲗⲡⲓⲥ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲉϥⲛⲁⲓ">
<norm_group norm_group="ⲉⲡⲉϥⲛⲁⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u377" func="case" head="#u379" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡⲉ">
<norm xml:id="u378" func="det" head="#u379" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u379" func="obl" head="#u376" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u380" func="appos" head="#u373" pos="V" lemma="ⲛⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲟϩⲉⲙ">
<norm_group norm_group="ⲉⲛⲟϩⲉⲙ">
<orig orig="ⲉ̀">
<norm xml:id="u381" func="mark" head="#u382" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲟϩⲉⲙ">
<norm xml:id="u382" func="xcomp" head="#u380" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲟϩⲉⲙ">
ⲛⲟϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩ\'ⲩⲭⲏ">
<norm_group norm_group="ⲛⲛⲟⲩ\'ⲩⲭⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u383" func="case" head="#u385" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u384" func="det" head="#u385" pos="ART" lemma="ⲡ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ\'ⲩⲭⲏ">
<norm xml:id="u385" func="obj" head="#u382" pos="N" lemma="ⲟⲩ\'ⲩⲭⲏ" norm="ⲟⲩ\'ⲩⲭⲏ">
ⲟⲩ\'ⲩⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u386" func="case" head="#u388" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲫ̀ⲙⲟⲩ:">
<norm_group norm_group="ϧⲉⲛⲫⲙⲟⲩ:">
<orig orig="ϧⲉⲛ">
<norm xml:id="u387" func="fixed" head="#u386" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲫ̀ⲙⲟⲩ:">
<norm xml:id="u388" func="obl" head="#u382" pos="NPROP" lemma="ⲫⲙⲟⲩ:" norm="ⲫⲙⲟⲩ:">
ⲫ̀ⲙⲟⲩ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u389" func="cc" head="#u391" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϣⲁⲛⲟⲩϣⲟⲩ">
<norm_group norm_group="ⲉϣⲁⲛⲟⲩϣⲟⲩ">
<orig orig="ⲉ̀">
<norm xml:id="u390" func="mark" head="#u391" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϣⲁⲛⲟⲩϣ">
<norm xml:id="u391" func="conj" head="#u382" pos="V" lemma="ϣⲁⲛϣ" norm="ϣⲁⲛⲟⲩϣ">
ϣⲁⲛⲟⲩϣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u392" func="obj" head="#u391" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϩ̀ⲃⲱⲛ">
<norm_group norm_group="ϧⲉⲛⲟⲩϩⲃⲱⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u393" func="case" head="#u395" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u394" func="det" head="#u395" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲱⲛ">
<norm xml:id="u395" func="obl" head="#u391" pos="N" lemma="ϩⲃⲱⲛ" norm="ϩⲃⲱⲛ">
ϩ̀ⲃⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u396" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="17">
<translation translation="A horse is vain for safety; neither shall he be delivered by the greatness of his power.">
<orig_group orig_group="ⲧⲉⲛ\'ⲩⲭⲏ">
<norm_group norm_group="ⲧⲉⲛ\'ⲩⲭⲏ">
<orig orig="ⲧⲉⲛ\'ⲩⲭⲏ">
<norm xml:id="u397" func="dep" head="#u398" new_sent="true" pos="PPERS" lemma="ⲧⲉⲛ\'ⲩⲭⲏ" norm="ⲧⲉⲛ\'ⲩⲭⲏ">
ⲧⲉⲛ\'ⲩⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲟⲩϣⲧ">
<norm_group norm_group="ϫⲟⲩϣⲧ">
<orig orig="ϫⲟⲩϣⲧ">
<norm xml:id="u398" func="root" pos="V" lemma="ϫⲟⲩϣⲧ" norm="ϫⲟⲩϣⲧ">
ϫⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u399" func="advmod" head="#u398" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲁⲧ̀ϩⲏ">
<norm_group norm_group="ϧⲁⲧϩⲏ">
<orig orig="ϧⲁ">
<norm xml:id="u400" func="case" head="#u402" pos="PREP" lemma="ϧⲁ" norm="ϧⲁ">
ϧⲁ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u401" func="det" head="#u402" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ϩⲏ">
<norm xml:id="u402" func="obl" head="#u398" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ϩⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u403" func="case" head="#u405" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u404" func="det" head="#u405" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u405" func="nmod" head="#u402" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲏⲟⲩ">
<norm_group norm_group="ⲛⲥⲏⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u406" func="case" head="#u407" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥⲏⲟⲩ">
<norm xml:id="u407" func="nmod" head="#u405" pos="N" lemma="ⲥⲏⲟⲩ" norm="ⲥⲏⲟⲩ">
ⲥⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ:">
<norm_group norm_group="ⲛⲓⲃⲉⲛ:">
<orig orig="ⲛⲓⲃⲉⲛ:">
<norm xml:id="u408" func="flat" head="#u407" pos="V" lemma="ⲛⲓⲃⲉⲛ:" norm="ⲛⲓⲃⲉⲛ:">
ⲛⲓⲃⲉⲛ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲛ̀ⲑⲟϥ">
<norm_group norm_group="ϫⲉⲛⲑⲟϥ">
<orig orig="ϫⲉ">
<norm xml:id="u409" func="mark" head="#u410" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛ̀ⲑⲟϥ">
<norm xml:id="u410" func="ccomp" head="#u398" pos="PPERI" lemma="ⲛⲑⲟϥ" norm="ⲛⲑⲟϥ">
ⲛ̀ⲑⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉ">
<norm_group norm_group="ⲡⲉ">
<orig orig="ⲡⲉ">
<norm xml:id="u411" func="cop" head="#u410" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲛⲃⲟⲏ̀ⲑⲟⲥ">
<norm_group norm_group="ⲡⲉⲛⲃⲟⲏⲑⲟⲥ">
<orig orig="ⲡⲉⲛ">
<norm xml:id="u412" func="nmod:poss" head="#u413" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲡⲉⲛ">
ⲡⲉⲛ
</norm>
</orig>
<orig orig="ⲃⲟⲏ̀ⲑⲟⲥ">
<norm xml:id="u413" func="nsubj" head="#u410" pos="N" lemma="ⲃⲟⲏⲑⲟⲥ" norm="ⲃⲟⲏⲑⲟⲥ">
<lang lang="Greek">
ⲃⲟⲏ̀ⲑⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u414" func="cc" head="#u416" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲛⲛⲁϣϯ">
<norm_group norm_group="ⲡⲉⲛⲛⲁϣϯ">
<orig orig="ⲡⲉⲛ">
<norm xml:id="u415" func="nmod:poss" head="#u416" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲡⲉⲛ">
ⲡⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁϣϯ">
<norm xml:id="u416" func="conj" head="#u410" pos="N" lemma="ⲛⲁϣϯ" norm="ⲛⲁϣϯ">
ⲛⲁϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u417" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="18">
<translation translation="Behold, the eyes of the Lord are on them that fear him, those that hope in his mercy;">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u418" func="cc" head="#u424" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϩⲣⲏⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u419" func="case" head="#u420" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩ̀ⲣⲏⲓ">
<norm xml:id="u420" func="obl" head="#u424" pos="N" lemma="ϩⲣⲏⲓ" norm="ϩⲣⲏⲓ">
ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏⲧϥ">
<norm_group norm_group="ⲛϧⲏⲧϥ">
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u421" func="case" head="#u422" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u422" func="nmod" head="#u420" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲉϥⲉⲟⲩⲛⲟϥ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u423" func="nsubj" head="#u424" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u424" func="root" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲉⲛϩⲏⲧ:">
<norm_group norm_group="ⲛϫⲉⲡⲉⲛϩⲏⲧ:">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u425" func="case" head="#u427" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲛ">
<norm xml:id="u426" func="nmod:poss" head="#u427" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲡⲉⲛ">
ⲡⲉⲛ
</norm>
</orig>
<orig orig="ϩⲏⲧ:">
<norm xml:id="u427" func="dislocated" head="#u424" pos="N" lemma="ϩⲏⲧ:" norm="ϩⲏⲧ:">
ϩⲏⲧ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁⲛⲉⲣϩⲉⲗⲡⲓⲥ">
<norm_group norm_group="ϫⲉⲁⲛⲉⲣϩⲉⲗⲡⲓⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u428" func="mark" head="#u430" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u429" func="nsubj" head="#u430" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲛⲉⲣϩⲉⲗⲡⲓⲥ">
<norm xml:id="u430" func="ccomp" head="#u424" pos="N" lemma="ⲛⲉⲣϩⲉⲗⲡⲓⲥ" norm="ⲛⲉⲣϩⲉⲗⲡⲓⲥ">
ⲛⲉⲣϩⲉⲗⲡⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="̀ⲉⲡⲉϥⲣⲁⲛ">
<norm_group norm_group="ⲉⲡⲉϥⲣⲁⲛ">
<orig orig="̀ⲉ">
<norm xml:id="u431" func="case" head="#u433" pos="PREP" lemma="ⲉ" norm="ⲉ">
̀ⲉ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u432" func="nmod:poss" head="#u433" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲣⲁⲛ">
<norm xml:id="u433" func="obl" head="#u430" pos="N" lemma="ⲣⲁⲛ" norm="ⲣⲁⲛ">
ⲣⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u434" func="mark" head="#u435" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u435" func="acl:relcl" head="#u433" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u436" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="19">
<translation translation="to deliver their souls from death, and to keep them alive in famine.">
<orig_group orig_group="ⲙⲁⲣⲉ">
<norm_group norm_group="ⲙⲁⲣⲉ">
<orig orig="ⲙⲁⲣⲉ">
<norm xml:id="u437" func="aux" head="#u440" new_sent="true" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣⲉ">
ⲙⲁⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲕⲛⲁⲓ">
<norm_group norm_group="ⲡⲉⲕⲛⲁⲓ">
<orig orig="ⲡⲉⲕ">
<norm xml:id="u438" func="nmod:poss" head="#u439" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u439" func="nsubj" head="#u440" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲱⲡⲓ">
<norm_group norm_group="ϣⲱⲡⲓ">
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u440" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲱⲛ:">
<norm_group norm_group="ϩⲓϫⲱⲛ:">
<orig orig="ϩⲓϫⲱⲛ:">
<norm xml:id="u441" func="case" head="#u443" pos="PREP" lemma="ϩⲓϫⲱⲛ:" norm="ϩⲓϫⲱⲛ:">
ϩⲓϫⲱⲛ:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u442" func="det" head="#u443" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u443" func="obl" head="#u440" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u444" func="case" head="#u446" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u445" func="det" head="#u446" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u446" func="obl" head="#u440" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧⲁⲛⲉⲣϩⲉⲗⲡⲓⲥ">
<norm_group norm_group="ⲉⲧⲁⲛⲉⲣϩⲉⲗⲡⲓⲥ">
<orig orig="ⲉ̀ⲧ">
<norm xml:id="u447" func="mark" head="#u449" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉ̀ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u448" func="nsubj" head="#u449" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲛⲉⲣϩⲉⲗⲡⲓⲥ">
<norm xml:id="u449" func="acl:relcl" head="#u446" pos="N" lemma="ⲛⲉⲣϩⲉⲗⲡⲓⲥ" norm="ⲛⲉⲣϩⲉⲗⲡⲓⲥ">
ⲛⲉⲣϩⲉⲗⲡⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲕ">
<norm_group norm_group="ⲉⲣⲟⲕ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u450" func="case" head="#u451" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u451" func="obl" head="#u449" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u452" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
