<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="130" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:130" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_130" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ϯϩⲱⲇⲏ">
<norm_group norm_group="ϯϩⲱⲇⲏ">
<orig orig="ϯ">
<norm xml:id="u1" func="det" head="#u2" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲱⲇⲏ">
<norm xml:id="u2" func="root" pos="N" lemma="ϩⲱⲇⲏ" norm="ϩⲱⲇⲏ">
<lang lang="Greek">
ϩⲱⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<norm xml:id="u5" func="nmod" head="#u2" pos="N" lemma="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ" norm="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<lang lang="Greek">
ⲁⲛⲁⲃⲁⲑⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="O Lord, my heart is not exalted, neither have mine eyes been haughtily raised: neither have I exercised myself in great matters, nor in things too wonderful for me.">
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u6" func="det" head="#u7" new_sent="true" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u7" func="root" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉϥϭⲓⲥⲓ">
<norm_group norm_group="ⲙⲡⲉϥϭⲓⲥⲓ">
<orig orig="ⲙ">
<norm xml:id="u8" func="case" head="#u10" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u9" func="nmod:poss" head="#u10" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ϭⲓⲥⲓ">
<norm xml:id="u10" func="nmod" head="#u7" pos="N" lemma="ϭⲓⲥⲓ" norm="ϭⲓⲥⲓ">
ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲁϩⲏⲧ">
<norm_group norm_group="ⲛϫⲉⲡⲁϩⲏⲧ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u11" func="case" head="#u13" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u12" func="nmod:poss" head="#u13" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u13" func="dislocated" head="#u7" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲇⲉ">
<norm_group norm_group="ⲟⲩⲇⲉ">
<orig orig="ⲟⲩⲇⲉ">
<norm xml:id="u14" func="cc" head="#u17" pos="CONJ" lemma="ⲟⲩⲇⲉ" norm="ⲟⲩⲇⲉ">
<lang lang="Greek">
ⲟⲩⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲟⲩϭⲁⲥⲟⲩ">
<norm_group norm_group="ⲙⲡⲟⲩϭⲁⲥⲟⲩ">
<orig orig="ⲙⲡ">
<norm xml:id="u15" func="aux" head="#u17" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙⲡ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u16" func="nsubj" head="#u17" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϭⲁⲥ">
<norm xml:id="u17" func="conj" head="#u7" pos="V" lemma="ϭⲓⲥⲓ" norm="ϭⲁⲥ">
ϭⲁⲥ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u18" func="obj" head="#u17" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲁⲃⲁⲗ">
<norm_group norm_group="ⲛϫⲉⲛⲁⲃⲁⲗ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u19" func="case" head="#u21" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u20" func="nmod:poss" head="#u21" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲃⲁⲗ">
<norm xml:id="u21" func="dislocated" head="#u17" pos="N" lemma="ⲃⲁⲗ" norm="ⲃⲁⲗ">
ⲃⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲇⲉ">
<norm_group norm_group="ⲟⲩⲇⲉ">
<orig orig="ⲟⲩⲇⲉ">
<norm xml:id="u22" func="cc" head="#u25" pos="CONJ" lemma="ⲟⲩⲇⲉ" norm="ⲟⲩⲇⲉ">
<lang lang="Greek">
ⲟⲩⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲙⲟϣⲓ">
<norm_group norm_group="ⲙⲡⲓⲙⲟϣⲓ">
<orig orig="ⲙ">
<norm xml:id="u23" func="case" head="#u25" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u24" func="det" head="#u25" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲟϣⲓ">
<norm xml:id="u25" func="conj" head="#u21" pos="N" lemma="ⲙⲟϣⲓ" norm="ⲙⲟϣⲓ">
ⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲛⲓϣϯ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲛⲓϣϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u26" func="case" head="#u28" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u27" func="det" head="#u28" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u28" func="nmod" head="#u25" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲇⲉ">
<norm_group norm_group="ⲟⲩⲇⲉ">
<orig orig="ⲟⲩⲇⲉ">
<norm xml:id="u29" func="cc" head="#u31" pos="CONJ" lemma="ⲟⲩⲇⲉ" norm="ⲟⲩⲇⲉ">
<lang lang="Greek">
ⲟⲩⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛϣⲫⲏⲣⲓ">
<norm_group norm_group="ϩⲁⲛϣⲫⲏⲣⲓ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u30" func="det" head="#u31" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲫⲏⲣⲓ">
<norm xml:id="u31" func="conj" head="#u28" pos="N" lemma="ϣⲫⲏⲣⲓ" norm="ϣⲫⲏⲣⲓ">
ϣⲫⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲟⲧⲉⲣⲟⲓ">
<norm_group norm_group="ⲉϩⲟⲧⲉⲣⲟⲓ">
<orig orig="ⲉϩⲟⲧⲉⲣⲟ">
<norm xml:id="u32" func="case" head="#u33" pos="PREP" lemma="ⲉϩⲟⲧⲉ" norm="ⲉϩⲟⲧⲉⲣⲟ">
ⲉϩⲟⲧⲉⲣⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u33" func="nmod" head="#u31" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="I shall have sinned if I have not been humble, but have exulted my soul: according to the relation of a weaned child to his mother, so wilt thou recompense my soul.">
<orig_group orig_group="ⲓⲥϫⲉ">
<norm_group norm_group="ⲓⲥϫⲉ">
<orig orig="ⲓⲥϫⲉ">
<norm xml:id="u34" func="mark" head="#u38" new_sent="true" pos="CONJ" lemma="ⲓⲥϫⲉ" norm="ⲓⲥϫⲉ">
ⲓⲥϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u35" func="advmod" head="#u38" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲓⲑⲉⲃⲓⲟⲓ">
<norm_group norm_group="ⲙⲡⲓⲑⲉⲃⲓⲟⲓ">
<orig orig="ⲙⲡ">
<norm xml:id="u36" func="aux" head="#u38" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙⲡ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u37" func="nsubj" head="#u38" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲑⲉⲃⲓⲟ">
<norm xml:id="u38" func="root" pos="V" lemma="ⲑⲉⲃⲓⲟ" norm="ⲑⲉⲃⲓⲟ">
ⲑⲉⲃⲓⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u39" func="obj" head="#u38" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲗⲗⲁ">
<norm_group norm_group="ⲁⲗⲗⲁ">
<orig orig="ⲁⲗⲗⲁ">
<norm xml:id="u40" func="cc" head="#u43" pos="CONJ" lemma="ⲁⲗⲗⲁ" norm="ⲁⲗⲗⲁ">
<lang lang="Greek">
ⲁⲗⲗⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥϭⲓⲥⲓ">
<norm_group norm_group="ⲁⲥϭⲓⲥⲓ">
<orig orig="ⲁ">
<norm xml:id="u41" func="aux" head="#u43" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u42" func="nsubj" head="#u43" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϭⲓⲥⲓ">
<norm xml:id="u43" func="conj" head="#u38" pos="V" lemma="ϭⲓⲥⲓ" norm="ϭⲓⲥⲓ">
ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲧⲁⲥⲙⲏ">
<norm_group norm_group="ⲛϫⲉⲧⲁⲥⲙⲏ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u44" func="case" head="#u46" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u45" func="nmod:poss" head="#u46" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲥⲙⲏ">
<norm xml:id="u46" func="dislocated" head="#u43" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u47" func="case" head="#u49" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u48" func="det" head="#u49" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u49" func="obl" head="#u43" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲫⲏ">
<norm_group norm_group="ⲙⲫⲏ">
<orig orig="ⲙ">
<norm xml:id="u50" func="case" head="#u51" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲫⲏ">
<norm xml:id="u51" func="nmod" head="#u49" pos="PDEM" lemma="ⲫⲏ" norm="ⲫⲏ">
ⲫⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩⲧⲟⲩⲓⲟϥ">
<norm_group norm_group="ⲉⲧⲁⲩⲧⲟⲩⲓⲟϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u52" func="mark" head="#u55" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u53" func="aux" head="#u55" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u54" func="nsubj" head="#u55" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲟⲩⲓⲟ">
<norm xml:id="u55" func="acl:relcl" head="#u51" pos="V" lemma="ⲧⲟⲩⲓⲟ" norm="ⲧⲟⲩⲓⲟ">
ⲧⲟⲩⲓⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u56" func="obj" head="#u55" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲣⲱϯ">
<norm_group norm_group="ⲛⲧⲉⲣⲱϯ">
<orig orig="ⲛ̀">
<norm xml:id="u57" func="case" head="#u59" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u58" func="det" head="#u59" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲉ">
<norm xml:id="u59" func="det" head="#u60" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲣⲱϯ">
<norm xml:id="u60" func="obl" head="#u55" pos="N" lemma="ⲣⲱϯ" norm="ⲣⲱϯ">
ⲣⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲛⲏⲟⲩ">
<norm_group norm_group="ⲉϥⲛⲏⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u61" func="mark" head="#u63" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u62" func="nsubj" head="#u63" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲏⲟⲩ">
<norm xml:id="u63" func="advcl" head="#u43" pos="VSTAT" lemma="ⲓ" norm="ⲛⲏⲟⲩ">
ⲛⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲧⲉϥⲙⲁⲩ">
<norm_group norm_group="ⲉϫⲉⲛⲧⲉϥⲙⲁⲩ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u64" func="case" head="#u66" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u65" func="nmod:poss" head="#u66" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲙⲁⲩ">
<norm xml:id="u66" func="obl" head="#u63" pos="N" lemma="ⲙⲁⲩ" norm="ⲙⲁⲩ">
ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u67" func="case" head="#u69" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u68" func="det" head="#u69" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u69" func="obl" head="#u63" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϯϣⲉⲃⲓⲱ">
<norm_group norm_group="ⲛⲟⲩϯϣⲉⲃⲓⲱ">
<orig orig="ⲛ">
<norm xml:id="u70" func="case" head="#u73" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u71" func="det" head="#u73" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u72" func="det" head="#u73" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϣⲉⲃⲓⲱ">
<norm xml:id="u73" func="nmod" head="#u69" pos="N" lemma="ϣⲉⲃⲓⲱ" norm="ϣⲉⲃⲓⲱ">
ϣⲉⲃⲓⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲧⲁⲩⲭⲏ">
<norm_group norm_group="ⲉϫⲉⲛⲧⲁⲩⲭⲏ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u74" func="case" head="#u75" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u75" func="nmod" head="#u73" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u76" func="aux" head="#u78" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u77" func="nsubj" head="#u78" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲭⲏ">
<norm xml:id="u78" func="acl:relcl" head="#u73" pos="VSTAT" lemma="ⲭⲱ" norm="ⲭⲏ">
ⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Let Israel hope in the Lord, from henceforth and for ever.">
<orig_group orig_group="ⲙⲁⲣⲉ">
<norm_group norm_group="ⲙⲁⲣⲉ">
<orig orig="ⲙⲁⲣⲉ">
<norm xml:id="u79" func="aux" head="#u82" new_sent="true" pos="AJUS" lemma="ⲙⲁⲣⲉ" norm="ⲙⲁⲣⲉ">
ⲙⲁⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲓⲥⲣⲁⲏⲗ">
<norm_group norm_group="ⲡⲓⲓⲥⲣⲁⲏⲗ">
<orig orig="ⲡⲓ">
<norm xml:id="u80" func="det" head="#u81" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲓⲥⲣⲁⲏⲗ">
<norm xml:id="u81" func="nsubj" head="#u82" pos="NPROP" lemma="ⲓⲥⲣⲁⲏⲗ" norm="ⲓⲥⲣⲁⲏⲗ">
<lang lang="Hebrew">
ⲓⲥⲣⲁⲏⲗ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣϩⲉⲗⲡⲓⲥ">
<norm_group norm_group="ⲉⲣϩⲉⲗⲡⲓⲥ">
<orig orig="ⲉⲣϩⲉⲗⲡⲓⲥ">
<norm xml:id="u82" func="root" pos="V" lemma="ⲉⲣϩⲉⲗⲡⲓⲥ" norm="ⲉⲣϩⲉⲗⲡⲓⲥ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ϩⲉⲗⲡⲓⲥ">
ϩⲉⲗⲡⲓⲥ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲉⲡϭⲟⲓⲥ">
<orig orig="ⲉ">
<norm xml:id="u83" func="case" head="#u85" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u84" func="det" head="#u85" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u85" func="obl" head="#u82" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛ">
<norm_group norm_group="ⲓⲥϫⲉⲛ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u86" func="case" head="#u87" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲟⲩ">
<norm_group norm_group="ϯⲛⲟⲩ">
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u87" func="obl" head="#u82" pos="N" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϣⲁⲉ̀ⲛⲉϩ">
<norm_group norm_group="ⲛⲉⲙϣⲁⲉⲛⲉϩ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u88" func="cc" head="#u89" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϣⲁⲉ̀ⲛⲉϩ">
<norm xml:id="u89" func="conj" head="#u87" pos="N" lemma="ϣⲁⲉⲛⲉϩ" norm="ϣⲁⲉⲛⲉϩ">
<morph morph="ϣⲁ">
ϣⲁ
</morph>
<morph morph="ⲉⲛⲉϩ">
ⲉ̀ⲛⲉϩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
