<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="133" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.pss.bohairic_ed:133" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="19_Psalmi_133" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="0">
<translation translation="...">
<orig_group orig_group="ϯϩⲱⲇⲏ">
<norm_group norm_group="ϯϩⲱⲇⲏ">
<orig orig="ϯ">
<norm xml:id="u1" func="det" head="#u2" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲱⲇⲏ">
<norm xml:id="u2" func="root" pos="N" lemma="ϩⲱⲇⲏ" norm="ϩⲱⲇⲏ">
<lang lang="Greek">
ϩⲱⲇⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u3" func="case" head="#u5" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u4" func="det" head="#u5" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<norm xml:id="u5" func="nmod" head="#u2" pos="N" lemma="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ" norm="ⲁⲛⲁⲃⲁⲑⲙⲟⲥ">
<lang lang="Greek">
ⲁⲛⲁⲃⲁⲑⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="1">
<translation translation="Behold now, bless ye the Lord, all the servants of the Lord, who stand in the house of the Lord, in the courts of the house of our God.">
<orig_group orig_group="ϩⲏⲡⲡⲉ">
<norm_group norm_group="ϩⲏⲡⲡⲉ">
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u6" func="nsubj" head="#u8" new_sent="true" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲇⲉ">
<norm_group norm_group="ⲇⲉ">
<orig orig="ⲇⲉ">
<norm xml:id="u7" func="advmod" head="#u8" pos="PTC" lemma="ⲇⲉ" norm="ⲇⲉ">
<lang lang="Greek">
ⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u8" func="root" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲉⲡϭⲟⲓⲥ">
<orig orig="ⲉ">
<norm xml:id="u9" func="case" head="#u11" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u10" func="det" head="#u11" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u11" func="obl" head="#u8" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲉⲃⲓⲁⲓⲕ">
<norm_group norm_group="ⲛⲓⲉⲃⲓⲁⲓⲕ">
<orig orig="ⲛⲓ">
<norm xml:id="u12" func="det" head="#u13" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲃⲓⲁⲓⲕ">
<norm xml:id="u13" func="parataxis" head="#u8" pos="N" lemma="ⲃⲱⲕ" norm="ⲉⲃⲓⲁⲓⲕ">
ⲉⲃⲓⲁⲓⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲛⲧⲉⲡϭⲟⲓⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u14" func="case" head="#u16" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u15" func="det" head="#u16" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u16" func="nmod" head="#u13" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏ">
<norm_group norm_group="ⲛⲏ">
<orig orig="ⲛⲏ">
<norm xml:id="u17" func="appos" head="#u13" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟϩⲓ">
<norm_group norm_group="ⲉⲧⲟϩⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u18" func="mark" head="#u19" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲟϩⲓ">
<norm xml:id="u19" func="acl:relcl" head="#u17" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲁⲧⲟⲩϧⲉⲛⲡⲏⲓ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩϧⲉⲛⲡⲏⲓ">
<orig orig="ⲉ̀ⲣⲁⲧ">
<norm xml:id="u20" func="case" head="#u21" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉ̀ⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u21" func="obl" head="#u19" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u22" func="case" head="#u23" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲏⲓ">
<norm xml:id="u23" func="obl" head="#u19" pos="N" lemma="ⲡⲏⲓ" norm="ⲡⲏⲓ">
ⲡⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲙⲡϭⲟⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u24" func="case" head="#u26" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u25" func="det" head="#u26" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u26" func="nmod" head="#u23" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲁⲩⲗⲏⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲁⲩⲗⲏⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u27" func="case" head="#u29" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u28" func="det" head="#u29" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲩⲗⲏⲟⲩ">
<norm xml:id="u29" func="obl" head="#u19" pos="N" lemma="ⲁⲩⲗⲏⲟⲩ" norm="ⲁⲩⲗⲏⲟⲩ">
ⲁⲩⲗⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲏⲓ">
<norm_group norm_group="ⲛⲧⲉⲡⲏⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u30" func="case" head="#u32" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u31" func="det" head="#u32" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u32" func="nmod" head="#u29" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲡⲉⲛⲛⲟⲩϯ">
<norm_group norm_group="ⲙⲡⲉⲛⲛⲟⲩϯ">
<orig orig="ⲙ">
<norm xml:id="u33" func="case" head="#u35" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲉⲛ">
<norm xml:id="u34" func="nmod:poss" head="#u35" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲡⲉⲛ">
ⲡⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u35" func="nmod" head="#u32" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Lift up your hands by night in the sanctuaries, and bless the Lord.">
<orig_group orig_group="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲛϩⲣⲏⲓ">
<orig orig="ⲛ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u36" func="cc" head="#u40" new_sent="true" pos="ADV" lemma="ⲛϩⲣⲏⲓ" norm="ⲛϩⲣⲏⲓ">
ⲛ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲉϫⲱⲣϩ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲉϫⲱⲣϩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u37" func="case" head="#u39" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u38" func="det" head="#u39" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉϫⲱⲣϩ">
<norm xml:id="u39" func="obl" head="#u40" pos="N" lemma="ϫⲱⲣϩ" norm="ⲉϫⲱⲣϩ">
ⲉϫⲱⲣϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥⲁⲓ">
<norm_group norm_group="ϥⲁⲓ">
<orig orig="ϥⲁⲓ">
<norm xml:id="u40" func="root" pos="V" lemma="ϥⲁⲓ" norm="ϥⲁⲓ">
ϥⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲛⲉⲧⲉⲛϫⲓϫ">
<norm_group norm_group="ⲛⲛⲉⲧⲉⲛϫⲓϫ">
<orig orig="ⲛ">
<norm xml:id="u41" func="case" head="#u43" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲛⲉⲧⲉⲛ">
<norm xml:id="u42" func="nmod:poss" head="#u43" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲛⲉⲧⲉⲛ">
ⲛⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u43" func="obj" head="#u40" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲱϣⲓ">
<norm_group norm_group="ⲉⲡⲱϣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u44" func="case" head="#u46" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u45" func="det" head="#u46" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲱϣⲓ">
<norm xml:id="u46" func="obl" head="#u40" pos="N" lemma="ⲱϣⲓ" norm="ⲱϣⲓ">
ⲱϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏ">
<norm_group norm_group="ⲛⲏ">
<orig orig="ⲛⲏ">
<norm xml:id="u47" func="dislocated" head="#u57" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲁⲃ">
<norm_group norm_group="ⲉⲑⲟⲩⲁⲃ">
<orig orig="ⲉⲑ">
<norm xml:id="u48" func="mark" head="#u49" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲃ">
<norm xml:id="u49" func="acl:relcl" head="#u47" pos="VSTAT" lemma="ⲟⲩⲁⲃ" norm="ⲟⲩⲁⲃ">
ⲟⲩⲁⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲥⲙⲟⲩ">
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u50" func="parataxis" head="#u40" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲉⲡϭⲟⲓⲥ">
<orig orig="ⲉ">
<norm xml:id="u51" func="case" head="#u53" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u52" func="det" head="#u53" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u53" func="obl" head="#u50" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u54" func="det" head="#u55" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u55" func="appos" head="#u53" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉⲥ̀ⲙⲟⲩ">
<norm_group norm_group="ⲉϥⲉⲥⲙⲟⲩ">
<orig orig="ⲉϥⲉ">
<norm xml:id="u56" func="nsubj" head="#u57" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲟⲩ">
<norm xml:id="u57" func="parataxis" head="#u40" pos="V" lemma="ⲥⲙⲟⲩ" norm="ⲥⲙⲟⲩ">
ⲥ̀ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲕ">
<norm_group norm_group="ⲉⲣⲟⲕ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u58" func="case" head="#u59" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u59" func="obl" head="#u57" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u60" func="case" head="#u62" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲥⲓⲱⲛ">
<norm_group norm_group="ϧⲉⲛⲥⲓⲱⲛ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u61" func="fixed" head="#u60" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲥⲓⲱⲛ">
<norm xml:id="u62" func="obl" head="#u57" pos="NPROP" lemma="ⲥⲓⲱⲛ" norm="ⲥⲓⲱⲛ">
ⲥⲓⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏ">
<norm_group norm_group="ⲫⲏ">
<orig orig="ⲫⲏ">
<norm xml:id="u63" func="appos" head="#u62" pos="PDEM" lemma="ⲫⲏ" norm="ⲫⲏ">
ⲫⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲑⲁⲙⲓⲟ">
<norm_group norm_group="ⲉⲧⲁϥⲑⲁⲙⲓⲟ">
<orig orig="ⲉⲧ">
<norm xml:id="u64" func="mark" head="#u67" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u65" func="aux" head="#u67" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u66" func="nsubj" head="#u67" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑⲁⲙⲓⲟ">
<norm xml:id="u67" func="acl:relcl" head="#u63" pos="V" lemma="ⲑⲁⲙⲓⲟ" norm="ⲑⲁⲙⲓⲟ">
ⲑⲁⲙⲓⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲧⲫⲉ">
<norm_group norm_group="ⲛⲧⲫⲉ">
<orig orig="ⲛ">
<norm xml:id="u68" func="case" head="#u70" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u69" func="det" head="#u70" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲫⲉ">
<norm xml:id="u70" func="obj" head="#u67" pos="N" lemma="ⲫⲉ" norm="ⲫⲉ">
ⲫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲕⲁϩⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u71" func="case" head="#u73" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u72" func="det" head="#u73" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u73" func="obl" head="#u67" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
