<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="56" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.isa.bohairic_ed:56" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="23_Isaias_56" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="Thus saith the Lord, Keep ye judgment, and do justice: for my salvation is near to come, and my mercy to be revealed.">
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u1" func="root" new_sent="true" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u2" func="cop" head="#u1" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧⲉϥϫⲱ">
<norm_group norm_group="ⲛⲏⲉⲧⲉϥϫⲱ">
<orig orig="ⲛⲏⲉⲧⲉ">
<norm xml:id="u3" func="aux" head="#u5" pos="VBD" lemma="ⲛⲏⲉⲧⲉ" norm="ⲛⲏⲉⲧⲉ">
ⲛⲏⲉⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u4" func="nsubj" head="#u5" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u5" func="parataxis" head="#u1" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u6" func="case" head="#u7" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u7" func="obj" head="#u5" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲟⲉⲓⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u8" func="case" head="#u10" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u9" func="det" head="#u10" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u10" func="dislocated" head="#u5" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲁⲣⲉϩ">
<orig orig="ⲁ̀ⲣⲉϩ">
<norm xml:id="u11" func="parataxis" head="#u5" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϩⲁⲡ">
<norm_group norm_group="ⲉⲡϩⲁⲡ">
<orig orig="ⲉ̀">
<norm xml:id="u12" func="case" head="#u14" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u13" func="det" head="#u14" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϩⲁⲡ">
<norm xml:id="u14" func="obl" head="#u11" pos="N" lemma="ϩⲁⲡ" norm="ϩⲁⲡ">
ϩⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲣⲓⲟⲩⲓ̀">
<norm_group norm_group="ⲁⲣⲓⲟⲩⲓ">
<orig orig="ⲁⲣⲓⲟⲩⲓ̀">
<norm xml:id="u15" func="parataxis" head="#u11" pos="VIMP" lemma="ⲁⲣⲓⲟⲩⲓ" norm="ⲁⲣⲓⲟⲩⲓ">
ⲁⲣⲓⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲙⲉⲑⲙⲏⲓ">
<norm_group norm_group="ⲛⲟⲩⲙⲉⲑⲙⲏⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u16" func="case" head="#u18" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u17" func="det" head="#u18" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲑⲙⲏⲓ">
<norm xml:id="u18" func="nmod" head="#u15" pos="N" lemma="ⲙⲉⲑⲙⲏⲓ" norm="ⲙⲉⲑⲙⲏⲓ">
<morph morph="ⲙⲉⲑ">
ⲙⲉⲑ
</morph>
<morph morph="ⲙⲏⲓ">
ⲙⲏⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϥ̀ϧⲉⲛⲧ">
<norm_group norm_group="ϫⲉϥϧⲉⲛⲧ">
<orig orig="ϫⲉ">
<norm xml:id="u19" func="mark" head="#u21" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϥ̀">
<norm xml:id="u20" func="nsubj" head="#u21" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ϧⲉⲛⲧ">
<norm xml:id="u21" func="advcl" head="#u11" pos="VSTAT" lemma="ϧⲱⲛⲧ" norm="ϧⲉⲛⲧ">
ϧⲉⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲁⲥⲱⲧⲏⲣ">
<norm_group norm_group="ⲛϫⲉⲡⲁⲥⲱⲧⲏⲣ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u22" func="case" head="#u24" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u23" func="nmod:poss" head="#u24" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲏⲣ">
<norm xml:id="u24" func="dislocated" head="#u21" pos="N" lemma="ⲥⲱⲧⲏⲣ" norm="ⲥⲱⲧⲏⲣ">
<lang lang="Greek">
ⲥⲱⲧⲏⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲉϥⲓ̀">
<norm_group norm_group="ⲉⲑⲣⲉϥⲓ">
<orig orig="ⲉ">
<norm xml:id="u25" func="mark" head="#u26" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣⲉ">
<norm xml:id="u26" func="xcomp" head="#u21" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣⲉ">
ⲑⲣⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u27" func="obj" head="#u26" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲓ̀">
<norm xml:id="u28" func="xcomp" head="#u26" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲁⲛⲁⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲁⲛⲁⲓ">
<orig orig="ⲛⲉ">
<norm xml:id="u29" func="aux" head="#u28" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ⲙ">
<norm xml:id="u30" func="case" head="#u31" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u31" func="obj" head="#u28" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u32" func="det" head="#u33" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲁⲓ">
<norm xml:id="u33" func="nmod" head="#u31" pos="V" lemma="ⲓⲣⲓ" norm="ⲁⲓ">
ⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϭⲱⲣⲡ">
<norm_group norm_group="ⲉϭⲱⲣⲡ">
<orig orig="ⲉ̀">
<norm xml:id="u34" func="mark" head="#u35" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϭⲱⲣⲡ">
<norm xml:id="u35" func="xcomp" head="#u33" pos="V" lemma="ϭⲱⲣⲡ" norm="ϭⲱⲣⲡ">
ϭⲱⲣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u36" func="advmod" head="#u35" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u37" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="Blessed is the man that does these things, and the man that holds by them, and keeps the sabbaths from profaning them, and keeps his hands from doing unrighteousness.">
<orig_group orig_group="ⲱⲟⲩⲛⲓⲁⲧϥ">
<norm_group norm_group="ⲟⲱⲩⲛⲓⲁⲧϥ">
<orig orig="ⲱⲟⲩⲛⲓⲁⲧ">
<norm xml:id="u38" func="root" new_sent="true" pos="V" lemma="ⲟⲱⲩⲛⲓⲁⲧ" norm="ⲟⲱⲩⲛⲓⲁⲧ">
<morph morph="ⲟⲱⲩ">
ⲱⲟⲩ
</morph>
<morph morph="ⲛⲓⲁⲧ">
ⲛⲓⲁⲧ
</morph>
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u39" func="nsubj" head="#u38" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲙⲡⲓⲣⲱⲙⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u40" func="case" head="#u42" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u41" func="det" head="#u42" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u42" func="obl" head="#u38" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲓ̀ⲣⲓ">
<norm_group norm_group="ⲉⲧⲓⲣⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u43" func="mark" head="#u44" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲓ̀ⲣⲓ">
<norm xml:id="u44" func="acl:relcl" head="#u42" pos="V" lemma="ⲓⲣⲓ" norm="ⲓⲣⲓ">
ⲓ̀ⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲁⲓ">
<norm_group norm_group="ⲛⲛⲁⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u45" func="case" head="#u46" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u46" func="obj" head="#u44" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲓⲣⲱⲙⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u47" func="cc" head="#u49" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u48" func="det" head="#u49" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u49" func="obl" head="#u44" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲉⲧⲁⲙⲟⲛⲓ">
<orig orig="ⲉ">
<norm xml:id="u50" func="mark" head="#u52" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲧⲁ̀">
<norm xml:id="u51" func="nsubj" head="#u52" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲧⲁ">
ⲧⲁ̀
</norm>
</orig>
<orig orig="ⲙⲟⲛⲓ">
<norm xml:id="u52" func="advcl" head="#u38" pos="V" lemma="ⲙⲟⲛⲓ" norm="ⲙⲟⲛⲓ">
ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u53" func="case" head="#u54" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u54" func="obj" head="#u52" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u55" func="cc" head="#u57" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲉⲧⲁⲣⲉϩ">
<orig orig="ⲉⲧ">
<norm xml:id="u56" func="mark" head="#u57" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ̀ⲣⲉϩ">
<norm xml:id="u57" func="conj" head="#u52" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲓⲥⲁⲃⲃⲁⲧⲟⲛ">
<norm_group norm_group="ⲉⲛⲓⲥⲁⲃⲃⲁⲧⲟⲛ">
<orig orig="ⲉ̀">
<norm xml:id="u58" func="case" head="#u60" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u59" func="det" head="#u60" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲁⲃⲃⲁⲧⲟⲛ">
<norm xml:id="u60" func="obl" head="#u57" pos="N" lemma="ⲥⲁⲃⲃⲁⲧⲟⲛ" norm="ⲥⲁⲃⲃⲁⲧⲟⲛ">
<lang lang="Hebrew">
ⲥⲁⲃⲃⲁⲧⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϣ̀ⲧⲉⲙⲥⲟϥⲟⲩ">
<norm_group norm_group="ⲉϣⲧⲉⲙⲥⲟϥⲟⲩ">
<orig orig="ⲉ̀">
<norm xml:id="u61" func="mark" head="#u63" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u62" func="advmod" head="#u63" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ⲥⲟϥ">
<norm xml:id="u63" func="xcomp" head="#u57" pos="V" lemma="ⲥⲱϥ" norm="ⲥⲟϥ">
ⲥⲟϥ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u64" func="obj" head="#u63" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u65" func="cc" head="#u67" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲉⲧⲁⲣⲉϩ">
<orig orig="ⲉⲧ">
<norm xml:id="u66" func="mark" head="#u67" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ̀ⲣⲉϩ">
<norm xml:id="u67" func="conj" head="#u63" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲉϥϫⲓϫ">
<norm_group norm_group="ⲉⲛⲉϥϫⲓϫ">
<orig orig="ⲉ̀">
<norm xml:id="u68" func="case" head="#u70" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u69" func="nmod:poss" head="#u70" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u70" func="obl" head="#u67" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϣ̀ⲧⲉⲙⲓ̀ⲣⲓ">
<norm_group norm_group="ⲉϣⲧⲉⲙⲓⲣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u71" func="mark" head="#u73" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u72" func="advmod" head="#u73" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ⲓ̀ⲣⲓ">
<norm xml:id="u73" func="xcomp" head="#u67" pos="V" lemma="ⲓⲣⲓ" norm="ⲓⲣⲓ">
ⲓ̀ⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛϭⲓⲛ̀ϫⲟⲛⲥ">
<norm_group norm_group="ⲛϩⲁⲛϭⲓⲛϫⲟⲛⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u74" func="case" head="#u76" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u75" func="det" head="#u76" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϭⲓⲛ̀ϫⲟⲛⲥ">
<norm xml:id="u76" func="obj" head="#u73" pos="N" lemma="ϭⲓⲛϫⲟⲛⲥ" norm="ϭⲓⲛϫⲟⲛⲥ">
ϭⲓⲛ̀ϫⲟⲛⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u77" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Let not the stranger who attaches himself to the Lord, say, Surely the Lord will separate me from his people: and let not the eunuch say, I am a dry tree.">
<orig_group orig_group="ⲙ̀ⲡⲉϥⲑ̀ⲣⲉϥϫⲟⲥ">
<norm_group norm_group="ⲙⲡⲉϥⲑⲣⲉϥϫⲟⲥ">
<orig orig="ⲙ̀ⲡⲉϥ">
<norm xml:id="u78" func="root" new_sent="true" pos="V" lemma="ⲙⲡⲉϥ" norm="ⲙⲡⲉϥ">
ⲙ̀ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲑ̀ⲣⲉϥϫⲟ">
<norm xml:id="u79" func="obj" head="#u78" pos="PREP" lemma="ⲑⲣⲉϥϫⲟ" norm="ⲑⲣⲉϥϫⲟ">
ⲑ̀ⲣⲉϥϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u80" func="expl" head="#u79" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u81" func="case" head="#u83" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u82" func="det" head="#u83" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<norm xml:id="u83" func="dislocated" head="#u79" pos="N" lemma="ⲁⲗⲗⲟⲅⲉⲛⲏⲥ" norm="ⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<lang lang="Greek">
ⲁⲗⲗⲟⲅⲉⲛⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲉϩ">
<norm_group norm_group="ⲉⲑⲟⲩⲉϩ">
<orig orig="ⲉⲑ">
<norm xml:id="u84" func="mark" head="#u85" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲉϩ">
<norm xml:id="u85" func="acl:relcl" head="#u83" pos="V" lemma="ⲟⲩⲱϩ" norm="ⲟⲩⲉϩ">
ⲟⲩⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲁⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛⲥⲁⲡϭⲟⲉⲓⲥ">
<orig orig="ⲛ̀ⲥⲁ">
<norm xml:id="u86" func="case" head="#u88" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛ̀ⲥⲁ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u87" func="det" head="#u88" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u88" func="obl" head="#u85" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϩⲁⲣⲁ">
<norm_group norm_group="ϫⲉϩⲁⲣⲁ">
<orig orig="ϫⲉ">
<norm xml:id="u89" func="mark" head="#u94" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲣⲁ">
<norm xml:id="u90" func="advmod" head="#u94" pos="PTC" lemma="ϩⲁⲣⲁ" norm="ϩⲁⲣⲁ">
<lang lang="Greek">
ϩⲁⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲟⲉⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u91" func="det" head="#u92" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u92" func="nsubj" head="#u94" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲫⲟⲣϫⲧ">
<norm_group norm_group="ⲛⲁⲫⲟⲣϫⲧ">
<orig orig="ⲛⲁ">
<norm xml:id="u93" func="aux" head="#u94" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲫⲟⲣϫⲧ">
<norm xml:id="u94" func="ccomp" head="#u79" pos="V" lemma="ⲫⲟⲣϫⲧ" norm="ⲫⲟⲣϫⲧ">
ⲫⲟⲣϫⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϩⲁ">
<norm_group norm_group="ⲉⲃⲟⲗϩⲁ">
<multiword multiword="ⲉⲃⲟⲗ ϩⲁ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u95" func="case" head="#u98" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϩⲁ">
<norm xml:id="u96" func="fixed" head="#u95" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
</multiword>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϥⲗⲁⲟⲥ">
<norm_group norm_group="ⲡⲉϥⲗⲁⲟⲥ">
<orig orig="ⲡⲉϥ">
<norm xml:id="u97" func="nmod:poss" head="#u98" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u98" func="obl" head="#u94" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u99" func="cc" head="#u101" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲛⲑ̀ⲣⲉϥϫⲟⲥ">
<norm_group norm_group="ⲙⲡⲉⲛⲑⲣⲉϥϫⲟⲥ">
<orig orig="ⲙ̀ⲡⲉⲛⲑ̀ⲣⲉ">
<norm xml:id="u100" func="aux" head="#u101" pos="ANEGJUS" lemma="ⲙⲡⲉⲛⲑⲣⲉ" norm="ⲙⲡⲉⲛⲑⲣⲉ">
ⲙ̀ⲡⲉⲛⲑ̀ⲣⲉ
</norm>
</orig>
<orig orig="ϥϫⲟ">
<norm xml:id="u101" func="conj" head="#u94" pos="V" lemma="ϥϫⲟ" norm="ϥϫⲟ">
ϥϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u102" func="expl" head="#u101" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲥⲓⲟⲩⲣ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲥⲓⲟⲩⲣ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u103" func="case" head="#u105" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u104" func="det" head="#u105" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲥⲓⲟⲩⲣ">
<norm xml:id="u105" func="dislocated" head="#u101" pos="N" lemma="ⲥⲓⲟⲩⲣ" norm="ⲥⲓⲟⲩⲣ">
ⲥⲓⲟⲩⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ϫⲉⲁⲛⲟⲕ">
<orig orig="ϫⲉ">
<norm xml:id="u106" func="mark" head="#u109" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u107" func="nsubj" head="#u109" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩϣ̀ϣⲏⲛ">
<norm_group norm_group="ⲟⲩϣϣⲏⲛ">
<orig orig="ⲟⲩ">
<norm xml:id="u108" func="det" head="#u109" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣ̀ϣⲏⲛ">
<norm xml:id="u109" func="ccomp" head="#u101" pos="N" lemma="ϣϣⲏⲛ" norm="ϣϣⲏⲛ">
ϣ̀ϣⲏⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϣⲟⲩⲱⲟⲩ">
<norm_group norm_group="ⲉϥϣⲟⲩⲱⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u110" func="mark" head="#u112" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u111" func="nsubj" head="#u112" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲟⲩⲱⲟⲩ">
<norm xml:id="u112" func="acl:relcl" head="#u109" pos="VSTAT" lemma="ϣⲱⲟⲩⲓ" norm="ϣⲟⲩⲱⲟⲩ">
ϣⲟⲩⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u113" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="Thus saith the Lord to the eunuchs, as many as shall keep my sabbaths, and choose the things which I take pleasure in, and take hold of my covenant;">
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u114" func="root" new_sent="true" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u115" func="aux" head="#u118" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧⲉϥϫⲱ">
<norm_group norm_group="ⲛⲏⲉⲧⲉϥϫⲱ">
<orig orig="ⲛⲏⲉⲧⲉ">
<norm xml:id="u116" func="aux" head="#u118" pos="VBD" lemma="ⲛⲏⲉⲧⲉ" norm="ⲛⲏⲉⲧⲉ">
ⲛⲏⲉⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u117" func="nsubj" head="#u118" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u118" func="parataxis" head="#u114" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u119" func="case" head="#u120" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u120" func="obj" head="#u118" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲟⲉⲓⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u121" func="case" head="#u123" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u122" func="det" head="#u123" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u123" func="dislocated" head="#u118" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲥⲓⲟⲩⲣ">
<norm_group norm_group="ⲛⲛⲓⲥⲓⲟⲩⲣ">
<orig orig="ⲛ̀">
<norm xml:id="u124" func="case" head="#u126" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u125" func="det" head="#u126" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲓⲟⲩⲣ">
<norm xml:id="u126" func="nmod" head="#u123" pos="N" lemma="ⲥⲓⲟⲩⲣ" norm="ⲥⲓⲟⲩⲣ">
ⲥⲓⲟⲩⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲑⲛⲁⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲛⲏⲉⲑⲛⲁⲁⲣⲉϩ">
<orig orig="ⲛⲏⲉⲑⲛⲁ">
<norm xml:id="u127" func="nsubj" head="#u128" pos="NPROP" lemma="ⲛⲏⲉⲑⲛⲁ" norm="ⲛⲏⲉⲑⲛⲁ">
ⲛⲏⲉⲑⲛⲁ
</norm>
</orig>
<orig orig="ⲁ̀ⲣⲉϩ">
<norm xml:id="u128" func="ccomp" head="#u118" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲓⲟⲩⲁϩⲥⲁϩⲛⲓ">
<norm_group norm_group="ⲉⲛⲓⲟⲩⲁϩⲥⲁϩⲛⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u129" func="case" head="#u131" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u130" func="det" head="#u131" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲁϩ">
<norm xml:id="u131" func="obl" head="#u128" pos="N" lemma="ⲟⲩⲁϩ" norm="ⲟⲩⲁϩ">
ⲟⲩⲁϩ
</norm>
</orig>
<orig orig="ⲥⲁϩⲛⲓ">
<norm xml:id="u132" func="appos" head="#u131" pos="V" lemma="ⲥⲁϩⲛⲓ" norm="ⲥⲁϩⲛⲓ">
ⲥⲁϩⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u133" func="cc" head="#u140" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲛⲁⲥⲱⲧⲡ">
<norm_group norm_group="ⲉⲑⲛⲁⲥⲱⲧⲡ">
<orig orig="ⲉⲑ">
<norm xml:id="u134" func="nsubj" head="#u136" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u135" func="aux" head="#u136" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲡ">
<norm xml:id="u136" func="conj" head="#u140" pos="V" lemma="ⲥⲱⲧⲡ" norm="ⲥⲱⲧⲡ">
ⲥⲱⲧⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲏⲉ̀ϯⲟⲩⲁϣⲟⲩ">
<norm_group norm_group="ⲛⲛⲏⲉϯⲟⲩⲁϣⲟⲩ">
<orig orig="ⲛ̀ⲛⲏ">
<norm xml:id="u137" func="advmod" head="#u136" pos="N" lemma="ⲛⲛⲏ" norm="ⲛⲛⲏ">
ⲛ̀ⲛⲏ
</norm>
</orig>
<orig orig="ⲉ̀">
<norm xml:id="u138" func="mark" head="#u140" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u139" func="nsubj" head="#u140" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲟⲩⲁϣ">
<norm xml:id="u140" func="conj" head="#u128" pos="V" lemma="ⲟⲩⲱϣ" norm="ⲟⲩⲁϣ">
ⲟⲩⲁϣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u141" func="obj" head="#u140" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u142" func="dislocated" head="#u140" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u143" func="cc" head="#u146" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲛⲁⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲉⲑⲛⲁⲁⲙⲟⲛⲓ">
<orig orig="ⲉⲑ">
<norm xml:id="u144" func="nsubj" head="#u146" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u145" func="aux" head="#u146" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲁ̀ⲙⲟⲛⲓ">
<norm xml:id="u146" func="conj" head="#u142" pos="V" lemma="ⲁⲙⲟⲛⲓ" norm="ⲁⲙⲟⲛⲓ">
ⲁ̀ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲁⲇⲓⲁ̀ⲑⲏⲕⲏ">
<norm_group norm_group="ⲛⲧⲁⲇⲓⲁⲑⲏⲕⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u147" func="case" head="#u149" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u148" func="nmod:poss" head="#u149" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲇⲓⲁ̀ⲑⲏⲕⲏ">
<norm xml:id="u149" func="obj" head="#u146" pos="N" lemma="ⲇⲓⲁⲑⲏⲕⲏ" norm="ⲇⲓⲁⲑⲏⲕⲏ">
<lang lang="Greek">
ⲇⲓⲁ̀ⲑⲏⲕⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u150" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="I will give to them in my house and within my walls an honourable place, better than sons and daughters: I will give them an everlasting name, and it shall not fail.">
<orig_group orig_group="ⲉⲓⲉ̀ⲟⲗⲟⲩ">
<norm_group norm_group="ⲉⲓⲉⲟⲗⲟⲩ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u151" func="advmod" head="#u152" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲟⲗ">
<norm xml:id="u152" func="root" pos="V" lemma="ⲱⲗⲓ" norm="ⲟⲗ">
ⲟⲗ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u153" func="obj" head="#u152" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉ̀ϧⲟⲩⲛ">
<norm xml:id="u154" func="advmod" head="#u152" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉ̀ϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲁⲧⲱⲟⲩ">
<norm_group norm_group="ⲉⲡⲁⲧⲱⲟⲩ">
<orig orig="ⲉ̀">
<norm xml:id="u155" func="case" head="#u157" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u156" func="det" head="#u157" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲁⲧⲱⲟⲩ">
<norm xml:id="u157" func="obl" head="#u152" pos="N" lemma="ⲁⲧⲱⲟⲩ" norm="ⲁⲧⲱⲟⲩ">
ⲁⲧⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̅ⲑ̅ⲩ̅">
<norm_group norm_group="ⲉⲑⲩ">
<orig orig="ⲉ̅ⲑ̅">
<norm xml:id="u158" func="mark" head="#u159" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉ̅ⲑ̅
</norm>
</orig>
<orig orig="ⲩ̅">
<norm xml:id="u159" func="acl:relcl" head="#u157" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u160" func="cc" head="#u162" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ϯ">
<norm_group norm_group="ⲉⲓⲉϯ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u161" func="nsubj" head="#u162" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u162" func="conj" head="#u152" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲱⲟⲩ">
<norm_group norm_group="ⲛⲱⲟⲩ">
<orig orig="ⲛⲱ">
<norm xml:id="u163" func="case" head="#u164" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲱ">
ⲛⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u164" func="obl" head="#u162" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲁⲏⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲁⲏⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u165" func="case" head="#u167" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u166" func="nmod:poss" head="#u167" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u167" func="obl" head="#u162" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϧⲉⲛⲡⲁⲥⲟⲃⲧ">
<norm_group norm_group="ⲛⲉⲙϧⲉⲛⲡⲁⲥⲟⲃⲧ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u168" func="cc" head="#u171" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u169" func="case" head="#u171" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲁ">
<norm xml:id="u170" func="nmod:poss" head="#u171" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲥⲟⲃⲧ">
<norm xml:id="u171" func="conj" head="#u167" pos="N" lemma="ⲥⲟⲃⲧ" norm="ⲥⲟⲃⲧ">
ⲥⲟⲃⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲛⲟⲛⲟⲙⲁⲥⲧⲟⲥ">
<norm_group norm_group="ⲛⲟⲩⲛⲟⲛⲟⲙⲁⲥⲧⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u172" func="case" head="#u174" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u173" func="det" head="#u174" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲟⲛⲟⲙⲁⲥⲧⲟⲥ">
<norm xml:id="u174" func="nmod" head="#u171" pos="N" lemma="ⲛⲟⲛⲟⲙⲁⲥⲧⲟⲥ" norm="ⲛⲟⲛⲟⲙⲁⲥⲧⲟⲥ">
ⲛⲟⲛⲟⲙⲁⲥⲧⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲥⲟⲧⲡ">
<norm_group norm_group="ⲉϥⲥⲟⲧⲡ">
<orig orig="ⲉ">
<norm xml:id="u175" func="mark" head="#u177" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u176" func="nsubj" head="#u177" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<multiword multiword="ⲥⲟⲧⲡ ⲉ">
<orig orig="ⲥⲟⲧⲡ">
<norm xml:id="u177" func="acl:relcl" head="#u174" pos="V" lemma="ⲥⲱⲧⲡ" norm="ⲥⲟⲧⲡ">
ⲥⲟⲧⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩⲁⲛϣⲏⲣⲓ">
<norm_group norm_group="ⲉϩⲁⲛϣⲏⲣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u178" func="case" head="#u180" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
</multiword>
<orig orig="ϩⲁⲛ">
<norm xml:id="u179" func="det" head="#u180" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u180" func="obl" head="#u177" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛϣⲉⲣⲓ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛϣⲉⲣⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u181" func="cc" head="#u183" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u182" func="det" head="#u183" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣⲉⲣⲓ">
<norm xml:id="u183" func="conj" head="#u180" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲉⲣⲓ">
ϣⲉⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲣⲁⲛ">
<norm_group norm_group="ⲟⲩⲣⲁⲛ">
<orig orig="ⲟⲩ">
<norm xml:id="u184" func="det" head="#u185" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲣⲁⲛ">
<norm xml:id="u185" func="dislocated" head="#u190" pos="N" lemma="ⲣⲁⲛ" norm="ⲣⲁⲛ">
ⲣⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲉ̀ⲛⲉϩ">
<norm_group norm_group="ⲛⲉⲛⲉϩ">
<orig orig="ⲛ̀">
<norm xml:id="u186" func="case" head="#u187" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲉ̀ⲛⲉϩ">
<norm xml:id="u187" func="nmod" head="#u185" pos="N" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉ̀ⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲧⲏⲓϥ">
<norm_group norm_group="ϯⲛⲁⲧⲏⲓϥ">
<orig orig="ϯ">
<norm xml:id="u188" func="nsubj" head="#u190" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u189" func="aux" head="#u190" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲏⲓ">
<norm xml:id="u190" func="parataxis" head="#u152" pos="V" lemma="ϯ" norm="ⲧⲏⲓ">
ⲧⲏⲓ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u191" func="obj" head="#u190" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲱⲟⲩ">
<norm_group norm_group="ⲛⲱⲟⲩ">
<orig orig="ⲛⲱ">
<norm xml:id="u192" func="case" head="#u193" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲱ">
ⲛⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u193" func="obl" head="#u190" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u194" func="cc" head="#u197" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲙⲟⲩⲛⲕ">
<norm_group norm_group="ⲛⲛⲉϥⲙⲟⲩⲛⲕ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u195" func="aux" head="#u197" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u196" func="nsubj" head="#u197" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲛⲕ">
<norm xml:id="u197" func="conj" head="#u190" pos="V" lemma="ⲙⲟⲩⲛⲕ" norm="ⲙⲟⲩⲛⲕ">
ⲙⲟⲩⲛⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u198" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="And I will give it to the strangers that attach themselves to the Lord, to serve him, and to love the name of the Lord, to be to him servants and handmaids; and as for all that keep my sabbaths from profaning them, and that take hold of my covenant;">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u199" func="cc" head="#u201" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<norm_group norm_group="ⲛⲓⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u200" func="det" head="#u201" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<norm xml:id="u201" func="root" pos="N" lemma="ⲁⲗⲗⲟⲅⲉⲛⲏⲥ" norm="ⲁⲗⲗⲟⲅⲉⲛⲏⲥ">
<lang lang="Greek">
ⲁⲗⲗⲟⲅⲉⲛⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲟⲩⲉϩ">
<norm_group norm_group="ⲉⲑⲟⲩⲉϩ">
<orig orig="ⲉⲑ">
<norm xml:id="u202" func="mark" head="#u203" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲟⲩⲉϩ">
<norm xml:id="u203" func="acl:relcl" head="#u201" pos="VSTAT" lemma="ⲟⲩⲱϩ" norm="ⲟⲩⲉϩ">
ⲟⲩⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲉⲡϭⲥ">
<orig orig="ⲉ̀">
<norm xml:id="u204" func="case" head="#u205" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u205" func="obl" head="#u203" pos="V" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲉⲣⲃⲱⲕ">
<norm_group norm_group="ⲉⲉⲣⲃⲱⲕ">
<orig orig="ⲉ̀">
<norm xml:id="u206" func="mark" head="#u207" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲉⲣⲃⲱⲕ">
<norm xml:id="u207" func="xcomp" head="#u203" pos="V" lemma="ⲉⲣⲃⲱⲕ" norm="ⲉⲣⲃⲱⲕ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲃⲱⲕ">
ⲃⲱⲕ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥ">
<norm_group norm_group="ⲛⲁϥ">
<orig orig="ⲛⲁ">
<norm xml:id="u208" func="case" head="#u209" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u209" func="obl" head="#u207" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u210" func="cc" head="#u212" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲉⲣⲁ̀ⲅⲁⲡⲁⲛ">
<norm_group norm_group="ⲉⲉⲣⲁⲅⲁⲡⲁⲛ">
<orig orig="ⲉ̀">
<norm xml:id="u211" func="mark" head="#u212" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲉⲣⲁ̀ⲅⲁⲡⲁⲛ">
<norm xml:id="u212" func="conj" head="#u207" pos="V" lemma="ⲉⲣⲁⲅⲁⲡⲁⲛ" norm="ⲉⲣⲁⲅⲁⲡⲁⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲁⲅⲁⲡⲁⲛ">
ⲁ̀ⲅⲁⲡⲁⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲁⲛ">
<norm_group norm_group="ⲙⲫⲣⲁⲛ">
<orig orig="ⲙ̀">
<norm xml:id="u213" func="case" head="#u215" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u214" func="det" head="#u215" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲁⲛ">
<norm xml:id="u215" func="obj" head="#u212" pos="N" lemma="ⲣⲁⲛ" norm="ⲣⲁⲛ">
ⲣⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲙⲡϭⲟⲉⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u216" func="case" head="#u218" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u217" func="det" head="#u218" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u218" func="nmod" head="#u215" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲟⲩϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲑⲣⲟⲩϣⲱⲡⲓ">
<orig orig="ⲉ">
<norm xml:id="u219" func="mark" head="#u220" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣ">
<norm xml:id="u220" func="xcomp" head="#u212" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣ">
ⲑⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u221" func="obj" head="#u220" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u222" func="xcomp" head="#u220" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁϥ">
<norm_group norm_group="ⲛⲁϥ">
<orig orig="ⲛⲁ">
<norm xml:id="u223" func="case" head="#u224" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u224" func="obl" head="#u222" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲃⲱⲕ">
<norm_group norm_group="ⲛϩⲁⲛⲃⲱⲕ">
<orig orig="ⲛ̀">
<norm xml:id="u225" func="case" head="#u227" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u226" func="det" head="#u227" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲃⲱⲕ">
<norm xml:id="u227" func="obj" head="#u222" pos="N" lemma="ⲃⲱⲕ" norm="ⲃⲱⲕ">
ⲃⲱⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛⲃⲱⲕⲓ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛⲃⲱⲕⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u228" func="cc" head="#u230" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u229" func="det" head="#u230" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲃⲱⲕⲓ">
<norm xml:id="u230" func="conj" head="#u227" pos="N" lemma="ⲃⲱⲕⲓ" norm="ⲃⲱⲕⲓ">
ⲃⲱⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲟⲛ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲟⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u231" func="cc" head="#u232" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u232" func="conj" head="#u227" pos="N" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u233" func="det" head="#u232" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲉⲧⲁⲣⲉϩ">
<orig orig="ⲉⲧ">
<norm xml:id="u234" func="mark" head="#u235" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ̀ⲣⲉϩ">
<norm xml:id="u235" func="acl:relcl" head="#u232" pos="V" lemma="ⲁⲣⲉϩ" norm="ⲁⲣⲉϩ">
ⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲛⲓⲥⲁⲃⲃⲁⲧⲟⲛ">
<norm_group norm_group="ⲉⲛⲓⲥⲁⲃⲃⲁⲧⲟⲛ">
<orig orig="ⲉ̀">
<norm xml:id="u236" func="case" head="#u238" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u237" func="det" head="#u238" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲁⲃⲃⲁⲧⲟⲛ">
<norm xml:id="u238" func="obl" head="#u235" pos="N" lemma="ⲥⲁⲃⲃⲁⲧⲟⲛ" norm="ⲥⲁⲃⲃⲁⲧⲟⲛ">
<lang lang="Hebrew">
ⲥⲁⲃⲃⲁⲧⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϣ̀ⲧⲉⲙⲥⲟϥⲟⲩ">
<norm_group norm_group="ⲉϣⲧⲉⲙⲥⲟϥⲟⲩ">
<orig orig="ⲉ̀">
<norm xml:id="u239" func="mark" head="#u241" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u240" func="advmod" head="#u241" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ⲥⲟϥ">
<norm xml:id="u241" func="xcomp" head="#u235" pos="V" lemma="ⲥⲱϥ" norm="ⲥⲟϥ">
ⲥⲟϥ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u242" func="obj" head="#u241" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u243" func="cc" head="#u246" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲉⲧⲁⲙⲟⲛⲓ">
<orig orig="ⲉ">
<norm xml:id="u244" func="mark" head="#u246" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲧⲁ̀">
<norm xml:id="u245" func="nsubj" head="#u246" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲧⲁ">
ⲧⲁ̀
</norm>
</orig>
<orig orig="ⲙⲟⲛⲓ">
<norm xml:id="u246" func="conj" head="#u241" pos="V" lemma="ⲙⲟⲛⲓ" norm="ⲙⲟⲛⲓ">
ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲁⲇⲓⲁ̀ⲑⲏⲕⲏ">
<norm_group norm_group="ⲛⲧⲁⲇⲓⲁⲑⲏⲕⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u247" func="case" head="#u249" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u248" func="nmod:poss" head="#u249" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲇⲓⲁ̀ⲑⲏⲕⲏ">
<norm xml:id="u249" func="obj" head="#u246" pos="N" lemma="ⲇⲓⲁⲑⲏⲕⲏ" norm="ⲇⲓⲁⲑⲏⲕⲏ">
<lang lang="Greek">
ⲇⲓⲁ̀ⲑⲏⲕⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u250" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="I will bring them to my holy mountain, and gladden them in my house of prayer: their whole-burnt-offerings and their sacrifices shall be acceptable upon mine altar; for my house shall be called a house of prayer for all nations,">
<orig_group orig_group="ⲉⲓⲉ̀ⲟⲗⲟⲩ">
<norm_group norm_group="ⲉⲓⲉⲟⲗⲟⲩ">
<orig orig="ⲉⲓⲉ̀">
<norm xml:id="u251" func="advmod" head="#u252" new_sent="true" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲁⲛⲟⲕ" norm="ⲉⲓⲉ">
ⲉⲓⲉ̀
</norm>
</orig>
<orig orig="ⲟⲗ">
<norm xml:id="u252" func="root" pos="V" lemma="ⲱⲗⲓ" norm="ⲟⲗ">
ⲟⲗ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u253" func="obj" head="#u252" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉ̀ϧⲟⲩⲛ">
<norm xml:id="u254" func="advmod" head="#u252" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉ̀ϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲁⲧⲱⲟⲩ">
<norm_group norm_group="ⲉⲡⲁⲧⲱⲟⲩ">
<orig orig="ⲉ̀">
<norm xml:id="u255" func="case" head="#u257" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u256" func="det" head="#u257" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲁⲧⲱⲟⲩ">
<norm xml:id="u257" func="obl" head="#u252" pos="N" lemma="ⲁⲧⲱⲟⲩ" norm="ⲁⲧⲱⲟⲩ">
ⲁⲧⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̅ⲑ̅ⲩ̅">
<norm_group norm_group="ⲉⲑⲩ">
<orig orig="ⲉ̅ⲑ̅">
<norm xml:id="u258" func="mark" head="#u259" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉ̅ⲑ̅
</norm>
</orig>
<orig orig="ⲩ̅">
<norm xml:id="u259" func="acl:relcl" head="#u257" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u260" func="cc" head="#u261" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓⲉ̀ⲑ̀ⲣⲟⲩⲟⲩⲛⲟϥ">
<norm_group norm_group="ⲉⲓⲉⲑⲣⲟⲩⲟⲩⲛⲟϥ">
<orig orig="ⲉⲓ">
<norm xml:id="u261" func="conj" head="#u252" pos="V" lemma="ⲓ" norm="ⲉⲓ">
ⲉⲓ
</norm>
</orig>
<orig orig="ⲉ̀ⲑ̀ⲣⲟⲩ">
<norm xml:id="u262" func="nsubj" head="#u261" pos="N" lemma="ⲉⲑⲣⲟⲩ" norm="ⲉⲑⲣⲟⲩ">
ⲉ̀ⲑ̀ⲣⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲛⲟϥ">
<norm xml:id="u263" func="conj" head="#u252" pos="V" lemma="ⲟⲩⲛⲟϥ" norm="ⲟⲩⲛⲟϥ">
ⲟⲩⲛⲟϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡ̀ⲏⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲏⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u264" func="case" head="#u266" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u265" func="det" head="#u266" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u266" func="obl" head="#u263" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲁⲡ̀ⲣⲟⲥⲉⲩⲭⲏ">
<norm_group norm_group="ⲛⲧⲉⲧⲁⲡⲣⲟⲥⲉⲩⲭⲏ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u267" func="case" head="#u269" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u268" func="nmod:poss" head="#u269" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲡ̀ⲣⲟⲥⲉⲩⲭⲏ">
<norm xml:id="u269" func="nmod" head="#u266" pos="N" lemma="ⲡⲣⲟⲥⲉⲩⲭⲏ" norm="ⲡⲣⲟⲥⲉⲩⲭⲏ">
<lang lang="Greek">
ⲡ̀ⲣⲟⲥⲉⲩⲭⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϭⲗⲓⲗ">
<norm_group norm_group="ⲛⲟⲩϭⲗⲓⲗ">
<orig orig="ⲛ">
<norm xml:id="u270" func="case" head="#u272" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u271" func="det" head="#u272" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϭⲗⲓⲗ">
<norm xml:id="u272" func="obl" head="#u263" pos="N" lemma="ϭⲗⲓⲗ" norm="ϭⲗⲓⲗ">
ϭⲗⲓⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲟⲩϣⲟⲩϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲛⲉⲙⲛⲟⲩϣⲟⲩϣⲱⲟⲩϣⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u273" func="cc" head="#u275" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u274" func="nmod:poss" head="#u275" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ϣⲟⲩϣⲱⲟⲩϣⲓ">
<norm xml:id="u275" func="conj" head="#u272" pos="N" lemma="ϣⲟⲩϣⲱⲟⲩϣⲓ" norm="ϣⲟⲩϣⲱⲟⲩϣⲓ">
ϣⲟⲩϣⲱⲟⲩϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲩⲉϣⲱⲡⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u276" func="nsubj" head="#u277" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u277" func="parataxis" head="#u263" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩϣⲏⲡ">
<norm_group norm_group="ⲉⲩϣⲏⲡ">
<orig orig="ⲉ">
<norm xml:id="u278" func="mark" head="#u280" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u279" func="nsubj" head="#u280" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϣⲏⲡ">
<norm xml:id="u280" func="advcl" head="#u277" pos="VSTAT" lemma="ϣⲱⲡ" norm="ϣⲏⲡ">
ϣⲏⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲁⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲁⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u281" func="case" head="#u282" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲁⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ">
<norm xml:id="u282" func="obl" head="#u280" pos="N" lemma="ⲡⲁⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ" norm="ⲡⲁⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
ⲡⲁⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲏⲓ">
<norm_group norm_group="ⲡⲁⲏⲓ">
<orig orig="ⲡⲁ">
<norm xml:id="u283" func="nmod:poss" head="#u284" pos="PPOS" lemma="ⲡⲁ" norm="ⲡⲁ">
ⲡⲁ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u284" func="dislocated" head="#u287" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u285" func="advmod" head="#u287" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲙⲟⲩϯ">
<norm_group norm_group="ⲉⲩⲉⲙⲟⲩϯ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u286" func="nsubj" head="#u287" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲙⲟⲩϯ">
<norm xml:id="u287" func="parataxis" head="#u277" pos="V" lemma="ⲙⲟⲩϯ" norm="ⲙⲟⲩϯ">
ⲙⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u288" func="case" head="#u289" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u289" func="obl" head="#u287" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u290" func="mark" head="#u292" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u291" func="det" head="#u292" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u292" func="advcl" head="#u287" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡ̀ⲣⲟⲥⲉⲩⲭⲏ">
<norm_group norm_group="ⲙⲡⲣⲟⲥⲉⲩⲭⲏ">
<orig orig="ⲙ̀">
<norm xml:id="u293" func="case" head="#u294" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ̀ⲣⲟⲥⲉⲩⲭⲏ">
<norm xml:id="u294" func="nmod" head="#u292" pos="N" lemma="ⲡⲣⲟⲥⲉⲩⲭⲏ" norm="ⲡⲣⲟⲥⲉⲩⲭⲏ">
<lang lang="Greek">
ⲡ̀ⲣⲟⲥⲉⲩⲭⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲉⲑⲛⲟⲥ">
<norm_group norm_group="ⲛⲛⲓⲉⲑⲛⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u295" func="case" head="#u297" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u296" func="det" head="#u297" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲑⲛⲟⲥ">
<norm xml:id="u297" func="nmod" head="#u294" pos="N" lemma="ϩⲉⲑⲛⲟⲥ" norm="ⲉⲑⲛⲟⲥ">
<lang lang="Greek">
ⲉⲑⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u298" func="nmod:unmarked" head="#u297" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u299" func="nmod:poss" head="#u298" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u300" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="saith the Lord that gathers the dispersed of Israel; for I will gather to him a congregation.">
<orig_group orig_group="ⲡⲉϫⲁϥ">
<norm_group norm_group="ⲡⲉϫⲁϥ">
<orig orig="ⲡⲉϫⲁ">
<norm xml:id="u301" func="root" new_sent="true" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲁ">
ⲡⲉϫⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u302" func="nsubj" head="#u301" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u303" func="case" head="#u304" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u304" func="dislocated" head="#u301" pos="PPOS" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲧⲑⲱⲟⲩϯ">
<norm_group norm_group="ⲫⲏⲉⲧⲑⲱⲟⲩϯ">
<orig orig="ⲫⲏⲉⲧ">
<norm xml:id="u305" func="mark" head="#u306" pos="N" lemma="ⲫⲏⲉⲧ" norm="ⲫⲏⲉⲧ">
ⲫⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲑⲱⲟⲩϯ">
<norm xml:id="u306" func="ccomp" head="#u301" pos="V" lemma="ⲑⲱⲟⲩϯ" norm="ⲑⲱⲟⲩϯ">
ⲑⲱⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲏⲉⲧⲁⲩϫⲱⲣ">
<norm_group norm_group="ⲛⲛⲏⲉⲧⲁⲩϫⲱⲣ">
<orig orig="ⲛ̀ⲛⲏ">
<norm xml:id="u307" func="advmod" head="#u309" pos="PREP" lemma="ⲛⲛⲏ" norm="ⲛⲛⲏ">
ⲛ̀ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧⲁⲩ">
<norm xml:id="u308" func="nsubj" head="#u309" pos="N" lemma="ⲉⲧⲁⲩ" norm="ⲉⲧⲁⲩ">
ⲉⲧⲁⲩ
</norm>
</orig>
<orig orig="ϫⲱⲣ">
<norm xml:id="u309" func="parataxis" head="#u306" pos="V" lemma="ϫⲱⲣ" norm="ϫⲱⲣ">
ϫⲱⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u310" func="advmod" head="#u309" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲛⲧⲉⲡⲓⲥⲗ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u311" func="case" head="#u313" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲓ̅">
<norm xml:id="u312" func="det" head="#u313" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ̅
</norm>
</orig>
<orig orig="ⲥ̅ⲗ̅">
<norm xml:id="u313" func="obl" head="#u309" pos="N" lemma="ⲥⲗ" norm="ⲥⲗ">
ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϯⲛⲁⲑⲱⲟⲩϯ">
<norm_group norm_group="ϫⲉϯⲛⲁⲑⲱⲟⲩϯ">
<orig orig="ϫⲉ">
<norm xml:id="u314" func="mark" head="#u317" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u315" func="nsubj" head="#u317" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u316" func="aux" head="#u317" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲑⲱⲟⲩϯ">
<norm xml:id="u317" func="ccomp" head="#u309" pos="V" lemma="ⲑⲱⲟⲩϯ" norm="ⲑⲱⲟⲩϯ">
ⲑⲱⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱϥ">
<norm_group norm_group="ⲉϫⲱϥ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u318" func="case" head="#u319" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u319" func="obl" head="#u317" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲥⲩⲛⲁⲅⲱⲅⲏ">
<norm_group norm_group="ⲛⲟⲩⲥⲩⲛⲁⲅⲱⲅⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u320" func="case" head="#u322" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u321" func="det" head="#u322" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲩⲛⲁⲅⲱⲅⲏ">
<norm xml:id="u322" func="obj" head="#u317" pos="N" lemma="ⲥⲩⲛⲁⲅⲱⲅⲏ" norm="ⲥⲩⲛⲁⲅⲱⲅⲏ">
<lang lang="Greek">
ⲥⲩⲛⲁⲅⲱⲅⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u323" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="All ye beasts of the field, come, devour, all ye beasts of the forest.">
<orig_group orig_group="ⲛⲓⲑⲏⲣⲓⲟⲛ">
<norm_group norm_group="ⲛⲓⲑⲏⲣⲓⲟⲛ">
<orig orig="ⲛⲓ">
<norm xml:id="u324" func="det" head="#u325" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲑⲏⲣⲓⲟⲛ">
<norm xml:id="u325" func="dislocated" head="#u331" pos="N" lemma="ⲑⲏⲣⲓⲟⲛ" norm="ⲑⲏⲣⲓⲟⲛ">
<lang lang="Greek">
ⲑⲏⲣⲓⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u326" func="nmod:unmarked" head="#u325" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u327" func="nmod:poss" head="#u326" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲁⲅⲣⲓⲟⲛ">
<norm_group norm_group="ⲛⲁⲅⲣⲓⲟⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u328" func="case" head="#u329" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲁⲅⲣⲓⲟⲛ">
<norm xml:id="u329" func="nmod" head="#u325" pos="N" lemma="ⲁⲅⲣⲓⲟⲛ" norm="ⲁⲅⲣⲓⲟⲛ">
<lang lang="Greek">
ⲁⲅⲣⲓⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲙⲱⲓⲛⲓ">
<norm_group norm_group="ⲁⲙⲱⲓⲛⲓ">
<orig orig="ⲁ̀ⲙⲱⲓⲛⲓ">
<norm xml:id="u330" func="nsubj" head="#u331" pos="VIMP" lemma="ⲓ" norm="ⲁⲙⲱⲓⲛⲓ">
ⲁ̀ⲙⲱⲓⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲱⲙ">
<norm_group norm_group="ⲟⲩⲱⲙ">
<orig orig="ⲟⲩⲱⲙ">
<norm xml:id="u331" func="root" pos="V" lemma="ⲟⲩⲱⲙ" norm="ⲟⲩⲱⲙ">
ⲟⲩⲱⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲑⲏⲣⲓⲟⲛ">
<norm_group norm_group="ⲛⲓⲑⲏⲣⲓⲟⲛ">
<orig orig="ⲛⲓ">
<norm xml:id="u332" func="det" head="#u333" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲑⲏⲣⲓⲟⲛ">
<norm xml:id="u333" func="obj" head="#u331" pos="N" lemma="ⲑⲏⲣⲓⲟⲛ" norm="ⲑⲏⲣⲓⲟⲛ">
<lang lang="Greek">
ⲑⲏⲣⲓⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u334" func="nmod:unmarked" head="#u333" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u335" func="nmod:poss" head="#u334" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲓⲇ̀ⲣⲩⲙⲟⲥ">
<norm_group norm_group="ⲛⲧⲉⲡⲓⲇⲣⲩⲙⲟⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u336" func="case" head="#u338" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u337" func="det" head="#u338" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲇ̀ⲣⲩⲙⲟⲥ">
<norm xml:id="u338" func="nmod" head="#u333" pos="N" lemma="ⲇⲣⲩⲙⲟⲥ" norm="ⲇⲣⲩⲙⲟⲥ">
<lang lang="Greek">
ⲇ̀ⲣⲩⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u339" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="See how they are all blinded: they have not known; they are dumb dogs that will not bark; dreaming of rest, loving to slumber.">
<orig_group orig_group="ⲁⲛⲁⲩ">
<norm_group norm_group="ⲁⲛⲁⲩ">
<orig orig="ⲁⲛⲁⲩ">
<norm xml:id="u340" func="root" new_sent="true" pos="VIMP" lemma="ⲛⲁⲩ" norm="ⲁⲛⲁⲩ">
ⲁⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁ">
<norm_group norm_group="ϫⲉⲁ">
<orig orig="ϫⲉ">
<norm xml:id="u341" func="mark" head="#u345" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u342" func="aux" head="#u345" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟⲛ">
<norm_group norm_group="ⲟⲩⲟⲛ">
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u343" func="nsubj" head="#u345" pos="N" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u344" func="det" head="#u343" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲃⲉⲗⲗⲉ">
<norm_group norm_group="ⲉⲣⲃⲉⲗⲗⲉ">
<orig orig="ⲉⲣ">
<norm xml:id="u345" func="ccomp" head="#u340" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
<orig orig="ⲃⲉⲗⲗⲉ">
<norm xml:id="u346" func="obj" head="#u345" pos="N" lemma="ⲃⲉⲗⲗⲉ" norm="ⲃⲉⲗⲗⲉ">
ⲃⲉⲗⲗⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲟⲩⲉ̀ⲙⲓ">
<norm_group norm_group="ⲙⲡⲟⲩⲉⲙⲓ">
<orig orig="ⲙ̀ⲡ">
<norm xml:id="u347" func="aux" head="#u349" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙ̀ⲡ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u348" func="nsubj" head="#u349" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉ̀ⲙⲓ">
<norm xml:id="u349" func="parataxis" head="#u345" pos="V" lemma="ⲉⲙⲓ" norm="ⲉⲙⲓ">
ⲉ̀ⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲕⲁϯ">
<norm_group norm_group="ⲉⲕⲁϯ">
<orig orig="ⲉ̀">
<norm xml:id="u350" func="mark" head="#u351" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲕⲁϯ">
<norm xml:id="u351" func="xcomp" head="#u349" pos="V" lemma="ⲕⲁϯ" norm="ⲕⲁϯ">
ⲕⲁϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲟⲩϩⲱⲣ">
<norm_group norm_group="ϩⲁⲛⲟⲩϩⲱⲣ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u352" func="det" head="#u353" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲟⲩϩⲱⲣ">
<norm xml:id="u353" func="obj" head="#u351" pos="N" lemma="ⲟⲩϩⲟⲣ" norm="ⲟⲩϩⲱⲣ">
ⲟⲩϩⲱⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u354" func="nmod:unmarked" head="#u353" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u355" func="nmod:poss" head="#u354" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u356" func="cop" head="#u353" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟⲛϣ">
<norm_group norm_group="ⲉⲩⲟⲛϣ">
<orig orig="ⲉ">
<norm xml:id="u357" func="mark" head="#u359" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u358" func="nsubj" head="#u359" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟⲛϣ">
<norm xml:id="u359" func="acl:relcl" head="#u353" pos="VSTAT" lemma="ⲟⲛϣ" norm="ⲟⲛϣ">
ⲟⲛϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛϣ̀ϫⲟⲙ">
<norm_group norm_group="ⲙⲙⲟⲛϣϫⲟⲙ">
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u360" func="parataxis" head="#u353" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
<orig orig="ϣ̀ϫⲟⲙ">
<norm xml:id="u361" func="nsubj" head="#u360" pos="N" lemma="ϣϫⲟⲙ" norm="ϣϫⲟⲙ">
<morph morph="ϣ">
ϣ̀
</morph>
<morph morph="ϫⲟⲙ">
ϫⲟⲙ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u362" func="case" head="#u363" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u363" func="obl" head="#u360" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩⲁϩⲃⲉϥ">
<norm_group norm_group="ⲉⲟⲩⲁϩⲃⲉϥ">
<orig orig="ⲉ̀">
<norm xml:id="u364" func="mark" head="#u365" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲁϩⲃⲉϥ">
<norm xml:id="u365" func="xcomp" head="#u360" pos="V" lemma="ⲟⲩⲁϩⲃⲉϥ" norm="ⲟⲩⲁϩⲃⲉϥ">
ⲟⲩⲁϩⲃⲉϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲫⲉⲣⲣⲁⲥⲟⲩⲓ̀">
<norm_group norm_group="ⲉⲩⲫⲉⲣⲣⲁⲥⲟⲩⲓ">
<orig orig="ⲉ">
<norm xml:id="u366" func="mark" head="#u368" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u367" func="nsubj" head="#u368" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲫⲉⲣⲣⲁⲥⲟⲩⲓ̀">
<norm xml:id="u368" func="obl" head="#u365" pos="V" lemma="ⲫⲉⲣⲣⲁⲥⲟⲩⲓ" norm="ⲫⲉⲣⲣⲁⲥⲟⲩⲓ">
ⲫⲉⲣⲣⲁⲥⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲡⲓⲙⲁⲛ̀ⲉⲛⲕⲟⲧ">
<norm_group norm_group="ϩⲓⲡⲓⲙⲁⲛⲉⲛⲕⲟⲧ">
<orig orig="ϩⲓ">
<norm xml:id="u369" func="case" head="#u371" pos="PREP" lemma="ϩⲓ" norm="ϩⲓ">
ϩⲓ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u370" func="det" head="#u371" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛ̀ⲉⲛⲕⲟⲧ">
<norm xml:id="u371" func="obl" head="#u365" pos="N" lemma="ⲙⲁⲛⲉⲛⲕⲟⲧ" norm="ⲙⲁⲛⲉⲛⲕⲟⲧ">
ⲙⲁⲛ̀ⲉⲛⲕⲟⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲙⲉⲩⲓ̀">
<norm_group norm_group="ⲉⲩⲙⲉⲩⲓ">
<orig orig="ⲉ">
<norm xml:id="u372" func="mark" head="#u374" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u373" func="nsubj" head="#u374" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ̀">
<norm xml:id="u374" func="advcl" head="#u365" pos="V" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲓⲛⲓⲙ">
<norm_group norm_group="ⲛϩⲓⲛⲓⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u375" func="case" head="#u376" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲓⲛⲓⲙ">
<norm xml:id="u376" func="obl" head="#u374" pos="N" lemma="ϩⲓⲛⲓⲙ" norm="ϩⲓⲛⲓⲙ">
ϩⲓⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u377" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="Yea, they are insatiable dogs, that know not what it is to be filled, and they are wicked, having no understanding: all have followed their own ways, each according to his will.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u378" func="cc" head="#u382" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲟⲩϩⲱⲣ">
<norm_group norm_group="ⲛⲓⲟⲩϩⲱⲣ">
<orig orig="ⲛⲓ">
<norm xml:id="u379" func="det" head="#u380" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩϩⲱⲣ">
<norm xml:id="u380" func="nsubj" head="#u382" pos="N" lemma="ⲟⲩϩⲟⲣ" norm="ⲟⲩϩⲱⲣ">
ⲟⲩϩⲱⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲁⲧϣⲓⲡⲓ">
<norm_group norm_group="ϩⲁⲛⲁⲧϣⲓⲡⲓ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u381" func="det" head="#u382" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲁⲧϣⲓⲡⲓ">
<norm xml:id="u382" func="root" pos="N" lemma="ⲁⲧϣⲓⲡⲓ" norm="ⲁⲧϣⲓⲡⲓ">
ⲁⲧϣⲓⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u383" func="cop" head="#u382" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧⲟⲩⲯⲩⲭⲏ">
<norm_group norm_group="ϧⲉⲛⲧⲟⲩⲯⲩⲭⲏ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u384" func="case" head="#u386" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲟⲩ">
<norm xml:id="u385" func="nmod:poss" head="#u386" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ⲯⲩⲭⲏ">
<norm xml:id="u386" func="obl" head="#u382" pos="N" lemma="ⲯⲩⲭⲏ" norm="ⲯⲩⲭⲏ">
<lang lang="Greek">
ⲯⲩⲭⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲉⲥⲱⲟⲩⲛ">
<norm_group norm_group="ⲛⲥⲉⲥⲱⲟⲩⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u387" func="aux" head="#u389" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥⲉ">
<norm xml:id="u388" func="nsubj" head="#u389" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲛ">
<norm xml:id="u389" func="parataxis" head="#u382" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲱⲟⲩⲛ">
ⲥⲱⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲓ">
<norm_group norm_group="ⲛⲥⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u390" func="advmod" head="#u392" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u391" func="nsubj" head="#u392" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u392" func="parataxis" head="#u389" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u393" func="advmod" head="#u392" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u394" func="cc" head="#u396" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲉϩⲱⲟⲩ">
<norm_group norm_group="ⲥⲉϩⲱⲟⲩ">
<orig orig="ⲥⲉ">
<norm xml:id="u395" func="nsubj" head="#u396" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ϩⲱⲟⲩ">
<norm xml:id="u396" func="conj" head="#u392" pos="VSTAT" lemma="ϩⲱⲟⲩ" norm="ϩⲱⲟⲩ">
ϩⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲉⲥⲱⲟⲩⲛ">
<norm_group norm_group="ⲛⲥⲉⲥⲱⲟⲩⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u397" func="advmod" head="#u399" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥⲉ">
<norm xml:id="u398" func="nsubj" head="#u399" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲥⲱⲟⲩⲛ">
<norm xml:id="u399" func="advcl" head="#u396" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲱⲟⲩⲛ">
ⲥⲱⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲕⲁϯ">
<norm_group norm_group="ⲛⲕⲁϯ">
<orig orig="ⲛ̀">
<norm xml:id="u400" func="case" head="#u401" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲕⲁϯ">
<norm xml:id="u401" func="obj" head="#u399" pos="N" lemma="ⲕⲁϯ" norm="ⲕⲁϯ">
ⲕⲁϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u402" func="advmod" head="#u399" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲙⲟϣⲓ">
<norm_group norm_group="ⲁⲩⲙⲟϣⲓ">
<orig orig="ⲁ">
<norm xml:id="u403" func="aux" head="#u405" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u404" func="nsubj" head="#u405" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲙⲟϣⲓ">
<norm xml:id="u405" func="parataxis" head="#u399" pos="V" lemma="ⲙⲟϣⲓ" norm="ⲙⲟϣⲓ">
ⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u406" func="obl:unmarked" head="#u405" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u407" func="nmod:poss" head="#u406" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲁⲛⲟⲩⲙⲱⲟⲩⲧ">
<norm_group norm_group="ⲛⲥⲁⲛⲟⲩⲙⲱⲟⲩⲧ">
<orig orig="ⲛ̀ⲥⲁ">
<norm xml:id="u408" func="case" head="#u410" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲁ">
ⲛ̀ⲥⲁ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u409" func="nmod:poss" head="#u410" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩⲧ">
<norm xml:id="u410" func="obl" head="#u405" pos="N" lemma="ⲙⲱⲟⲩⲧ" norm="ⲙⲱⲟⲩⲧ">
ⲙⲱⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲟⲩⲁⲓ">
<norm_group norm_group="ⲡⲓⲟⲩⲁⲓ">
<orig orig="ⲡⲓ">
<norm xml:id="u411" func="det" head="#u412" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲓ">
<norm xml:id="u412" func="nmod:unmarked" head="#u410" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲁⲓ">
ⲟⲩⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲁⲧⲁⲡⲉϥⲥ̀ⲙⲟⲧ">
<norm_group norm_group="ⲕⲁⲧⲁⲡⲉϥⲥⲙⲟⲧ">
<orig orig="ⲕⲁⲧⲁ">
<norm xml:id="u413" func="case" head="#u415" pos="PREP" lemma="ⲕⲁⲧⲁ" norm="ⲕⲁⲧⲁ">
<lang lang="Greek">
ⲕⲁⲧⲁ
</lang>
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u414" func="nmod:poss" head="#u415" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲟⲧ">
<norm xml:id="u415" func="obl" head="#u405" pos="N" lemma="ⲥⲙⲟⲧ" norm="ⲥⲙⲟⲧ">
ⲥ̀ⲙⲟⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u416" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
