<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="06" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.isa.bohairic_ed:06" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="23_Isaias_06" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="And it came to pass in the year in which king Ozias died, that I saw the Lord sitting on a high and exalted throne, and the house was full of his glory.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u1" func="cc" head="#u4" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥϣⲱⲡⲓ">
<norm_group norm_group="ⲁⲥϣⲱⲡⲓ">
<orig orig="ⲁ">
<norm xml:id="u2" func="aux" head="#u4" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u3" func="nsubj" head="#u4" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u4" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϯⲣⲟⲙⲡⲓ">
<norm_group norm_group="ϧⲉⲛϯⲣⲟⲙⲡⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u5" func="case" head="#u7" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u6" func="det" head="#u7" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲣⲟⲙⲡⲓ">
<norm xml:id="u7" func="obl" head="#u4" pos="N" lemma="ⲣⲟⲙⲡⲓ" norm="ⲣⲟⲙⲡⲓ">
ⲣⲟⲙⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲙⲟⲩ">
<norm_group norm_group="ⲉⲧⲁϥⲙⲟⲩ">
<orig orig="ⲉⲧ">
<norm xml:id="u8" func="aux" head="#u11" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u9" func="aux" head="#u11" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u10" func="nsubj" head="#u11" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲟⲩ">
<norm xml:id="u11" func="acl:relcl" head="#u7" pos="V" lemma="ⲙⲟⲩ" norm="ⲙⲟⲩ">
ⲙⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u12" func="case" head="#u13" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u13" func="obj" head="#u11" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲍⲓⲁⲥ">
<norm_group norm_group="ⲛϫⲉⲟⲍⲓⲁⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u14" func="case" head="#u15" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲍⲓⲁⲥ">
<norm xml:id="u15" func="dislocated" head="#u11" pos="NPROP" lemma="ⲟⲍⲓⲁⲥ" norm="ⲟⲍⲓⲁⲥ">
ⲟⲍⲓⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲟⲩⲣⲟ">
<norm_group norm_group="ⲡⲟⲩⲣⲟ">
<orig orig="ⲡ̀">
<norm xml:id="u16" func="det" head="#u17" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲟⲩⲣⲟ">
<norm xml:id="u17" func="appos" head="#u15" pos="N" lemma="ⲟⲩⲣⲟ" norm="ⲟⲩⲣⲟ">
ⲟⲩⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲛⲁⲩ">
<norm_group norm_group="ⲁⲓⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u18" func="aux" head="#u20" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u19" func="nsubj" head="#u20" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u20" func="parataxis" head="#u4" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲉⲡϭⲥ">
<orig orig="ⲉ̀">
<norm xml:id="u21" func="case" head="#u22" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u22" func="obl" head="#u20" pos="N" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲁⲃⲁⲱⲑ">
<norm_group norm_group="ⲥⲁⲃⲁⲱⲑ">
<orig orig="ⲥⲁⲃⲁⲱⲑ">
<norm xml:id="u23" func="det" head="#u22" pos="NPROP" lemma="ⲥⲁⲃⲁⲱⲑ" norm="ⲥⲁⲃⲁⲱⲑ">
<lang lang="Hebrew">
ⲥⲁⲃⲁⲱⲑ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϩⲉⲙⲥⲓ">
<norm_group norm_group="ⲉϥϩⲉⲙⲥⲓ">
<orig orig="ⲉ">
<norm xml:id="u24" func="mark" head="#u26" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u25" func="nsubj" head="#u26" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲉⲙⲥⲓ">
<norm xml:id="u26" func="advcl" head="#u20" pos="V" lemma="ϩⲉⲙⲥⲓ" norm="ϩⲉⲙⲥⲓ">
ϩⲉⲙⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲟⲩⲑ̀ⲣⲟⲛⲟⲥ">
<norm_group norm_group="ϩⲓϫⲉⲛⲟⲩⲑⲣⲟⲛⲟⲥ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u27" func="case" head="#u29" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u28" func="det" head="#u29" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲑ̀ⲣⲟⲛⲟⲥ">
<norm xml:id="u29" func="obl" head="#u26" pos="N" lemma="ⲑⲣⲟⲛⲟⲥ" norm="ⲑⲣⲟⲛⲟⲥ">
<lang lang="Greek">
ⲑ̀ⲣⲟⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϭⲟⲥⲓ">
<norm_group norm_group="ⲉϥϭⲟⲥⲓ">
<orig orig="ⲉ">
<norm xml:id="u30" func="mark" head="#u32" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u31" func="nsubj" head="#u32" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u32" func="acl:relcl" head="#u29" pos="VSTAT" lemma="ϭⲓⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϣⲏⲟⲩ">
<norm_group norm_group="ⲉϥϣⲏⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u33" func="mark" head="#u35" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u34" func="nsubj" head="#u35" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲏⲟⲩ">
<norm xml:id="u35" func="advcl" head="#u26" pos="VSTAT" lemma="ϣⲓ" norm="ϣⲏⲟⲩ">
ϣⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϣⲱⲓ">
<norm_group norm_group="ⲉⲡϣⲱⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u36" func="case" head="#u38" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u37" func="det" head="#u38" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲓ">
<norm xml:id="u38" func="obl" head="#u35" pos="N" lemma="ϣⲱⲓ" norm="ϣⲱⲓ">
ϣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲡⲓⲏⲓ">
<norm_group norm_group="ⲉⲣⲉⲡⲓⲏⲓ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u39" func="aux" head="#u42" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u40" func="det" head="#u41" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u41" func="nsubj" head="#u42" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲉϩ">
<norm_group norm_group="ⲙⲉϩ">
<orig orig="ⲙⲉϩ">
<norm xml:id="u42" func="advcl" head="#u35" pos="VSTAT" lemma="ⲙⲟϩ" norm="ⲙⲉϩ">
ⲙⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u43" func="case" head="#u46" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u44" func="fixed" head="#u43" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϥⲱ̀ⲟⲩ">
<norm_group norm_group="ⲡⲉϥⲱⲟⲩ">
<orig orig="ⲡⲉϥ">
<norm xml:id="u45" func="nmod:poss" head="#u46" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲱ̀ⲟⲩ">
<norm xml:id="u46" func="obl" head="#u42" pos="N" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱ̀ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u47" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="And seraphs stood round about him: each one had six wings: and with two they covered their face, and with two they covered their feet, and with two they flew.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u48" func="cc" head="#u53" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲥⲉⲣⲁⲫⲓⲙ">
<norm_group norm_group="ϩⲁⲛⲥⲉⲣⲁⲫⲓⲙ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u49" func="det" head="#u50" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲥⲉⲣⲁⲫⲓⲙ">
<norm xml:id="u50" func="dislocated" head="#u53" pos="N" lemma="ⲥⲉⲣⲁⲫⲓⲙ" norm="ⲥⲉⲣⲁⲫⲓⲙ">
ⲥⲉⲣⲁⲫⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲩⲟ̀ϩⲓ">
<norm_group norm_group="ⲛⲁⲩⲟϩⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u51" func="aux" head="#u53" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u52" func="nsubj" head="#u53" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟ̀ϩⲓ">
<norm xml:id="u53" func="root" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟ̀ϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲁⲧⲟⲩⲙ̀ⲡⲉϥⲕⲱϯ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩⲙⲡⲉϥⲕⲱϯ">
<orig orig="ⲉ̀ⲣⲁⲧ">
<norm xml:id="u54" func="case" head="#u55" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉ̀ⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u55" func="obl" head="#u53" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙ̀ⲡⲉϥ">
<norm xml:id="u56" func="mark" head="#u57" pos="N" lemma="ⲙⲡⲉϥ" norm="ⲙⲡⲉϥ">
ⲙ̀ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u57" func="xcomp" head="#u53" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲟⲩⲟⲛ">
<norm_group norm_group="ⲉⲣⲉⲟⲩⲟⲛ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u58" func="mark" head="#u59" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u59" func="advcl" head="#u57" pos="EXIST" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲋ̅">
<norm_group norm_group="ⲋ">
<orig orig="ⲋ̅">
<norm xml:id="u60" func="nsubj" head="#u59" pos="NUM" lemma="ⲋ" norm="ⲋ">
ⲋ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛϩ">
<norm_group norm_group="ⲛⲧⲉⲛϩ">
<orig orig="ⲛ̀">
<norm xml:id="u61" func="case" head="#u62" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉⲛϩ">
<norm xml:id="u62" func="nmod" head="#u60" pos="N" lemma="ⲧⲉⲛϩ" norm="ⲧⲉⲛϩ">
ⲧⲉⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲓⲟⲩⲁⲓ">
<norm_group norm_group="ⲉⲡⲓⲟⲩⲁⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u63" func="case" head="#u65" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u64" func="det" head="#u65" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲓ">
<norm xml:id="u65" func="obl" head="#u59" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲁⲓ">
ⲟⲩⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u66" func="cc" head="#u67" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟⲛ">
<norm_group norm_group="ⲟⲩⲟⲛ">
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u67" func="conj" head="#u53" pos="EXIST" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲕⲉⲋ̅">
<norm_group norm_group="ⲕⲉⲋ">
<orig orig="ⲕⲉ">
<norm xml:id="u68" func="det" head="#u69" pos="ART" lemma="ⲕⲉ" norm="ⲕⲉ">
ⲕⲉ
</norm>
</orig>
<orig orig="ⲋ̅">
<norm xml:id="u69" func="nsubj" head="#u67" pos="N" lemma="ⲋ" norm="ⲋ">
ⲋ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛϩ">
<norm_group norm_group="ⲛⲧⲉⲛϩ">
<orig orig="ⲛ̀">
<norm xml:id="u70" func="case" head="#u71" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉⲛϩ">
<norm xml:id="u71" func="nmod" head="#u69" pos="N" lemma="ⲧⲉⲛϩ" norm="ⲧⲉⲛϩ">
ⲧⲉⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲓⲟⲩⲁⲓ">
<norm_group norm_group="ⲉⲡⲓⲟⲩⲁⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u72" func="case" head="#u74" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u73" func="det" head="#u74" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲁⲓ">
<norm xml:id="u74" func="obl" head="#u67" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲁⲓ">
ⲟⲩⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u75" func="cc" head="#u81" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲃ̅">
<norm_group norm_group="ϧⲉⲛⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u76" func="case" head="#u77" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲃ̅">
<norm xml:id="u77" func="obl" head="#u81" pos="NUM" lemma="ⲃ" norm="ⲃ">
ⲃ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲉⲛ">
<norm_group norm_group="ⲙⲉⲛ">
<orig orig="ⲙⲉⲛ">
<norm xml:id="u78" func="advmod" head="#u81" pos="PTC" lemma="ⲙⲉⲛ" norm="ⲙⲉⲛ">
<lang lang="Greek">
ⲙⲉⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲩϩⲱⲃⲥ">
<norm_group norm_group="ⲛⲁⲩϩⲱⲃⲥ">
<orig orig="ⲛⲁ">
<norm xml:id="u79" func="aux" head="#u81" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u80" func="nsubj" head="#u81" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲱⲃⲥ">
<norm xml:id="u81" func="conj" head="#u53" pos="V" lemma="ϩⲱⲃⲥ" norm="ϩⲱⲃⲥ">
ϩⲱⲃⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲟⲩϩⲟ">
<norm_group norm_group="ⲙⲡⲟⲩϩⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u82" func="case" head="#u84" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u83" func="det" head="#u84" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲟⲩϩⲟ">
<norm xml:id="u84" func="obj" head="#u81" pos="N" lemma="ϩⲟⲩⲟ" norm="ⲟⲩϩⲟ">
ⲟⲩϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u85" func="cc" head="#u90" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲃ̅">
<norm_group norm_group="ϧⲉⲛⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u86" func="case" head="#u87" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲃ̅">
<norm xml:id="u87" func="obl" head="#u90" pos="NUM" lemma="ⲃ" norm="ⲃ">
ⲃ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲩϩⲱⲃⲥ">
<norm_group norm_group="ⲛⲁⲩϩⲱⲃⲥ">
<orig orig="ⲛⲁ">
<norm xml:id="u88" func="aux" head="#u90" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u89" func="nsubj" head="#u90" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲱⲃⲥ">
<norm xml:id="u90" func="conj" head="#u81" pos="V" lemma="ϩⲱⲃⲥ" norm="ϩⲱⲃⲥ">
ϩⲱⲃⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓϭⲁⲗⲁⲩϫ">
<norm_group norm_group="ⲛⲛⲓϭⲁⲗⲁⲩϫ">
<orig orig="ⲛ̀">
<norm xml:id="u91" func="case" head="#u93" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u92" func="det" head="#u93" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϭⲁⲗⲁⲩϫ">
<norm xml:id="u93" func="obj" head="#u90" pos="N" lemma="ϭⲁⲗⲟϫ" norm="ϭⲁⲗⲁⲩϫ">
ϭⲁⲗⲁⲩϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u94" func="cc" head="#u97" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲩϩⲏⲗ">
<norm_group norm_group="ⲛⲁⲩϩⲏⲗ">
<orig orig="ⲛⲁ">
<norm xml:id="u95" func="aux" head="#u97" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u96" func="nsubj" head="#u97" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲏⲗ">
<norm xml:id="u97" func="conj" head="#u53" pos="VSTAT" lemma="ϩⲱⲗ" norm="ϩⲏⲗ">
ϩⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲕⲉⲃ̅">
<norm_group norm_group="ϧⲉⲛⲡⲓⲕⲉⲃ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u98" func="case" head="#u100" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u99" func="det" head="#u100" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲕⲉⲃ̅">
<norm xml:id="u100" func="obl" head="#u97" pos="N" lemma="ⲕⲉⲃ" norm="ⲕⲉⲃ">
ⲕⲉⲃ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u101" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="And one cried to the other, and they said, Holy, holy, holy is the Lord of hosts: the whole earth is full of his glory.">
<orig_group orig_group="ⲉⲩⲱϣ">
<norm_group norm_group="ⲉⲩⲱϣ">
<orig orig="ⲉ">
<norm xml:id="u102" func="mark" head="#u104" new_sent="true" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u103" func="nsubj" head="#u104" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<multiword multiword="ⲱϣ ⲉⲃⲟⲗ">
<orig orig="ⲱϣ">
<norm xml:id="u104" func="root" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u105" func="advmod" head="#u104" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲟⲩⲁⲓ">
<norm_group norm_group="ⲟⲩⲁⲓ">
<orig orig="ⲟⲩⲁⲓ">
<norm xml:id="u106" func="dislocated" head="#u104" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲁⲓ">
ⲟⲩⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲃⲉ">
<norm_group norm_group="ⲟⲩⲃⲉ">
<orig orig="ⲟⲩⲃⲉ">
<norm xml:id="u107" func="case" head="#u108" pos="PREP" lemma="ⲟⲩⲃⲉ" norm="ⲟⲩⲃⲉ">
ⲟⲩⲃⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲁⲓ">
<norm_group norm_group="ⲟⲩⲁⲓ">
<orig orig="ⲟⲩⲁⲓ">
<norm xml:id="u108" func="nmod" head="#u106" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲁⲓ">
ⲟⲩⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u109" func="case" head="#u110" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u110" func="nmod" head="#u108" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩϫⲱ">
<norm_group norm_group="ⲉⲩϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u111" func="mark" head="#u113" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u112" func="nsubj" head="#u113" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u113" func="advcl" head="#u104" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u114" func="case" head="#u115" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u115" func="expl" head="#u113" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁ̀ⲅⲓⲟⲥ">
<norm_group norm_group="ϫⲉϩⲁⲅⲓⲟⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u116" func="mark" head="#u117" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ̀ⲅⲓⲟⲥ">
<norm xml:id="u117" func="flat" head="#u118" pos="N" lemma="ϩⲁⲅⲓⲟⲥ" norm="ϩⲁⲅⲓⲟⲥ">
<lang lang="Greek">
ⲁ̀ⲅⲓⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲅⲓⲟⲥ">
<norm_group norm_group="ϩⲁⲅⲓⲟⲥ">
<orig orig="ⲁ̀ⲅⲓⲟⲥ">
<norm xml:id="u118" func="vocative" head="#u126" pos="N" lemma="ϩⲁⲅⲓⲟⲥ" norm="ϩⲁⲅⲓⲟⲥ">
<lang lang="Greek">
ⲁ̀ⲅⲓⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲅⲓⲟⲥ">
<norm_group norm_group="ϩⲁⲅⲓⲟⲥ">
<orig orig="ⲁ̀ⲅⲓⲟⲥ">
<norm xml:id="u119" func="flat" head="#u118" pos="N" lemma="ϩⲁⲅⲓⲟⲥ" norm="ϩⲁⲅⲓⲟⲥ">
<lang lang="Greek">
ⲁ̀ⲅⲓⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲥ">
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u120" func="flat" head="#u118" pos="NPROP" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲁⲃⲁⲱⲑ">
<norm_group norm_group="ⲥⲁⲃⲁⲱⲑ">
<orig orig="ⲥⲁⲃⲁⲱⲑ">
<norm xml:id="u121" func="mark" head="#u126" pos="NPROP" lemma="ⲥⲁⲃⲁⲱⲑ" norm="ⲥⲁⲃⲁⲱⲑ">
<lang lang="Hebrew">
ⲥⲁⲃⲁⲱⲑ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u122" func="det" head="#u123" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u123" func="nsubj" head="#u126" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣϥ">
<norm_group norm_group="ⲧⲏⲣϥ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u124" func="nmod:unmarked" head="#u123" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u125" func="nmod:poss" head="#u124" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲉϩ">
<norm_group norm_group="ⲙⲉϩ">
<orig orig="ⲙⲉϩ">
<norm xml:id="u126" func="ccomp" head="#u113" pos="VSTAT" lemma="ⲙⲟϩ" norm="ⲙⲉϩ">
ⲙⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u127" func="case" head="#u130" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u128" func="fixed" head="#u127" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲕⲱ̀ⲟⲩ">
<norm_group norm_group="ⲡⲉⲕⲱⲟⲩ">
<orig orig="ⲡⲉⲕ">
<norm xml:id="u129" func="nmod:poss" head="#u130" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲱ̀ⲟⲩ">
<norm xml:id="u130" func="obl" head="#u126" pos="N" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱ̀ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u131" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="And the lintel shook at the voice they uttered, and the house was filled with smoke.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u132" func="cc" head="#u135" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲧⲱⲛϥ">
<norm_group norm_group="ⲁϥⲧⲱⲛϥ">
<orig orig="ⲁ">
<norm xml:id="u133" func="aux" head="#u135" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u134" func="nsubj" head="#u135" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲧⲱⲛ">
<norm xml:id="u135" func="root" pos="V" lemma="ⲧⲱⲟⲩⲛ" norm="ⲧⲱⲛ">
ⲧⲱⲛ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u136" func="obj" head="#u135" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϣⲱⲓ">
<norm_group norm_group="ⲉⲡϣⲱⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u137" func="case" head="#u139" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u138" func="det" head="#u139" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲓ">
<norm xml:id="u139" func="obl" head="#u135" pos="N" lemma="ϣⲱⲓ" norm="ϣⲱⲓ">
ϣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓϩⲟⲛ̀ⲣⲟ">
<norm_group norm_group="ⲛϫⲉⲡⲓϩⲟⲛⲣⲟ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u140" func="case" head="#u142" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u141" func="det" head="#u142" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϩⲟⲛ̀ⲣⲟ">
<norm xml:id="u142" func="dislocated" head="#u135" pos="N" lemma="ϩⲟⲛⲣⲟ" norm="ϩⲟⲛⲣⲟ">
ϩⲟⲛ̀ⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲡⲓϧ̀ⲣⲱⲟⲩ">
<norm_group norm_group="ⲛⲧⲉⲛⲡⲓϧⲣⲱⲟⲩ">
<orig orig="ⲛ̀ⲧⲉⲛ">
<norm xml:id="u143" func="case" head="#u145" pos="PREP" lemma="ⲛⲧⲉⲛ" norm="ⲛⲧⲉⲛ">
ⲛ̀ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u144" func="det" head="#u145" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϧ̀ⲣⲱⲟⲩ">
<norm xml:id="u145" func="obl" head="#u135" pos="N" lemma="ϧⲣⲱⲟⲩ" norm="ϧⲣⲱⲟⲩ">
ϧ̀ⲣⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲩⲱϣϥ">
<norm_group norm_group="ⲉⲧⲁⲩⲱϣϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u146" func="mark" head="#u149" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u147" func="aux" head="#u149" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u148" func="nsubj" head="#u149" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲱϣ">
<norm xml:id="u149" func="acl:relcl" head="#u145" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u150" func="obj" head="#u149" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u151" func="advmod" head="#u149" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u152" func="cc" head="#u155" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲙⲟϩ">
<norm_group norm_group="ⲁϥⲙⲟϩ">
<orig orig="ⲁ">
<norm xml:id="u153" func="aux" head="#u155" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u154" func="nsubj" head="#u155" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲟϩ">
<norm xml:id="u155" func="conj" head="#u135" pos="V" lemma="ⲙⲟϩ" norm="ⲙⲟϩ">
ⲙⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲏⲓ">
<norm_group norm_group="ⲛϫⲉⲡⲓⲏⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u156" func="case" head="#u158" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u157" func="det" head="#u158" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u158" func="dislocated" head="#u155" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲭ̀ⲣⲉⲙⲧⲥ">
<norm_group norm_group="ⲛⲭⲣⲉⲙⲧⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u159" func="case" head="#u160" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲭ̀ⲣⲉⲙⲧⲥ">
<norm xml:id="u160" func="nmod" head="#u158" pos="N" lemma="ⲭⲣⲉⲙⲧⲥ" norm="ⲭⲣⲉⲙⲧⲥ">
ⲭ̀ⲣⲉⲙⲧⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u161" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="And I said, Woe is me, for I am pricked to the heart; for being a man, and having unclean lips, I dwell in the midst of a people having unclean lips; and I have seen with mine eyes the King, the Lord of hosts.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u162" func="cc" head="#u163" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲏⲓ">
<norm_group norm_group="ⲡⲉϫⲏⲓ">
<orig orig="ⲡⲉϫⲏⲓ">
<norm xml:id="u163" func="root" pos="N" lemma="ⲡⲉϫⲏⲓ" norm="ⲡⲉϫⲏⲓ">
ⲡⲉϫⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲱ">
<norm_group norm_group="ϫⲉⲱ">
<orig orig="ϫⲉ">
<norm xml:id="u164" func="mark" head="#u173" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲱ">
<norm xml:id="u165" func="discourse" head="#u167" pos="PTC" lemma="ⲱ" norm="ⲱ">
<lang lang="Greek">
ⲱ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲧⲁⲗⲉⲡⲱⲣⲟⲥ">
<norm_group norm_group="ⲡⲧⲁⲗⲉⲡⲱⲣⲟⲥ">
<orig orig="ⲡ̀">
<norm xml:id="u166" func="det" head="#u167" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲧⲁⲗⲉⲡⲱⲣⲟⲥ">
<norm xml:id="u167" func="vocative" head="#u163" pos="N" lemma="ⲧⲁⲗⲉⲡⲱⲣⲟⲥ" norm="ⲧⲁⲗⲉⲡⲱⲣⲟⲥ">
ⲧⲁⲗⲉⲡⲱⲣⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u168" func="dislocated" head="#u173" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u169" func="mark" head="#u173" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲓ">
<norm xml:id="u170" func="advmod" head="#u173" pos="ADV" lemma="ⲟⲩⲏⲓ" norm="ⲟⲩⲏⲓ">
ⲟⲩⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲧⲱⲙⲧ">
<norm_group norm_group="ⲁⲓⲧⲱⲙⲧ">
<orig orig="ⲁ">
<norm xml:id="u171" func="aux" head="#u173" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u172" func="nsubj" head="#u173" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲧⲱⲙⲧ">
<norm xml:id="u173" func="advcl" head="#u167" pos="V" lemma="ⲧⲱⲙⲧ" norm="ⲧⲱⲙⲧ">
ⲧⲱⲙⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ϫⲉⲁⲛⲟⲕ">
<orig orig="ϫⲉ">
<norm xml:id="u174" func="mark" head="#u177" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u175" func="nsubj" head="#u177" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲣⲱⲙⲓ">
<norm_group norm_group="ⲟⲩⲣⲱⲙⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u176" func="det" head="#u177" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u177" func="ccomp" head="#u173" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩⲟⲛⲧⲁϥ">
<norm_group norm_group="ⲉⲟⲩⲟⲛⲧⲁϥ">
<orig orig="ⲉ̀">
<norm xml:id="u178" func="mark" head="#u179" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛⲧⲁ">
<norm xml:id="u179" func="acl:relcl" head="#u177" pos="EXIST" lemma="ⲟⲩⲟⲛⲧⲉ" norm="ⲟⲩⲟⲛⲧⲁ">
ⲟⲩⲟⲛⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u180" func="iobj" head="#u179" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲙ̀ⲙⲁⲩ">
<norm xml:id="u181" func="advmod" head="#u179" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙ̀ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲥ̀ⲫⲟⲧⲟⲩ">
<norm_group norm_group="ⲛϩⲁⲛⲥⲫⲟⲧⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u182" func="case" head="#u184" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u183" func="det" head="#u184" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲥ̀ⲫⲟⲧⲟⲩ">
<norm xml:id="u184" func="obj" head="#u179" pos="N" lemma="ⲥⲫⲟⲧⲟⲩ" norm="ⲥⲫⲟⲧⲟⲩ">
ⲥ̀ⲫⲟⲧⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩϭⲁϧⲉⲙ">
<norm_group norm_group="ⲉⲩϭⲁϧⲉⲙ">
<orig orig="ⲉ">
<norm xml:id="u185" func="mark" head="#u187" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u186" func="nsubj" head="#u187" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϭⲁϧⲉⲙ">
<norm xml:id="u187" func="acl:relcl" head="#u184" pos="VSTAT" lemma="ϭⲱϧⲉⲙ" norm="ϭⲁϧⲉⲙ">
ϭⲁϧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u188" func="cc" head="#u190" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯϣⲟⲡ">
<norm_group norm_group="ϯϣⲟⲡ">
<orig orig="ϯ">
<norm xml:id="u189" func="nsubj" head="#u190" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u190" func="conj" head="#u173" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u191" func="dislocated" head="#u190" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲑ̀ⲙⲏϯ">
<norm_group norm_group="ϧⲉⲛⲧⲙⲏϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u192" func="case" head="#u194" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲑ̀">
<norm xml:id="u193" func="det" head="#u194" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ̀
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u194" func="obl" head="#u190" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲗⲁⲟⲥ">
<norm_group norm_group="ⲛⲟⲩⲗⲁⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u195" func="case" head="#u197" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u196" func="det" head="#u197" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u197" func="nmod" head="#u194" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲛⲟⲩⲥ̀ⲫⲟⲧⲟⲩ">
<norm_group norm_group="ⲉⲣⲉⲛⲟⲩⲥⲫⲟⲧⲟⲩ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u198" func="mark" head="#u201" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u199" func="nmod:poss" head="#u200" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲥ̀ⲫⲟⲧⲟⲩ">
<norm xml:id="u200" func="nsubj" head="#u201" pos="N" lemma="ⲥⲫⲟⲧⲟⲩ" norm="ⲥⲫⲟⲧⲟⲩ">
ⲥ̀ⲫⲟⲧⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϭⲁϧⲉⲙ">
<norm_group norm_group="ϭⲁϧⲉⲙ">
<orig orig="ϭⲁϧⲉⲙ">
<norm xml:id="u201" func="advcl" head="#u173" pos="VSTAT" lemma="ϭⲱϧⲉⲙ" norm="ϭⲁϧⲉⲙ">
ϭⲁϧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=":">
<norm_group norm_group=":">
<orig orig=":">
<norm xml:id="u202" func="advmod" head="#u201" pos="NPROP" lemma=":" norm=":">
:
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u203" func="cc" head="#u205" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲟⲩⲣⲟ">
<norm_group norm_group="ⲡⲟⲩⲣⲟ">
<orig orig="ⲡ̀">
<norm xml:id="u204" func="det" head="#u205" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲟⲩⲣⲟ">
<norm xml:id="u205" func="conj" head="#u201" pos="N" lemma="ⲟⲩⲣⲟ" norm="ⲟⲩⲣⲟ">
ⲟⲩⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭⲟⲓⲥ">
<norm_group norm_group="ⲡϭⲟⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u206" func="det" head="#u207" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭⲟⲓⲥ">
<norm xml:id="u207" func="appos" head="#u205" pos="N" lemma="ϭⲟⲓⲥ" norm="ϭⲟⲓⲥ">
ϭⲟⲓⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲁⲃⲁⲱⲑ">
<norm_group norm_group="ⲥⲁⲃⲁⲱⲑ">
<orig orig="ⲥⲁⲃⲁⲱⲑ">
<norm xml:id="u208" func="mark" head="#u211" pos="NPROP" lemma="ⲥⲁⲃⲁⲱⲑ" norm="ⲥⲁⲃⲁⲱⲑ">
<lang lang="Hebrew">
ⲥⲁⲃⲁⲱⲑ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲛⲁⲩ">
<norm_group norm_group="ⲁⲓⲛⲁⲩ">
<orig orig="ⲁ">
<norm xml:id="u209" func="aux" head="#u211" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u210" func="nsubj" head="#u211" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u211" func="conj" head="#u173" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u212" func="case" head="#u213" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u213" func="obl" head="#u211" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲁⲃⲁⲗ">
<norm_group norm_group="ϧⲉⲛⲛⲁⲃⲁⲗ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u214" func="case" head="#u216" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u215" func="nmod:poss" head="#u216" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲃⲁⲗ">
<norm xml:id="u216" func="obl" head="#u211" pos="N" lemma="ⲃⲁⲗ" norm="ⲃⲁⲗ">
ⲃⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϩⲉⲙⲥⲓ">
<norm_group norm_group="ⲉϥϩⲉⲙⲥⲓ">
<orig orig="ⲉ">
<norm xml:id="u217" func="mark" head="#u219" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u218" func="nsubj" head="#u219" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲉⲙⲥⲓ">
<norm xml:id="u219" func="advcl" head="#u211" pos="V" lemma="ϩⲉⲙⲥⲓ" norm="ϩⲉⲙⲥⲓ">
ϩⲉⲙⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲟⲩⲑ̀ⲣⲟⲛⲟⲥ">
<norm_group norm_group="ϩⲓϫⲉⲛⲟⲩⲑⲣⲟⲛⲟⲥ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u220" func="case" head="#u222" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u221" func="det" head="#u222" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲑ̀ⲣⲟⲛⲟⲥ">
<norm xml:id="u222" func="obl" head="#u219" pos="N" lemma="ⲑⲣⲟⲛⲟⲥ" norm="ⲑⲣⲟⲛⲟⲥ">
<lang lang="Greek">
ⲑ̀ⲣⲟⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϭⲟⲥⲓ">
<norm_group norm_group="ⲉϥϭⲟⲥⲓ">
<orig orig="ⲉ">
<norm xml:id="u223" func="mark" head="#u225" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u224" func="nsubj" head="#u225" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϭⲟⲥⲓ">
<norm xml:id="u225" func="acl:relcl" head="#u222" pos="VSTAT" lemma="ϭⲓⲥⲓ" norm="ϭⲟⲥⲓ">
ϭⲟⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϣⲱⲓ">
<norm_group norm_group="ⲉⲡϣⲱⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u226" func="case" head="#u228" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u227" func="det" head="#u228" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲓ">
<norm xml:id="u228" func="obl" head="#u225" pos="N" lemma="ϣⲱⲓ" norm="ϣⲱⲓ">
ϣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u229" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="And there was sent to me one of the seraphs, and he had in his hand a coal, which he had taken off the altar with the tongs:">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u230" func="cc" head="#u233" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲟⲩⲱⲣⲡ">
<norm_group norm_group="ⲁϥⲟⲩⲱⲣⲡ">
<orig orig="ⲁ">
<norm xml:id="u231" func="aux" head="#u233" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u232" func="nsubj" head="#u233" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲩⲱⲣⲡ">
<norm xml:id="u233" func="root" pos="V" lemma="ⲟⲩⲱⲣⲡ" norm="ⲟⲩⲱⲣⲡ">
ⲟⲩⲱⲣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲣⲟⲓ">
<norm_group norm_group="ϩⲁⲣⲟⲓ">
<orig orig="ϩⲁⲣⲟ">
<norm xml:id="u234" func="case" head="#u235" pos="PREP" lemma="ϩⲁ" norm="ϩⲁⲣⲟ">
ϩⲁⲣⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u235" func="obl" head="#u233" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲁⲓ">
<norm_group norm_group="ⲛⲟⲩⲁⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u236" func="case" head="#u237" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩⲁⲓ">
<norm xml:id="u237" func="obj" head="#u233" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲁⲓ">
ⲟⲩⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲥⲉⲣⲁⲫⲓⲙ">
<norm_group norm_group="ⲛⲛⲓⲥⲉⲣⲁⲫⲓⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u238" func="case" head="#u240" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u239" func="det" head="#u240" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲉⲣⲁⲫⲓⲙ">
<norm xml:id="u240" func="nmod" head="#u237" pos="N" lemma="ⲥⲉⲣⲁⲫⲓⲙ" norm="ⲥⲉⲣⲁⲫⲓⲙ">
ⲥⲉⲣⲁⲫⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u241" func="cc" head="#u244" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲣⲉ">
<norm_group norm_group="ⲛⲉⲣⲉ">
<orig orig="ⲛ">
<norm xml:id="u242" func="dislocated" head="#u244" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲉⲣⲉ">
<norm xml:id="u243" func="mark" head="#u244" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟⲛ">
<norm_group norm_group="ⲟⲩⲟⲛ">
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u244" func="conj" head="#u233" pos="EXIST" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩϫⲉⲃⲥ">
<norm_group norm_group="ⲟⲩϫⲉⲃⲥ">
<orig orig="ⲟⲩ">
<norm xml:id="u245" func="det" head="#u246" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϫⲉⲃⲥ">
<norm xml:id="u246" func="nsubj" head="#u244" pos="N" lemma="ϫⲉⲃⲥ" norm="ϫⲉⲃⲥ">
ϫⲉⲃⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧⲉϥϫⲓϫ">
<norm_group norm_group="ϧⲉⲛⲧⲉϥϫⲓϫ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u247" func="case" head="#u249" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u248" func="nmod:poss" head="#u249" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u249" func="obl" head="#u244" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲏⲉⲧⲁϥϭⲓⲧⲥ">
<norm_group norm_group="ⲑⲏⲉⲧⲁϥϭⲓⲧⲥ">
<orig orig="ⲑⲏⲉⲧⲁ">
<norm xml:id="u250" func="aux" head="#u252" pos="ADV" lemma="ⲑⲏⲉⲧⲁ" norm="ⲑⲏⲉⲧⲁ">
ⲑⲏⲉⲧⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u251" func="nsubj" head="#u252" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϭⲓⲧ">
<norm xml:id="u252" func="conj" head="#u244" pos="V" lemma="ϭⲓ" norm="ϭⲓⲧ">
ϭⲓⲧ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u253" func="obj" head="#u252" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϯⲉϭⲟⲩ">
<norm_group norm_group="ϧⲉⲛϯⲉϭⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u254" func="case" head="#u256" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u255" func="det" head="#u256" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲉϭⲟⲩ">
<norm xml:id="u256" func="obl" head="#u252" pos="N" lemma="ⲉϭⲟⲩ" norm="ⲉϭⲟⲩ">
ⲉϭⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϩⲓϫⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϩⲓϫⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u257" func="case" head="#u260" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u258" func="fixed" head="#u257" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲡⲓⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<orig orig="ⲡⲓ">
<norm xml:id="u259" func="det" head="#u260" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<norm xml:id="u260" func="nmod" head="#u256" pos="N" lemma="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ" norm="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<morph morph="ⲙⲁⲛ">
ⲙⲁⲛ
</morph>
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϣⲱⲟⲩϣⲓ">
ϣⲱⲟⲩϣⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u261" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="and he touched my mouth, and said, Behold, this has touched thy lips, and will take away thine iniquities, and will purge off thy sins.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u262" func="cc" head="#u265" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϭⲓⲛⲉⲙ">
<norm_group norm_group="ⲁϥϭⲓⲛⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u263" func="aux" head="#u265" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u264" func="nsubj" head="#u265" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϭⲓⲛⲉⲙ">
<norm xml:id="u265" func="root" pos="V" lemma="ϭⲓⲛⲉⲙ" norm="ϭⲓⲛⲉⲙ">
ϭⲓⲛⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲱⲓ">
<norm_group norm_group="ⲣⲱⲓ">
<orig orig="ⲣⲱ">
<norm xml:id="u266" func="obj" head="#u265" pos="N" lemma="ⲣⲟ" norm="ⲣⲱ">
ⲣⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u267" func="nmod:poss" head="#u266" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲁϥ">
<norm_group norm_group="ⲡⲉϫⲁϥ">
<orig orig="ⲡⲉϫⲁ">
<norm xml:id="u268" func="parataxis" head="#u265" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲁ">
ⲡⲉϫⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u269" func="nsubj" head="#u268" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u270" func="case" head="#u271" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u271" func="obl" head="#u268" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϩⲏⲡⲡⲉ">
<norm_group norm_group="ϫⲉϩⲏⲡⲡⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u272" func="mark" head="#u276" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u273" func="mark" head="#u276" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ">
<norm_group norm_group="ⲁ">
<orig orig="ⲁ">
<norm xml:id="u274" func="aux" head="#u276" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲁⲓ">
<norm_group norm_group="ⲫⲁⲓ">
<orig orig="ⲫⲁⲓ">
<norm xml:id="u275" func="nsubj" head="#u276" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϭⲓⲛⲉⲙ">
<norm_group norm_group="ϭⲓⲛⲉⲙ">
<orig orig="ϭⲓ">
<norm xml:id="u276" func="ccomp" head="#u268" pos="V" lemma="ϭⲓ" norm="ϭⲓ">
ϭⲓ
</norm>
</orig>
<orig orig="ⲛⲉⲙ">
<norm xml:id="u277" func="case" head="#u279" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕⲥ̀ⲫⲟⲧⲟⲩ">
<norm_group norm_group="ⲛⲉⲕⲥⲫⲟⲧⲟⲩ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u278" func="nmod:poss" head="#u279" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲥ̀ⲫⲟⲧⲟⲩ">
<norm xml:id="u279" func="obl" head="#u276" pos="N" lemma="ⲥⲫⲟⲧⲟⲩ" norm="ⲥⲫⲟⲧⲟⲩ">
ⲥ̀ⲫⲟⲧⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟⲉϥⲉ̀ⲱⲗⲓ">
<norm_group norm_group="ⲟⲩⲟⲉϥⲉⲱⲗⲓ">
<orig orig="ⲟⲩⲟⲉϥⲉ̀ⲱⲗⲓ">
<norm xml:id="u280" func="parataxis" head="#u276" pos="V" lemma="ⲟⲩⲟⲉϥⲉⲱⲗⲓ" norm="ⲟⲩⲟⲉϥⲉⲱⲗⲓ">
ⲟⲩⲟⲉϥⲉ̀ⲱⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm_group norm_group="ⲛⲛⲉⲕⲁⲛⲟⲙⲓⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u281" func="case" head="#u283" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u282" func="nmod:poss" head="#u283" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲟⲙⲓⲁ̀">
<norm xml:id="u283" func="obl" head="#u280" pos="N" lemma="ⲁⲛⲟⲙⲓⲁ" norm="ⲁⲛⲟⲙⲓⲁ">
<lang lang="Greek">
ⲁ̀ⲛⲟⲙⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u284" func="cc" head="#u286" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕⲛⲟⲃⲓ">
<norm_group norm_group="ⲛⲉⲕⲛⲟⲃⲓ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u285" func="nmod:poss" head="#u286" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲛⲟⲃⲓ">
<norm xml:id="u286" func="conj" head="#u280" pos="N" lemma="ⲛⲟⲃⲓ" norm="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲧⲟⲩⲃⲱⲟⲩ">
<norm_group norm_group="ⲉϥⲉⲧⲟⲩⲃⲱⲟⲩ">
<orig orig="ⲉ">
<norm xml:id="u287" func="mark" head="#u291" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u288" func="nsubj" head="#u291" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲉ̀">
<norm xml:id="u289" func="case" head="#u291" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲧⲟⲩ">
<norm xml:id="u290" func="nmod:poss" head="#u291" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ⲃⲱⲟⲩ">
<norm xml:id="u291" func="advcl" head="#u280" pos="N" lemma="ⲃⲱⲟⲩ" norm="ⲃⲱⲟⲩ">
ⲃⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u292" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="And I heard the voice of the Lord, saying, Whom shall I send, and who will go to this people? And I said, behold, I am here, send me. And he said, Go, and say to this people,">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u293" func="cc" head="#u296" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲁⲓⲥⲱⲧⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u294" func="aux" head="#u296" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u295" func="nsubj" head="#u296" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u296" func="root" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲧ̀ⲥ̀ⲙⲏ">
<norm_group norm_group="ⲉⲧⲥⲙⲏ">
<orig orig="ⲉ̀">
<norm xml:id="u297" func="case" head="#u299" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u298" func="det" head="#u299" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲏ">
<norm xml:id="u299" func="obl" head="#u296" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥ̀ⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲙⲡϭⲟⲉⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u300" func="case" head="#u302" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u301" func="det" head="#u302" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u302" func="nmod" head="#u299" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϫⲱ">
<norm_group norm_group="ⲉϥϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u303" func="mark" head="#u305" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u304" func="nsubj" head="#u305" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u305" func="advcl" head="#u296" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u306" func="case" head="#u307" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u307" func="expl" head="#u305" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϩⲏⲡⲡⲉ">
<norm_group norm_group="ϫⲉϩⲏⲡⲡⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u308" func="mark" head="#u312" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u309" func="advmod" head="#u312" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲟⲩⲟⲣⲡϥ">
<norm_group norm_group="ϯⲛⲁⲟⲩⲟⲣⲡϥ">
<orig orig="ϯ">
<norm xml:id="u310" func="nsubj" head="#u312" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u311" func="aux" head="#u312" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲣⲡ">
<norm xml:id="u312" func="ccomp" head="#u305" pos="V" lemma="ⲟⲩⲟⲣⲡ" norm="ⲟⲩⲟⲣⲡ">
ⲟⲩⲟⲣⲡ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u313" func="obj" head="#u312" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u314" func="cc" head="#u315" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u315" func="conj" head="#u312" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲛⲁϣ̀ϣⲉ">
<norm_group norm_group="ⲉⲑⲛⲁϣϣⲉ">
<orig orig="ⲉⲑ">
<norm xml:id="u316" func="mark" head="#u317" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲑ">
ⲉⲑ
</norm>
</orig>
<orig orig="ⲛⲁϣ̀ϣⲉ">
<norm xml:id="u317" func="acl:relcl" head="#u315" pos="V" lemma="ⲛⲁϣϣⲉ" norm="ⲛⲁϣϣⲉ">
ⲛⲁϣ̀ϣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲡⲁⲓⲗⲁⲟⲥ">
<norm_group norm_group="ϩⲁⲡⲁⲓⲗⲁⲟⲥ">
<orig orig="ϩⲁ">
<norm xml:id="u318" func="case" head="#u320" pos="PREP" lemma="ϩⲁ" norm="ϩⲁ">
ϩⲁ
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u319" func="det" head="#u320" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u320" func="obl" head="#u317" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u321" func="cc" head="#u322" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲏⲓ">
<norm_group norm_group="ⲡⲉϫⲏⲓ">
<orig orig="ⲡⲉϫⲏⲓ">
<norm xml:id="u322" func="conj" head="#u312" pos="N" lemma="ⲡⲉϫⲏⲓ" norm="ⲡⲉϫⲏⲓ">
ⲡⲉϫⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϩⲏⲡⲡⲉ">
<norm_group norm_group="ϫⲉϩⲏⲡⲡⲉ">
<orig orig="ϫⲉ">
<norm xml:id="u323" func="mark" head="#u326" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u324" func="ccomp" head="#u322" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u325" func="nsubj" head="#u326" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲱⲣⲡ">
<norm_group norm_group="ⲟⲩⲱⲣⲡ">
<orig orig="ⲟⲩⲱⲣⲡ">
<norm xml:id="u326" func="ccomp" head="#u322" pos="V" lemma="ⲟⲩⲱⲣⲡ" norm="ⲟⲩⲱⲣⲡ">
ⲟⲩⲱⲣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲓ">
<norm_group norm_group="ⲙⲙⲟⲓ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u327" func="case" head="#u328" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u328" func="obl" head="#u326" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u329" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="Ye shall hear indeed, but ye shall not understand; and ye shall see indeed, but ye shall not perceive.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u330" func="cc" head="#u331" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲁϥ">
<norm_group norm_group="ⲡⲉϫⲁϥ">
<orig orig="ⲡⲉϫⲁ">
<norm xml:id="u331" func="root" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲁ">
ⲡⲉϫⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u332" func="nsubj" head="#u331" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲙⲁϣⲉⲛⲁⲕ">
<norm_group norm_group="ϫⲉⲙⲁϣⲉⲛⲁⲕ">
<orig orig="ϫⲉ">
<norm xml:id="u333" func="mark" head="#u335" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲙⲁϣⲉⲛⲁⲕ">
<norm xml:id="u334" func="ccomp" head="#u335" pos="NPROP" lemma="ⲙⲁϣⲉⲛⲁⲕ" norm="ⲙⲁϣⲉⲛⲁⲕ">
ⲙⲁϣⲉⲛⲁⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ϫⲟⲥ">
<norm_group norm_group="ⲁϫⲟⲥ">
<orig orig="ⲁ̀ϫⲟ">
<norm xml:id="u335" func="ccomp" head="#u331" pos="V" lemma="ϫⲱ" norm="ⲁϫⲟ">
ⲁ̀ϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u336" func="expl" head="#u335" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁⲓⲗⲁⲟⲥ">
<norm_group norm_group="ⲙⲡⲁⲓⲗⲁⲟⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u337" func="case" head="#u339" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u338" func="det" head="#u339" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u339" func="obl" head="#u335" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϧⲉⲛⲟⲩⲥ̀ⲙⲏ">
<norm_group norm_group="ϫⲉϧⲉⲛⲟⲩⲥⲙⲏ">
<orig orig="ϫⲉ">
<norm xml:id="u340" func="mark" head="#u346" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u341" func="case" head="#u343" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u342" func="det" head="#u343" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲏ">
<norm xml:id="u343" func="obl" head="#u346" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥ̀ⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲧⲉⲛⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲉⲣⲉⲧⲉⲛⲥⲱⲧⲉⲙ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u344" func="mark" head="#u346" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲧⲉⲛ">
<norm xml:id="u345" func="nsubj" head="#u346" pos="PPERS" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲧⲉⲛ">
ⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u346" func="ccomp" head="#u335" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u347" func="cc" head="#u350" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲧⲉⲛⲕⲁϯ">
<norm_group norm_group="ⲛⲛⲉⲧⲉⲛⲕⲁϯ">
<orig orig="ⲛ̀">
<norm xml:id="u348" func="aux" head="#u350" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲧⲉⲛ">
<norm xml:id="u349" func="nsubj" head="#u350" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲛⲉⲧⲉⲛ">
ⲛⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲕⲁϯ">
<norm xml:id="u350" func="conj" head="#u346" pos="N" lemma="ⲕⲁϯ" norm="ⲕⲁϯ">
ⲕⲁϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u351" func="cc" head="#u356" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲛⲁⲩ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲛⲁⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u352" func="case" head="#u354" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u353" func="det" head="#u354" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u354" func="obl" head="#u356" pos="N" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲧⲉⲛⲉ̀ⲛⲁⲩ">
<norm_group norm_group="ⲉⲣⲉⲧⲉⲛⲉⲛⲁⲩ">
<orig orig="ⲉⲣⲉⲧⲉⲛⲉ̀">
<norm xml:id="u355" func="nsubj" head="#u356" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲧⲉⲛ" norm="ⲉⲣⲉⲧⲉⲛⲉ">
ⲉⲣⲉⲧⲉⲛⲉ̀
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u356" func="conj" head="#u346" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u357" func="cc" head="#u360" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲧⲉⲛⲛⲁⲩ">
<norm_group norm_group="ⲛⲛⲉⲧⲉⲛⲛⲁⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u358" func="aux" head="#u360" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲧⲉⲛ">
<norm xml:id="u359" func="nsubj" head="#u360" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲛⲉⲧⲉⲛ">
ⲛⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u360" func="conj" head="#u346" pos="N" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u361" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="For the heart of this people has become gross, and their ears are dull of hearing, and their eyes have they closed; lest they should see with their eyes, and hear with their ears, and understand with their heart, and be converted, and I should heal them.">
<orig_group orig_group="ⲁϥⲟⲩⲙⲟⲧ">
<norm_group norm_group="ⲁϥⲟⲩⲙⲟⲧ">
<orig orig="ⲁ">
<norm xml:id="u362" func="aux" head="#u364" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u363" func="nsubj" head="#u364" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲟⲩⲙⲟⲧ">
<norm xml:id="u364" func="root" pos="V" lemma="ⲟⲩⲙⲟⲧ" norm="ⲟⲩⲙⲟⲧ">
ⲟⲩⲙⲟⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲅⲁⲣ">
<norm_group norm_group="ⲅⲁⲣ">
<orig orig="ⲅⲁⲣ">
<norm xml:id="u365" func="advmod" head="#u364" pos="PTC" lemma="ⲅⲁⲣ" norm="ⲅⲁⲣ">
<lang lang="Greek">
ⲅⲁⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ϩⲏⲧ">
<norm_group norm_group="ⲛϫⲉⲡϩⲏⲧ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u366" func="case" head="#u368" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u367" func="det" head="#u368" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u368" func="dislocated" head="#u364" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲁⲓⲗⲁⲟⲥ">
<norm_group norm_group="ⲙⲡⲁⲓⲗⲁⲟⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u369" func="case" head="#u371" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u370" func="det" head="#u371" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u371" func="nmod" head="#u368" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u372" func="cc" head="#u378" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲙⲁϣϫ">
<norm_group norm_group="ⲛⲟⲩⲙⲁϣϫ">
<orig orig="ⲛ">
<norm xml:id="u373" func="case" head="#u375" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u374" func="det" head="#u375" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁϣϫ">
<norm xml:id="u375" func="obl" head="#u378" pos="N" lemma="ⲙⲁϣϫ" norm="ⲙⲁϣϫ">
ⲙⲁϣϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϩ̀ⲣⲟϣ">
<norm_group norm_group="ⲁⲩϩⲣⲟϣ">
<orig orig="ⲁ">
<norm xml:id="u376" func="aux" head="#u378" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u377" func="nsubj" head="#u378" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩ̀ⲣⲟϣ">
<norm xml:id="u378" func="conj" head="#u364" pos="V" lemma="ϩⲣⲟϣ" norm="ϩⲣⲟϣ">
ϩ̀ⲣⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲉⲡⲥⲱⲧⲉⲙ">
<orig orig="ⲉ̀">
<norm xml:id="u379" func="case" head="#u381" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u380" func="det" head="#u381" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u381" func="obl" head="#u378" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u382" func="cc" head="#u378" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲙⲁϣⲑⲁⲙ">
<norm_group norm_group="ⲁⲩⲙⲁϣⲑⲁⲙ">
<orig orig="ⲁ">
<norm xml:id="u383" func="aux" head="#u385" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u384" func="nsubj" head="#u385" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲙⲁϣⲑⲁⲙ">
<norm xml:id="u385" func="conj" head="#u364" pos="V" lemma="ⲙⲁϣⲑⲁⲙ" norm="ⲙⲁϣⲑⲁⲙ">
ⲙⲁϣⲑⲁⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩⲃⲁⲗ">
<norm_group norm_group="ⲛⲛⲟⲩⲃⲁⲗ">
<orig orig="ⲛ̀">
<norm xml:id="u386" func="case" head="#u388" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u387" func="nmod:poss" head="#u388" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲃⲁⲗ">
<norm xml:id="u388" func="obj" head="#u385" pos="N" lemma="ⲃⲁⲗ" norm="ⲃⲁⲗ">
ⲃⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲏⲡⲱⲥ">
<norm_group norm_group="ⲙⲏⲡⲱⲥ">
<orig orig="ⲙⲏⲡⲱⲥ">
<norm xml:id="u389" func="mark" head="#u392" pos="CONJ" lemma="ⲙⲏⲡⲱⲥ" norm="ⲙⲏⲡⲱⲥ">
<lang lang="Greek">
ⲙⲏⲡⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲟⲩⲛⲁⲩ">
<norm_group norm_group="ⲛⲧⲟⲩⲛⲁⲩ">
<orig orig="ⲛ̀ⲧ">
<norm xml:id="u390" func="aux" head="#u392" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧ">
ⲛ̀ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u391" func="nsubj" head="#u392" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u392" func="advcl" head="#u378" pos="V" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲟⲩⲃⲁⲗ">
<norm_group norm_group="ϧⲉⲛⲛⲟⲩⲃⲁⲗ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u393" func="case" head="#u395" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u394" func="nmod:poss" head="#u395" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲃⲁⲗ">
<norm xml:id="u395" func="obl" head="#u392" pos="N" lemma="ⲃⲁⲗ" norm="ⲃⲁⲗ">
ⲃⲁⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u396" func="cc" head="#u399" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲟⲩⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲛⲧⲟⲩⲥⲱⲧⲉⲙ">
<orig orig="ⲛ̀ⲧ">
<norm xml:id="u397" func="aux" head="#u399" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧ">
ⲛ̀ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u398" func="nsubj" head="#u399" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u399" func="conj" head="#u392" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲟⲩⲙⲁϣϫ">
<norm_group norm_group="ϧⲉⲛⲛⲟⲩⲙⲁϣϫ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u400" func="case" head="#u402" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u401" func="nmod:poss" head="#u402" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁϣϫ">
<norm xml:id="u402" func="obl" head="#u399" pos="N" lemma="ⲙⲁϣϫ" norm="ⲙⲁϣϫ">
ⲙⲁϣϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u403" func="cc" head="#u406" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲟⲩⲕⲁϯ">
<norm_group norm_group="ⲛⲧⲟⲩⲕⲁϯ">
<orig orig="ⲛ̀ⲧ">
<norm xml:id="u404" func="aux" head="#u406" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧ">
ⲛ̀ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u405" func="nsubj" head="#u406" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲁϯ">
<norm xml:id="u406" func="conj" head="#u392" pos="V" lemma="ⲕⲁϯ" norm="ⲕⲁϯ">
ⲕⲁϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲟⲩϩⲏⲧ">
<norm_group norm_group="ϧⲉⲛⲡⲟⲩϩⲏⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u407" func="case" head="#u409" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲟⲩ">
<norm xml:id="u408" func="nmod:poss" head="#u409" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲡⲟⲩ">
ⲡⲟⲩ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u409" func="obl" head="#u406" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u410" func="cc" head="#u413" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲟⲩⲕⲟⲧⲟⲩ">
<norm_group norm_group="ⲛⲧⲟⲩⲕⲟⲧⲟⲩ">
<orig orig="ⲛ̀ⲧ">
<norm xml:id="u411" func="aux" head="#u413" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧ">
ⲛ̀ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u412" func="nsubj" head="#u413" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲟⲧ">
<norm xml:id="u413" func="conj" head="#u364" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲟⲧ">
ⲕⲟⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u414" func="obj" head="#u413" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟⲓ">
<norm_group norm_group="ⲉⲣⲟⲓ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u415" func="case" head="#u416" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u416" func="obl" head="#u413" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲁⲧⲟⲩϫⲱⲟⲩ">
<norm_group norm_group="ⲛⲧⲁⲧⲟⲩϫⲱⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u417" func="case" head="#u420" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲁ">
<norm xml:id="u418" func="nmod:poss" head="#u420" pos="PPOS" lemma="ⲫⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ⲧⲟⲩ">
<norm xml:id="u419" func="nmod:poss" head="#u420" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ϫⲱⲟⲩ">
<norm xml:id="u420" func="obl" head="#u413" pos="N" lemma="ϫⲱⲟⲩ" norm="ϫⲱⲟⲩ">
ϫⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u421" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="And I said, How long, O Lord? And he said, Until cities be deserted by reason of their not being inhabited, and the houses by reason of there being no men, and the land shall be left desolate.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u422" func="cc" head="#u423" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲏⲓ">
<norm_group norm_group="ⲡⲉϫⲏⲓ">
<orig orig="ⲡⲉϫⲏⲓ">
<norm xml:id="u423" func="advmod" head="#u427" pos="N" lemma="ⲡⲉϫⲏⲓ" norm="ⲡⲉϫⲏⲓ">
ⲡⲉϫⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϣⲁⲑ̀ⲛⲁⲩ">
<norm_group norm_group="ϫⲉϣⲁⲧⲛⲁⲩ">
<orig orig="ϫⲉ">
<norm xml:id="u424" func="mark" head="#u427" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϣⲁ">
<norm xml:id="u425" func="aux" head="#u427" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲑ̀">
<norm xml:id="u426" func="det" head="#u427" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ̀
</norm>
</orig>
<orig orig="ⲛⲁⲩ">
<norm xml:id="u427" func="root" pos="N" lemma="ⲛⲁⲩ" norm="ⲛⲁⲩ">
ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ϫⲉⲡϭⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u428" func="mark" head="#u427" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u429" func="ccomp" head="#u427" pos="N" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u430" func="cc" head="#u431" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲁϥ">
<norm_group norm_group="ⲡⲉϫⲁϥ">
<orig orig="ⲡⲉϫⲁ">
<norm xml:id="u431" func="conj" head="#u423" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲁ">
ⲡⲉϫⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u432" func="nsubj" head="#u431" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉϣⲁⲧⲟⲩϣⲱϥ">
<norm_group norm_group="ϫⲉϣⲁⲧⲟⲩϣⲱϥ">
<orig orig="ϫⲉ">
<norm xml:id="u433" func="mark" head="#u436" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ϣⲁⲧ">
<norm xml:id="u434" func="aux" head="#u436" pos="ALIM" lemma="ϣⲁⲧ" norm="ϣⲁⲧ">
ϣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u435" func="nsubj" head="#u436" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲱϥ">
<norm xml:id="u436" func="advcl" head="#u440" pos="V" lemma="ϣⲱϥ" norm="ϣⲱϥ">
ϣⲱϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲃⲁⲕⲓ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲃⲁⲕⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u437" func="case" head="#u439" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u438" func="det" head="#u439" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u439" func="dislocated" head="#u436" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛ">
<norm_group norm_group="ⲙⲙⲟⲛ">
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u440" func="parataxis" head="#u431" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲧϣⲟⲡ">
<norm_group norm_group="ⲡⲉⲧϣⲟⲡ">
<orig orig="ⲡ">
<norm xml:id="u441" func="nsubj" head="#u440" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲧ">
<norm xml:id="u442" func="mark" head="#u443" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u443" func="acl:relcl" head="#u441" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏⲧⲟⲩ">
<norm_group norm_group="ⲛϧⲏⲧⲟⲩ">
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u444" func="case" head="#u445" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u445" func="obl" head="#u443" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛⲏⲓ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛⲏⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u446" func="cc" head="#u448" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u447" func="det" head="#u448" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u448" func="obl" head="#u443" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲉϫⲉⲙ̀ⲙⲟⲛ">
<norm_group norm_group="ⲉⲑⲃⲉϫⲉⲙⲙⲟⲛ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u449" func="mark" head="#u451" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ϫⲉ">
<norm xml:id="u450" func="fixed" head="#u449" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u451" func="advcl" head="#u440" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲱⲙⲓ">
<norm_group norm_group="ⲣⲱⲙⲓ">
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u452" func="nsubj" head="#u451" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u453" func="cc" head="#u457" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u454" func="det" head="#u455" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u455" func="dislocated" head="#u457" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲥⲟϫⲡϥ">
<norm_group norm_group="ⲉⲩⲉⲥⲟϫⲡϥ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u456" func="nsubj" head="#u457" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲥⲟϫⲡ">
<norm xml:id="u457" func="conj" head="#u440" pos="V" lemma="ⲥⲱϫⲡ" norm="ⲥⲟϫⲡ">
ⲥⲟϫⲡ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u458" func="obj" head="#u457" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥϣⲏϥ">
<norm_group norm_group="ⲉϥϣⲏϥ">
<orig orig="ⲉ">
<norm xml:id="u459" func="mark" head="#u461" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u460" func="nsubj" head="#u461" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲏϥ">
<norm xml:id="u461" func="advcl" head="#u457" pos="VSTAT" lemma="ϣⲱϥ" norm="ϣⲏϥ">
ϣⲏϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u462" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="And after this God shall remove the men far off, and they that are left upon the land shall be multiplied.">
<orig_group orig_group="ⲙⲉⲛⲉⲛⲥⲁⲛⲁⲓ">
<norm_group norm_group="ⲙⲉⲛⲉⲛⲥⲁⲛⲁⲓ">
<orig orig="ⲙⲉⲛⲉⲛⲥⲁ">
<norm xml:id="u463" func="case" head="#u464" new_sent="true" pos="PREP" lemma="ⲙⲉⲛⲉⲛⲥⲁ" norm="ⲙⲉⲛⲉⲛⲥⲁ">
ⲙⲉⲛⲉⲛⲥⲁ
</norm>
</orig>
<orig orig="ⲛⲁⲓ">
<norm xml:id="u464" func="obl" head="#u472" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u465" func="det" head="#u466" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u466" func="nsubj" head="#u472" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲑ̀ⲣⲉ">
<norm_group norm_group="ⲛⲁⲧⲣⲉ">
<orig orig="ⲛⲁ">
<norm xml:id="u467" func="aux" head="#u472" pos="PREP" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲑ̀">
<norm xml:id="u468" func="det" head="#u469" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ̀
</norm>
</orig>
<orig orig="ⲣⲉ">
<norm xml:id="u469" func="nsubj" head="#u472" pos="N" lemma="ⲣⲟ" norm="ⲣⲉ">
ⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲓⲣⲱⲙⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u470" func="det" head="#u471" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u471" func="appos" head="#u469" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲱⲥⲕ">
<norm_group norm_group="ⲱⲥⲕ">
<orig orig="ⲱⲥⲕ">
<norm xml:id="u472" func="root" pos="V" lemma="ⲱⲥⲕ" norm="ⲱⲥⲕ">
ⲱⲥⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u473" func="cc" head="#u477" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲑⲛⲁⲥⲱϫⲡ">
<norm_group norm_group="ⲛⲏⲉⲑⲛⲁⲥⲱϫⲡ">
<orig orig="ⲛⲏⲉⲑⲛⲁ">
<norm xml:id="u474" func="nsubj" head="#u475" pos="PPOS" lemma="ⲛⲏⲉⲑⲛⲁ" norm="ⲛⲏⲉⲑⲛⲁ">
ⲛⲏⲉⲑⲛⲁ
</norm>
</orig>
<orig orig="ⲥⲱϫⲡ">
<norm xml:id="u475" func="advcl" head="#u477" pos="N" lemma="ⲥⲱϫⲡ" norm="ⲥⲱϫⲡ">
ⲥⲱϫⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲁ̀ϣⲁⲓ">
<norm_group norm_group="ⲉⲩⲉⲁϣⲁⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u476" func="nsubj" head="#u477" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲁ̀ϣⲁⲓ">
<norm xml:id="u477" func="conj" head="#u472" pos="V" lemma="ⲁϣⲁⲓ" norm="ⲁϣⲁⲓ">
ⲁ̀ϣⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛⲡⲕⲁϩⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u478" func="case" head="#u480" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u479" func="det" head="#u480" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u480" func="obl" head="#u477" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u481" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="And yet there shall be a tenth upon it, and again it shall be for a spoil, as a turpentine tree, and as an acorn when it falls out of its husk.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u482" func="cc" head="#u487" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲗⲓⲛ">
<norm_group norm_group="ⲡⲁⲗⲓⲛ">
<orig orig="ⲡⲁⲗⲓⲛ">
<norm xml:id="u483" func="advmod" head="#u487" pos="ADV" lemma="ⲡⲁⲗⲓⲛ" norm="ⲡⲁⲗⲓⲛ">
<lang lang="Greek">
ⲡⲁⲗⲓⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲛ">
<norm_group norm_group="ⲟⲛ">
<orig orig="ⲟⲛ">
<norm xml:id="u484" func="advmod" head="#u487" pos="ADV" lemma="ⲟⲛ" norm="ⲟⲛ">
ⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲡⲓⲣⲉⲙⲏⲧ">
<norm_group norm_group="ⲉⲣⲉⲡⲓⲣⲉⲙⲏⲧ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u485" func="mark" head="#u487" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲡⲓⲣⲉⲙⲏⲧ">
<norm xml:id="u486" func="nsubj" head="#u487" pos="PPERS" lemma="ⲡⲓⲣⲉⲙⲏⲧ" norm="ⲡⲓⲣⲉⲙⲏⲧ">
ⲡⲓⲣⲉⲙⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲱⲡⲓ">
<norm_group norm_group="ϣⲱⲡⲓ">
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u487" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓⲱⲧϥ">
<norm_group norm_group="ϩⲓⲱⲧϥ">
<orig orig="ϩⲓⲱⲧ">
<norm xml:id="u488" func="case" head="#u489" pos="PREP" lemma="ϩⲓ" norm="ϩⲓⲱⲧ">
ϩⲓⲱⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u489" func="obl" head="#u487" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u490" func="cc" head="#u493" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲗⲓⲛ">
<norm_group norm_group="ⲡⲁⲗⲓⲛ">
<orig orig="ⲡⲁⲗⲓⲛ">
<norm xml:id="u491" func="advmod" head="#u493" pos="ADV" lemma="ⲡⲁⲗⲓⲛ" norm="ⲡⲁⲗⲓⲛ">
<lang lang="Greek">
ⲡⲁⲗⲓⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉϥⲉϣⲱⲡⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u492" func="nsubj" head="#u493" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u493" func="conj" head="#u487" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲉⲡϩⲱⲗⲉⲙ">
<orig orig="ⲉ̀">
<norm xml:id="u494" func="case" head="#u496" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u495" func="det" head="#u496" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u496" func="obl" head="#u493" pos="N" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u497" func="case" head="#u499" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u498" func="det" head="#u499" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u499" func="nmod" head="#u496" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲧⲉⲣⲉⲃⲓⲛⲑⲟⲥ">
<norm_group norm_group="ⲛⲟⲩⲧⲉⲣⲉⲃⲓⲛⲑⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u500" func="case" head="#u502" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u501" func="det" head="#u502" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲧⲉⲣⲉⲃⲓⲛⲑⲟⲥ">
<norm xml:id="u502" func="nmod" head="#u499" pos="N" lemma="ⲧⲉⲣⲉⲃⲓⲛⲑⲟⲥ" norm="ⲧⲉⲣⲉⲃⲓⲛⲑⲟⲥ">
<lang lang="Greek">
ⲧⲉⲣⲉⲃⲓⲛⲑⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲛⲉⲙⲙⲫⲣⲏϯ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u503" func="cc" head="#u506" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲙ̀">
<norm xml:id="u504" func="case" head="#u506" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u505" func="det" head="#u506" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u506" func="conj" head="#u499" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲃⲁⲗⲁⲛⲟⲥ">
<norm_group norm_group="ⲛⲟⲩⲃⲁⲗⲁⲛⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u507" func="case" head="#u509" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u508" func="det" head="#u509" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲃⲁⲗⲁⲛⲟⲥ">
<norm xml:id="u509" func="nmod" head="#u506" pos="N" lemma="ⲃⲁⲗⲁⲛⲟⲥ" norm="ⲃⲁⲗⲁⲛⲟⲥ">
ⲃⲁⲗⲁⲛⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲁⲥϩⲉⲓ">
<norm_group norm_group="ⲉⲁⲥϩⲉⲓ">
<multiword multiword="ⲉ ⲁ">
<orig orig="ⲉ̀">
<norm xml:id="u510" func="mark" head="#u513" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u511" func="aux" head="#u513" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
</multiword>
<orig orig="ⲥ">
<norm xml:id="u512" func="nsubj" head="#u513" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϩⲉⲓ">
<norm xml:id="u513" func="acl:relcl" head="#u509" pos="V" lemma="ϩⲉⲓ" norm="ϩⲉⲓ">
ϩⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u514" func="case" head="#u517" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u515" func="fixed" head="#u514" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲥⲑⲏⲕⲏ">
<norm_group norm_group="ⲧⲉⲥⲑⲏⲕⲏ">
<orig orig="ⲧⲉⲥ">
<norm xml:id="u516" func="nmod:poss" head="#u517" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲧⲉⲥ">
ⲧⲉⲥ
</norm>
</orig>
<orig orig="ⲑⲏⲕⲏ">
<norm xml:id="u517" func="obl" head="#u513" pos="N" lemma="ⲑⲏⲕⲏ" norm="ⲑⲏⲕⲏ">
ⲑⲏⲕⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u518" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
