<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="03" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.amos.bohairic_ed:03" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="30_Amos_03" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="Hear ye this word, O house of Israel, which the Lord has spoken concerning you, and against the whole family whom I brought up out of the land of Egypt, saying,">
<orig_group orig_group="ⲥⲱⲧⲉⲙ">
<norm_group norm_group="ⲥⲱⲧⲉⲙ">
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u1" func="root" new_sent="true" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲁⲓⲥⲁϫⲓ">
<norm_group norm_group="ⲉⲡⲁⲓⲥⲁϫⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u2" func="case" head="#u4" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡⲁⲓ">
<norm xml:id="u3" func="det" head="#u4" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u4" func="obl" head="#u1" pos="N" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲁⲓ">
<norm_group norm_group="ⲫⲁⲓ">
<orig orig="ⲫⲁⲓ">
<norm xml:id="u5" func="appos" head="#u4" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥⲥⲁϫⲓ">
<norm_group norm_group="ⲉⲧⲁϥⲥⲁϫⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u6" func="mark" head="#u9" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u7" func="aux" head="#u9" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u8" func="nsubj" head="#u9" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u9" func="acl:relcl" head="#u5" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟϥ">
<norm_group norm_group="ⲙⲙⲟϥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u10" func="case" head="#u11" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u11" func="obj" head="#u9" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲟⲉⲓⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u12" func="case" head="#u14" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u13" func="det" head="#u14" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u14" func="dislocated" head="#u9" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲑⲏⲛⲟⲩ">
<norm_group norm_group="ⲉϫⲉⲛⲑⲏⲛⲟⲩ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u15" func="case" head="#u16" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲑⲏⲛⲟⲩ">
<norm xml:id="u16" func="obl" head="#u9" pos="PPERO" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲑⲏⲛⲟⲩ">
ⲑⲏⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲙⲡⲓⲥⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u17" func="case" head="#u19" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u18" func="det" head="#u19" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u19" func="nmod" head="#u16" pos="N" lemma="ⲓⲥⲗ" norm="ⲓⲥⲗ">
ⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϧⲁⲫⲩⲗⲏ">
<norm_group norm_group="ⲛⲉⲙϧⲁⲫⲩⲗⲏ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u20" func="cc" head="#u22" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϧⲁ">
<norm xml:id="u21" func="case" head="#u22" pos="PREP" lemma="ϧⲁ" norm="ϧⲁ">
ϧⲁ
</norm>
</orig>
<orig orig="ⲫⲩⲗⲏ">
<norm xml:id="u22" func="conj" head="#u19" pos="N" lemma="ⲫⲩⲗⲏ" norm="ⲫⲩⲗⲏ">
<lang lang="Greek">
ⲫⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u23" func="det" head="#u22" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁⲓⲉ̀ⲛⲟⲩ">
<norm_group norm_group="ⲉⲧⲁⲓⲉⲛⲟⲩ">
<orig orig="ⲉⲧ">
<norm xml:id="u24" func="mark" head="#u27" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u25" func="aux" head="#u27" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u26" func="nsubj" head="#u27" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲉ̀ⲛ">
<norm xml:id="u27" func="acl:relcl" head="#u22" pos="V" lemma="ⲓⲛⲓ" norm="ⲉⲛ">
ⲉ̀ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u28" func="obj" head="#u27" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϣⲱⲓ">
<norm_group norm_group="ⲉⲡϣⲱⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u29" func="case" head="#u31" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u30" func="det" head="#u31" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲓ">
<norm xml:id="u31" func="obl" head="#u27" pos="N" lemma="ϣⲱⲓ" norm="ϣⲱⲓ">
ϣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u32" func="case" head="#u35" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u33" func="fixed" head="#u32" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u34" func="det" head="#u35" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u35" func="obl" head="#u27" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲭⲏⲙⲓ">
<norm_group norm_group="ⲛⲭⲏⲙⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u36" func="case" head="#u37" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲭⲏⲙⲓ">
<norm xml:id="u37" func="nmod" head="#u35" pos="N" lemma="ⲭⲏⲙⲓ" norm="ⲭⲏⲙⲓ">
ⲭⲏⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲓϫⲱ">
<norm_group norm_group="ⲉⲓϫⲱ">
<orig orig="ⲉ">
<norm xml:id="u38" func="mark" head="#u40" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u39" func="nsubj" head="#u40" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u40" func="advcl" head="#u9" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲥ">
<norm_group norm_group="ⲙⲙⲟⲥ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u41" func="case" head="#u42" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u42" func="obj" head="#u40" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u43" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="You especially have I known out of all the families of the earth: therefore will I take vengeance upon you for all your sins.">
<orig_group orig_group="ϫⲉⲡ̀ⲗⲏⲛ">
<norm_group norm_group="ϫⲉⲡⲗⲏⲛ">
<orig orig="ϫⲉ">
<norm xml:id="u44" func="mark" head="#u49" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀ⲗⲏⲛ">
<norm xml:id="u45" func="advmod" head="#u49" pos="CONJ" lemma="ⲡⲗⲏⲛ" norm="ⲡⲗⲏⲛ">
<lang lang="Greek">
ⲡ̀ⲗⲏⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲱⲧⲉⲛ">
<norm_group norm_group="ⲛⲑⲱⲧⲉⲛ">
<orig orig="ⲛ̀ⲑⲱⲧⲉⲛ">
<norm xml:id="u46" func="dislocated" head="#u49" pos="PPERI" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲛⲑⲱⲧⲉⲛ">
ⲛ̀ⲑⲱⲧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲥⲟⲩⲉⲛ">
<norm_group norm_group="ⲁⲓⲥⲟⲩⲉⲛ">
<orig orig="ⲁ">
<norm xml:id="u47" func="aux" head="#u49" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u48" func="nsubj" head="#u49" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲉⲛ">
<norm xml:id="u49" func="root" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲟⲩⲉⲛ">
ⲥⲟⲩⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲏⲛⲟⲩ">
<norm_group norm_group="ⲑⲏⲛⲟⲩ">
<orig orig="ⲑⲏⲛⲟⲩ">
<norm xml:id="u50" func="obj" head="#u49" pos="PPERO" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲑⲏⲛⲟⲩ">
ⲑⲏⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u51" func="case" head="#u54" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u52" func="fixed" head="#u51" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲫⲩⲗⲏ">
<norm_group norm_group="ⲛⲓⲫⲩⲗⲏ">
<orig orig="ⲛⲓ">
<norm xml:id="u53" func="det" head="#u54" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲩⲗⲏ">
<norm xml:id="u54" func="obl" head="#u49" pos="N" lemma="ⲫⲩⲗⲏ" norm="ⲫⲩⲗⲏ">
<lang lang="Greek">
ⲫⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u55" func="nmod:unmarked" head="#u54" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u56" func="nmod:poss" head="#u55" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛⲧⲉⲡⲕⲁϩⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u57" func="case" head="#u59" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u58" func="det" head="#u59" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u59" func="nmod" head="#u54" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲃⲉⲫⲁⲓ">
<norm_group norm_group="ⲉⲑⲃⲉⲫⲁⲓ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u60" func="case" head="#u61" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u61" func="obl" head="#u64" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϭⲓⲙ̀ⲡ̀ϣⲓϣ">
<norm_group norm_group="ϯⲛⲁϭⲓⲙⲡϣⲓϣ">
<orig orig="ϯ">
<norm xml:id="u62" func="nsubj" head="#u64" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u63" func="aux" head="#u64" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϭⲓⲙ̀ⲡ̀ϣⲓϣ">
<norm xml:id="u64" func="parataxis" head="#u49" pos="V" lemma="ϭⲓⲙⲡϣⲓϣ" norm="ϭⲓⲙⲡϣⲓϣ">
<morph morph="ϭⲓⲙ">
ϭⲓⲙ̀
</morph>
<morph morph="ⲡ">
ⲡ̀
</morph>
<morph morph="ϣⲓϣ">
ϣⲓϣ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲑⲏⲛⲟⲩ">
<norm_group norm_group="ⲉϫⲉⲛⲑⲏⲛⲟⲩ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u65" func="case" head="#u66" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲑⲏⲛⲟⲩ">
<norm xml:id="u66" func="obl" head="#u64" pos="PPERO" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲑⲏⲛⲟⲩ">
ⲑⲏⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲧⲉⲛⲛⲟⲃⲓ">
<norm_group norm_group="ⲛⲛⲉⲧⲉⲛⲛⲟⲃⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u67" func="case" head="#u69" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲧⲉⲛ">
<norm xml:id="u68" func="nmod:poss" head="#u69" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲛⲉⲧⲉⲛ">
ⲛⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲟⲃⲓ">
<norm xml:id="u69" func="obj" head="#u64" pos="N" lemma="ⲛⲟⲃⲓ" norm="ⲛⲟⲃⲓ">
ⲛⲟⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u70" func="nmod:unmarked" head="#u69" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u71" func="nmod:poss" head="#u70" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u72" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Shall two walk together at all, if they do not know one another?">
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u73" func="advmod" head="#u75" new_sent="true" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲙⲟϣⲓ">
<norm_group norm_group="ⲉⲩⲉⲙⲟϣⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u74" func="nsubj" head="#u75" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲙⲟϣⲓ">
<norm xml:id="u75" func="root" pos="V" lemma="ⲙⲟϣⲓ" norm="ⲙⲟϣⲓ">
ⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲃ̅">
<norm_group norm_group="ⲛϫⲉⲃ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u76" func="case" head="#u77" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲃ̅">
<norm xml:id="u77" func="dislocated" head="#u75" pos="NUM" lemma="ⲃ" norm="ⲃ">
ⲃ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲥⲟⲡ">
<norm_group norm_group="ⲉⲩⲥⲟⲡ">
<orig orig="ⲉ">
<norm xml:id="u78" func="case" head="#u80" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u79" func="det" head="#u80" pos="ART" lemma="ⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲟⲡ">
<norm xml:id="u80" func="obl" head="#u75" pos="N" lemma="ⲥⲟⲡ" norm="ⲥⲟⲡ">
ⲥⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲟⲩϣ̀ⲧⲉⲙⲥⲟⲩⲉⲛ">
<norm_group norm_group="ⲛⲧⲟⲩϣⲧⲉⲙⲥⲟⲩⲉⲛ">
<orig orig="ⲛ̀ⲧ">
<norm xml:id="u81" func="aux" head="#u84" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧ">
ⲛ̀ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u82" func="nsubj" head="#u84" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u83" func="advmod" head="#u84" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ⲥⲟⲩⲉⲛ">
<norm xml:id="u84" func="advcl" head="#u75" pos="V" lemma="ⲥⲱⲟⲩⲛ" norm="ⲥⲟⲩⲉⲛ">
ⲥⲟⲩⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲉ̀ⲣⲏⲟⲩ">
<norm_group norm_group="ⲛⲟⲩⲉⲣⲏⲩ">
<orig orig="ⲛ">
<norm xml:id="u85" func="case" head="#u87" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u86" func="det" head="#u87" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉ̀ⲣⲏⲟⲩ">
<norm xml:id="u87" func="obj" head="#u84" pos="N" lemma="ⲉⲣⲏⲟⲩ" norm="ⲉⲣⲏⲟⲩ">
ⲉ̀ⲣⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲧⲏⲣϥ">
<norm_group norm_group="ⲉⲡⲧⲏⲣϥ">
<orig orig="ⲉ̀">
<norm xml:id="u88" func="case" head="#u90" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u89" func="det" head="#u90" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲧⲏⲣϥ">
<norm xml:id="u90" func="obl" head="#u84" pos="N" lemma="ⲧⲏⲣϥ" norm="ⲧⲏⲣϥ">
<morph morph="ⲧⲏⲣ">
ⲧⲏⲣ
</morph>
<morph morph="ϥ">
ϥ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u91" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="Will a lion roar out of his thicket if he has no prey? will a lion's whelp utter his voice at all out of his lair, if he have taken nothing?">
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u92" func="advmod" head="#u94" new_sent="true" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲉⲗϩⲉⲙ">
<norm_group norm_group="ⲉϥⲉⲉⲗϩⲉⲙ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u93" func="nsubj" head="#u94" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲉⲗϩⲉⲙ">
<norm xml:id="u94" func="root" pos="V" lemma="ⲉⲗϩⲉⲙ" norm="ⲉⲗϩⲉⲙ">
ⲉⲗϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲛϫⲉⲟⲩⲙⲟⲩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u95" func="case" head="#u97" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u96" func="det" head="#u97" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u97" func="dislocated" head="#u94" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u98" func="case" head="#u101" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u99" func="fixed" head="#u98" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϥⲓⲁϩϣ̀ϣⲏⲛ">
<norm_group norm_group="ⲡⲉϥⲓⲁϩϣϣⲏⲛ">
<orig orig="ⲡⲉϥ">
<norm xml:id="u100" func="nmod:poss" head="#u101" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲓⲁϩϣ̀ϣⲏⲛ">
<norm xml:id="u101" func="obl" head="#u94" pos="N" lemma="ⲓⲁϩϣϣⲏⲛ" norm="ⲓⲁϩϣϣⲏⲛ">
ⲓⲁϩϣ̀ϣⲏⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛⲧⲉϥ">
<norm_group norm_group="ⲙⲙⲟⲛⲧⲉϥ">
<orig orig="ⲙ̀ⲙⲟⲛⲧⲉ">
<norm xml:id="u102" func="aux" head="#u104" pos="EXIST" lemma="ⲙⲙⲟⲛⲧⲉ" norm="ⲙⲙⲟⲛⲧⲉ">
ⲙ̀ⲙⲟⲛⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u103" func="nsubj" head="#u102" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲟⲣϫⲥ">
<norm_group norm_group="ϫⲟⲣϫⲥ">
<orig orig="ϫⲟⲣϫ">
<norm xml:id="u104" func="parataxis" head="#u94" pos="V" lemma="ϫⲱⲣϫ" norm="ϫⲟⲣϫ">
ϫⲟⲣϫ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u105" func="obj" head="#u104" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u106" func="advmod" head="#u104" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉϣ">
<norm_group norm_group="ⲉⲣⲉϣ">
<orig orig="ⲉ">
<norm xml:id="u107" func="mark" head="#u108" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲣⲉϣ">
<norm xml:id="u108" func="xcomp" head="#u104" pos="V" lemma="ⲣⲱϣⲓ" norm="ⲣⲉϣ">
ⲣⲉϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲙⲁⲥ">
<norm_group norm_group="ⲟⲩⲙⲁⲥ">
<orig orig="ⲟⲩ">
<norm xml:id="u109" func="det" head="#u110" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁⲥ">
<norm xml:id="u110" func="obj" head="#u108" pos="N" lemma="ⲙⲁⲥ" norm="ⲙⲁⲥ">
ⲙⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲙⲙⲟⲩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u111" func="case" head="#u112" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u112" func="nmod" head="#u110" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯ">
<norm_group norm_group="ϯ">
<orig orig="ϯ">
<norm xml:id="u113" func="xcomp" head="#u108" pos="V" lemma="ϯ" norm="ϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϥⲥ̀ⲙⲏ">
<norm_group norm_group="ⲛⲧⲉϥⲥⲙⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u114" func="case" head="#u116" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u115" func="nmod:poss" head="#u116" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲥ̀ⲙⲏ">
<norm xml:id="u116" func="obj" head="#u113" pos="N" lemma="ⲥⲙⲏ" norm="ⲥⲙⲏ">
ⲥ̀ⲙⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u117" func="case" head="#u120" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u118" func="fixed" head="#u117" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϥⲃⲏⲃ">
<norm_group norm_group="ⲡⲉϥⲃⲏⲃ">
<orig orig="ⲡⲉϥ">
<norm xml:id="u119" func="nmod:poss" head="#u120" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲃⲏⲃ">
<norm xml:id="u120" func="obl" head="#u113" pos="N" lemma="ⲃⲏⲃ" norm="ⲃⲏⲃ">
ⲃⲏⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ⲧⲏⲣϥ">
<norm_group norm_group="ⲉⲡⲧⲏⲣϥ">
<orig orig="ⲉ̀">
<norm xml:id="u121" func="case" head="#u123" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u122" func="det" head="#u123" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲧⲏⲣϥ">
<norm xml:id="u123" func="obl" head="#u113" pos="N" lemma="ⲧⲏⲣϥ" norm="ⲧⲏⲣϥ">
<morph morph="ⲧⲏⲣ">
ⲧⲏⲣ
</morph>
<morph morph="ϥ">
ϥ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣ̀ⲧⲉⲙϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲁϥϣⲧⲉⲙϩⲱⲗⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u124" func="aux" head="#u127" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u125" func="nsubj" head="#u127" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u126" func="advmod" head="#u127" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u127" func="parataxis" head="#u113" pos="V" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϩ̀ⲗⲓ">
<norm_group norm_group="ⲛⲟⲩϩⲗⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u128" func="case" head="#u130" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u129" func="det" head="#u130" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩ̀ⲗⲓ">
<norm xml:id="u130" func="obj" head="#u127" pos="N" lemma="ϩⲗⲓ" norm="ϩⲗⲓ">
ϩ̀ⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u131" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="Will a bird fall on the earth without a fowler? will a snare be taken up from the earth without having taken anything?">
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u132" func="advmod" head="#u134" new_sent="true" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϩⲉⲓ">
<norm_group norm_group="ⲉϥⲉϩⲉⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u133" func="nsubj" head="#u134" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϩⲉⲓ">
<norm xml:id="u134" func="root" pos="V" lemma="ϩⲉⲓ" norm="ϩⲉⲓ">
ϩⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩϩⲁⲗⲏⲧ">
<norm_group norm_group="ⲛϫⲉⲟⲩϩⲁⲗⲏⲧ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u135" func="case" head="#u137" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u136" func="det" head="#u137" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲁⲗⲏⲧ">
<norm xml:id="u137" func="dislocated" head="#u134" pos="N" lemma="ϩⲁⲗⲏⲧ" norm="ϩⲁⲗⲏⲧ">
ϩⲁⲗⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲕⲁϩⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u138" func="case" head="#u140" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u139" func="det" head="#u140" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u140" func="obl" head="#u134" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛ">
<norm_group norm_group="ⲙⲙⲟⲛ">
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u141" func="parataxis" head="#u134" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲧϫⲱⲣϫ">
<norm_group norm_group="ⲡⲉⲧϫⲱⲣϫ">
<orig orig="ⲡ">
<norm xml:id="u142" func="nsubj" head="#u141" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲧ">
<norm xml:id="u143" func="mark" head="#u144" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϫⲱⲣϫ">
<norm xml:id="u144" func="acl:relcl" head="#u142" pos="V" lemma="ϫⲱⲣϫ" norm="ϫⲱⲣϫ">
ϫⲱⲣϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u145" func="case" head="#u146" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u146" func="obl" head="#u144" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u147" func="advmod" head="#u144" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉⲟⲩϫⲟⲣϫⲥ">
<norm_group norm_group="ⲉⲣⲉⲟⲩϫⲟⲣϫⲥ">
<orig orig="ⲉⲣⲉ">
<norm xml:id="u148" func="mark" head="#u151" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉⲣⲉ">
ⲉⲣⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u149" func="det" head="#u150" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϫⲟⲣϫⲥ">
<norm xml:id="u150" func="nsubj" head="#u151" pos="N" lemma="ϫⲟⲣϫⲥ" norm="ϫⲟⲣϫⲥ">
ϫⲟⲣϫⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲱⲡⲓ">
<norm_group norm_group="ϣⲱⲡⲓ">
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u151" func="advcl" head="#u141" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲡⲓⲕⲁϩⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛⲡⲓⲕⲁϩⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u152" func="case" head="#u154" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u153" func="det" head="#u154" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u154" func="obl" head="#u151" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩⲉ̀ϣⲉⲛ">
<norm_group norm_group="ⲛⲟⲩⲉϣⲉⲛ">
<orig orig="ⲛⲟⲩⲉ̀ϣⲉⲛ">
<norm xml:id="u155" func="aux" head="#u157" pos="PREP" lemma="ⲛⲟⲩⲉϣⲉⲛ" norm="ⲛⲟⲩⲉϣⲉⲛ">
ⲛⲟⲩⲉ̀ϣⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲁϩⲉ">
<norm_group norm_group="ⲧⲁϩⲉ">
<orig orig="ⲧⲁ">
<norm xml:id="u156" func="nsubj" head="#u157" pos="PPOS" lemma="ⲡⲁ" norm="ⲧⲁ">
ⲧⲁ
</norm>
</orig>
<orig orig="ϩⲉ">
<norm xml:id="u157" func="advcl" head="#u151" pos="N" lemma="ϩⲉ" norm="ϩⲉ">
ϩⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩ̀ⲗⲓ">
<norm_group norm_group="ϩⲗⲓ">
<orig orig="ϩ̀ⲗⲓ">
<norm xml:id="u158" func="obj" head="#u157" pos="N" lemma="ϩⲗⲓ" norm="ϩⲗⲓ">
ϩ̀ⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u159" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="Shall the trumpet sound in the city, and the people not be alarmed? shall there be evil in a city which the Lord has not wrought?">
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u160" func="advmod" head="#u162" new_sent="true" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉϣ">
<norm_group norm_group="ⲉⲣⲉϣ">
<orig orig="ⲉ">
<norm xml:id="u161" func="mark" head="#u162" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲣⲉϣ">
<norm xml:id="u162" func="root" pos="V" lemma="ⲣⲱϣⲓ" norm="ⲣⲉϣ">
ⲣⲉϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<norm_group norm_group="ⲟⲩⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<orig orig="ⲟⲩ">
<norm xml:id="u163" func="det" head="#u164" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<norm xml:id="u164" func="obj" head="#u162" pos="N" lemma="ⲥⲁⲗⲡⲓⲅⲅⲟⲥ" norm="ⲥⲁⲗⲡⲓⲅⲅⲟⲥ">
<lang lang="Greek">
ⲥⲁⲗⲡⲓⲅⲅⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙⲟⲩϯ">
<norm_group norm_group="ⲙⲟⲩϯ">
<orig orig="ⲙⲟⲩϯ">
<norm xml:id="u165" func="xcomp" head="#u162" pos="V" lemma="ⲙⲟⲩϯ" norm="ⲙⲟⲩϯ">
ⲙⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲕⲁϩⲓ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲕⲁϩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u166" func="case" head="#u168" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u167" func="det" head="#u168" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u168" func="obl" head="#u165" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u169" func="cc" head="#u175" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϣ̀ⲧⲉⲙ">
<norm_group norm_group="ⲛⲧⲉϣⲧⲉⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u170" func="aux" head="#u175" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉ">
<norm xml:id="u171" func="nsubj" head="#u175" pos="PPERS" lemma="ⲛⲑⲟ" norm="ⲧⲉ">
ⲧⲉ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u172" func="advmod" head="#u175" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲗⲁⲟⲥ">
<norm_group norm_group="ⲟⲩⲗⲁⲟⲥ">
<orig orig="ⲟⲩ">
<norm xml:id="u173" func="det" head="#u174" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u174" func="nsubj" head="#u175" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϣⲡ">
<norm_group norm_group="ⲛⲟⲩϣⲡ">
<orig orig="ⲛⲟⲩϣⲡ">
<norm xml:id="u175" func="conj" head="#u165" pos="V" lemma="ⲛⲟⲩϣⲡ" norm="ⲛⲟⲩϣⲡ">
ⲛⲟⲩϣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u176" func="advmod" head="#u175" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲣⲉϣ">
<norm_group norm_group="ⲉⲣⲉϣ">
<orig orig="ⲉ">
<norm xml:id="u177" func="mark" head="#u178" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲣⲉϣ">
<norm xml:id="u178" func="xcomp" head="#u175" pos="V" lemma="ⲣⲱϣⲓ" norm="ⲣⲉϣ">
ⲣⲉϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲕⲁⲕⲓⲁ̀">
<norm_group norm_group="ⲟⲩⲕⲁⲕⲓⲁ">
<orig orig="ⲟⲩ">
<norm xml:id="u179" func="det" head="#u180" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲁⲕⲓⲁ̀">
<norm xml:id="u180" func="obj" head="#u178" pos="N" lemma="ⲕⲁⲕⲓⲁ" norm="ⲕⲁⲕⲓⲁ">
<lang lang="Greek">
ⲕⲁⲕⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲱⲡⲓ">
<norm_group norm_group="ϣⲱⲡⲓ">
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u181" func="xcomp" head="#u178" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲃⲁⲕⲓ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲃⲁⲕⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u182" func="case" head="#u184" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u183" func="det" head="#u184" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u184" func="obl" head="#u181" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉ">
<norm_group norm_group="ⲙⲡⲉ">
<orig orig="ⲙ̀">
<norm xml:id="u185" func="case" head="#u186" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉ">
<norm xml:id="u186" func="nmod" head="#u184" pos="COP" lemma="ⲡⲉ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲟⲉⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u187" func="det" head="#u188" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u188" func="appos" head="#u186" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲁⲙⲓⲟⲥ">
<norm_group norm_group="ⲑⲁⲙⲓⲟⲥ">
<orig orig="ⲑⲁⲙⲓⲟ">
<norm xml:id="u189" func="parataxis" head="#u181" pos="V" lemma="ⲑⲁⲙⲓⲟ" norm="ⲑⲁⲙⲓⲟ">
ⲑⲁⲙⲓⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u190" func="obj" head="#u189" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u191" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="For the Lord God will do nothing, without revealing instruction to his servants the prophets.">
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u192" func="mark" head="#u196" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲓ">
<norm xml:id="u193" func="advmod" head="#u196" pos="ADV" lemma="ⲟⲩⲏⲓ" norm="ⲟⲩⲏⲓ">
ⲟⲩⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲓ̀ⲣⲓ">
<norm_group norm_group="ⲛⲛⲉϥⲓⲣⲓ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u194" func="aux" head="#u196" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u195" func="nsubj" head="#u196" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲓ̀ⲣⲓ">
<norm xml:id="u196" func="root" pos="V" lemma="ⲓⲣⲓ" norm="ⲓⲣⲓ">
ⲓ̀ⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϩⲱⲃ">
<norm_group norm_group="ⲛⲟⲩϩⲱⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u197" func="case" head="#u199" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u198" func="det" head="#u199" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲱⲃ">
<norm xml:id="u199" func="obj" head="#u196" pos="N" lemma="ϩⲱⲃ" norm="ϩⲱⲃ">
ϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u200" func="case" head="#u201" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u201" func="dislocated" head="#u196" pos="NPROP" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u202" func="det" head="#u203" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u203" func="appos" head="#u201" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣ̀ⲧⲉⲙϭⲱⲣⲡ">
<norm_group norm_group="ⲁϥϣⲧⲉⲙϭⲱⲣⲡ">
<orig orig="ⲁ">
<norm xml:id="u204" func="aux" head="#u207" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u205" func="nsubj" head="#u207" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u206" func="advmod" head="#u207" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ϭⲱⲣⲡ">
<norm xml:id="u207" func="parataxis" head="#u196" pos="V" lemma="ϭⲱⲣⲡ" norm="ϭⲱⲣⲡ">
ϭⲱⲣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u208" func="advmod" head="#u207" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϥⲥ̀ⲃⲱ">
<norm_group norm_group="ⲛⲧⲉϥⲥⲃⲱ">
<orig orig="ⲛ̀">
<norm xml:id="u209" func="case" head="#u211" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u210" func="nmod:poss" head="#u211" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲥ̀ⲃⲱ">
<norm xml:id="u211" func="obj" head="#u207" pos="N" lemma="ⲥⲃⲱ" norm="ⲥⲃⲱ">
ⲥ̀ⲃⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲉ̀ⲃⲓⲁⲓⲕ">
<norm_group norm_group="ⲛⲛⲉϥⲉⲃⲓⲁⲓⲕ">
<orig orig="ⲛ̀">
<norm xml:id="u212" func="case" head="#u214" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u213" func="nmod:poss" head="#u214" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲉ̀ⲃⲓⲁⲓⲕ">
<norm xml:id="u214" func="nmod" head="#u211" pos="N" lemma="ⲃⲱⲕ" norm="ⲉⲃⲓⲁⲓⲕ">
ⲉ̀ⲃⲓⲁⲓⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲡⲣⲟⲫⲏⲧⲏⲥ">
<norm_group norm_group="ⲛⲓⲡⲣⲟⲫⲏⲧⲏⲥ">
<orig orig="ⲛⲓ">
<norm xml:id="u215" func="det" head="#u216" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲡⲣⲟⲫⲏⲧⲏⲥ">
<norm xml:id="u216" func="appos" head="#u214" pos="N" lemma="ⲡⲣⲟⲫⲏⲧⲏⲥ" norm="ⲡⲣⲟⲫⲏⲧⲏⲥ">
<lang lang="Greek">
ⲡⲣⲟⲫⲏⲧⲏⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u217" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="A lion shall roar, and who will not be alarmed? the Lord God has spoken, and who will not prophesy?">
<orig_group orig_group="ⲟⲩⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲟⲩⲙⲟⲩⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u218" func="det" head="#u219" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u219" func="dislocated" head="#u222" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲱϣ">
<norm_group norm_group="ⲁϥⲱϣ">
<orig orig="ⲁ">
<norm xml:id="u220" func="aux" head="#u222" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u221" func="nsubj" head="#u222" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<multiword multiword="ⲱϣ ⲉⲃⲟⲗ">
<orig orig="ⲱϣ">
<norm xml:id="u222" func="root" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u223" func="advmod" head="#u222" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u224" func="cc" head="#u225" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u225" func="conj" head="#u222" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲉϥⲛⲁⲉⲣϩⲟϯ">
<norm_group norm_group="ⲉⲉϥⲛⲁⲉⲣϩⲟϯ">
<multiword multiword="ⲉ ⲉ">
<orig orig="ⲉ">
<norm xml:id="u226" func="mark" head="#u230" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲉ">
<norm xml:id="u227" func="mark" head="#u230" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
</multiword>
<orig orig="ϥ">
<norm xml:id="u228" func="nsubj" head="#u230" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u229" func="aux" head="#u230" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣϩⲟϯ">
<norm xml:id="u230" func="acl:relcl" head="#u225" pos="V" lemma="ⲉⲣϩⲟϯ" norm="ⲉⲣϩⲟϯ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϩⲟϯ">
ϩⲟϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u231" func="advmod" head="#u230" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲥ">
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u232" func="dislocated" head="#u237" pos="PREP" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u233" func="det" head="#u234" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u234" func="dislocated" head="#u237" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲥⲁϫⲓ">
<norm_group norm_group="ⲁϥⲥⲁϫⲓ">
<orig orig="ⲁ">
<norm xml:id="u235" func="aux" head="#u237" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u236" func="nsubj" head="#u237" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u237" func="parataxis" head="#u222" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u238" func="cc" head="#u239" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙ">
<norm_group norm_group="ⲛⲓⲙ">
<orig orig="ⲛⲓⲙ">
<norm xml:id="u239" func="conj" head="#u237" pos="PINT" lemma="ⲛⲓⲙ" norm="ⲛⲓⲙ">
ⲛⲓⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉϥⲛⲁⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<norm_group norm_group="ⲉⲧⲉϥⲛⲁⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u240" func="mark" head="#u243" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u241" func="nsubj" head="#u243" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u242" func="aux" head="#u243" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<norm xml:id="u243" func="acl:relcl" head="#u239" pos="V" lemma="ⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ" norm="ⲉⲣⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<lang lang="Greek">
<morph morph="ⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ">
ⲡⲣⲟⲫⲏⲧⲉⲩⲓⲛ
</morph>
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u244" func="advmod" head="#u243" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u245" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="Proclaim it to the regions among the Assyrians, and to the regions of Egypt, and say, Gather yourselves to the mountain of Samaria, and behold many wonderful things in the midst of it, and the oppression that is in it.">
<orig_group orig_group="ⲙⲁⲧⲁⲙⲉ">
<norm_group norm_group="ⲙⲁⲧⲁⲙⲉ">
<orig orig="ⲙⲁⲧⲁⲙⲉ">
<norm xml:id="u246" func="discourse" head="#u248" new_sent="true" pos="VIMP" lemma="ⲙⲁⲧⲁⲙⲟ" norm="ⲙⲁⲧⲁⲙⲉ">
ⲙⲁⲧⲁⲙⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲭⲱⲣⲁ">
<norm_group norm_group="ⲛⲓⲭⲱⲣⲁ">
<orig orig="ⲛⲓ">
<norm xml:id="u247" func="det" head="#u248" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲭⲱⲣⲁ">
<norm xml:id="u248" func="root" pos="N" lemma="ⲭⲱⲣⲁ" norm="ⲭⲱⲣⲁ">
<lang lang="Greek">
ⲭⲱⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϧⲉⲛⲛⲓⲁⲥⲥⲩⲣⲓⲟⲥ">
<norm_group norm_group="ⲉⲧϧⲉⲛⲛⲓⲁⲥⲥⲩⲣⲓⲟⲥ">
<orig orig="ⲉⲧ">
<norm xml:id="u249" func="mark" head="#u252" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u250" func="case" head="#u252" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u251" func="det" head="#u252" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁⲥⲥⲩⲣⲓⲟⲥ">
<norm xml:id="u252" func="acl:relcl" head="#u248" pos="N" lemma="ⲁⲥⲥⲩⲣⲓⲟⲥ" norm="ⲁⲥⲥⲩⲣⲓⲟⲥ">
<lang lang="Greek">
ⲁⲥⲥⲩⲣⲓⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲉ̀ϫⲉⲛⲛⲓⲭⲱⲣⲁ">
<norm_group norm_group="ⲛⲉⲙⲉϫⲉⲛⲛⲓⲭⲱⲣⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u253" func="cc" head="#u256" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u254" func="case" head="#u256" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u255" func="det" head="#u256" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲭⲱⲣⲁ">
<norm xml:id="u256" func="conj" head="#u248" pos="N" lemma="ⲭⲱⲣⲁ" norm="ⲭⲱⲣⲁ">
<lang lang="Greek">
ⲭⲱⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲭⲏⲙⲓ">
<norm_group norm_group="ⲛⲧⲉⲭⲏⲙⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u257" func="case" head="#u258" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲭⲏⲙⲓ">
<norm xml:id="u258" func="nmod" head="#u256" pos="NPROP" lemma="ⲭⲏⲙⲓ" norm="ⲭⲏⲙⲓ">
ⲭⲏⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u259" func="cc" head="#u260" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ϫⲟⲥ">
<norm_group norm_group="ⲁϫⲟⲥ">
<orig orig="ⲁ̀ϫⲟ">
<norm xml:id="u260" func="conj" head="#u248" pos="V" lemma="ϫⲱ" norm="ⲁϫⲟ">
ⲁ̀ϫⲟ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u261" func="nsubj" head="#u260" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲑⲱⲟⲩϯ">
<norm_group norm_group="ϫⲉⲑⲱⲟⲩϯ">
<orig orig="ϫⲉ">
<norm xml:id="u262" func="mark" head="#u263" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲑⲱⲟⲩϯ">
<norm xml:id="u263" func="ccomp" head="#u260" pos="V" lemma="ⲑⲱⲟⲩϯ" norm="ⲑⲱⲟⲩϯ">
ⲑⲱⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲓⲧⲱⲟⲩ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲓⲧⲱⲟⲩ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u264" func="case" head="#u266" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u265" func="det" head="#u266" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩ">
<norm xml:id="u266" func="obl" head="#u263" pos="N" lemma="ⲧⲱⲟⲩ" norm="ⲧⲱⲟⲩ">
ⲧⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧ̀ⲥⲁⲙⲁⲣⲓⲁ̀">
<norm_group norm_group="ⲛⲧⲥⲁⲙⲁⲣⲓⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u267" func="case" head="#u269" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u268" func="det" head="#u269" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ⲥⲁⲙⲁⲣⲓⲁ̀">
<norm xml:id="u269" func="nmod" head="#u266" pos="NPROP" lemma="ⲥⲁⲙⲁⲣⲓⲁ" norm="ⲥⲁⲙⲁⲣⲓⲁ">
<lang lang="Hebrew">
ⲥⲁⲙⲁⲣⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u270" func="cc" head="#u271" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲁⲩ">
<norm_group norm_group="ⲁⲛⲁⲩ">
<orig orig="ⲁ̀ⲛⲁⲩ">
<norm xml:id="u271" func="conj" head="#u263" pos="VIMP" lemma="ⲛⲁⲩ" norm="ⲁⲛⲁⲩ">
ⲁ̀ⲛⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩⲁⲛϣ̀ⲫⲏⲣⲓ">
<norm_group norm_group="ⲉϩⲁⲛϣⲫⲏⲣⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u272" func="case" head="#u274" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u273" func="det" head="#u274" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϣ̀ⲫⲏⲣⲓ">
<norm xml:id="u274" func="obl" head="#u271" pos="N" lemma="ϣⲫⲏⲣⲓ" norm="ϣⲫⲏⲣⲓ">
ϣ̀ⲫⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲱϣ">
<norm_group norm_group="ⲉⲩⲱϣ">
<orig orig="ⲉ">
<norm xml:id="u275" func="mark" head="#u277" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u276" func="nsubj" head="#u277" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲱϣ">
<norm xml:id="u277" func="acl:relcl" head="#u274" pos="V" lemma="ⲱϣ" norm="ⲱϣ">
ⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧⲉⲥⲙⲏϯ">
<norm_group norm_group="ϧⲉⲛⲧⲉⲥⲙⲏϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u278" func="case" head="#u280" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲥ">
<norm xml:id="u279" func="nmod:poss" head="#u280" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲧⲉⲥ">
ⲧⲉⲥ
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u280" func="obl" head="#u277" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϯⲙⲉⲧⲣⲉϥϭⲉⲡϫⲱⲣⲓ">
<norm_group norm_group="ⲛⲉⲙϯⲙⲉⲧⲣⲉϥϭⲉⲡϫⲱⲣⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u281" func="cc" head="#u283" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u282" func="det" head="#u283" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲣⲉϥϭⲉⲡϫⲱⲣⲓ">
<norm xml:id="u283" func="conj" head="#u280" pos="N" lemma="ⲙⲉⲧⲣⲉϥϭⲉⲡϫⲱⲣⲓ" norm="ⲙⲉⲧⲣⲉϥϭⲉⲡϫⲱⲣⲓ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲣⲉϥ">
ⲣⲉϥ
</morph>
<morph morph="ϭⲉⲡϫⲱⲣⲓ">
ϭⲉⲡϫⲱⲣⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲛ̀ϧⲏⲧⲥ">
<norm_group norm_group="ⲉⲧⲉⲛϧⲏⲧⲥ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u284" func="mark" head="#u286" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u285" func="case" head="#u286" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u286" func="acl:relcl" head="#u283" pos="PPERO" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u287" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="And she knew not what things would come against her, saith the Lord, even those that store up wrong and misery in their countries.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u288" func="cc" head="#u293" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲥⲉ̀ⲙⲓⲉ̀ⲛⲏⲉⲑⲛⲁϣⲱⲡⲓ">
<norm_group norm_group="ⲙⲡⲉⲥⲉⲙⲓⲉⲛⲏⲉⲑⲛⲁϣⲱⲡⲓ">
<orig orig="ⲙ̀ⲡⲉⲥⲉ̀ⲙⲓⲉ̀ⲛⲏⲉⲑⲛⲁϣⲱⲡⲓ">
<norm xml:id="u289" func="dislocated" head="#u293" pos="N" lemma="ⲙⲡⲉⲥⲉⲙⲓⲉⲛⲏⲉⲑⲛⲁϣⲱⲡⲓ" norm="ⲙⲡⲉⲥⲉⲙⲓⲉⲛⲏⲉⲑⲛⲁϣⲱⲡⲓ">
ⲙ̀ⲡⲉⲥⲉ̀ⲙⲓⲉ̀ⲛⲏⲉⲑⲛⲁϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲥⲙ̀ⲑⲟ">
<norm_group norm_group="ⲙⲡⲉⲥⲙⲑⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u290" func="case" head="#u292" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉⲥ">
<norm xml:id="u291" func="nmod:poss" head="#u292" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲡⲉⲥ">
ⲡⲉⲥ
</norm>
</orig>
<orig orig="ⲙ̀ⲑⲟ">
<norm xml:id="u292" func="nmod" head="#u289" pos="N" lemma="ⲙⲑⲟ" norm="ⲙⲑⲟ">
ⲙ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲉ">
<norm_group norm_group="ⲡⲉϫⲉ">
<orig orig="ⲡⲉϫⲉ">
<norm xml:id="u293" func="root" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲉ">
ⲡⲉϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲟⲉⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u294" func="det" head="#u295" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u295" func="nsubj" head="#u293" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧϩⲓⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲏⲉⲧϩⲓⲟⲩⲓ">
<orig orig="ⲛⲏⲉⲧ">
<norm xml:id="u296" func="mark" head="#u297" pos="PREP" lemma="ⲛⲏⲉⲧ" norm="ⲛⲏⲉⲧ">
ⲛⲏⲉⲧ
</norm>
</orig>
<orig orig="ϩⲓⲟⲩⲓ̀">
<norm xml:id="u297" func="ccomp" head="#u293" pos="V" lemma="ϩⲓⲟⲩⲓ" norm="ϩⲓⲟⲩⲓ">
ϩⲓⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉ̀ϧⲟⲩⲛ">
<norm xml:id="u298" func="advmod" head="#u297" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉ̀ϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϭⲓⲛ̀ϫⲟⲛⲥ">
<norm_group norm_group="ⲛⲟⲩϭⲓⲛϫⲟⲛⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u299" func="case" head="#u301" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u300" func="det" head="#u301" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϭⲓⲛ̀ϫⲟⲛⲥ">
<norm xml:id="u301" func="obj" head="#u297" pos="N" lemma="ϭⲓⲛϫⲟⲛⲥ" norm="ϭⲓⲛϫⲟⲛⲥ">
ϭⲓⲛ̀ϫⲟⲛⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲧⲁⲗⲉⲡⲱⲣⲓⲁ̀">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲧⲁⲗⲉⲡⲱⲣⲓⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u302" func="cc" head="#u304" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u303" func="det" head="#u304" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲧⲁⲗⲉⲡⲱⲣⲓⲁ̀">
<norm xml:id="u304" func="conj" head="#u301" pos="N" lemma="ⲧⲁⲗⲉⲡⲱⲣⲓⲁ" norm="ⲧⲁⲗⲉⲡⲱⲣⲓⲁ">
<lang lang="Greek">
ⲧⲁⲗⲉⲡⲱⲣⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩⲭⲱⲣⲁ">
<norm_group norm_group="ⲛⲛⲟⲩⲭⲱⲣⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u305" func="case" head="#u307" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u306" func="nmod:poss" head="#u307" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲱⲣⲁ">
<norm xml:id="u307" func="nmod" head="#u304" pos="N" lemma="ⲭⲱⲣⲁ" norm="ⲭⲱⲣⲁ">
<lang lang="Greek">
ⲭⲱⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u308" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="Therefore thus saith the Lord God; O Tyre, thy land shall be made desolate round about thee; and he shall bring down thy strength out of thee, and thy countries shall be spoiled.">
<orig_group orig_group="ⲉⲑⲃⲉⲫⲁⲓ">
<norm_group norm_group="ⲉⲑⲃⲉⲫⲁⲓ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u309" func="case" head="#u310" new_sent="true" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u310" func="obl" head="#u311" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u311" func="root" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u312" func="cop" head="#u311" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧⲁϥϫⲱ">
<norm_group norm_group="ⲛⲏⲉⲧⲁϥϫⲱ">
<orig orig="ⲛⲏⲉⲧ">
<norm xml:id="u313" func="nsubj" head="#u311" pos="NPROP" lemma="ⲛⲏⲉⲧ" norm="ⲛⲏⲉⲧ">
ⲛⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u314" func="aux" head="#u316" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u315" func="nsubj" head="#u316" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u316" func="parataxis" head="#u311" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u317" func="case" head="#u318" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u318" func="expl" head="#u316" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u319" func="case" head="#u320" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u320" func="dislocated" head="#u316" pos="NPROP" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫϯ">
<norm_group norm_group="ⲫⲛⲟⲩϯ">
<orig orig="ⲫ">
<norm xml:id="u321" func="det" head="#u322" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u322" func="appos" head="#u320" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲧⲩⲣⲟⲥ">
<norm_group norm_group="ϫⲉⲧⲩⲣⲟⲥ">
<orig orig="ϫⲉ">
<norm xml:id="u323" func="mark" head="#u324" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲧⲩⲣⲟⲥ">
<norm xml:id="u324" func="ccomp" head="#u316" pos="NPROP" lemma="ⲧⲩⲣⲟⲥ" norm="ⲧⲩⲣⲟⲥ">
<lang lang="Greek">
ⲧⲩⲣⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲓⲕⲁϩⲓ">
<orig orig="ⲡⲓ">
<norm xml:id="u325" func="det" head="#u326" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u326" func="appos" head="#u324" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲙ̀ⲡⲉⲕⲱϯ">
<norm_group norm_group="ⲉⲧⲉⲙⲡⲉⲕⲱϯ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u327" func="mark" head="#u329" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ⲙ̀ⲡⲉ">
<norm xml:id="u328" func="aux" head="#u329" pos="ANEGPST" lemma="ⲙⲡⲉ" norm="ⲙⲡⲉ">
ⲙ̀ⲡⲉ
</norm>
</orig>
<orig orig="ⲕⲱϯ">
<norm xml:id="u329" func="acl:relcl" head="#u326" pos="V" lemma="ⲕⲱϯ" norm="ⲕⲱϯ">
ⲕⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϣⲱϥ">
<norm_group norm_group="ⲉϥⲉϣⲱϥ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u330" func="nsubj" head="#u331" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϣⲱϥ">
<norm xml:id="u331" func="acl:relcl" head="#u326" pos="V" lemma="ϣⲱϥ" norm="ϣⲱϥ">
ϣⲱϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u332" func="cc" head="#u334" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲓ̀ⲛⲓ">
<norm_group norm_group="ⲉϥⲉⲓⲛⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u333" func="nsubj" head="#u334" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲓ̀ⲛⲓ">
<norm xml:id="u334" func="conj" head="#u331" pos="V" lemma="ⲓⲛⲓ" norm="ⲓⲛⲓ">
ⲓ̀ⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲉⲥⲏⲧ">
<norm_group norm_group="ⲉⲡⲉⲥⲏⲧ">
<orig orig="ⲉ̀">
<norm xml:id="u335" func="case" head="#u337" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u336" func="det" head="#u337" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲥⲏⲧ">
<norm xml:id="u337" func="obl" head="#u334" pos="N" lemma="ⲉⲥⲏⲧ" norm="ⲉⲥⲏⲧ">
ⲉⲥⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲥϫⲟⲙ">
<norm_group norm_group="ⲛⲧⲉⲥϫⲟⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u338" func="case" head="#u340" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉⲥ">
<norm xml:id="u339" func="nmod:poss" head="#u340" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲧⲉⲥ">
ⲧⲉⲥ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u340" func="nmod" head="#u337" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u341" func="case" head="#u342" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏϯ">
<norm_group norm_group="ⲛϧⲏϯ">
<orig orig="ⲛ̀ϧⲏϯ">
<norm xml:id="u342" func="obl" head="#u334" pos="ADV" lemma="ⲛϧⲏϯ" norm="ⲛϧⲏϯ">
ⲛ̀ϧⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u343" func="cc" head="#u345" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲉⲩⲉϩⲱⲗⲉⲙ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u344" func="nsubj" head="#u345" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u345" func="conj" head="#u331" pos="V" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲭⲱⲣⲁ">
<norm_group norm_group="ⲛⲛⲉⲭⲱⲣⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u346" func="case" head="#u348" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉ">
<norm xml:id="u347" func="det" head="#u348" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ⲭⲱⲣⲁ">
<norm xml:id="u348" func="obj" head="#u345" pos="N" lemma="ⲭⲱⲣⲁ" norm="ⲭⲱⲣⲁ">
<lang lang="Greek">
ⲭⲱⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u349" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="Thus saith the Lord; As when a shepherd rescues from the mouth of a lion two legs or a piece of an ear, so shall be drawn forth the children of Israel who dwell in Samaria in the presence of a foreign tribe, and in Damascus.">
<orig_group orig_group="ⲛⲁⲓ">
<norm_group norm_group="ⲛⲁⲓ">
<orig orig="ⲛⲁⲓ">
<norm xml:id="u350" func="root" new_sent="true" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲛⲁⲓ">
ⲛⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u351" func="cop" head="#u350" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧⲁϥϫⲱ">
<norm_group norm_group="ⲛⲏⲉⲧⲁϥϫⲱ">
<orig orig="ⲛⲏⲉⲧ">
<norm xml:id="u352" func="dislocated" head="#u355" pos="NPROP" lemma="ⲛⲏⲉⲧ" norm="ⲛⲏⲉⲧ">
ⲛⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u353" func="aux" head="#u355" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u354" func="nsubj" head="#u355" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱ">
<norm xml:id="u355" func="parataxis" head="#u350" pos="V" lemma="ϫⲱ" norm="ϫⲱ">
ϫⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u356" func="case" head="#u357" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u357" func="expl" head="#u355" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u358" func="case" head="#u359" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u359" func="dislocated" head="#u355" pos="NPROP" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ϫⲉⲙⲫⲣⲏϯ">
<orig orig="ϫⲉ">
<norm xml:id="u360" func="mark" head="#u389" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲙ̀">
<norm xml:id="u361" func="case" head="#u363" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u362" func="det" head="#u363" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u363" func="obl" head="#u369" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲙⲁⲛⲉ̀ⲥⲱⲟⲩ">
<norm_group norm_group="ⲙⲡⲓⲙⲁⲛⲉⲥⲱⲟⲩ">
<orig orig="ⲙ̀">
<norm xml:id="u364" func="case" head="#u366" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u365" func="det" head="#u366" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛⲉ̀ⲥⲱⲟⲩ">
<norm xml:id="u366" func="nmod" head="#u363" pos="N" lemma="ⲙⲁⲛⲉⲥⲱⲟⲩ" norm="ⲙⲁⲛⲉⲥⲱⲟⲩ">
ⲙⲁⲛⲉ̀ⲥⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲛⲑⲱϧⲉⲙ">
<norm_group norm_group="ⲁϥϣⲁⲛⲑⲱϧⲉⲙ">
<orig orig="ⲁϥ">
<norm xml:id="u367" func="mark" head="#u369" pos="N" lemma="ⲁϥ" norm="ⲁϥ">
ⲁϥ
</norm>
</orig>
<orig orig="ϣⲁⲛ">
<norm xml:id="u368" func="nsubj" head="#u369" pos="CONJ" lemma="ϣⲁⲛ" norm="ϣⲁⲛ">
ϣⲁⲛ
</norm>
</orig>
<orig orig="ⲑⲱϧⲉⲙ">
<norm xml:id="u369" func="ccomp" head="#u355" pos="N" lemma="ⲑⲱϧⲉⲙ" norm="ⲑⲱϧⲉⲙ">
ⲑⲱϧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u370" func="case" head="#u372" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u371" func="fixed" head="#u370" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲣⲱϥ">
<norm_group norm_group="ⲣⲱϥ">
<orig orig="ⲣⲱ">
<norm xml:id="u372" func="obl" head="#u369" pos="N" lemma="ⲣⲟ" norm="ⲣⲱ">
ⲣⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u373" func="nmod:poss" head="#u372" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲙⲡⲓⲙⲟⲩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u374" func="case" head="#u376" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u375" func="det" head="#u376" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u376" func="nmod" head="#u372" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓϭⲁⲗⲟϫ">
<norm_group norm_group="ⲙⲡⲓϭⲁⲗⲟϫ">
<orig orig="ⲙ̀">
<norm xml:id="u377" func="case" head="#u379" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u378" func="det" head="#u379" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϭⲁⲗⲟϫ">
<norm xml:id="u379" func="nmod" head="#u372" pos="N" lemma="ϭⲁⲗⲟϫ" norm="ϭⲁⲗⲟϫ">
ϭⲁⲗⲟϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥ̀ⲛⲟⲩϯ">
<norm_group norm_group="ⲥⲛⲟⲩϯ">
<orig orig="ⲥ̀ⲛⲟⲩϯ">
<norm xml:id="u380" func="nummod" head="#u379" pos="NUM" lemma="ⲥⲛⲟⲩϯ" norm="ⲥⲛⲟⲩϯ">
ⲥ̀ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲧⲟⲓ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲧⲟⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u381" func="cc" head="#u383" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u382" func="det" head="#u383" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲧⲟⲓ">
<norm xml:id="u383" func="conj" head="#u379" pos="N" lemma="ⲧⲟⲓ" norm="ⲧⲟⲓ">
ⲧⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲁϣϫ">
<norm_group norm_group="ⲙⲙⲁϣϫ">
<orig orig="ⲙ̀">
<norm xml:id="u384" func="case" head="#u385" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲁϣϫ">
<norm xml:id="u385" func="nmod" head="#u383" pos="N" lemma="ⲙⲁϣϫ" norm="ⲙⲁϣϫ">
ⲙⲁϣϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲁⲓⲣⲏϯ">
<norm_group norm_group="ⲡⲁⲓⲣⲏϯ">
<orig orig="ⲡⲁⲓ">
<norm xml:id="u386" func="det" head="#u387" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲡⲁⲓ">
ⲡⲁⲓ
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u387" func="obl:unmarked" head="#u389" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲑⲱϧⲉⲙ">
<norm_group norm_group="ⲉⲩⲉⲑⲱϧⲉⲙ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u388" func="nsubj" head="#u389" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲑⲱϧⲉⲙ">
<norm xml:id="u389" func="advcl" head="#u369" pos="V" lemma="ⲑⲱϧⲉⲙ" norm="ⲑⲱϧⲉⲙ">
ⲑⲱϧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲛϣⲏⲣⲓ">
<norm_group norm_group="ⲛⲛⲉⲛϣⲏⲣⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u390" func="case" head="#u392" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲛ">
<norm xml:id="u391" func="nmod:poss" head="#u392" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u392" func="obj" head="#u389" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲙⲡⲓⲥⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u393" func="case" head="#u395" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u394" func="det" head="#u395" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u395" func="nmod" head="#u392" pos="N" lemma="ⲓⲥⲗ" norm="ⲓⲥⲗ">
ⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧϣⲟⲡ">
<norm_group norm_group="ⲛⲏⲉⲧϣⲟⲡ">
<orig orig="ⲛⲏⲉⲧ">
<norm xml:id="u396" func="mark" head="#u397" pos="PPERS" lemma="ⲛⲏⲉⲧ" norm="ⲛⲏⲉⲧ">
ⲛⲏⲉⲧ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u397" func="parataxis" head="#u389" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧ̀ⲥⲁⲙⲁⲣⲓⲁ̀">
<norm_group norm_group="ϧⲉⲛⲧⲥⲁⲙⲁⲣⲓⲁ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u398" func="case" head="#u400" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u399" func="det" head="#u400" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ⲥⲁⲙⲁⲣⲓⲁ̀">
<norm xml:id="u400" func="obl" head="#u397" pos="NPROP" lemma="ⲥⲁⲙⲁⲣⲓⲁ" norm="ⲥⲁⲙⲁⲣⲓⲁ">
<lang lang="Hebrew">
ⲥⲁⲙⲁⲣⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉⲙ̀ⲑⲟ">
<norm_group norm_group="ⲙⲡⲉⲙⲑⲟ">
<orig orig="ⲙ̀">
<norm xml:id="u401" func="case" head="#u403" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u402" func="det" head="#u403" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲙ̀ⲑⲟ">
<norm xml:id="u403" func="nmod" head="#u400" pos="N" lemma="ⲙⲑⲟ" norm="ⲉⲙⲑⲟ">
ⲉⲙ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲫⲩⲗⲏ">
<norm_group norm_group="ⲛⲛⲓⲫⲩⲗⲏ">
<orig orig="ⲛ̀">
<norm xml:id="u404" func="case" head="#u406" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u405" func="det" head="#u406" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲩⲗⲏ">
<norm xml:id="u406" func="nmod" head="#u403" pos="N" lemma="ⲫⲩⲗⲏ" norm="ⲫⲩⲗⲏ">
<lang lang="Greek">
ⲫⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϧⲉⲛⲇⲁⲙⲁⲥⲕⲟⲥ">
<norm_group norm_group="ⲛⲉⲙϧⲉⲛⲇⲁⲙⲁⲥⲕⲟⲥ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u407" func="cc" head="#u409" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u408" func="case" head="#u409" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲇⲁⲙⲁⲥⲕⲟⲥ">
<norm xml:id="u409" func="conj" head="#u406" pos="NPROP" lemma="ⲇⲁⲙⲁⲥⲕⲟⲥ" norm="ⲇⲁⲙⲁⲥⲕⲟⲥ">
ⲇⲁⲙⲁⲥⲕⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u410" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="Hear, O ye priests, and testify to the house of Jacob, saith the Lord God Almighty.">
<orig_group orig_group="ⲛⲓⲟⲩⲏⲃ">
<norm_group norm_group="ⲛⲓⲟⲩⲏⲃ">
<orig orig="ⲛⲓ">
<norm xml:id="u411" func="det" head="#u412" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲃ">
<norm xml:id="u412" func="nsubj" head="#u413" pos="N" lemma="ⲟⲩⲏⲃ" norm="ⲟⲩⲏⲃ">
ⲟⲩⲏⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲁϫⲓ">
<norm_group norm_group="ⲥⲁϫⲓ">
<orig orig="ⲥⲁϫⲓ">
<norm xml:id="u413" func="root" pos="V" lemma="ⲥⲁϫⲓ" norm="ⲥⲁϫⲓ">
ⲥⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u414" func="cc" head="#u415" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲣⲓⲙⲉⲑⲣⲉ">
<norm_group norm_group="ⲁⲣⲓⲙⲉⲑⲣⲉ">
<orig orig="ⲁⲣⲓ">
<norm xml:id="u415" func="conj" head="#u413" pos="VIMP" lemma="ⲓⲣⲓ" norm="ⲁⲣⲓ">
ⲁⲣⲓ
</norm>
</orig>
<orig orig="ⲙⲉⲑⲣⲉ">
<norm xml:id="u416" func="obj" head="#u415" pos="N" lemma="ⲙⲉⲑⲣⲉ" norm="ⲙⲉⲑⲣⲉ">
ⲙⲉⲑⲣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡ">
<norm_group norm_group="ⲙⲡ">
<orig orig="ⲙ̀ⲡ">
<norm xml:id="u417" func="case" head="#u419" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙ̀ⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲡⲓⲥⲗ">
<orig orig="ⲡ">
<norm xml:id="u418" func="det" head="#u419" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u419" func="obl" head="#u415" pos="N" lemma="ⲓⲥⲗ" norm="ⲓⲥⲗ">
ⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲏⲓ">
<norm_group norm_group="ⲡⲏⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u420" func="det" head="#u421" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u421" func="nmod:unmarked" head="#u419" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲓⲁⲕⲱⲃ">
<norm_group norm_group="ⲛⲓⲁⲕⲱⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u422" func="case" head="#u423" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲓⲁⲕⲱⲃ">
<norm xml:id="u423" func="nmod" head="#u421" pos="NPROP" lemma="ⲓⲁⲕⲱⲃ" norm="ⲓⲁⲕⲱⲃ">
<lang lang="Hebrew">
ⲓⲁⲕⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲉ">
<norm_group norm_group="ⲡⲉϫⲉ">
<orig orig="ⲡⲉϫⲉ">
<norm xml:id="u424" func="parataxis" head="#u415" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲉ">
ⲡⲉϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲟⲉⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u425" func="det" head="#u426" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u426" func="nsubj" head="#u424" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm_group norm_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<orig orig="ⲡⲓ">
<norm xml:id="u427" func="det" head="#u428" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm xml:id="u428" func="appos" head="#u426" pos="N" lemma="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ" norm="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<lang lang="Greek">
ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u429" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="For in the day wherein I shall take vengeance of the sins of Israel upon him, I will also take vengeance on the altars of Bethel: and the horns of the altar shall be broken down, and they shall fall upon the ground.">
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u430" func="mark" head="#u449" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲓ">
<norm xml:id="u431" func="advmod" head="#u449" pos="ADV" lemma="ⲟⲩⲏⲓ" norm="ⲟⲩⲏⲓ">
ⲟⲩⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲉ̀ϩⲟⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲉϩⲟⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u432" func="case" head="#u434" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u433" func="det" head="#u434" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϩⲟⲟⲩ">
<norm xml:id="u434" func="obl" head="#u449" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉ̀ϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓϣⲁⲛⲉⲣⲡⲉⲙⲡϣⲓϣ">
<norm_group norm_group="ⲁⲓϣⲁⲛⲉⲣⲡⲉⲙⲡϣⲓϣ">
<orig orig="ⲁⲓϣⲁⲛ">
<norm xml:id="u435" func="nsubj" head="#u436" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲁⲛⲟⲕ" norm="ⲁⲓϣⲁⲛ">
ⲁⲓϣⲁⲛ
</norm>
</orig>
<orig orig="ⲉⲣ">
<norm xml:id="u436" func="advcl" head="#u449" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
<orig orig="ⲡⲉ">
<norm xml:id="u437" func="det" head="#u438" pos="ART" lemma="ⲡ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
<orig orig="ⲙⲡϣⲓϣ">
<norm xml:id="u438" func="obj" head="#u436" pos="N" lemma="ⲙϣⲓϣ" norm="ⲙⲡϣⲓϣ">
ⲙⲡϣⲓϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑ̀ⲙⲉⲧⲁ̀ⲥⲉⲃⲏⲥ">
<norm_group norm_group="ⲛⲑⲙⲉⲧⲁⲥⲉⲃⲏⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u439" func="case" head="#u440" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲑ̀ⲙⲉⲧⲁ̀ⲥⲉⲃⲏⲥ">
<norm xml:id="u440" func="nmod" head="#u438" pos="N" lemma="ⲑⲙⲉⲧⲁⲥⲉⲃⲏⲥ" norm="ⲑⲙⲉⲧⲁⲥⲉⲃⲏⲥ">
ⲑ̀ⲙⲉⲧⲁ̀ⲥⲉⲃⲏⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲙⲡⲓⲥⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u441" func="case" head="#u443" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u442" func="det" head="#u443" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u443" func="nmod" head="#u440" pos="N" lemma="ⲓⲥⲗ" norm="ⲓⲥⲗ">
ⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u444" func="case" head="#u446" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱϥ">
<norm_group norm_group="ⲉϫⲱϥ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u445" func="case" head="#u446" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u446" func="obl" head="#u436" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϭⲓⲙ̀ⲡ̀ϣⲓϣ">
<norm_group norm_group="ϯⲛⲁϭⲓⲙⲡϣⲓϣ">
<orig orig="ϯ">
<norm xml:id="u447" func="nsubj" head="#u449" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u448" func="aux" head="#u449" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϭⲓⲙ̀ⲡ̀ϣⲓϣ">
<norm xml:id="u449" func="root" pos="V" lemma="ϭⲓⲙⲡϣⲓϣ" norm="ϭⲓⲙⲡϣⲓϣ">
<morph morph="ϭⲓⲙ">
ϭⲓⲙ̀
</morph>
<morph morph="ⲡ">
ⲡ̀
</morph>
<morph morph="ϣⲓϣ">
ϣⲓϣ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲛⲛⲓⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u450" func="case" head="#u452" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u451" func="det" head="#u452" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛ̀ⲉⲣϣⲱⲟⲩϣⲓ">
<norm xml:id="u452" func="obj" head="#u449" pos="N" lemma="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ" norm="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<morph morph="ⲙⲁⲛ">
ⲙⲁⲛ̀
</morph>
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϣⲱⲟⲩϣⲓ">
ϣⲱⲟⲩϣⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲃⲉⲑⲏⲗ">
<norm_group norm_group="ⲛⲧⲉⲃⲉⲑⲏⲗ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u453" func="case" head="#u454" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲃⲉⲑⲏⲗ">
<norm xml:id="u454" func="nmod" head="#u452" pos="NPROP" lemma="ⲃⲉⲑⲏⲗ" norm="ⲃⲉⲑⲏⲗ">
ⲃⲉⲑⲏⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u455" func="cc" head="#u457" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲟⲩⲱϫⲡ">
<norm_group norm_group="ⲉⲩⲉⲟⲩⲱϫⲡ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u456" func="nsubj" head="#u457" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲱϫⲡ">
<norm xml:id="u457" func="conj" head="#u449" pos="V" lemma="ⲟⲩⲱϫⲡ" norm="ⲟⲩⲱϫⲡ">
ⲟⲩⲱϫⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲧⲁⲡ">
<norm_group norm_group="ⲛⲛⲓⲧⲁⲡ">
<orig orig="ⲛ̀">
<norm xml:id="u458" func="case" head="#u460" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u459" func="det" head="#u460" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲧⲁⲡ">
<norm xml:id="u460" func="obj" head="#u457" pos="N" lemma="ⲧⲁⲡ" norm="ⲧⲁⲡ">
ⲧⲁⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u461" func="case" head="#u463" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u462" func="det" head="#u463" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<norm xml:id="u463" func="nmod" head="#u460" pos="N" lemma="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ" norm="ⲙⲁⲛⲉⲣϣⲱⲟⲩϣⲓ">
<morph morph="ⲙⲁⲛ">
ⲙⲁⲛ
</morph>
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ϣⲱⲟⲩϣⲓ">
ϣⲱⲟⲩϣⲓ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u464" func="cc" head="#u466" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϩⲉⲓ">
<norm_group norm_group="ⲉⲩⲉϩⲉⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u465" func="nsubj" head="#u466" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϩⲉⲓ">
<norm xml:id="u466" func="conj" head="#u457" pos="V" lemma="ϩⲉⲓ" norm="ϩⲉⲓ">
ϩⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛⲡⲕⲁϩⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u467" func="case" head="#u469" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u468" func="det" head="#u469" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u469" func="obl" head="#u466" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u470" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="15">
<translation translation="I will crush and smite the turreted-house upon the summer-house; and the ivory-houses shall be destroyed, and many other houses also, saith the Lord.">
<orig_group orig_group="ϯⲛⲁϣ̀ⲑⲟⲣⲧⲉⲣ">
<norm_group norm_group="ϯⲛⲁϣⲑⲟⲣⲧⲉⲣ">
<orig orig="ϯ">
<norm xml:id="u471" func="nsubj" head="#u473" new_sent="true" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u472" func="aux" head="#u473" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣ̀ⲑⲟⲣⲧⲉⲣ">
<norm xml:id="u473" func="root" pos="V" lemma="ϣⲑⲟⲣⲧⲉⲣ" norm="ϣⲑⲟⲣⲧⲉⲣ">
ϣ̀ⲑⲟⲣⲧⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u474" func="cc" head="#u477" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϣⲁⲣⲓ">
<norm_group norm_group="ϯⲛⲁϣⲁⲣⲓ">
<orig orig="ϯ">
<norm xml:id="u475" func="nsubj" head="#u477" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u476" func="aux" head="#u477" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣⲁⲣⲓ">
<norm xml:id="u477" func="conj" head="#u473" pos="V" lemma="ϣⲁⲣⲓ" norm="ϣⲁⲣⲓ">
ϣⲁⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡⲓⲏⲓ">
<norm_group norm_group="ⲉⲡⲓⲏⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u478" func="case" head="#u480" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u479" func="det" head="#u480" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u480" func="obl" head="#u477" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲟⲓ">
<norm_group norm_group="ⲉⲧⲟⲓ">
<orig orig="ⲉⲧ">
<norm xml:id="u481" func="mark" head="#u482" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲟⲓ">
<norm xml:id="u482" func="acl:relcl" head="#u480" pos="VSTAT" lemma="ⲓⲣⲓ" norm="ⲟⲓ">
ⲟⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛϩ">
<norm_group norm_group="ⲛⲧⲉⲛϩ">
<orig orig="ⲛ̀">
<norm xml:id="u483" func="case" head="#u484" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉⲛϩ">
<norm xml:id="u484" func="obl" head="#u482" pos="N" lemma="ⲧⲉⲛϩ" norm="ⲧⲉⲛϩ">
ⲧⲉⲛϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲓⲏⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲓⲏⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u485" func="case" head="#u487" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u486" func="det" head="#u487" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u487" func="obl" head="#u482" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ϣⲱⲙ">
<norm_group norm_group="ⲛⲧⲉⲡϣⲱⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u488" func="case" head="#u490" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u489" func="det" head="#u490" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲙ">
<norm xml:id="u490" func="nmod" head="#u487" pos="N" lemma="ϣⲟⲙ" norm="ϣⲱⲙ">
ϣⲱⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u491" func="cc" head="#u493" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲧⲁⲕⲟ">
<norm_group norm_group="ⲉⲩⲉⲧⲁⲕⲟ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u492" func="nsubj" head="#u493" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲧⲁⲕⲟ">
<norm xml:id="u493" func="conj" head="#u473" pos="V" lemma="ⲧⲁⲕⲟ" norm="ⲧⲁⲕⲟ">
ⲧⲁⲕⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉϩⲁⲛⲏⲓ">
<norm_group norm_group="ⲛϫⲉϩⲁⲛⲏⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u494" func="case" head="#u496" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u495" func="det" head="#u496" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u496" func="dislocated" head="#u493" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲉⲗⲉⲫⲁⲛⲧⲓⲛⲟⲛ">
<norm_group norm_group="ⲛⲉⲗⲉⲫⲁⲛⲧⲓⲛⲟⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u497" func="case" head="#u498" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲉⲗⲉⲫⲁⲛⲧⲓⲛⲟⲛ">
<norm xml:id="u498" func="nmod" head="#u496" pos="N" lemma="ⲉⲗⲉⲫⲁⲛⲧⲓⲛⲟⲛ" norm="ⲉⲗⲉⲫⲁⲛⲧⲓⲛⲟⲛ">
<lang lang="Greek">
ⲉⲗⲉⲫⲁⲛⲧⲓⲛⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u499" func="cc" head="#u508" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲕⲉⲏⲓ">
<norm_group norm_group="ϩⲁⲛⲕⲉⲏⲓ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u500" func="det" head="#u502" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲕⲉ">
<norm xml:id="u501" func="det" head="#u502" pos="ART" lemma="ⲕⲉ" norm="ⲕⲉ">
ⲕⲉ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u502" func="dislocated" head="#u508" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟϣ">
<norm_group norm_group="ⲉⲩⲟϣ">
<orig orig="ⲉ">
<norm xml:id="u503" func="mark" head="#u505" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u504" func="nsubj" head="#u505" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϣ">
<norm xml:id="u505" func="acl:relcl" head="#u502" pos="VSTAT" lemma="ⲁϣⲁⲓ" norm="ⲟϣ">
ⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲥⲉⲛⲁⲧⲁϩⲱⲟⲩ">
<norm_group norm_group="ⲥⲉⲛⲁⲧⲁϩⲱⲟⲩ">
<orig orig="ⲥⲉ">
<norm xml:id="u506" func="nsubj" head="#u508" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲥⲉ">
ⲥⲉ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u507" func="aux" head="#u508" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲁϩⲱⲟⲩ">
<norm xml:id="u508" func="conj" head="#u493" pos="V" lemma="ⲧⲁϩⲱⲟⲩ" norm="ⲧⲁϩⲱⲟⲩ">
ⲧⲁϩⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲉ">
<norm_group norm_group="ⲡⲉϫⲉ">
<orig orig="ⲡⲉϫⲉ">
<norm xml:id="u509" func="parataxis" head="#u508" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲉ">
ⲡⲉϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲥ">
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u510" func="nsubj" head="#u509" pos="N" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u511" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
