<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="05" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.mic.bohairic_ed:05" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="33_Michaeas_05" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="Now shall the daughter of Sion be completely hedged in: he has laid siege against us: they shall smite the tribes of Israel with a rod upon the cheek.">
<orig_group orig_group="ϯⲛⲟⲩ">
<norm_group norm_group="ϯⲛⲟⲩ">
<orig orig="ϯⲛⲟⲩ">
<norm xml:id="u1" func="advmod" head="#u8" new_sent="true" pos="ADV" lemma="ϯⲛⲟⲩ" norm="ϯⲛⲟⲩ">
ϯⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϣⲑⲁⲙ">
<norm_group norm_group="ϧⲉⲛⲟⲩϣⲑⲁⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u2" func="case" head="#u4" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u3" func="det" head="#u4" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲑⲁⲙ">
<norm xml:id="u4" func="obl" head="#u8" pos="N" lemma="ϣⲑⲁⲙ" norm="ϣⲑⲁⲙ">
ϣⲑⲁⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϣⲑⲁⲙ">
<norm_group norm_group="ϯⲛⲁϣⲑⲁⲙ">
<orig orig="ϯ">
<norm xml:id="u5" func="nsubj" head="#u8" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u6" func="aux" head="#u8" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϣ">
<norm xml:id="u7" func="aux" head="#u8" pos="V" lemma="ϣ" norm="ϣ">
ϣ
</norm>
</orig>
<orig orig="ⲑⲁⲙ">
<norm xml:id="u8" func="root" pos="VSTAT" lemma="ⲑⲱⲙ" norm="ⲑⲁⲙ">
ⲑⲁⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩⲣⲉⲛⲧ̀ϣⲉⲣⲓ">
<norm_group norm_group="ⲉϩⲣⲉⲛⲧϣⲉⲣⲓ">
<orig orig="ⲉ̀ϩⲣⲉⲛ">
<norm xml:id="u9" func="case" head="#u11" pos="PREP" lemma="ⲉϩⲣⲉⲛ" norm="ⲉϩⲣⲉⲛ">
ⲉ̀ϩⲣⲉⲛ
</norm>
</orig>
<orig orig="ⲧ̀">
<norm xml:id="u10" func="det" head="#u11" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ̀
</norm>
</orig>
<orig orig="ϣⲉⲣⲓ">
<norm xml:id="u11" func="obl" head="#u8" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲉⲣⲓ">
ϣⲉⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲉⲫⲣⲉⲙ">
<norm_group norm_group="ⲛⲉⲫⲣⲉⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u12" func="case" head="#u13" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲉⲫⲣⲉⲙ">
<norm xml:id="u13" func="nmod" head="#u11" pos="NPROP" lemma="ⲉⲫⲣⲉⲙ" norm="ⲉⲫⲣⲉⲙ">
<lang lang="Hebrew">
ⲉⲫⲣⲉⲙ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲑⲱϣ">
<norm_group norm_group="ⲁϥⲑⲱϣ">
<orig orig="ⲁ">
<norm xml:id="u14" func="aux" head="#u16" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u15" func="nsubj" head="#u16" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑⲱϣ">
<norm xml:id="u16" func="parataxis" head="#u8" pos="V" lemma="ⲑⲱϣ" norm="ⲑⲱϣ">
ⲑⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϩⲟϫϩⲉϫ">
<norm_group norm_group="ⲛⲟⲩϩⲟϫϩⲉϫ">
<orig orig="ⲛ̀">
<norm xml:id="u17" func="case" head="#u19" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u18" func="det" head="#u19" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲟϫϩⲉϫ">
<norm xml:id="u19" func="obj" head="#u16" pos="N" lemma="ϩⲟϫϩⲉϫ" norm="ϩⲟϫϩⲉϫ">
ϩⲟϫϩⲉϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲑⲏⲛⲟⲩ">
<norm_group norm_group="ⲉϫⲉⲛⲑⲏⲛⲟⲩ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u20" func="case" head="#u21" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲑⲏⲛⲟⲩ">
<norm xml:id="u21" func="obl" head="#u16" pos="PPERO" lemma="ⲛⲑⲱⲧⲉⲛ" norm="ⲑⲏⲛⲟⲩ">
ⲑⲏⲛⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϣ̀ⲃⲱⲧ">
<norm_group norm_group="ϧⲉⲛⲟⲩϣⲃⲱⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u22" func="case" head="#u24" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u23" func="det" head="#u24" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣ̀ⲃⲱⲧ">
<norm xml:id="u24" func="obl" head="#u16" pos="N" lemma="ϣⲃⲱⲧ" norm="ϣⲃⲱⲧ">
ϣ̀ⲃⲱⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϩⲉⲓ">
<norm_group norm_group="ⲉⲩⲉϩⲉⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u25" func="nsubj" head="#u26" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϩⲉⲓ">
<norm xml:id="u26" func="parataxis" head="#u16" pos="V" lemma="ϩⲉⲓ" norm="ϩⲉⲓ">
ϩⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲓⲟⲩⲟ̀ϫⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲓⲟⲩⲟϫⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u27" func="case" head="#u29" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u28" func="det" head="#u29" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲟⲩⲟ̀ϫⲓ">
<norm xml:id="u29" func="obl" head="#u26" pos="N" lemma="ⲟⲩⲟϫⲓ" norm="ⲟⲩⲟϫⲓ">
ⲟⲩⲟ̀ϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲫⲩⲗⲏ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲫⲩⲗⲏ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u30" func="case" head="#u32" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u31" func="det" head="#u32" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲫⲩⲗⲏ">
<norm xml:id="u32" func="nmod" head="#u29" pos="N" lemma="ⲫⲩⲗⲏ" norm="ⲫⲩⲗⲏ">
<lang lang="Greek">
ⲫⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲛⲧⲉⲡⲓⲥⲗ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u33" func="case" head="#u35" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲓ̅">
<norm xml:id="u34" func="det" head="#u35" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ̅
</norm>
</orig>
<orig orig="ⲥ̅ⲗ̅">
<norm xml:id="u35" func="nmod" head="#u32" pos="N" lemma="ⲥⲗ" norm="ⲥⲗ">
ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u36" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="And thou, Bethleem, house of Ephratha, art few in number to be reckoned among the thousands of Juda; yet out of thee shall one come forth to me, to be a ruler of Israel; and his goings forth were from the beginning, even from eternity.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u37" func="cc" head="#u39" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟ">
<norm_group norm_group="ⲛⲑⲟ">
<orig orig="ⲛ̀ⲑⲟ">
<norm xml:id="u38" func="nsubj" head="#u39" pos="N" lemma="ⲛⲑⲟ" norm="ⲛⲑⲟ">
ⲛ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲃⲏⲑⲗⲉⲉⲙ">
<norm_group norm_group="ⲃⲏⲑⲗⲉⲉⲙ">
<orig orig="ⲃⲏⲑⲗⲉⲉⲙ">
<norm xml:id="u39" func="root" pos="NPROP" lemma="ⲃⲏⲑⲗⲉⲉⲙ" norm="ⲃⲏⲑⲗⲉⲉⲙ">
<lang lang="Hebrew">
ⲃⲏⲑⲗⲉⲉⲙ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲏⲓ">
<norm_group norm_group="ⲡⲏⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u40" func="det" head="#u41" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u41" func="obj" head="#u39" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲉⲫⲣⲁⲑⲁ">
<norm_group norm_group="ⲛⲉⲫⲣⲁⲑⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u42" func="case" head="#u43" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲉⲫⲣⲁⲑⲁ">
<norm xml:id="u43" func="nmod" head="#u41" pos="NPROP" lemma="ⲉⲫⲣⲁⲑⲁ" norm="ⲉⲫⲣⲁⲑⲁ">
<lang lang="Hebrew">
ⲉⲫⲣⲁⲑⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲕⲟⲩϫⲓ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲕⲟⲩϫⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u44" func="cc" head="#u46" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u45" func="det" head="#u46" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲟⲩϫⲓ">
<norm xml:id="u46" func="conj" head="#u41" pos="N" lemma="ⲕⲟⲩϫⲓ" norm="ⲕⲟⲩϫⲓ">
ⲕⲟⲩϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u47" func="advmod" head="#u46" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟ">
<norm_group norm_group="ⲛⲑⲟ">
<orig orig="ⲛ̀ⲑⲟ">
<norm xml:id="u48" func="cc" head="#u46" pos="V" lemma="ⲛⲑⲟ" norm="ⲛⲑⲟ">
ⲛ̀ⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϫⲓⲛϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲡϫⲓⲛϣⲱⲡⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u49" func="case" head="#u51" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u50" func="det" head="#u51" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϫⲓⲛϣⲱⲡⲓ">
<norm xml:id="u51" func="obl" head="#u39" pos="N" lemma="ϫⲓⲛϣⲱⲡⲓ" norm="ϫⲓⲛϣⲱⲡⲓ">
ϫⲓⲛϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲁ̀ⲛⲁⲛϣⲟ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲁⲛⲁⲛϣⲟ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u52" func="case" head="#u54" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u53" func="det" head="#u54" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲁ̀ⲛⲁⲛϣⲟ">
<norm xml:id="u54" func="nmod" head="#u51" pos="N" lemma="ⲁⲛⲁⲛϣⲟ" norm="ⲁⲛⲁⲛϣⲟ">
ⲁ̀ⲛⲁⲛϣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲓⲟⲩⲇⲁ">
<norm_group norm_group="ⲛⲧⲉⲓⲟⲩⲇⲁ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u55" func="case" head="#u56" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲓⲟⲩⲇⲁ">
<norm xml:id="u56" func="nmod" head="#u54" pos="NPROP" lemma="ⲓⲟⲩⲇⲁ" norm="ⲓⲟⲩⲇⲁ">
<lang lang="Hebrew">
ⲓⲟⲩⲇⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϥ̀ⲛⲏⲟⲩ">
<norm_group norm_group="ϥⲛⲏⲟⲩ">
<orig orig="ϥ̀">
<norm xml:id="u57" func="nsubj" head="#u58" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ̀
</norm>
</orig>
<orig orig="ⲛⲏⲟⲩ">
<norm xml:id="u58" func="parataxis" head="#u39" pos="VSTAT" lemma="ⲓ" norm="ⲛⲏⲟⲩ">
ⲛⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲓ">
<norm_group norm_group="ⲛⲏⲓ">
<orig orig="ⲛ">
<norm xml:id="u59" func="case" head="#u60" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲏⲓ">
<norm xml:id="u60" func="obl" head="#u58" pos="N" lemma="ⲏⲓ" norm="ⲏⲓ">
ⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u61" func="advmod" head="#u58" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏϯ">
<norm_group norm_group="ⲛϧⲏϯ">
<orig orig="ⲛ̀">
<norm xml:id="u62" func="case" head="#u63" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϧⲏϯ">
<norm xml:id="u63" func="obl" head="#u58" pos="N" lemma="ϧⲏϯ" norm="ϧⲏϯ">
ϧⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲏ̀ⲅⲟⲩⲙⲉⲛⲟⲥ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲏⲅⲟⲩⲙⲉⲛⲟⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u64" func="case" head="#u65" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏ̀ⲅⲟⲩⲙⲉⲛⲟⲥ">
<norm xml:id="u65" func="dislocated" head="#u58" pos="NPROP" lemma="ⲟⲩⲏⲅⲟⲩⲙⲉⲛⲟⲥ" norm="ⲟⲩⲏⲅⲟⲩⲙⲉⲛⲟⲥ">
ⲟⲩⲏ̀ⲅⲟⲩⲙⲉⲛⲟⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲉϥϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲑⲣⲉϥϣⲱⲡⲓ">
<orig orig="ⲉ">
<norm xml:id="u66" func="mark" head="#u67" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣⲉ">
<norm xml:id="u67" func="xcomp" head="#u58" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣⲉ">
ⲑⲣⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u68" func="obj" head="#u67" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u69" func="xcomp" head="#u67" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲁⲣⲭⲱⲛ">
<norm_group norm_group="ⲉⲩⲁⲣⲭⲱⲛ">
<orig orig="ⲉ">
<norm xml:id="u70" func="case" head="#u72" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u71" func="det" head="#u72" pos="ART" lemma="ⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲁⲣⲭⲱⲛ">
<norm xml:id="u72" func="obl" head="#u69" pos="N" lemma="ⲁⲣⲭⲱⲛ" norm="ⲁⲣⲭⲱⲛ">
<lang lang="Greek">
ⲁⲣⲭⲱⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ϧⲉⲛⲡⲓⲥⲗ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u73" func="case" head="#u74" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u74" func="obl" head="#u69" pos="NPROP" lemma="ⲡⲓⲥⲗ" norm="ⲡⲓⲥⲗ">
ⲡⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u75" func="cc" head="#u77" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉϥⲙⲱⲓⲧ">
<norm_group norm_group="ⲛⲉϥⲙⲱⲓⲧ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u76" func="nmod:poss" head="#u77" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u77" func="conj" head="#u74" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲓ̀">
<norm_group norm_group="ⲛⲓ">
<orig orig="ⲛ̀ⲓ̀">
<norm xml:id="u78" func="det" head="#u81" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛ̀ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u79" func="case" head="#u77" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϣⲟⲣⲡ">
<norm_group norm_group="ⲛϣⲟⲣⲡ">
<orig orig="ⲛ̀">
<norm xml:id="u80" func="fixed" head="#u79" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϣⲟⲣⲡ">
<norm xml:id="u81" func="conj" head="#u77" pos="N" lemma="ϣⲟⲣⲡ" norm="ϣⲟⲣⲡ">
ϣⲟⲣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓⲥϫⲉⲛ">
<norm_group norm_group="ⲓⲥϫⲉⲛ">
<orig orig="ⲓⲥϫⲉⲛ">
<norm xml:id="u82" func="case" head="#u84" pos="PREP" lemma="ⲓⲥϫⲉⲛ" norm="ⲓⲥϫⲉⲛ">
ⲓⲥϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲉ̀ϩⲟⲟⲩ">
<norm_group norm_group="ⲛⲓⲉϩⲟⲟⲩ">
<orig orig="ⲛⲓ">
<norm xml:id="u83" func="det" head="#u84" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϩⲟⲟⲩ">
<norm xml:id="u84" func="nmod" head="#u81" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉ̀ϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ⲉ̀ⲛⲉϩ">
<norm_group norm_group="ⲛⲧⲉⲡⲉⲛⲉϩ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u85" func="case" head="#u87" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u86" func="det" head="#u87" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲉ̀ⲛⲉϩ">
<norm xml:id="u87" func="nmod" head="#u84" pos="N" lemma="ⲉⲛⲉϩ" norm="ⲉⲛⲉϩ">
ⲉ̀ⲛⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u88" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="Therefore shall he appoint them to wait till the time of her that travails: she shall bring forth, and then the remnant of their brethren shall return to the children of Israel.">
<orig_group orig_group="ⲉⲑⲃⲉⲫⲁⲓ">
<norm_group norm_group="ⲉⲑⲃⲉⲫⲁⲓ">
<orig orig="ⲉⲑⲃⲉ">
<norm xml:id="u89" func="case" head="#u90" new_sent="true" pos="PREP" lemma="ⲉⲑⲃⲉ" norm="ⲉⲑⲃⲉ">
ⲉⲑⲃⲉ
</norm>
</orig>
<orig orig="ⲫⲁⲓ">
<norm xml:id="u90" func="obl" head="#u92" pos="PDEM" lemma="ⲫⲁⲓ" norm="ⲫⲁⲓ">
ⲫⲁⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲧⲏⲓⲧⲟⲩ">
<norm_group norm_group="ⲉϥⲉⲧⲏⲓⲧⲟⲩ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u91" func="nsubj" head="#u92" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲧⲏⲓⲧ">
<norm xml:id="u92" func="root" pos="V" lemma="ϯ" norm="ⲧⲏⲓⲧ">
ⲧⲏⲓⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u93" func="obj" head="#u92" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲟⲩⲥⲏⲟⲩ">
<norm_group norm_group="ϣⲁⲟⲩⲥⲏⲟⲩ">
<orig orig="ϣⲁ">
<norm xml:id="u94" func="case" head="#u96" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u95" func="det" head="#u96" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲏⲟⲩ">
<norm xml:id="u96" func="obl" head="#u92" pos="N" lemma="ⲥⲏⲟⲩ" norm="ⲥⲏⲟⲩ">
ⲥⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲑⲏⲉⲧⲛⲁⲙⲓⲥⲓ">
<norm_group norm_group="ⲛⲧⲉⲑⲏⲉⲧⲛⲁⲙⲓⲥⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u97" func="case" head="#u98" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲑⲏⲉⲧⲛⲁⲙⲓⲥⲓ">
<norm xml:id="u98" func="nmod" head="#u96" pos="N" lemma="ⲑⲏⲉⲧⲛⲁⲙⲓⲥⲓ" norm="ⲑⲏⲉⲧⲛⲁⲙⲓⲥⲓ">
ⲑⲏⲉⲧⲛⲁⲙⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲥⲉ̀ⲙⲓⲥⲓ">
<norm_group norm_group="ⲉⲥⲉⲙⲓⲥⲓ">
<orig orig="ⲉⲥⲉ̀">
<norm xml:id="u99" func="nsubj" head="#u100" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲥ" norm="ⲉⲥⲉ">
ⲉⲥⲉ̀
</norm>
</orig>
<orig orig="ⲙⲓⲥⲓ">
<norm xml:id="u100" func="parataxis" head="#u92" pos="V" lemma="ⲙⲓⲥⲓ" norm="ⲙⲓⲥⲓ">
ⲙⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u101" func="cc" head="#u108" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲥⲉⲡⲓ">
<norm_group norm_group="ⲛⲓⲥⲉⲡⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u102" func="det" head="#u103" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲉⲡⲓ">
<norm xml:id="u103" func="dislocated" head="#u108" pos="N" lemma="ⲥⲉⲡⲓ" norm="ⲥⲉⲡⲓ">
ⲥⲉⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲟⲩⲥ̀ⲛⲏⲟⲩ">
<norm_group norm_group="ⲛⲧⲉⲛⲟⲩⲥⲛⲏⲟⲩ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u104" func="case" head="#u106" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u105" func="nmod:poss" head="#u106" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲥ̀ⲛⲏⲟⲩ">
<norm xml:id="u106" func="nmod" head="#u103" pos="N" lemma="ⲥⲟⲛ" norm="ⲥⲛⲏⲟⲩ">
ⲥ̀ⲛⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲧⲁⲥⲑⲟ">
<norm_group norm_group="ⲉⲩⲉⲧⲁⲥⲑⲟ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u107" func="nsubj" head="#u108" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲧⲁⲥⲑⲟ">
<norm xml:id="u108" func="conj" head="#u100" pos="V" lemma="ⲧⲁⲥⲑⲟ" norm="ⲧⲁⲥⲑⲟ">
ⲧⲁⲥⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲉⲛϣⲏⲣⲓ">
<norm_group norm_group="ⲛϫⲉⲛⲉⲛϣⲏⲣⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u109" func="case" head="#u111" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲛ">
<norm xml:id="u110" func="nmod:poss" head="#u111" pos="PPOS" lemma="ⲡⲉⲛ" norm="ⲛⲉⲛ">
ⲛⲉⲛ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u111" func="dislocated" head="#u108" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲙⲓⲥⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u112" func="case" head="#u113" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u113" func="nmod" head="#u111" pos="N" lemma="ⲓⲥⲗ" norm="ⲓⲥⲗ">
ⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u114" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="And the Lord shall stand, and see, and feed his flock with power, and they shall dwell in the glory of the name of the Lord their God: for now shall they be magnified to the ends of the earth.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u115" func="cc" head="#u117" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲟ̀ϩⲓ">
<norm_group norm_group="ⲉϥⲉⲟϩⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u116" func="nsubj" head="#u117" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲟ̀ϩⲓ">
<norm xml:id="u117" func="root" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟ̀ϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲁⲧϥ">
<norm_group norm_group="ⲉⲣⲁⲧϥ">
<orig orig="ⲉ̀ⲣⲁⲧ">
<norm xml:id="u118" func="case" head="#u119" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉ̀ⲣⲁⲧ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u119" func="obl" head="#u117" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u120" func="cc" head="#u122" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲛⲁϩⲙⲟⲩ">
<norm_group norm_group="ⲉϥⲉⲛⲁϩⲙⲟⲩ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u121" func="nsubj" head="#u122" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲛⲁϩⲙ">
<norm xml:id="u122" func="conj" head="#u117" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲁϩⲙ">
ⲛⲁϩⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u123" func="obj" head="#u122" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u124" func="cc" head="#u126" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲉϥⲉⲁⲙⲟⲛⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u125" func="nsubj" head="#u126" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲁ̀ⲙⲟⲛⲓ">
<norm xml:id="u126" func="conj" head="#u117" pos="V" lemma="ⲁⲙⲟⲛⲓ" norm="ⲁⲙⲟⲛⲓ">
ⲁ̀ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉϥⲟ̀ϩⲓ">
<norm_group norm_group="ⲙⲡⲉϥⲟϩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u127" func="case" head="#u129" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u128" func="nmod:poss" head="#u129" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲟ̀ϩⲓ">
<norm xml:id="u129" func="obj" head="#u126" pos="N" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟ̀ϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲛϫⲉⲡϭⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u130" func="case" head="#u131" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u131" func="dislocated" head="#u126" pos="NPROP" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϫⲟⲙ">
<norm_group norm_group="ϧⲉⲛⲟⲩϫⲟⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u132" func="case" head="#u134" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u133" func="det" head="#u134" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u134" func="obl" head="#u126" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u135" func="cc" head="#u137" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲩⲉϣⲱⲡⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u136" func="nsubj" head="#u137" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u137" func="conj" head="#u117" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲱ̀ⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲱⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u138" func="case" head="#u140" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u139" func="det" head="#u140" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲱ̀ⲟⲩ">
<norm xml:id="u140" func="obl" head="#u137" pos="N" lemma="ⲱⲟⲩ" norm="ⲱⲟⲩ">
ⲱ̀ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲫ̀ⲣⲁⲛ">
<norm_group norm_group="ⲛⲧⲉⲫⲣⲁⲛ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u141" func="case" head="#u143" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u142" func="det" head="#u143" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲁⲛ">
<norm xml:id="u143" func="nmod" head="#u140" pos="N" lemma="ⲣⲁⲛ" norm="ⲣⲁⲛ">
ⲣⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲙⲡϭⲟⲉⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u144" func="case" head="#u146" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u145" func="det" head="#u146" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u146" func="nmod" head="#u143" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲟⲩⲛⲟⲩϯ">
<norm_group norm_group="ⲡⲟⲩⲛⲟⲩϯ">
<orig orig="ⲡⲟⲩ">
<norm xml:id="u147" func="nmod:poss" head="#u148" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲡⲟⲩ">
ⲡⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲟⲩϯ">
<norm xml:id="u148" func="appos" head="#u146" pos="N" lemma="ⲛⲟⲩϯ" norm="ⲛⲟⲩϯ">
ⲛⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u149" func="mark" head="#u152" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲓ">
<norm xml:id="u150" func="advmod" head="#u152" pos="ADV" lemma="ⲟⲩⲏⲓ" norm="ⲟⲩⲏⲓ">
ⲟⲩⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲉⲣⲛⲓϣϯ">
<norm_group norm_group="ⲉⲩⲉⲉⲣⲛⲓϣϯ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u151" func="nsubj" head="#u152" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲉⲣⲛⲓϣϯ">
<norm xml:id="u152" func="advcl" head="#u137" pos="V" lemma="ⲉⲣⲛⲓϣϯ" norm="ⲉⲣⲛⲓϣϯ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲛⲓϣϯ">
ⲛⲓϣϯ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϣⲁⲛⲓⲗⲁⲕϩ">
<norm_group norm_group="ϣⲁⲛⲓⲗⲁⲕϩ">
<orig orig="ϣⲁ">
<norm xml:id="u153" func="case" head="#u155" pos="PREP" lemma="ϣⲁ" norm="ϣⲁ">
ϣⲁ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u154" func="det" head="#u155" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲗⲁⲕϩ">
<norm xml:id="u155" func="obl" head="#u152" pos="N" lemma="ⲗⲁⲕϩ" norm="ⲗⲁⲕϩ">
ⲗⲁⲕϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲛⲧⲉⲡⲕⲁϩⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u156" func="case" head="#u158" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u157" func="det" head="#u158" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u158" func="nmod" head="#u155" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u159" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="And she shall have peace when Assur shall come into your land, and when he shall come up upon your country; and there shall be raised up against him seven shepherds, and eight attacks of men.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u160" func="cc" head="#u162" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲥⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲥⲉϣⲱⲡⲓ">
<orig orig="ⲉⲥⲉ̀">
<norm xml:id="u161" func="nsubj" head="#u162" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲥ" norm="ⲉⲥⲉ">
ⲉⲥⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u162" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲧⲁϩⲓⲣⲏⲛⲏ">
<norm_group norm_group="ⲛϫⲉⲧⲁϩⲓⲣⲏⲛⲏ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u163" func="case" head="#u164" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲧⲁϩⲓⲣⲏⲛⲏ">
<norm xml:id="u164" func="dislocated" head="#u162" pos="NPROP" lemma="ⲧⲁϩⲓⲣⲏⲛⲏ" norm="ⲧⲁϩⲓⲣⲏⲛⲏ">
ⲧⲁϩⲓⲣⲏⲛⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u165" func="cc" head="#u167" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϣⲱⲡ">
<norm_group norm_group="ⲉϣⲱⲡ">
<orig orig="ⲉ">
<norm xml:id="u166" func="mark" head="#u167" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϣⲱⲡ">
<norm xml:id="u167" func="conj" head="#u162" pos="V" lemma="ϣⲱⲡ" norm="ϣⲱⲡ">
ϣⲱⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲣⲉϣⲁⲛ">
<norm_group norm_group="ⲁⲣⲉϣⲁⲛ">
<orig orig="ⲁⲣⲉϣⲁⲛ">
<norm xml:id="u168" func="obj" head="#u167" pos="ACOND" lemma="ⲁⲣⲉϣⲁⲛ" norm="ⲁⲣⲉϣⲁⲛ">
ⲁⲣⲉϣⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲁⲥⲥⲩⲣⲓⲟⲥ">
<norm_group norm_group="ⲡⲓⲁⲥⲥⲩⲣⲓⲟⲥ">
<orig orig="ⲡⲓ">
<norm xml:id="u169" func="det" head="#u170" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲁⲥⲥⲩⲣⲓⲟⲥ">
<norm xml:id="u170" func="obj" head="#u167" pos="N" lemma="ⲁⲥⲥⲩⲣⲓⲟⲥ" norm="ⲁⲥⲥⲩⲣⲓⲟⲥ">
<lang lang="Greek">
ⲁⲥⲥⲩⲣⲓⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲓ̀">
<norm_group norm_group="ⲓ">
<orig orig="ⲓ̀">
<norm xml:id="u171" func="conj" head="#u162" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲉⲧⲉⲛⲕⲁϩⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲉⲧⲉⲛⲕⲁϩⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u172" func="case" head="#u174" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲧⲉⲛ">
<norm xml:id="u173" func="nmod:poss" head="#u174" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲡⲉⲧⲉⲛ">
ⲡⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u174" func="obl" head="#u171" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u175" func="cc" head="#u177" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϣⲱⲡ">
<norm_group norm_group="ⲉϣⲱⲡ">
<orig orig="ⲉ">
<norm xml:id="u176" func="mark" head="#u177" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϣⲱⲡ">
<norm xml:id="u177" func="conj" head="#u171" pos="V" lemma="ϣⲱⲡ" norm="ϣⲱⲡ">
ϣⲱⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲛϣⲉⲛⲁϥ">
<norm_group norm_group="ⲁϥϣⲁⲛϣⲉⲛⲁϥ">
<orig orig="ⲁϥϣⲁⲛ">
<norm xml:id="u178" func="obj" head="#u177" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲛⲑⲟϥ" norm="ⲁϥϣⲁⲛ">
ⲁϥϣⲁⲛ
</norm>
</orig>
<orig orig="ϣⲉⲛⲁ">
<norm xml:id="u179" func="xcomp" head="#u177" pos="V" lemma="ϣⲉⲛⲁ" norm="ϣⲉⲛⲁ">
ϣⲉⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u180" func="obj" head="#u179" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲧⲉⲧⲉⲛⲭⲱⲣⲁ">
<norm_group norm_group="ⲉϫⲉⲛⲧⲉⲧⲉⲛⲭⲱⲣⲁ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u181" func="case" head="#u183" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲧⲉⲛ">
<norm xml:id="u182" func="nmod:poss" head="#u183" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲧⲉⲧⲉⲛ">
ⲧⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲭⲱⲣⲁ">
<norm xml:id="u183" func="obl" head="#u179" pos="N" lemma="ⲭⲱⲣⲁ" norm="ⲭⲱⲣⲁ">
<lang lang="Greek">
ⲭⲱⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u184" func="cc" head="#u186" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲧⲱⲟⲩⲛⲟⲩ">
<norm_group norm_group="ⲉⲩⲉⲧⲱⲟⲩⲛⲟⲩ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u185" func="nsubj" head="#u186" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲧⲱⲟⲩⲛ">
<norm xml:id="u186" func="conj" head="#u162" pos="V" lemma="ⲧⲱⲟⲩⲛ" norm="ⲧⲱⲟⲩⲛ">
ⲧⲱⲟⲩⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u187" func="obj" head="#u186" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u188" func="advmod" head="#u186" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱϥ">
<norm_group norm_group="ⲉϫⲱϥ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u189" func="case" head="#u190" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u190" func="obl" head="#u186" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲍ̅">
<norm_group norm_group="ⲛϫⲉⲍ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u191" func="case" head="#u192" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲍ̅">
<norm xml:id="u192" func="dislocated" head="#u186" pos="NUM" lemma="ⲍ" norm="ⲍ">
ⲍ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲁⲛⲉ̀ⲥⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲁⲛⲉⲥⲱⲟⲩ">
<orig orig="ⲙ̀">
<norm xml:id="u193" func="case" head="#u194" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲁⲛⲉ̀ⲥⲱⲟⲩ">
<norm xml:id="u194" func="nmod" head="#u192" pos="N" lemma="ⲙⲁⲛⲉⲥⲱⲟⲩ" norm="ⲙⲁⲛⲉⲥⲱⲟⲩ">
ⲙⲁⲛⲉ̀ⲥⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲏ̅">
<norm_group norm_group="ⲛⲉⲙϩⲏ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u195" func="cc" head="#u196" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲏ̅">
<norm xml:id="u196" func="conj" head="#u194" pos="N" lemma="ϩⲏ" norm="ϩⲏ">
ⲏ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲗⲁⲏⲥⲓ">
<norm_group norm_group="ⲛⲗⲁⲏⲥⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u197" func="case" head="#u198" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲗⲁⲏⲥⲓ">
<norm xml:id="u198" func="nmod" head="#u196" pos="N" lemma="ⲗⲁⲏⲥⲓ" norm="ⲗⲁⲏⲥⲓ">
ⲗⲁⲏⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲣⲱⲙⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u199" func="case" head="#u200" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u200" func="nmod" head="#u198" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u201" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="And they shall tend the Assyrian with a sword, and the land of Nebrod with her trench: and he shall deliver you from the Assyrian, when he shall come upon your land, and when he shall invade your coasts.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u202" func="cc" head="#u204" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲉⲩⲉⲁⲙⲟⲛⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u203" func="nsubj" head="#u204" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲁ̀ⲙⲟⲛⲓ">
<norm xml:id="u204" func="root" pos="V" lemma="ⲁⲙⲟⲛⲓ" norm="ⲁⲙⲟⲛⲓ">
ⲁ̀ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲁⲥⲥⲩⲣⲓⲟⲥ">
<norm_group norm_group="ⲙⲡⲓⲁⲥⲥⲩⲣⲓⲟⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u205" func="case" head="#u207" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u206" func="det" head="#u207" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲁⲥⲥⲩⲣⲓⲟⲥ">
<norm xml:id="u207" func="obj" head="#u204" pos="N" lemma="ⲁⲥⲥⲩⲣⲓⲟⲥ" norm="ⲁⲥⲥⲩⲣⲓⲟⲥ">
<lang lang="Greek">
ⲁⲥⲥⲩⲣⲓⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲥⲏϥⲓ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲥⲏϥⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u208" func="case" head="#u210" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u209" func="det" head="#u210" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲏϥⲓ">
<norm xml:id="u210" func="obl" head="#u204" pos="N" lemma="ⲥⲏϥⲓ" norm="ⲥⲏϥⲓ">
ⲥⲏϥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u211" func="cc" head="#u213" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u212" func="det" head="#u213" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u213" func="conj" head="#u204" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲫⲣⲟϫ">
<norm_group norm_group="ⲛⲉⲫⲣⲟϫ">
<orig orig="ⲛⲉ">
<norm xml:id="u214" func="cop" head="#u218" pos="COP" lemma="ⲡⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
<orig orig="ⲫⲣⲟϫ">
<norm xml:id="u215" func="nsubj" head="#u218" pos="V" lemma="ⲫⲣⲟϫ" norm="ⲫⲣⲟϫ">
ⲫⲣⲟϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲧⲉϥⲧⲁⲫⲣⲟ">
<norm_group norm_group="ϧⲉⲛⲧⲉϥⲧⲁⲫⲣⲟ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u216" func="case" head="#u218" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲧⲉϥ">
<norm xml:id="u217" func="nmod:poss" head="#u218" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲧⲉϥ">
ⲧⲉϥ
</norm>
</orig>
<orig orig="ⲧⲁⲫⲣⲟ">
<norm xml:id="u218" func="orphan" head="#u213" pos="N" lemma="ⲧⲁⲫⲣⲟ" norm="ⲧⲁⲫⲣⲟ">
ⲧⲁⲫⲣⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u219" func="cc" head="#u221" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ⲛⲟϩⲉⲙ">
<norm_group norm_group="ⲉϥⲉⲛⲟϩⲉⲙ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u220" func="nsubj" head="#u221" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ⲛⲟϩⲉⲙ">
<norm xml:id="u221" func="conj" head="#u204" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲟϩⲉⲙ">
ⲛⲟϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u222" func="advmod" head="#u221" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u223" func="fixed" head="#u222" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥⲥⲟⲩⲣ">
<norm_group norm_group="ⲁⲥⲥⲟⲩⲣ">
<orig orig="ⲁ">
<norm xml:id="u224" func="case" head="#u225" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥⲥⲟⲩⲣ">
<norm xml:id="u225" func="obl" head="#u221" pos="N" lemma="ⲥⲥⲟⲩⲣ" norm="ⲥⲥⲟⲩⲣ">
ⲥⲥⲟⲩⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲟⲧⲁⲛ">
<norm_group norm_group="ϩⲟⲧⲁⲛ">
<orig orig="ϩⲟⲧⲁⲛ">
<norm xml:id="u226" func="mark" head="#u228" pos="CONJ" lemma="ϩⲟⲧⲁⲛ" norm="ϩⲟⲧⲁⲛ">
<lang lang="Greek">
ϩⲟⲧⲁⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲛⲓ̀">
<norm_group norm_group="ⲁϥϣⲁⲛⲓ">
<orig orig="ⲁϥϣⲁⲛ">
<norm xml:id="u227" func="nsubj" head="#u228" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲛⲑⲟϥ" norm="ⲁϥϣⲁⲛ">
ⲁϥϣⲁⲛ
</norm>
</orig>
<orig orig="ⲓ̀">
<norm xml:id="u228" func="acl:relcl" head="#u225" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲡⲉⲧⲉⲛⲕⲁϩⲓ">
<norm_group norm_group="ⲉϫⲉⲛⲡⲉⲧⲉⲛⲕⲁϩⲓ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u229" func="case" head="#u231" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲧⲉⲛ">
<norm xml:id="u230" func="nmod:poss" head="#u231" pos="PPOS" lemma="ⲡⲉⲧⲉⲛ" norm="ⲡⲉⲧⲉⲛ">
ⲡⲉⲧⲉⲛ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u231" func="obl" head="#u228" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u232" func="cc" head="#u235" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲟⲧⲁⲛ">
<norm_group norm_group="ϩⲟⲧⲁⲛ">
<orig orig="ϩⲟⲧⲁⲛ">
<norm xml:id="u233" func="mark" head="#u235" pos="CONJ" lemma="ϩⲟⲧⲁⲛ" norm="ϩⲟⲧⲁⲛ">
<lang lang="Greek">
ϩⲟⲧⲁⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲛⲓ̀">
<norm_group norm_group="ⲁϥϣⲁⲛⲓ">
<orig orig="ⲁϥϣⲁⲛ">
<norm xml:id="u234" func="nsubj" head="#u235" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲛⲑⲟϥ" norm="ⲁϥϣⲁⲛ">
ⲁϥϣⲁⲛ
</norm>
</orig>
<orig orig="ⲓ̀">
<norm xml:id="u235" func="conj" head="#u228" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲉⲧⲉⲛⲑⲟϣ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲉⲧⲉⲛⲑⲟϣ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u236" func="case" head="#u237" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲉⲧⲉⲛⲑⲟϣ">
<norm xml:id="u237" func="obl" head="#u235" pos="N" lemma="ⲛⲉⲧⲉⲛⲑⲟϣ" norm="ⲛⲉⲧⲉⲛⲑⲟϣ">
ⲛⲉⲧⲉⲛⲑⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u238" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="And the remnant of Jacob shall be among the Gentiles in the midst of many peoples, as dew falling from the Lord, and as lambs on the grass; that none may assemble nor resist among the sons of men.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u239" func="cc" head="#u241" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉϥⲉϣⲱⲡⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u240" func="nsubj" head="#u241" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u241" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ⲥⲱϫⲡ">
<norm_group norm_group="ⲛϫⲉⲡⲥⲱϫⲡ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u242" func="case" head="#u244" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u243" func="det" head="#u244" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲥⲱϫⲡ">
<norm xml:id="u244" func="dislocated" head="#u241" pos="N" lemma="ⲥⲱϫⲡ" norm="ⲥⲱϫⲡ">
ⲥⲱϫⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲓⲁⲕⲱⲃ">
<norm_group norm_group="ⲛⲓⲁⲕⲱⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u245" func="case" head="#u246" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲓⲁⲕⲱⲃ">
<norm xml:id="u246" func="nmod" head="#u244" pos="NPROP" lemma="ⲓⲁⲕⲱⲃ" norm="ⲓⲁⲕⲱⲃ">
<lang lang="Hebrew">
ⲓⲁⲕⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲉⲑⲛⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲉⲑⲛⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u247" func="case" head="#u249" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u248" func="det" head="#u249" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲑⲛⲟⲥ">
<norm xml:id="u249" func="obl" head="#u241" pos="N" lemma="ϩⲉⲑⲛⲟⲥ" norm="ⲉⲑⲛⲟⲥ">
<lang lang="Greek">
ⲉⲑⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲑ̀ⲙⲏϯ">
<norm_group norm_group="ϧⲉⲛⲧⲙⲏϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u250" func="case" head="#u252" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲑ̀">
<norm xml:id="u251" func="det" head="#u252" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ̀
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u252" func="obl" head="#u241" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲗⲁⲟⲥ">
<norm_group norm_group="ⲛϩⲁⲛⲗⲁⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u253" func="case" head="#u255" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u254" func="det" head="#u255" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u255" func="nmod" head="#u252" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟϣ">
<norm_group norm_group="ⲉⲩⲟϣ">
<orig orig="ⲉ">
<norm xml:id="u256" func="mark" head="#u258" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u257" func="nsubj" head="#u258" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϣ">
<norm xml:id="u258" func="acl:relcl" head="#u255" pos="VSTAT" lemma="ⲁϣⲁⲓ" norm="ⲟϣ">
ⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u259" func="case" head="#u261" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u260" func="det" head="#u261" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u261" func="obl" head="#u241" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲓⲱϯ">
<norm_group norm_group="ⲛⲟⲩⲓⲱϯ">
<orig orig="ⲛ̀">
<norm xml:id="u262" func="case" head="#u264" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u263" func="det" head="#u264" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲓⲱϯ">
<norm xml:id="u264" func="nmod" head="#u261" pos="N" lemma="ⲓⲱϯ" norm="ⲓⲱϯ">
ⲓⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲥϩⲓⲱⲟⲩⲧ">
<norm_group norm_group="ⲉⲥϩⲓⲱⲟⲩⲧ">
<orig orig="ⲉ">
<norm xml:id="u265" func="mark" head="#u267" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u266" func="nsubj" head="#u267" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϩⲓⲱⲟⲩⲧ">
<norm xml:id="u267" func="acl:relcl" head="#u264" pos="VSTAT" lemma="ϩⲉⲓ" norm="ϩⲓⲱⲟⲩⲧ">
ϩⲓⲱⲟⲩⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϩⲓⲧⲟⲧϥ">
<norm_group norm_group="ⲉⲃⲟⲗϩⲓⲧⲟⲧϥ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u268" func="advmod" head="#u267" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϩⲓⲧⲟⲧϥ">
<norm xml:id="u269" func="advmod" head="#u267" pos="V" lemma="ϩⲓⲧⲟⲧϥ" norm="ϩⲓⲧⲟⲧϥ">
ϩⲓⲧⲟⲧϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲙⲡϭⲟⲉⲓⲥ">
<orig orig="ⲙ̀">
<norm xml:id="u270" func="case" head="#u272" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u271" func="det" head="#u272" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u272" func="obl" head="#u267" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲛⲉⲙⲙⲫⲣⲏϯ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u273" func="cc" head="#u276" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲙ̀">
<norm xml:id="u274" func="case" head="#u276" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u275" func="det" head="#u276" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u276" func="conj" head="#u272" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϩⲓⲏⲃ">
<norm_group norm_group="ⲛⲟⲩϩⲓⲏⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u277" func="case" head="#u279" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u278" func="det" head="#u279" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲓⲏⲃ">
<norm xml:id="u279" func="nmod" head="#u276" pos="N" lemma="ϩⲓⲏⲃ" norm="ϩⲓⲏⲃ">
ϩⲓⲏⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲁⲕⲣⲟⲥⲑⲉⲛ">
<norm_group norm_group="ⲟⲩⲁⲕⲣⲟⲥⲑⲉⲛ">
<orig orig="ⲟⲩⲁⲕⲣⲟⲥⲑⲉⲛ">
<norm xml:id="u280" func="appos" head="#u276" pos="PREP" lemma="ⲟⲩⲁⲕⲣⲟⲥⲑⲉⲛ" norm="ⲟⲩⲁⲕⲣⲟⲥⲑⲉⲛ">
ⲟⲩⲁⲕⲣⲟⲥⲑⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲟⲡⲱⲥ">
<norm_group norm_group="ϩⲟⲡⲱⲥ">
<orig orig="ϩⲟⲡⲱⲥ">
<norm xml:id="u281" func="mark" head="#u286" pos="N" lemma="ϩⲟⲡⲱⲥ" norm="ϩⲟⲡⲱⲥ">
<lang lang="Greek">
ϩⲟⲡⲱⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϣ̀ⲧⲉⲙ">
<norm_group norm_group="ⲛⲧⲉϣⲧⲉⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u282" func="aux" head="#u286" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲧⲉ">
<norm xml:id="u283" func="nsubj" head="#u286" pos="COP" lemma="ⲡⲉ" norm="ⲧⲉ">
ⲧⲉ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u284" func="advmod" head="#u286" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩ̀ⲗⲓ">
<norm_group norm_group="ϩⲗⲓ">
<orig orig="ϩ̀ⲗⲓ">
<norm xml:id="u285" func="nsubj" head="#u286" pos="N" lemma="ϩⲗⲓ" norm="ϩⲗⲓ">
ϩ̀ⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲑⲱⲟⲩϯ">
<norm_group norm_group="ⲑⲱⲟⲩϯ">
<orig orig="ⲑⲱⲟⲩϯ">
<norm xml:id="u286" func="advcl" head="#u241" pos="V" lemma="ⲑⲱⲟⲩϯ" norm="ⲑⲱⲟⲩϯ">
ⲑⲱⲟⲩϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲇⲉ">
<norm_group norm_group="ⲟⲩⲇⲉ">
<orig orig="ⲟⲩⲇⲉ">
<norm xml:id="u287" func="cc" head="#u291" pos="CONJ" lemma="ⲟⲩⲇⲉ" norm="ⲟⲩⲇⲉ">
<lang lang="Greek">
ⲟⲩⲇⲉ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲟⲩϣ̀ⲧⲉⲙⲟ̀ϩⲓ">
<norm_group norm_group="ⲛⲧⲟⲩϣⲧⲉⲙⲟϩⲓ">
<orig orig="ⲛ̀ⲧ">
<norm xml:id="u288" func="aux" head="#u291" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧ">
ⲛ̀ⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u289" func="nsubj" head="#u291" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣ̀ⲧⲉⲙ">
<norm xml:id="u290" func="advmod" head="#u291" pos="NEG" lemma="ϣⲧⲉⲙ" norm="ϣⲧⲉⲙ">
ϣ̀ⲧⲉⲙ
</norm>
</orig>
<orig orig="ⲟ̀ϩⲓ">
<norm xml:id="u291" func="conj" head="#u286" pos="V" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟ̀ϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲁⲧⲟⲩϧⲉⲛⲛⲓϣⲏⲣⲓ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩϧⲉⲛⲛⲓϣⲏⲣⲓ">
<orig orig="ⲉ̀ⲣⲁⲧ">
<norm xml:id="u292" func="case" head="#u293" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉ̀ⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u293" func="obl" head="#u291" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u294" func="case" head="#u296" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u295" func="det" head="#u296" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϣⲏⲣⲓ">
<norm xml:id="u296" func="obl" head="#u291" pos="N" lemma="ϣⲏⲣⲓ" norm="ϣⲏⲣⲓ">
ϣⲏⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲣⲱⲙⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u297" func="case" head="#u299" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u298" func="det" head="#u299" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u299" func="nmod" head="#u296" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u300" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="And the remnant of Jacob shall be among the Gentiles in the midst of many nations, as a lion in the forest among cattle, and as a lion's whelp among the flocks of sheep, even as when he goes through, and selects, and carries off his prey, and there is none to deliver.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u301" func="cc" head="#u303" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉϥⲉϣⲱⲡⲓ">
<orig orig="ⲉϥⲉ̀">
<norm xml:id="u302" func="nsubj" head="#u303" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟϥ" norm="ⲉϥⲉ">
ⲉϥⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u303" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡ̀ⲥⲱϫⲡ">
<norm_group norm_group="ⲛϫⲉⲡⲥⲱϫⲡ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u304" func="case" head="#u306" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u305" func="det" head="#u306" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲥⲱϫⲡ">
<norm xml:id="u306" func="dislocated" head="#u303" pos="N" lemma="ⲥⲱϫⲡ" norm="ⲥⲱϫⲡ">
ⲥⲱϫⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲓⲁⲕⲱⲃ">
<norm_group norm_group="ⲛⲓⲁⲕⲱⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u307" func="case" head="#u308" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲓⲁⲕⲱⲃ">
<norm xml:id="u308" func="nmod" head="#u306" pos="NPROP" lemma="ⲓⲁⲕⲱⲃ" norm="ⲓⲁⲕⲱⲃ">
<lang lang="Hebrew">
ⲓⲁⲕⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲉⲑⲛⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲉⲑⲛⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u309" func="case" head="#u311" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u310" func="det" head="#u311" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲑⲛⲟⲥ">
<norm xml:id="u311" func="obl" head="#u303" pos="N" lemma="ϩⲉⲑⲛⲟⲥ" norm="ⲉⲑⲛⲟⲥ">
<lang lang="Greek">
ⲉⲑⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲑ̀ⲙⲏϯ">
<norm_group norm_group="ϧⲉⲛⲧⲙⲏϯ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u312" func="case" head="#u314" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲑ̀">
<norm xml:id="u313" func="det" head="#u314" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲑ̀
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u314" func="obl" head="#u303" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲗⲁⲟⲥ">
<norm_group norm_group="ⲛϩⲁⲛⲗⲁⲟⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u315" func="case" head="#u317" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u316" func="det" head="#u317" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲗⲁⲟⲥ">
<norm xml:id="u317" func="nmod" head="#u314" pos="N" lemma="ⲗⲁⲟⲥ" norm="ⲗⲁⲟⲥ">
<lang lang="Greek">
ⲗⲁⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲟϣ">
<norm_group norm_group="ⲉⲩⲟϣ">
<orig orig="ⲉ">
<norm xml:id="u318" func="mark" head="#u320" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u319" func="nsubj" head="#u320" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟϣ">
<norm xml:id="u320" func="acl:relcl" head="#u317" pos="VSTAT" lemma="ⲁϣⲁⲓ" norm="ⲟϣ">
ⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u321" func="case" head="#u323" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u322" func="det" head="#u323" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u323" func="obl" head="#u303" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲟⲩⲙⲟⲩⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u324" func="case" head="#u326" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u325" func="det" head="#u326" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u326" func="nmod" head="#u323" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲭⲏ">
<norm_group norm_group="ⲉϥⲭⲏ">
<orig orig="ⲉ">
<norm xml:id="u327" func="mark" head="#u329" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u328" func="nsubj" head="#u329" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲭⲏ">
<norm xml:id="u329" func="acl:relcl" head="#u326" pos="VSTAT" lemma="ⲭⲱ" norm="ⲭⲏ">
ⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲧⲉⲃⲛⲱⲟⲩⲓ̀">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲧⲉⲃⲛⲱⲟⲩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u330" func="case" head="#u332" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u331" func="det" head="#u332" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲧⲉⲃⲛⲱⲟⲩⲓ̀">
<norm xml:id="u332" func="obl" head="#u329" pos="N" lemma="ⲧⲉⲃⲛⲱⲟⲩⲓ" norm="ⲧⲉⲃⲛⲱⲟⲩⲓ">
ⲧⲉⲃⲛⲱⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲇⲣⲩⲙⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲇⲣⲩⲙⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u333" func="case" head="#u335" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u334" func="det" head="#u335" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲇⲣⲩⲙⲟⲥ">
<norm xml:id="u335" func="obl" head="#u329" pos="N" lemma="ⲇⲣⲩⲙⲟⲥ" norm="ⲇⲣⲩⲙⲟⲥ">
<lang lang="Greek">
ⲇⲣⲩⲙⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲛⲉⲙⲙⲫⲣⲏϯ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u336" func="cc" head="#u339" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲙ̀">
<norm xml:id="u337" func="case" head="#u339" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u338" func="det" head="#u339" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u339" func="conj" head="#u335" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲙⲁⲥ">
<norm_group norm_group="ⲛⲟⲩⲙⲁⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u340" func="case" head="#u342" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u341" func="det" head="#u342" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁⲥ">
<norm xml:id="u342" func="nmod" head="#u339" pos="N" lemma="ⲙⲁⲥ" norm="ⲙⲁⲥ">
ⲙⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲙⲙⲟⲩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u343" func="case" head="#u344" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u344" func="nmod" head="#u342" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϥⲭⲏ">
<norm_group norm_group="ⲉϥⲭⲏ">
<orig orig="ⲉ">
<norm xml:id="u345" func="mark" head="#u347" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u346" func="nsubj" head="#u347" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲭⲏ">
<norm xml:id="u347" func="acl:relcl" head="#u342" pos="VSTAT" lemma="ⲭⲱ" norm="ⲭⲏ">
ⲭⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛϩⲁⲛⲟ̀ϩⲓ">
<norm_group norm_group="ϧⲉⲛϩⲁⲛⲟϩⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u348" func="case" head="#u350" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u349" func="det" head="#u350" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲟ̀ϩⲓ">
<norm xml:id="u350" func="obl" head="#u347" pos="N" lemma="ⲟϩⲓ" norm="ⲟϩⲓ">
ⲟ̀ϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲉ̀ⲥⲱⲟⲩ">
<norm_group norm_group="ⲛⲉⲥⲱⲟⲩ">
<orig orig="ⲛ̀">
<norm xml:id="u351" func="case" head="#u352" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲉ̀ⲥⲱⲟⲩ">
<norm xml:id="u352" func="nmod" head="#u350" pos="N" lemma="ⲉⲥⲱⲟⲩ" norm="ⲉⲥⲱⲟⲩ">
ⲉ̀ⲥⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u353" func="case" head="#u355" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u354" func="det" head="#u355" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u355" func="obl" head="#u347" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϣⲁⲛⲓ̀">
<norm_group norm_group="ⲁϥϣⲁⲛⲓ">
<orig orig="ⲁϥϣⲁⲛ">
<norm xml:id="u356" func="case" head="#u357" pos="ACOND_PPERS" lemma="ⲁⲣⲉϣⲁⲛ_ⲛⲑⲟϥ" norm="ⲁϥϣⲁⲛ">
ⲁϥϣⲁⲛ
</norm>
</orig>
<orig orig="ⲓ̀">
<norm xml:id="u357" func="acl:relcl" head="#u355" pos="V" lemma="ⲓ" norm="ⲓ">
ⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϥϫⲟⲣⲟⲩ">
<norm_group norm_group="ⲛⲧⲉϥϫⲟⲣⲟⲩ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u358" func="aux" head="#u360" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u359" func="nsubj" head="#u360" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲟⲣ">
<norm xml:id="u360" func="acl:relcl" head="#u355" pos="V" lemma="ϫⲉⲣ" norm="ϫⲟⲣ">
ϫⲟⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u361" func="obj" head="#u360" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u362" func="advmod" head="#u360" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϥϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲛⲧⲉϥϩⲱⲗⲉⲙ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u363" func="aux" head="#u365" pos="ACONJ" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u364" func="nsubj" head="#u365" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u365" func="advcl" head="#u360" pos="V" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲉϥϣⲟⲡ">
<norm_group norm_group="ⲛⲉϥϣⲟⲡ">
<orig orig="ⲛ̀ⲉϥ">
<norm xml:id="u366" func="nmod:poss" head="#u367" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛ̀ⲉϥ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u367" func="obj" head="#u365" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲛ">
<norm_group norm_group="ⲁⲛ">
<orig orig="ⲁⲛ">
<norm xml:id="u368" func="advmod" head="#u365" pos="NEG" lemma="ⲁⲛ" norm="ⲁⲛ">
ⲁⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲫⲏⲉⲑⲛⲁⲉⲣⲃⲟⲏ̀ⲑⲓⲛ">
<norm_group norm_group="ⲛϫⲉⲫⲏⲉⲑⲛⲁⲉⲣⲃⲟⲏⲑⲓⲛ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u369" func="case" head="#u370" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲫⲏⲉⲑⲛⲁ">
<norm xml:id="u370" func="dislocated" head="#u367" pos="NPROP" lemma="ⲫⲏⲉⲑⲛⲁ" norm="ⲫⲏⲉⲑⲛⲁ">
ⲫⲏⲉⲑⲛⲁ
</norm>
</orig>
<orig orig="ⲉⲣⲃⲟⲏ̀ⲑⲓⲛ">
<norm xml:id="u371" func="dislocated" head="#u365" pos="V" lemma="ⲉⲣⲃⲟⲏⲑⲓⲛ" norm="ⲉⲣⲃⲟⲏⲑⲓⲛ">
ⲉⲣⲃⲟⲏ̀ⲑⲓⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u372" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="Thine hand shall be lifted up against them that afflict thee, and all thine enemies shall be utterly destroyed.">
<orig_group orig_group="ⲉⲥⲱ̀ϭⲓⲥⲓ">
<norm_group norm_group="ⲉⲥⲱϭⲓⲥⲓ">
<orig orig="ⲉⲥⲱ̀ϭⲓⲥⲓ">
<norm xml:id="u373" func="root" new_sent="true" pos="V" lemma="ⲉⲥⲱϭⲓⲥⲓ" norm="ⲉⲥⲱϭⲓⲥⲓ">
ⲉⲥⲱ̀ϭⲓⲥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲧⲉⲕϫⲓϫ">
<norm_group norm_group="ⲛϫⲉⲧⲉⲕϫⲓϫ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u374" func="case" head="#u376" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲧⲉⲕ">
<norm xml:id="u375" func="nmod:poss" head="#u376" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u376" func="dislocated" head="#u373" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲏⲉⲧϩⲟϫϩⲉϫ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲏⲉⲧϩⲟϫϩⲉϫ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u377" func="case" head="#u378" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲏ">
<norm xml:id="u378" func="det" head="#u379" pos="PDEM" lemma="ⲫⲏ" norm="ⲛⲏ">
ⲛⲏ
</norm>
</orig>
<orig orig="ⲉⲧϩⲟϫϩⲉϫ">
<norm xml:id="u379" func="obl" head="#u373" pos="V" lemma="ⲉⲧϩⲟϫϩⲉϫ" norm="ⲉⲧϩⲟϫϩⲉϫ">
ⲉⲧϩⲟϫϩⲉϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲕ">
<norm_group norm_group="ⲙⲙⲟⲕ">
<orig orig="ⲙ̀ⲙⲟ">
<norm xml:id="u380" func="case" head="#u381" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲟ">
ⲙ̀ⲙⲟ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u381" func="nmod" head="#u379" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u382" func="cc" head="#u384" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϥⲱϯ">
<norm_group norm_group="ⲉⲩⲉϥⲱϯ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u383" func="nsubj" head="#u384" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϥⲱϯ">
<norm xml:id="u384" func="conj" head="#u373" pos="V" lemma="ϥⲱϯ" norm="ϥⲱϯ">
ϥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u385" func="advmod" head="#u384" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲉⲕϫⲁϫⲓ">
<norm_group norm_group="ⲛϫⲉⲛⲉⲕϫⲁϫⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u386" func="case" head="#u388" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u387" func="nmod:poss" head="#u388" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϫⲁϫⲓ">
<norm xml:id="u388" func="dislocated" head="#u384" pos="N" lemma="ϫⲁϫⲓ" norm="ϫⲁϫⲓ">
ϫⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u389" func="nmod:unmarked" head="#u388" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u390" func="nmod:poss" head="#u389" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u391" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="And it shall come to pass in that day, saith the Lord, that I will utterly destroy the horses out of the midst of thee, and destroy thy chariots;">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u392" func="cc" head="#u394" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲥⲉ̀ϣⲱⲡⲓ">
<norm_group norm_group="ⲉⲥⲉϣⲱⲡⲓ">
<orig orig="ⲉⲥⲉ̀">
<norm xml:id="u393" func="nsubj" head="#u394" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲥ" norm="ⲉⲥⲉ">
ⲉⲥⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲡⲓ">
<norm xml:id="u394" func="root" pos="V" lemma="ϣⲱⲡⲓ" norm="ϣⲱⲡⲓ">
ϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲉ̀ϩⲟⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲉϩⲟⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u395" func="case" head="#u397" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u396" func="det" head="#u397" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϩⲟⲟⲩ">
<norm xml:id="u397" func="obl" head="#u394" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉ̀ϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲉⲙ̀ⲙⲁⲩ">
<norm_group norm_group="ⲉⲧⲉⲙⲙⲁⲩ">
<orig orig="ⲉⲧⲉ">
<norm xml:id="u398" func="mark" head="#u399" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧⲉ">
ⲉⲧⲉ
</norm>
</orig>
<orig orig="ⲙ̀ⲙⲁⲩ">
<norm xml:id="u399" func="acl:relcl" head="#u397" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲙ̀ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉϫⲉ">
<norm_group norm_group="ⲡⲉϫⲉ">
<orig orig="ⲡⲉϫⲉ">
<norm xml:id="u400" func="parataxis" head="#u394" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲉ">
ⲡⲉϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲟⲉⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u401" func="det" head="#u402" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u402" func="nsubj" head="#u400" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϥⲱϯ">
<norm_group norm_group="ϯⲛⲁϥⲱϯ">
<orig orig="ϯ">
<norm xml:id="u403" func="nsubj" head="#u405" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u404" func="aux" head="#u405" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥⲱϯ">
<norm xml:id="u405" func="ccomp" head="#u400" pos="V" lemma="ϥⲱϯ" norm="ϥⲱϯ">
ϥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u406" func="advmod" head="#u405" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕϩ̀ⲑⲱⲣ">
<norm_group norm_group="ⲛⲛⲉⲕϩⲑⲱⲣ">
<orig orig="ⲛ̀">
<norm xml:id="u407" func="case" head="#u409" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u408" func="nmod:poss" head="#u409" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϩ̀ⲑⲱⲣ">
<norm xml:id="u409" func="obj" head="#u405" pos="N" lemma="ϩⲁⲑⲱⲣ" norm="ϩⲑⲱⲣ">
ϩ̀ⲑⲱⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u410" func="case" head="#u413" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u411" func="fixed" head="#u410" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲕⲙⲏϯ">
<norm_group norm_group="ⲧⲉⲕⲙⲏϯ">
<orig orig="ⲧⲉⲕ">
<norm xml:id="u412" func="nmod:poss" head="#u413" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u413" func="obl" head="#u405" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u414" func="cc" head="#u417" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲧⲁⲕⲟ">
<norm_group norm_group="ϯⲛⲁⲧⲁⲕⲟ">
<orig orig="ϯ">
<norm xml:id="u415" func="nsubj" head="#u417" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u416" func="aux" head="#u417" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲁⲕⲟ">
<norm xml:id="u417" func="conj" head="#u405" pos="V" lemma="ⲧⲁⲕⲟ" norm="ⲧⲁⲕⲟ">
ⲧⲁⲕⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕϩⲁⲣⲙⲁ">
<norm_group norm_group="ⲛⲛⲉⲕϩⲁⲣⲙⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u418" func="case" head="#u420" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u419" func="nmod:poss" head="#u420" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϩⲁⲣⲙⲁ">
<norm xml:id="u420" func="obj" head="#u417" pos="N" lemma="ϩⲁⲣⲙⲁ" norm="ϩⲁⲣⲙⲁ">
<lang lang="Greek">
ϩⲁⲣⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u421" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="and I will utterly destroy the cities of thy land, and demolish all thy strong-holds:">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u422" func="cc" head="#u425" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϥⲱϯ">
<norm_group norm_group="ϯⲛⲁϥⲱϯ">
<orig orig="ϯ">
<norm xml:id="u423" func="nsubj" head="#u425" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u424" func="aux" head="#u425" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥⲱϯ">
<norm xml:id="u425" func="root" pos="V" lemma="ϥⲱϯ" norm="ϥⲱϯ">
ϥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u426" func="advmod" head="#u425" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲃⲁⲕⲓ">
<norm_group norm_group="ⲛⲛⲓⲃⲁⲕⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u427" func="case" head="#u429" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u428" func="det" head="#u429" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u429" func="obj" head="#u425" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲉⲕⲕⲁϩⲓ">
<norm_group norm_group="ⲛⲧⲉⲡⲉⲕⲕⲁϩⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u430" func="case" head="#u432" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u431" func="nmod:poss" head="#u432" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u432" func="nmod" head="#u429" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u433" func="cc" head="#u436" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲱ̀ⲗⲓ">
<norm_group norm_group="ϯⲛⲁⲱⲗⲓ">
<orig orig="ϯ">
<norm xml:id="u434" func="nsubj" head="#u436" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u435" func="aux" head="#u436" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<multiword multiword="ⲱⲗⲓ ⲛ">
<orig orig="ⲱ̀ⲗⲓ">
<norm xml:id="u436" func="conj" head="#u425" pos="V" lemma="ⲱⲗⲓ" norm="ⲱⲗⲓ">
ⲱ̀ⲗⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕⲙⲁ">
<norm_group norm_group="ⲛⲛⲉⲕⲙⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u437" func="case" head="#u439" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
</multiword>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u438" func="nmod:poss" head="#u439" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u439" func="obj" head="#u436" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u440" func="nmod:unmarked" head="#u439" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u441" func="det" head="#u440" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϫⲟⲣ">
<norm_group norm_group="ⲉⲧϫⲟⲣ">
<orig orig="ⲉⲧ">
<norm xml:id="u442" func="mark" head="#u443" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϫⲟⲣ">
<norm xml:id="u443" func="acl:relcl" head="#u439" pos="V" lemma="ϫⲉⲣ" norm="ϫⲟⲣ">
ϫⲟⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u444" func="cc" head="#u447" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϥⲱϯ">
<norm_group norm_group="ϯⲛⲁϥⲱϯ">
<orig orig="ϯ">
<norm xml:id="u445" func="nsubj" head="#u447" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u446" func="aux" head="#u447" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥⲱϯ">
<norm xml:id="u447" func="conj" head="#u425" pos="V" lemma="ϥⲱϯ" norm="ϥⲱϯ">
ϥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u448" func="advmod" head="#u447" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕⲫⲁϧⲣⲓ">
<norm_group norm_group="ⲛⲛⲉⲕⲫⲁϧⲣⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u449" func="case" head="#u451" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u450" func="nmod:poss" head="#u451" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲫⲁϧⲣⲓ">
<norm xml:id="u451" func="obj" head="#u447" pos="N" lemma="ⲫⲁϧⲣⲓ" norm="ⲫⲁϧⲣⲓ">
ⲫⲁϧⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u452" func="case" head="#u455" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u453" func="fixed" head="#u452" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲕϫⲓϫ">
<norm_group norm_group="ⲛⲉⲕϫⲓϫ">
<orig orig="ⲛⲉⲕ">
<norm xml:id="u454" func="nmod:poss" head="#u455" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u455" func="obl" head="#u447" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u456" func="cc" head="#u457" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲏⲉⲧⲉⲣⲟⲩⲱ̀">
<norm_group norm_group="ⲛⲏⲉⲧⲉⲣⲟⲩⲱ">
<orig orig="ⲛⲏⲉⲧⲉⲣⲟⲩⲱ̀">
<norm xml:id="u457" func="conj" head="#u447" pos="NUM" lemma="ⲛⲏⲉⲧⲉⲣⲟⲩⲱ" norm="ⲛⲏⲉⲧⲉⲣⲟⲩⲱ">
ⲛⲏⲉⲧⲉⲣⲟⲩⲱ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩⲙⲁⲛϣⲱⲡⲓ">
<norm_group norm_group="ⲛⲛⲟⲩⲙⲁⲛϣⲱⲡⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u458" func="obj" head="#u457" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u459" func="case" head="#u461" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u460" func="det" head="#u461" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁⲛϣⲱⲡⲓ">
<norm xml:id="u461" func="obj" head="#u457" pos="N" lemma="ⲙⲁⲛϣⲱⲡⲓ" norm="ⲙⲁⲛϣⲱⲡⲓ">
ⲙⲁⲛϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϧⲏⲧⲕ">
<norm_group norm_group="ⲛϧⲏⲧⲕ">
<orig orig="ⲛ̀ϧⲏⲧ">
<norm xml:id="u462" func="case" head="#u463" pos="PREP" lemma="ϧⲉⲛ" norm="ⲛϧⲏⲧ">
ⲛ̀ϧⲏⲧ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u463" func="obl" head="#u457" pos="PPERO" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u464" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="and I will utterly destroy thy sorceries out of thine hands; and there shall be no soothsayers in thee.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u465" func="cc" head="#u468" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϥⲱϯ">
<norm_group norm_group="ϯⲛⲁϥⲱϯ">
<orig orig="ϯ">
<norm xml:id="u466" func="nsubj" head="#u468" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u467" func="aux" head="#u468" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥⲱϯ">
<norm xml:id="u468" func="root" pos="V" lemma="ϥⲱϯ" norm="ϥⲱϯ">
ϥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u469" func="advmod" head="#u468" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕⲫⲱⲧϩ">
<norm_group norm_group="ⲛⲛⲉⲕⲫⲱⲧϩ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u470" func="aux" head="#u472" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ⲕ">
<norm xml:id="u471" func="nsubj" head="#u472" pos="PPERS" lemma="ⲛⲑⲟⲕ" norm="ⲕ">
ⲕ
</norm>
</orig>
<orig orig="ⲫⲱⲧϩ">
<norm xml:id="u472" func="parataxis" head="#u468" pos="V" lemma="ⲫⲱⲧϩ" norm="ⲫⲱⲧϩ">
ⲫⲱⲧϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲉⲕⲥⲧⲩⲗⲏ">
<norm_group norm_group="ⲛⲉⲙⲛⲉⲕⲥⲧⲩⲗⲏ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u473" func="case" head="#u475" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u474" func="nmod:poss" head="#u475" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲥⲧⲩⲗⲏ">
<norm xml:id="u475" func="obl" head="#u472" pos="N" lemma="ⲥⲧⲩⲗⲏ" norm="ⲥⲧⲩⲗⲏ">
<lang lang="Greek">
ⲥⲧⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u476" func="case" head="#u479" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u477" func="fixed" head="#u476" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲕⲙⲏϯ">
<norm_group norm_group="ⲧⲉⲕⲙⲏϯ">
<orig orig="ⲧⲉⲕ">
<norm xml:id="u478" func="nmod:poss" head="#u479" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u479" func="obl" head="#u472" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u480" func="cc" head="#u482" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕⲟⲩϣⲧ">
<norm_group norm_group="ⲛⲛⲉⲕⲟⲩϣⲧ">
<orig orig="ⲛ̀ⲛⲉⲕ">
<norm xml:id="u481" func="nsubj" head="#u482" pos="N" lemma="ⲛⲛⲉⲕ" norm="ⲛⲛⲉⲕ">
ⲛ̀ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲟⲩϣⲧ">
<norm xml:id="u482" func="conj" head="#u472" pos="V" lemma="ⲟⲩϣⲧ" norm="ⲟⲩϣⲧ">
ⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲛ̀ⲛⲓϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ϫⲉⲛⲛⲓϩⲃⲏⲟⲩⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u483" func="mark" head="#u486" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲛ̀">
<norm xml:id="u484" func="case" head="#u486" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u485" func="det" head="#u486" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u486" func="obl" head="#u482" pos="N" lemma="ϩⲱⲃ" norm="ϩⲃⲏⲟⲩⲓ">
ϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲉⲕϫⲓϫ">
<norm_group norm_group="ⲛⲧⲉⲛⲉⲕϫⲓϫ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u487" func="case" head="#u489" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u488" func="nmod:poss" head="#u489" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ϫⲓϫ">
<norm xml:id="u489" func="nmod" head="#u486" pos="N" lemma="ϫⲓϫ" norm="ϫⲓϫ">
ϫⲓϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u490" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="And I will utterly destroy thy graven images, and thy statues out of the midst of thee; and thou shalt never any more worship the works of thine hands.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u491" func="cc" head="#u494" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲕⲱⲣϫ">
<norm_group norm_group="ϯⲛⲁⲕⲱⲣϫ">
<orig orig="ϯ">
<norm xml:id="u492" func="nsubj" head="#u494" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u493" func="aux" head="#u494" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲕⲱⲣϫ">
<norm xml:id="u494" func="root" pos="V" lemma="ⲕⲱⲣϫ" norm="ⲕⲱⲣϫ">
ⲕⲱⲣϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲓⲁϩϣ̀ϣⲏⲛ">
<norm_group norm_group="ⲛⲛⲓⲓⲁϩϣϣⲏⲛ">
<orig orig="ⲛ̀">
<norm xml:id="u495" func="case" head="#u497" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u496" func="det" head="#u497" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲓⲁϩϣ̀ϣⲏⲛ">
<norm xml:id="u497" func="obj" head="#u494" pos="N" lemma="ⲓⲁϩϣϣⲏⲛ" norm="ⲓⲁϩϣϣⲏⲛ">
ⲓⲁϩϣ̀ϣⲏⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u498" func="case" head="#u501" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u499" func="fixed" head="#u498" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲉⲕⲙⲏϯ">
<norm_group norm_group="ⲧⲉⲕⲙⲏϯ">
<orig orig="ⲧⲉⲕ">
<norm xml:id="u500" func="nmod:poss" head="#u501" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲧⲉⲕ">
ⲧⲉⲕ
</norm>
</orig>
<orig orig="ⲙⲏϯ">
<norm xml:id="u501" func="obl" head="#u494" pos="N" lemma="ⲙⲏϯ" norm="ⲙⲏϯ">
ⲙⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲧⲁⲕⲟ">
<norm_group norm_group="ϯⲛⲁⲧⲁⲕⲟ">
<orig orig="ϯ">
<norm xml:id="u502" func="nsubj" head="#u504" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u503" func="aux" head="#u504" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲧⲁⲕⲟ">
<norm xml:id="u504" func="parataxis" head="#u494" pos="V" lemma="ⲧⲁⲕⲟ" norm="ⲧⲁⲕⲟ">
ⲧⲁⲕⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲕⲃⲁⲕⲓ">
<norm_group norm_group="ⲛⲛⲉⲕⲃⲁⲕⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u505" func="case" head="#u507" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉⲕ">
<norm xml:id="u506" func="nmod:poss" head="#u507" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲛⲉⲕ">
ⲛⲉⲕ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u507" func="obj" head="#u504" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u508" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="14">
<translation translation="And I will cut off the groves out of the midst of thee, and I will abolish thy cities.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u509" func="cc" head="#u512" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲓ̀ⲣⲓ">
<norm_group norm_group="ϯⲛⲁⲓⲣⲓ">
<orig orig="ϯ">
<norm xml:id="u510" func="nsubj" head="#u512" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u511" func="aux" head="#u512" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲓ̀ⲣⲓ">
<norm xml:id="u512" func="root" pos="V" lemma="ⲓⲣⲓ" norm="ⲓⲣⲓ">
ⲓ̀ⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩϫⲱⲛⲧ">
<norm_group norm_group="ϧⲉⲛⲟⲩϫⲱⲛⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u513" func="case" head="#u515" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u514" func="det" head="#u515" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϫⲱⲛⲧ">
<norm xml:id="u515" func="obl" head="#u512" pos="N" lemma="ϫⲱⲛⲧ" norm="ϫⲱⲛⲧ">
ϫⲱⲛⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲙ̀ⲃⲟⲛ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲙⲃⲟⲛ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u516" func="cc" head="#u518" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u517" func="det" head="#u518" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙ̀ⲃⲟⲛ">
<norm xml:id="u518" func="conj" head="#u515" pos="N" lemma="ⲙⲃⲟⲛ" norm="ⲙⲃⲟⲛ">
ⲙ̀ⲃⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩϭⲓⲙ̀ⲡ̀ϣⲓϣ">
<norm_group norm_group="ⲛⲟⲩϭⲓⲙⲡϣⲓϣ">
<orig orig="ⲛ̀">
<norm xml:id="u519" func="case" head="#u521" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u520" func="det" head="#u521" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϭⲓⲙ̀ⲡ̀ϣⲓϣ">
<norm xml:id="u521" func="obj" head="#u512" pos="N" lemma="ϭⲓⲙⲡϣⲓϣ" norm="ϭⲓⲙⲡϣⲓϣ">
<morph morph="ϭⲓⲙ">
ϭⲓⲙ̀
</morph>
<morph morph="ⲡ">
ⲡ̀
</morph>
<morph morph="ϣⲓϣ">
ϣⲓϣ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲉⲑⲛⲟⲥ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲉⲑⲛⲟⲥ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u522" func="case" head="#u524" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u523" func="det" head="#u524" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉⲑⲛⲟⲥ">
<norm xml:id="u524" func="nmod" head="#u521" pos="N" lemma="ϩⲉⲑⲛⲟⲥ" norm="ⲉⲑⲛⲟⲥ">
<lang lang="Greek">
ⲉⲑⲛⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲫ̀ⲙⲁ">
<norm_group norm_group="ⲉⲫⲙⲁ">
<orig orig="ⲉ̀">
<norm xml:id="u525" func="case" head="#u527" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u526" func="det" head="#u527" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u527" func="obl" head="#u512" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲙ̀ⲡⲟⲩⲥⲱⲧⲉⲙ">
<norm_group norm_group="ϫⲉⲙⲡⲟⲩⲥⲱⲧⲉⲙ">
<orig orig="ϫⲉ">
<norm xml:id="u528" func="mark" head="#u531" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲙ̀ⲡ">
<norm xml:id="u529" func="aux" head="#u531" pos="ANEGAOR" lemma="ⲙⲡⲉ" norm="ⲙⲡ">
ⲙ̀ⲡ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u530" func="nsubj" head="#u531" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲉⲙ">
<norm xml:id="u531" func="advcl" head="#u512" pos="V" lemma="ⲥⲱⲧⲉⲙ" norm="ⲥⲱⲧⲉⲙ">
ⲥⲱⲧⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥⲱⲓ">
<norm_group norm_group="ⲛⲥⲱⲓ">
<orig orig="ⲛ̀ⲥⲱ">
<norm xml:id="u532" func="case" head="#u533" pos="PREP" lemma="ⲛⲥⲁ" norm="ⲛⲥⲱ">
ⲛ̀ⲥⲱ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u533" func="obl" head="#u531" pos="PPERO" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u534" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
