<meta annotation="Nina Speranskaja, Nicholas Wagner, Amir Zeldes" chapter="02" corpus="bohairic.ot" document_cts_urn="urn:cts:copticLit:ot.nah.bohairic_ed:02" languages="Bohairic Coptic" license="&lt;a href='https://creativecommons.org/licenses/by-sa/4.0/'&gt;CC-BY-SA&lt;/a&gt;" project="Coptic SCRIPTORIUM" source="&lt;a href='https://marcion.sourceforge.net/'&gt;Marcion&lt;a&gt;, Hany Takla" title="34_Nahum_02" translation="The Septuagint Version of the Old Testament, L.C.L. Brenton, 1851, available at &lt;a href='https://ebible.org/eng-Brenton/'&gt;ebible.org&lt;/a&gt;" version_date="2024-10-31" version_n="6.0.0">
<verse_n verse_n="1">
<translation translation="It is all over with him, he has been removed, one who has been delivered from affliction has come up panting into thy presence, watch the way, strengthen thy loins, be very valiant in thy strength.">
<orig_group orig_group="ⲁϥϫⲱⲕ">
<norm_group norm_group="ⲁϥϫⲱⲕ">
<orig orig="ⲁ">
<norm xml:id="u1" func="aux" head="#u3" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u2" func="nsubj" head="#u3" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϫⲱⲕ">
<norm xml:id="u3" func="root" pos="V" lemma="ϫⲱⲕ" norm="ϫⲱⲕ">
ϫⲱⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u4" func="advmod" head="#u3" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲟⲗϥ">
<norm_group norm_group="ⲁⲩⲟⲗϥ">
<orig orig="ⲁ">
<norm xml:id="u5" func="aux" head="#u7" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u6" func="nsubj" head="#u7" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟⲗ">
<norm xml:id="u7" func="parataxis" head="#u3" pos="V" lemma="ⲱⲗⲓ" norm="ⲟⲗ">
ⲟⲗ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u8" func="obj" head="#u7" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲉⲕϩⲟ">
<norm_group norm_group="ϧⲉⲛⲡⲉⲕϩⲟ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u9" func="case" head="#u11" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲉⲕ">
<norm xml:id="u10" func="nmod:poss" head="#u11" pos="PPOS" lemma="ⲡⲉⲕ" norm="ⲡⲉⲕ">
ⲡⲉⲕ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u11" func="obl" head="#u7" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲧⲛⲟϩⲉⲙ">
<norm_group norm_group="ⲫⲏⲉⲧⲛⲟϩⲉⲙ">
<orig orig="ⲫⲏⲉⲧ">
<norm xml:id="u12" func="mark" head="#u13" pos="NPROP" lemma="ⲫⲏⲉⲧ" norm="ⲫⲏⲉⲧ">
ⲫⲏⲉⲧ
</norm>
</orig>
<orig orig="ⲛⲟϩⲉⲙ">
<norm xml:id="u13" func="parataxis" head="#u7" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲟϩⲉⲙ">
ⲛⲟϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u14" func="case" head="#u17" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u15" func="fixed" head="#u14" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩϩⲟϫϩⲉϫ">
<norm_group norm_group="ⲟⲩϩⲟϫϩⲉϫ">
<orig orig="ⲟⲩ">
<norm xml:id="u16" func="det" head="#u17" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲟϫϩⲉϫ">
<norm xml:id="u17" func="obl" head="#u13" pos="N" lemma="ϩⲟϫϩⲉϫ" norm="ϩⲟϫϩⲉϫ">
ϩⲟϫϩⲉϫ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲟⲩϣⲧ">
<norm_group norm_group="ϫⲟⲩϣⲧ">
<orig orig="ϫⲟⲩϣⲧ">
<norm xml:id="u18" func="parataxis" head="#u13" pos="V" lemma="ϫⲟⲩϣⲧ" norm="ϫⲟⲩϣⲧ">
ϫⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲟⲩⲙⲱⲓⲧ">
<norm_group norm_group="ⲉⲟⲩⲙⲱⲓⲧ">
<orig orig="ⲉ̀">
<norm xml:id="u19" func="case" head="#u21" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u20" func="det" head="#u21" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u21" func="obl" head="#u18" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲙⲟⲛⲓ">
<norm_group norm_group="ⲁⲙⲟⲛⲓ">
<orig orig="ⲁ̀ⲙⲟⲛⲓ">
<norm xml:id="u22" func="parataxis" head="#u18" pos="V" lemma="ⲁⲙⲟⲛⲓ" norm="ⲁⲙⲟⲛⲓ">
ⲁ̀ⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩϯⲡⲓ">
<norm_group norm_group="ⲛⲛⲟⲩϯⲡⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u23" func="case" head="#u25" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u24" func="nmod:poss" head="#u25" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ϯⲡⲓ">
<norm xml:id="u25" func="obj" head="#u22" pos="N" lemma="ϯⲡⲓ" norm="ϯⲡⲓ">
ϯⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲙⲛⲟⲙϯ">
<norm_group norm_group="ϫⲉⲙⲛⲟⲙϯ">
<orig orig="ϫⲉ">
<norm xml:id="u26" func="mark" head="#u27" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲙⲛⲟⲙϯ">
<norm xml:id="u27" func="advcl" head="#u22" pos="N" lemma="ⲙⲛⲟⲙϯ" norm="ⲙⲛⲟⲙϯ">
ⲙⲛⲟⲙϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲟⲙ">
<norm_group norm_group="ⲛϫⲟⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u28" func="case" head="#u29" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲟⲙ">
<norm xml:id="u29" func="obl" head="#u27" pos="N" lemma="ϫⲟⲙ" norm="ϫⲟⲙ">
ϫⲟⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲙⲁϣⲱ">
<norm_group norm_group="ⲉⲙⲁϣⲱ">
<orig orig="ⲉⲙⲁϣⲱ">
<norm xml:id="u30" func="advmod" head="#u27" pos="ADV" lemma="ⲉⲙⲁϣⲱ" norm="ⲉⲙⲁϣⲱ">
ⲉⲙⲁϣⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u31" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="2">
<translation translation="For the Lord has turned aside the pride of Jacob, as the pride of Israel: for they have utterly rejected them, and have destroyed their branches.">
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u32" func="mark" head="#u36" new_sent="true" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲓ">
<norm xml:id="u33" func="advmod" head="#u36" pos="ADV" lemma="ⲟⲩⲏⲓ" norm="ⲟⲩⲏⲓ">
ⲟⲩⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ">
<norm_group norm_group="ⲁ">
<orig orig="ⲁ">
<norm xml:id="u34" func="aux" head="#u36" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲥ">
<orig orig="ⲡϭ̅ⲥ̅">
<norm xml:id="u35" func="nsubj" head="#u36" pos="PPERS" lemma="ⲡϭⲥ" norm="ⲡϭⲥ">
ⲡϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲁⲥⲑⲟ">
<norm_group norm_group="ⲧⲁⲥⲑⲟ">
<orig orig="ⲧⲁⲥⲑⲟ">
<norm xml:id="u36" func="root" pos="V" lemma="ⲧⲁⲥⲑⲟ" norm="ⲧⲁⲥⲑⲟ">
ⲧⲁⲥⲑⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡ̀ϣⲱϣ">
<norm_group norm_group="ⲙⲡϣⲱϣ">
<orig orig="ⲙ̀">
<norm xml:id="u37" func="case" head="#u39" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u38" func="det" head="#u39" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱϣ">
<norm xml:id="u39" func="obj" head="#u36" pos="N" lemma="ϣⲟϣ" norm="ϣⲱϣ">
ϣⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲓⲁⲕⲱⲃ">
<norm_group norm_group="ⲛⲓⲁⲕⲱⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u40" func="case" head="#u41" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲓⲁⲕⲱⲃ">
<norm xml:id="u41" func="nmod" head="#u39" pos="NPROP" lemma="ⲓⲁⲕⲱⲃ" norm="ⲓⲁⲕⲱⲃ">
<lang lang="Hebrew">
ⲓⲁⲕⲱⲃ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u42" func="case" head="#u44" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u43" func="det" head="#u44" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u44" func="obl" head="#u36" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡ̀ϣⲱϣ">
<norm_group norm_group="ⲙⲡϣⲱϣ">
<orig orig="ⲙ̀">
<norm xml:id="u45" func="case" head="#u47" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u46" func="det" head="#u47" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱϣ">
<norm xml:id="u47" func="nmod" head="#u44" pos="N" lemma="ϣⲟϣ" norm="ϣⲱϣ">
ϣⲱϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓ̅ⲥ̅ⲗ̅">
<norm_group norm_group="ⲙⲡⲓⲥⲗ">
<orig orig="ⲙ̀">
<norm xml:id="u48" func="case" head="#u50" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u49" func="det" head="#u50" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲓ̅ⲥ̅ⲗ̅">
<norm xml:id="u50" func="nmod" head="#u47" pos="N" lemma="ⲓⲥⲗ" norm="ⲓⲥⲗ">
ⲓ̅ⲥ̅ⲗ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲟⲩⲏⲓ">
<norm_group norm_group="ϫⲉⲟⲩⲏⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u51" func="mark" head="#u58" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲏⲓ">
<norm xml:id="u52" func="advmod" head="#u58" pos="ADV" lemma="ⲟⲩⲏⲓ" norm="ⲟⲩⲏⲓ">
ⲟⲩⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲛⲟϩⲉⲙ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲛⲟϩⲉⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u53" func="case" head="#u55" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u54" func="det" head="#u55" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲟϩⲉⲙ">
<norm xml:id="u55" func="obl" head="#u58" pos="N" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲟϩⲉⲙ">
ⲛⲟϩⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲓⲛⲁϩⲙⲟⲩ">
<norm_group norm_group="ⲁⲓⲛⲁϩⲙⲟⲩ">
<orig orig="ⲁ">
<norm xml:id="u56" func="aux" head="#u58" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲓ">
<norm xml:id="u57" func="nsubj" head="#u58" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ⲓ">
ⲓ
</norm>
</orig>
<orig orig="ⲛⲁϩⲙ">
<norm xml:id="u58" func="ccomp" head="#u36" pos="V" lemma="ⲛⲟϩⲉⲙ" norm="ⲛⲁϩⲙ">
ⲛⲁϩⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u59" func="obj" head="#u58" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u60" func="advmod" head="#u58" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲟⲩϫⲁϫⲓ">
<norm_group norm_group="ⲛⲉⲙⲛⲟⲩϫⲁϫⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u61" func="cc" head="#u63" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u62" func="nmod:poss" head="#u63" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ϫⲁϫⲓ">
<norm xml:id="u63" func="obl" head="#u58" pos="N" lemma="ϫⲁϫⲓ" norm="ϫⲁϫⲓ">
ϫⲁϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲣⲉⲙⲛⲓⲛⲉⲩⲏ̀">
<norm_group norm_group="ⲛⲓⲣⲉⲙⲛⲓⲛⲉⲩⲏ">
<orig orig="ⲛⲓⲣⲉⲙⲛⲓ">
<norm xml:id="u64" func="appos" head="#u63" pos="PREP" lemma="ⲛⲓⲣⲉⲙⲛⲓ" norm="ⲛⲓⲣⲉⲙⲛⲓ">
ⲛⲓⲣⲉⲙⲛⲓ
</norm>
</orig>
<orig orig="ⲛⲉⲩⲏ̀">
<norm xml:id="u65" func="appos" head="#u63" pos="N" lemma="ⲛⲉⲩⲏ" norm="ⲛⲉⲩⲏ">
ⲛⲉⲩⲏ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲟⲩⲕⲗⲏⲙⲁ">
<norm_group norm_group="ⲛⲉⲙⲛⲟⲩⲕⲗⲏⲙⲁ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u66" func="cc" head="#u68" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u67" func="nmod:poss" head="#u68" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲗⲏⲙⲁ">
<norm xml:id="u68" func="conj" head="#u65" pos="N" lemma="ⲕⲗⲏⲙⲁ" norm="ⲕⲗⲏⲙⲁ">
<lang lang="Greek">
ⲕⲗⲏⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u69" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="3">
<translation translation="They have destroyed the arms of their power from among men, their mighty men sporting with fire: the reins of their chariots shall be destroyed in the day of his preparation, and the horsemen shall be thrown into confusion">
<orig_group orig_group="ⲁⲩⲧⲁⲕⲟ">
<norm_group norm_group="ⲁⲩⲧⲁⲕⲟ">
<orig orig="ⲁ">
<norm xml:id="u70" func="aux" head="#u72" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u71" func="nsubj" head="#u72" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲧⲁⲕⲟ">
<norm xml:id="u72" func="root" pos="V" lemma="ⲧⲁⲕⲟ" norm="ⲧⲁⲕⲟ">
ⲧⲁⲕⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲟⲩϩⲟⲡⲗⲟⲛ">
<norm_group norm_group="ⲛⲟⲩϩⲟⲡⲗⲟⲛ">
<orig orig="ⲛ">
<norm xml:id="u73" func="case" head="#u75" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u74" func="det" head="#u75" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϩⲟⲡⲗⲟⲛ">
<norm xml:id="u75" func="obj" head="#u72" pos="N" lemma="ϩⲟⲡⲗⲟⲛ" norm="ϩⲟⲡⲗⲟⲛ">
<lang lang="Greek">
ϩⲟⲡⲗⲟⲛ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲧⲟⲩϫⲓⲏ">
<norm_group norm_group="ⲛⲧⲉⲧⲟⲩϫⲓⲏ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u76" func="case" head="#u78" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲧ">
<norm xml:id="u77" func="det" head="#u78" pos="ART" lemma="ⲡ" norm="ⲧ">
ⲧ
</norm>
</orig>
<orig orig="ⲟⲩϫⲓⲏ">
<norm xml:id="u78" func="nmod" head="#u75" pos="N" lemma="ⲟⲩϫⲓⲏ" norm="ⲟⲩϫⲓⲏ">
ⲟⲩϫⲓⲏ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϧⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϧⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u79" func="case" head="#u82" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϧⲉⲛ">
<norm xml:id="u80" func="fixed" head="#u79" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲣⲱⲙⲓ">
<norm_group norm_group="ⲛⲓⲣⲱⲙⲓ">
<orig orig="ⲛⲓ">
<norm xml:id="u81" func="det" head="#u82" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u82" func="obl" head="#u72" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲁⲛⲣⲱⲙⲓ">
<norm_group norm_group="ϩⲁⲛⲣⲱⲙⲓ">
<orig orig="ϩⲁⲛ">
<norm xml:id="u83" func="det" head="#u84" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲣⲱⲙⲓ">
<norm xml:id="u84" func="appos" head="#u82" pos="N" lemma="ⲣⲱⲙⲓ" norm="ⲣⲱⲙⲓ">
ⲣⲱⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲱⲣⲓ">
<norm_group norm_group="ⲛϫⲱⲣⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u85" func="case" head="#u86" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲱⲣⲓ">
<norm xml:id="u86" func="nmod" head="#u84" pos="N" lemma="ϫⲱⲣⲓ" norm="ϫⲱⲣⲓ">
ϫⲱⲣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲥⲱⲃⲓ">
<norm_group norm_group="ⲉⲩⲥⲱⲃⲓ">
<orig orig="ⲉ">
<norm xml:id="u87" func="mark" head="#u89" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u88" func="nsubj" head="#u89" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲃⲓ">
<norm xml:id="u89" func="acl:relcl" head="#u84" pos="V" lemma="ⲥⲱⲃⲓ" norm="ⲥⲱⲃⲓ">
ⲥⲱⲃⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲭ̀ⲣⲱⲙ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲭⲣⲱⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u90" func="case" head="#u92" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u91" func="det" head="#u92" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭ̀ⲣⲱⲙ">
<norm xml:id="u92" func="obl" head="#u89" pos="N" lemma="ⲭⲣⲱⲙ" norm="ⲭⲣⲱⲙ">
ⲭ̀ⲣⲱⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲙⲟⲩⲥⲉⲣ">
<norm_group norm_group="ⲛⲓⲙⲟⲩⲥⲉⲣ">
<orig orig="ⲛⲓ">
<norm xml:id="u93" func="det" head="#u94" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲥⲉⲣ">
<norm xml:id="u94" func="appos" head="#u92" pos="N" lemma="ⲙⲟⲩⲥⲉⲣ" norm="ⲙⲟⲩⲥⲉⲣ">
ⲙⲟⲩⲥⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲟⲩϩⲁⲣⲙⲁ">
<norm_group norm_group="ⲛⲧⲉⲛⲟⲩϩⲁⲣⲙⲁ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u95" func="case" head="#u97" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u96" func="nmod:poss" head="#u97" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ϩⲁⲣⲙⲁ">
<norm xml:id="u97" func="nmod" head="#u94" pos="N" lemma="ϩⲁⲣⲙⲁ" norm="ϩⲁⲣⲙⲁ">
<lang lang="Greek">
ϩⲁⲣⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲉ̀ϩⲟⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲉϩⲟⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u98" func="case" head="#u100" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u99" func="det" head="#u100" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϩⲟⲟⲩ">
<norm xml:id="u100" func="obl" head="#u89" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉ̀ϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡ̀ⲥⲟⲃϯ">
<norm_group norm_group="ⲛⲧⲉⲡⲥⲟⲃϯ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u101" func="case" head="#u102" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡ̀ⲥⲟⲃϯ">
<norm xml:id="u102" func="nmod" head="#u100" pos="NPROP" lemma="ⲡⲥⲟⲃϯ" norm="ⲡⲥⲟⲃϯ">
ⲡ̀ⲥⲟⲃϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u103" func="cc" head="#u107" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓϭⲁⲥⲓϩ̀ⲑⲟ">
<norm_group norm_group="ⲛⲓϭⲁⲥⲓϩⲑⲟ">
<orig orig="ⲛⲓ">
<norm xml:id="u104" func="det" head="#u105" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϭⲁⲥⲓϩ̀ⲑⲟ">
<norm xml:id="u105" func="dislocated" head="#u107" pos="N" lemma="ϭⲁⲥⲓϩⲑⲟ" norm="ϭⲁⲥⲓϩⲑⲟ">
<morph morph="ϭⲁⲥⲓ">
ϭⲁⲥⲓ
</morph>
<morph morph="ϩⲑⲟ">
ϩ̀ⲑⲟ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϣ̀ⲑⲟⲣⲧⲉⲣ">
<norm_group norm_group="ⲉⲩⲉϣⲑⲟⲣⲧⲉⲣ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u106" func="nsubj" head="#u107" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϣ̀ⲑⲟⲣⲧⲉⲣ">
<norm xml:id="u107" func="conj" head="#u72" pos="V" lemma="ϣⲑⲟⲣⲧⲉⲣ" norm="ϣⲑⲟⲣⲧⲉⲣ">
ϣ̀ⲑⲟⲣⲧⲉⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲙⲱⲓⲧ">
<norm_group norm_group="ϧⲉⲛⲛⲓⲙⲱⲓⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u108" func="case" head="#u110" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u109" func="det" head="#u110" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲱⲓⲧ">
<norm xml:id="u110" func="obl" head="#u107" pos="N" lemma="ⲙⲱⲓⲧ" norm="ⲙⲱⲓⲧ">
ⲙⲱⲓⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u111" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="4">
<translation translation="in the ways, and the chariots shall clash together, and shall be entangled in each other in the broad ways: their appearance is as lamps of fire, and as gleaming lightnings.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u112" func="cc" head="#u114" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϫⲟⲣ">
<norm_group norm_group="ⲉⲩⲉϫⲟⲣ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u113" func="nsubj" head="#u114" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϫⲟⲣ">
<norm xml:id="u114" func="root" pos="V" lemma="ϫⲉⲣ" norm="ϫⲟⲣ">
ϫⲟⲣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u115" func="advmod" head="#u114" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓϩⲁⲣⲙⲁ">
<norm_group norm_group="ⲛϫⲉⲛⲓϩⲁⲣⲙⲁ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u116" func="case" head="#u118" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u117" func="det" head="#u118" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ϩⲁⲣⲙⲁ">
<norm xml:id="u118" func="dislocated" head="#u114" pos="N" lemma="ϩⲁⲣⲙⲁ" norm="ϩⲁⲣⲙⲁ">
<lang lang="Greek">
ϩⲁⲣⲙⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u119" func="cc" head="#u121" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϭⲗⲟⲙⲗⲉⲙ">
<norm_group norm_group="ⲉⲩⲉϭⲗⲟⲙⲗⲉⲙ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u120" func="nsubj" head="#u121" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϭⲗⲟⲙⲗⲉⲙ">
<norm xml:id="u121" func="conj" head="#u114" pos="V" lemma="ϭⲗⲟⲙⲗⲉⲙ" norm="ϭⲗⲟⲙⲗⲉⲙ">
ϭⲗⲟⲙⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲛⲓⲡⲗⲁⲧⲓⲁ̀">
<norm_group norm_group="ϧⲉⲛⲛⲓⲡⲗⲁⲧⲓⲁ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u122" func="case" head="#u124" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u123" func="det" head="#u124" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲡⲗⲁⲧⲓⲁ̀">
<norm xml:id="u124" func="obl" head="#u121" pos="N" lemma="ⲡⲗⲁⲧⲓⲁ" norm="ⲡⲗⲁⲧⲓⲁ">
<lang lang="Greek">
ⲡⲗⲁⲧⲓⲁ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲟⲩϩⲟⲣⲁⲥⲓⲥ">
<norm_group norm_group="ⲧⲟⲩϩⲟⲣⲁⲥⲓⲥ">
<orig orig="ⲧⲟⲩ">
<norm xml:id="u125" func="nmod:poss" head="#u126" pos="PPOS" lemma="ⲧⲟⲩ" norm="ⲧⲟⲩ">
ⲧⲟⲩ
</norm>
</orig>
<orig orig="ϩⲟⲣⲁⲥⲓⲥ">
<norm xml:id="u126" func="appos" head="#u124" pos="N" lemma="ϩⲟⲣⲁⲥⲓⲥ" norm="ϩⲟⲣⲁⲥⲓⲥ">
<lang lang="Greek">
ϩⲟⲣⲁⲥⲓⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u127" func="case" head="#u129" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u128" func="det" head="#u129" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u129" func="obl" head="#u121" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲗⲁⲙⲡⲁⲥ">
<norm_group norm_group="ⲛϩⲁⲛⲗⲁⲙⲡⲁⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u130" func="case" head="#u132" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u131" func="det" head="#u132" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲗⲁⲙⲡⲁⲥ">
<norm xml:id="u132" func="nmod" head="#u129" pos="N" lemma="ⲗⲁⲙⲡⲁⲥ" norm="ⲗⲁⲙⲡⲁⲥ">
<lang lang="Greek">
ⲗⲁⲙⲡⲁⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲭ̀ⲣⲱⲙ">
<norm_group norm_group="ⲛⲭⲣⲱⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u133" func="case" head="#u134" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲭ̀ⲣⲱⲙ">
<norm xml:id="u134" func="nmod" head="#u132" pos="N" lemma="ⲭⲣⲱⲙ" norm="ⲭⲣⲱⲙ">
ⲭ̀ⲣⲱⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲛⲉⲙⲙⲫⲣⲏϯ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u135" func="cc" head="#u138" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲙ̀">
<norm xml:id="u136" func="case" head="#u138" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u137" func="det" head="#u138" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u138" func="conj" head="#u129" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛⲗⲁⲙⲡⲁⲥ">
<norm_group norm_group="ⲛϩⲁⲛⲗⲁⲙⲡⲁⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u139" func="case" head="#u141" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u140" func="det" head="#u141" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲗⲁⲙⲡⲁⲥ">
<norm xml:id="u141" func="nmod" head="#u138" pos="N" lemma="ⲗⲁⲙⲡⲁⲥ" norm="ⲗⲁⲙⲡⲁⲥ">
<lang lang="Greek">
ⲗⲁⲙⲡⲁⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩϭⲟϫⲓ">
<norm_group norm_group="ⲉⲩϭⲟϫⲓ">
<orig orig="ⲉ">
<norm xml:id="u142" func="mark" head="#u144" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u143" func="nsubj" head="#u144" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϭⲟϫⲓ">
<norm xml:id="u144" func="acl:relcl" head="#u141" pos="V" lemma="ϭⲟϫⲓ" norm="ϭⲟϫⲓ">
ϭⲟϫⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u145" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="5">
<translation translation="And their mighty men shall bethink themselves and flee by day; and they shall be weak as they go; and they shall hasten to her walls, and shall prepare their defences.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u146" func="cc" head="#u148" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲉⲣⲫ̀ⲙⲉⲩⲓ̀">
<norm_group norm_group="ⲉⲩⲉⲉⲣⲫⲙⲉⲩⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u147" func="nsubj" head="#u148" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲉⲣ">
<norm xml:id="u148" func="root" pos="V" lemma="ⲓⲣⲓ" norm="ⲉⲣ">
ⲉⲣ
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u149" func="det" head="#u150" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲙⲉⲩⲓ̀">
<norm xml:id="u150" func="obj" head="#u148" pos="N" lemma="ⲙⲉⲩⲓ" norm="ⲙⲉⲩⲓ">
ⲙⲉⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲟⲩⲛⲓϣϯ">
<norm_group norm_group="ⲛϫⲉⲛⲟⲩⲛⲓϣϯ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u151" func="case" head="#u153" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲟⲩ">
<norm xml:id="u152" func="nmod:poss" head="#u153" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲛⲟⲩ">
ⲛⲟⲩ
</norm>
</orig>
<orig orig="ⲛⲓϣϯ">
<norm xml:id="u153" func="dislocated" head="#u148" pos="N" lemma="ⲛⲓϣϯ" norm="ⲛⲓϣϯ">
ⲛⲓϣϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u154" func="cc" head="#u156" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲫⲱⲧ">
<norm_group norm_group="ⲉⲩⲉⲫⲱⲧ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u155" func="nsubj" head="#u156" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲫⲱⲧ">
<norm xml:id="u156" func="conj" head="#u148" pos="V" lemma="ⲫⲱⲧ" norm="ⲫⲱⲧ">
ⲫⲱⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲓⲉ̀ϩⲟⲟⲩ">
<norm_group norm_group="ϧⲉⲛⲡⲓⲉϩⲟⲟⲩ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u157" func="case" head="#u159" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u158" func="det" head="#u159" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲉ̀ϩⲟⲟⲩ">
<norm xml:id="u159" func="obl" head="#u156" pos="N" lemma="ⲉϩⲟⲟⲩ" norm="ⲉϩⲟⲟⲩ">
ⲉ̀ϩⲟⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u160" func="cc" head="#u162" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ϣⲱⲛⲓ">
<norm_group norm_group="ⲉⲩⲉϣⲱⲛⲓ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u161" func="nsubj" head="#u162" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ϣⲱⲛⲓ">
<norm xml:id="u162" func="conj" head="#u148" pos="V" lemma="ϣⲱⲛⲓ" norm="ϣⲱⲛⲓ">
ϣⲱⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲟⲩϫⲓⲛⲙⲟϣⲓ">
<norm_group norm_group="ϧⲉⲛⲡⲟⲩϫⲓⲛⲙⲟϣⲓ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u163" func="case" head="#u165" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲟⲩ">
<norm xml:id="u164" func="nmod:poss" head="#u165" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲡⲟⲩ">
ⲡⲟⲩ
</norm>
</orig>
<orig orig="ϫⲓⲛⲙⲟϣⲓ">
<norm xml:id="u165" func="obl" head="#u162" pos="N" lemma="ϫⲓⲛⲙⲟϣⲓ" norm="ϫⲓⲛⲙⲟϣⲓ">
ϫⲓⲛⲙⲟϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u166" func="cc" head="#u168" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲓⲱⲥ">
<norm_group norm_group="ⲉⲩⲉⲓⲱⲥ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u167" func="nsubj" head="#u168" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲓⲱⲥ">
<norm xml:id="u168" func="conj" head="#u148" pos="V" lemma="ⲓⲱⲥ" norm="ⲓⲱⲥ">
ⲓⲱⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲉⲛⲛⲓⲥⲟⲃⲧ">
<norm_group norm_group="ⲉϫⲉⲛⲛⲓⲥⲟⲃⲧ">
<orig orig="ⲉ̀ϫⲉⲛ">
<norm xml:id="u169" func="case" head="#u171" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲉⲛ">
ⲉ̀ϫⲉⲛ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u170" func="det" head="#u171" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲥⲟⲃⲧ">
<norm xml:id="u171" func="obl" head="#u168" pos="N" lemma="ⲥⲟⲃⲧ" norm="ⲥⲟⲃⲧ">
ⲥⲟⲃⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u172" func="cc" head="#u174" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲥⲟⲃⲧ">
<norm_group norm_group="ⲉⲩⲉⲥⲟⲃⲧ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u173" func="nsubj" head="#u174" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲥⲟⲃⲧ">
<norm xml:id="u174" func="conj" head="#u148" pos="V" lemma="ⲥⲟⲃⲧ" norm="ⲥⲟⲃⲧ">
ⲥⲟⲃⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩⲙⲁⲛⲁ̀ⲣⲉϩ">
<norm_group norm_group="ⲛⲛⲟⲩⲙⲁⲛⲁⲣⲉϩ">
<orig orig="ⲛ̀">
<norm xml:id="u175" func="obj" head="#u174" pos="PPERO" lemma="ⲁⲛⲟⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u176" func="case" head="#u178" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u177" func="det" head="#u178" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁⲛⲁ̀ⲣⲉϩ">
<norm xml:id="u178" func="obl" head="#u174" pos="N" lemma="ⲙⲁⲛⲁⲣⲉϩ" norm="ⲙⲁⲛⲁⲣⲉϩ">
ⲙⲁⲛⲁ̀ⲣⲉϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u179" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="6">
<translation translation="The gates of the cities have been opened, and the palaces have fallen into ruin,">
<orig_group orig_group="ⲛⲓⲡⲩⲗⲏ">
<norm_group norm_group="ⲛⲓⲡⲩⲗⲏ">
<orig orig="ⲛⲓ">
<norm xml:id="u180" func="det" head="#u181" new_sent="true" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲡⲩⲗⲏ">
<norm xml:id="u181" func="dislocated" head="#u187" pos="N" lemma="ⲡⲩⲗⲏ" norm="ⲡⲩⲗⲏ">
<lang lang="Greek">
ⲡⲩⲗⲏ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲃⲁⲕⲓ">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲃⲁⲕⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u182" func="case" head="#u184" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u183" func="det" head="#u184" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲃⲁⲕⲓ">
<norm xml:id="u184" func="nmod" head="#u181" pos="N" lemma="ⲃⲁⲕⲓ" norm="ⲃⲁⲕⲓ">
ⲃⲁⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲟⲩⲱⲛ">
<norm_group norm_group="ⲁⲩⲟⲩⲱⲛ">
<orig orig="ⲁ">
<norm xml:id="u185" func="aux" head="#u187" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u186" func="nsubj" head="#u187" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲱⲛ">
<norm xml:id="u187" func="root" pos="V" lemma="ⲟⲩⲱⲛ" norm="ⲟⲩⲱⲛ">
ⲟⲩⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u188" func="cc" head="#u191" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϩⲉⲓ">
<norm_group norm_group="ⲁⲩϩⲉⲓ">
<orig orig="ⲁ">
<norm xml:id="u189" func="aux" head="#u191" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u190" func="nsubj" head="#u191" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲉⲓ">
<norm xml:id="u191" func="conj" head="#u187" pos="V" lemma="ϩⲉⲓ" norm="ϩⲉⲓ">
ϩⲉⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲓⲙⲉⲧⲟⲩⲣⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉⲛⲓⲙⲉⲧⲟⲩⲣⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u192" func="case" head="#u194" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u193" func="det" head="#u194" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲉⲧⲟⲩⲣⲱⲟⲩ">
<norm xml:id="u194" func="dislocated" head="#u191" pos="N" lemma="ⲙⲉⲧⲟⲩⲣⲱⲟⲩ" norm="ⲙⲉⲧⲟⲩⲣⲱⲟⲩ">
<morph morph="ⲙⲉⲧ">
ⲙⲉⲧ
</morph>
<morph morph="ⲟⲩⲣⲱⲟⲩ">
ⲟⲩⲣⲱⲟⲩ
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u195" func="cc" head="#u200" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯϩⲩⲡⲟⲥⲧⲁⲥⲓⲥ">
<norm_group norm_group="ϯϩⲩⲡⲟⲥⲧⲁⲥⲓⲥ">
<orig orig="ϯ">
<norm xml:id="u196" func="det" head="#u197" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲩⲡⲟⲥⲧⲁⲥⲓⲥ">
<norm xml:id="u197" func="dislocated" head="#u200" pos="N" lemma="ϩⲩⲡⲟⲥⲧⲁⲥⲓⲥ" norm="ϩⲩⲡⲟⲥⲧⲁⲥⲓⲥ">
<lang lang="Greek">
ϩⲩⲡⲟⲥⲧⲁⲥⲓⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲥϭⲱⲣⲡ">
<norm_group norm_group="ⲁⲥϭⲱⲣⲡ">
<orig orig="ⲁ">
<norm xml:id="u198" func="aux" head="#u200" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲥ">
<norm xml:id="u199" func="nsubj" head="#u200" pos="PPERS" lemma="ⲛⲑⲟⲥ" norm="ⲥ">
ⲥ
</norm>
</orig>
<orig orig="ϭⲱⲣⲡ">
<norm xml:id="u200" func="conj" head="#u187" pos="V" lemma="ϭⲱⲣⲡ" norm="ϭⲱⲣⲡ">
ϭⲱⲣⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u201" func="advmod" head="#u200" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u202" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="7">
<translation translation="and the foundation has been exposed; and she has gone up, and her maid-servants were led away as doves moaning in their hearts.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u203" func="cc" head="#u206" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲟⲥ">
<norm_group norm_group="ⲛⲑⲟⲥ">
<orig orig="ⲛ̀ⲑⲟⲥ">
<norm xml:id="u204" func="nsubj" head="#u206" pos="PPERI" lemma="ⲛⲑⲟⲥ" norm="ⲛⲑⲟⲥ">
<lang lang="Greek">
ⲛ̀ⲑⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲥⲛⲏⲟⲩ">
<norm_group norm_group="ⲛⲁⲥⲛⲏⲟⲩ">
<orig orig="ⲛⲁ">
<norm xml:id="u205" func="nmod:poss" head="#u206" pos="PPOS" lemma="ⲡⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲥⲛⲏⲟⲩ">
<norm xml:id="u206" func="root" pos="N" lemma="ⲥⲟⲛ" norm="ⲥⲛⲏⲟⲩ">
ⲥⲛⲏⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲡ̀ϣⲱⲓ">
<norm_group norm_group="ⲉⲡϣⲱⲓ">
<orig orig="ⲉ̀">
<norm xml:id="u207" func="case" head="#u209" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲡ̀">
<norm xml:id="u208" func="det" head="#u209" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ϣⲱⲓ">
<norm xml:id="u209" func="obl" head="#u206" pos="N" lemma="ϣⲱⲓ" norm="ϣⲱⲓ">
ϣⲱⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u210" func="cc" head="#u213" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲩⲓ̀ⲛⲓ">
<norm_group norm_group="ⲛⲁⲩⲓⲛⲓ">
<orig orig="ⲛⲁ">
<norm xml:id="u211" func="aux" head="#u213" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u212" func="nsubj" head="#u213" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲓ̀ⲛⲓ">
<norm xml:id="u213" func="conj" head="#u206" pos="V" lemma="ⲓⲛⲓ" norm="ⲓⲛⲓ">
ⲓ̀ⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉⲥⲕⲉⲃⲱⲕⲓ">
<norm_group norm_group="ⲛⲛⲉⲥⲕⲉⲃⲱⲕⲓ">
<orig orig="ⲛ̀ⲛⲉ">
<norm xml:id="u214" func="aux" head="#u216" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛⲉ">
ⲛ̀ⲛⲉ
</norm>
</orig>
<orig orig="ⲥⲕⲉ">
<norm xml:id="u215" func="det" head="#u216" pos="PPOS" lemma="ⲥⲕⲉ" norm="ⲥⲕⲉ">
ⲥⲕⲉ
</norm>
</orig>
<orig orig="ⲃⲱⲕⲓ">
<norm xml:id="u216" func="obj" head="#u213" pos="N" lemma="ⲃⲱⲕⲓ" norm="ⲃⲱⲕⲓ">
ⲃⲱⲕⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲥ̀ϩⲓⲙⲓ">
<norm_group norm_group="ⲛⲥϩⲓⲙⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u217" func="case" head="#u218" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲥ̀ϩⲓⲙⲓ">
<norm xml:id="u218" func="nmod" head="#u216" pos="N" lemma="ⲥϩⲓⲙⲓ" norm="ⲥϩⲓⲙⲓ">
ⲥ̀ϩⲓⲙⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u219" func="case" head="#u221" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u220" func="det" head="#u221" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u221" func="obl" head="#u213" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲁⲛϭⲣⲟⲙⲡⲓ">
<norm_group norm_group="ⲛϩⲁⲛϭⲣⲟⲙⲡⲓ">
<orig orig="ⲛ̀">
<norm xml:id="u222" func="case" head="#u224" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u223" func="det" head="#u224" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ϭⲣⲟⲙⲡⲓ">
<norm xml:id="u224" func="nmod" head="#u221" pos="N" lemma="ϭⲣⲟⲙⲡⲓ" norm="ϭⲣⲟⲙⲡⲓ">
ϭⲣⲟⲙⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲉ̀ⲉⲣⲟⲩⲱ̀">
<norm_group norm_group="ⲉⲩⲉⲉⲣⲟⲩⲱ">
<orig orig="ⲉⲩⲉ̀">
<norm xml:id="u225" func="nsubj" head="#u226" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲱⲟⲩ" norm="ⲉⲩⲉ">
ⲉⲩⲉ̀
</norm>
</orig>
<orig orig="ⲉⲣⲟⲩⲱ̀">
<norm xml:id="u226" func="parataxis" head="#u213" pos="V" lemma="ⲉⲣⲟⲩⲱ" norm="ⲉⲣⲟⲩⲱ">
<morph morph="ⲉⲣ">
ⲉⲣ
</morph>
<morph morph="ⲟⲩⲱ">
ⲟⲩⲱ̀
</morph>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲡⲟⲩϩⲏⲧ">
<norm_group norm_group="ϧⲉⲛⲡⲟⲩϩⲏⲧ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u227" func="case" head="#u229" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲡⲟⲩ">
<norm xml:id="u228" func="nmod:poss" head="#u229" pos="PPOS" lemma="ⲡⲟⲩ" norm="ⲡⲟⲩ">
ⲡⲟⲩ
</norm>
</orig>
<orig orig="ϩⲏⲧ">
<norm xml:id="u229" func="obl" head="#u226" pos="N" lemma="ϩⲏⲧ" norm="ϩⲏⲧ">
ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u230" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="8">
<translation translation="And as for Nineve, her waters shall be as a pool of water: and they fled, and staid not, and there was none to look back.">
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u231" func="cc" head="#u233" new_sent="true" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲛⲉⲩⲏ̀">
<norm_group norm_group="ⲛⲓⲛⲉⲩⲏ">
<orig orig="ⲛⲓⲛⲉⲩⲏ̀">
<norm xml:id="u232" func="nsubj" head="#u233" pos="NPROP" lemma="ⲛⲓⲛⲉⲩⲏ" norm="ⲛⲓⲛⲉⲩⲏ">
<lang lang="Hebrew">
ⲛⲓⲛⲉⲩⲏ̀
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩ">
<norm_group norm_group="ⲁⲩ">
<orig orig="ⲁⲩ">
<norm xml:id="u233" func="root" pos="ADV" lemma="ⲁ" norm="ⲁⲩ">
ⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u234" func="case" head="#u236" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u235" func="det" head="#u236" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u236" func="obl" head="#u233" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲕⲟⲗⲩⲙⲃⲏⲑⲣⲁ">
<norm_group norm_group="ⲛⲟⲩⲕⲟⲗⲩⲙⲃⲏⲑⲣⲁ">
<orig orig="ⲛ̀">
<norm xml:id="u237" func="case" head="#u239" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u238" func="det" head="#u239" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲕⲟⲗⲩⲙⲃⲏⲑⲣⲁ">
<norm xml:id="u239" func="nmod" head="#u236" pos="N" lemma="ⲕⲟⲗⲩⲙⲃⲏⲑⲣⲁ" norm="ⲕⲟⲗⲩⲙⲃⲏⲑⲣⲁ">
<lang lang="Greek">
ⲕⲟⲗⲩⲙⲃⲏⲑⲣⲁ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u240" func="case" head="#u241" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u241" func="nmod" head="#u239" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲛⲉⲥⲙⲱⲟⲩ">
<norm_group norm_group="ⲛϫⲉⲛⲉⲥⲙⲱⲟⲩ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u242" func="case" head="#u244" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲛⲉⲥ">
<norm xml:id="u243" func="nmod:poss" head="#u244" pos="PPOS" lemma="ⲛⲉⲥ" norm="ⲛⲉⲥ">
ⲛⲉⲥ
</norm>
</orig>
<orig orig="ⲙⲱⲟⲩ">
<norm xml:id="u244" func="dislocated" head="#u239" pos="N" lemma="ⲙⲱⲟⲩ" norm="ⲙⲱⲟⲩ">
ⲙⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u245" func="cc" head="#u246" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲑⲱⲟⲩ">
<norm_group norm_group="ⲛⲑⲱⲟⲩ">
<orig orig="ⲛ̀ⲑⲱⲟⲩ">
<norm xml:id="u246" func="conj" head="#u233" pos="PPERI" lemma="ⲛⲑⲱⲟⲩ" norm="ⲛⲑⲱⲟⲩ">
ⲛ̀ⲑⲱⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲩⲫⲏⲧ">
<norm_group norm_group="ⲉⲩⲫⲏⲧ">
<orig orig="ⲉ">
<norm xml:id="u247" func="mark" head="#u249" pos="CCIRC" lemma="ⲉⲣⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u248" func="nsubj" head="#u249" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ⲫⲏⲧ">
<norm xml:id="u249" func="acl:relcl" head="#u246" pos="VSTAT" lemma="ⲫⲱⲧ" norm="ⲫⲏⲧ">
ⲫⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲟⲩⲟ̀ϩⲓ">
<norm_group norm_group="ⲙⲡⲟⲩⲟϩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u250" func="case" head="#u252" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡ">
<norm xml:id="u251" func="det" head="#u252" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲟⲩⲟ̀ϩⲓ">
<norm xml:id="u252" func="obj" head="#u249" pos="N" lemma="ⲟⲩⲟϩⲓ" norm="ⲟⲩⲟϩⲓ">
ⲟⲩⲟ̀ϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲁⲧⲟⲩⲟⲩⲟϩ">
<norm_group norm_group="ⲉⲣⲁⲧⲟⲩⲟⲩⲟϩ">
<orig orig="ⲉ̀ⲣⲁⲧ">
<norm xml:id="u253" func="case" head="#u254" pos="PREP" lemma="ⲉⲣⲁⲧ" norm="ⲉⲣⲁⲧ">
ⲉ̀ⲣⲁⲧ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u254" func="obl" head="#u249" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u255" func="cc" head="#u257" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u256" func="aux" head="#u257" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛ">
<norm_group norm_group="ⲙⲙⲟⲛ">
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u257" func="conj" head="#u233" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲧϫⲟⲩϣⲧ">
<norm_group norm_group="ⲡⲉⲧϫⲟⲩϣⲧ">
<orig orig="ⲡ">
<norm xml:id="u258" func="nsubj" head="#u257" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ⲉⲧ">
<norm xml:id="u259" func="mark" head="#u260" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϫⲟⲩϣⲧ">
<norm xml:id="u260" func="acl:relcl" head="#u258" pos="V" lemma="ϫⲟⲩϣⲧ" norm="ϫⲟⲩϣⲧ">
ϫⲟⲩϣⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u261" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="9">
<translation translation="They plundered the silver, they plundered the gold, and there was no end of their adorning; they were loaded with it upon all their pleasant vessels.">
<orig_group orig_group="ⲛⲁⲩϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲛⲁⲩϩⲱⲗⲉⲙ">
<orig orig="ⲛⲁ">
<norm xml:id="u262" func="aux" head="#u264" new_sent="true" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u263" func="nsubj" head="#u264" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u264" func="root" pos="V" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓϩⲁⲧ">
<norm_group norm_group="ⲙⲡⲓϩⲁⲧ">
<orig orig="ⲙ̀">
<norm xml:id="u265" func="case" head="#u267" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u266" func="det" head="#u267" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϩⲁⲧ">
<norm xml:id="u267" func="obj" head="#u264" pos="N" lemma="ϩⲁⲧ" norm="ϩⲁⲧ">
ϩⲁⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲁⲩϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲛⲁⲩϩⲱⲗⲉⲙ">
<orig orig="ⲛⲁ">
<norm xml:id="u268" func="aux" head="#u270" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u269" func="nsubj" head="#u270" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u270" func="parataxis" head="#u264" pos="V" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲓⲛⲟⲩⲃ">
<norm_group norm_group="ⲙⲡⲓⲛⲟⲩⲃ">
<orig orig="ⲙ̀">
<norm xml:id="u271" func="case" head="#u273" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u272" func="det" head="#u273" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲛⲟⲩⲃ">
<norm xml:id="u273" func="obj" head="#u270" pos="N" lemma="ⲛⲟⲩⲃ" norm="ⲛⲟⲩⲃ">
ⲛⲟⲩⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u274" func="cc" head="#u276" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u275" func="aux" head="#u276" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛ">
<norm_group norm_group="ⲙⲙⲟⲛ">
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u276" func="conj" head="#u264" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩⲣⲏϫϥ">
<norm_group norm_group="ⲁⲩⲣⲏϫϥ">
<orig orig="ⲁ">
<norm xml:id="u277" func="aux" head="#u278" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩⲣⲏϫ">
<norm xml:id="u278" func="xcomp" head="#u276" pos="V" lemma="ⲩⲣⲏϫ" norm="ⲩⲣⲏϫ">
ⲩⲣⲏϫ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u279" func="nmod:poss" head="#u278" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲡⲉⲥⲥⲟⲗⲥⲉⲗ">
<norm_group norm_group="ⲛⲧⲉⲡⲉⲥⲥⲟⲗⲥⲉⲗ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u280" func="case" head="#u282" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲡⲉⲥ">
<norm xml:id="u281" func="nmod:poss" head="#u282" pos="PPOS" lemma="ⲡⲉⲥ" norm="ⲡⲉⲥ">
ⲡⲉⲥ
</norm>
</orig>
<orig orig="ⲥⲟⲗⲥⲉⲗ">
<norm xml:id="u282" func="obl" head="#u278" pos="N" lemma="ⲥⲟⲗⲥⲉⲗ" norm="ⲥⲟⲗⲥⲉⲗ">
ⲥⲟⲗⲥⲉⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁⲩϩ̀ⲣⲟϣ">
<norm_group norm_group="ⲁⲩϩⲣⲟϣ">
<orig orig="ⲁ">
<norm xml:id="u283" func="aux" head="#u285" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ⲩ">
<norm xml:id="u284" func="nsubj" head="#u285" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲩ">
ⲩ
</norm>
</orig>
<orig orig="ϩ̀ⲣⲟϣ">
<norm xml:id="u285" func="parataxis" head="#u278" pos="V" lemma="ϩⲣⲟϣ" norm="ϩⲣⲟϣ">
ϩ̀ⲣⲟϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉϩⲟⲧⲉ">
<norm_group norm_group="ⲉϩⲟⲧⲉ">
<orig orig="ⲉϩⲟⲧⲉ">
<norm xml:id="u286" func="case" head="#u288" pos="PREP" lemma="ⲉϩⲟⲧⲉ" norm="ⲉϩⲟⲧⲉ">
ⲉϩⲟⲧⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲥⲥ̀ⲕⲉⲩⲟⲥ">
<norm_group norm_group="ⲛⲉⲥⲥⲕⲉⲩⲟⲥ">
<orig orig="ⲛⲉⲥ">
<norm xml:id="u287" func="nmod:poss" head="#u288" pos="PPOS" lemma="ⲛⲉⲥ" norm="ⲛⲉⲥ">
ⲛⲉⲥ
</norm>
</orig>
<orig orig="ⲥ̀ⲕⲉⲩⲟⲥ">
<norm xml:id="u288" func="obl" head="#u285" pos="N" lemma="ⲥⲕⲉⲩⲟⲥ" norm="ⲥⲕⲉⲩⲟⲥ">
<lang lang="Greek">
ⲥ̀ⲕⲉⲩⲟⲥ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲧⲏⲣⲟⲩ">
<norm_group norm_group="ⲧⲏⲣⲟⲩ">
<orig orig="ⲧⲏⲣ">
<norm xml:id="u289" func="nmod:unmarked" head="#u288" pos="IMOD" lemma="ⲧⲏⲣ" norm="ⲧⲏⲣ">
ⲧⲏⲣ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u290" func="det" head="#u289" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲥⲱⲧⲡ">
<norm_group norm_group="ⲉⲧⲥⲱⲧⲡ">
<orig orig="ⲉⲧ">
<norm xml:id="u291" func="mark" head="#u292" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲥⲱⲧⲡ">
<norm xml:id="u292" func="acl:relcl" head="#u288" pos="V" lemma="ⲥⲱⲧⲡ" norm="ⲥⲱⲧⲡ">
ⲥⲱⲧⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u293" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="10">
<translation translation="There is thrusting forth, and shaking, and tumult, and heart-breaking, and loosing of knees, and pangs on all loins; and the faces of all are as the blackening of a pot.">
<orig_group orig_group="ⲟⲩⲛⲉϩⲧⲟⲧⲟⲩ">
<norm_group norm_group="ⲟⲩⲛⲉϩⲧⲟⲧⲟⲩ">
<orig orig="ⲟⲩⲛⲉϩⲧⲟⲧⲟⲩ">
<norm xml:id="u294" func="root" new_sent="true" pos="N" lemma="ⲟⲩⲛⲉϩⲧⲟⲧⲟⲩ" norm="ⲟⲩⲛⲉϩⲧⲟⲧⲟⲩ">
ⲟⲩⲛⲉϩⲧⲟⲧⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u295" func="advmod" head="#u294" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲭⲁⲧⲟⲧⲟⲩ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲭⲁⲧⲟⲧⲟⲩ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u296" func="cc" head="#u298" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u297" func="det" head="#u298" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭⲁⲧⲟⲧⲟⲩ">
<norm xml:id="u298" func="conj" head="#u295" pos="N" lemma="ⲭⲁⲧⲟⲧⲟⲩ" norm="ⲭⲁⲧⲟⲧⲟⲩ">
ⲭⲁⲧⲟⲧⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u299" func="advmod" head="#u298" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲁ̀ⲗⲁⲡⲗⲉⲡⲛ̀ϩⲏⲧ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲁⲗⲁⲡⲗⲉⲡⲛϩⲏⲧ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u300" func="cc" head="#u301" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩⲁ̀ⲗⲁⲡⲗⲉⲡⲛ̀ϩⲏⲧ">
<norm xml:id="u301" func="conj" head="#u298" pos="N" lemma="ⲟⲩⲁⲗⲁⲡⲗⲉⲡⲛϩⲏⲧ" norm="ⲟⲩⲁⲗⲁⲡⲗⲉⲡⲛϩⲏⲧ">
ⲟⲩⲁ̀ⲗⲁⲡⲗⲉⲡⲛ̀ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩϧⲟⲙϧⲉⲙⲛ̀ϩⲏⲧ">
<norm_group norm_group="ⲛⲉⲙⲟⲩϧⲟⲙϧⲉⲙⲛϩⲏⲧ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u302" func="cc" head="#u304" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u303" func="det" head="#u304" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϧⲟⲙϧⲉⲙⲛ̀ϩⲏⲧ">
<norm xml:id="u304" func="conj" head="#u311" pos="N" lemma="ϧⲟⲙϧⲉⲙⲛϩⲏⲧ" norm="ϧⲟⲙϧⲉⲙⲛϩⲏⲧ">
ϧⲟⲙϧⲉⲙⲛ̀ϩⲏⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲃⲱⲗ">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲃⲱⲗ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u305" func="cc" head="#u307" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u306" func="det" head="#u307" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<multiword multiword="ⲃⲱⲗ ⲉⲃⲟⲗ">
<orig orig="ⲃⲱⲗ">
<norm xml:id="u307" func="conj" head="#u294" pos="N" lemma="ⲃⲱⲗ" norm="ⲃⲱⲗ">
ⲃⲱⲗ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗ">
<norm_group norm_group="ⲉⲃⲟⲗ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u308" func="advmod" head="#u307" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
</norm_group>
</orig_group>
</multiword>
<orig_group orig_group="ⲛ̀ⲧⲉϩⲁⲛⲫⲁⲧ">
<norm_group norm_group="ⲛⲧⲉϩⲁⲛⲫⲁⲧ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u309" func="case" head="#u311" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u310" func="det" head="#u311" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲫⲁⲧ">
<norm xml:id="u311" func="nmod" head="#u307" pos="N" lemma="ⲫⲁⲧ" norm="ⲫⲁⲧ">
ⲫⲁⲧ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙϩⲁⲛⲛⲁⲕϩⲓ">
<norm_group norm_group="ⲛⲉⲙϩⲁⲛⲛⲁⲕϩⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u312" func="cc" head="#u314" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ϩⲁⲛ">
<norm xml:id="u313" func="det" head="#u314" pos="ART" lemma="ⲟⲩ" norm="ϩⲁⲛ">
ϩⲁⲛ
</norm>
</orig>
<orig orig="ⲛⲁⲕϩⲓ">
<norm xml:id="u314" func="conj" head="#u311" pos="N" lemma="ⲛⲁⲕϩⲓ" norm="ⲛⲁⲕϩⲓ">
ⲛⲁⲕϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϩⲓϫⲉⲛϯⲡⲓ">
<norm_group norm_group="ϩⲓϫⲉⲛϯⲡⲓ">
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u315" func="case" head="#u316" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
<orig orig="ϯⲡⲓ">
<norm xml:id="u316" func="nmod" head="#u307" pos="N" lemma="ϯⲡⲓ" norm="ϯⲡⲓ">
ϯⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u317" func="det" head="#u316" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u318" func="cc" head="#u320" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓϩⲟ">
<norm_group norm_group="ⲡⲓϩⲟ">
<orig orig="ⲡⲓ">
<norm xml:id="u319" func="det" head="#u320" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ϩⲟ">
<norm xml:id="u320" func="conj" head="#u294" pos="N" lemma="ϩⲟ" norm="ϩⲟ">
ϩⲟ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲟⲩⲟⲛ">
<norm_group norm_group="ⲛⲧⲉⲟⲩⲟⲛ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u321" func="case" head="#u322" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲟⲩⲟⲛ">
<norm xml:id="u322" func="nmod" head="#u320" pos="N" lemma="ⲟⲩⲟⲛ" norm="ⲟⲩⲟⲛ">
ⲟⲩⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲓⲃⲉⲛ">
<norm_group norm_group="ⲛⲓⲃⲉⲛ">
<orig orig="ⲛⲓⲃⲉⲛ">
<norm xml:id="u323" func="det" head="#u322" pos="PINT" lemma="ⲛⲓⲃⲉⲛ" norm="ⲛⲓⲃⲉⲛ">
ⲛⲓⲃⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲏϯ">
<norm_group norm_group="ⲙⲫⲣⲏϯ">
<orig orig="ⲙ̀">
<norm xml:id="u324" func="case" head="#u326" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u325" func="det" head="#u326" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲏϯ">
<norm xml:id="u326" func="nmod" head="#u322" pos="N" lemma="ⲣⲏϯ" norm="ⲣⲏϯ">
ⲣⲏϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲟⲩⲉⲗϩⲱⲃ">
<norm_group norm_group="ⲛⲟⲩⲉⲗϩⲱⲃ">
<orig orig="ⲛ̀">
<norm xml:id="u327" func="case" head="#u329" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u328" func="det" head="#u329" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲉⲗϩⲱⲃ">
<norm xml:id="u329" func="nmod" head="#u326" pos="N" lemma="ⲉⲗϩⲱⲃ" norm="ⲉⲗϩⲱⲃ">
ⲉⲗϩⲱⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲟⲩϣⲓⲱ">
<norm_group norm_group="ⲛⲧⲉⲟⲩϣⲓⲱ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u330" func="case" head="#u332" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u331" func="det" head="#u332" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ϣⲓⲱ">
<norm xml:id="u332" func="nmod" head="#u329" pos="N" lemma="ϣⲓⲱ" norm="ϣⲓⲱ">
ϣⲓⲱ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u333" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="11">
<translation translation="Where is the dwelling-place of the lions, and the pasture that belonged to the whelps? where did the lion go, that the lion's whelp should enter in there, and there was none to scare him away?">
<orig_group orig_group="ⲁϥⲑⲱⲛ">
<norm_group norm_group="ⲁϥⲑⲱⲛ">
<orig orig="ⲁ">
<norm xml:id="u334" func="aux" head="#u336" new_sent="true" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u335" func="nsubj" head="#u336" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲑⲱⲛ">
<norm xml:id="u336" func="root" pos="PINT" lemma="ⲑⲱⲛ" norm="ⲑⲱⲛ">
ⲑⲱⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫ̀ⲙⲁⲛϣⲱⲡⲓ">
<norm_group norm_group="ⲫⲙⲁⲛϣⲱⲡⲓ">
<orig orig="ⲫ̀">
<norm xml:id="u337" func="det" head="#u338" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲙⲁⲛϣⲱⲡⲓ">
<norm xml:id="u338" func="obj" head="#u336" pos="N" lemma="ⲙⲁⲛϣⲱⲡⲓ" norm="ⲙⲁⲛϣⲱⲡⲓ">
ⲙⲁⲛϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉⲛⲓⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲧⲉⲛⲓⲙⲟⲩⲓ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u339" func="case" head="#u341" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u340" func="det" head="#u341" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u341" func="nmod" head="#u338" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲛⲓⲙⲁⲛⲙⲟⲛⲓ">
<norm_group norm_group="ⲛⲉⲙⲛⲓⲙⲁⲛⲙⲟⲛⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u342" func="cc" head="#u344" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u343" func="det" head="#u344" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲛⲙⲟⲛⲓ">
<norm xml:id="u344" func="conj" head="#u338" pos="N" lemma="ⲙⲁⲛⲙⲟⲛⲓ" norm="ⲙⲁⲛⲙⲟⲛⲓ">
ⲙⲁⲛⲙⲟⲛⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧϣⲟⲡ">
<norm_group norm_group="ⲉⲧϣⲟⲡ">
<orig orig="ⲉⲧ">
<norm xml:id="u345" func="mark" head="#u346" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ϣⲟⲡ">
<norm xml:id="u346" func="acl:relcl" head="#u344" pos="VSTAT" lemma="ϣⲱⲡⲓ" norm="ϣⲟⲡ">
ϣⲟⲡ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲓⲙⲁⲥ">
<norm_group norm_group="ⲛⲛⲓⲙⲁⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u347" func="case" head="#u349" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲓ">
<norm xml:id="u348" func="det" head="#u349" pos="ART" lemma="ⲡⲓ" norm="ⲛⲓ">
ⲛⲓ
</norm>
</orig>
<orig orig="ⲙⲁⲥ">
<norm xml:id="u349" func="obl" head="#u346" pos="N" lemma="ⲙⲁⲥ" norm="ⲙⲁⲥ">
ⲙⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲙⲙⲟⲩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u350" func="case" head="#u351" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u351" func="nmod" head="#u349" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫ̀ⲙⲁ">
<norm_group norm_group="ⲫⲙⲁ">
<orig orig="ⲫ̀">
<norm xml:id="u352" func="det" head="#u353" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲙⲁ">
<norm xml:id="u353" func="appos" head="#u351" pos="N" lemma="ⲙⲁ" norm="ⲙⲁ">
ⲙⲁ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲧⲁϥϣⲉⲛⲁϥ">
<norm_group norm_group="ⲉⲧⲁϥϣⲉⲛⲁϥ">
<orig orig="ⲉⲧ">
<norm xml:id="u354" func="mark" head="#u357" pos="CREL" lemma="ⲉⲧⲉ" norm="ⲉⲧ">
ⲉⲧ
</norm>
</orig>
<orig orig="ⲁ">
<norm xml:id="u355" func="aux" head="#u357" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u356" func="nsubj" head="#u357" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲉⲛⲁ">
<norm xml:id="u357" func="acl:relcl" head="#u353" pos="V" lemma="ϣⲉⲛⲁ" norm="ϣⲉⲛⲁ">
ϣⲉⲛⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u358" func="obj" head="#u357" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲣⲟϥ">
<norm_group norm_group="ⲉⲣⲟϥ">
<orig orig="ⲉ̀ⲣⲟ">
<norm xml:id="u359" func="case" head="#u360" pos="PREP" lemma="ⲉ" norm="ⲉⲣⲟ">
ⲉ̀ⲣⲟ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u360" func="obl" head="#u357" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲡⲓⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲛϫⲉⲡⲓⲙⲟⲩⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u361" func="case" head="#u363" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲡⲓ">
<norm xml:id="u362" func="det" head="#u363" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u363" func="dislocated" head="#u357" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲑⲣⲉϥϣⲉ">
<norm_group norm_group="ⲉⲑⲣⲉϥϣⲉ">
<orig orig="ⲉ">
<norm xml:id="u364" func="mark" head="#u365" pos="PREP" lemma="ⲉ" norm="ⲉ">
ⲉ
</norm>
</orig>
<orig orig="ⲑⲣⲉ">
<norm xml:id="u365" func="xcomp" head="#u357" pos="ACAUS" lemma="ⲑⲣⲉ" norm="ⲑⲣⲉ">
ⲑⲣⲉ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u366" func="obj" head="#u365" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϣⲉ">
<norm xml:id="u367" func="xcomp" head="#u365" pos="V" lemma="ϣⲉ" norm="ϣⲉ">
ϣⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϧⲟⲩⲛ">
<norm_group norm_group="ⲉϧⲟⲩⲛ">
<orig orig="ⲉ̀ϧⲟⲩⲛ">
<norm xml:id="u368" func="advmod" head="#u367" pos="ADV" lemma="ⲉϧⲟⲩⲛ" norm="ⲉϧⲟⲩⲛ">
ⲉ̀ϧⲟⲩⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲙⲁⲩ">
<norm_group norm_group="ⲙⲙⲁⲩ">
<orig orig="ⲉ̀ⲙⲁⲩ">
<norm xml:id="u369" func="advmod" head="#u367" pos="ADV" lemma="ⲙⲙⲁⲩ" norm="ⲙⲙⲁⲩ">
ⲉ̀ⲙⲁⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲙⲁⲥ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲙⲁⲥ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u370" func="case" head="#u372" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u371" func="det" head="#u372" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲁⲥ">
<norm xml:id="u372" func="dislocated" head="#u367" pos="N" lemma="ⲙⲁⲥ" norm="ⲙⲁⲥ">
ⲙⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲙⲙⲟⲩⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u373" func="case" head="#u374" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u374" func="nmod" head="#u372" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u375" func="cc" head="#u377" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉ">
<norm_group norm_group="ⲛⲉ">
<orig orig="ⲛⲉ">
<norm xml:id="u376" func="aux" head="#u377" pos="CPRET" lemma="ⲛⲁⲣⲉ" norm="ⲛⲉ">
ⲛⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲟⲛ">
<norm_group norm_group="ⲙⲙⲟⲛ">
<orig orig="ⲙ̀ⲙⲟⲛ">
<norm xml:id="u377" func="conj" head="#u336" pos="EXIST" lemma="ⲙⲙⲟⲛ" norm="ⲙⲙⲟⲛ">
ⲙ̀ⲙⲟⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲫⲏⲉⲧϯϩⲟϯ">
<norm_group norm_group="ⲫⲏⲉⲧϯϩⲟϯ">
<orig orig="ⲫⲏⲉⲧ">
<norm xml:id="u378" func="nsubj" head="#u377" pos="N" lemma="ⲫⲏⲉⲧ" norm="ⲫⲏⲉⲧ">
ⲫⲏⲉⲧ
</norm>
</orig>
<orig orig="ϯ">
<norm xml:id="u379" func="det" head="#u380" pos="ART" lemma="ⲡⲓ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ϩⲟϯ">
<norm xml:id="u380" func="nsubj" head="#u377" pos="N" lemma="ϩⲟϯ" norm="ϩⲟϯ">
ϩⲟϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u381" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="12">
<translation translation="The lion seized enough prey for his whelps, and strangled for his young lions, and filled his lair with prey, and his dwelling-place with spoil.">
<orig_group orig_group="ⲟⲩⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲟⲩⲙⲟⲩⲓ">
<orig orig="ⲟⲩ">
<norm xml:id="u382" func="det" head="#u383" new_sent="true" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u383" func="dislocated" head="#u386" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲁϥϩⲱⲗⲉⲙ">
<orig orig="ⲁ">
<norm xml:id="u384" func="aux" head="#u386" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u385" func="nsubj" head="#u386" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u386" func="root" pos="V" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲫ̀ⲣⲱϣⲓ">
<norm_group norm_group="ⲙⲫⲣⲱϣⲓ">
<orig orig="ⲙ̀">
<norm xml:id="u387" func="case" head="#u389" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲫ̀">
<norm xml:id="u388" func="det" head="#u389" pos="ART" lemma="ⲡ" norm="ⲫ">
ⲫ̀
</norm>
</orig>
<orig orig="ⲣⲱϣⲓ">
<norm xml:id="u389" func="obj" head="#u386" pos="N" lemma="ⲣⲱϣⲓ" norm="ⲣⲱϣⲓ">
ⲣⲱϣⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲉϥⲙⲁⲥ">
<norm_group norm_group="ⲛⲛⲉϥⲙⲁⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u390" func="case" head="#u392" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ⲛⲉϥ">
<norm xml:id="u391" func="nmod:poss" head="#u392" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲙⲁⲥ">
<norm xml:id="u392" func="nmod" head="#u389" pos="N" lemma="ⲙⲁⲥ" norm="ⲙⲁⲥ">
ⲙⲁⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u393" func="cc" head="#u398" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉϥⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲉϥⲙⲟⲩⲓ">
<orig orig="ⲛⲉϥ">
<norm xml:id="u394" func="nmod:poss" head="#u395" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲛⲉϥ">
ⲛⲉϥ
</norm>
</orig>
<orig orig="ⲙⲟⲩⲓ̀">
<norm xml:id="u395" func="dislocated" head="#u398" pos="N" lemma="ⲙⲟⲩⲓ" norm="ⲙⲟⲩⲓ">
ⲙⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲱϫϩ">
<norm_group norm_group="ⲁϥⲱϫϩ">
<orig orig="ⲁ">
<norm xml:id="u396" func="aux" head="#u398" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u397" func="nsubj" head="#u398" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲱϫϩ">
<norm xml:id="u398" func="conj" head="#u386" pos="V" lemma="ⲱϫϩ" norm="ⲱϫϩ">
ⲱϫϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲙⲱⲟⲩ">
<norm_group norm_group="ⲙⲙⲱⲟⲩ">
<orig orig="ⲙ̀ⲙⲱ">
<norm xml:id="u399" func="case" head="#u400" pos="PREP" lemma="ⲛ" norm="ⲙⲙⲱ">
ⲙ̀ⲙⲱ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u400" func="obj" head="#u398" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u401" func="cc" head="#u404" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁϥⲙⲟϩ">
<norm_group norm_group="ⲁϥⲙⲟϩ">
<orig orig="ⲁ">
<norm xml:id="u402" func="aux" head="#u404" pos="APST" lemma="ⲁ" norm="ⲁ">
ⲁ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u403" func="nsubj" head="#u404" pos="PPERS" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
<orig orig="ⲙⲟϩ">
<norm xml:id="u404" func="conj" head="#u386" pos="V" lemma="ⲙⲟϩ" norm="ⲙⲟϩ">
ⲙⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲙ̀ⲡⲉϥⲃⲏⲃ">
<norm_group norm_group="ⲙⲡⲉϥⲃⲏⲃ">
<orig orig="ⲙ̀">
<norm xml:id="u405" func="case" head="#u407" pos="PREP" lemma="ⲛ" norm="ⲙ">
ⲙ̀
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u406" func="nmod:poss" head="#u407" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲃⲏⲃ">
<norm xml:id="u407" func="obj" head="#u404" pos="N" lemma="ⲃⲏⲃ" norm="ⲃⲏⲃ">
ⲃⲏⲃ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲟⲣϫⲥ">
<norm_group norm_group="ⲛϫⲟⲣϫⲥ">
<orig orig="ⲛ̀">
<norm xml:id="u408" func="case" head="#u409" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϫⲟⲣϫⲥ">
<norm xml:id="u409" func="nmod" head="#u407" pos="N" lemma="ϫⲟⲣϫⲥ" norm="ϫⲟⲣϫⲥ">
ϫⲟⲣϫⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲡⲉϥⲙⲁⲛϣⲱⲡⲓ">
<norm_group norm_group="ⲛⲉⲙⲡⲉϥⲙⲁⲛϣⲱⲡⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u410" func="cc" head="#u412" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲡⲉϥ">
<norm xml:id="u411" func="nmod:poss" head="#u412" pos="PPOS" lemma="ⲡⲉϥ" norm="ⲡⲉϥ">
ⲡⲉϥ
</norm>
</orig>
<orig orig="ⲙⲁⲛϣⲱⲡⲓ">
<norm xml:id="u412" func="conj" head="#u407" pos="N" lemma="ⲙⲁⲛϣⲱⲡⲓ" norm="ⲙⲁⲛϣⲱⲡⲓ">
ⲙⲁⲛϣⲱⲡⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϩⲱⲗⲉⲙ">
<norm_group norm_group="ⲛϩⲱⲗⲉⲙ">
<orig orig="ⲛ̀">
<norm xml:id="u413" func="case" head="#u414" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ̀
</norm>
</orig>
<orig orig="ϩⲱⲗⲉⲙ">
<norm xml:id="u414" func="nmod" head="#u412" pos="N" lemma="ϩⲱⲗⲉⲙ" norm="ϩⲱⲗⲉⲙ">
ϩⲱⲗⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u415" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
<verse_n verse_n="13">
<translation translation="Behold, I am against thee, saith the Lord Almighty, and I will burn up thy multitude in the smoke, and the sword shall devour thy lions; and I will utterly destroy thy prey from off the land, and thy deeds shall no more at all be heard of.">
<orig_group orig_group="ϩⲏⲡⲡⲉ">
<norm_group norm_group="ϩⲏⲡⲡⲉ">
<orig orig="ϩⲏⲡⲡⲉ">
<norm xml:id="u416" func="cc" head="#u420" new_sent="true" pos="PTC" lemma="ϩⲏⲡⲡⲉ" norm="ϩⲏⲡⲡⲉ">
ϩⲏⲡⲡⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲁ̀ⲛⲟⲕ">
<norm_group norm_group="ⲁⲛⲟⲕ">
<orig orig="ⲁ̀ⲛⲟⲕ">
<norm xml:id="u417" func="dislocated" head="#u420" pos="PPERI" lemma="ⲁⲛⲟⲕ" norm="ⲁⲛⲟⲕ">
ⲁ̀ⲛⲟⲕ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm_group norm_group="ⲉϩⲣⲏⲓ">
<orig orig="ⲉ̀ϩ̀ⲣⲏⲓ">
<norm xml:id="u418" func="advmod" head="#u420" pos="ADV" lemma="ⲉϩⲣⲏⲓ" norm="ⲉϩⲣⲏⲓ">
ⲉ̀ϩ̀ⲣⲏⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ϫⲱⲡⲉϫⲉ">
<norm_group norm_group="ⲉϫⲱⲡⲉϫⲉ">
<orig orig="ⲉ̀ϫⲱ">
<norm xml:id="u419" func="obl" head="#u420" pos="PREP" lemma="ⲉϫⲉⲛ" norm="ⲉϫⲱ">
ⲉ̀ϫⲱ
</norm>
</orig>
<orig orig="ⲡⲉϫⲉ">
<norm xml:id="u420" func="root" pos="VBD" lemma="ⲡⲉϫⲉ" norm="ⲡⲉϫⲉ">
ⲡⲉϫⲉ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡϭ̅ⲥ̅">
<norm_group norm_group="ⲡϭⲟⲉⲓⲥ">
<orig orig="ⲡ">
<norm xml:id="u421" func="det" head="#u422" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ
</norm>
</orig>
<orig orig="ϭ̅ⲥ̅">
<norm xml:id="u422" func="nsubj" head="#u420" pos="N" lemma="ϭⲟⲉⲓⲥ" norm="ϭⲟⲉⲓⲥ">
ϭ̅ⲥ̅
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm_group norm_group="ⲡⲓⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<orig orig="ⲡⲓ">
<norm xml:id="u423" func="det" head="#u424" pos="ART" lemma="ⲡⲓ" norm="ⲡⲓ">
ⲡⲓ
</norm>
</orig>
<orig orig="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<norm xml:id="u424" func="appos" head="#u422" pos="N" lemma="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ" norm="ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ">
<lang lang="Greek">
ⲡⲁⲛⲧⲟⲕⲣⲁⲧⲱⲣ
</lang>
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u425" func="cc" head="#u430" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡⲉⲙⲏϣ">
<norm_group norm_group="ⲡⲉⲙⲏϣ">
<orig orig="ⲡⲉ">
<norm xml:id="u426" func="det" head="#u427" pos="ART" lemma="ⲡ" norm="ⲡⲉ">
ⲡⲉ
</norm>
</orig>
<orig orig="ⲙⲏϣ">
<norm xml:id="u427" func="dislocated" head="#u430" pos="N" lemma="ⲙⲏϣ" norm="ⲙⲏϣ">
ⲙⲏϣ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁⲣⲟⲕϩϥ">
<norm_group norm_group="ϯⲛⲁⲣⲟⲕϩϥ">
<orig orig="ϯ">
<norm xml:id="u428" func="nsubj" head="#u430" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u429" func="aux" head="#u430" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ⲣⲟⲕϩ">
<norm xml:id="u430" func="conj" head="#u420" pos="V" lemma="ⲣⲱⲕϩ" norm="ⲣⲟⲕϩ">
ⲣⲟⲕϩ
</norm>
</orig>
<orig orig="ϥ">
<norm xml:id="u431" func="obj" head="#u430" pos="PPERO" lemma="ⲛⲑⲟϥ" norm="ϥ">
ϥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϧⲉⲛⲟⲩⲭ̀ⲣⲱⲙ">
<norm_group norm_group="ϧⲉⲛⲟⲩⲭⲣⲱⲙ">
<orig orig="ϧⲉⲛ">
<norm xml:id="u432" func="case" head="#u434" pos="PREP" lemma="ϧⲉⲛ" norm="ϧⲉⲛ">
ϧⲉⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u433" func="det" head="#u434" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲭ̀ⲣⲱⲙ">
<norm xml:id="u434" func="obl" head="#u430" pos="N" lemma="ⲭⲣⲱⲙ" norm="ⲭⲣⲱⲙ">
ⲭ̀ⲣⲱⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u435" func="cc" head="#u439" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛⲉⲙⲟⲩⲓ̀">
<norm_group norm_group="ⲛⲉⲙⲟⲩⲓ">
<orig orig="ⲛⲉⲙ">
<norm xml:id="u436" func="cc" head="#u437" pos="PREP" lemma="ⲛⲉⲙ" norm="ⲛⲉⲙ">
ⲛⲉⲙ
</norm>
</orig>
<orig orig="ⲟⲩⲓ̀">
<norm xml:id="u437" func="dislocated" head="#u439" pos="NUM" lemma="ⲟⲩⲁⲓ" norm="ⲟⲩⲓ">
ⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉⲥⲉ̀ⲟⲩⲟⲙⲟⲩ">
<norm_group norm_group="ⲉⲥⲉⲟⲩⲟⲙⲟⲩ">
<orig orig="ⲉⲥⲉ̀">
<norm xml:id="u438" func="nsubj" head="#u439" pos="AOPT_PPERS" lemma="ⲉⲣⲉ_ⲛⲑⲟⲥ" norm="ⲉⲥⲉ">
ⲉⲥⲉ̀
</norm>
</orig>
<orig orig="ⲟⲩⲟⲙ">
<norm xml:id="u439" func="conj" head="#u430" pos="V" lemma="ⲟⲩⲱⲙ" norm="ⲟⲩⲟⲙ">
ⲟⲩⲟⲙ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u440" func="obj" head="#u439" pos="PPERO" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ϫⲉⲟⲩⲥⲏϥⲓ">
<norm_group norm_group="ⲛϫⲉⲟⲩⲥⲏϥⲓ">
<orig orig="ⲛ̀ϫⲉ">
<norm xml:id="u441" func="case" head="#u443" pos="PTC" lemma="ⲛϫⲉ" norm="ⲛϫⲉ">
ⲛ̀ϫⲉ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u442" func="det" head="#u443" pos="ART" lemma="ⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲏϥⲓ">
<norm xml:id="u443" func="dislocated" head="#u439" pos="N" lemma="ⲥⲏϥⲓ" norm="ⲥⲏϥⲓ">
ⲥⲏϥⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u444" func="cc" head="#u447" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϯⲛⲁϥⲱϯ">
<norm_group norm_group="ϯⲛⲁϥⲱϯ">
<orig orig="ϯ">
<norm xml:id="u445" func="nsubj" head="#u447" pos="PPERS" lemma="ⲁⲛⲟⲕ" norm="ϯ">
ϯ
</norm>
</orig>
<orig orig="ⲛⲁ">
<norm xml:id="u446" func="aux" head="#u447" pos="FUT" lemma="ⲛⲁ" norm="ⲛⲁ">
ⲛⲁ
</norm>
</orig>
<orig orig="ϥⲱϯ">
<norm xml:id="u447" func="conj" head="#u439" pos="V" lemma="ϥⲱϯ" norm="ϥⲱϯ">
ϥⲱϯ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲧⲉϫⲟⲣϫⲥ">
<norm_group norm_group="ⲛⲧⲉϫⲟⲣϫⲥ">
<orig orig="ⲛ̀ⲧⲉ">
<norm xml:id="u448" func="case" head="#u449" pos="PREP" lemma="ⲛⲧⲉ" norm="ⲛⲧⲉ">
ⲛ̀ⲧⲉ
</norm>
</orig>
<orig orig="ϫⲟⲣϫⲥ">
<norm xml:id="u449" func="obl" head="#u447" pos="N" lemma="ϫⲟⲣϫⲥ" norm="ϫⲟⲣϫⲥ">
ϫⲟⲣϫⲥ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲉ̀ⲃⲟⲗϩⲓϫⲉⲛ">
<norm_group norm_group="ⲉⲃⲟⲗϩⲓϫⲉⲛ">
<orig orig="ⲉ̀ⲃⲟⲗ">
<norm xml:id="u450" func="case" head="#u453" pos="ADV" lemma="ⲉⲃⲟⲗ" norm="ⲉⲃⲟⲗ">
ⲉ̀ⲃⲟⲗ
</norm>
</orig>
<orig orig="ϩⲓϫⲉⲛ">
<norm xml:id="u451" func="fixed" head="#u450" pos="PREP" lemma="ϩⲓϫⲉⲛ" norm="ϩⲓϫⲉⲛ">
ϩⲓϫⲉⲛ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲡ̀ⲕⲁϩⲓ">
<norm_group norm_group="ⲡⲕⲁϩⲓ">
<orig orig="ⲡ̀">
<norm xml:id="u452" func="det" head="#u453" pos="ART" lemma="ⲡ" norm="ⲡ">
ⲡ̀
</norm>
</orig>
<orig orig="ⲕⲁϩⲓ">
<norm xml:id="u453" func="obl" head="#u447" pos="N" lemma="ⲕⲁϩⲓ" norm="ⲕⲁϩⲓ">
ⲕⲁϩⲓ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲟⲩⲟϩ">
<norm_group norm_group="ⲟⲩⲟϩ">
<orig orig="ⲟⲩⲟϩ">
<norm xml:id="u454" func="cc" head="#u457" pos="CONJ" lemma="ⲟⲩⲟϩ" norm="ⲟⲩⲟϩ">
ⲟⲩⲟϩ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ⲛ̀ⲛⲟⲩⲥⲱⲣⲉⲙ">
<norm_group norm_group="ⲛⲛⲟⲩⲥⲱⲣⲉⲙ">
<orig orig="ⲛ̀ⲛ">
<norm xml:id="u455" func="aux" head="#u457" pos="ANEGOPT" lemma="ⲛⲛⲉ" norm="ⲛⲛ">
ⲛ̀ⲛ
</norm>
</orig>
<orig orig="ⲟⲩ">
<norm xml:id="u456" func="nsubj" head="#u457" pos="PPERS" lemma="ⲛⲑⲱⲟⲩ" norm="ⲟⲩ">
ⲟⲩ
</norm>
</orig>
<orig orig="ⲥⲱⲣⲉⲙ">
<norm xml:id="u457" func="conj" head="#u447" pos="V" lemma="ⲥⲱⲣⲉⲙ" norm="ⲥⲱⲣⲉⲙ">
ⲥⲱⲣⲉⲙ
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group="ϫⲉⲉ̀ⲛⲉϩ̀ⲃⲏⲟⲩⲓ̀">
<norm_group norm_group="ϫⲉⲉⲛⲉϩⲃⲏⲟⲩⲓ">
<orig orig="ϫⲉ">
<norm xml:id="u458" func="mark" head="#u461" pos="CONJ" lemma="ϫⲉ" norm="ϫⲉ">
ϫⲉ
</norm>
</orig>
<orig orig="ⲉ̀">
<norm xml:id="u459" func="mark" head="#u461" pos="NUM" lemma="ⲉ" norm="ⲉ">
ⲉ̀
</norm>
</orig>
<orig orig="ⲛ">
<norm xml:id="u460" func="det" head="#u461" pos="PREP" lemma="ⲛ" norm="ⲛ">
ⲛ
</norm>
</orig>
<orig orig="ⲉϩ̀ⲃⲏⲟⲩⲓ̀">
<norm xml:id="u461" func="ccomp" head="#u457" pos="N" lemma="ϩⲱⲃ" norm="ⲉϩⲃⲏⲟⲩⲓ">
ⲉϩ̀ⲃⲏⲟⲩⲓ̀
</norm>
</orig>
</norm_group>
</orig_group>
<orig_group orig_group=".">
<norm_group norm_group=".">
<orig orig=".">
<norm xml:id="u462" func="punct" pos="PUNCT" lemma="." norm=".">
.
</norm>
</orig>
</norm_group>
</orig_group>
</translation>
</verse_n>
</meta>
