chapter_n	div:chapter; style="chapter"	value
translation div:trans; style="translation"	value
verse_n	div:verse; style="verse"	value
identity	div; style="named"	
entity	div:entity_type; style="entity"	value
identity	div; style="identity"	"<a href='https://en.wikipedia.org/wiki/%%value%%' title='%%value%%' class='wikify' target='__new'></a>"
norm_group	i; style="copt_word"
norm	ruby; style="norm"
lemma	NULL	"<a href='https://coptic-dictionary.org/results.cgi?quick_search=%%value%%' target='_new'>"
norm	NULL	"%%value%%"
pos	NULL	"</a>"
pos	rt:pos; style="pos"	value
pb_xml_id	q:page; style="page"	value
